---
title: 67
sidebar: home_sidebar
hide_sidebar: true
keywords: 67
permalink: members/67
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/8r25p5qu22c4isajr7k2drcvihck00pyhgsuc8e20gx8wxgfws5z77jgdmq4b5rgcb2da651735-lp-1.jpg" alt="67" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>67</b></li>
        
<li> Age: <b>2011</b></li>
        
<li> Gender: <b></b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>9</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>120</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>100%</b> out of <b>1 Vote</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/erin0106"><img src="../images/pfps/4f4skdyme4bamghgfno6ut8tut4ynkaiq2005qbbic8vjeznrehdvhueyq0dy2mgub5pp5qPhoto 4.jpg" class="profile-picture"/></a> <a href="members/erin0106">erin0106</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/50cent"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/50cent">50cent</a></li>
                    
    <li><a href="members/DXZ"><img src="../images/pfps/yfrpkqf2epcbrrsjhrod202hueqnyk2prh2zx5t3mt20bk8gznjscd0wffb3q0i588wu4gmDXZ.jpg" class="profile-picture"/></a> <a href="members/DXZ">DXZ</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/samantharocks101"><img src="../images/pfps/8hhcuxaac4sgdzi2e0qww3c47gankaijfomxanwchfhi3oa7fqt2hvufzsqbswmwcvkc65dsamantha photo.jpg" class="profile-picture"/></a> <a href="members/samantharocks101">samantharocks101</a></li>
                    
    <li><a href="members/austinrocks101"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/austinrocks101">austinrocks101</a></li>
                    
    <li><a href="members/Jesusfreak17"><img src="../images/pfps/zek7okgy6m0zag3rv4otmwc5ay3tv36m7fimopak2ycz33fpvr87cc0dyuuknpuiu3v8hthkffg.jpg" class="profile-picture"/></a> <a href="members/Jesusfreak17">Jesusfreak17</a></li>
                    
    <li><a href="members/peytonrocks101"><img src="../images/pfps/r3abbtfd0u72cnfzioroonbwden2h0xwswxre0v3jtvj4yabepqqzrb3tpu0egmw37e8xx2Chicago_Bulls.gif" class="profile-picture"/></a> <a href="members/peytonrocks101">peytonrocks101</a></li>
                    
    <li><a href="members/hunter89"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/hunter89">hunter89</a></li>
                    
    <li><a href="members/jesusfreak17"><img src="../images/pfps/zek7okgy6m0zag3rv4otmwc5ay3tv36m7fimopak2ycz33fpvr87cc0dyuuknpuiu3v8hthkffg.jpg" class="profile-picture"/></a> <a href="members/jesusfreak17">jesusfreak17</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/mariokart96" file="pfps/placeholder.gif" alt="mariokart96" %}

<p><b>Username:</b> <a href="members/mariokart96">mariokart96</a></p>

<p><b>Date:</b> 2010-03-01 07:55:00</p>

<p class="comment"><b>Comment:</b> <p>6<span style="font-size: larger;">7 <span style="font-size: xx-small;">p<span style="font-size: x-small;">l<span style="font-size: small;">e<span style="font-size: medium;">a<span style="font-size: large;">se b my friend</span></span></span></span></span></span></p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>