---
title: 72TV
sidebar: home_sidebar
hide_sidebar: true
keywords: 72TV
permalink: members/72TV
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/5JSYTUEfZP2XzNUXT5625tVKkaHWIIZD.png" alt="72TV" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>5</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>3</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Blockland tutorial: Belldoor</li>
<img src="{{"../images/thumb/1_60923.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Tylers-Ending-Day</li>
                
Who Dances Lemur and Noobs?
                
                <br>
Added: 11-05-2010
                
</ul>
                
<ul>
<li>72TV-Presents-The-Mummy</li>
                
Starting:JJ72X72 And Hamster17<br />
A New Studio place.<br />
In Aken Aten.<br />
The 1 Robloxian Goes a Mummy.<br />
The Words of Chineese and Japan?<br />
What Land of letter is?
                
                <br>
Added: 12-05-2010
                
</ul>
                
<ul>
<li>Me-In-Minigames-Part-12</li>
                
The Beging part<br /><br /><br />
Here: http://www.roblox.com/Minis-12-Store-3-Sounds-8-item?id=7857811ur
                
                <br>
Added: 08-07-2010
                
</ul>
                
<ul>
<li>Trackmania-Top-37-Minutes-and-03-Seconds</li>
                
Server is NASCAR RACING LEAGUE Enjoy!!!
                
                <br>
Added: 10-07-2010
                
</ul>
                
<ul>
<li>Blockland-tutorial-Belldoor</li>
                
Season 0. Turn the Vomule on MP3 Link here http://www.mediafire.com/?onkynmmwmzm
                
                <br>
Added: 07-08-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Bee331"><img src="../images/pfps/12o3A4CvanQNWGeenQw0S6cElJxtdJ6U.png" class="profile-picture"/></a> <a href="members/Bee331">Bee331</a></li>
                    
    <li><a href="members/cuteyamyrose"><img src="../images/pfps/5uWHPJxA8VQNbAsjZ0xENkr2IEFb8KZ1.jpg" class="profile-picture"/></a> <a href="members/cuteyamyrose">cuteyamyrose</a></li>
                    
    <li><a href="members/silver power"><img src="../images/pfps/Jyqwo1vXFdr8S6R7dA4Dhv3Gg3aiLOGS.gif" class="profile-picture"/></a> <a href="members/silver power">silver power</a></li>
                    
    <li><a href="members/cheeryjokeyroblox"><img src="../images/pfps/1vX33dmDKBe6tMJcL8ZdOpip8apkuW7j.gif" class="profile-picture"/></a> <a href="members/cheeryjokeyroblox">cheeryjokeyroblox</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>