---
title: achmed34
sidebar: home_sidebar
hide_sidebar: true
keywords: achmed34
permalink: members/achmed34
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/SAjVyhMDRnIqjO7uYMztT5LewvPVbCvs.gif" alt="achmed34" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>1</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>8</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>beat it intro</li>
<img src="{{"../images/thumb/1_51181.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>beat-it-intro</li>
                
beat it
                
                <br>
Added: 18-02-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/chad9005"><img src="../images/pfps/crhyszmb28pozrgs5hevpkq7bu4j3rr36xtnm3me3zqthwdd4fwhqbfstb2mqifk6wvir7kCHAD9005.png" class="profile-picture"/></a> <a href="members/chad9005">chad9005</a></li>
                    
    <li><a href="members/DXZ"><img src="../images/pfps/yfrpkqf2epcbrrsjhrod202hueqnyk2prh2zx5t3mt20bk8gznjscd0wffb3q0i588wu4gmDXZ.jpg" class="profile-picture"/></a> <a href="members/DXZ">DXZ</a></li>
                    
    <li><a href="members/Pokedude79"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Pokedude79">Pokedude79</a></li>
                    
    <li><a href="members/inuyasha"><img src="../images/pfps/l87cBFvgiPTTWtWEb0UxlJ8ZUgR3QBu2.jpg" class="profile-picture"/></a> <a href="members/inuyasha">inuyasha</a></li>
                    
    <li><a href="members/awsomerockman"><img src="../images/pfps/IyyXa8Ln327xqsu2L88pjgwZgApxi9Qo.jpg" class="profile-picture"/></a> <a href="members/awsomerockman">awsomerockman</a></li>
                    
    <li><a href="members/animekid"><img src="../images/pfps/phwraourt5trro4vrodm3za3scoodwfs2z80ftiyn2e4e8otkq5eg47y4jb75hqx7ppb6vx23l0d3p.jpg" class="profile-picture"/></a> <a href="members/animekid">animekid</a></li>
                    
    <li><a href="members/Superfrezh5602"><img src="../images/pfps/rcw4z0286hsrmp4nderjqtzsw0z8e8dtc0o2qfynkg3uvx8zzo7g7yzsoqptotdqiqgyv6dSUPERFREZH.gif" class="profile-picture"/></a> <a href="members/Superfrezh5602">Superfrezh5602</a></li>
                    
    <li><a href="members/dramaqueen1234"><img src="../images/pfps/pb2srxjmroti7dax0fi4fap2og24xmxdnrt2d3cthw2exz2n48ia6v3iztep52qghb8j2a3Rosalina.jpg" class="profile-picture"/></a> <a href="members/dramaqueen1234">dramaqueen1234</a></li>
                    
    <li><a href="members/Darkrai"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/Darkrai">Darkrai</a></li>
                    
    <li><a href="members/Muffin1258"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Muffin1258">Muffin1258</a></li>
                    
    <li><a href="members/02kmc"><img src="../images/pfps/7n5mCqxDrStnfFTBHgCF27r9RADKh2Hc.jpg" class="profile-picture"/></a> <a href="members/02kmc">02kmc</a></li>
                    
    <li><a href="members/terter66"><img src="../images/pfps/x5iaqe23q7vqt66dufiqxp4vfbdacymxuuxaxo3cjns3in40tcifpd2ud3sdr52cooaa04cUntitled3.jpg" class="profile-picture"/></a> <a href="members/terter66">terter66</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>