---
title: aegolius
sidebar: home_sidebar
hide_sidebar: true
keywords: aegolius
permalink: members/aegolius
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/QIqE6gsYNs1nVvC40oKYbKGqcIS1WMhk.gif" alt="aegolius" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>16</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Bad Game Reviews 7</li>
<img src="{{"../images/thumb/1_53318.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>yugioh-japanese-opening-5</li>
                
this was recorded by me<br />
I DO NOT OWN THE ORGINAL YUGIOH NOR DO I OWN GX OR 5DS
                
                <br>
Added: 11-10-2009
                
</ul>
                
<ul>
<li>tatsunoko-vs-capcom-opening</li>
                
best opening ever
                
                <br>
Added: 11-10-2009
                
</ul>
                
<ul>
<li>super-mario-galaxy-2-E3-trailer</li>
                
i want it
                
                <br>
Added: 11-10-2009
                
</ul>
                
<ul>
<li>Scream-tastic</li>
                
A roller coaster i made
                
                <br>
Added: 11-10-2009
                
</ul>
                
<ul>
<li>charlie-the-unicorncandy-montain</li>
                
candy montain!!!! charlie!
                
                <br>
Added: 12-10-2009
                
</ul>
                
<ul>
<li>lets-play-megaman-and-bass-episode-1</li>
                
im playing the hardist megaman game since megaman 2
                
                <br>
Added: 12-10-2009
                
</ul>
                
<ul>
<li>10 years of cartoon network promo</li>
                
an old CN bumper
                
                <br>
Added: 13-10-2009
                
</ul>
                
<ul>
<li>mugen-fightmorrigan-and-ryu-vs-vega-and-forte</li>
                
awesome match
                
                <br>
Added: 14-10-2009
                
</ul>
                
<ul>
<li>Stupid-DW-Moments</li>
                
srry its short  <br />
<br />
NOTE:D.W is from the show arthur<br />
and i do not own D.W or Arthur
                
                <br>
Added: 16-10-2009
                
</ul>
                
<ul>
<li>now-or-never</li>
                
i wanted to upload this to celebrate the release of the astro boy film!
                
                <br>
Added: 28-10-2009
                
</ul>
                
<ul>
<li>Samuari-Express</li>
                
My second Roller coaster on kids tube!
                
                <br>
Added: 07-11-2009
                
</ul>
                
<ul>
<li>Bad-Game-Reviews</li>
                
This Review is E.T For the Atari 2600<br />
<br />
Note:you may have pause at some points to read the text<br />
Other Note:I do not Hate E.T but i do hate the game
                
                <br>
Added: 01-12-2009
                
</ul>
                
<ul>
<li>Bad-game-reviews-4Top-Gun</li>
                
Sorry its short Top Gun is awful
                
                <br>
Added: 07-03-2010
                
</ul>
                
<ul>
<li>Bad-Game-Reviews-Episode-5Tom-and-Jerry</li>
                
Two Episodes in One Day ^_^
                
                <br>
Added: 07-03-2010
                
</ul>
                
<ul>
<li>Bad-Game-Reviews-Barneys-Hide-and-Seek</li>
                
Hints for Grown Ups:NEVER LET YOUR CHILD PLAY THIS GAME
                
                <br>
Added: 30-03-2010
                
</ul>
                
<ul>
<li>Bad-Game-Reviews-7</li>
                
Ok here it is Barney's Hide and Seek
                
                <br>
Added: 31-03-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/abelard5"><img src="../images/pfps/OUDA5ROLHfDLgAYSkAv7Fc2DDt8zPpwc.jpg" class="profile-picture"/></a> <a href="members/abelard5">abelard5</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/jomei"><img src="../images/pfps/EypCJgoR1rNQ6fPrtH2fUePhXj8lceme.png" class="profile-picture"/></a> <a href="members/jomei">jomei</a></li>
                    
    <li><a href="members/breetown"><img src="../images/pfps/4qks324y82yq8aq4oh6wpbtf2cxubzc5eko7dgwa8nr5k5zwcujrw2xn4j75a7yeibcjfzi0a4db0cfedb0.jpg" class="profile-picture"/></a> <a href="members/breetown">breetown</a></li>
                    
    <li><a href="members/metalsonictheonyx"><img src="../images/pfps/L8inKWYRyRc2Bpm4JXgzSeHU8ibRmG7w.png" class="profile-picture"/></a> <a href="members/metalsonictheonyx">metalsonictheonyx</a></li>
                    
    <li><a href="members/Dylan1514"><img src="../images/pfps/S4k5UAy07uka5CgJZpvoGcTbsYyGq7E6.png" class="profile-picture"/></a> <a href="members/Dylan1514">Dylan1514</a></li>
                    
    <li><a href="members/ianjolie"><img src="../images/pfps/qmxad5nrjr6u8xkbngsoatiwedpx2pigz4g30tib8dt7026f6or650s847uuk40by52qqcpAnjolie3.jpg" class="profile-picture"/></a> <a href="members/ianjolie">ianjolie</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>