---
title: ahmayawebshow
sidebar: home_sidebar
hide_sidebar: true
keywords: ahmayawebshow
permalink: members/ahmayawebshow
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="ahmayawebshow" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>5</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Ahmaya and Ted E. Web Show- Monroe being Monroe</li>
<img src="{{"../images/thumb/1_54076.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Ahmaya-and-Ted-E-Web-Show--Duck-Tale</li>
                
Duck gets a strange visitor...
                
                <br>
Added: 14-04-2010
                
</ul>
                
<ul>
<li>Ahmaya-and-Ted-E-Web-Show--Monroe-does-Fitness</li>
                
Monroe makes an attempt at getting in shape.
                
                <br>
Added: 14-04-2010
                
</ul>
                
<ul>
<li>Duck-Tale-II--Curse-of-the-Angry-Man</li>
                
Duck just can't seem to finish her story.
                
                <br>
Added: 14-04-2010
                
</ul>
                
<ul>
<li>Ahmaya-and-Ted-E-Web-Show-Monroe-Unplugged</li>
                
Can you guess what song Monroe is singing?
                
                <br>
Added: 14-04-2010
                
</ul>
                
<ul>
<li>Ahmaya-and-Ted-E-Web-Show-Monroe-being-Monroe</li>
                
Monroe takes the stage facing a tough crowd.
                
                <br>
Added: 14-04-2010
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>