---
title: algebraic
sidebar: home_sidebar
hide_sidebar: true
keywords: algebraic
permalink: members/algebraic
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/eg923KDOxg6T5SWBgSIWFbmr8fYz3UCV.gif" alt="algebraic" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Miguel</b></li>
        
<li> Age: <b>17</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>3</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>126</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>100%</b> out of <b>2</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Tom Cat Speaking Spanish</li>
<img src="{{"../images/thumb/eCymS0rDdQaSrGnAa5pg.jpg"}}" alt="thumbnail"/>

</ul>
            
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/pandaboy"><img src="../images/pfps/sVRJnCwUQP7EBaJ0gYufEYssKaPrCDfu.png" class="profile-picture"/></a> <a href="members/pandaboy">pandaboy</a></li>
                    
    <li><a href="members/winterfall"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/winterfall">winterfall</a></li>
                    
    <li><a href="members/nolanrules"><img src="../images/pfps/7fL7jMfHA4uZphC88H1nJ6cbHQIGjxhe.jpg" class="profile-picture"/></a> <a href="members/nolanrules">nolanrules</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/pandaboy" file="pfps/2xjpRjtb2n8bbkHqZCaypmlRs5BIKMkC.jpg" alt="pandaboy" %}

<p><b>Username:</b> <a href="members/pandaboy>pandaboy</a></p>

<p><b>Date:</b> 2011-01-21 13:20:52</p>

<p class="comment"><b>Comment:</b> <p>Hey bro!</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>