---
title: allioop
sidebar: home_sidebar
hide_sidebar: true
keywords: allioop
permalink: members/allioop
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/tt3dbq5srnwppbrq8cb2bs4kmcmuafntwfwxtrhb24oi43y06xr5hketnpcnuq5itq6d5ed163359.jpg" alt="allioop" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>6</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>britts allioop contest entry</li>
<img src="{{"../images/thumb/1_10260.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Allioop's first video EVER!!!!!!</li>
                
Allioop's introduction
                
                <br>
Added: 26-04-2009
                
</ul>
                
<ul>
<li>Allioop showing you wut the contest is like!</li>
                
i dont know.    just watch it!!!!
                
                <br>
Added: 27-04-2009
                
</ul>
                
<ul>
<li>fashion-tips</li>
                
fashionista!!!
                
                <br>
Added: 27-04-2009
                
</ul>
                
<ul>
<li>Britt BMW's first video EVER!!!</li>
                
first video. i don't know the driscription just watch it!
                
                <br>
Added: 07-05-2009
                
</ul>
                
<ul>
<li>britt-bmws-secret</li>
                
me and allioop are stepsisters!!! i live with my dad.
                
                <br>
Added: 08-05-2009
                
</ul>
                
<ul>
<li>britts allioop contest entry</li>
                
cool
                
                <br>
Added: 08-05-2009
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>