---
title: amaya1234
sidebar: home_sidebar
hide_sidebar: true
keywords: amaya1234
permalink: members/amaya1234
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/placeholder.gif" alt="amaya1234" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>amaya</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>7</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>81</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>4</b></li>
        
<li> Rating: <b>80%</b> out of <b>2</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/MikuoFTo"><img src="../images/pfps/03pGQ6ip0KLTWwhdNS8lOZ1PazwRgkMW.gif" class="profile-picture"/></a> <a href="members/MikuoFTo">MikuoFTo</a></li>
                    
    <li><a href="members/maya98"><img src="../images/pfps/1znKygakTBzOqg94jJqRggO0l5Ejx32o.png" class="profile-picture"/></a> <a href="members/maya98">maya98</a></li>
                    
    <li><a href="members/tiffadventures"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/tiffadventures">tiffadventures</a></li>
                    
    <li><a href="members/kittykitty"><img src="../images/pfps/elgeNkl1Ot5NaHYNLGjS6OYMixtcXKoz.gif" class="profile-picture"/></a> <a href="members/kittykitty">kittykitty</a></li>
                    
    <li><a href="members/warriorchikorita"><img src="../images/pfps/28gM6PfjwuMWmwdLAPjA7byq3YJCTtIJ.jpg" class="profile-picture"/></a> <a href="members/warriorchikorita">warriorchikorita</a></li>
                    
    <li><a href="members/taylorswift323"><img src="../images/pfps/VPn8Hce5hvrekDIaHNBFftwGA7JhHmKc.gif" class="profile-picture"/></a> <a href="members/taylorswift323">taylorswift323</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/kirby rules" file="pfps/j69dk4uf20I7Kx05xHl5hbsy9aSQWTz3.gif" alt="kirby rules" %}

<p><b>Username:</b> <a href="members/kirby rules>kirby rules</a></p>

<p><b>Date:</b> 2011-02-03 18:04:03</p>

<p class="comment"><b>Comment:</b> <p> I invited you to my friends list</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>