---
title: Atlantis
sidebar: home_sidebar
hide_sidebar: true
keywords: Atlantis
permalink: members/Atlantis
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/PI3KQxKlLZJ2F84IO983LYqnFSkQ0sbG.jpg" alt="Atlantis" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>7</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>3</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>rap battles</li>
<img src="{{"../images/thumb/1_125297.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>shadow-24400</li>
                
cool huh
                
                <br>
Added: 06-05-2010
                
</ul>
                
<ul>
<li>animusic-pipe-dream</li>
                
really bally
Made by animusic.com
                
                <br>
Added: 07-05-2010
                
</ul>
                
<ul>
<li>gyrodrums</li>
                
Lol absol this is for u
                
                <br>
Added: 07-05-2010
                
</ul>
                
<ul>
<li>animusic-gyro-drums</li>
                
bam
                
                <br>
Added: 14-08-2010
                
</ul>
                
<ul>
<li>animusic-future-retro</li>
                
laser power
                
                <br>
Added: 14-08-2010
                
</ul>
                
<ul>
<li>rap-battles</li>
                
From epic rap battles of history
                
                <br>
Added: 07-06-2012
                
</ul>
                
<ul>
<li>Copyright</li>
                
This tells you about copyright
                
                <br>
Added: 08-03-2012
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/MadonnaPenguin"><img src="../images/pfps/kT2PVX1fFQX72Qg0F6ZxN5yNTnlESlZ1.gif" class="profile-picture"/></a> <a href="members/MadonnaPenguin">MadonnaPenguin</a></li>
                    
    <li><a href="members/jordanrausch"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/jordanrausch">jordanrausch</a></li>
                    
    <li><a href="members/Darkblazer"><img src="../images/pfps/5v0io4k8opoghj7eub4yrvbt662wrh2n0rtgm3dxir5py3rh5m7k58423xom3gwuvfy783vDarkblazer profile.jpg" class="profile-picture"/></a> <a href="members/Darkblazer">Darkblazer</a></li>
                    
    <li><a href="members/Pikapower34"><img src="../images/pfps/7du2vwsnrc37746hf4i2nga8hs6paue5vyvhkftzfnxbftiimrbyy8x4stksenmxd86mcqcPinRS025.gif" class="profile-picture"/></a> <a href="members/Pikapower34">Pikapower34</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>