---
title: aussiegrl1998
sidebar: home_sidebar
hide_sidebar: true
keywords: aussiegrl1998
permalink: members/aussiegrl1998
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/OU2BbrKJdIXFm7b8ofTcEl5EEqVegaOu.jpg" alt="aussiegrl1998" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>21</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>5</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Smile By Uncle Kracker</li>
<img src="{{"../images/thumb/1_63400.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>the-climb-music-video</li>
                
we made this vid in my backyard, featuring tahlia (my bestie) and ellie, my sis. PLZ comment
                
                <br>
Added: 20-02-2010
                
</ul>
                
<ul>
<li>the-doll-house-episode-1</li>
                
this is my new show, the doll house, it is all in pictures. Hope you like it. <br />
theme song: Just dance by lady GaGa
                
                <br>
Added: 05-03-2010
                
</ul>
                
<ul>
<li>music-quiz</li>
                
my favourite game!! figure out the name of these songs and their artist.
                
                <br>
Added: 07-03-2010
                
</ul>
                
<ul>
<li>my-birthday-18310</li>
                
here is just a quick video with some pics from by b-day!
                
                <br>
Added: 30-03-2010
                
</ul>
                
<ul>
<li>too-much-technology</li>
                
just a compilation of pics...<br />
audio: tik tok by ke$ha
                
                <br>
Added: 03-04-2010
                
</ul>
                
<ul>
<li>neopolitan-dreams-with-lyrics</li>
                
see title <br />
i do not own this song
                
                <br>
Added: 10-04-2010
                
</ul>
                
<ul>
<li>Mamma-mia-with-lyrics</li>
                
see title<br />
i do not own this song
                
                <br>
Added: 10-04-2010
                
</ul>
                
<ul>
<li>Do-you-pass-the-grumpy-test</li>
                
just watch this video and grumpy days will be a thing of the past...
                
                <br>
Added: 12-04-2010
                
</ul>
                
<ul>
<li>Manga</li>
                
watch this video and find out why i have fallen in love with this cartooning style.
                
                <br>
Added: 23-04-2010
                
</ul>
                
<ul>
<li>how-to-survive-boredom</li>
                
just watch this video and you'll never say i'm bored ever again!
                
                <br>
Added: 23-04-2010
                
</ul>
                
<ul>
<li>Female-Driver-compilation</li>
                
I DO NOT OWN THIS!!!<br />
I GOT IT IN AN E-MAIL SO I COULD SHOW OTHER KIDSTUBERS!!
                
                <br>
Added: 23-04-2010
                
</ul>
                
<ul>
<li>manga</li>
                
watch this video and find out why i have fallen in love with this cartooning style.
                
                <br>
Added: 25-04-2010
                
</ul>
                
<ul>
<li>manga-compilation</li>
                
watch this video and find out why i have fallen in love with this adorable style of cartooning!
                
                <br>
Added: 02-05-2010
                
</ul>
                
<ul>
<li>manga-compilation</li>
                
find out why i love manga
                
                <br>
Added: 07-05-2010
                
</ul>
                
<ul>
<li>Brian-McFadden-Just-say-so-with-lyrics</li>
                
see title, this song is cool!
                
                <br>
Added: 25-05-2010
                
</ul>
                
<ul>
<li>girls-brigade-camp-2010-slideshow</li>
                
just some pics of Girls Brigade camp. it was cold!!!! can u tell we had fun??? Music: wherever we go (by the newsboys)
                
                <br>
Added: 31-05-2010
                
</ul>
                
<ul>
<li>How-to-moonwalk</li>
                
KT's 1st how to moonwalk video! so, watch this vid and learn how to moonwalk in a few weeks, maybe days!
                
                <br>
Added: 06-06-2010
                
</ul>
                
<ul>
<li>around-brisbane</li>
                
some pics that i took around my home city
                
                <br>
Added: 21-06-2010
                
</ul>
                
<ul>
<li>answers-to-which-one-is-aussiegrl-1998</li>
                
answers to which one is aussiegrl1998
                
                <br>
Added: 10-07-2010
                
</ul>
                
<ul>
<li>beautiful-pics-of-nature</li>
                
pics i took- all of nature, with michael jackson's earth song. lemme know of what you think of the pics. i LOVE photography!!
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>Smile-By-Uncle-Kracker</li>
                
awesome song. great to pick you up when your down.
                
                <br>
Added: 13-09-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/luckylisa1998"><img src="../images/pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" class="profile-picture"/></a> <a href="members/luckylisa1998">luckylisa1998</a></li>
                    
    <li><a href="members/morgaroni55"><img src="../images/pfps/PT6DvsyOptZiyfjUM8lEFH0jRLLjbSjo.gif" class="profile-picture"/></a> <a href="members/morgaroni55">morgaroni55</a></li>
                    
    <li><a href="members/GarfieldRules"><img src="../images/pfps/PLDBb6p7VoMPfShlRZ4o1b8Ad7CaD6mQ.jpg" class="profile-picture"/></a> <a href="members/GarfieldRules">GarfieldRules</a></li>
                    
    <li><a href="members/percyjackson1"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/percyjackson1">percyjackson1</a></li>
                    
    <li><a href="members/demiandselena"><img src="../images/pfps/aYPzGR4HyYPdbXyp2MvdE9gXXgl6mFmA.jpg" class="profile-picture"/></a> <a href="members/demiandselena">demiandselena</a></li>
                    
    <li><a href="members/FlipFlops98"><img src="../images/pfps/c5keordzfvdtyk0roo40mggecodbixxks8n6oour8xax60dke7aqegsfttgzg4cy0ntf2evOMD I LOOK GOOD.png" class="profile-picture"/></a> <a href="members/FlipFlops98">FlipFlops98</a></li>
                    
    <li><a href="members/Philip666"><img src="../images/pfps/Rvlz5FpzVoncu50Whf2iAFtDxhdcFy7W.jpg" class="profile-picture"/></a> <a href="members/Philip666">Philip666</a></li>
                    
    <li><a href="members/Candy_Pop"><img src="../images/pfps/RoIiaBPvp50NLwAEH2gWNs1M0HI57AcM.png" class="profile-picture"/></a> <a href="members/Candy_Pop">Candy_Pop</a></li>
                    
    <li><a href="members/videoprincess"><img src="../images/pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" class="profile-picture"/></a> <a href="members/videoprincess">videoprincess</a></li>
                    
    <li><a href="members/TotalWolfLover"><img src="../images/pfps/v9hA6Ikg8mAgfpVPopz3li4xIYIvaGBJ.jpg" class="profile-picture"/></a> <a href="members/TotalWolfLover">TotalWolfLover</a></li>
                    
    <li><a href="members/Amber_the_awesome"><img src="../images/pfps/tBNJgflKH0n2e5Mj4GoGYtXa1dLKyZGg.gif" class="profile-picture"/></a> <a href="members/Amber_the_awesome">Amber_the_awesome</a></li>
                    
    <li><a href="members/etc_etc_etc"><img src="../images/pfps/uADIhmUXovlQUKoJHGJzUzkjWlj3v7Hd.png" class="profile-picture"/></a> <a href="members/etc_etc_etc">etc_etc_etc</a></li>
                    
    <li><a href="members/XxfunxgirlxX"><img src="../images/pfps/7w9lvdm1sPbaud8UY5o4wELa5BCNaqvX.gif" class="profile-picture"/></a> <a href="members/XxfunxgirlxX">XxfunxgirlxX</a></li>
                    
    <li><a href="members/pikachu2"><img src="../images/pfps/dHgQRyeIvJ9htahXhYYfUGXsJRAaYMrz.gif" class="profile-picture"/></a> <a href="members/pikachu2">pikachu2</a></li>
                    
    <li><a href="members/lng717"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/lng717">lng717</a></li>
                    
    <li><a href="members/newnew"><img src="../images/pfps/mrv4es3vpt8sd8k0r5adegwr8nkyn2ayjusmbj7r36756iumeuph0bwxm7myzmn763j8bgoJustin-Bieber-Love-Me.jpg" class="profile-picture"/></a> <a href="members/newnew">newnew</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>