---
title: banana_luver
sidebar: home_sidebar
hide_sidebar: true
keywords: banana_luver
permalink: members/banana_luver
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/pvt7vuuf27dv4o0mv3iz75psv6roetztdhpy3a4t55e0j3d3wntsga824qe873qbb3z23skhelmet.jpg" alt="banana_luver" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b></b></li>
        
<li> Age: <b>2011</b></li>
        
<li> Gender: <b></b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>1</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>20</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>368</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>100%</b> out of <b>4</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Waffles! =D ♥</li>
<img src="{{"../images/thumb/AUJiJP1MUJiwv13pK4Lc.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>kidstube poop spongebob wants to die</li>
<img src="{{"../images/thumb/1_18405.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>kidstube poop spongebob wants to die</li>
                
i made this and my brother colby1 helped
COMMENT
                
                <br>
Added: 31-08-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/ohnoahhh"><img src="../images/pfps/1OsXLaN5l8igHicOiUAIacV2Lwo8gCiY.jpg" class="profile-picture"/></a> <a href="members/ohnoahhh">ohnoahhh</a></li>
                    
    <li><a href="members/Riley87"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Riley87">Riley87</a></li>
                    
    <li><a href="members/RukiaKuchki97"><img src="../images/pfps/XE0sGywJ6MUbCI3Grp0sMmIODJYD3XFQ.png" class="profile-picture"/></a> <a href="members/RukiaKuchki97">RukiaKuchki97</a></li>
                    
    <li><a href="members/Loli-wordgirl"><img src="../images/pfps/bxSWJieFWbcGdIfDvhaLdaa17MTsci73.png" class="profile-picture"/></a> <a href="members/Loli-wordgirl">Loli-wordgirl</a></li>
                    
    <li><a href="members/livelafluvurlife99"><img src="../images/pfps/suex5obtfxj4ec7injm0djzaw52gzopg6r3262jart4tt236cdxdnoe7i4e8grdd8443xc3keelan alpacha.jpg" class="profile-picture"/></a> <a href="members/livelafluvurlife99">livelafluvurlife99</a></li>
                    
    <li><a href="members/allaboutME123"><img src="../images/pfps/w6pwweiuzrtpdsev2hsnxptg4tke0xgmuvahxg3pxk2y06isd050ep577haw3hao07uqcm31n.jpg" class="profile-picture"/></a> <a href="members/allaboutME123">allaboutME123</a></li>
                    
    <li><a href="members/dogfan"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/dogfan">dogfan</a></li>
                    
    <li><a href="members/land11"><img src="../images/pfps/g6u8SdpnlQ9cgyWsYBESfmAK04E5pGbJ.jpg" class="profile-picture"/></a> <a href="members/land11">land11</a></li>
                    
    <li><a href="members/NHLboy76"><img src="../images/pfps/tYRIQ8IUXqF5akkCgODZ0Zx40kB0skMb.gif" class="profile-picture"/></a> <a href="members/NHLboy76">NHLboy76</a></li>
                    
    <li><a href="members/carboman"><img src="../images/pfps/8wcmjhjq3ajftet0bt5bnqsm24dku8xtuz426cgzcr3tvkiu5evgtdsj7vuqtiae72444cscarboman logo.jpg" class="profile-picture"/></a> <a href="members/carboman">carboman</a></li>
                    
    <li><a href="members/Funnyspongebob456"><img src="../images/pfps/34ooxqquym8gk37q2d8wa0chjgeu6diz5uct8rdv0c2c5yqv2og2fi8ppd7jee87wbrwquimegaman.gif" class="profile-picture"/></a> <a href="members/Funnyspongebob456">Funnyspongebob456</a></li>
                    
    <li><a href="members/justice9908"><img src="../images/pfps/syvpiv5y2sa3ctctmnie4atcentok243pqgvdck3vkwv3wdd8mi3jz3odn0ofvfvbmfcpr5oq6ikohgd85kmjkg2v7jxdb3vriy486iq0pyfv5iuyu485byp68ea85vocji8gpn52cbo5hmario.gif" class="profile-picture"/></a> <a href="members/justice9908">justice9908</a></li>
                    
    <li><a href="members/wackykid23"><img src="../images/pfps/ECMq6smKownPeveiWeqou95ssWt4ix5m.png" class="profile-picture"/></a> <a href="members/wackykid23">wackykid23</a></li>
                    
    <li><a href="members/maxmia"><img src="../images/pfps/oq6ikohgd85kmjkg2v7jxdb3vriy486iq0pyfv5iuyu485byp68ea85vocji8gpn52cbo5hmario.gif" class="profile-picture"/></a> <a href="members/maxmia">maxmia</a></li>
                    
    <li><a href="members/littlebigplanetguy"><img src="../images/pfps/hm78xiykeij8jg53u6p3qhxdf235g3yreezfjvjcfk4vm25bxyftsra520pjvu3cn045bqhGold.jpg" class="profile-picture"/></a> <a href="members/littlebigplanetguy">littlebigplanetguy</a></li>
                    
    <li><a href="members/Jojoshow"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Jojoshow">Jojoshow</a></li>
                    
    <li><a href="members/Bstyles"><img src="../images/pfps/6r7VHxFjhtGfgRfdRvQVdp4NvJvZBuK5.jpg" class="profile-picture"/></a> <a href="members/Bstyles">Bstyles</a></li>
                    
    <li><a href="members/Legofilms"><img src="../images/pfps/e45pk33fwkbtph0fuyz6x3pqx8io7ndbh8oqziunrt74yybjm0h7supetxtpbwqgt5vjceuIMG00168-20090720-1421.jpg" class="profile-picture"/></a> <a href="members/Legofilms">Legofilms</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>