---
title: BarbWire
sidebar: home_sidebar
hide_sidebar: true
keywords: BarbWire
permalink: members/BarbWire
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="BarbWire" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>5</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Pokemon Caramelldansen</li>
<img src="{{"../images/thumb/1_57848.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Warriors-Trailer</li>
                
ITSA TRAILER/MUSIC VID! Song is Truelight by DN Angel
                
                <br>
Added: 15-03-2010
                
</ul>
                
<ul>
<li>Warriors-Trailer</li>
                
yep, itsa trailer NOT REAL! IT'S A FAN FLASH ANIMATION!
                
                <br>
Added: 16-03-2010
                
</ul>
                
<ul>
<li>warriors-cats-episode-1-part-1</li>
                
This is not an official Warrior cats animation<br />
Its a fan animation by SSSwarriorscats from youtube, and a few other friends who simply like to animate and voice acting for characters in their spare time : )<br />
<br />
Original story, narrative idea, characters belong to novel Warrior cats into the wild by Erin Hunter, official website: http://www.warriorcats.com/warriorshe...<br />
Musics:<br />
Nightmares On Tetsukazu Nakanishi<br />
Reaper<br />
Truelight DNAngel<br />
<br />
Credits of animation section:<br />
Animation directed by Yu, Rosi<br />
Animation assistant: Zing<br />
<br />
Audition:<br />
Redtail: Stephen Cumberworth<br />
Tigerclaw: 2 Gryphon<br />
Oakheart: Ray<br />
Bluestar: Rosi<br />
Spottedleaf:.. sorry I forgot your name, you are Rosis friend but I forgot, please let me know if you read this, Ill add your name on<br />
Rusty: GingaJinketsuKoushi<br />
Smudge: Tail 230<br />
<br />
Audition assistant:<br />
Cat sounds: Gangyzgirl, Rosi<br />
Rustys owner: Desiree 'Desimaemae' Parker<br />
<br />
Special thanks (Friends who helped me on voice acting but I disappeared or replace the audition. Sorry about this.. Ill be working more efficiently next time.):<br />
EchoFlameFox<br />
EchoFlameFoxs friend<br />
Nazuna12<br />
jerrymojo2 (voice acting graypaw, will be in the 2nd half of this episode)<br />
carbe (link: http://www.wiseoz.com/mysite/carbo)<br />
Tag<br />
Laurah<br />
<br />
**************************************<br />
<br />
A big Sorry for the long wait, it has been a long time, as a director its my fault not to finish work before the time I planed, I'll improve my time management and make schedule carefully next time.<br />
This is the first 10 mins of the first part of episode one, I'll be away for a month and I'll try my best to complete the remains of the 2nd half after I'm back.<br />
Actually the animation went well at first, many parts are almost finished, but there have been a very long pause for many reasons. After this experience I'll make myself to work more efficiently in my next project.<br />
<br />
Thanks to everybody who helped me on it. auditions is hard to manage, there are a few voice people I haven't contact them properly but I'm still thank them and I'll make the production process les confusing next time.<br />
<br />
Thank you very much for watching, and I wish you enjoy my animations!<br />
If you like Warrior Cats story, why not get the original book. Its a fun read, and all about clan cats.<br />
<br />
FQA. questions i recieved many times...<br />
<br />
Q. what program I use to animate?<br />
A. mostly Flash, Photoshop, Aftereffect.<br />
<br />
Q. are you a guy or a girl?<br />
A. I am a guy
                
                <br>
Added: 16-03-2010
                
</ul>
                
<ul>
<li>Warrior-Cats-Episode-1-Part-2</li>
                
NUMBAH 2
                
                <br>
Added: 06-04-2010
                
</ul>
                
<ul>
<li>Pokemon-Caramelldansen</li>
                
I like caramell
                
                <br>
Added: 24-06-2010
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>