---
title: Bekah123456
sidebar: home_sidebar
hide_sidebar: true
keywords: Bekah123456
permalink: members/Bekah123456
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="Bekah123456" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>45</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Me and alyssa doing stupid stunts</li>
<img src="{{"../images/thumb/1_125866.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Yoplait commercial</li>
<img src="{{"../images/thumb/1_129404.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Fantage-scary-movie-Scary-little-skull-girl</li>
                
I was bored as always so i made this movie on fantage. I know it's not that scary but thats the best i could do!
                
                <br>
Added: 09-06-2012
                
</ul>
                
<ul>
<li>5-things-to-do-when-your-bored</li>
                
I was sliding down the stairs with a sleeping bag then i just came up with the idea to make a video. A what to do when ur bored video so then i made it.
                
                <br>
Added: 21-06-2012
                
</ul>
                
<ul>
<li>The-sleeping-bag-movie-trailer</li>
                
well first we were sliding down the stairs with a sleeping bag then i had the idea to make a movie trailer about a killer sleeping bag. Yeah and if you think its stupid thats because its supposed to be stupid. If you see any of my other movie trailers they are all supposed to be stupid.
                
                <br>
Added: 21-06-2012
                
</ul>
                
<ul>
<li>11-funny-things-patrick-star-says</li>
                
i just wanted to make this video for some reason. Some of the clips aren't funny to me, I just couldn't really find any funny videos of patrick.
                
                <br>
Added: 24-06-2012
                
</ul>
                
<ul>
<li>My-secret-fantage-hideout</li>
                
This isnt really MY secret hideout... almost EVERYONE in fantage knows about it. I was just bored so i made this video!
                
                <br>
Added: 01-07-2012
                
</ul>
                
<ul>
<li>Reeses-puffs-commercial</li>
                
Weell... um...um...um We made a reeses puffs commercial cuz we had nothin else to do!
                
                <br>
Added: 06-07-2012
                
</ul>
                
<ul>
<li>Geese-chasing-us</li>
                
We were at the park and we had bread on us for the geese and they kinda went out of control and started chasing us! SCAAARY!!
                
                <br>
Added: 06-07-2012
                
</ul>
                
<ul>
<li>Back-acne-commercial</li>
                
well... it was ten o clock at night so we wanted to make an acne commercial. WE HATE ACNE! DON'T U????
                
                <br>
Added: 09-07-2012
                
</ul>
                
<ul>
<li>2012-Annual-dance-off</li>
                
It's the 2012 annual dance off! Starring: Dan the hobo, Alyssa the cowgirl and special guest star scream! If you don't know who scream is he is a character from a horror movie. ENJOY THE SHOW!
                
                <br>
Added: 10-07-2012
                
</ul>
                
<ul>
<li>2012-annual-dance-off-part-1</li>
                
2012 annual dance off part 1! starring: Dan the hobo, Alyssa the cowgirl and special guest star scream!
                
                <br>
Added: 10-07-2012
                
</ul>
                
<ul>
<li>Me-and-alyssa-doing-stupid-stunts</li>
                
Some of them aren't really stunts but... HEEEEREE YA GO!
                
                <br>
Added: 16-07-2012
                
</ul>
                
<ul>
<li>Me-in-my-drawing</li>
                
Well first im drawing a girl in a fashion show then there is this portal that appears on the paper then im actually in my drawing!
                
                <br>
Added: 18-07-2012
                
</ul>
                
<ul>
<li>Me-fighting-with-myself-over-batteries</li>
                
Im fighting with myself over batteries cuz there was a bad show on and i wanted to change the channel and then im blaming the other me that i stole the batteries.
                
                <br>
Added: 19-07-2012
                
</ul>
                
<ul>
<li>Clubpenguin-randomness</li>
                
ITS CLUBPENGUIN RANDOMNESS! JUST TO LET YOU KNOW: "I AM NOT A PREMMIUM MEMBER ON CLUBPENGUIN" !!!!
                
                <br>
Added: 30-07-2012
                
</ul>
                
<ul>
<li>American-girl-doll-movie-anonymous-part-1</li>
                
American girl doll movie: anonymous part 1. WAS BROUGHT TO YOU BY STARTVPRODUCTIONS!
                
                <br>
Added: 30-07-2012
                
</ul>
                
<ul>
<li>Fantage-music-video</li>
                
It's a fantage music video. Rock star by Primaj
                
                <br>
Added: 01-08-2012
                
</ul>
                
<ul>
<li>Dork-diaries-trailer</li>
                
Dork diaries the movie will be coming out soon
                
                <br>
Added: 01-08-2012
                
</ul>
                
<ul>
<li>A-Christmas-Miracle-part-1</li>
                
It's a stopmotion movie and it's kinda short but it's only part 1
                
                <br>
Added: 02-08-2012
                
</ul>
                
<ul>
<li>Real-life-stopmotion-skit</li>
                
I know it's kinda boring but just watch it's really cool!
                
                <br>
Added: 04-08-2012
                
</ul>
                
<ul>
<li>A-StUpId-AnD-RaNdOm-ChRiStMaS-ShOw</li>
                
YEAH I KNOW, IM THE STUPID ONE CUZ IM PLAYING WITH CHRISTMAS DECORATIONS.
                
                <br>
Added: 04-08-2012
                
</ul>
                
<ul>
<li>WE-FOUND-MR-KRABS-IN-THE-CREEK</li>
                
we were down playing in the creek then we found Mr. krabs!
                
                <br>
Added: 04-08-2012
                
</ul>
                
<ul>
<li>I-SCREAM-FOR-ICE-CREAM</li>
                
I SCREAM FOR ICE CREAAAAM!!!!! I LUV ICE CREAM
                
                <br>
Added: 04-08-2012
                
</ul>
                
<ul>
<li>The-girl-who-thought-the-ball-she-had-found-was-a-ball</li>
                
BE CAREFUL OF WHAT YOU FIND LYING ON THE STREETS!!!!!!!!!!
                
                <br>
Added: 06-08-2012
                
</ul>
                
<ul>
<li>American-girl-doll-movie-anonymous-part-2</li>
                
American girl doll movie
                
                <br>
Added: 08-08-2012
                
</ul>
                
<ul>
<li>Clubpenguin-mini-movie</li>
                
It's a clubpenguin mini movie.
                
                <br>
Added: 09-08-2012
                
</ul>
                
<ul>
<li>Have-you-ever-wondered</li>
                
HAVE YOU EVER WONDERED WHAT IT'S LIKE TO BE A NINJA? HEHE!!
                
                <br>
Added: 09-08-2012
                
</ul>
                
<ul>
<li>LPS-movie-the-Queen-part-1</li>
                
YEAH I KNOW IM STUPID FOR PLAYING WITH LITTLEST PET SHOP PEOPLE CUZ IM TEN YEARS OLD. WHATEVER!
                
                <br>
Added: 13-08-2012
                
</ul>
                
<ul>
<li>IM-IN-A-TRIX-COMMERCIAL</li>
                
U GUYS IM IN A TRIX COMMERCIAL!!!!!!!!!
                
                <br>
Added: 15-08-2012
                
</ul>
                
<ul>
<li>Adventure-time-the-best-of-Jake</li>
                
I LOVE ADVENTURE TIME!!!! AND SORRY IF U CAN HEAR TALKING IN THE BACKROUND!
                
                <br>
Added: 15-08-2012
                
</ul>
                
<ul>
<li>LPS-movie-the-case-of-the-lost-pearl</li>
                
hehehe!!! i was bored and i had an  old script i wrote so i decided to do it with littlest pet shop people
                
                <br>
Added: 15-08-2012
                
</ul>
                
<ul>
<li>IM-ON-A-FAKE-ROLLERCOASTER</li>
                
I WAS REALLY BORED BUT THIS WAS A LONG LONG TIME AGO
                
                <br>
Added: 16-08-2012
                
</ul>
                
<ul>
<li>Dance-like-theres-no-tomorrow-Paula-Abdul-music-video</li>
                
HWAHWA!! IT'S JUST A RANDOM MUSIC VIDEO!
                
                <br>
Added: 20-08-2012
                
</ul>
                
<ul>
<li>How-to-make-urself-a-fantage-avatar</li>
                
IT'S KEWL JUST WATCH!! and sorry the video is really long
                
                <br>
Added: 24-08-2012
                
</ul>
                
<ul>
<li>I-HAVE-SUPER-POWERS</li>
                
It's fake. POOPIN PEETE!!
                
                <br>
Added: 03-09-2012
                
</ul>
                
<ul>
<li>NEVER-DITCH-UR-OLD-TOASTER</li>
                
NEVER DITCH UR OLD TOASTER!!! JUST DON'T!!! IF YOU DO UR HOUSE WILL EXPLOAD CUZ THE TOASTER GOT TOO HOT AND BURNED UR BLOOPIN FACE OFF!
                
                <br>
Added: 03-09-2012
                
</ul>
                
<ul>
<li>Juicy-drop-pop-commercial</li>
                
HA HA! if you've ever seen the juicy drop pop commercial on TV then this commercial is kinda like it
                
                <br>
Added: 06-09-2012
                
</ul>
                
<ul>
<li>2012-Annual-random-talent-show</li>
                
It's where animals perform on the talent show
                
                <br>
Added: 09-09-2012
                
</ul>
                
<ul>
<li>Clubpenguin-music-video</li>
                
SMELLY CHEESE R U READY TO GO??? NOPE IM NOT READY TO GO!!! R U? HWAHWAAAAAAAAAA
                
                <br>
Added: 12-09-2012
                
</ul>
                
<ul>
<li>RAAANDOOOM</li>
                
WE WERE JUST PLAYING WITH A FLASHLIGHT
                
                <br>
Added: 20-09-2012
                
</ul>
                
<ul>
<li>The-sleeping-bag-movie-part-3</li>
                
HERE IT IS!
                
                <br>
Added: 20-09-2012
                
</ul>
                
<ul>
<li>Adventure-time-with-Rebekah-preveiw</li>
                
IT'S JUST LIKE ADVENTURE TIME THE CARTOON! EXCEPT THERE'S NO MAGICAL DOG. AND IM SUPPOSED TO BE FINN
                
                <br>
Added: 21-09-2012
                
</ul>
                
<ul>
<li>RANDOMNESS</li>
                
these are just random videos all put together
                
                <br>
Added: 26-09-2012
                
</ul>
                
<ul>
<li>Funny-stuff</li>
                
:D HI! IT'S BEKAH! I'LL STILL BE UPLOADING VIDEOS CAUSE I REALLY MISS KIDSTUBE! BUT ALSO, HERES MY YOUTUBE CHANNEL. https://www.youtube.com/user/Bekahproductions2012?feature=mhee
                
                <br>
Added: 14-04-2013
                
</ul>
                
<ul>
<li>HoW-TO-dISaPpEar-NOT</li>
                
i was bored... :(
                
                <br>
Added: 02-05-2013
                
</ul>
                
<ul>
<li>Yoplait-commercial</li>
                
blah blah. I DON'T FEEL LIKE TYPING!
                
                <br>
Added: 02-05-2013
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>