---
title: bg00
sidebar: home_sidebar
hide_sidebar: true
keywords: bg00
permalink: members/bg00
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/c0h54r0dtu052ni60mky58bodacz4ae40myu4oxm6nhzxpwoy5bu2d65b8t57xyyboj325dpug.jpg" alt="bg00" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Josh</b></li>
        
<li> Age: <b>15</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>23</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>330</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>100%</b> out of <b>2</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Fred is dead</li>
<img src="{{"../images/thumb/Zz3A5krAAsQtrjjTjYxY.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>BG</li>
<img src="{{"../images/thumb/gbKI0ngqifluuCJ0c3hu.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>BG presents the dancing soldier</li>
<img src="{{"../images/thumb/BBHYDc1sGtabRK5XeYmB.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>BG presents josh's talk with MIRANDA COSGROVE</li>
<img src="{{"../images/thumb/xr1UmOJ3NrUYNNTKZTha.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>BG presents the quiet boy 2</li>
<img src="{{"../images/thumb/MtUkAgSBIFGI1hRr30pm.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>BG Rewards</li>
<img src="{{"../images/thumb/hgNEJdFfI4ypyXVo0oKa.jpg"}}" alt="thumbnail"/>

</ul>
            
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/SeanSanczel"><img src="../images/pfps/ty4ts7vuze7d0asmqd4vzwv2fr5wmoj5deptd8e0eb45bkfpnacdvx6ydzkpeujfzwy0w2sSeanHeadshot2.jpg" class="profile-picture"/></a> <a href="members/SeanSanczel">SeanSanczel</a></li>
                    
    <li><a href="members/Rockstar44"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Rockstar44">Rockstar44</a></li>
                    
    <li><a href="members/homeyg"><img src="../images/pfps/U5QZBfkwtQbN0RArXLzKd6Jncoo7BD1W.gif" class="profile-picture"/></a> <a href="members/homeyg">homeyg</a></li>
                    
    <li><a href="members/cheezedoodlez"><img src="../images/pfps/3mbenj5szugpbd33cx83v2n0k2wqymhrviv8rqqh8wuaxo40c0svt4n2w7ijio04xm2dzgiFotoFlexer_Photo.jpg" class="profile-picture"/></a> <a href="members/cheezedoodlez">cheezedoodlez</a></li>
                    
    <li><a href="members/Whidey"><img src="../images/pfps/l7vDPsqrepOhMfwvqC6IDJS1FF3xGdRr.jpg" class="profile-picture"/></a> <a href="members/Whidey">Whidey</a></li>
                    
    <li><a href="members/DXZ"><img src="../images/pfps/yfrpkqf2epcbrrsjhrod202hueqnyk2prh2zx5t3mt20bk8gznjscd0wffb3q0i588wu4gmDXZ.jpg" class="profile-picture"/></a> <a href="members/DXZ">DXZ</a></li>
                    
    <li><a href="members/maxmia"><img src="../images/pfps/oq6ikohgd85kmjkg2v7jxdb3vriy486iq0pyfv5iuyu485byp68ea85vocji8gpn52cbo5hmario.gif" class="profile-picture"/></a> <a href="members/maxmia">maxmia</a></li>
                    
    <li><a href="members/ccb123"><img src="../images/pfps/ouxoj08rnjjjmbbphwc3jh052oh66vrjedvo4u3i5dsfdsvifvcp40jugprb86id74q3qjapenguin.gif" class="profile-picture"/></a> <a href="members/ccb123">ccb123</a></li>
                    
    <li><a href="members/allybabally"><img src="../images/pfps/plOL2O1PQd523y9PQ3brOWfA2TENhp5L.jpg" class="profile-picture"/></a> <a href="members/allybabally">allybabally</a></li>
                    
    <li><a href="members/eagle1strike"><img src="../images/pfps/3MQBtlUtfmugT16BO2ogLBflylCxQr6J.png" class="profile-picture"/></a> <a href="members/eagle1strike">eagle1strike</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/Hansters"><img src="../images/pfps/7e7rcqqs3s0dm6a6zrjteadidm7vgdocfjufzbxtrpu4msyb78ud6yjabhvfi7hohzt7yhpfunny_icons_14.jpg" class="profile-picture"/></a> <a href="members/Hansters">Hansters</a></li>
                    
    <li><a href="members/elvis"><img src="../images/pfps/tor2d854ah2dqt7vdqona7sk6scgcrmw50n60i2yquz7cxrfd4rd27pwqp3q6fdz5rwuxpjlight10[1].gif" class="profile-picture"/></a> <a href="members/elvis">elvis</a></li>
                    
    <li><a href="members/MaryKate"><img src="../images/pfps/cu7qU4cid8hn6vmYPCY2FrklerIj0XBT.png" class="profile-picture"/></a> <a href="members/MaryKate">MaryKate</a></li>
                    
    <li><a href="members/kevin"><img src="../images/pfps/es2hdpyfxhw4erm2vsmzzsa28sntdv0fcrnf6cktj6omoxcahox57xx4gaphtenvu0yr078A2J8FCUCAUFKMUDCAGCPS59CALRV03CCA5AWPYYCAR9N1AXCA9VQ5CZCAMK2M8TCABVAR9BCAJNR6SNCA4XPG4GCA12LGZUCAJZDDVLCAKN2TUDCAR13FTGCA7M1CKQCATKZRO8CAHFNFCOCATJ1RM1.jpg" class="profile-picture"/></a> <a href="members/kevin">kevin</a></li>
                    
    <li><a href="members/rockinchic2000"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/rockinchic2000">rockinchic2000</a></li>
                    
    <li><a href="members/stick"><img src="../images/pfps/pxrvs2n0mnkg6kam4ecgssmvxntnrwx4kdo250tfd2n7eni8rkd73pupzc2fzob8rnyofhrb80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/stick">stick</a></li>
                    
    <li><a href="members/PRINPLUP"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/PRINPLUP">PRINPLUP</a></li>
                    
    <li><a href="members/brad11rocks"><img src="../images/pfps/tqqkcf8idogvh62pw8ouv06chsyscsfv7v47z0g0fkkoid03ddpw4mya3nq33to0fiw3b2tPicture0010.jpg" class="profile-picture"/></a> <a href="members/brad11rocks">brad11rocks</a></li>
                    
    <li><a href="members/456z00ts654"><img src="../images/pfps/82kqx6k7qc6s3i8gz53pa62xiehycozbecr28zyn0v6u530tws6unyiv0oi32a24akv88kjWolf-Gone-Mad-wolves-2576785-301-450.jpg" class="profile-picture"/></a> <a href="members/456z00ts654">456z00ts654</a></li>
                    
    <li><a href="members/mars"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/mars">mars</a></li>
                    
    <li><a href="members/Buddy231"><img src="../images/pfps/qcrq6qn2vgg6ub2nm8hi0xcc5pbhzu7gupur47hqcnmvoe8zbe62062wj44an2e7fypavxpbig_950799.gif" class="profile-picture"/></a> <a href="members/Buddy231">Buddy231</a></li>
                    
    <li><a href="members/iloverockenroll"><img src="../images/pfps/5233.gif" class="profile-picture"/></a> <a href="members/iloverockenroll">iloverockenroll</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>