---
title: biber262
sidebar: home_sidebar
hide_sidebar: true
keywords: biber262
permalink: members/biber262
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/9lV20RE0SYPElH5ROgGMaOCDifFbuO0r.gif" alt="biber262" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>amie</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>6</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>1</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>51</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>742</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>1</b></li>
        
<li> Rating: <b>90%</b> out of <b>8</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>cRaZy BaBy</li>
<img src="{{"../images/thumb/ZfOvF4i0c3zkxRGarKaQ.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>muffins twist version</li>
<img src="{{"../images/thumb/i5Nwh0chykVviT4uXTo4.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>rANDOM tIME</li>
<img src="{{"../images/thumb/VveEvzwBl0fbmyoD2KCX.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>tHANKS FOR BEING MEAN</li>
<img src="{{"../images/thumb/2Y4FphSgo0FnMwcXLscF.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>CaLiFoRnIa</li>
<img src="{{"../images/thumb/fqiQAsOnPk1OCRIzfNCS.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>me singin billionair</li>
<img src="{{"../images/thumb/gFsHwAwew5sAAfqoaTwQ.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>fun time witth weirdos</li>
<img src="{{"../images/thumb/1_63248.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>cRaZy-BaBy</li>
                
hahaha
                
                <br>
Added: 08-02-2010
                
</ul>
                
<ul>
<li>CrAzY-bAbY</li>
                
hahaha my cousins and me fooling around lol
                
                <br>
Added: 08-02-2010
                
</ul>
                
<ul>
<li>HAHA-PASTA</li>
                
hey it's crazy gals and we love pasta lol
                
                <br>
Added: 12-03-2010
                
</ul>
                
<ul>
<li>haha-hanig-out-with-lotzo</li>
                
me erin luke laur playing
                
                <br>
Added: 30-07-2010
                
</ul>
                
<ul>
<li>luke-crying</li>
                
awww
                
                <br>
Added: 30-07-2010
                
</ul>
                
<ul>
<li>fun-time-witth-weirdos</li>
                
h e h e  h a a ha h a l e a v e  a c o m m e n t
                
                <br>
Added: 10-09-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/zacattack"><img src="../images/pfps/zKJn0Xp4Cm4GA3yfulrMLpgWL9GtHdy6.png" class="profile-picture"/></a> <a href="members/zacattack">zacattack</a></li>
                    
    <li><a href="members/xolylaepic"><img src="../images/pfps/HIDNNxLBGGUk1Gun4NTUaLoZdG4b9qzE.gif" class="profile-picture"/></a> <a href="members/xolylaepic">xolylaepic</a></li>
                    
    <li><a href="members/luckylisa1998"><img src="../images/pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" class="profile-picture"/></a> <a href="members/luckylisa1998">luckylisa1998</a></li>
                    
    <li><a href="members/BB_brad"><img src="../images/pfps/2vfdrr7wqhrky7hsrk450d3bj4et6tfwdkzuzygg4vrttyaba54z8wygr3zom58pfz85nfdPicture 331u8dfi.jpg" class="profile-picture"/></a> <a href="members/BB_brad">BB_brad</a></li>
                    
    <li><a href="members/aandabffshow"><img src="../images/pfps/yr20s26f0fib2j0ann5tir3nv0vhdr528yuqppvgs4imc7jpmd8su25espmv7im454kkh5p100101-010837.jpg" class="profile-picture"/></a> <a href="members/aandabffshow">aandabffshow</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/breetown"><img src="../images/pfps/4qks324y82yq8aq4oh6wpbtf2cxubzc5eko7dgwa8nr5k5zwcujrw2xn4j75a7yeibcjfzi0a4db0cfedb0.jpg" class="profile-picture"/></a> <a href="members/breetown">breetown</a></li>
                    
    <li><a href="members/MakeupGeek710"><img src="../images/pfps/gt08rzDKNQTXxI9rSreHvN5iQGugySzU.jpg" class="profile-picture"/></a> <a href="members/MakeupGeek710">MakeupGeek710</a></li>
                    
    <li><a href="members/caitlino"><img src="../images/pfps/h7t6vhubw3wzfut2ghtvbqk45qh0wzk4x20j7jjve6mhq3bwcugbbr346but03onwevso3ePicture 25.jpg" class="profile-picture"/></a> <a href="members/caitlino">caitlino</a></li>
                    
    <li><a href="members/XxFrosty-GirlxX"><img src="../images/pfps/ptwo7mfqskgri2r7ypv2ybpwj2svcm7p3s0045gnen3odij2x5so67bgytzy3vcwe4p8xvnSnapshot_20091218.jpg" class="profile-picture"/></a> <a href="members/XxFrosty-GirlxX">XxFrosty-GirlxX</a></li>
                    
    <li><a href="members/selenademi12345"><img src="../images/pfps/r7q867o2xjnuc5koyve5gsbei4anvsrcp68m4ofsvscvmkab4c4cv6e2ycekvtnbqnnj0q2Demi-Selena-3-selena-gomez-and-demi-lovato-7148474-75-75.jpg" class="profile-picture"/></a> <a href="members/selenademi12345">selenademi12345</a></li>
                    
    <li><a href="members/ChowderRocks"><img src="../images/pfps/ma6uq5rxkr65kwy3o4np8hccq5n58mzmnw40qmpy0jua7h2mddyam0c2unvtzj3b4x2k7f8th_chowder.gif" class="profile-picture"/></a> <a href="members/ChowderRocks">ChowderRocks</a></li>
                    
    <li><a href="members/curleywebkinz"><img src="../images/pfps/dk835c75zxkkefmcyp3mwem87f6vvbnynmsgpocdaoofrxheb8oxezuc3rynscc5msd06f2cutey krystal.jpg" class="profile-picture"/></a> <a href="members/curleywebkinz">curleywebkinz</a></li>
                    
    <li><a href="members/videoprincess"><img src="../images/pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" class="profile-picture"/></a> <a href="members/videoprincess">videoprincess</a></li>
                    
    <li><a href="members/iRock"><img src="../images/pfps/ayugeviq4g3jjyo64ee7e6wbiket56y3thav3hcvo46vrismkxipu5q0eskan707f2t6autiRock(2).jpg" class="profile-picture"/></a> <a href="members/iRock">iRock</a></li>
                    
    <li><a href="members/TRIPLETS"><img src="../images/pfps/eoBp8cXUmPajsp92C0kLQhJ3lmVz0w8T.jpg" class="profile-picture"/></a> <a href="members/TRIPLETS">TRIPLETS</a></li>
                    
    <li><a href="members/cocoluvsbryan"><img src="../images/pfps/v88sakugkjnfuw2pyuhx66zt3sx7j7y44wn2758ifmoyaeewzmiwi7edq3bxyyssj3ihxgp151359.jpg" class="profile-picture"/></a> <a href="members/cocoluvsbryan">cocoluvsbryan</a></li>
                    
    <li><a href="members/sammyzeus"><img src="../images/pfps/b0y5nv5svhb567kwmmd4xgkz7rh20ph2f6wsqsbaxb5v6hgitjbfok6m2ccrqihvd4esmes154014qa3vx1edo9.jpg" class="profile-picture"/></a> <a href="members/sammyzeus">sammyzeus</a></li>
                    
    <li><a href="members/spongeybrown123"><img src="../images/pfps/agt3r45xk38kqvpjkc0tvv8kts36cjbcos54nysxrr65ejdnj456o4f7o83og4rtnkozb4mKilling Barney.jpg" class="profile-picture"/></a> <a href="members/spongeybrown123">spongeybrown123</a></li>
                    
    <li><a href="members/lolcatsrules"><img src="../images/pfps/QZZLu5bGJR6lTylNo9N6kwV9fFYwgqWx.gif" class="profile-picture"/></a> <a href="members/lolcatsrules">lolcatsrules</a></li>
                    
    <li><a href="members/thuboys11111"><img src="../images/pfps/5Nbxw8iaK403ISGuKzFruTE6pkb0umpq.jpg" class="profile-picture"/></a> <a href="members/thuboys11111">thuboys11111</a></li>
                    
    <li><a href="members/loveevrything"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/loveevrything">loveevrything</a></li>
                    
    <li><a href="members/wefunny101"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/wefunny101">wefunny101</a></li>
                    
    <li><a href="members/caite1"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/caite1">caite1</a></li>
                    
    <li><a href="members/Ilovejustinbieber1"><img src="../images/pfps/rCYxCjxIy9aRCjjxSimXnUcIFEFQeunL.jpg" class="profile-picture"/></a> <a href="members/Ilovejustinbieber1">Ilovejustinbieber1</a></li>
                    
    <li><a href="members/Music_Video_Mania"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Music_Video_Mania">Music_Video_Mania</a></li>
                    
    <li><a href="members/rockonselena1fan"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/rockonselena1fan">rockonselena1fan</a></li>
                    
    <li><a href="members/quala1112"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/quala1112">quala1112</a></li>
                    
    <li><a href="members/Candy20042"><img src="../images/pfps/qgudhgwnz8tivx3u8djhcpomms57hfxwjjzsok3ejnk38fp7gydicsvo8pjfu823gsmu3dxcolors!!!.jpg" class="profile-picture"/></a> <a href="members/Candy20042">Candy20042</a></li>
                    
    <li><a href="members/asiatheprincess"><img src="../images/pfps/v4tp0pg06t7yk008dj8i0g6emihsosc7nvndbr25czunpkmsumyjsto20tkfcoeo7pr75h3nicki-minaj.jpg" class="profile-picture"/></a> <a href="members/asiatheprincess">asiatheprincess</a></li>
                    
    <li><a href="members/bubblyvampire1"><img src="../images/pfps/o6aakr62ydj584hvduau73azvj7b42khxmh63cwqg6mfzr03bzm8tnzdwxcppoubz07r3u7photofunia4.jpg" class="profile-picture"/></a> <a href="members/bubblyvampire1">bubblyvampire1</a></li>
                    
    <li><a href="members/Senior-O-Bradleyto"><img src="../images/pfps/TKUIkic1XuXoJjabYpDvnVArtCn1YDmp.jpg" class="profile-picture"/></a> <a href="members/Senior-O-Bradleyto">Senior-O-Bradleyto</a></li>
                    
    <li><a href="members/Moontheif"><img src="../images/pfps/JS3WXsevttyna84MXFw7llLquHwWovkx.gif" class="profile-picture"/></a> <a href="members/Moontheif">Moontheif</a></li>
                    
    <li><a href="members/green1994"><img src="../images/pfps/B4HDRtRzd1yvWjhUbfarkTCJkmh71q30.gif" class="profile-picture"/></a> <a href="members/green1994">green1994</a></li>
                    
    <li><a href="members/cassiequeen"><img src="../images/pfps/LN6l7kznoyjtEy6NlyV64IorLJNotbR2.gif" class="profile-picture"/></a> <a href="members/cassiequeen">cassiequeen</a></li>
                    
    <li><a href="members/mauriel1614"><img src="../images/pfps/MQf4kfl3cdCfIPDF8i6t7c6ycUoALMTX.jpg" class="profile-picture"/></a> <a href="members/mauriel1614">mauriel1614</a></li>
                    
    <li><a href="members/nofacefairies"><img src="../images/pfps/xRAkIgbbxtpSmgL1Y9QfSv2XtEO51zRo.jpg" class="profile-picture"/></a> <a href="members/nofacefairies">nofacefairies</a></li>
                    
    <li><a href="members/Baby Boo98"><img src="../images/pfps/yhEBcdeGeVeMtBmWrzVlQIfZubnoEyP3.jpg" class="profile-picture"/></a> <a href="members/Baby Boo98">Baby Boo98</a></li>
                    
    <li><a href="members/ALA23"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ALA23">ALA23</a></li>
                    
    <li><a href="members/catlover25222"><img src="../images/pfps/yfDx2e9qnYhGKVHZ6XiBrDgoYUXlmqUZ.gif" class="profile-picture"/></a> <a href="members/catlover25222">catlover25222</a></li>
                    
    <li><a href="members/inuyasha"><img src="../images/pfps/l87cBFvgiPTTWtWEb0UxlJ8ZUgR3QBu2.jpg" class="profile-picture"/></a> <a href="members/inuyasha">inuyasha</a></li>
                    
    <li><a href="members/ryno99"><img src="../images/pfps/IS3kxCYdXElcjkrspFktKvq8LEUs5waB.gif" class="profile-picture"/></a> <a href="members/ryno99">ryno99</a></li>
                    
    <li><a href="members/curly824"><img src="../images/pfps/HdzrNCPONwGGivta2C2ypelm0iVUvyb2.jpg" class="profile-picture"/></a> <a href="members/curly824">curly824</a></li>
                    
    <li><a href="members/taylorswift323"><img src="../images/pfps/VPn8Hce5hvrekDIaHNBFftwGA7JhHmKc.gif" class="profile-picture"/></a> <a href="members/taylorswift323">taylorswift323</a></li>
                    
    <li><a href="members/Jewelz"><img src="../images/pfps/37puwyEEBcLIgCrC6sMRiVRuh8cdL1EC.jpg" class="profile-picture"/></a> <a href="members/Jewelz">Jewelz</a></li>
                    
    <li><a href="members/aminalove"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/aminalove">aminalove</a></li>
                    
    <li><a href="members/bllbbb1"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/bllbbb1">bllbbb1</a></li>
                    
    <li><a href="members/buster12"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/buster12">buster12</a></li>
                    
    <li><a href="members/Gamergirlstudios"><img src="../images/pfps/AVACpeJkS0j7kCHGl48ma3TFK3IiRi4P.jpg" class="profile-picture"/></a> <a href="members/Gamergirlstudios">Gamergirlstudios</a></li>
                    
    <li><a href="members/JUSTIN123321"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/JUSTIN123321">JUSTIN123321</a></li>
                    
    <li><a href="members/KashiiGLitter"><img src="../images/pfps/Heucdm7ZXFM7Qa0hCh3ZuYmJ9I4trrpy.jpg" class="profile-picture"/></a> <a href="members/KashiiGLitter">KashiiGLitter</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/shlup" file="pfps/2qHiuHo0OnbcVgXnB2ksSLbqwBVuP00H.jpg" alt="shlup" %}

<p><b>Username:</b> <a href="members/shlup>shlup</a></p>

<p><b>Date:</b> 2011-01-27 11:59:09</p>

<p class="comment"><b>Comment:</b> <p>Hey there! You're AWESOME! Rock on, girl!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/zacattack" file="pfps/tKwSVfsVvmJrCghuJGarbcX6MPGN5kkm.png" alt="zacattack" %}

<p><b>Username:</b> <a href="members/zacattack>zacattack</a></p>

<p><b>Date:</b> 2010-10-29 14:30:24</p>

<p class="comment"><b>Comment:</b> <p> Hi!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Kel_keke" file="pfps/placeholder.gif" alt="Kel_keke" %}

<p><b>Username:</b> <a href="members/Kel_keke>Kel_keke</a></p>

<p><b>Date:</b> 2010-10-08 16:02:19</p>

<p class="comment"><b>Comment:</b> <p>kill bullying on kidstube and join <span style="color: rgb(255, 0, 0);"><span style="font-size: xx-large;">STOP THE BITE</span></span> </p>
<p>kidstubecollaber.webs.com</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/carrotcake123" file="pfps/placeholder.gif" alt="carrotcake123" %}

<p><b>Username:</b> <a href="members/carrotcake123>carrotcake123</a></p>

<p><b>Date:</b> 2010-08-28 17:39:26</p>

<p class="comment"><b>Comment:</b> <p> hi</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/biber262" file="pfps/9lV20RE0SYPElH5ROgGMaOCDifFbuO0r.gif" alt="biber262" %}

<p><b>Username:</b> <a href="members/biber262>biber262</a></p>

<p><b>Date:</b> 2010-06-16 17:13:36</p>

<p class="comment"><b>Comment:</b> <p><span ajax-profile-abuse_11192"="" style="font-size:12.0pt;font-family:&lt;/li&gt;

              &lt;li id="></span></p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>