---
title: BiEbErLoVeR123
sidebar: home_sidebar
hide_sidebar: true
keywords: BiEbErLoVeR123
permalink: members/BiEbErLoVeR123
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/placeholder.gif" alt="BiEbErLoVeR123" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b></b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>15</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>116</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>2</b></li>
        
<li> Rating: <b>100%</b> out of <b>1 Vote</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/sweet_tooth66"><img src="../images/pfps/fCYz49tWtapnfccEixu2SlVRMZcNiAbB.jpg" class="profile-picture"/></a> <a href="members/sweet_tooth66">sweet_tooth66</a></li>
                    
    <li><a href="members/homeyg"><img src="../images/pfps/U5QZBfkwtQbN0RArXLzKd6Jncoo7BD1W.gif" class="profile-picture"/></a> <a href="members/homeyg">homeyg</a></li>
                    
    <li><a href="members/minnskatie"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/minnskatie">minnskatie</a></li>
                    
    <li><a href="members/tiff12123"><img src="../images/pfps/qE7EbAv5O1TKJOTmVCJyphw2gQHT9Ssp.jpg" class="profile-picture"/></a> <a href="members/tiff12123">tiff12123</a></li>
                    
    <li><a href="members/aliceissocool"><img src="../images/pfps/gTSDrrIy6gOys95o7trA29CTbtYXzeRW.gif" class="profile-picture"/></a> <a href="members/aliceissocool">aliceissocool</a></li>
                    
    <li><a href="members/hannahie4215"><img src="../images/pfps/D7pjwWAJI8WgOaZFG9xQiRgi1EXtcd8g.jpg" class="profile-picture"/></a> <a href="members/hannahie4215">hannahie4215</a></li>
                    
    <li><a href="members/all_smiles22"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/all_smiles22">all_smiles22</a></li>
                    
    <li><a href="members/Anjayo"><img src="../images/pfps/qckRIrdqFHa20ebIbnJsQfthvX9Trh8V.gif" class="profile-picture"/></a> <a href="members/Anjayo">Anjayo</a></li>
                    
    <li><a href="members/fashionlover123"><img src="../images/pfps/9IHLaxdztOxygDWaNXtNLqEJ4dD5BRXA.jpg" class="profile-picture"/></a> <a href="members/fashionlover123">fashionlover123</a></li>
                    
    <li><a href="members/dakota4125"><img src="../images/pfps/I1UxOBCxMga8Z2nVo4KXT8O5cKELwLa2.jpg" class="profile-picture"/></a> <a href="members/dakota4125">dakota4125</a></li>
                    
    <li><a href="members/kids next door"><img src="../images/pfps/EnTYi4ZyVAoKPs8RVwZ88BLQowvKXCkb.png" class="profile-picture"/></a> <a href="members/kids next door">kids next door</a></li>
                    
    <li><a href="members/doodle bug"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/doodle bug">doodle bug</a></li>
                    
    <li><a href="members/clubpenguinrocks9089"><img src="../images/pfps/M6qxcf31vvcnxPjXuPGCzajOPSYexXP9.jpg" class="profile-picture"/></a> <a href="members/clubpenguinrocks9089">clubpenguinrocks9089</a></li>
                    
    <li><a href="members/nckm"><img src="../images/pfps/TVEE3vTa15fa15rwhGLB0Ty1MiFfGFba.gif" class="profile-picture"/></a> <a href="members/nckm">nckm</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>