---
title: Bigchill
sidebar: home_sidebar
hide_sidebar: true
keywords: Bigchill
permalink: members/Bigchill
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/EBHqRfSwdEZCZtGbtLn6HQnnVDQjjWJl.png" alt="Bigchill" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Bridget</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>19</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>316</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>3</b></li>
        
<li> Rating: <b>100%</b> out of <b>5</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Avatar pics</li>
<img src="{{"../images/thumb/vwpm2EQjj5zDYjFtxoRY.jpg"}}" alt="thumbnail"/>

</ul>
            
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/iHaveToGetALife"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/iHaveToGetALife">iHaveToGetALife</a></li>
                    
    <li><a href="members/Buns"><img src="../images/pfps/ATHqW8WhHvD8lsg5A4vB0wuy3BS1oQAn.gif" class="profile-picture"/></a> <a href="members/Buns">Buns</a></li>
                    
    <li><a href="members/Gatswimmer"><img src="../images/pfps/dZuM8HLOJJEHyPxVEp2XOmeTOvT7cBW3.gif" class="profile-picture"/></a> <a href="members/Gatswimmer">Gatswimmer</a></li>
                    
    <li><a href="members/moonstone85"><img src="../images/pfps/RYn5fwWeRPzknOQo7BMBZMjSdUatuFi9.jpg" class="profile-picture"/></a> <a href="members/moonstone85">moonstone85</a></li>
                    
    <li><a href="members/nevit"><img src="../images/pfps/L1Sbvi1yhPzBNk0EQ4Ahjm6qvBPs5siE.gif" class="profile-picture"/></a> <a href="members/nevit">nevit</a></li>
                    
    <li><a href="members/sarastarproductionz"><img src="../images/pfps/cO1M2hKXFX66aZKAMNv90tAsM2IGFEsg.jpg" class="profile-picture"/></a> <a href="members/sarastarproductionz">sarastarproductionz</a></li>
                    
    <li><a href="members/ohnoahhh"><img src="../images/pfps/1OsXLaN5l8igHicOiUAIacV2Lwo8gCiY.jpg" class="profile-picture"/></a> <a href="members/ohnoahhh">ohnoahhh</a></li>
                    
    <li><a href="members/EvilNeko321"><img src="../images/pfps/tkeNSSc717KMuyTNteUtEn4rbYuofZUN.gif" class="profile-picture"/></a> <a href="members/EvilNeko321">EvilNeko321</a></li>
                    
    <li><a href="members/Fordark"><img src="../images/pfps/b4oCILOhv55JIqNaplnq29Uvnpl4Aelb.jpg" class="profile-picture"/></a> <a href="members/Fordark">Fordark</a></li>
                    
    <li><a href="members/Firemario"><img src="../images/pfps/kZ4b8bDuMgRCvO9XRk9zGGpBXZY8mmGM.jpg" class="profile-picture"/></a> <a href="members/Firemario">Firemario</a></li>
                    
    <li><a href="members/kataangy98"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/kataangy98">kataangy98</a></li>
                    
    <li><a href="members/dcfan100"><img src="../images/pfps/dsf5TLPxdjFHUoeYhvev6dHs6BiqrUsK.gif" class="profile-picture"/></a> <a href="members/dcfan100">dcfan100</a></li>
                    
    <li><a href="members/Kassie243"><img src="../images/pfps/bZG5AYxrOBzn3byUJBhKc461XmJBzQAQ.jpg" class="profile-picture"/></a> <a href="members/Kassie243">Kassie243</a></li>
                    
    <li><a href="members/benalon74"><img src="../images/pfps/f8jKQQiWnqCXG61JxKrutWGcZSrnvnxQ.jpg" class="profile-picture"/></a> <a href="members/benalon74">benalon74</a></li>
                    
    <li><a href="members/Quinlan71"><img src="../images/pfps/Z0AM9TR0by0HpE34sO3oGtwu1wvZ6vPV.gif" class="profile-picture"/></a> <a href="members/Quinlan71">Quinlan71</a></li>
                    
    <li><a href="members/Ben10Aliens"><img src="../images/pfps/O5hbZbGbes8wijtoKUjA8YcOnKja42WG.png" class="profile-picture"/></a> <a href="members/Ben10Aliens">Ben10Aliens</a></li>
                    
    <li><a href="members/PsychoticTi-fox"><img src="../images/pfps/iHqC3R17e0RaReLdfeiNPoBplgnbMsds.gif" class="profile-picture"/></a> <a href="members/PsychoticTi-fox">PsychoticTi-fox</a></li>
                    
    <li><a href="members/Pikatwo"><img src="../images/pfps/XgJN4wxZl2fsmL0P83DdwTDzQdVguJjF.gif" class="profile-picture"/></a> <a href="members/Pikatwo">Pikatwo</a></li>
                    
    <li><a href="members/stargazer1"><img src="../images/pfps/OrLassEeQCAPE0TvQQUp8s6B2SOgcJVo.jpg" class="profile-picture"/></a> <a href="members/stargazer1">stargazer1</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/Bigchill" file="pfps/EBHqRfSwdEZCZtGbtLn6HQnnVDQjjWJl.png" alt="Bigchill" %}

<p><b>Username:</b> <a href="members/Bigchill">Bigchill</a></p>

<p><b>Date:</b> 2011-04-26 12:11:02</p>

<p class="comment"><b>Comment:</b> <p>Yay! Over three hundred profile views and i've onley posted one video.lol.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/PsychoPikaNess" file="pfps/placeholder.gif" alt="PsychoPikaNess" %}

<p><b>Username:</b> <a href="members/PsychoPikaNess">PsychoPikaNess</a></p>

<p><b>Date:</b> 2011-04-24 12:24:04</p>

<p class="comment"><b>Comment:</b> <p>Ness: Well, we do have your friends Psycho-Tifox and Pikatwo as rather respected members.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Bigchill" file="pfps/EBHqRfSwdEZCZtGbtLn6HQnnVDQjjWJl.png" alt="Bigchill" %}

<p><b>Username:</b> <a href="members/Bigchill">Bigchill</a></p>

<p><b>Date:</b> 2011-04-21 18:06:45</p>

<p class="comment"><b>Comment:</b> <p>IMA FIREN MY LAZOR!!!!!!!!!!!<img alt="" src="../images/fckeditor/editor/images/smiley/msn/omg_smile.gif"/><span style="color: #00ccff">---------------------------------------------------------------------------------------------</span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Bigchill" file="pfps/EBHqRfSwdEZCZtGbtLn6HQnnVDQjjWJl.png" alt="Bigchill" %}

<p><b>Username:</b> <a href="members/Bigchill">Bigchill</a></p>

<p><b>Date:</b> 2011-04-19 16:53:01</p>

<p class="comment"><b>Comment:</b> <p>Well <a href="mailto:awsome!!!!!!!@Ben10Aliens">awsome!!!!!!!@Ben10Aliens</a></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Ben10Aliens" file="pfps/O5hbZbGbes8wijtoKUjA8YcOnKja42WG.png" alt="Ben10Aliens" %}

<p><b>Username:</b> <a href="members/Ben10Aliens">Ben10Aliens</a></p>

<p><b>Date:</b> 2011-04-19 15:18:34</p>

<p class="comment"><b>Comment:</b> <p><span style="font-family: Comic Sans MS"><span style="font-size: xx-large"><span style="color: #ff0000">I DO like Ben 10 too.</span></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Bigchill" file="pfps/EBHqRfSwdEZCZtGbtLn6HQnnVDQjjWJl.png" alt="Bigchill" %}

<p><b>Username:</b> <a href="members/Bigchill">Bigchill</a></p>

<p><b>Date:</b> 2011-04-19 14:18:09</p>

<p class="comment"><b>Comment:</b> <p>Thanks buns! But buns... I'm a girl! XD<img alt="" src="../images/fckeditor/editor/images/smiley/msn/tounge_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Buns" file="pfps/JFCzhGYVTipqq9gXYlRMFydtpIlZcjKl.jpg" alt="Buns" %}

<p><b>Username:</b> <a href="members/Buns">Buns</a></p>

<p><b>Date:</b> 2011-04-19 06:41:37</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;">I AGREE WITH BIGCHILL. GET OFF HIS HOME PAGE</span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Bigchill" file="pfps/EBHqRfSwdEZCZtGbtLn6HQnnVDQjjWJl.png" alt="Bigchill" %}

<p><b>Username:</b> <a href="members/Bigchill">Bigchill</a></p>

<p><b>Date:</b> 2011-04-18 18:06:57</p>

<p class="comment"><b>Comment:</b> <p>I didn't say you dissed every thing i like,now get off my homepage or i'm flagging you.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Pikatwo" file="pfps/XgJN4wxZl2fsmL0P83DdwTDzQdVguJjF.gif" alt="Pikatwo" %}

<p><b>Username:</b> <a href="members/Pikatwo">Pikatwo</a></p>

<p><b>Date:</b> 2011-04-18 17:56:49</p>

<p class="comment"><b>Comment:</b> <p> I also dissed Skunk Fu, and I DIDN'T DISS EVERYTHING YOU LIKE.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Bigchill" file="pfps/EBHqRfSwdEZCZtGbtLn6HQnnVDQjjWJl.png" alt="Bigchill" %}

<p><b>Username:</b> <a href="members/Bigchill">Bigchill</a></p>

<p><b>Date:</b> 2011-04-18 16:28:06</p>

<p class="comment"><b>Comment:</b> <p>Get off my home page Pikatwo.I don't hate you for hating ben 10.I'm mad you knew I liked it and posted it anyway.That was really rude of you to diss it like that.Totaly uncalled for.whats really pathtic is your need to diss every little thing you don't like.Now leave me alone.<img alt="" src="../images/fckeditor/editor/images/smiley/msn/angry_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Pikatwo" file="pfps/XgJN4wxZl2fsmL0P83DdwTDzQdVguJjF.gif" alt="Pikatwo" %}

<p><b>Username:</b> <a href="members/Pikatwo">Pikatwo</a></p>

<p><b>Date:</b> 2011-04-18 16:00:10</p>

<p class="comment"><b>Comment:</b> <p> It's rather pathetic that you don't like me anymore because I don't like ben 10.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/dcfan100" file="pfps/dsf5TLPxdjFHUoeYhvev6dHs6BiqrUsK.gif" alt="dcfan100" %}

<p><b>Username:</b> <a href="members/dcfan100">dcfan100</a></p>

<p><b>Date:</b> 2011-04-05 19:18:03</p>

<p class="comment"><b>Comment:</b> <p> Yo! A response to your comment on my Naruto Avatar video.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/twinkle toes" file="pfps/placeholder.gif" alt="twinkle toes" %}

<p><b>Username:</b> <a href="members/twinkle toes">twinkle toes</a></p>

<p><b>Date:</b> 2011-03-31 13:57:50</p>

<p class="comment"><b>Comment:</b> <p><span style="color: rgb(255, 0, 255);">hi bigchill ! its me ! your friend !</span></p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>