---
title: bigdogs10
sidebar: home_sidebar
hide_sidebar: true
keywords: bigdogs10
permalink: members/bigdogs10
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/gm0h3bg5anc7m5pcbfpx43xhav4wpzstchy3g5ygiyesvrsuu8gpz4xzoqm3g4mgabag5znPhoto 51.jpg" alt="bigdogs10" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>8</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>1</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>adopting my webkinz tomato fish</li>
<img src="{{"../images/thumb/1_17258.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>webkinz</li>
                
go me me me me me
                
                <br>
Added: 24-07-2009
                
</ul>
                
<ul>
<li>free webkinz code       i show it on the screen</li>
                
hope the first person likes it
                
                <br>
Added: 25-07-2009
                
</ul>
                
<ul>
<li>bigdogs10's sister</li>
                
i show what my sister looks like in funny view
                
                <br>
Added: 26-07-2009
                
</ul>
                
<ul>
<li>a short show about i carly</li>
                
hope you like it fred is in it
                
                <br>
Added: 26-07-2009
                
</ul>
                
<ul>
<li>my-dog</li>
                
i want to get to at least 150 views
                
                <br>
Added: 26-07-2009
                
</ul>
                
<ul>
<li>the number one contest entry</li>
                
a contest entry for the comercial contest
                
                <br>
Added: 26-07-2009
                
</ul>
                
<ul>
<li>webkinz contest</li>
                
hope you win
                
                <br>
Added: 27-07-2009
                
</ul>
                
<ul>
<li>adopting-my-webkinz-tomato-fish</li>
                
adoption video
                
                <br>
Added: 17-08-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Pacifica"><img src="../images/pfps/bh8usb5joeewp85vcdomk7jhnqqqtk4ss4b836ghak2phx8hzntbi2itiwbz75grxiopfvupacifica logo.png" class="profile-picture"/></a> <a href="members/Pacifica">Pacifica</a></li>
                    
    <li><a href="members/gamemaster2000"><img src="../images/pfps/rexuh34r0kcu265ufkpexhqk6rzgtu48yru5knndxnvriramzorpv5zsoox58s3waoqjy0kmypictr_140x185(2).jpg" class="profile-picture"/></a> <a href="members/gamemaster2000">gamemaster2000</a></li>
                    
    <li><a href="members/clover13"><img src="../images/pfps/zjhxak0km2vyba36d2qrkccoixejwk0ku68siy2srohqmaoq247b57newrmh2dsmbs4hhuxsyn.jpg" class="profile-picture"/></a> <a href="members/clover13">clover13</a></li>
                    
    <li><a href="members/Dawgsta"><img src="../images/pfps/nkwkza7iknsmu2fstfnan5quy7xnimgvu46i22rddbnv0sdkwqkamyv8whm5trpdmkmcd4dPhoto 98.jpg" class="profile-picture"/></a> <a href="members/Dawgsta">Dawgsta</a></li>
                    
    <li><a href="members/thevideogamemaster"><img src="../images/pfps/mR4TbRUGPjNkfZcsPAM0P0BH9ki7TJf3.png" class="profile-picture"/></a> <a href="members/thevideogamemaster">thevideogamemaster</a></li>
                    
    <li><a href="members/bonehead999"><img src="../images/pfps/75eqprmsh6yvrndasm7rzvncu3ykaut5qvj4bwnjra36n664j4m7oy86qxiogziwmspnd0uPhoto 111.jpg" class="profile-picture"/></a> <a href="members/bonehead999">bonehead999</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>