---
title: BJSimpson
sidebar: home_sidebar
hide_sidebar: true
keywords: BJSimpson
permalink: members/BJSimpson
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/Q75qUnGeDPu0Y9diD2USecHYLd7IuQk9.jpg" alt="BJSimpson" max-width="100"%}
            
    {% include inline_image.html file="pfps/30253.jpg" alt="BJSimpson" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Brendan</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>24</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>106</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>45</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>920</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>2</b></li>
        
<li> Rating: <b>97.14%</b> out of <b>7</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>The Buddy Show 7 - used on KidzBop.com</li>
<img src="{{"../images/thumb/nxrzNQpzQNfFmB24jcvC.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The Buddy Show 5 - from Kidz Bop</li>
<img src="{{"../images/thumb/d0sRiRonxGZkvZ1h2dim.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Adventures of SonicMan 1</li>
<img src="{{"../images/thumb/PdEqdh3XlJqsbKI3X15Y.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The Buddy Show 8 - from KidzBop</li>
<img src="{{"../images/thumb/jrLbyCSGCpROk2rUhGcB.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The Buddy Show 9 - from KidzBop</li>
<img src="{{"../images/thumb/ry1Oigq0VIzeiv1oBw2t.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>iPhone App Reviews - KB Glow</li>
<img src="{{"../images/thumb/pbQ24A5KmBwNkJNiwXso.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Quickest Animation Ever!</li>
<img src="{{"../images/thumb/1_68425.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Catch 33 iPhone App Review</li>
<img src="{{"../images/thumb/1_70388.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>iPhone App Review - Aim X</li>
<img src="{{"../images/thumb/1_82441.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The-Buddy-Show-7--used-on-KidzBopcom</li>
                
This is a video I used in my webshow from KidzBop and I imported to KidsTube.
                
                <br>
Added: 21-08-2010
                
</ul>
                
<ul>
<li>Georganism-Walkthrough-for-Level-2</li>
                
This is a walkthrough for level 2 on Georganism./nPlay at: http://www.notdoppler.com/georganism.php
                
                <br>
Added: 13-11-2011
                
</ul>
                
<ul>
<li>Georganism-Walkthrough-for-Level-3</li>
                
This is a walkthrough for level 3 of Georganism./nPlay at: http://www.notdoppler.com/georganism.php
                
                <br>
Added: 13-11-2011
                
</ul>
                
<ul>
<li>Georganism-Walkthrough-for-Level-4</li>
                
This is a walkthrough for Level 4 of Georganism:/nPlay it now at: http://www.notdoppler.com/georganism.php
                
                <br>
Added: 13-11-2011
                
</ul>
                
<ul>
<li>2-Cool-Windows-XP-Tricks</li>
                
Here are two cool tricks you can do with your Windows XP computer.
                
                <br>
Added: 13-11-2011
                
</ul>
                
<ul>
<li>Animations-The-Stairs</li>
                
This is a simple 20 second animation of stairs appearing with a stick man. Easy to make - if you wanna see more, just tell me!
                
                <br>
Added: 13-11-2011
                
</ul>
                
<ul>
<li>Animations-iPhone</li>
                
This is a short 20 second animation of the iPhone title being drawn.
                
                <br>
Added: 13-11-2011
                
</ul>
                
<ul>
<li>Animations-Windows-XP-Bootup</li>
                
This is a short animation of Windows XP booting up on a computer.
                
                <br>
Added: 25-11-2011
                
</ul>
                
<ul>
<li>Animations-Windows-Vista-Bootup</li>
                
This is a short animation of Windows Vista booting up on a computer.
                
                <br>
Added: 25-11-2011
                
</ul>
                
<ul>
<li>Animations-Windows-95-Bootup</li>
                
This is a short animation of Windows 95 booting up on a computer.
                
                <br>
Added: 25-11-2011
                
</ul>
                
<ul>
<li>Animations-Windows-98-Bootup</li>
                
This is a short animation of Windows 98 booting up on a computer.
                
                <br>
Added: 25-11-2011
                
</ul>
                
<ul>
<li>iPhone-App-Review-Balls</li>
                
Balls is a basic bouncy ball simulation app that is FREE on the App Store.
                
                <br>
Added: 25-12-2011
                
</ul>
                
<ul>
<li>Animations-Macintosh-System-11-Bootup</li>
                
This is a short animation of System 1.1 booting.
                
                <br>
Added: 08-01-2012
                
</ul>
                
<ul>
<li>Animations-Mac-OS-8-Bootup</li>
                
This is a short animation of Mac OS 8 booting.
                
                <br>
Added: 08-01-2012
                
</ul>
                
<ul>
<li>Animations-Mac-OS-9-Bootup</li>
                
This is a short animation of Mac OS 9 booting.
                
                <br>
Added: 08-01-2012
                
</ul>
                
<ul>
<li>Animations-Lisa-OFfice-System-Bootups</li>
                
This is a short animation with two bootups of the Apple Lisa Office System.
                
                <br>
Added: 08-01-2012
                
</ul>
                
<ul>
<li>Animations-Amiga-Workbench-OS-Bootups</li>
                
This is a short animation with two bootups of Amiga Workbench OS.
                
                <br>
Added: 08-01-2012
                
</ul>
                
<ul>
<li>Animations-Windows-2000-Bootup</li>
                
This is a short animation of Windows 2000 booting up.
                
                <br>
Added: 08-01-2012
                
</ul>
                
<ul>
<li>Animations-Windows-ME-Bootup</li>
                
This is a short animation of Windows ME booting up.
                
                <br>
Added: 08-01-2012
                
</ul>
                
<ul>
<li>The-Buddy-Show-8--from-KidzBop</li>
                
This is an episode from my webshow on KidzkBop, The Buddy Show. Check me out on KidzBop at www.kidzbop.com/iBrendan.
                
                <br>
Added: 02-10-2010
                
</ul>
                
<ul>
<li>Georganism-Walkthrough-for-Level-1</li>
                
This is a walkthrough for Level 1 on Georganism.
                
                <br>
Added: 04-11-2011
                
</ul>
                
<ul>
<li>Animations-Windows-7-Bootup</li>
                
This is a short animation of Windows 7 booting up on a computer.
                
                <br>
Added: 25-11-2011
                
</ul>
                
<ul>
<li>Animations-Windows-Vista-Longhorn-4015-Bootup</li>
                
This is a short animation of Windows Vista Longhorn Milestone Five Build 4015 booting up.
                
                <br>
Added: 08-01-2012
                
</ul>
                
<ul>
<li>Animations-Windows-7-Bootup</li>
                
This is a short animation of Windows 7 booting up on a computer.
                
                <br>
Added: 25-11-2011
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/zacattack"><img src="../images/pfps/zKJn0Xp4Cm4GA3yfulrMLpgWL9GtHdy6.png" class="profile-picture"/></a> <a href="members/zacattack">zacattack</a></li>
                    
    <li><a href="members/Candy_Pop"><img src="../images/pfps/RoIiaBPvp50NLwAEH2gWNs1M0HI57AcM.png" class="profile-picture"/></a> <a href="members/Candy_Pop">Candy_Pop</a></li>
                    
    <li><a href="members/Petstar"><img src="../images/pfps/xUhSv14NPkvdCCjGEmT3dfbcXFpfmKSZ.jpg" class="profile-picture"/></a> <a href="members/Petstar">Petstar</a></li>
                    
    <li><a href="members/TRIPLETS"><img src="../images/pfps/eoBp8cXUmPajsp92C0kLQhJ3lmVz0w8T.jpg" class="profile-picture"/></a> <a href="members/TRIPLETS">TRIPLETS</a></li>
                    
    <li><a href="members/guineapigluver"><img src="../images/pfps/GqGje8w4uNTL0ZGOpxNqfaEXaQid4aR9.jpg" class="profile-picture"/></a> <a href="members/guineapigluver">guineapigluver</a></li>
                    
    <li><a href="members/mccomic"><img src="../images/pfps/DbbG7nCieHDG5K9KkkDdF2JpjOj5kgQl.jpg" class="profile-picture"/></a> <a href="members/mccomic">mccomic</a></li>
                    
    <li><a href="members/jessrocks18"><img src="../images/pfps/6CkN7WgXWWOQy0ChyjErug1Wddkn9Zg5.gif" class="profile-picture"/></a> <a href="members/jessrocks18">jessrocks18</a></li>
                    
    <li><a href="members/aalx"><img src="../images/pfps/yc20bhj5a3nh72on0tdmyobgx4vohw26yuv005w0w76txm6p570sjzy7sijz5cuuvgjnb4cmotocycle.jpg" class="profile-picture"/></a> <a href="members/aalx">aalx</a></li>
                    
    <li><a href="members/6patch10"><img src="../images/pfps/QI06IyEZJeQEAcjp7aZ8KBgaSQVB9fyP.jpg" class="profile-picture"/></a> <a href="members/6patch10">6patch10</a></li>
                    
    <li><a href="members/veganlroy"><img src="../images/pfps/rvn52b8svui0xderpan0fmfom3qpbbtqx6kq8jau4gkshn7ukkmqvq47hinhk6x646n0ekjTheRedGuy.gif" class="profile-picture"/></a> <a href="members/veganlroy">veganlroy</a></li>
                    
    <li><a href="members/WillyGoombaTV"><img src="../images/pfps/Jei4bszxnTcGlN1lZQcURQkSlXYvm4Vv.png" class="profile-picture"/></a> <a href="members/WillyGoombaTV">WillyGoombaTV</a></li>
                    
    <li><a href="members/VioletTheCat"><img src="../images/pfps/LLsBccX5fXBUsGCIDB9LGeQxgYgUk5fw.png" class="profile-picture"/></a> <a href="members/VioletTheCat">VioletTheCat</a></li>
                    
    <li><a href="members/Ki-KitheHeghog"><img src="../images/pfps/AYEWpbODXkn4KWvrNMSnykO29577ydQw.png" class="profile-picture"/></a> <a href="members/Ki-KitheHeghog">Ki-KitheHeghog</a></li>
                    
    <li><a href="members/renee"><img src="../images/pfps/RoE2MGkWNZGC8pp2naYeicpAMTfOMr7d.gif" class="profile-picture"/></a> <a href="members/renee">renee</a></li>
                    
    <li><a href="members/kookookitty"><img src="../images/pfps/z3uqJ150mSVkOBLaeVzUloUKOFOkpStf.gif" class="profile-picture"/></a> <a href="members/kookookitty">kookookitty</a></li>
                    
    <li><a href="members/StartehLion"><img src="../images/pfps/AUsC8lDGGP7kRKgVA1RUXDxulqt3zdf0.gif" class="profile-picture"/></a> <a href="members/StartehLion">StartehLion</a></li>
                    
    <li><a href="members/Gamergirlstudios"><img src="../images/pfps/AVACpeJkS0j7kCHGl48ma3TFK3IiRi4P.jpg" class="profile-picture"/></a> <a href="members/Gamergirlstudios">Gamergirlstudios</a></li>
                    
    <li><a href="members/webkinzkittygirl99"><img src="../images/pfps/2lKsai8dxjwmOzFo8t968yJIgp0TAEH0.jpg" class="profile-picture"/></a> <a href="members/webkinzkittygirl99">webkinzkittygirl99</a></li>
                    
    <li><a href="members/flippylur9"><img src="../images/pfps/UFMUPrDz79XO9zTpOXz7qKVr6yJ4EVyW.jpg" class="profile-picture"/></a> <a href="members/flippylur9">flippylur9</a></li>
                    
    <li><a href="members/mat50h"><img src="../images/pfps/F1f4duOJQ6m7UTdBQr1BOYJ4N6angmdl.jpg" class="profile-picture"/></a> <a href="members/mat50h">mat50h</a></li>
                    
    <li><a href="members/Sabrin98"><img src="../images/pfps/9dNuj5bVsWCQHq99vjjrUskugFxZw43t.png" class="profile-picture"/></a> <a href="members/Sabrin98">Sabrin98</a></li>
                    
    <li><a href="members/tanasilly"><img src="../images/pfps/EeU6GAnKfSsbxzXYv1dU1PgL1FaKxMez.png" class="profile-picture"/></a> <a href="members/tanasilly">tanasilly</a></li>
                    
    <li><a href="members/Shadow_Guy"><img src="../images/pfps/0opry5k7wgwb7g8dp66ki6ap28qnknob20spw2kj87i5dh8sf50m000txg5atj8mbrzvjb3Brambleclaw.jpg" class="profile-picture"/></a> <a href="members/Shadow_Guy">Shadow_Guy</a></li>
                    
    <li><a href="members/Kel_keke"><img src="../images/pfps/h0wmsk4xympsi2n78fjeiqs2qnfhagti7eupqnbdwrt5h73ebdikrzd7dhedoxjj35whiyk480584777_1415754.gif" class="profile-picture"/></a> <a href="members/Kel_keke">Kel_keke</a></li>
                    
    <li><a href="members/The Scary Snapper"><img src="../images/pfps/g9NSKfPoDgwZS13IZZnlhb9n89MRxcCT.jpg" class="profile-picture"/></a> <a href="members/The Scary Snapper">The Scary Snapper</a></li>
                    
    <li><a href="members/iDuckFilms"><img src="../images/pfps/dnG2DE0HwoumSWOd3jtCQXEupFw2gWk9.gif" class="profile-picture"/></a> <a href="members/iDuckFilms">iDuckFilms</a></li>
                    
    <li><a href="members/Rocket321CP"><img src="../images/pfps/oGTKqAEP2h1b9hxOqagtoTlWdKTbmTAR.jpg" class="profile-picture"/></a> <a href="members/Rocket321CP">Rocket321CP</a></li>
                    
    <li><a href="members/Robotnik"><img src="../images/pfps/JOG5WZhEnpt5YrBgEqkOoZDGUFbR9ODJ.jpg" class="profile-picture"/></a> <a href="members/Robotnik">Robotnik</a></li>
                    
    <li><a href="members/Lilbrat09"><img src="../images/pfps/5br8QcDItpiihiUjtHZYRb2utXLxuGmq.jpg" class="profile-picture"/></a> <a href="members/Lilbrat09">Lilbrat09</a></li>
                    
    <li><a href="members/SchoolHater56"><img src="../images/pfps/vPTDmdqEl63mHMMUf4UQP0mGUZ8QhD6S.jpg" class="profile-picture"/></a> <a href="members/SchoolHater56">SchoolHater56</a></li>
                    
    <li><a href="members/ToritehHedgeCat"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ToritehHedgeCat">ToritehHedgeCat</a></li>
                    
    <li><a href="members/stardow"><img src="../images/pfps/qQLE1FMyflQMe7Rfclpr6aZhLfODDsar.gif" class="profile-picture"/></a> <a href="members/stardow">stardow</a></li>
                    
    <li><a href="members/maya98"><img src="../images/pfps/1znKygakTBzOqg94jJqRggO0l5Ejx32o.png" class="profile-picture"/></a> <a href="members/maya98">maya98</a></li>
                    
    <li><a href="members/WesternWolfWarrior"><img src="../images/pfps/NugaxiEor2VoUMWKHp0E7Zi7Tx0IMvvX.png" class="profile-picture"/></a> <a href="members/WesternWolfWarrior">WesternWolfWarrior</a></li>
                    
    <li><a href="members/Earthbounded"><img src="../images/pfps/AfeSSj4uyTRSgWWomIF0FQAZXJOZa5vZ.gif" class="profile-picture"/></a> <a href="members/Earthbounded">Earthbounded</a></li>
                    
    <li><a href="members/ArtemisTheWerecat"><img src="../images/pfps/C6DaAsakvRElZ1FiNdGMJuDUN8gjn7oq.jpg" class="profile-picture"/></a> <a href="members/ArtemisTheWerecat">ArtemisTheWerecat</a></li>
                    
    <li><a href="members/Toad66081"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Toad66081">Toad66081</a></li>
                    
    <li><a href="members/Dylman"><img src="../images/pfps/tuUvf6mLTIqs0Ff9kkJmaU9d664E1Zkk.png" class="profile-picture"/></a> <a href="members/Dylman">Dylman</a></li>
                    
    <li><a href="members/moongalaxy11"><img src="../images/pfps/3VwWstDmJuWCgezxz2kFJA1jx7sJAor3.jpg" class="profile-picture"/></a> <a href="members/moongalaxy11">moongalaxy11</a></li>
                    
    <li><a href="members/readsta"><img src="../images/pfps/ACz0th8PyL6PKptIWc0QSpmsNYhT9zUA.jpg" class="profile-picture"/></a> <a href="members/readsta">readsta</a></li>
                    
    <li><a href="members/demiandselena"><img src="../images/pfps/aYPzGR4HyYPdbXyp2MvdE9gXXgl6mFmA.jpg" class="profile-picture"/></a> <a href="members/demiandselena">demiandselena</a></li>
                    
    <li><a href="members/ohheyJenn"><img src="../images/pfps/KHtxe1iCBYT5FzurXvt2QmulOu6jjJpr.jpg" class="profile-picture"/></a> <a href="members/ohheyJenn">ohheyJenn</a></li>
                    
    <li><a href="members/DPNorman"><img src="../images/pfps/T6DAcInUJZjWzixFtZCZqbM8g3GzzNLG.gif" class="profile-picture"/></a> <a href="members/DPNorman">DPNorman</a></li>
                    
    <li><a href="members/misshotstuff1"><img src="../images/pfps/zFBeWqg9U1Omslk6R17aW6EYlOwB8g6x.jpg" class="profile-picture"/></a> <a href="members/misshotstuff1">misshotstuff1</a></li>
                    
    <li><a href="members/Favre4"><img src="../images/pfps/cuaK08Wf2vZW31yCHWTbNWKnjDl2VM6y.jpg" class="profile-picture"/></a> <a href="members/Favre4">Favre4</a></li>
                    
    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/pandaboy"><img src="../images/pfps/sVRJnCwUQP7EBaJ0gYufEYssKaPrCDfu.png" class="profile-picture"/></a> <a href="members/pandaboy">pandaboy</a></li>
                    
    <li><a href="members/EthanM"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/EthanM">EthanM</a></li>
                    
    <li><a href="members/justinbieber71597"><img src="../images/pfps/oS6W9q18VTridxhMYeK6kyWJU6xP8rrk.jpg" class="profile-picture"/></a> <a href="members/justinbieber71597">justinbieber71597</a></li>
                    
    <li><a href="members/Mario Maniac 64"><img src="../images/pfps/xv2p6y9APxgVNv2SObp3Y1PY8py0p3Xa.jpg" class="profile-picture"/></a> <a href="members/Mario Maniac 64">Mario Maniac 64</a></li>
                    
    <li><a href="members/MUSICvideos"><img src="../images/pfps/nYlSvbrJ8d5oQBggIkCIFUGAEN2n2Gog.png" class="profile-picture"/></a> <a href="members/MUSICvideos">MUSICvideos</a></li>
                    
    <li><a href="members/narutofangirl99"><img src="../images/pfps/P6t8E5z255qPIrcTCLEJpTDXpx8GPBUf.jpg" class="profile-picture"/></a> <a href="members/narutofangirl99">narutofangirl99</a></li>
                    
    <li><a href="members/OfficialPoserBust"><img src="../images/pfps/NBl7PJa3pfTnK8oArxSiMXDIPgDeQGxb.png" class="profile-picture"/></a> <a href="members/OfficialPoserBust">OfficialPoserBust</a></li>
                    
    <li><a href="members/crazy_person"><img src="../images/pfps/179749075.jpg" class="profile-picture"/></a> <a href="members/crazy_person">crazy_person</a></li>
                    
    <li><a href="members/tiana38lolgirl"><img src="../images/pfps/179749096.jpg" class="profile-picture"/></a> <a href="members/tiana38lolgirl">tiana38lolgirl</a></li>
                    
    <li><a href="members/PivotPeople"><img src="../images/pfps/179749068.gif" class="profile-picture"/></a> <a href="members/PivotPeople">PivotPeople</a></li>
                    
    <li><a href="members/jordanrausch"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/jordanrausch">jordanrausch</a></li>
                    
    <li><a href="members/nana_the_hedgehog"><img src="../images/pfps/179750052.jpg" class="profile-picture"/></a> <a href="members/nana_the_hedgehog">nana_the_hedgehog</a></li>
                    
    <li><a href="members/golden1234"><img src="../images/pfps/7Kxdt0qudGhT4TCwfGRhf7nRvlQEn7ei.gif" class="profile-picture"/></a> <a href="members/golden1234">golden1234</a></li>
                    
    <li><a href="members/TigerfoxTheEmo1"><img src="../images/pfps/fm1zmYtBUN6WSFGF8ZyBBWfQpmMHElvh.png" class="profile-picture"/></a> <a href="members/TigerfoxTheEmo1">TigerfoxTheEmo1</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/BJSimpson" file="pfps/Q75qUnGeDPu0Y9diD2USecHYLd7IuQk9.jpg" alt="BJSimpson" %}

<p><b>Username:</b> <a href="members/BJSimpson">BJSimpson</a></p>

<p><b>Date:</b> 2010-09-28 13:22:42</p>

<p class="comment"><b>Comment:</b> <p><span style="color: rgb(255, 0, 0);"><span style="font-family: Comic Sans MS;"><span style="font-size: medium;">iBrendan update 9: on 10-30-2010 at 11:18 am</span></span></span></p>
<p>Hey peeps! I have uploaded a few app reviews for iPhone and iPod touch now, please watch them! (They are in my videos)</p>
<p>________________________________________________________________________________</p>
<p><span style="color: rgb(255, 0, 0);"><span style="font-family: Comic Sans MS;"><span style="font-size: medium;">iBrendan update 8: on 10-16-2010</span></span></span></p>
<p><span style="font-family: Comic Sans MS;"><span style="font-size: medium;"><span style="font-family: Arial;"><span style="font-size: smaller;">Hey guys, I have recently added a new group. It is called "Animation People" and I would like everybody who loves animating. Please join soon! (I am the only one in it.)</span></span></span></span></p>
<p>________________________________________________________________________...</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>