---
title: Blazingshadow
sidebar: home_sidebar
hide_sidebar: true
keywords: Blazingshadow
permalink: members/Blazingshadow
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/bm3tnjgzyt6ayndjqm5qwnwyt5j5bx5cawwm50auk4t7iwfw7bbunxh6ts3vgwxfkirebrwSilver_shadow__improved.png" alt="Blazingshadow" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>joshua</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>2</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>8</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>478</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>1</b></li>
        
<li> Rating: <b>90%</b> out of <b>4</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>kitten adentures 1</li>
<img src="{{"../images/thumb/veR0yP2uWIp2kA4vJwLp.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>My Sumo Paint Pics</li>
<img src="{{"../images/thumb/BCTo3WvkgVagLJAnNnG2.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>random adven tures</li>
<img src="{{"../images/thumb/tEtNECN2xkl35pCZaSXF.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Umbreon Tribute</li>
<img src="{{"../images/thumb/5hxsTVG2HRIDdvAtCdTD.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Styx Randomocity</li>
<img src="{{"../images/thumb/1bXjEDJjfHYWfGf5kenV.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>styx randomocity2</li>
<img src="{{"../images/thumb/kLVEXsqnFuKrDs3ElRir.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>my cat</li>
<img src="{{"../images/thumb/1_25607.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>kitten adentures 1</li>
                
well its cute  in my intro i will give u the names and stats of all the kittys
                
                <br>
Added: 27-04-2009
                
</ul>
                
<ul>
<li>Umbreon-Tribute</li>
                
This is for my favorite pokemon, Umbreon!
                
                <br>
Added: 30-05-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/SeanSanczel"><img src="../images/pfps/ty4ts7vuze7d0asmqd4vzwv2fr5wmoj5deptd8e0eb45bkfpnacdvx6ydzkpeujfzwy0w2sSeanHeadshot2.jpg" class="profile-picture"/></a> <a href="members/SeanSanczel">SeanSanczel</a></li>
                    
    <li><a href="members/webkinzmaster"><img src="../images/pfps/8jr8x3o3to0axm7hekgtajbiroubckhbty8frn8b0z8na7segzyhaxopc6qdgvezjd50p2zThe Tale Of Despereaux.jpg" class="profile-picture"/></a> <a href="members/webkinzmaster">webkinzmaster</a></li>
                    
    <li><a href="members/eevee2glaceon"><img src="../images/pfps/7m3jxetrngugcpavkjwugtky28ecf6kegeo4h6mub4ybjzxs7ibe0j2ri6tn04r7732fzcxeevee.jpg" class="profile-picture"/></a> <a href="members/eevee2glaceon">eevee2glaceon</a></li>
                    
    <li><a href="members/kidsonly"><img src="../images/pfps/3UJEMe0hcOCDO2HuB2VHXuTCfP9SVNVM.jpg" class="profile-picture"/></a> <a href="members/kidsonly">kidsonly</a></li>
                    
    <li><a href="members/Gatswimmer"><img src="../images/pfps/dZuM8HLOJJEHyPxVEp2XOmeTOvT7cBW3.gif" class="profile-picture"/></a> <a href="members/Gatswimmer">Gatswimmer</a></li>
                    
    <li><a href="members/webkinz"><img src="../images/pfps/vHovk4cs0FoDQPKUKoCAIStYwu16EjQx.gif" class="profile-picture"/></a> <a href="members/webkinz">webkinz</a></li>
                    
    <li><a href="members/blaze09"><img src="../images/pfps/fXR9WNv6WO6vLfKSExebZa6MHW8bUyyy.jpg" class="profile-picture"/></a> <a href="members/blaze09">blaze09</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/Philip666"><img src="../images/pfps/Rvlz5FpzVoncu50Whf2iAFtDxhdcFy7W.jpg" class="profile-picture"/></a> <a href="members/Philip666">Philip666</a></li>
                    
    <li><a href="members/koreo"><img src="../images/pfps/MQeKaGVPMFRBeDajCarNSITcPouoBcrL.gif" class="profile-picture"/></a> <a href="members/koreo">koreo</a></li>
                    
    <li><a href="members/Speedytheeevee"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Speedytheeevee">Speedytheeevee</a></li>
                    
    <li><a href="members/DragonLover493"><img src="../images/pfps/z6p0d75qgrp00hmpa7p8uh3wyzk2bpp0m2qoxj240itso68p2mmksd6f3h75wku7dcjymctLeafblazeJPG.jpg" class="profile-picture"/></a> <a href="members/DragonLover493">DragonLover493</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/Shadow_Guy"><img src="../images/pfps/0opry5k7wgwb7g8dp66ki6ap28qnknob20spw2kj87i5dh8sf50m000txg5atj8mbrzvjb3Brambleclaw.jpg" class="profile-picture"/></a> <a href="members/Shadow_Guy">Shadow_Guy</a></li>
                    
    <li><a href="members/IvyTheEspeon"><img src="../images/pfps/QUfHq7br0He8Yiw9hY5p7mtKxVctd2ar.png" class="profile-picture"/></a> <a href="members/IvyTheEspeon">IvyTheEspeon</a></li>
                    
    <li><a href="members/ThunderTheJolteon"><img src="../images/pfps/jrn8dinth7ou0rofhguzp0zp006ygisq05n4dzmiwz3mhhrpndgz26gtvbg3kzhatv2wje4481041988_1460231.gif" class="profile-picture"/></a> <a href="members/ThunderTheJolteon">ThunderTheJolteon</a></li>
                    
    <li><a href="members/Jirachi681"><img src="../images/pfps/iCYkoxfia7NmbwqWzZp3PsQHQPBSfbcD.png" class="profile-picture"/></a> <a href="members/Jirachi681">Jirachi681</a></li>
                    
    <li><a href="members/Darkblazer"><img src="../images/pfps/5v0io4k8opoghj7eub4yrvbt662wrh2n0rtgm3dxir5py3rh5m7k58423xom3gwuvfy783vDarkblazer profile.jpg" class="profile-picture"/></a> <a href="members/Darkblazer">Darkblazer</a></li>
                    
    <li><a href="members/eevee2espeon"><img src="../images/pfps/op7itjbyjkasfctdzkm5xfiu7ry7fjzswyyg8x6h84zf6jgxsttew2ythprmyh4m4rr2eoa__Riolu___by_eevee2espeon.jpg" class="profile-picture"/></a> <a href="members/eevee2espeon">eevee2espeon</a></li>
                    
    <li><a href="members/abandal2"><img src="../images/pfps/zi7wYDf1gsXSx2mS3S1I4Xp28ImgBLE0.png" class="profile-picture"/></a> <a href="members/abandal2">abandal2</a></li>
                    
    <li><a href="members/MewPikachu"><img src="../images/pfps/v2i8n8eir6jurcim3rifizyxypxe0urkkzkxwn7djhxzh7cbpkfx84jvh606pihz6qou2mxIcefire2.jpg" class="profile-picture"/></a> <a href="members/MewPikachu">MewPikachu</a></li>
                    
    <li><a href="members/breetown"><img src="../images/pfps/4qks324y82yq8aq4oh6wpbtf2cxubzc5eko7dgwa8nr5k5zwcujrw2xn4j75a7yeibcjfzi0a4db0cfedb0.jpg" class="profile-picture"/></a> <a href="members/breetown">breetown</a></li>
                    
    <li><a href="members/AnimalPlanet800"><img src="../images/pfps/bn3ni3y8b8tudebdpngpb8mc6zntbppazik8aa6b6qt8svc78im8fvbcmotk08krfwofukfTigerstrike8.png" class="profile-picture"/></a> <a href="members/AnimalPlanet800">AnimalPlanet800</a></li>
                    
    <li><a href="members/SkateboardingKid507"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/SkateboardingKid507">SkateboardingKid507</a></li>
                    
    <li><a href="members/skateboard988"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/skateboard988">skateboard988</a></li>
                    
    <li><a href="members/Slayer"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Slayer">Slayer</a></li>
                    
    <li><a href="members/wildhead"><img src="../images/pfps/kB5p8ADfjngaVirGH5N7i0UllSxoFkhq.jpg" class="profile-picture"/></a> <a href="members/wildhead">wildhead</a></li>
                    
    <li><a href="members/frostypuma"><img src="../images/pfps/xx7cw043qnsqonf7a0y3zyqpmj608a0wvwwiorc25uih6pf4e2x5rek4mhtkfi606raiaacfrost claw.jpg" class="profile-picture"/></a> <a href="members/frostypuma">frostypuma</a></li>
                    
    <li><a href="members/shinedown"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/shinedown">shinedown</a></li>
                    
    <li><a href="members/EricWorld10"><img src="../images/pfps/h63k7vcojoah87uk0j8qa3pm5irpkj8sez4cm4pvin4ikptaxqqxk6aefptrwqa0h22txfethumbnailCAHP1AGK.jpg" class="profile-picture"/></a> <a href="members/EricWorld10">EricWorld10</a></li>
                    
    <li><a href="members/Lugias song"><img src="../images/pfps/AKta4j0mCWC2vkNF8vupjT95g1MMrdbq.jpg" class="profile-picture"/></a> <a href="members/Lugias song">Lugias song</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/pokemonlover12" file="pfps/HTRZzNTkxmhton7aRdwPcNKlZkeNCZAJ.png" alt="pokemonlover12" %}

<p><b>Username:</b> <a href="members/pokemonlover12">pokemonlover12</a></p>

<p><b>Date:</b> 2010-01-29 06:24:40</p>

<p class="comment"><b>Comment:</b> <p> I wanna call you shade the umbreon, I like pokemon, and umbreon is one of my faves.</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>