---
title: Bryce10
sidebar: home_sidebar
hide_sidebar: true
keywords: Bryce10
permalink: members/Bryce10
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/gtxa3g5qdg4xpa4r4r0qmijtst3m7ncc6ycx35e4a8sp6m403wgd3oxj8pt42w6wj6id2k7Sonic.jpg" alt="Bryce10" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>19</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>2</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Coming soon to kidstube is... CUTE MARIO BROS!</li>
<img src="{{"../images/thumb/1_54140.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Bryce10s-first-video</li>
                
hi this is my first video



EDIT: i cant get on internet Any more because it has virues on my pc and i cant watch kidstube on internet channel for wii
                
                <br>
Added: 28-12-2009
                
</ul>
                
<ul>
<li>Bryce10-talks-about-Newswithjosh</li>
                
ill be talking about newswithjosh.why you ask?because he sent me a message about talking about him
                
                <br>
Added: 28-12-2009
                
</ul>
                
<ul>
<li>Bryce10-sings-gitchi-gitchi-goo-the-extended-version</li>
                
hey is me again and this will be the 3rd time in a row to make a video today<br />
and this is the song is diffrent
                
                <br>
Added: 28-12-2009
                
</ul>
                
<ul>
<li>What-Bryce10-Gots-For-Christmas-part-12</li>
                
I got stuff for Christmas
                
                <br>
Added: 29-12-2009
                
</ul>
                
<ul>
<li>What-Bryce10-Gots-For-Christmas-part-22</li>
                
is me again and this is Part 2 of christmas
                
                <br>
Added: 29-12-2009
                
</ul>
                
<ul>
<li>Bryce10s-website</li>
                
hello to join my website go to http://www.bryce10.fliggo.com/<br />
<br />
enjoy! and the register if for free!
                
                <br>
Added: 29-12-2009
                
</ul>
                
<ul>
<li>News-with-Bryce10</li>
                
watch this video
                
                <br>
Added: 29-12-2009
                
</ul>
                
<ul>
<li>Bryce10-sings-Bet-on-it</li>
                
hi is me again and ill be singing Bet on it! please rank star and comment
                
                <br>
Added: 30-12-2009
                
</ul>
                
<ul>
<li>Singing-Showdown</li>
                
Hi this will be a showdown about Me vs Teenboy.<br />
Please vote and sees who will be the champ.<br />
<br />
Showdown ends:3/3/10
                
                <br>
Added: 31-12-2009
                
</ul>
                
<ul>
<li>i-need-more-friends-please</li>
                
hi is me Bryce10 again and this time i need more friends please im begging you to be my friend please
                
                <br>
Added: 31-12-2009
                
</ul>
                
<ul>
<li>Bryce10-sings-Bet-on-it-remix</li>
                
Hello is me again and this time ill be singing Bet on it! (REMIX) ENJOY!
                
                <br>
Added: 31-12-2009
                
</ul>
                
<ul>
<li>Bryce10-sings-if-you-had-a-bad-day</li>
                
this is 4 the showdown<br />
like bet on it,gitchi gitchi goo extended version and this one<br />
:( is a sad song!
                
                <br>
Added: 01-01-2010
                
</ul>
                
<ul>
<li>Brycerolld</li>
                
WATCH THIS VIDEO!!
My Name Is Bryce And You'll Give Me Some Stars Woop Woop
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>Bryce10-got-toys-from-his-dad</li>
                
wATCH THIS VIDEO AND SEE WHAT I GOT FROM MY dAD
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>My-name-is-Bryce-And-youll-do-what-i-say-whoop-whoop-for-1-min-and-52-sec</li>
                
ill be doing it my version.watch and learn so you'll be like me! XD
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>A-Mario-Remix-Music</li>
                
Mario sparta remix (Song:Is a me mario Sparta URBE Remix)
                
                <br>
Added: 15-01-2010
                
</ul>
                
<ul>
<li>A-Luigi-Remix-music</li>
                
Song Im-A Luigi (Luigi UBER SPARTA REMIX)                                                     Lyric im-a-luigi
lui-i-i-i-i-i-i e-e-e-e-e-e-e lui-i-i-i-i-i-i e-e-e-e-e-e numaber one number one number one number one lui-i-i-i-i-i-i e-e-e-e-e-e lui-i-i-i-i-i-i e-e-e-e-e-e lui-i-i-i-i-i-i e-e-e-e-e-e lui-i-i-i-i-i-i e-e-e-e-e-e lui-lui ii lui-lui ii (repeated)                    lui-i-i-i-i-i-i e-e-e-e-e-e lui-i-i-i-i-i-i e-e-e-e-e-e lui-i-i-i-i-i-i e-e-e-e-e-e lui-i-i-i-i-i-i e-e-e-e-e-e brr...eek! brr...eek! brr...eek! brr...brr eek! brr...eek! lui-i-i-i-i-i-i e-e-e-e-e-e lui-i-i-i-i-i-i e-e-e-e-e-e lui-i-i-i-i-i-i e-e-e-e-e-e lui-i-i-i-i-i-i e-e-e-e-e-e lui-i-i-i-i-i-i e-e-e-e-e-e lui-i-i-i-i-i-i e-e-e-e-e-e lui-i-i-i-i-i-i e-e-e-e-e-e lui-i-i-i-i-i-i e-e-e-e-e-e
                
                <br>
Added: 16-01-2010
                
</ul>
                
<ul>
<li>Flipnote-hatena-help</li>
                
i need help!
                
                <br>
Added: 13-02-2010
                
</ul>
                
<ul>
<li>Coming-soon-to-kidstube-is-CUTE-MARIO-BROS</li>
                
cute mario bros will be coming out tomarrow
                
                <br>
Added: 17-04-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Dxd21"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Dxd21">Dxd21</a></li>
                    
    <li><a href="members/newswithjosh"><img src="../images/pfps/BhKwAUJmGGZOKms4YCmfxbBEhtORVzYW.jpg" class="profile-picture"/></a> <a href="members/newswithjosh">newswithjosh</a></li>
                    
    <li><a href="members/tanasilly"><img src="../images/pfps/EeU6GAnKfSsbxzXYv1dU1PgL1FaKxMez.png" class="profile-picture"/></a> <a href="members/tanasilly">tanasilly</a></li>
                    
    <li><a href="members/nintendude64"><img src="../images/pfps/775gvdhr4c7cbr5f37famtcau26620n0xi5jjcyfeufdbbh46n3h45hqvcnn30er77yiaomnintendo_evolution.jpg" class="profile-picture"/></a> <a href="members/nintendude64">nintendude64</a></li>
                    
    <li><a href="members/Cpfanamations"><img src="../images/pfps/rhlUVZ1ZRgoOWf9yxALq0Pli9uzQvZda.jpg" class="profile-picture"/></a> <a href="members/Cpfanamations">Cpfanamations</a></li>
                    
    <li><a href="members/Bstyles"><img src="../images/pfps/6r7VHxFjhtGfgRfdRvQVdp4NvJvZBuK5.jpg" class="profile-picture"/></a> <a href="members/Bstyles">Bstyles</a></li>
                    
    <li><a href="members/curly824"><img src="../images/pfps/HdzrNCPONwGGivta2C2ypelm0iVUvyb2.jpg" class="profile-picture"/></a> <a href="members/curly824">curly824</a></li>
                    
    <li><a href="members/vinneavistafan"><img src="../images/pfps/Pg1wNp2oFaz5flJhPTBlZ3OVxpYTMk3b.png" class="profile-picture"/></a> <a href="members/vinneavistafan">vinneavistafan</a></li>
                    
    <li><a href="members/Philip666"><img src="../images/pfps/Rvlz5FpzVoncu50Whf2iAFtDxhdcFy7W.jpg" class="profile-picture"/></a> <a href="members/Philip666">Philip666</a></li>
                    
    <li><a href="members/Mario Maniac 64"><img src="../images/pfps/xv2p6y9APxgVNv2SObp3Y1PY8py0p3Xa.jpg" class="profile-picture"/></a> <a href="members/Mario Maniac 64">Mario Maniac 64</a></li>
                    
    <li><a href="members/manboy10"><img src="../images/pfps/6J5RyJc8ILtxxVempT8fs1enaornoS0k.jpg" class="profile-picture"/></a> <a href="members/manboy10">manboy10</a></li>
                    
    <li><a href="members/blackout117"><img src="../images/pfps/esCqBtDtuwBejWs0YLpYhpbVusE7tkYL.png" class="profile-picture"/></a> <a href="members/blackout117">blackout117</a></li>
                    
    <li><a href="members/TeenBoy"><img src="../images/pfps/7bcrhtt5vmo2momz2vb78fe5cy0r4qozsofz6wts88kjnuade88eed7f0ywtf8kvoomkc40MARQUES BOTTORF.jpg" class="profile-picture"/></a> <a href="members/TeenBoy">TeenBoy</a></li>
                    
    <li><a href="members/etc_etc_etc"><img src="../images/pfps/uADIhmUXovlQUKoJHGJzUzkjWlj3v7Hd.png" class="profile-picture"/></a> <a href="members/etc_etc_etc">etc_etc_etc</a></li>
                    
    <li><a href="members/TopMusicVideos"><img src="../images/pfps/75qcmbvyb8jos2e8z3gy68dwvbgghirdc5fm6y86vike8pbzgipcfsy0t68ydo3dj6qhupemusic notes.jpg" class="profile-picture"/></a> <a href="members/TopMusicVideos">TopMusicVideos</a></li>
                    
    <li><a href="members/Pufflefuzz123"><img src="../images/pfps/UtHJuBy9oIZJjxgd4flOSTexWcZeDv8Y.gif" class="profile-picture"/></a> <a href="members/Pufflefuzz123">Pufflefuzz123</a></li>
                    
    <li><a href="members/TDItrentfan"><img src="../images/pfps/04pewzcrruuaf88i0zffqd86jvekefi37v8snbb4tt2ztz6iobm2cmwm52u75223oyn0zotGreen day!.jpg" class="profile-picture"/></a> <a href="members/TDItrentfan">TDItrentfan</a></li>
                    
    <li><a href="members/mastermario300"><img src="../images/pfps/XgB1NkHjrJy8fWDy6GG9vKoIyzdA5MIS.jpg" class="profile-picture"/></a> <a href="members/mastermario300">mastermario300</a></li>
                    
    <li><a href="members/webkinz110"><img src="../images/pfps/4vebgs3mctjkpif7b63xm0toke2ppt2hd6ijnatpt3x6a03byuw8mfnujdbwu34xxb5bbpo43CUWCAFR982CCAK2931FCADFIFB7CAY63F7SCADR853ECAVCG90RCACDDYGICAZ4TAJECA5LI314CA6CG22ICAHYYCOXCA4ZDN6MCASP98FWCA790VALCAARBRF4CAEYJIA9CAGLFOKHCAHK7RYECAXKV98B.jpg" class="profile-picture"/></a> <a href="members/webkinz110">webkinz110</a></li>
                    
    <li><a href="members/narutofan"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/narutofan">narutofan</a></li>
                    
    <li><a href="members/Chillyfreezz"><img src="../images/pfps/th74otesykwoszukbq834pb3gjqtbgyuoupzdti235fmtzuvhtna7o3evhvwokfz6sq7dwzMy icon.png" class="profile-picture"/></a> <a href="members/Chillyfreezz">Chillyfreezz</a></li>
                    
    <li><a href="members/punkdogdave"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/punkdogdave">punkdogdave</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>