---
title: Buddy231
sidebar: home_sidebar
hide_sidebar: true
keywords: Buddy231
permalink: members/Buddy231
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/qcrq6qn2vgg6ub2nm8hi0xcc5pbhzu7gupur47hqcnmvoe8zbe62062wj44an2e7fypavxpbig_950799.gif" alt="Buddy231" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>21</b></li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/republiccommando555"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/republiccommando555">republiccommando555</a></li>
                    
    <li><a href="members/tatum27"><img src="../images/pfps/vfcpufpi24sgextdvtajrckuchwsk645d6kvay52ro6wapzw8x4oxd6zkuhurcqu6yh6obwtatum.jpg" class="profile-picture"/></a> <a href="members/tatum27">tatum27</a></li>
                    
    <li><a href="members/DXZ"><img src="../images/pfps/yfrpkqf2epcbrrsjhrod202hueqnyk2prh2zx5t3mt20bk8gznjscd0wffb3q0i588wu4gmDXZ.jpg" class="profile-picture"/></a> <a href="members/DXZ">DXZ</a></li>
                    
    <li><a href="members/MonkeyFolk"><img src="../images/pfps/c6uptpg6cwk2nqno5uf6z7zuu85f48h632jofqkfct8pam26650u3rfmo8si7ze2qmet0nzmonkey_cartoon4[1].gif" class="profile-picture"/></a> <a href="members/MonkeyFolk">MonkeyFolk</a></li>
                    
    <li><a href="members/Spiderpeps"><img src="../images/pfps/CdjuRc8PlwmjNgxXOBeaGWMxqSHTahkd.jpg" class="profile-picture"/></a> <a href="members/Spiderpeps">Spiderpeps</a></li>
                    
    <li><a href="members/CoolDudeJC"><img src="../images/pfps/Vg8dNpNHOsn5qYv3e9bsnYBDdYfycMyx.jpg" class="profile-picture"/></a> <a href="members/CoolDudeJC">CoolDudeJC</a></li>
                    
    <li><a href="members/ups30"><img src="../images/pfps/c2fQymc3iWHXZiDb3o4r9vQ43DxLS64u.png" class="profile-picture"/></a> <a href="members/ups30">ups30</a></li>
                    
    <li><a href="members/AlvinSmith2009"><img src="../images/pfps/KHpYjjtl8NynfQd4tVjqmTIhf0cJBxiM.jpg" class="profile-picture"/></a> <a href="members/AlvinSmith2009">AlvinSmith2009</a></li>
                    
    <li><a href="members/bg00"><img src="../images/pfps/c0h54r0dtu052ni60mky58bodacz4ae40myu4oxm6nhzxpwoy5bu2d65b8t57xyyboj325dpug.jpg" class="profile-picture"/></a> <a href="members/bg00">bg00</a></li>
                    
    <li><a href="members/breetown"><img src="../images/pfps/4qks324y82yq8aq4oh6wpbtf2cxubzc5eko7dgwa8nr5k5zwcujrw2xn4j75a7yeibcjfzi0a4db0cfedb0.jpg" class="profile-picture"/></a> <a href="members/breetown">breetown</a></li>
                    
    <li><a href="members/jaimielovebug"><img src="../images/pfps/db4juiy2wn38mwxxvy8jym08heb8by0fztni2cann3jyo8m7xkiku7j2ci2e7rhv8u3yw3d820726wbost4oske.gif" class="profile-picture"/></a> <a href="members/jaimielovebug">jaimielovebug</a></li>
                    
    <li><a href="members/WigglyXKitten"><img src="../images/pfps/czfififjn6tqxmddjo6gdtnqa4i6keak2dr8mxixszchafiitgpvx2avvgs4kqdeuub4ihscat avatar.gif" class="profile-picture"/></a> <a href="members/WigglyXKitten">WigglyXKitten</a></li>
                    
    <li><a href="members/Psychicozy"><img src="../images/pfps/GtM6c3WA8mpxQeWA334nQUrtYDx0pXUu.png" class="profile-picture"/></a> <a href="members/Psychicozy">Psychicozy</a></li>
                    
    <li><a href="members/pippy100"><img src="../images/pfps/ed2f8x5g583sy62qqrwfq4b2q4d0dp3iqtmqfiubhmu7gkou280g32ahvb8yqz74iiior3q3E03FCATB1K5WCADGM9QDCA31N3GYCACXXZLDCABGMRTDCAETKSZICAYS44PQCAEWPSDJCAL36FUTCA76YHSCCAVYZ8WCCAKC2L8HCA3I7ELYCAPDXWHQCA81EWQWCAWK27N9CA4VXZ0XCADOQ604CAKI0M2O.jpg" class="profile-picture"/></a> <a href="members/pippy100">pippy100</a></li>
                    
    <li><a href="members/gameliking"><img src="../images/pfps/zbq3dhnxpwbtwkeceo5bj2shbbi6gbm6c00d8c0pzz6nc8pgomixcy3exb84cmycdqgat5nThe_Chipettes_Arrive_by_BeastGirl9206.jpg" class="profile-picture"/></a> <a href="members/gameliking">gameliking</a></li>
                    
    <li><a href="members/livefreeordie"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/livefreeordie">livefreeordie</a></li>
                    
    <li><a href="members/glynnis"><img src="../images/pfps/kqK4sHZeFvntuRE6ukbLMQ1pQxzWvMAV.jpg" class="profile-picture"/></a> <a href="members/glynnis">glynnis</a></li>
                    
    <li><a href="members/vishvish"><img src="../images/pfps/4z7e3rd7zuax86cjnqat8zjitru0fj47azc3hfy7zytwtv64a4m8vvgfcy6fazdaqf2wirsCucco-Obsessed-Link.gif" class="profile-picture"/></a> <a href="members/vishvish">vishvish</a></li>
                    
    <li><a href="members/BarbiePopstar8"><img src="../images/pfps/t5TVOL1gbm8dxwAJUp853h1sD00bBC3s.jpg" class="profile-picture"/></a> <a href="members/BarbiePopstar8">BarbiePopstar8</a></li>
                    
    <li><a href="members/treyshim17"><img src="../images/pfps/tgyxkfs6fnwn0jyoxpoh2j7hx7ap5spnxeb8ir3m4qwvxmbkzpsswrxkpxxihdv5gv2ndwyPhoto 27.jpg" class="profile-picture"/></a> <a href="members/treyshim17">treyshim17</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>