---
title: Bumble
sidebar: home_sidebar
hide_sidebar: true
keywords: Bumble
permalink: members/Bumble
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/placeholder.gif" alt="Bumble" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Ariah</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>15</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>214</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>100%</b> out of <b>2</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/loopyliu"><img src="../images/pfps/HVfEJ4uy47utsemPfLmyQiY3BLrwCAvH.jpg" class="profile-picture"/></a> <a href="members/loopyliu">loopyliu</a></li>
                    
    <li><a href="members/shadowbunny50"><img src="../images/pfps/XQgDG62ZggFxQScBmLa5mP8ouZNxoVqC.jpg" class="profile-picture"/></a> <a href="members/shadowbunny50">shadowbunny50</a></li>
                    
    <li><a href="members/cistar14"><img src="../images/pfps/p7bei77nz060sgepadozs3j4f6fv0xvfvxh2tfgh7daohe2gfg6vafrecuz0ij425auog0vretouched.jpg" class="profile-picture"/></a> <a href="members/cistar14">cistar14</a></li>
                    
    <li><a href="members/Music_Video_Mania"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Music_Video_Mania">Music_Video_Mania</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/koreo"><img src="../images/pfps/MQeKaGVPMFRBeDajCarNSITcPouoBcrL.gif" class="profile-picture"/></a> <a href="members/koreo">koreo</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/jaimielovebug"><img src="../images/pfps/db4juiy2wn38mwxxvy8jym08heb8by0fztni2cann3jyo8m7xkiku7j2ci2e7rhv8u3yw3d820726wbost4oske.gif" class="profile-picture"/></a> <a href="members/jaimielovebug">jaimielovebug</a></li>
                    
    <li><a href="members/breetown"><img src="../images/pfps/4qks324y82yq8aq4oh6wpbtf2cxubzc5eko7dgwa8nr5k5zwcujrw2xn4j75a7yeibcjfzi0a4db0cfedb0.jpg" class="profile-picture"/></a> <a href="members/breetown">breetown</a></li>
                    
    <li><a href="members/RoyalBlue"><img src="../images/pfps/5nFfSXf9mUO8FMyn0Bxo37xe4Vw9VsiO.jpg" class="profile-picture"/></a> <a href="members/RoyalBlue">RoyalBlue</a></li>
                    
    <li><a href="members/allybabally"><img src="../images/pfps/plOL2O1PQd523y9PQ3brOWfA2TENhp5L.jpg" class="profile-picture"/></a> <a href="members/allybabally">allybabally</a></li>
                    
    <li><a href="members/ashleybear"><img src="../images/pfps/6MGnUKHvRMIyoaTnnnsu3ybXuvElGBdA.jpg" class="profile-picture"/></a> <a href="members/ashleybear">ashleybear</a></li>
                    
    <li><a href="members/inuyasha"><img src="../images/pfps/l87cBFvgiPTTWtWEb0UxlJ8ZUgR3QBu2.jpg" class="profile-picture"/></a> <a href="members/inuyasha">inuyasha</a></li>
                    
    <li><a href="members/sydp"><img src="../images/pfps/k54s2jfwjb76rvt805xn0wrih6hjmx2wrxdh5h2eiy8xksuanjne42kayqiacbutwyyr6qvSyd and Riley.jpg" class="profile-picture"/></a> <a href="members/sydp">sydp</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>