---
title: CadJVideos
sidebar: home_sidebar
hide_sidebar: true
keywords: CadJVideos
permalink: members/CadJVideos
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="CadJVideos" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>4</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Minecraft Time 03- Creepers and Spiders!!!</li>
<img src="{{"../images/thumb/1_130113.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Glupy Cast 1: Farts On Labor Day</li>
<img src="{{"../images/thumb/1_131827.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Minecraft-Time-01-Get-a-look-at-it</li>
                
Hey everyone please enjoy watching me play my way in Minecraft. it might teach you, too!
                
                <br>
Added: 21-05-2013
                
</ul>
                
<ul>
<li>Papercraft-Minecraft-Episode-1</li>
                
Lets play more Minecraft! but in real life paper. you can do it too, on the Papercraft app!
                
                <br>
Added: 22-05-2013
                
</ul>
                
<ul>
<li>Minecraft-Time-02-Changing-Modes</li>
                
Hey everyone again it's CadJVideos. Lets play some more Minecraft. This might not be a fun episode, but the next could be.
                
                <br>
Added: 24-05-2013
                
</ul>
                
<ul>
<li>Minecraft-Time-03-Creepers-and-Spiders</li>
                
Today we are going to spawn monsters. monsters that HISS, and monsters that go KABLAMO! if you cant find many videos by CadJVideos, search that member (me.)
                
                <br>
Added: 26-06-2013
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>