---
title: chaseandjproductions
sidebar: home_sidebar
hide_sidebar: true
keywords: chaseandjproductions
permalink: members/chaseandjproductions
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/mjrt3zcdg5m6fgrwo4o4j0bemsacxmm8v0qorqrym3tp7bdm3rhegigtyevkr6hbvxpce4yAnnie in the Sink.jpg" alt="chaseandjproductions" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>14</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>eandjproductions has 2</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>stupid stormtrooper</li>
<img src="{{"../images/thumb/1_4880.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>how-to-be-table</li>
                
funny
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>bob-gets-arrested</li>
                
histarical
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>hot dog man vs. toilet boy</li>
                
just watch dee video
                
                <br>
Added: 01-11-2008
                
</ul>
                
<ul>
<li>monkeyboy sports</li>
                
learn how to play sports from the master
                
                <br>
Added: 03-11-2008
                
</ul>
                
<ul>
<li>The Ninja Glare</li>
                
Pretty much the coolest new move ever! HAHA   WARNING: This song will get stuck in your head
                
                <br>
Added: 03-11-2008
                
</ul>
                
<ul>
<li>Extreme Pogo Stick Tricks</li>
                
A dude doing Awesome Pogo Stick Tricks =][[[[[THAT IS NOT ME]]]]]I came accross a video that I liked and I added it to my page... This is not me and this vid...
                
                <br>
Added: 04-11-2008
                
</ul>
                
<ul>
<li>You-Can-Vote-However-You-Like</li>
                
The kids from the Ron Clark Academy performing live &amp;quot;You Can Vote However You Like,&amp;quot; a parody to TI's &amp;quot;Whatever You Like&amp;quot;. Atlanta Georgi...
                
                <br>
Added: 05-11-2008
                
</ul>
                
<ul>
<li>TI--Whatever-You-Like</li>
                
http://www.trapmuzik.comCall T.I. (404) 492-6706Get the ringtone!Text LIKEF to 33133$2.49/ringtone, std msg rates may apply. This is an la carte, transaction...
                
                <br>
Added: 06-11-2008
                
</ul>
                
<ul>
<li>Ronaldinho-vs-Ronaldo</li>
                
Ronaldinho vs Ronaldo: just skills, who will win?
                
                <br>
Added: 08-12-2008
                
</ul>
                
<ul>
<li>Crazy-Cow</li>
                
crazy cow dancing on music
                
                <br>
Added: 09-12-2008
                
</ul>
                
<ul>
<li>Eggs-Over-Easy-The-Rap</li>
                
Hey everyone!  Here's a new rap video I wrote.  Hope you like it!  If so, feel free to subscribe!
                
                <br>
Added: 11-12-2008
                
</ul>
                
<ul>
<li>Bee-Gees--Stayin-Alive-Full-Version</li>
                
Well, you can tell by the way I use my walk,Im a womans man: no time to talk.Music loud and women warm, Ive been kicked aroundSince I was born.And now its al...
                
                <br>
Added: 30-12-2008
                
</ul>
                
<ul>
<li>stupid-stormtrooper</li>
                
stormtrooper gets bet up by army guy but there is hope
                
                <br>
Added: 05-01-2009
                
</ul>
                
<ul>
<li>McDonalds-The-Rap</li>
                
The best part of making this video was the fact I got to eat the props.  Except the bottled water.  I'm a Grimace cup kind of dude.Feel free to subscribe and...
                
                <br>
Added: 12-11-2008
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Rockstar44"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Rockstar44">Rockstar44</a></li>
                    
    <li><a href="members/RukiaKuchki1997"><img src="../images/pfps/vwtruk8od03qrfzo0fp8i87bvsq7xd2hxmyivvuwmpd3s0fh6sgercfdttbfu2nicapvubj11136_101396623221793_100000543672702_37855_6916117_n.jpg" class="profile-picture"/></a> <a href="members/RukiaKuchki1997">RukiaKuchki1997</a></li>
                    
    <li><a href="members/tatum27"><img src="../images/pfps/vfcpufpi24sgextdvtajrckuchwsk645d6kvay52ro6wapzw8x4oxd6zkuhurcqu6yh6obwtatum.jpg" class="profile-picture"/></a> <a href="members/tatum27">tatum27</a></li>
                    
    <li><a href="members/theo1"><img src="../images/pfps/hj64bqdvcyxwz6aetnbr4eeiv7uy3pubzr3y74k8t8ti4tko6m5zo7876txz7gyxysnukwrpencil.jpg" class="profile-picture"/></a> <a href="members/theo1">theo1</a></li>
                    
    <li><a href="members/jonasbrothersrok"><img src="../images/pfps/6ro48nkymfbh86w7xb6607hxbqj2sson7zi7druowtvtoirdhpa6kfumv4cdmoqhewdgcxudc games.gif" class="profile-picture"/></a> <a href="members/jonasbrothersrok">jonasbrothersrok</a></li>
                    
    <li><a href="members/thekatieshow"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/thekatieshow">thekatieshow</a></li>
                    
    <li><a href="members/Hannah_Taylor"><img src="../images/pfps/3k3ufucvyy8opnzkfigzb2nntdw4dx8670rdmuybhwpwad5dmc3k2hykijfn5dh34z7giufHANAH.jpg" class="profile-picture"/></a> <a href="members/Hannah_Taylor">Hannah_Taylor</a></li>
                    
    <li><a href="members/dark_ranger"><img src="../images/pfps/nKUP82ZV0skeYraxZVjTUwWwhf3dcjVD.png" class="profile-picture"/></a> <a href="members/dark_ranger">dark_ranger</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>