---
title: Cheesecake711
sidebar: home_sidebar
hide_sidebar: true
keywords: Cheesecake711
permalink: members/Cheesecake711
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/323mccimt0z8k0ahuqyz0wt00gfmss6jiztmzzxjsmg0dg7ywwppi8eadhjtyg274mjsb52kitty1.jpg" alt="Cheesecake711" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>1</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Frozen Lava Preview</li>
<img src="{{"../images/thumb/1_19815.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Cheesecake's Contest Entry</li>
                
Contest Entry
                
                <br>
Added: 29-08-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Eevee2Leafeon"><img src="../images/pfps/cGTPkY3BWadtaNTvvRhnCZwIO82kU44w.jpg" class="profile-picture"/></a> <a href="members/Eevee2Leafeon">Eevee2Leafeon</a></li>
                    
    <li><a href="members/LEOSHERMAN"><img src="../images/pfps/m3immmwkmcxnxyavumz4ge4s5trbjk2tca4omrwvrk8g862rhsjoue6qvnp3xgnzgfdsuxecute-puppy-pictures-white-teddy-bear.jpg" class="profile-picture"/></a> <a href="members/LEOSHERMAN">LEOSHERMAN</a></li>
                    
    <li><a href="members/Leosherman"><img src="../images/pfps/m3immmwkmcxnxyavumz4ge4s5trbjk2tca4omrwvrk8g862rhsjoue6qvnp3xgnzgfdsuxecute-puppy-pictures-white-ted" class="profile-picture"/></a> <a href="members/Leosherman">Leosherman</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>