---
title: cheeseyJax
sidebar: home_sidebar
hide_sidebar: true
keywords: cheeseyJax
permalink: members/cheeseyJax
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/mmwEU0ApfHfYVYVBV4XvTGK6JkYXZAWA.jpg" alt="cheeseyJax" max-width="100"%}
            
    {% include inline_image.html file="pfps/14380.jpg" alt="cheeseyJax" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>12</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>5</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Kleiner Hai-REALLY FUNNY</li>
<img src="{{"../images/thumb/1_70459.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>MrJaxProductions Round up 2011</li>
<img src="{{"../images/thumb/1_125394.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Trucks</li>
                
One truck picking up another truck
                
                <br>
Added: 11-10-2009
                
</ul>
                
<ul>
<li>My-Intro</li>
                
The intro you wil be seing at the tart of my vids!
                
                <br>
Added: 15-10-2011
                
</ul>
                
<ul>
<li>Stupefy-Harry-Potter-spell</li>
                
Having a go at a harry potter spell
                
                <br>
Added: 26-11-2011
                
</ul>
                
<ul>
<li>Magic-Number</li>
                
wow
                
                <br>
Added: 17-12-2011
                
</ul>
                
<ul>
<li>3D-PHOTOS</li>
                
Amazing 3d photos taken on a 2d camera! I edited them to make them 3d!!/nI DO NOT OWN THE MUSIC, ALL COPYRIGHTS ACKNOWLEDGED: World of goo ©
                
                <br>
Added: 20-12-2011
                
</ul>
                
<ul>
<li>index.html</li>
                

                
                <br>
Added: 23-12-2011
                
</ul>
                
<ul>
<li>talking-tog</li>
                
the ultimate dog tease!! ( i do not own this video copyright youtube)
                
                <br>
Added: 20-03-2012
                
</ul>
                
<ul>
<li>funny-meerkats-MUST-SEE</li>
                
LOL
                
                <br>
Added: 20-03-2012
                
</ul>
                
<ul>
<li>Kleiner-Hai-REALLY-FUNNY</li>
                
A bit freakey but you'l want to watch it over and over again (its in german) it's about a small shark that grows bigger and eats smaller fish)
                
                <br>
Added: 20-03-2012
                
</ul>
                
<ul>
<li>Fred-at-the-park</li>
                
Stop animation movie, Music copyright bbc/national orchestra of wales/ murray gold
                
                <br>
Added: 10-04-2012
                
</ul>
                
<ul>
<li>MrJaxProductions-Round-up-2011</li>
                
My highlights of last year 
includng:
Planet earth spoof trailer; done in c4d
Fox intro: (i do not OWN ANY RIGHTS TO SOUNDTRACK)
Harry potter spell: Done in premiere pro
Dr who intro: Not brill actually made this in 2010 but never showed it new one coming soon!
All intros are now old and new ones are on the way for coming years!
Music Copyright BBC 2011! I DO NOT OWN THE MUSIC!
                
                <br>
Added: 16-06-2012
                
</ul>
                
<ul>
<li>Tutorial-Star-wars-Text</li>
                
How to make star wars type text in movie maker Music: Extreme Ways by Moby
                
                <br>
Added: 26-11-2011
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/nevit"><img src="../images/pfps/L1Sbvi1yhPzBNk0EQ4Ahjm6qvBPs5siE.gif" class="profile-picture"/></a> <a href="members/nevit">nevit</a></li>
                    
    <li><a href="members/carboman"><img src="../images/pfps/8wcmjhjq3ajftet0bt5bnqsm24dku8xtuz426cgzcr3tvkiu5evgtdsj7vuqtiae72444cscarboman logo.jpg" class="profile-picture"/></a> <a href="members/carboman">carboman</a></li>
                    
    <li><a href="members/Bstyles"><img src="../images/pfps/6r7VHxFjhtGfgRfdRvQVdp4NvJvZBuK5.jpg" class="profile-picture"/></a> <a href="members/Bstyles">Bstyles</a></li>
                    
    <li><a href="members/Supercat126"><img src="../images/pfps/fvTyHtK82gbe5ROExU5bxRbmkV3kKZ6n.gif" class="profile-picture"/></a> <a href="members/Supercat126">Supercat126</a></li>
                    
    <li><a href="members/stargazer1"><img src="../images/pfps/OrLassEeQCAPE0TvQQUp8s6B2SOgcJVo.jpg" class="profile-picture"/></a> <a href="members/stargazer1">stargazer1</a></li>
                    
    <li><a href="members/Superfrezh5602"><img src="../images/pfps/rcw4z0286hsrmp4nderjqtzsw0z8e8dtc0o2qfynkg3uvx8zzo7g7yzsoqptotdqiqgyv6dSUPERFREZH.gif" class="profile-picture"/></a> <a href="members/Superfrezh5602">Superfrezh5602</a></li>
                    
    <li><a href="members/WigglyXKitten"><img src="../images/pfps/czfififjn6tqxmddjo6gdtnqa4i6keak2dr8mxixszchafiitgpvx2avvgs4kqdeuub4ihscat avatar.gif" class="profile-picture"/></a> <a href="members/WigglyXKitten">WigglyXKitten</a></li>
                    
    <li><a href="members/legoman2000"><img src="../images/pfps/mO6Iesgw57Scf7k6PdaO1unkgUTjK16w.jpg" class="profile-picture"/></a> <a href="members/legoman2000">legoman2000</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>