---
title: christianphillips
sidebar: home_sidebar
hide_sidebar: true
keywords: christianphillips
permalink: members/christianphillips
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/placeholder.gif" alt="christianphillips" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>christian</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>17</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>76</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>4</b></li>
        
<li> Rating: <b>84%</b> out of <b>5</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/pandaboy"><img src="../images/pfps/sVRJnCwUQP7EBaJ0gYufEYssKaPrCDfu.png" class="profile-picture"/></a> <a href="members/pandaboy">pandaboy</a></li>
                    
    <li><a href="members/blink145"><img src="../images/pfps/9M44cn8jCwVmDKecYHMeIOLTTSgvh4Ie.jpg" class="profile-picture"/></a> <a href="members/blink145">blink145</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/justinbieber71597"><img src="../images/pfps/oS6W9q18VTridxhMYeK6kyWJU6xP8rrk.jpg" class="profile-picture"/></a> <a href="members/justinbieber71597">justinbieber71597</a></li>
                    
    <li><a href="members/StormTheWolf"><img src="../images/pfps/CaZatn5Fu18VTyO6HyhLuNxkSnBds0Vu.gif" class="profile-picture"/></a> <a href="members/StormTheWolf">StormTheWolf</a></li>
                    
    <li><a href="members/taylorswift323"><img src="../images/pfps/VPn8Hce5hvrekDIaHNBFftwGA7JhHmKc.gif" class="profile-picture"/></a> <a href="members/taylorswift323">taylorswift323</a></li>
                    
    <li><a href="members/RiotGirl"><img src="../images/pfps/Im9TuEsMNlneDjY4kg7f6uhyLvJSRSOY.jpg" class="profile-picture"/></a> <a href="members/RiotGirl">RiotGirl</a></li>
                    
    <li><a href="members/The-Weegee-Fan"><img src="../images/pfps/4ZusTydTj4rMNv4x35wofabyvBUDVaFP.gif" class="profile-picture"/></a> <a href="members/The-Weegee-Fan">The-Weegee-Fan</a></li>
                    
    <li><a href="members/pokedude"><img src="../images/pfps/bt9mboqs0rifgWPsBAA5QOS6jvSwR2Rs.jpg" class="profile-picture"/></a> <a href="members/pokedude">pokedude</a></li>
                    
    <li><a href="members/mywarning13"><img src="../images/pfps/DQpY9IDH5oPSZCyWeM0It52ClVhP0CV3.jpg" class="profile-picture"/></a> <a href="members/mywarning13">mywarning13</a></li>
                    
    <li><a href="members/baconwinner"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/baconwinner">baconwinner</a></li>
                    
    <li><a href="members/toonster123"><img src="../images/pfps/apmuhIrqlYHRI9My9skrzSnSGREF4WrT.png" class="profile-picture"/></a> <a href="members/toonster123">toonster123</a></li>
                    
    <li><a href="members/metalsonictheonyx"><img src="../images/pfps/L8inKWYRyRc2Bpm4JXgzSeHU8ibRmG7w.png" class="profile-picture"/></a> <a href="members/metalsonictheonyx">metalsonictheonyx</a></li>
                    
    <li><a href="members/luxray"><img src="../images/pfps/dXDJV6N97mJGHH6MG3xghC0wrirLuZiN.jpg" class="profile-picture"/></a> <a href="members/luxray">luxray</a></li>
                    
    <li><a href="members/guineapigluver"><img src="../images/pfps/GqGje8w4uNTL0ZGOpxNqfaEXaQid4aR9.jpg" class="profile-picture"/></a> <a href="members/guineapigluver">guineapigluver</a></li>
                    
    <li><a href="members/Philip666"><img src="../images/pfps/Rvlz5FpzVoncu50Whf2iAFtDxhdcFy7W.jpg" class="profile-picture"/></a> <a href="members/Philip666">Philip666</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>