---
title: cistar14
sidebar: home_sidebar
hide_sidebar: true
keywords: cistar14
permalink: members/cistar14
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/p7bei77nz060sgepadozs3j4f6fv0xvfvxh2tfgh7daohe2gfg6vafrecuz0ij425auog0vretouched.jpg" alt="cistar14" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Ciara</b></li>
        
<li> Age: <b>2011</b></li>
        
<li> Gender: <b></b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>6</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>87</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>600</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>91.11%</b> out of <b>18</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Kidstube Idol Entry - Me Singing Pushing Me Away by Jonas Brothers</li>
<img src="{{"../images/thumb/k1NPbee1FBsvgHkravCr.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Me singing Butterfly Fly Away (faster verison)</li>
<img src="{{"../images/thumb/DpsCFTPusGBk2tLtmmiw.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Me singing Ave Maria at my school's Talent Show</li>
<img src="{{"../images/thumb/gXNquhTpberorE3k5bp1.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Me singing The Voice Within</li>
<img src="{{"../images/thumb/SbjCHEcNxWwnaUgRP05r.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Me singing Halo</li>
<img src="{{"../images/thumb/q4TzyoFdoCBCUYwwKRGD.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Me singing Turn right by the Jonas Brothers</li>
<img src="{{"../images/thumb/EuHmSvhyBdpdL3dxTnVx.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Me Singing Already Gone by Kelly Clarkson</li>
<img src="{{"../images/thumb/1_53280.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Me singing Butterfly Fly Away (faster verison)</li>
                
PLEASE vote for me at kidstubeidol.com I sung pushing me away by the jonas brothers i'm the one with the guitar.
                
                <br>
Added: 09-05-2009
                
</ul>
                
<ul>
<li>Me singing Ave Maria at my school's Talent Show</li>
                
This was at my school talent show.
                
                <br>
Added: 09-05-2009
                
</ul>
                
<ul>
<li>Me singing The Voice Within</li>
                
This is when I first started playing the guitar (so it's not very good lol)
                
                <br>
Added: 09-05-2009
                
</ul>
                
<ul>
<li>Me-singing-Turn-right-by-the-Jonas-Brothers</li>
                
I wanted to try this song
                
                <br>
Added: 12-07-2009
                
</ul>
                
<ul>
<li>Me singing Human Nature (Mileyworld)</li>
                
I made it into the top 6!!! Just a few more rounds to go.... :) The top 4 get a music video and winner gets  a record deal and gets to meet Miley. If you have an account please vote for me =] I haven't been recording videos that much i'll put some up soon. Please leave a comment. They are also going to put the videos on MIleyCyrus.com soon!!
                
                <br>
Added: 30-07-2009
                
</ul>
                
<ul>
<li>Me-Singing-Already-Gone-by-Kelly-Clarkson</li>
                
I love this song and shes one of my favorite American Idol winners :) Hope you enjoy. Kidstube rox!!
                
                <br>
Added: 30-03-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/xolylaepic"><img src="../images/pfps/HIDNNxLBGGUk1Gun4NTUaLoZdG4b9qzE.gif" class="profile-picture"/></a> <a href="members/xolylaepic">xolylaepic</a></li>
                    
    <li><a href="members/luckylisa1998"><img src="../images/pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" class="profile-picture"/></a> <a href="members/luckylisa1998">luckylisa1998</a></li>
                    
    <li><a href="members/newswithjosh"><img src="../images/pfps/BhKwAUJmGGZOKms4YCmfxbBEhtORVzYW.jpg" class="profile-picture"/></a> <a href="members/newswithjosh">newswithjosh</a></li>
                    
    <li><a href="members/erkderk"><img src="../images/pfps/FiP3ivht60SDjPYucji1rbuZAIeaFcWI.png" class="profile-picture"/></a> <a href="members/erkderk">erkderk</a></li>
                    
    <li><a href="members/Rockstar44"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Rockstar44">Rockstar44</a></li>
                    
    <li><a href="members/ChloeRox"><img src="../images/pfps/tkj7qidi57mc4q2ynohp25maajrm43soc3jtakz6gb8brzy4c4h50u5y2nbuhs8jjg0jrsgLet_the_Music_Play_On_by_RainChilD1.jpg" class="profile-picture"/></a> <a href="members/ChloeRox">ChloeRox</a></li>
                    
    <li><a href="members/webkinz"><img src="../images/pfps/vHovk4cs0FoDQPKUKoCAIStYwu16EjQx.gif" class="profile-picture"/></a> <a href="members/webkinz">webkinz</a></li>
                    
    <li><a href="members/shadowbunny50"><img src="../images/pfps/XQgDG62ZggFxQScBmLa5mP8ouZNxoVqC.jpg" class="profile-picture"/></a> <a href="members/shadowbunny50">shadowbunny50</a></li>
                    
    <li><a href="members/jackshannah"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/jackshannah">jackshannah</a></li>
                    
    <li><a href="members/allybabally"><img src="../images/pfps/plOL2O1PQd523y9PQ3brOWfA2TENhp5L.jpg" class="profile-picture"/></a> <a href="members/allybabally">allybabally</a></li>
                    
    <li><a href="members/doggyfroggy97"><img src="../images/pfps/08iwinpa3kyep8s24saagtyamrfor0yiz53aji7brvf4sxxnevokfbiqrn48esf3m60veyuSunset.jpg" class="profile-picture"/></a> <a href="members/doggyfroggy97">doggyfroggy97</a></li>
                    
    <li><a href="members/rayrachness"><img src="../images/pfps/nvi8riz0png5bunip36tqm8eyzwzsae3to2bws2b3844rhb6c8pqkou8dhyvf3pwhfy3yr2Picture 1.jpg" class="profile-picture"/></a> <a href="members/rayrachness">rayrachness</a></li>
                    
    <li><a href="members/orgie1098"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/orgie1098">orgie1098</a></li>
                    
    <li><a href="members/qbraz98"><img src="../images/pfps/3dkptgds0nrjenrmvys404voz3dsebx8e6oxdpf22wa57qhtdxm5s6hhzkz3mmzqhcdirgath_Dog_Started_It.jpg" class="profile-picture"/></a> <a href="members/qbraz98">qbraz98</a></li>
                    
    <li><a href="members/heart_of_champs"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/heart_of_champs">heart_of_champs</a></li>
                    
    <li><a href="members/nintend-boy-john"><img src="../images/pfps/g24ijovpa3b08ws5e45oegiq5x66z7s6ykd8wymwqnnn73iaydp3jxhdkdabbq5x08wov88star.jpg" class="profile-picture"/></a> <a href="members/nintend-boy-john">nintend-boy-john</a></li>
                    
    <li><a href="members/DXZ"><img src="../images/pfps/yfrpkqf2epcbrrsjhrod202hueqnyk2prh2zx5t3mt20bk8gznjscd0wffb3q0i588wu4gmDXZ.jpg" class="profile-picture"/></a> <a href="members/DXZ">DXZ</a></li>
                    
    <li><a href="members/lovelycaity140"><img src="../images/pfps/t6mhqphfw2ew6i3twjkgvqhsoa57vghgbtmqatvujxhe48ypi7v2n3my3fwoj4umn42nom5HAWTfwiends.jpg" class="profile-picture"/></a> <a href="members/lovelycaity140">lovelycaity140</a></li>
                    
    <li><a href="members/neyostar4321"><img src="../images/pfps/pdj0fhdje7w2zi738ir2xkpxz657725n4deakiioe5g2ecwcic47njvdfpbdg4qb7s8hyhv4720580001_large.jpg" class="profile-picture"/></a> <a href="members/neyostar4321">neyostar4321</a></li>
                    
    <li><a href="members/Julianna77"><img src="../images/pfps/urh3zwyw35wmvj7wvdqkvio2qssd0qqj5vcwjyhbu5ogfj2yngb8np237i6wwk5t57edwmeimagesCAKNE60M.jpg" class="profile-picture"/></a> <a href="members/Julianna77">Julianna77</a></li>
                    
    <li><a href="members/ashley92308"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ashley92308">ashley92308</a></li>
                    
    <li><a href="members/Devsandpeb"><img src="../images/pfps/wfqhisdo6aqya8m7cj5raqktms4gsuxfxcn7uqjqoxfpxrnzyigyyrg87cgqu2wj47fnnn3cards-main_Full.jpg" class="profile-picture"/></a> <a href="members/Devsandpeb">Devsandpeb</a></li>
                    
    <li><a href="members/Papi101"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Papi101">Papi101</a></li>
                    
    <li><a href="members/DestinyHopeCyrus"><img src="../images/pfps/ob5eu2udrm8637m5eutxxmykoi5y0rzesvibm2f4cc057czcuhyitmu6uotk3hpj3vmgmp8miley_smile.jpg" class="profile-picture"/></a> <a href="members/DestinyHopeCyrus">DestinyHopeCyrus</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/Knarli"><img src="../images/pfps/flwG8DextvRbdlOGolRwWmxdS86FHgkm.jpg" class="profile-picture"/></a> <a href="members/Knarli">Knarli</a></li>
                    
    <li><a href="members/TheZachCameBack"><img src="../images/pfps/cjj4ps02x3fxnxb888260u3wd4yexjvxu5tamkzbc3wnryjqxconuf7xaw2w7okqh2otbcumy pix 018.jpg" class="profile-picture"/></a> <a href="members/TheZachCameBack">TheZachCameBack</a></li>
                    
    <li><a href="members/iris"><img src="../images/pfps/4jk3m5kf77ptbq53mk00rw0bxww055czfnrsg3vcy8tzpprzxirf3ger3yjxujm0u4h0v00Frangipani Flowers.jpg" class="profile-picture"/></a> <a href="members/iris">iris</a></li>
                    
    <li><a href="members/Rhianna123"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Rhianna123">Rhianna123</a></li>
                    
    <li><a href="members/relientkgrl98"><img src="../images/pfps/tf0abqzog0zgf6msiyq6ardn5zokn3766w58cvnikcor8zahnock3fxx5b6g45e0q7xsrazbtn_metFamily.jpg" class="profile-picture"/></a> <a href="members/relientkgrl98">relientkgrl98</a></li>
                    
    <li><a href="members/brandonfive"><img src="../images/pfps/0fixss740ioxcw5tmghz80in80kqin4asbvbst3jzf73z4kc8s27jaij0uxa7s7qttpcbiksr_d730cccd9392be.jpg" class="profile-picture"/></a> <a href="members/brandonfive">brandonfive</a></li>
                    
    <li><a href="members/mya"><img src="../images/pfps/x6xhpkmx2ei6dh0mnxyiwtovmafczxwmvkt8u5xn74hbc6knvbtiu734786vuu7e3qemjzzktube.jpg" class="profile-picture"/></a> <a href="members/mya">mya</a></li>
                    
    <li><a href="members/niyahgirlj2"><img src="../images/pfps/enfywira0nxn7ymr578fxco0itna7o3d2aznifk7r6mnvv5pr4vf4a4dthcqu5tk5hxdn6b100_0235.jpg" class="profile-picture"/></a> <a href="members/niyahgirlj2">niyahgirlj2</a></li>
                    
    <li><a href="members/tyguy4211"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/tyguy4211">tyguy4211</a></li>
                    
    <li><a href="members/ice59"><img src="../images/pfps/utz7rrjhfxwdnwt850xpdws5msifi5i0n6z5oadsvzvamd6f2uu3fbypr6tzz2sdxg8cgbuSunset.jpg" class="profile-picture"/></a> <a href="members/ice59">ice59</a></li>
                    
    <li><a href="members/chelseatyree11"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/chelseatyree11">chelseatyree11</a></li>
                    
    <li><a href="members/brittanythree"><img src="../images/pfps/8v6ayykgx2tbkc46uk3ojf2cab7nz6qxrnxec6mxw5y75s3p3u3e0vg0xcem8saq3xv3u5s4070194565_435d5f4af9_t.jpg" class="profile-picture"/></a> <a href="members/brittanythree">brittanythree</a></li>
                    
    <li><a href="members/kidstuberocks2"><img src="../images/pfps/uh8vk3apbxdmhbx55uxv8hrwfkrhzegjjf5v76b6scizd5u6ogqkm88rjqy7s3h07cn56m2n167321276490_5901.jpg" class="profile-picture"/></a> <a href="members/kidstuberocks2">kidstuberocks2</a></li>
                    
    <li><a href="members/lindseylu1999"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/lindseylu1999">lindseylu1999</a></li>
                    
    <li><a href="members/EzzieRockz"><img src="../images/pfps/OTMLoN4Xprj6dxWerknCQCMjfZTQVu0j.jpg" class="profile-picture"/></a> <a href="members/EzzieRockz">EzzieRockz</a></li>
                    
    <li><a href="members/Jo-Ni-KeJONAS"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Jo-Ni-KeJONAS">Jo-Ni-KeJONAS</a></li>
                    
    <li><a href="members/blessed_5"><img src="../images/pfps/5on8a7vgzk46eva7svqxq025hvdpwzpqd0ndy8hnicknvije4xzmpsfufg8z7ogbdre2qjg13626_100_100.jpg" class="profile-picture"/></a> <a href="members/blessed_5">blessed_5</a></li>
                    
    <li><a href="members/Rockgirl"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Rockgirl">Rockgirl</a></li>
                    
    <li><a href="members/ccb123"><img src="../images/pfps/ouxoj08rnjjjmbbphwc3jh052oh66vrjedvo4u3i5dsfdsvifvcp40jugprb86id74q3qjapenguin.gif" class="profile-picture"/></a> <a href="members/ccb123">ccb123</a></li>
                    
    <li><a href="members/NeoPenguinAnimeLover"><img src="../images/pfps/dq4hu3qpwe6pk2n3gtfz6zxbsu2en5wonrt5jbk6dijp8wgfen6bbsdrb3woyjzcyk68jf3931da60c228bf7a6924d8184656a2fd61238435095_full.jpg" class="profile-picture"/></a> <a href="members/NeoPenguinAnimeLover">NeoPenguinAnimeLover</a></li>
                    
    <li><a href="members/Queenalesia"><img src="../images/pfps/bh2dauz07ogi73iok860egzbo4dnb5zcdtdcc30af7icyqq7nnxpuoo6gqhhj8ikqjnsecqzwinky 8.jpg" class="profile-picture"/></a> <a href="members/Queenalesia">Queenalesia</a></li>
                    
    <li><a href="members/etc_etc_etc"><img src="../images/pfps/uADIhmUXovlQUKoJHGJzUzkjWlj3v7Hd.png" class="profile-picture"/></a> <a href="members/etc_etc_etc">etc_etc_etc</a></li>
                    
    <li><a href="members/JanelleLuv"><img src="../images/pfps/psyq2jawa4pe8o8jc2r3iuytcdpbfzisg56ad4wdycfwof6p7mig65yaaebd4htcbqaeiugcrisaa.jpg" class="profile-picture"/></a> <a href="members/JanelleLuv">JanelleLuv</a></li>
                    
    <li><a href="members/gorgey-poo"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/gorgey-poo">gorgey-poo</a></li>
                    
    <li><a href="members/laloca"><img src="../images/pfps/rdyuoiz6ht4br6tzaepxorhejzkvd44t5tci33f8k8725rs5w8r8oydxomhrgc8cwciq3pnMCUt8xiQG0Sx.jpg" class="profile-picture"/></a> <a href="members/laloca">laloca</a></li>
                    
    <li><a href="members/magicgirl"><img src="../images/pfps/hq4at07w3556s7g3z0zz8ayczjzeebymprk8giwbes7uqcme3c43cr3zyt24vqe87n8fvvgsmooth criminal!.jpg" class="profile-picture"/></a> <a href="members/magicgirl">magicgirl</a></li>
                    
    <li><a href="members/pinkfire189"><img src="../images/pfps/0ye7c23ebtw7ghq5j6ykfypkt5bdznepcgoc8fg8z364ckzjgqujdatx3s0s4374aj77qe6Toco Toucan.jpg" class="profile-picture"/></a> <a href="members/pinkfire189">pinkfire189</a></li>
                    
    <li><a href="members/dmp2101"><img src="../images/pfps/5w7iam2mj0dtcvfpimgqi20s668resj7dffds5nzxqjzbndhyjx7bno7jnqn3zk63qbjkoadorothy.jpg" class="profile-picture"/></a> <a href="members/dmp2101">dmp2101</a></li>
                    
    <li><a href="members/hollywood"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/hollywood">hollywood</a></li>
                    
    <li><a href="members/qwes1106"><img src="../images/pfps/arfereynafepcvhwnypyqiacvyvrm4tjjym208fzfhff0m3cbg0pnzs8ncoz467ftk5mh8aFrangipani Flowers.jpg" class="profile-picture"/></a> <a href="members/qwes1106">qwes1106</a></li>
                    
    <li><a href="members/iowastate1998"><img src="../images/pfps/MxRbzjqS4DOM6UwsVM6y6aENzCm1WMTg.jpg" class="profile-picture"/></a> <a href="members/iowastate1998">iowastate1998</a></li>
                    
    <li><a href="members/babyj2903"><img src="../images/pfps/uVC7Tda3ry5YTGLHovhu6qxJcKQTtnEd.png" class="profile-picture"/></a> <a href="members/babyj2903">babyj2903</a></li>
                    
    <li><a href="members/ZeldaSonicfan"><img src="../images/pfps/FuV0geuCSU4smA35BsxgmgOnPAB4nHiq.gif" class="profile-picture"/></a> <a href="members/ZeldaSonicfan">ZeldaSonicfan</a></li>
                    
    <li><a href="members/candycorn112"><img src="../images/pfps/hx6oj4wt5ytw3syisyf7irfbsmdufhfm3cxd4iuy7cmzvb8cyea5te7cqbxug3673s8y0tmimages.jpg" class="profile-picture"/></a> <a href="members/candycorn112">candycorn112</a></li>
                    
    <li><a href="members/koreo"><img src="../images/pfps/MQeKaGVPMFRBeDajCarNSITcPouoBcrL.gif" class="profile-picture"/></a> <a href="members/koreo">koreo</a></li>
                    
    <li><a href="members/GuineaPigCare"><img src="../images/pfps/EIfx1z7aK0lwK2mIWHi2g7HVkI2u1OR4.jpg" class="profile-picture"/></a> <a href="members/GuineaPigCare">GuineaPigCare</a></li>
                    
    <li><a href="members/i_rock4449"><img src="../images/pfps/uqxo652djhpiderwdgn3fbis50h05zbqgy5evxh33ub5wssyy4s43ykyqrojhq0pdurwgyrPicture 242.jpg" class="profile-picture"/></a> <a href="members/i_rock4449">i_rock4449</a></li>
                    
    <li><a href="members/popstaralex"><img src="../images/pfps/cSjhBepypzRe3SnWmZhpgDFjms9rdVa3.jpg" class="profile-picture"/></a> <a href="members/popstaralex">popstaralex</a></li>
                    
    <li><a href="members/Allie1"><img src="../images/pfps/2rvxMPrQT7Twp2g4iEePeiQ33BxOhIEa.jpg" class="profile-picture"/></a> <a href="members/Allie1">Allie1</a></li>
                    
    <li><a href="members/Glittergal8"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Glittergal8">Glittergal8</a></li>
                    
    <li><a href="members/sophiefreak"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/sophiefreak">sophiefreak</a></li>
                    
    <li><a href="members/deondray6"><img src="../images/pfps/gekc3sbs4tpfvsrp3qpzre2b7uf53hp7jz8chasct6hdpwrgd47u8zv5iy0c5e8d57fd5wd1207951-H[1].jpg" class="profile-picture"/></a> <a href="members/deondray6">deondray6</a></li>
                    
    <li><a href="members/PeaceLoveFriends10"><img src="../images/pfps/LNdI6mpiSHziGnVN8KZIf6lUoTXYvMw4.gif" class="profile-picture"/></a> <a href="members/PeaceLoveFriends10">PeaceLoveFriends10</a></li>
                    
    <li><a href="members/cuploony06"><img src="../images/pfps/im4e8ixcp8q38brb8nuxfssud7q0a07gb2k7868o3ph2rw3obpcg5u0aqf0o6wu6n32nz0yimagesCA8S3YXZ.jpg" class="profile-picture"/></a> <a href="members/cuploony06">cuploony06</a></li>
                    
    <li><a href="members/daniashley02"><img src="../images/pfps/q655co30jd2zjp0zbd4764qjsfptmzdzw8vwoqmvrcm0rdrtekpad6jvazgjohbaewusb5dPhoto 40.jpg" class="profile-picture"/></a> <a href="members/daniashley02">daniashley02</a></li>
                    
    <li><a href="members/Taylor4"><img src="../images/pfps/rgqimyrqhothh5e2zznnkbhxr6wcgo6vun46anofy5m4zqwqh70q87er4yt8dqvy2qtz056longhorn.jpg" class="profile-picture"/></a> <a href="members/Taylor4">Taylor4</a></li>
                    
    <li><a href="members/KayliStar"><img src="../images/pfps/fwCqmsXQVew4itEm1xENe9c04IfJF8yi.gif" class="profile-picture"/></a> <a href="members/KayliStar">KayliStar</a></li>
                    
    <li><a href="members/taylab"><img src="../images/pfps/72eeEw9sNBeLPKh1ig6ExZufJOtsxz4u.gif" class="profile-picture"/></a> <a href="members/taylab">taylab</a></li>
                    
    <li><a href="members/Jewelz"><img src="../images/pfps/37puwyEEBcLIgCrC6sMRiVRuh8cdL1EC.jpg" class="profile-picture"/></a> <a href="members/Jewelz">Jewelz</a></li>
                    
    <li><a href="members/SportyChick"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/SportyChick">SportyChick</a></li>
                    
    <li><a href="members/christina27"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/christina27">christina27</a></li>
                    
    <li><a href="members/conversebabe"><img src="../images/pfps/N8Ok9J3zAkXjVSAKhkwS4hYAP4bqgIZt.jpg" class="profile-picture"/></a> <a href="members/conversebabe">conversebabe</a></li>
                    
    <li><a href="members/maddismiles97"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/maddismiles97">maddismiles97</a></li>
                    
    <li><a href="members/wefunny101"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/wefunny101">wefunny101</a></li>
                    
    <li><a href="members/crybrycecry"><img src="../images/pfps/y72ar3prw3tnmtckqzrdvj8f5tgotexiaogpfu52onfy6hak8ros2kxv227m4vs27zidie5me.jpg" class="profile-picture"/></a> <a href="members/crybrycecry">crybrycecry</a></li>
                    
    <li><a href="members/justin bieber"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/justin bieber">justin bieber</a></li>
                    
    <li><a href="members/thelightningthief"><img src="../images/pfps/iMlibhzn1pG5o1uyCSKdKoAjki0R5vre.png" class="profile-picture"/></a> <a href="members/thelightningthief">thelightningthief</a></li>
                    
    <li><a href="members/lexis727"><img src="../images/pfps/t6vjf0oeq8cazbagcqghtfuoa4jp5ctn8dwe4bgi7gixhg2jv6pddard2yqx07bxcwz4x4ePhoto 41.jpg" class="profile-picture"/></a> <a href="members/lexis727">lexis727</a></li>
                    
    <li><a href="members/Music-is-Life"><img src="../images/pfps/lX5cGykafxKglbRjDc3QErTzDjfLatRB.jpg" class="profile-picture"/></a> <a href="members/Music-is-Life">Music-is-Life</a></li>
                    
    <li><a href="members/rocket648"><img src="../images/pfps/Kz70KsgrEw3v04oEqdNaK6Mxffj8xZ37.jpg" class="profile-picture"/></a> <a href="members/rocket648">rocket648</a></li>
                    
    <li><a href="members/lilpopstar0613"><img src="../images/pfps/cJ0Uy3bReJfCm3EYwidRXGmA2pIsHq5k.jpg" class="profile-picture"/></a> <a href="members/lilpopstar0613">lilpopstar0613</a></li>
                    
    <li><a href="members/Bumble"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Bumble">Bumble</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/shadowbunny50" file="pfps/qiTxU5cfPMnPAKWPUWpR6C4O4NaGZHGF.jpg" alt="shadowbunny50" %}

<p><b>Username:</b> <a href="members/shadowbunny50">shadowbunny50</a></p>

<p><b>Date:</b> 2010-02-15 12:09:36</p>

<p class="comment"><b>Comment:</b> <p>hey whats up?</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/taylab" file="pfps/72eeEw9sNBeLPKh1ig6ExZufJOtsxz4u.gif" alt="taylab" %}

<p><b>Username:</b> <a href="members/taylab">taylab</a></p>

<p><b>Date:</b> 2010-02-11 17:24:52</p>

<p class="comment"><b>Comment:</b> <p>hi you can sing really good</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/PeaceLoveFriends10" file="pfps/iknwA0lRLeUMocK7YYc5Ep5bE4fHrUcP.png" alt="PeaceLoveFriends10" %}

<p><b>Username:</b> <a href="members/PeaceLoveFriends10">PeaceLoveFriends10</a></p>

<p><b>Date:</b> 2010-02-03 17:39:00</p>

<p class="comment"><b>Comment:</b> <p>You rock ciara!</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>