---
title: coltsfan99
sidebar: home_sidebar
hide_sidebar: true
keywords: coltsfan99
permalink: members/coltsfan99
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/2zt4uc82xh6tan0dzdi4tjm75fet07ctvvogwm6it22rfsu4v0ydc8b5cdp3brouczyycu7my cool text.png" alt="coltsfan99" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Nick</b></li>
        
<li> Age: <b>2011</b></li>
        
<li> Gender: <b></b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>12</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>27</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>248</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>100%</b> out of <b>2</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Guitar Hero 3-One</li>
<img src="{{"../images/thumb/1xAuDuDNNQYFVpnxbqBc.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>My Pokemon Drawings</li>
<img src="{{"../images/thumb/3aCrFc5a33AUCbgdODIr.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>KidsTube Poem</li>
<img src="{{"../images/thumb/asJODpJ2t3TotSpnSNN0.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Party on the Trampoline</li>
<img src="{{"../images/thumb/mLxNv2yysGyx5UNZeYIJ.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>My Newest Pokemon Drawings</li>
<img src="{{"../images/thumb/Y3y4ybCfnFZ1bcboYjHt.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>A One Arm kid tries to play basketball</li>
<img src="{{"../images/thumb/Tv5WnguPdWjGlS3XPX5K.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Good Bye Video</li>
<img src="{{"../images/thumb/1_20096.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Guitar-Hero-3-One</li>
                
This isn't the whole song, but MOST of it!Check out my other videos!Please comment and rate.O and this is my first vid.
                
                <br>
Added: 06-05-2009
                
</ul>
                
<ul>
<li>My-Pokemon-Drawings</li>
                
These are my newest Pokemon drawings. It only took me about a day and a half of hard work.Please comment.
                
                <br>
Added: 07-05-2009
                
</ul>
                
<ul>
<li>KidsTube Poem</li>
                
Original KidsTube poem, written by me!This is the first KidsTube poem!
Please comment and rate.
                
                <br>
Added: 07-05-2009
                
</ul>
                
<ul>
<li>Party-on-the-Trampoline</li>
                
I love to jump on my trampoline! Please comment.
                
                <br>
Added: 07-05-2009
                
</ul>
                
<ul>
<li>My Newest Pokemon Drawings</li>
                
These are my new two pokemon drawings.
                
                <br>
Added: 10-05-2009
                
</ul>
                
<ul>
<li>A-One-Arm-kid-tries-to-play-basketball</li>
                
I really tried to do my best but this one armed kid walked in and tried to play basketball with me.
                
                <br>
Added: 19-05-2009
                
</ul>
                
<ul>
<li>A-Lryic-to-Soulja-Girl</li>
                
This is one of the lryics to Soulja Girl.
                
                <br>
Added: 19-05-2009
                
</ul>
                
<ul>
<li>News with Nick Part 3</li>
                
News with Nick!
                
                <br>
Added: 11-08-2009
                
</ul>
                
<ul>
<li>News with Nick Part 1</li>
                
News with Nick...guest starring Bob!
                
                <br>
Added: 11-08-2009
                
</ul>
                
<ul>
<li>News with Nick Part 2</li>
                
News with Nick!
                
                <br>
Added: 11-08-2009
                
</ul>
                
<ul>
<li>A-Thank-You-Video</li>
                
A thanks to a certain person I know.
                
                <br>
Added: 23-09-2009
                
</ul>
                
<ul>
<li>Good Bye Video</li>
                
Bye guys I'm leaving KidsTube.But theres a good part about.Just watch this.Also there is a good reason too.
                
                <br>
Added: 25-09-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/eevee2glaceon"><img src="../images/pfps/7m3jxetrngugcpavkjwugtky28ecf6kegeo4h6mub4ybjzxs7ibe0j2ri6tn04r7732fzcxeevee.jpg" class="profile-picture"/></a> <a href="members/eevee2glaceon">eevee2glaceon</a></li>
                    
    <li><a href="members/cheesemeface11"><img src="../images/pfps/6xhid4cfbyu7t4hhmwwhkdxo2f2vqhnn6ttaowfqjxm3qtazfu8qxu4o0u7h3msx3bvhxyvcheese.jpg" class="profile-picture"/></a> <a href="members/cheesemeface11">cheesemeface11</a></li>
                    
    <li><a href="members/RukiaKuchki1997"><img src="../images/pfps/vwtruk8od03qrfzo0fp8i87bvsq7xd2hxmyivvuwmpd3s0fh6sgercfdttbfu2nicapvubj11136_101396623221793_100000543672702_37855_6916117_n.jpg" class="profile-picture"/></a> <a href="members/RukiaKuchki1997">RukiaKuchki1997</a></li>
                    
    <li><a href="members/Bstyles"><img src="../images/pfps/6r7VHxFjhtGfgRfdRvQVdp4NvJvZBuK5.jpg" class="profile-picture"/></a> <a href="members/Bstyles">Bstyles</a></li>
                    
    <li><a href="members/LukBukTutorials"><img src="../images/pfps/k8xpw5cuywsnw6enmd0vc0d63mkt6qehp2vbvxvkmex880kj2c54360uicdfshm7a76uvq5LBT Laser.jpg" class="profile-picture"/></a> <a href="members/LukBukTutorials">LukBukTutorials</a></li>
                    
    <li><a href="members/sukiprincess636"><img src="../images/pfps/qvpvxt8ib87hfyxdzniaws6tdxkjqhm40zqqhowhkupqhdr8rz8eg5vkt5s7b5z2thg0t38team edward.jpg" class="profile-picture"/></a> <a href="members/sukiprincess636">sukiprincess636</a></li>
                    
    <li><a href="members/coolmansnuffytoon"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/coolmansnuffytoon">coolmansnuffytoon</a></li>
                    
    <li><a href="members/Devsandpeb"><img src="../images/pfps/wfqhisdo6aqya8m7cj5raqktms4gsuxfxcn7uqjqoxfpxrnzyigyyrg87cgqu2wj47fnnn3cards-main_Full.jpg" class="profile-picture"/></a> <a href="members/Devsandpeb">Devsandpeb</a></li>
                    
    <li><a href="members/Pokedude79"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Pokedude79">Pokedude79</a></li>
                    
    <li><a href="members/MOkid99"><img src="../images/pfps/QvTwbyoxBAAleH4S9FEbCfYQerbBcgxs.gif" class="profile-picture"/></a> <a href="members/MOkid99">MOkid99</a></li>
                    
    <li><a href="members/nintendo100"><img src="../images/pfps/3t46hjdkz0wtynwer00z3d78qapbrbeks8fyij76buqz5e3m3scuv7rd57en6hvngzcoa8klogo1.jpg" class="profile-picture"/></a> <a href="members/nintendo100">nintendo100</a></li>
                    
    <li><a href="members/nintend-boy-john"><img src="../images/pfps/g24ijovpa3b08ws5e45oegiq5x66z7s6ykd8wymwqnnn73iaydp3jxhdkdabbq5x08wov88star.jpg" class="profile-picture"/></a> <a href="members/nintend-boy-john">nintend-boy-john</a></li>
                    
    <li><a href="members/Shadow_Guy"><img src="../images/pfps/0opry5k7wgwb7g8dp66ki6ap28qnknob20spw2kj87i5dh8sf50m000txg5atj8mbrzvjb3Brambleclaw.jpg" class="profile-picture"/></a> <a href="members/Shadow_Guy">Shadow_Guy</a></li>
                    
    <li><a href="members/Jirachi681"><img src="../images/pfps/iCYkoxfia7NmbwqWzZp3PsQHQPBSfbcD.png" class="profile-picture"/></a> <a href="members/Jirachi681">Jirachi681</a></li>
                    
    <li><a href="members/spongbob"><img src="../images/pfps/m7eom38v88wi78kp0gpfdp3evxjtp53y05eewdxwaj57ieoak0dmg4q2syk6sevkaxnu0bhSasuke-2.gif" class="profile-picture"/></a> <a href="members/spongbob">spongbob</a></li>
                    
    <li><a href="members/TreeckoFan202"><img src="../images/pfps/e3bjtd2xj4qw6nr0divj84x7xhztvkizchbvk0jtt0grcvig42o2wazihqz4y8sygrkqis7treecko1[1].gif" class="profile-picture"/></a> <a href="members/TreeckoFan202">TreeckoFan202</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/whackykid"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/whackykid">whackykid</a></li>
                    
    <li><a href="members/kidstuberocks1"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/kidstuberocks1">kidstuberocks1</a></li>
                    
    <li><a href="members/hunter89"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/hunter89">hunter89</a></li>
                    
    <li><a href="members/KINZ123456"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/KINZ123456">KINZ123456</a></li>
                    
    <li><a href="members/thevideogamemaster"><img src="../images/pfps/mR4TbRUGPjNkfZcsPAM0P0BH9ki7TJf3.png" class="profile-picture"/></a> <a href="members/thevideogamemaster">thevideogamemaster</a></li>
                    
    <li><a href="members/newnew"><img src="../images/pfps/mrv4es3vpt8sd8k0r5adegwr8nkyn2ayjusmbj7r36756iumeuph0bwxm7myzmn763j8bgoJustin-Bieber-Love-Me.jpg" class="profile-picture"/></a> <a href="members/newnew">newnew</a></li>
                    
    <li><a href="members/etc_etc_etc"><img src="../images/pfps/uADIhmUXovlQUKoJHGJzUzkjWlj3v7Hd.png" class="profile-picture"/></a> <a href="members/etc_etc_etc">etc_etc_etc</a></li>
                    
    <li><a href="members/legomovies"><img src="../images/pfps/628kfkd05dcwppd30qjgamkz804qysgvid6poaejce5pu6ijntok3xczp4hcnmxuqs72rcblego.jpg" class="profile-picture"/></a> <a href="members/legomovies">legomovies</a></li>
                    
    <li><a href="members/Anjayo"><img src="../images/pfps/qckRIrdqFHa20ebIbnJsQfthvX9Trh8V.gif" class="profile-picture"/></a> <a href="members/Anjayo">Anjayo</a></li>
                    
    <li><a href="members/shadow_guy"><img src="../images/pfps/0opry5k7wgwb7g8dp66ki6ap28qnknob20spw2kj87i5dh8sf50m000txg5atj8mbrzvjb3Brambleclaw.jpg" class="profile-picture"/></a> <a href="members/shadow_guy">shadow_guy</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>