---
title: conversebabe
sidebar: home_sidebar
hide_sidebar: true
keywords: conversebabe
permalink: members/conversebabe
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/N8Ok9J3zAkXjVSAKhkwS4hYAP4bqgIZt.jpg" alt="conversebabe" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>6</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>3</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Birthday Countdown</li>
<img src="{{"../images/thumb/1_50203.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>RockStar-Offical-Music-Video</li>
                
My music video to rockstar:)
                
                <br>
Added: 23-01-2010
                
</ul>
                
<ul>
<li>One-Time-Offical-Music-Video</li>
                
I LOVEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE Justin Bieber, one time:)<br />
<br />
Buy 'Baby' on itunes& make it #1!!!!!!!!!!!!!!!!!!!!!!!!!!
                
                <br>
Added: 26-01-2010
                
</ul>
                
<ul>
<li>Party-In-The-USA-Offical-Music-Video</li>
                
hahahahahahaha
                
                <br>
Added: 03-02-2010
                
</ul>
                
<ul>
<li>Birthday-Countdown</li>
                
Day 1
                
                <br>
Added: 03-02-2010
                
</ul>
                
<ul>
<li>DemiLovato--SelenaGomez-One-and-The-Same</li>
                
:)(::)(::)(:
                
                <br>
Added: 30-01-2010
                
</ul>
                
<ul>
<li>DemiLovato--SelenaGomez-One-and-The-Same</li>
                
:)(::)(::)(:
                
                <br>
Added: 30-01-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/cistar14"><img src="../images/pfps/p7bei77nz060sgepadozs3j4f6fv0xvfvxh2tfgh7daohe2gfg6vafrecuz0ij425auog0vretouched.jpg" class="profile-picture"/></a> <a href="members/cistar14">cistar14</a></li>
                    
    <li><a href="members/thisisalyssa"><img src="../images/pfps/cgp8uitzb8qa0g88qw2gw8xrohk0oixopdk7j2vk0djthiqy3i3ofr5uyhmboao0byxmsjubfflwlp!.jpg" class="profile-picture"/></a> <a href="members/thisisalyssa">thisisalyssa</a></li>
                    
    <li><a href="members/macc98"><img src="../images/pfps/cl7BycFErB6lZqM6WVYXQ9buZGIiUlLu.jpg" class="profile-picture"/></a> <a href="members/macc98">macc98</a></li>
                    
    <li><a href="members/tatum27"><img src="../images/pfps/vfcpufpi24sgextdvtajrckuchwsk645d6kvay52ro6wapzw8x4oxd6zkuhurcqu6yh6obwtatum.jpg" class="profile-picture"/></a> <a href="members/tatum27">tatum27</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>