---
title: coolguy98
sidebar: home_sidebar
hide_sidebar: true
keywords: coolguy98
permalink: members/coolguy98
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/placeholder.gif" alt="coolguy98" max-width="100"%}
            
    {% include inline_image.html file="pfps/nopic.jpg" alt="coolguy98" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>1</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>4</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>world 2</li>
<img src="{{"../images/thumb/1_18318.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Lightsaber-Duel</li>
                
Get comfy get a bevrage and snacks and engoy the show!
                
                <br>
Added: 17-07-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/PleaseEnterNameHere"><img src="../images/pfps/zysx7qoufvm37fm35qisazveqfc4aw7xjqkh4y2aic0gfc7aqhso7csmhshfgd2qrdwmznk1HaDJAmQjIeZnXu30d3p.jpg" class="profile-picture"/></a> <a href="members/PleaseEnterNameHere">PleaseEnterNameHere</a></li>
                    
    <li><a href="members/Pacifica"><img src="../images/pfps/bh8usb5joeewp85vcdomk7jhnqqqtk4ss4b836ghak2phx8hzntbi2itiwbz75grxiopfvupacifica logo.png" class="profile-picture"/></a> <a href="members/Pacifica">Pacifica</a></li>
                    
    <li><a href="members/DXZ"><img src="../images/pfps/yfrpkqf2epcbrrsjhrod202hueqnyk2prh2zx5t3mt20bk8gznjscd0wffb3q0i588wu4gmDXZ.jpg" class="profile-picture"/></a> <a href="members/DXZ">DXZ</a></li>
                    
    <li><a href="members/StealthCommando45"><img src="../images/pfps/5b0awg0gnwuneabavvzdawf776t2y8qsagsuniyy5jcajd74xw5xjcwf8g6wdnfbrwv55msPicture 2.png" class="profile-picture"/></a> <a href="members/StealthCommando45">StealthCommando45</a></li>
                    
    <li><a href="members/8257coolman"><img src="../images/pfps/v3i085pa2u3jtuih7aw6uujrgveq4nxqg5fe0vcre50xqa5o7qir8t8gdeu8rjnwdry4d0jSilverguy99.png" class="profile-picture"/></a> <a href="members/8257coolman">8257coolman</a></li>
                    
    <li><a href="members/6536coolman"><img src="../images/pfps/bCxvWsLCjeu02hmRoPiXGYHIjRK62MyR.jpg" class="profile-picture"/></a> <a href="members/6536coolman">6536coolman</a></li>
                    
    <li><a href="members/PokemonPlatinum001"><img src="../images/pfps/tpdc0ir5ecavbjf5nfmpk8t7ykvi55qpitpa046554p4fszsxa788p4yzr7wnoau6ouxgprSilverguy99.png" class="profile-picture"/></a> <a href="members/PokemonPlatinum001">PokemonPlatinum001</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>