---
title: CPA3044
sidebar: home_sidebar
hide_sidebar: true
keywords: CPA3044
permalink: members/CPA3044
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/ckhaovaagjrr024heiaegvjvsgf8u83vhavwvtw24dht5d07j0aqkha3of07cstksd7cxs4Kingdom-Hearts-III-1.jpg" alt="CPA3044" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>1</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>16</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Crazy Man</li>
<img src="{{"../images/thumb/1_25150.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>phineas-and-ferb</li>
                
it will make you cry
                
                <br>
Added: 23-08-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Speedytheeevee"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Speedytheeevee">Speedytheeevee</a></li>
                    
    <li><a href="members/whistler"><img src="../images/pfps/5YQjQCp1SQIBsLeIETJhg024g8aPwQNp.jpg" class="profile-picture"/></a> <a href="members/whistler">whistler</a></li>
                    
    <li><a href="members/pikachuguy"><img src="../images/pfps/YuRz0UOEESnrSDrO3DmEZpKpayeQ07tP.gif" class="profile-picture"/></a> <a href="members/pikachuguy">pikachuguy</a></li>
                    
    <li><a href="members/pokeman"><img src="../images/pfps/e0tjpo665fvnk7hxzeryrb78iioajpbmfuus6rp3w8e57mrxpan68j5hqki0xhb02vkxcxpdeoxys.jpg" class="profile-picture"/></a> <a href="members/pokeman">pokeman</a></li>
                    
    <li><a href="members/luxray100"><img src="../images/pfps/45yzCeqh1V6mp5eZtWAGio6qDFESvBEq.png" class="profile-picture"/></a> <a href="members/luxray100">luxray100</a></li>
                    
    <li><a href="members/mariofan"><img src="../images/pfps/aHVkhWq942tGTaPk59JmUcuWTIDQbLn0.jpg" class="profile-picture"/></a> <a href="members/mariofan">mariofan</a></li>
                    
    <li><a href="members/diddyshane1234"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/diddyshane1234">diddyshane1234</a></li>
                    
    <li><a href="members/boommac"><img src="../images/pfps/4QKIN8FByNLeyyXIr2h8XC80JWvmiCBa.jpg" class="profile-picture"/></a> <a href="members/boommac">boommac</a></li>
                    
    <li><a href="members/PierceTheEevee"><img src="../images/pfps/yq20zc4icavkpmukj3qw40rvgouxzu8p8yfy0a538sco2uwapdwj2c37qpve7ss4hxr8xozimagesCAB8V9RZ.jpg" class="profile-picture"/></a> <a href="members/PierceTheEevee">PierceTheEevee</a></li>
                    
    <li><a href="members/sonicx"><img src="../images/pfps/wj7uafh06jv0ms3qyrtmbzz8ztu0c5nwdkgbqo2nwnd836ntm43ktsjja3acwnwzx3zdgqo0.gif" class="profile-picture"/></a> <a href="members/sonicx">sonicx</a></li>
                    
    <li><a href="members/coamotheplant"><img src="../images/pfps/x9ZRhFtPmGb732ohykwnEup32VwTZsZM.jpg" class="profile-picture"/></a> <a href="members/coamotheplant">coamotheplant</a></li>
                    
    <li><a href="members/superskarmory"><img src="../images/pfps/puf8aots7hdec86uhku2cdvwwr66u7vaty6rdoa8wbdyaaifi07k4s7p74jq04rktmzx0xu170px-227Skarmory.png" class="profile-picture"/></a> <a href="members/superskarmory">superskarmory</a></li>
                    
    <li><a href="members/PizzaHut91"><img src="../images/pfps/0x5ovdq3ivj6srodxmtzzcvdng7ikmwcaqout2o3nyz3ec62mrqbrce4gacqnyqkf53zxirVIZ_companyLogo.gif" class="profile-picture"/></a> <a href="members/PizzaHut91">PizzaHut91</a></li>
                    
    <li><a href="members/SuperMario64LA"><img src="../images/pfps/K4nPXAR65KTbWBmoprMdim8E0ca8OvCW.png" class="profile-picture"/></a> <a href="members/SuperMario64LA">SuperMario64LA</a></li>
                    
    <li><a href="members/Mario1"><img src="../images/pfps/kmp6wt8hyyjuvasrf5xmywg4tzrqnh4vsjsd2pkrescxrtdwn28cnd462jkfpe27mi8ewjvLuigi.jpg" class="profile-picture"/></a> <a href="members/Mario1">Mario1</a></li>
                    
    <li><a href="members/Anjayo"><img src="../images/pfps/qckRIrdqFHa20ebIbnJsQfthvX9Trh8V.gif" class="profile-picture"/></a> <a href="members/Anjayo">Anjayo</a></li>
                    
    <li><a href="members/mysonicmovies"><img src="../images/pfps/bkkqfp6ovx6gw7b4knbcdkehkkrtggihpryt7t5th304yzybbybf7fkjp03v5b2ksp4o806sonic_standing.gif" class="profile-picture"/></a> <a href="members/mysonicmovies">mysonicmovies</a></li>
                    
    <li><a href="members/mauriel1614"><img src="../images/pfps/MQf4kfl3cdCfIPDF8i6t7c6ycUoALMTX.jpg" class="profile-picture"/></a> <a href="members/mauriel1614">mauriel1614</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>