---
title: cpking
sidebar: home_sidebar
hide_sidebar: true
keywords: cpking
permalink: members/cpking
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/4D9vd07YBu4gB0KeBrJM8eL8h1TV0vAu.jpg" alt="cpking" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>23</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>16</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Elite puffle Flare clubpenguin</li>
<img src="{{"../images/thumb/1_64970.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Cpking-is-back</li>
                
im back the new account of cpfootball king i do not own audio
                
                <br>
Added: 26-02-2010
                
</ul>
                
<ul>
<li>Cpking-is-back</li>
                
im back new account of cpfootball king i do not own audio
                
                <br>
Added: 26-02-2010
                
</ul>
                
<ul>
<li>Orange-puffle</li>
                
orange pufffle is here 26/2/10
                
                <br>
Added: 26-02-2010
                
</ul>
                
<ul>
<li>my-penguinhq</li>
                
my penguin a remake of my old its in hq[high quality]
                
                <br>
Added: 27-02-2010
                
</ul>
                
<ul>
<li>Camstudio</li>
                
camstudio are brill cam
                
                <br>
Added: 27-02-2010
                
</ul>
                
<ul>
<li>Wlaking-on-town-pathclubpenguin</li>
                
this is how to walk on the town path.video created by cpking its a bit weird cause i forgot to show the cusor
                
                <br>
Added: 28-02-2010
                
</ul>
                
<ul>
<li>How-to-walk-on-water</li>
                
thisi s how to walk on water on clubpenguin.OOOPS!!! foirgot to show cursor
                
                <br>
Added: 28-02-2010
                
</ul>
                
<ul>
<li>secret-epf-room</li>
                
you can get this room with ds game
                
                <br>
Added: 03-03-2010
                
</ul>
                
<ul>
<li>Cpnews-penguin5862</li>
                
this is cpnews note i will only do this every so often
                
                <br>
Added: 06-03-2010
                
</ul>
                
<ul>
<li>Miniclip</li>
                
miniclip is a great games website here is the linkhttp://www.miniclip.com/games/en/
                
                <br>
Added: 07-03-2010
                
</ul>
                
<ul>
<li>Randy-orton-rko-kidstube-slowmotion-wwe</li>
                
Randy orton slow motion rko.
                
                <br>
Added: 17-03-2010
                
</ul>
                
<ul>
<li>Happy-st-patricks-day-kidstube</li>
                
happy st patricks day kidstube.<br />
from cpking
                
                <br>
Added: 17-03-2010
                
</ul>
                
<ul>
<li>Cp-penguin-dancing-to-fireflies</li>
                
prop of cpking audio i do not  own owl city do.
                
                <br>
Added: 17-03-2010
                
</ul>
                
<ul>
<li>Penguin-play-awards-clubpenguin</li>
                
here is the penguin play awards run through of whats happening.i do not own audio lady gaga does.
                
                <br>
Added: 19-03-2010
                
</ul>
                
<ul>
<li>Pokemon-explorers-of-time</li>
                
heres a game i really recommmend its brilliant.
                
                <br>
Added: 27-03-2010
                
</ul>
                
<ul>
<li>pivot-wwe-animation-jump-from-ladder</li>
                
a guy jumps from ladder.
                
                <br>
Added: 31-03-2010
                
</ul>
                
<ul>
<li>pivot-lol-man-hits-man-with-clock-and-jumps-on-him</li>
                
pivot a man hits a man.
                
                <br>
Added: 01-04-2010
                
</ul>
                
<ul>
<li>Jeff-Hardy-entrance-theme</li>
                
This is Jeff Hardys entrance theme i do not own video got it off youtube.
                
                <br>
Added: 03-04-2010
                
</ul>
                
<ul>
<li>Future-shock-Tombstone-gts</li>
                
future shock ddt- Drew mcintrye<br />
tombstone-undertaker<br />
gts-cmpunk
                
                <br>
Added: 05-04-2010
                
</ul>
                
<ul>
<li>Card-jitsu-fire-video</li>
                
card jitsu fire video
                
                <br>
Added: 07-04-2010
                
</ul>
                
<ul>
<li>Pokemon-Soulsilver-and-Heartgold-trailer</li>
                
I have soulsilver its awesome rate and comment about it.
                
                <br>
Added: 05-05-2010
                
</ul>
                
<ul>
<li>Clubpenguin-How-to-Walk-on-Water</li>
                
This is how to walk on water cp.
                
                <br>
Added: 08-10-2010
                
</ul>
                
<ul>
<li>Elite-puffle-Flare-clubpenguin</li>
                
1.you need to be a member 
2.herberts revenge code ds
                
                <br>
Added: 08-10-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/vdmman"><img src="../images/pfps/xcsoluea3H3l3jYTtC2M1s9EISsqu7bf.png" class="profile-picture"/></a> <a href="members/vdmman">vdmman</a></li>
                    
    <li><a href="members/zacattack"><img src="../images/pfps/zKJn0Xp4Cm4GA3yfulrMLpgWL9GtHdy6.png" class="profile-picture"/></a> <a href="members/zacattack">zacattack</a></li>
                    
    <li><a href="members/mccomic"><img src="../images/pfps/DbbG7nCieHDG5K9KkkDdF2JpjOj5kgQl.jpg" class="profile-picture"/></a> <a href="members/mccomic">mccomic</a></li>
                    
    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/Cyber chimchar13"><img src="../images/pfps/5F4Qb3UINQVlKgIiEYlhK6t9pMsQtBno.jpg" class="profile-picture"/></a> <a href="members/Cyber chimchar13">Cyber chimchar13</a></li>
                    
    <li><a href="members/guitarherofreak123"><img src="../images/pfps/7h5p0jzznfxv2vu40mp7ak2msys7un0qtw5i5t8gzuzqfkj6vy2v7u6qkpm3zdjjyeqsxnyacdc_logo11.jpg" class="profile-picture"/></a> <a href="members/guitarherofreak123">guitarherofreak123</a></li>
                    
    <li><a href="members/daddysboy123"><img src="../images/pfps/ZkPTPH7akUlxslPkDEVOS2RBic8vBgoY.png" class="profile-picture"/></a> <a href="members/daddysboy123">daddysboy123</a></li>
                    
    <li><a href="members/Wweluver123"><img src="../images/pfps/DF3ymtD6Wa9PbXta9Yb4rloI2Trs5Bq8.jpg" class="profile-picture"/></a> <a href="members/Wweluver123">Wweluver123</a></li>
                    
    <li><a href="members/cymphonique"><img src="../images/pfps/AB5VKQBrbNJuemZZ6VnvNB8Y6VeafxBe.jpg" class="profile-picture"/></a> <a href="members/cymphonique">cymphonique</a></li>
                    
    <li><a href="members/Gamergirlstudios"><img src="../images/pfps/AVACpeJkS0j7kCHGl48ma3TFK3IiRi4P.jpg" class="profile-picture"/></a> <a href="members/Gamergirlstudios">Gamergirlstudios</a></li>
                    
    <li><a href="members/LizzyAndTammyShow"><img src="../images/pfps/hFszrLNIrKNFuW9jbBU8LnYFJZhhsGhN.jpg" class="profile-picture"/></a> <a href="members/LizzyAndTammyShow">LizzyAndTammyShow</a></li>
                    
    <li><a href="members/Cpfanamations"><img src="../images/pfps/rhlUVZ1ZRgoOWf9yxALq0Pli9uzQvZda.jpg" class="profile-picture"/></a> <a href="members/Cpfanamations">Cpfanamations</a></li>
                    
    <li><a href="members/GoldSlowbro"><img src="../images/pfps/hJvmOaRImcfrXo8vGHIfSf2gY2oLNHOu.png" class="profile-picture"/></a> <a href="members/GoldSlowbro">GoldSlowbro</a></li>
                    
    <li><a href="members/blueicechips"><img src="../images/pfps/o6oak5sgvuco54hfcdv2xzo5iydhxe5cakbietozcqc5ijamkve8jq2rd5y2bs2830h5ivuBlueicechips.jpg" class="profile-picture"/></a> <a href="members/blueicechips">blueicechips</a></li>
                    
    <li><a href="members/Dylman"><img src="../images/pfps/tuUvf6mLTIqs0Ff9kkJmaU9d664E1Zkk.png" class="profile-picture"/></a> <a href="members/Dylman">Dylman</a></li>
                    
    <li><a href="members/564lk"><img src="../images/pfps/fbdjr8d8qmosmqvsruipyriz60ps4hibjkk0hnzxwdg8t2q8myobeu0bmesfn0euanmixa6in.jpg" class="profile-picture"/></a> <a href="members/564lk">564lk</a></li>
                    
    <li><a href="members/colby2"><img src="../images/pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" class="profile-picture"/></a> <a href="members/colby2">colby2</a></li>
                    
    <li><a href="members/Pufflefuzz123"><img src="../images/pfps/UtHJuBy9oIZJjxgd4flOSTexWcZeDv8Y.gif" class="profile-picture"/></a> <a href="members/Pufflefuzz123">Pufflefuzz123</a></li>
                    
    <li><a href="members/kirbydude318"><img src="../images/pfps/5mwfffqwwssvsz2x8rkj0bjpv875wufs40x86evsuecb22yyjba8ahovekr23vkyn7xhajxpikachu.jpg" class="profile-picture"/></a> <a href="members/kirbydude318">kirbydude318</a></li>
                    
    <li><a href="members/wilkins09"><img src="../images/pfps/9Jl40dhJDD4BQODbT5sQnWhK2wSWlzFk.png" class="profile-picture"/></a> <a href="members/wilkins09">wilkins09</a></li>
                    
    <li><a href="members/Colby3"><img src="../images/pfps/VNwTneZL5RP8Vc4iZVsZ7QdSq77qaDrt.jpg" class="profile-picture"/></a> <a href="members/Colby3">Colby3</a></li>
                    
    <li><a href="members/clubpenguinrocks9089"><img src="../images/pfps/M6qxcf31vvcnxPjXuPGCzajOPSYexXP9.jpg" class="profile-picture"/></a> <a href="members/clubpenguinrocks9089">clubpenguinrocks9089</a></li>
                    
    <li><a href="members/CloneTheHedgehog"><img src="../images/pfps/pjhvbwtibw0bfcvtik7xus8485nct2x6c6qcrakqwcrzcdkkng67z30yzeyh6oe7isazqieKidsTube.jpg" class="profile-picture"/></a> <a href="members/CloneTheHedgehog">CloneTheHedgehog</a></li>
                    
    <li><a href="members/wellmac"><img src="../images/pfps/pot4MeqlcSRaxedc19L11pVhcFaHHMWv.gif" class="profile-picture"/></a> <a href="members/wellmac">wellmac</a></li>
                    
    <li><a href="members/WigglyXKitten"><img src="../images/pfps/czfififjn6tqxmddjo6gdtnqa4i6keak2dr8mxixszchafiitgpvx2avvgs4kqdeuub4ihscat avatar.gif" class="profile-picture"/></a> <a href="members/WigglyXKitten">WigglyXKitten</a></li>
                    
    <li><a href="members/Grandtheftauto"><img src="../images/pfps/rKz9xdCANRmYtJXPBOMop3lufqBYx9Qc.jpg" class="profile-picture"/></a> <a href="members/Grandtheftauto">Grandtheftauto</a></li>
                    
    <li><a href="members/Rocket321CP"><img src="../images/pfps/oGTKqAEP2h1b9hxOqagtoTlWdKTbmTAR.jpg" class="profile-picture"/></a> <a href="members/Rocket321CP">Rocket321CP</a></li>
                    
    <li><a href="members/Demiluv"><img src="../images/pfps/s8hEcuVV37B3aXHJc84hJpfUi7rdyXEe.jpg" class="profile-picture"/></a> <a href="members/Demiluv">Demiluv</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>