---
title: cymphonique
sidebar: home_sidebar
hide_sidebar: true
keywords: cymphonique
permalink: members/cymphonique
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/AB5VKQBrbNJuemZZ6VnvNB8Y6VeafxBe.jpg" alt="cymphonique" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>daija</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>12</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>149</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>1</b></li>
        
<li> Rating: <b>100%</b> out of <b>3</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/mccomic"><img src="../images/pfps/DbbG7nCieHDG5K9KkkDdF2JpjOj5kgQl.jpg" class="profile-picture"/></a> <a href="members/mccomic">mccomic</a></li>
                    
    <li><a href="members/embermay"><img src="../images/pfps/xkkgaPMWg30rcBIpKRHyPsmUTzEt4Jmp.gif" class="profile-picture"/></a> <a href="members/embermay">embermay</a></li>
                    
    <li><a href="members/ejk123"><img src="../images/pfps/ap98dXEgJ6fGLxyQmEYL2xHBOdYvTfhs.png" class="profile-picture"/></a> <a href="members/ejk123">ejk123</a></li>
                    
    <li><a href="members/kookookitty"><img src="../images/pfps/z3uqJ150mSVkOBLaeVzUloUKOFOkpStf.gif" class="profile-picture"/></a> <a href="members/kookookitty">kookookitty</a></li>
                    
    <li><a href="members/demiandselena"><img src="../images/pfps/aYPzGR4HyYPdbXyp2MvdE9gXXgl6mFmA.jpg" class="profile-picture"/></a> <a href="members/demiandselena">demiandselena</a></li>
                    
    <li><a href="members/xImScenex"><img src="../images/pfps/fbaDhprQ1qZJgJqSCOlotjRfpwEwP4Rv.jpg" class="profile-picture"/></a> <a href="members/xImScenex">xImScenex</a></li>
                    
    <li><a href="members/lil-myah"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/lil-myah">lil-myah</a></li>
                    
    <li><a href="members/opal_1998"><img src="../images/pfps/oUxga9SQ4YnSWFVdYo6nTRuh2veRYClC.gif" class="profile-picture"/></a> <a href="members/opal_1998">opal_1998</a></li>
                    
    <li><a href="members/videoprincess"><img src="../images/pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" class="profile-picture"/></a> <a href="members/videoprincess">videoprincess</a></li>
                    
    <li><a href="members/tashia"><img src="../images/pfps/P5v5Uj9yBtV8lgt9rDrfacbK6qWeO9Yd.jpg" class="profile-picture"/></a> <a href="members/tashia">tashia</a></li>
                    
    <li><a href="members/Dylman"><img src="../images/pfps/tuUvf6mLTIqs0Ff9kkJmaU9d664E1Zkk.png" class="profile-picture"/></a> <a href="members/Dylman">Dylman</a></li>
                    
    <li><a href="members/cpking"><img src="../images/pfps/4D9vd07YBu4gB0KeBrJM8eL8h1TV0vAu.jpg" class="profile-picture"/></a> <a href="members/cpking">cpking</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>