---
title: daddysboy123
sidebar: home_sidebar
hide_sidebar: true
keywords: daddysboy123
permalink: members/daddysboy123
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/ZkPTPH7akUlxslPkDEVOS2RBic8vBgoY.png" alt="daddysboy123" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>nolan</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>2</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>604</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>1</b></li>
        
<li> Rating: <b>82.86%</b> out of <b>7</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>club penguin news jan 20 2010</li>
<img src="{{"../images/thumb/eRUQhXzhjDFTRSBoBpnV.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>alvin and the chipmunks achy breaky heart</li>
<img src="{{"../images/thumb/tu4Ohp1hkDYz0kuwg1E2.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>orange puffle pics</li>
<img src="{{"../images/thumb/fjLTrmheUNujFcKUQyMa.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>funy video</li>
<img src="{{"../images/thumb/CuKElUzNyyZxZZIBrqgQ.jpg"}}" alt="thumbnail"/>

</ul>
            
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/SeanSanczel"><img src="../images/pfps/ty4ts7vuze7d0asmqd4vzwv2fr5wmoj5deptd8e0eb45bkfpnacdvx6ydzkpeujfzwy0w2sSeanHeadshot2.jpg" class="profile-picture"/></a> <a href="members/SeanSanczel">SeanSanczel</a></li>
                    
    <li><a href="members/xolylaepic"><img src="../images/pfps/HIDNNxLBGGUk1Gun4NTUaLoZdG4b9qzE.gif" class="profile-picture"/></a> <a href="members/xolylaepic">xolylaepic</a></li>
                    
    <li><a href="members/NHNshow1"><img src="../images/pfps/n776MDPUqVQqrxe9u0Vn3ZghmMBzXHTA.jpg" class="profile-picture"/></a> <a href="members/NHNshow1">NHNshow1</a></li>
                    
    <li><a href="members/Cpfanamations"><img src="../images/pfps/rhlUVZ1ZRgoOWf9yxALq0Pli9uzQvZda.jpg" class="profile-picture"/></a> <a href="members/Cpfanamations">Cpfanamations</a></li>
                    
    <li><a href="members/brightjay"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/brightjay">brightjay</a></li>
                    
    <li><a href="members/Demi09"><img src="../images/pfps/r2bhDh0NEiAqm5szvxzfNMUfYJHDeG0K.jpg" class="profile-picture"/></a> <a href="members/Demi09">Demi09</a></li>
                    
    <li><a href="members/Buckeyesfan"><img src="../images/pfps/da82zxokcjwyt2rn032bzwws8t3x4jh7jf073dg5n3t4wbim3bkrv77ur0imbpijuahobpj1.jpg" class="profile-picture"/></a> <a href="members/Buckeyesfan">Buckeyesfan</a></li>
                    
    <li><a href="members/katierocks"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/katierocks">katierocks</a></li>
                    
    <li><a href="members/cpking"><img src="../images/pfps/4D9vd07YBu4gB0KeBrJM8eL8h1TV0vAu.jpg" class="profile-picture"/></a> <a href="members/cpking">cpking</a></li>
                    
    <li><a href="members/Wweluver123"><img src="../images/pfps/DF3ymtD6Wa9PbXta9Yb4rloI2Trs5Bq8.jpg" class="profile-picture"/></a> <a href="members/Wweluver123">Wweluver123</a></li>
                    
    <li><a href="members/Rocket321CP"><img src="../images/pfps/oGTKqAEP2h1b9hxOqagtoTlWdKTbmTAR.jpg" class="profile-picture"/></a> <a href="members/Rocket321CP">Rocket321CP</a></li>
                    
    <li><a href="members/Lugia1236"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Lugia1236">Lugia1236</a></li>
                    
    <li><a href="members/The Scary Snapper"><img src="../images/pfps/g9NSKfPoDgwZS13IZZnlhb9n89MRxcCT.jpg" class="profile-picture"/></a> <a href="members/The Scary Snapper">The Scary Snapper</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>