---
title: dancegeek10
sidebar: home_sidebar
hide_sidebar: true
keywords: dancegeek10
permalink: members/dancegeek10
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/4oc6n2f0fao3mn33bt2au5864ahvpsch5efi4ibain0t0tnzddxw8ur0vwk8enhapkgjtfi0928091758.jpg" alt="dancegeek10" max-width="100"%}
            
    {% include inline_image.html file="pfps/9C6aTvq0zBfPL09ecAsbT6ljF0nsMKnJ.jpg" alt="dancegeek10" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>4</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>13</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>What Video Should I make next???</li>
<img src="{{"../images/thumb/1_19065.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Ice Breaker Contest!!!</li>
                
All you have to do is guess wich Ice Breaker Flavor I have, to win the prize!<br />
So just watch the video!
                
                <br>
Added: 13-08-2009
                
</ul>
                
<ul>
<li>Effects</li>
                
Me messing round with some effects!
                
                <br>
Added: 13-08-2009
                
</ul>
                
<ul>
<li>Gummy Bear Song-EMILY   ABY EDITION</li>
                
Me and my 5 year old cousin Aby,singing the Gummy Bear Song!<br />
Enjoy-Comment-Rate
                
                <br>
Added: 05-09-2009
                
</ul>
                
<ul>
<li>Me-Singing-Our-Song-By-Taylor-Swift</li>
                
This is me singing Our Song By Taylor Swift. PLZ NO MEAN COMMENTS! <br />
Enjoy-Comment-Rate
                
                <br>
Added: 06-09-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/BellaMCullen"><img src="../images/pfps/r5xf8zhwqpp470qr30tj72o87ounavapsyupn0c3epxcedr84bg32u2x6kb55akow43av32Snapshot of me 7.png" class="profile-picture"/></a> <a href="members/BellaMCullen">BellaMCullen</a></li>
                    
    <li><a href="members/Pacifica"><img src="../images/pfps/bh8usb5joeewp85vcdomk7jhnqqqtk4ss4b836ghak2phx8hzntbi2itiwbz75grxiopfvupacifica logo.png" class="profile-picture"/></a> <a href="members/Pacifica">Pacifica</a></li>
                    
    <li><a href="members/FlipFlops98"><img src="../images/pfps/c5keordzfvdtyk0roo40mggecodbixxks8n6oour8xax60dke7aqegsfttgzg4cy0ntf2evOMD I LOOK GOOD.png" class="profile-picture"/></a> <a href="members/FlipFlops98">FlipFlops98</a></li>
                    
    <li><a href="members/ohnoahhh"><img src="../images/pfps/1OsXLaN5l8igHicOiUAIacV2Lwo8gCiY.jpg" class="profile-picture"/></a> <a href="members/ohnoahhh">ohnoahhh</a></li>
                    
    <li><a href="members/videoprincess"><img src="../images/pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" class="profile-picture"/></a> <a href="members/videoprincess">videoprincess</a></li>
                    
    <li><a href="members/Riley87"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Riley87">Riley87</a></li>
                    
    <li><a href="members/allybabally"><img src="../images/pfps/plOL2O1PQd523y9PQ3brOWfA2TENhp5L.jpg" class="profile-picture"/></a> <a href="members/allybabally">allybabally</a></li>
                    
    <li><a href="members/Knarli"><img src="../images/pfps/flwG8DextvRbdlOGolRwWmxdS86FHgkm.jpg" class="profile-picture"/></a> <a href="members/Knarli">Knarli</a></li>
                    
    <li><a href="members/Legofilms"><img src="../images/pfps/e45pk33fwkbtph0fuyz6x3pqx8io7ndbh8oqziunrt74yybjm0h7supetxtpbwqgt5vjceuIMG00168-20090720-1421.jpg" class="profile-picture"/></a> <a href="members/Legofilms">Legofilms</a></li>
                    
    <li><a href="members/WarriorPoet"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/WarriorPoet">WarriorPoet</a></li>
                    
    <li><a href="members/selenademi12345"><img src="../images/pfps/r7q867o2xjnuc5koyve5gsbei4anvsrcp68m4ofsvscvmkab4c4cv6e2ycekvtnbqnnj0q2Demi-Selena-3-selena-gomez-and-demi-lovato-7148474-75-75.jpg" class="profile-picture"/></a> <a href="members/selenademi12345">selenademi12345</a></li>
                    
    <li><a href="members/mileyrox98"><img src="../images/pfps/yFOWEGOOGovFwZMPBShrwsgN9dpWePeT.jpg" class="profile-picture"/></a> <a href="members/mileyrox98">mileyrox98</a></li>
                    
    <li><a href="members/Funnygirlygal"><img src="../images/pfps/wziurue8vn8fzsgwcqdhtkku52dey2cmsk47686qk5vbm3vphyu2a5n4wp8mhbvxjrvgoqx496313084_1942901[1].gif" class="profile-picture"/></a> <a href="members/Funnygirlygal">Funnygirlygal</a></li>
                    
    <li><a href="members/etc_etc_etc"><img src="../images/pfps/uADIhmUXovlQUKoJHGJzUzkjWlj3v7Hd.png" class="profile-picture"/></a> <a href="members/etc_etc_etc">etc_etc_etc</a></li>
                    
    <li><a href="members/annabelleangelstar10"><img src="../images/pfps/tpetjk648bq3kxs02swkrsyijmx0csrt5tee28807pshb880rtc7d2ekc2afjryfb0h3yhsempoleon2.jpg" class="profile-picture"/></a> <a href="members/annabelleangelstar10">annabelleangelstar10</a></li>
                    
    <li><a href="members/Bellagirl01"><img src="../images/pfps/7t24q5esx7gat242xyymjjgymujs5dm3udvc6zuux2tfuo5gbtsk3yaehiwdma65bq77gqtPicture 92.jpg" class="profile-picture"/></a> <a href="members/Bellagirl01">Bellagirl01</a></li>
                    
    <li><a href="members/eveetovaporeon"><img src="../images/pfps/4rn05cruow4qv4ojnw84bgytxindi0odi03c0ixd6qrqi60vtxos3ecrknute6uoxoqnxcqPicture 1400.jpg" class="profile-picture"/></a> <a href="members/eveetovaporeon">eveetovaporeon</a></li>
                    
    <li><a href="members/teensensation"><img src="../images/pfps/j7086n43npcgf7mtcfejczhvy4b6mvcvt0socoip3kw6g6oiasrciww7rx50h5kyw4dyimc3CA5K2EH8CAB38OG0CAXJ0M42CAE0F6HTCAZBIFKTCA09ENB3CA3V9YDNCA22S1W6CA2WA8FYCA5264NFCAZHUUWWCAFPE6Q4CA2NYUNBCA25EGX3CAZG2ZF4CAA3IFEPCAOY0R1OCAIMXOYICA41I3DS.jpg" class="profile-picture"/></a> <a href="members/teensensation">teensensation</a></li>
                    
    <li><a href="members/Roxy25"><img src="../images/pfps/rrs0zsjeh86nhsxgszffqnv60ydgqh47woxm65qc4nna3bgnyjqeuc8nydrfind5yyhtuxtToco Toucan.jpg" class="profile-picture"/></a> <a href="members/Roxy25">Roxy25</a></li>
                    
    <li><a href="members/TheAnaiahShow"><img src="../images/pfps/dhbachr6mj5n5w0rwp0iraw47f7qq2vr8wr8385fgysdnhu7xkhdi27g56umwg3t2itvhn0john-lennon.jpg" class="profile-picture"/></a> <a href="members/TheAnaiahShow">TheAnaiahShow</a></li>
                    
    <li><a href="members/chelseatyree11"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/chelseatyree11">chelseatyree11</a></li>
                    
    <li><a href="members/bowlergirl10"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/bowlergirl10">bowlergirl10</a></li>
                    
    <li><a href="members/mariahl"><img src="../images/pfps/q3zfzxa3dk07ob5uiown2cov8pz3qjw6ema4a7xeinavn3eth07b2ju0ykuftgaxqaqq7csthumbnailCA4WV6L8.jpg" class="profile-picture"/></a> <a href="members/mariahl">mariahl</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>