---
title: Darkblazer
sidebar: home_sidebar
hide_sidebar: true
keywords: Darkblazer
permalink: members/Darkblazer
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/5v0io4k8opoghj7eub4yrvbt662wrh2n0rtgm3dxir5py3rh5m7k58423xom3gwuvfy783vDarkblazer profile.jpg" alt="Darkblazer" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>10</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>7</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Spogebob to late to apoligize</li>
<img src="{{"../images/thumb/1_24985.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Super-Smash-Bros-Brawl-clocked</li>
                
A completed version of SSBB if u want save data give me ur email address  <br />
                
                <br>
Added: 06-07-2009
                
</ul>
                
<ul>
<li>mario-vs-luigi-pokemon-style</li>
                
sorry about the bad sound at close to the end
                
                <br>
Added: 06-07-2009
                
</ul>
                
<ul>
<li>My-yu-gi-oh-5Ds-stardust-acelarator-friend-code</li>
                
Please leave your friend code here
                
                <br>
Added: 07-07-2009
                
</ul>
                
<ul>
<li>Darkblazer-and-Marioandsonicfan82343-first-movie-together</li>
                
This is a really funny movie
                
                <br>
Added: 07-07-2009
                
</ul>
                
<ul>
<li>Mario vs Spongebob pokemon style(3rd episode of Marios adventures)</li>
                
Sorry about the vid i accidently said mario 64 things as the title but it wasnt right
                
                <br>
Added: 07-07-2009
                
</ul>
                
<ul>
<li>Strong-Bad-EmailEMAIL-THUNDER</li>
                
All credit to homestarrunner.com ALL of it you can see more of these at homestarruner.com
                
                <br>
Added: 18-07-2009
                
</ul>
                
<ul>
<li>Darkblazer convo with mariosonicfan (or going to toliet)</li>
                
Well the title tells everything.
                
                <br>
Added: 17-08-2009
                
</ul>
                
<ul>
<li>Mario-Master-Of-Time-the-Movie</li>
                
Yeah i was going to make a series but i could't think of a 2nd episode.
                
                <br>
Added: 18-08-2009
                
</ul>
                
<ul>
<li>Sweet Sweet Victory Breaking the Habit</li>
                
funny vid.
                
                <br>
Added: 22-08-2009
                
</ul>
                
<ul>
<li>Spongebob Sings Dirty Little Secret</li>
                
It took me a bit long but its pretty good
                
                <br>
Added: 25-08-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/abelard5"><img src="../images/pfps/OUDA5ROLHfDLgAYSkAv7Fc2DDt8zPpwc.jpg" class="profile-picture"/></a> <a href="members/abelard5">abelard5</a></li>
                    
    <li><a href="members/catty1"><img src="../images/pfps/HgbE5tnJpb5pdEsakUc9lCU3iL8n2E67.jpg" class="profile-picture"/></a> <a href="members/catty1">catty1</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/Nintendoman"><img src="../images/pfps/b6nx8ezquwixkwka6fuihz8d8i7wiqfjks5jwv0fha0swdqtgb0nzzqw8mjhzpqb6jmr6dxthenintendoman2.jpg" class="profile-picture"/></a> <a href="members/Nintendoman">Nintendoman</a></li>
                    
    <li><a href="members/DXZ"><img src="../images/pfps/yfrpkqf2epcbrrsjhrod202hueqnyk2prh2zx5t3mt20bk8gznjscd0wffb3q0i588wu4gmDXZ.jpg" class="profile-picture"/></a> <a href="members/DXZ">DXZ</a></li>
                    
    <li><a href="members/Pokedude79"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Pokedude79">Pokedude79</a></li>
                    
    <li><a href="members/Blazingshadow"><img src="../images/pfps/bm3tnjgzyt6ayndjqm5qwnwyt5j5bx5cawwm50auk4t7iwfw7bbunxh6ts3vgwxfkirebrwSilver_shadow__improved.png" class="profile-picture"/></a> <a href="members/Blazingshadow">Blazingshadow</a></li>
                    
    <li><a href="members/uploader2000"><img src="../images/pfps/3sdo5iewbxphzdjr8vcmpjdyzasekhaezdqvjtikhwr6zymxkoaxxekmc0qnaopxp6kyor7Bakon Dancing.gif" class="profile-picture"/></a> <a href="members/uploader2000">uploader2000</a></li>
                    
    <li><a href="members/nintendo100"><img src="../images/pfps/3t46hjdkz0wtynwer00z3d78qapbrbeks8fyij76buqz5e3m3scuv7rd57en6hvngzcoa8klogo1.jpg" class="profile-picture"/></a> <a href="members/nintendo100">nintendo100</a></li>
                    
    <li><a href="members/456z00ts654"><img src="../images/pfps/82kqx6k7qc6s3i8gz53pa62xiehycozbecr28zyn0v6u530tws6unyiv0oi32a24akv88kjWolf-Gone-Mad-wolves-2576785-301-450.jpg" class="profile-picture"/></a> <a href="members/456z00ts654">456z00ts654</a></li>
                    
    <li><a href="members/kashif8910"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/kashif8910">kashif8910</a></li>
                    
    <li><a href="members/shadow lover 98"><img src="../images/pfps/uHyxvrwtwpGLZdM0CcVLc7udjyfSWKWG.jpg" class="profile-picture"/></a> <a href="members/shadow lover 98">shadow lover 98</a></li>
                    
    <li><a href="members/GameMaster"><img src="../images/pfps/fveawj48t8tdvdzw8siov6iw8867r04ukau8hn50mn25rqrq8z4swbgtabrp2naeksbs64havatar 4.gif" class="profile-picture"/></a> <a href="members/GameMaster">GameMaster</a></li>
                    
    <li><a href="members/pokemonmaster123"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/pokemonmaster123">pokemonmaster123</a></li>
                    
    <li><a href="members/mariosonicfan82343"><img src="../images/pfps/mc85w8pgf36j8d4wujsynwqg44zdnkrwootbn6hqxezxgsi000ocm4igx6i8izwwcexo844MSF82343 icon v2 v jpeg.jpg" class="profile-picture"/></a> <a href="members/mariosonicfan82343">mariosonicfan82343</a></li>
                    
    <li><a href="members/Atlantis"><img src="../images/pfps/PI3KQxKlLZJ2F84IO983LYqnFSkQ0sbG.jpg" class="profile-picture"/></a> <a href="members/Atlantis">Atlantis</a></li>
                    
    <li><a href="members/sonicfan101"><img src="../images/pfps/75rks2bupj08zkfgw57xme54taopjabf4sokkq5xxuwo50uquqe6s80d6dqgerj6axhjcb7Sonic The Hedgehog.jpg" class="profile-picture"/></a> <a href="members/sonicfan101">sonicfan101</a></li>
                    
    <li><a href="members/newnew"><img src="../images/pfps/mrv4es3vpt8sd8k0r5adegwr8nkyn2ayjusmbj7r36756iumeuph0bwxm7myzmn763j8bgoJustin-Bieber-Love-Me.jpg" class="profile-picture"/></a> <a href="members/newnew">newnew</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>