---
title: Dark145334
sidebar: home_sidebar
hide_sidebar: true
keywords: Dark145334
permalink: members/Dark145334
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/MlmCPhG7TWqf3B9vOwKLYM1LlxLiNqPa.jpg" alt="Dark145334" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Linda</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>8</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>3</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>25</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>428</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>86.67%</b> out of <b>6</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>My Bakugan Collection</li>
<img src="{{"../images/thumb/PwcBJ01z2xafbEkkd5ab.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Gundam Seed Destiny-Meteor</li>
<img src="{{"../images/thumb/5WxJVgJfhFShCcFjh5bd.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>D.N.Angel Book Collection</li>
<img src="{{"../images/thumb/yPVVXfR05MTKNs5vPYMq.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Fullmetal Alchemist-Brotherhood</li>
<img src="{{"../images/thumb/hYcyBEQshj4hKxTWhtNt.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Gundam	Seed Destiny Chibi Theater Ep.1</li>
<img src="{{"../images/thumb/1_68290.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li></li>
<img src="{{"../images/thumb/1_126174.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Gundam-Seed-Destiny-Meteor</li>
                
Gundam is the best!I only have volumes 6,9,10.I have this in even have this in youtube.Lots of people in japan really like it!Hope you guys like it in kidstube!=)
                
                <br>
Added: 03-08-2010
                
</ul>
                
<ul>
<li>DNAngel-Book-Collection</li>
                
This is my D.N.Angel book collection.I got 1-11 from my birthday and 11-13 from a book store.
                
                <br>
Added: 06-08-2010
                
</ul>
                
<ul>
<li>2ne1-I-am-the-best</li>
                
It's a korean song from the 2ne1 group.
                
                <br>
Added: 02-10-2011
                
</ul>
                
<ul>
<li>GundamSeed-Destiny-Chibi-Theater-Ep1</li>
                
This video is so cute and funny! It has japanese subtitles.
                
                <br>
Added: 19-11-2011
                
</ul>
                
<ul>
<li>Anime-Collection</li>
                
This is my whole anime collection
                
                <br>
Added: 17-12-2011
                
</ul>
                
<ul>
<li>Gundam-Seed-Destiny-Chibi-Theater-ep2</li>
                
Part 2
                
                <br>
Added: 20-12-2011
                
</ul>
                
<ul>
<li>Full-Moon-wo-Sagashite-Opening</li>
                
This is an anime I am still watching. It's really good!
                
                <br>
Added: 02-01-2012
                
</ul>
                
<ul>
<li>Gundam-See-Destiny-Chibi-Theater-Ep2</li>
                
Gundam seed character theater 03
Gundam Seed and Gundam Seed Destiny characters
                
                <br>
Added: 20-07-2012
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Killervideo"><img src="../images/pfps/Aw8NNsotAJjalGeKy2iNhkHpUQ7sJtbJ.png" class="profile-picture"/></a> <a href="members/Killervideo">Killervideo</a></li>
                    
    <li><a href="members/SuperSmashBros8"><img src="../images/pfps/LfyIrtrbGgVeLVgnuyT2TmsmI5Tj13qA.gif" class="profile-picture"/></a> <a href="members/SuperSmashBros8">SuperSmashBros8</a></li>
                    
    <li><a href="members/ChloeRox"><img src="../images/pfps/tkj7qidi57mc4q2ynohp25maajrm43soc3jtakz6gb8brzy4c4h50u5y2nbuhs8jjg0jrsgLet_the_Music_Play_On_by_RainChilD1.jpg" class="profile-picture"/></a> <a href="members/ChloeRox">ChloeRox</a></li>
                    
    <li><a href="members/Grandtheftauto"><img src="../images/pfps/rKz9xdCANRmYtJXPBOMop3lufqBYx9Qc.jpg" class="profile-picture"/></a> <a href="members/Grandtheftauto">Grandtheftauto</a></li>
                    
    <li><a href="members/Zerofusion101"><img src="../images/pfps/HmIPKf0o9deCg4LlVTAPm271O9nGdt5i.jpg" class="profile-picture"/></a> <a href="members/Zerofusion101">Zerofusion101</a></li>
                    
    <li><a href="members/renee"><img src="../images/pfps/RoE2MGkWNZGC8pp2naYeicpAMTfOMr7d.gif" class="profile-picture"/></a> <a href="members/renee">renee</a></li>
                    
    <li><a href="members/Candy_Pop"><img src="../images/pfps/RoIiaBPvp50NLwAEH2gWNs1M0HI57AcM.png" class="profile-picture"/></a> <a href="members/Candy_Pop">Candy_Pop</a></li>
                    
    <li><a href="members/Mikune999"><img src="../images/pfps/F9oaWnGBgkOLTfFkfzAPW5N7DpKpAyQG.png" class="profile-picture"/></a> <a href="members/Mikune999">Mikune999</a></li>
                    
    <li><a href="members/Nyleana"><img src="../images/pfps/MFddZ2heJ0xVmlSRvPbnX6pp0cCQEYWR.jpg" class="profile-picture"/></a> <a href="members/Nyleana">Nyleana</a></li>
                    
    <li><a href="members/RukiaKuchki1997"><img src="../images/pfps/vwtruk8od03qrfzo0fp8i87bvsq7xd2hxmyivvuwmpd3s0fh6sgercfdttbfu2nicapvubj11136_101396623221793_100000543672702_37855_6916117_n.jpg" class="profile-picture"/></a> <a href="members/RukiaKuchki1997">RukiaKuchki1997</a></li>
                    
    <li><a href="members/AnimaCamoGreen"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/AnimaCamoGreen">AnimaCamoGreen</a></li>
                    
    <li><a href="members/samputrasarjito"><img src="../images/pfps/wa7b2mFVWNdJrjb1rCcydLwy0F5m3gqp.jpg" class="profile-picture"/></a> <a href="members/samputrasarjito">samputrasarjito</a></li>
                    
    <li><a href="members/aniME"><img src="../images/pfps/WjgOog0hEwuIfs42ruBdOmAgwRH87htT.jpg" class="profile-picture"/></a> <a href="members/aniME">aniME</a></li>
                    
    <li><a href="members/Earthbounded"><img src="../images/pfps/AfeSSj4uyTRSgWWomIF0FQAZXJOZa5vZ.gif" class="profile-picture"/></a> <a href="members/Earthbounded">Earthbounded</a></li>
                    
    <li><a href="members/sonic8910"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/sonic8910">sonic8910</a></li>
                    
    <li><a href="members/kamii"><img src="../images/pfps/rmq0DsQ5uETbg6X8f7fJEl7KMPwwQtx6.gif" class="profile-picture"/></a> <a href="members/kamii">kamii</a></li>
                    
    <li><a href="members/drift53"><img src="../images/pfps/8wx500cfhfijrmvfbpzzm5hkp8x5xeuvyiro7utex2ofc7kcna2y3a7g6vctxufk0wyzfg4Roxas.jpg" class="profile-picture"/></a> <a href="members/drift53">drift53</a></li>
                    
    <li><a href="members/ohhi"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ohhi">ohhi</a></li>
                    
    <li><a href="members/Gamer100"><img src="../images/pfps/8HkDO27CiIdEEKvLGCQOtOQ4GTBKzCnv.jpg" class="profile-picture"/></a> <a href="members/Gamer100">Gamer100</a></li>
                    
    <li><a href="members/younglink"><img src="../images/pfps/UGJy9IRqQYqe9RVRMgeUpsngz5i9ZGXu.gif" class="profile-picture"/></a> <a href="members/younglink">younglink</a></li>
                    
    <li><a href="members/pikachu2"><img src="../images/pfps/dHgQRyeIvJ9htahXhYYfUGXsJRAaYMrz.gif" class="profile-picture"/></a> <a href="members/pikachu2">pikachu2</a></li>
                    
    <li><a href="members/supersquirrel"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/supersquirrel">supersquirrel</a></li>
                    
    <li><a href="members/The Scary Snapper"><img src="../images/pfps/g9NSKfPoDgwZS13IZZnlhb9n89MRxcCT.jpg" class="profile-picture"/></a> <a href="members/The Scary Snapper">The Scary Snapper</a></li>
                    
    <li><a href="members/Anime_Ravenstar556"><img src="../images/pfps/MgjO4NXSQiQFC0qBAQzCcce1UC0pMrpW.jpg" class="profile-picture"/></a> <a href="members/Anime_Ravenstar556">Anime_Ravenstar556</a></li>
                    
    <li><a href="members/demonj"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/demonj">demonj</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/Dark145334" file="pfps/MlmCPhG7TWqf3B9vOwKLYM1LlxLiNqPa.jpg" alt="Dark145334" %}

<p><b>Username:</b> <a href="members/Dark145334">Dark145334</a></p>

<p><b>Date:</b> 2010-12-29 13:19:34</p>

<p class="comment"><b>Comment:</b> <p> thank you everyone for your support!^_^</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>