---
title: davidgill
sidebar: home_sidebar
hide_sidebar: true
keywords: davidgill
permalink: members/davidgill
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/placeholder.gif" alt="davidgill" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>stephanie</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>134</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>562</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>60%</b> out of <b>6</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/vdmman"><img src="../images/pfps/xcsoluea3H3l3jYTtC2M1s9EISsqu7bf.png" class="profile-picture"/></a> <a href="members/vdmman">vdmman</a></li>
                    
    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/SeanSanczel"><img src="../images/pfps/ty4ts7vuze7d0asmqd4vzwv2fr5wmoj5deptd8e0eb45bkfpnacdvx6ydzkpeujfzwy0w2sSeanHeadshot2.jpg" class="profile-picture"/></a> <a href="members/SeanSanczel">SeanSanczel</a></li>
                    
    <li><a href="members/xolylaepic"><img src="../images/pfps/HIDNNxLBGGUk1Gun4NTUaLoZdG4b9qzE.gif" class="profile-picture"/></a> <a href="members/xolylaepic">xolylaepic</a></li>
                    
    <li><a href="members/SonicChaos07"><img src="../images/pfps/wgrvVGyWkwQiqE87n21lfJrOm3OIFjo1.png" class="profile-picture"/></a> <a href="members/SonicChaos07">SonicChaos07</a></li>
                    
    <li><a href="members/loopyliu"><img src="../images/pfps/HVfEJ4uy47utsemPfLmyQiY3BLrwCAvH.jpg" class="profile-picture"/></a> <a href="members/loopyliu">loopyliu</a></li>
                    
    <li><a href="members/newswithjosh"><img src="../images/pfps/BhKwAUJmGGZOKms4YCmfxbBEhtORVzYW.jpg" class="profile-picture"/></a> <a href="members/newswithjosh">newswithjosh</a></li>
                    
    <li><a href="members/briellelovestv"><img src="../images/pfps/zO925MBQcFkYEibkGaGPLeS8iZHHTWTI.jpg" class="profile-picture"/></a> <a href="members/briellelovestv">briellelovestv</a></li>
                    
    <li><a href="members/fartman76"><img src="../images/pfps/AcIVwZqsTqOY6sRGyuNA5RySgUvLj9Yj.gif" class="profile-picture"/></a> <a href="members/fartman76">fartman76</a></li>
                    
    <li><a href="members/cuteyamyrose"><img src="../images/pfps/5uWHPJxA8VQNbAsjZ0xENkr2IEFb8KZ1.jpg" class="profile-picture"/></a> <a href="members/cuteyamyrose">cuteyamyrose</a></li>
                    
    <li><a href="members/kamii"><img src="../images/pfps/rmq0DsQ5uETbg6X8f7fJEl7KMPwwQtx6.gif" class="profile-picture"/></a> <a href="members/kamii">kamii</a></li>
                    
    <li><a href="members/GarfieldRules"><img src="../images/pfps/PLDBb6p7VoMPfShlRZ4o1b8Ad7CaD6mQ.jpg" class="profile-picture"/></a> <a href="members/GarfieldRules">GarfieldRules</a></li>
                    
    <li><a href="members/webkinz"><img src="../images/pfps/vHovk4cs0FoDQPKUKoCAIStYwu16EjQx.gif" class="profile-picture"/></a> <a href="members/webkinz">webkinz</a></li>
                    
    <li><a href="members/homeyg"><img src="../images/pfps/U5QZBfkwtQbN0RArXLzKd6Jncoo7BD1W.gif" class="profile-picture"/></a> <a href="members/homeyg">homeyg</a></li>
                    
    <li><a href="members/flipvideocamera"><img src="../images/pfps/jpdig884cd5cpzb8hqtarqmcoii00fv8swhyueswimzvd0ukfdiursw524utagst20gn5yacute monkey marching.gif" class="profile-picture"/></a> <a href="members/flipvideocamera">flipvideocamera</a></li>
                    
    <li><a href="members/huskyluver1"><img src="../images/pfps/eVltPxQjAxSjot22hyaBzdqsPuYukpvC.gif" class="profile-picture"/></a> <a href="members/huskyluver1">huskyluver1</a></li>
                    
    <li><a href="members/peace17"><img src="../images/pfps/d7p47h5xe7bp7gcotchg6omsqma2r2rs06nwegkhdjwbrwnbxtfu5sbm28cj2tzrpderhnwimages.jpg" class="profile-picture"/></a> <a href="members/peace17">peace17</a></li>
                    
    <li><a href="members/Singer4Ev"><img src="../images/pfps/YBzD7Pzn2L6dDsYExK8SJYbuP05wa5Cy.jpg" class="profile-picture"/></a> <a href="members/Singer4Ev">Singer4Ev</a></li>
                    
    <li><a href="members/shadowbunny50"><img src="../images/pfps/XQgDG62ZggFxQScBmLa5mP8ouZNxoVqC.jpg" class="profile-picture"/></a> <a href="members/shadowbunny50">shadowbunny50</a></li>
                    
    <li><a href="members/bassproshops"><img src="../images/pfps/0hxrcqbrvigx8cmusancq4xadwg7y3pq8c7cq8tchyxfyaxh8bjn36k4rpzgjevigtiwr0wlily-n-dixie.gif" class="profile-picture"/></a> <a href="members/bassproshops">bassproshops</a></li>
                    
    <li><a href="members/carolinagirl1999"><img src="../images/pfps/SiblI1lgzB7JPEtqTNQQpFlM48BExr7F.jpg" class="profile-picture"/></a> <a href="members/carolinagirl1999">carolinagirl1999</a></li>
                    
    <li><a href="members/Whidey"><img src="../images/pfps/l7vDPsqrepOhMfwvqC6IDJS1FF3xGdRr.jpg" class="profile-picture"/></a> <a href="members/Whidey">Whidey</a></li>
                    
    <li><a href="members/ilovemax1229"><img src="../images/pfps/ai4r3ajyhf5qdtd8oqh4c33kjcec0ywz7rhzrppxview2fwgu4auw336377uuuktaqhp6udpeace-dove.jpg" class="profile-picture"/></a> <a href="members/ilovemax1229">ilovemax1229</a></li>
                    
    <li><a href="members/blue Tails"><img src="../images/pfps/dLBS1MD1Kn9kVS3I95ajARIudLMFKyAn.jpg" class="profile-picture"/></a> <a href="members/blue Tails">blue Tails</a></li>
                    
    <li><a href="members/GoFred7"><img src="../images/pfps/9rWK23aoDremrDDWE9QdcqPWoKblZ4iY.gif" class="profile-picture"/></a> <a href="members/GoFred7">GoFred7</a></li>
                    
    <li><a href="members/chewymintz101"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/chewymintz101">chewymintz101</a></li>
                    
    <li><a href="members/Zephen162"><img src="../images/pfps/yf9nDXpc9WhiAWO3KL6POjj9m0dkhjCV.jpg" class="profile-picture"/></a> <a href="members/Zephen162">Zephen162</a></li>
                    
    <li><a href="members/rosebud100"><img src="../images/pfps/ot5r4PuQqz8opH7H90vDiYbl5m0n7N4j.gif" class="profile-picture"/></a> <a href="members/rosebud100">rosebud100</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/macc98"><img src="../images/pfps/cl7BycFErB6lZqM6WVYXQ9buZGIiUlLu.jpg" class="profile-picture"/></a> <a href="members/macc98">macc98</a></li>
                    
    <li><a href="members/RukiaKuchki1997"><img src="../images/pfps/vwtruk8od03qrfzo0fp8i87bvsq7xd2hxmyivvuwmpd3s0fh6sgercfdttbfu2nicapvubj11136_101396623221793_100000543672702_37855_6916117_n.jpg" class="profile-picture"/></a> <a href="members/RukiaKuchki1997">RukiaKuchki1997</a></li>
                    
    <li><a href="members/garrettman0718"><img src="../images/pfps/hdtP34DVg0hWIpwsYEZuTzBQg4XlIYgp.jpg" class="profile-picture"/></a> <a href="members/garrettman0718">garrettman0718</a></li>
                    
    <li><a href="members/Cpfanamations"><img src="../images/pfps/rhlUVZ1ZRgoOWf9yxALq0Pli9uzQvZda.jpg" class="profile-picture"/></a> <a href="members/Cpfanamations">Cpfanamations</a></li>
                    
    <li><a href="members/webkinzkittygirl99"><img src="../images/pfps/2lKsai8dxjwmOzFo8t968yJIgp0TAEH0.jpg" class="profile-picture"/></a> <a href="members/webkinzkittygirl99">webkinzkittygirl99</a></li>
                    
    <li><a href="members/Manaph12"><img src="../images/pfps/qlPSOk7oV9TLcDqNjsNKWYyJTkCA5hQj.jpg" class="profile-picture"/></a> <a href="members/Manaph12">Manaph12</a></li>
                    
    <li><a href="members/curly824"><img src="../images/pfps/HdzrNCPONwGGivta2C2ypelm0iVUvyb2.jpg" class="profile-picture"/></a> <a href="members/curly824">curly824</a></li>
                    
    <li><a href="members/brittanythree"><img src="../images/pfps/8v6ayykgx2tbkc46uk3ojf2cab7nz6qxrnxec6mxw5y75s3p3u3e0vg0xcem8saq3xv3u5s4070194565_435d5f4af9_t.jpg" class="profile-picture"/></a> <a href="members/brittanythree">brittanythree</a></li>
                    
    <li><a href="members/ray8210"><img src="../images/pfps/sOD7LaxUYn5ryKJa8OWRTxVMTQ6sQnm9.gif" class="profile-picture"/></a> <a href="members/ray8210">ray8210</a></li>
                    
    <li><a href="members/youtubelover"><img src="../images/pfps/oRFvD9q3u4LnyChT4UllD7AvpS4z4qij.jpg" class="profile-picture"/></a> <a href="members/youtubelover">youtubelover</a></li>
                    
    <li><a href="members/KaylaAndSissy"><img src="../images/pfps/A71cMT4ynrPOvwQ8HVih7nyiy2zxyTlw.png" class="profile-picture"/></a> <a href="members/KaylaAndSissy">KaylaAndSissy</a></li>
                    
    <li><a href="members/Jewelz"><img src="../images/pfps/37puwyEEBcLIgCrC6sMRiVRuh8cdL1EC.jpg" class="profile-picture"/></a> <a href="members/Jewelz">Jewelz</a></li>
                    
    <li><a href="members/vampirez4ever"><img src="../images/pfps/vIXyDqDVyVYsEHfSMHbiWRbrQHqOStYB.gif" class="profile-picture"/></a> <a href="members/vampirez4ever">vampirez4ever</a></li>
                    
    <li><a href="members/iloveEdwardCullen4ever"><img src="../images/pfps/sfmwt55vsvm80s2kt73gr7nkn4hf6zdq3pdnm682sk0i0trkskp7g0huvpzsd366j7jt2gjedward-cullen-smile.jpg" class="profile-picture"/></a> <a href="members/iloveEdwardCullen4ever">iloveEdwardCullen4ever</a></li>
                    
    <li><a href="members/skategril"><img src="../images/pfps/9NjerRxC4r814y28DpFyja7IY9jJa5fZ.gif" class="profile-picture"/></a> <a href="members/skategril">skategril</a></li>
                    
    <li><a href="members/koolzlist"><img src="../images/pfps/EyJUGWZN2m32QRbrebTxM6XDdvTeOa1S.gif" class="profile-picture"/></a> <a href="members/koolzlist">koolzlist</a></li>
                    
    <li><a href="members/waterfalz"><img src="../images/pfps/rkh8wnhWRLgBIu5yEdFNTneTOxDqJIkz.gif" class="profile-picture"/></a> <a href="members/waterfalz">waterfalz</a></li>
                    
    <li><a href="members/hersheyhick"><img src="../images/pfps/dpm3ugchy46ob77dtejfna3gzkujzr436evrjxw8tuksqjvao5ez576uhr476x032kjaa48kidstubepic.jpg" class="profile-picture"/></a> <a href="members/hersheyhick">hersheyhick</a></li>
                    
    <li><a href="members/newnew"><img src="../images/pfps/mrv4es3vpt8sd8k0r5adegwr8nkyn2ayjusmbj7r36756iumeuph0bwxm7myzmn763j8bgoJustin-Bieber-Love-Me.jpg" class="profile-picture"/></a> <a href="members/newnew">newnew</a></li>
                    
    <li><a href="members/kevin"><img src="../images/pfps/es2hdpyfxhw4erm2vsmzzsa28sntdv0fcrnf6cktj6omoxcahox57xx4gaphtenvu0yr078A2J8FCUCAUFKMUDCAGCPS59CALRV03CCA5AWPYYCAR9N1AXCA9VQ5CZCAMK2M8TCABVAR9BCAJNR6SNCA4XPG4GCA12LGZUCAJZDDVLCAKN2TUDCAR13FTGCA7M1CKQCATKZRO8CAHFNFCOCATJ1RM1.jpg" class="profile-picture"/></a> <a href="members/kevin">kevin</a></li>
                    
    <li><a href="members/PeaceLoveFriends10"><img src="../images/pfps/LNdI6mpiSHziGnVN8KZIf6lUoTXYvMw4.gif" class="profile-picture"/></a> <a href="members/PeaceLoveFriends10">PeaceLoveFriends10</a></li>
                    
    <li><a href="members/ashleybear"><img src="../images/pfps/6MGnUKHvRMIyoaTnnnsu3ybXuvElGBdA.jpg" class="profile-picture"/></a> <a href="members/ashleybear">ashleybear</a></li>
                    
    <li><a href="members/superobert223"><img src="../images/pfps/fy8zyt86axqfgbb8esnmoscifnrzyna2cas0rpvsddvjcwggdutpdvxi6d6vq6mq44gnj23mario.jpg" class="profile-picture"/></a> <a href="members/superobert223">superobert223</a></li>
                    
    <li><a href="members/jonas4me"><img src="../images/pfps/0tqtxKzoSN4ihRzspDCSU4Ku1msjyXlo.jpg" class="profile-picture"/></a> <a href="members/jonas4me">jonas4me</a></li>
                    
    <li><a href="members/garigeiselman"><img src="../images/pfps/qghowkn652dgyuc356fpecz5aiw4ixay5fdqookkeop3arv5pyit06n0davmwtbqyc6cphnalbum01.jpg" class="profile-picture"/></a> <a href="members/garigeiselman">garigeiselman</a></li>
                    
    <li><a href="members/soljagirl786"><img src="../images/pfps/MuD8ieHmEbwZ2HNXvYpQqtel432sjayt.jpg" class="profile-picture"/></a> <a href="members/soljagirl786">soljagirl786</a></li>
                    
    <li><a href="members/josephfour"><img src="../images/pfps/Kc5XzpeHPwihw2IZVJhBs33y1F4uXuAh.gif" class="profile-picture"/></a> <a href="members/josephfour">josephfour</a></li>
                    
    <li><a href="members/goo38769"><img src="../images/pfps/PXvezIs70jtdy8rY0bdt38m9UDns4fFH.gif" class="profile-picture"/></a> <a href="members/goo38769">goo38769</a></li>
                    
    <li><a href="members/Drawer L 1"><img src="../images/pfps/Vc0Pw10EVV81PVGrtjUkVZmjYJQdbBGu.jpg" class="profile-picture"/></a> <a href="members/Drawer L 1">Drawer L 1</a></li>
                    
    <li><a href="members/spongebob97"><img src="../images/pfps/O3ne96YTvjQpMGbSJpbB2X93pej9D0RR.jpg" class="profile-picture"/></a> <a href="members/spongebob97">spongebob97</a></li>
                    
    <li><a href="members/Dylman"><img src="../images/pfps/tuUvf6mLTIqs0Ff9kkJmaU9d664E1Zkk.png" class="profile-picture"/></a> <a href="members/Dylman">Dylman</a></li>
                    
    <li><a href="members/FredFan1126"><img src="../images/pfps/SOjb9J3sfHWgLiMTOyUy8HZkmd9tYReq.gif" class="profile-picture"/></a> <a href="members/FredFan1126">FredFan1126</a></li>
                    
    <li><a href="members/Colby3"><img src="../images/pfps/VNwTneZL5RP8Vc4iZVsZ7QdSq77qaDrt.jpg" class="profile-picture"/></a> <a href="members/Colby3">Colby3</a></li>
                    
    <li><a href="members/Purple_Girl98"><img src="../images/pfps/z0ZFlYlxEt7fNmeWV9DdDKC34rOfNckA.gif" class="profile-picture"/></a> <a href="members/Purple_Girl98">Purple_Girl98</a></li>
                    
    <li><a href="members/Sabrinak2009"><img src="../images/pfps/OSeRYew36aJ7mDqMUDJGZYNtEwhw85DK.jpg" class="profile-picture"/></a> <a href="members/Sabrinak2009">Sabrinak2009</a></li>
                    
    <li><a href="members/abby"><img src="../images/pfps/V9GxypKj4toP1cX4P7ltTHqqQeXrpBpB.jpg" class="profile-picture"/></a> <a href="members/abby">abby</a></li>
                    
    <li><a href="members/Yellowburn10"><img src="../images/pfps/2vf8sa40idohph8ujhcrva8ted527v80hfxxfspmt2t87sthyuwkuw2xxxowknoqsafvts5colorful.gif" class="profile-picture"/></a> <a href="members/Yellowburn10">Yellowburn10</a></li>
                    
    <li><a href="members/tanafriend"><img src="../images/pfps/MtpyfSL5w0gu4nNegkAjK68tEUTY36lD.jpg" class="profile-picture"/></a> <a href="members/tanafriend">tanafriend</a></li>
                    
    <li><a href="members/Shadow Fan"><img src="../images/pfps/hk7jHF3eKIUCcktI86sUv9NHg9bdi6WD.gif" class="profile-picture"/></a> <a href="members/Shadow Fan">Shadow Fan</a></li>
                    
    <li><a href="members/kiki2498"><img src="../images/pfps/Q3thjduNhFNbPVTJl21beS2vBOAaxRZD.gif" class="profile-picture"/></a> <a href="members/kiki2498">kiki2498</a></li>
                    
    <li><a href="members/StartehLion"><img src="../images/pfps/AUsC8lDGGP7kRKgVA1RUXDxulqt3zdf0.gif" class="profile-picture"/></a> <a href="members/StartehLion">StartehLion</a></li>
                    
    <li><a href="members/XxfunxgirlxX"><img src="../images/pfps/7w9lvdm1sPbaud8UY5o4wELa5BCNaqvX.gif" class="profile-picture"/></a> <a href="members/XxfunxgirlxX">XxfunxgirlxX</a></li>
                    
    <li><a href="members/TreeckoFan202"><img src="../images/pfps/e3bjtd2xj4qw6nr0divj84x7xhztvkizchbvk0jtt0grcvig42o2wazihqz4y8sygrkqis7treecko1[1].gif" class="profile-picture"/></a> <a href="members/TreeckoFan202">TreeckoFan202</a></li>
                    
    <li><a href="members/nintend-boy-john"><img src="../images/pfps/g24ijovpa3b08ws5e45oegiq5x66z7s6ykd8wymwqnnn73iaydp3jxhdkdabbq5x08wov88star.jpg" class="profile-picture"/></a> <a href="members/nintend-boy-john">nintend-boy-john</a></li>
                    
    <li><a href="members/thecoolkid"><img src="../images/pfps/ksQ2vNrKsBUFe2SRPOfJ82zuHVXNbA89.gif" class="profile-picture"/></a> <a href="members/thecoolkid">thecoolkid</a></li>
                    
    <li><a href="members/snoopster100"><img src="../images/pfps/viJho5Jo3I4DqdWtojsLSYn9DvlG1Mcl.gif" class="profile-picture"/></a> <a href="members/snoopster100">snoopster100</a></li>
                    
    <li><a href="members/maxmia"><img src="../images/pfps/oq6ikohgd85kmjkg2v7jxdb3vriy486iq0pyfv5iuyu485byp68ea85vocji8gpn52cbo5hmario.gif" class="profile-picture"/></a> <a href="members/maxmia">maxmia</a></li>
                    
    <li><a href="members/BeatlesFan101"><img src="../images/pfps/5fuai32v3wxe8aq0an7epwcw0pgsad73gs4qmuadixhfxw6ya20nq0bfgfxegu8ob32mmzpbigmac.jpg" class="profile-picture"/></a> <a href="members/BeatlesFan101">BeatlesFan101</a></li>
                    
    <li><a href="members/kbabe"><img src="../images/pfps/ENO0eu87H8xWbKWL37ShgMHsn3vSlEUo.jpg" class="profile-picture"/></a> <a href="members/kbabe">kbabe</a></li>
                    
    <li><a href="members/MOkid99"><img src="../images/pfps/QvTwbyoxBAAleH4S9FEbCfYQerbBcgxs.gif" class="profile-picture"/></a> <a href="members/MOkid99">MOkid99</a></li>
                    
    <li><a href="members/sunshine9"><img src="../images/pfps/kd7mrtt7votnb2m27honrgdpioc3qhayj68yqswa6fk55wx25afkghzntzea6cwe8v3nepkJojo pic 9.jpg" class="profile-picture"/></a> <a href="members/sunshine9">sunshine9</a></li>
                    
    <li><a href="members/webkids101"><img src="../images/pfps/R420zH87Q1AETZIlhEENQavD4tdNdQQu.jpg" class="profile-picture"/></a> <a href="members/webkids101">webkids101</a></li>
                    
    <li><a href="members/AlvinSmith2009"><img src="../images/pfps/KHpYjjtl8NynfQd4tVjqmTIhf0cJBxiM.jpg" class="profile-picture"/></a> <a href="members/AlvinSmith2009">AlvinSmith2009</a></li>
                    
    <li><a href="members/francis14"><img src="../images/pfps/Hb6RY4dJP8eSk37PneWq7Ak5BR5M0LW5.jpg" class="profile-picture"/></a> <a href="members/francis14">francis14</a></li>
                    
    <li><a href="members/Puppies23"><img src="../images/pfps/tn4enAehHMWHBYIZwkToI4hCapvEMKZ6.gif" class="profile-picture"/></a> <a href="members/Puppies23">Puppies23</a></li>
                    
    <li><a href="members/ilovecocopuff"><img src="../images/pfps/r0bf4wwj30grcxyd52zh5ow82d8wyfzh70k2m7cdwguz4h3yar436r2wszhh55n0wyr6wr7Snapshot_20100122.jpg" class="profile-picture"/></a> <a href="members/ilovecocopuff">ilovecocopuff</a></li>
                    
    <li><a href="members/summer"><img src="../images/pfps/q60r24y5nmztwfvtwgsgy3wjhgehn0y3vrjpj6kwi8g4czoy543svq23u4a7tyzgg7tp42aSnapshot_20100121_1.jpg" class="profile-picture"/></a> <a href="members/summer">summer</a></li>
                    
    <li><a href="members/Baby Boo98"><img src="../images/pfps/yhEBcdeGeVeMtBmWrzVlQIfZubnoEyP3.jpg" class="profile-picture"/></a> <a href="members/Baby Boo98">Baby Boo98</a></li>
                    
    <li><a href="members/luxray100"><img src="../images/pfps/45yzCeqh1V6mp5eZtWAGio6qDFESvBEq.png" class="profile-picture"/></a> <a href="members/luxray100">luxray100</a></li>
                    
    <li><a href="members/pokeman"><img src="../images/pfps/e0tjpo665fvnk7hxzeryrb78iioajpbmfuus6rp3w8e57mrxpan68j5hqki0xhb02vkxcxpdeoxys.jpg" class="profile-picture"/></a> <a href="members/pokeman">pokeman</a></li>
                    
    <li><a href="members/SuperMario64LA"><img src="../images/pfps/K4nPXAR65KTbWBmoprMdim8E0ca8OvCW.png" class="profile-picture"/></a> <a href="members/SuperMario64LA">SuperMario64LA</a></li>
                    
    <li><a href="members/pinkyredJ"><img src="../images/pfps/RS8lGQMDBbJoSxRkiyvj0nJVUgXi0HTH.png" class="profile-picture"/></a> <a href="members/pinkyredJ">pinkyredJ</a></li>
                    
    <li><a href="members/sarandash"><img src="../images/pfps/ZdOFF3mzj5xXpZymTmdlZMPrJPy3brd0.jpg" class="profile-picture"/></a> <a href="members/sarandash">sarandash</a></li>
                    
    <li><a href="members/kierracangetoff"><img src="../images/pfps/jVcy17vYMUy6vJAPmmsTvV6ht8TfSYC2.gif" class="profile-picture"/></a> <a href="members/kierracangetoff">kierracangetoff</a></li>
                    
    <li><a href="members/Bunglebee"><img src="../images/pfps/5eDkTBIDtqdQSOGM4S2ihVfWPYd7ROpK.jpg" class="profile-picture"/></a> <a href="members/Bunglebee">Bunglebee</a></li>
                    
    <li><a href="members/The Slam"><img src="../images/pfps/miB2OvLPeXt2fLbfV6u2Dv67HBjaIipv.jpg" class="profile-picture"/></a> <a href="members/The Slam">The Slam</a></li>
                    
    <li><a href="members/golden1234"><img src="../images/pfps/7Kxdt0qudGhT4TCwfGRhf7nRvlQEn7ei.gif" class="profile-picture"/></a> <a href="members/golden1234">golden1234</a></li>
                    
    <li><a href="members/koreo"><img src="../images/pfps/MQeKaGVPMFRBeDajCarNSITcPouoBcrL.gif" class="profile-picture"/></a> <a href="members/koreo">koreo</a></li>
                    
    <li><a href="members/Pufflefuzz123"><img src="../images/pfps/UtHJuBy9oIZJjxgd4flOSTexWcZeDv8Y.gif" class="profile-picture"/></a> <a href="members/Pufflefuzz123">Pufflefuzz123</a></li>
                    
    <li><a href="members/EK445"><img src="../images/pfps/zTCMGtKiLXYe56VSrwQDOR4kd5pZw1ij.jpg" class="profile-picture"/></a> <a href="members/EK445">EK445</a></li>
                    
    <li><a href="members/rayrachness"><img src="../images/pfps/nvi8riz0png5bunip36tqm8eyzwzsae3to2bws2b3844rhb6c8pqkou8dhyvf3pwhfy3yr2Picture 1.jpg" class="profile-picture"/></a> <a href="members/rayrachness">rayrachness</a></li>
                    
    <li><a href="members/FMAgurl"><img src="../images/pfps/jvykd53w0yhz4f55mjpg0u4saep5jmyr7m2bhvw6j4wcbq7kznqq7k65pn0wwpeu04t7qg4Edressa.jpg" class="profile-picture"/></a> <a href="members/FMAgurl">FMAgurl</a></li>
                    
    <li><a href="members/jjalex"><img src="../images/pfps/yfq3mwp5ss4zv2e0jynoho0y3egs2keroui0hxwyfpp0frqnh00pesc7vhqost54eevkzhaFrog.jpg" class="profile-picture"/></a> <a href="members/jjalex">jjalex</a></li>
                    
    <li><a href="members/scompiepie"><img src="../images/pfps/ukv83ocn03khydh67umzfmv8qyhxswpb587znabe3mjqnrokbzaeatdoijay4pz0oxpyxq0c54s7ye4r36yc4d4ginqme6rikhx8skcoesk3ufkoa8o4ag8htqryk87tfttx3ta7ak0vpb049x049_logo.gif" class="profile-picture"/></a> <a href="members/scompiepie">scompiepie</a></li>
                    
    <li><a href="members/dogfan12"><img src="../images/pfps/ZIIbURcvZZjoPE44etFagFPVLMMKsAqF.jpg" class="profile-picture"/></a> <a href="members/dogfan12">dogfan12</a></li>
                    
    <li><a href="members/taylorswift323"><img src="../images/pfps/VPn8Hce5hvrekDIaHNBFftwGA7JhHmKc.gif" class="profile-picture"/></a> <a href="members/taylorswift323">taylorswift323</a></li>
                    
    <li><a href="members/Hockeyfreak4life"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Hockeyfreak4life">Hockeyfreak4life</a></li>
                    
    <li><a href="members/madsis112"><img src="../images/pfps/miyesvjr5g65hcpp05jg4oivtb4e0tmc2agkvq2ruwkzzxdptovm227j03orkytdyzmkfezidk madsis112 pic.jpg" class="profile-picture"/></a> <a href="members/madsis112">madsis112</a></li>
                    
    <li><a href="members/thebaddest123"><img src="../images/pfps/y87eto6aohp2v0i03hrnophck7gudvd2t86dm2bxaqrvhzk86zmkfskrqpatbdmuahvmaxbsmooches.gif" class="profile-picture"/></a> <a href="members/thebaddest123">thebaddest123</a></li>
                    
    <li><a href="members/GoldSlowbro"><img src="../images/pfps/hJvmOaRImcfrXo8vGHIfSf2gY2oLNHOu.png" class="profile-picture"/></a> <a href="members/GoldSlowbro">GoldSlowbro</a></li>
                    
    <li><a href="members/CARGUY"><img src="../images/pfps/pPMJ1Yd4pYpy1QKKH9a5Da2QKdTZpaRU.gif" class="profile-picture"/></a> <a href="members/CARGUY">CARGUY</a></li>
                    
    <li><a href="members/HelloKitty4"><img src="../images/pfps/QZULtd5pnAG27uR4CcIJll126QqO1IcF.jpg" class="profile-picture"/></a> <a href="members/HelloKitty4">HelloKitty4</a></li>
                    
    <li><a href="members/the thief"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/the thief">the thief</a></li>
                    
    <li><a href="members/inuyasha"><img src="../images/pfps/l87cBFvgiPTTWtWEb0UxlJ8ZUgR3QBu2.jpg" class="profile-picture"/></a> <a href="members/inuyasha">inuyasha</a></li>
                    
    <li><a href="members/kookookitty"><img src="../images/pfps/z3uqJ150mSVkOBLaeVzUloUKOFOkpStf.gif" class="profile-picture"/></a> <a href="members/kookookitty">kookookitty</a></li>
                    
    <li><a href="members/WindyEevee"><img src="../images/pfps/SMA82a0oyYrG1BWBwhEMBbzjsq7zvGoB.jpg" class="profile-picture"/></a> <a href="members/WindyEevee">WindyEevee</a></li>
                    
    <li><a href="members/CalicoQueen"><img src="../images/pfps/0FoCYCbve0cWkKmycPZM7tvyHQnwwlIl.png" class="profile-picture"/></a> <a href="members/CalicoQueen">CalicoQueen</a></li>
                    
    <li><a href="members/fredfan203"><img src="../images/pfps/g5samqd4fscvhdhbzftu3tx4tbn8kguqadqmrrgvaghhjng7sztmjfe0epyotj4tki33z7np n b j t.jpg" class="profile-picture"/></a> <a href="members/fredfan203">fredfan203</a></li>
                    
    <li><a href="members/legoboy8"><img src="../images/pfps/lLeJDXERBesxUPB6aZallRPe7RMjuv6W.jpg" class="profile-picture"/></a> <a href="members/legoboy8">legoboy8</a></li>
                    
    <li><a href="members/opal_1998"><img src="../images/pfps/oUxga9SQ4YnSWFVdYo6nTRuh2veRYClC.gif" class="profile-picture"/></a> <a href="members/opal_1998">opal_1998</a></li>
                    
    <li><a href="members/jedidude32"><img src="../images/pfps/toimfgihx5mn83kuahys7t5dnbziotj78skczrjmnvzjn85ngu3cczdpy3ydn8cjpkmfztslan1.jpg" class="profile-picture"/></a> <a href="members/jedidude32">jedidude32</a></li>
                    
    <li><a href="members/cuzins123"><img src="../images/pfps/lJDxrijziPaSlFP2JGVVpJl1d7MUZzoA.jpg" class="profile-picture"/></a> <a href="members/cuzins123">cuzins123</a></li>
                    
    <li><a href="members/Ilovejustinbieber1"><img src="../images/pfps/rCYxCjxIy9aRCjjxSimXnUcIFEFQeunL.jpg" class="profile-picture"/></a> <a href="members/Ilovejustinbieber1">Ilovejustinbieber1</a></li>
                    
    <li><a href="members/hockeyEE18"><img src="../images/pfps/pugfFxpHxAelBV8A40A9KlzuajkSCkgp.png" class="profile-picture"/></a> <a href="members/hockeyEE18">hockeyEE18</a></li>
                    
    <li><a href="members/spongeybrown124"><img src="../images/pfps/JwGbD7Wb6kKPwrqXRidniEXSrC5T7KoE.gif" class="profile-picture"/></a> <a href="members/spongeybrown124">spongeybrown124</a></li>
                    
    <li><a href="members/ANGIE LUVZ U"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ANGIE LUVZ U">ANGIE LUVZ U</a></li>
                    
    <li><a href="members/sasawh13"><img src="../images/pfps/yhotwuyoO6TqMk2ookayjAZUrUAyvnwh.jpg" class="profile-picture"/></a> <a href="members/sasawh13">sasawh13</a></li>
                    
    <li><a href="members/Natalie63"><img src="../images/pfps/pZZMEsHFDjAt9jVKyulfRDaJICUFBWHq.gif" class="profile-picture"/></a> <a href="members/Natalie63">Natalie63</a></li>
                    
    <li><a href="members/coolmaster"><img src="../images/pfps/ki2itNQYbEDmGn0hzDg1NjxTvfcOix7G.png" class="profile-picture"/></a> <a href="members/coolmaster">coolmaster</a></li>
                    
    <li><a href="members/MochaGirl"><img src="../images/pfps/oLiZUEK5glKMUWFu7fVD1p7bxFLAClpq.png" class="profile-picture"/></a> <a href="members/MochaGirl">MochaGirl</a></li>
                    
    <li><a href="members/jessacat"><img src="../images/pfps/kMqmhJRd6mQiYUlQdQtfzbj9edmnkn0J.jpg" class="profile-picture"/></a> <a href="members/jessacat">jessacat</a></li>
                    
    <li><a href="members/Lyla8491"><img src="../images/pfps/hK5hXBqh34t4la9wdBM88IsRHP0JlZ0I.jpg" class="profile-picture"/></a> <a href="members/Lyla8491">Lyla8491</a></li>
                    
    <li><a href="members/Lola1498"><img src="../images/pfps/yv6prghA34lUAG0paiqUKM70bAYN1ILp.jpg" class="profile-picture"/></a> <a href="members/Lola1498">Lola1498</a></li>
                    
    <li><a href="members/demilovatoiscool"><img src="../images/pfps/kKUYgYZcHKmxw9Tt45gqwdc5jSK572dg.jpg" class="profile-picture"/></a> <a href="members/demilovatoiscool">demilovatoiscool</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/taylorswift323" file="pfps/4pc0IEr5pPZavwiuLowmtOm8qPQ0SGkM.gif" alt="taylorswift323" %}

<p><b>Username:</b> <a href="members/taylorswift323">taylorswift323</a></p>

<p><b>Date:</b> 2010-07-13 09:26:25</p>

<p class="comment"><b>Comment:</b> <p>i am not trying to be mean but you should spend 500 dollars on something useful  like donating to the poor or animals its not like  buying clothes is going to help the world</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/SonicChaos07" file="pfps/VDuUQXCNsMy7YeoeIWFkRp5D184MU5Sp.gif" alt="SonicChaos07" %}

<p><b>Username:</b> <a href="members/SonicChaos07">SonicChaos07</a></p>

<p><b>Date:</b> 2010-07-13 08:38:56</p>

<p class="comment"><b>Comment:</b> <p>no she isn't. you can tell by her name. even though the gender spot says male. her name is for girls. too embarrassing for boys to be called. </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/taylorswift323" file="pfps/4pc0IEr5pPZavwiuLowmtOm8qPQ0SGkM.gif" alt="taylorswift323" %}

<p><b>Username:</b> <a href="members/taylorswift323">taylorswift323</a></p>

<p><b>Date:</b> 2010-07-12 09:29:14</p>

<p class="comment"><b>Comment:</b> <p>hello!</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>