---
title: deadman
sidebar: home_sidebar
hide_sidebar: true
keywords: deadman
permalink: members/deadman
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/k3FGCTD7raVHUALDfCBJvaVLz33nElZo.jpg" alt="deadman" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>garrett</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>3</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>12</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>673</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>83.64%</b> out of <b>11</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>wild life</li>
<img src="{{"../images/thumb/tN4vQotsgXTIDh21Jjbi.jpg"}}" alt="thumbnail"/>

</ul>
            
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/xolylaepic"><img src="../images/pfps/HIDNNxLBGGUk1Gun4NTUaLoZdG4b9qzE.gif" class="profile-picture"/></a> <a href="members/xolylaepic">xolylaepic</a></li>
                    
    <li><a href="members/soljagirl786"><img src="../images/pfps/MuD8ieHmEbwZ2HNXvYpQqtel432sjayt.jpg" class="profile-picture"/></a> <a href="members/soljagirl786">soljagirl786</a></li>
                    
    <li><a href="members/thelightningthief"><img src="../images/pfps/iMlibhzn1pG5o1uyCSKdKoAjki0R5vre.png" class="profile-picture"/></a> <a href="members/thelightningthief">thelightningthief</a></li>
                    
    <li><a href="members/4everaly746"><img src="../images/pfps/0ArWWCPi49bB87AJ05Eg0UdaRdmwtLuj.jpg" class="profile-picture"/></a> <a href="members/4everaly746">4everaly746</a></li>
                    
    <li><a href="members/R2505"><img src="../images/pfps/UGQY7yNx8zysJNB1URzs8Wj5Z3UWJJRd.jpg" class="profile-picture"/></a> <a href="members/R2505">R2505</a></li>
                    
    <li><a href="members/kenzkat"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/kenzkat">kenzkat</a></li>
                    
    <li><a href="members/redbelt2"><img src="../images/pfps/0ftt99qnJ3lpvpWLGX3AlkVOYSLveERS.gif" class="profile-picture"/></a> <a href="members/redbelt2">redbelt2</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/thecoolkid"><img src="../images/pfps/ksQ2vNrKsBUFe2SRPOfJ82zuHVXNbA89.gif" class="profile-picture"/></a> <a href="members/thecoolkid">thecoolkid</a></li>
                    
    <li><a href="members/WigglyXKitten"><img src="../images/pfps/czfififjn6tqxmddjo6gdtnqa4i6keak2dr8mxixszchafiitgpvx2avvgs4kqdeuub4ihscat avatar.gif" class="profile-picture"/></a> <a href="members/WigglyXKitten">WigglyXKitten</a></li>
                    
    <li><a href="members/munchlaxme"><img src="../images/pfps/JaHfCwjzoePViBOgOFpiD1ncZvjOt3n1.jpg" class="profile-picture"/></a> <a href="members/munchlaxme">munchlaxme</a></li>
                    
    <li><a href="members/Colby3"><img src="../images/pfps/VNwTneZL5RP8Vc4iZVsZ7QdSq77qaDrt.jpg" class="profile-picture"/></a> <a href="members/Colby3">Colby3</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/garrettman0718" file="pfps/hdtP34DVg0hWIpwsYEZuTzBQg4XlIYgp.jpg" alt="garrettman0718" %}

<p><b>Username:</b> <a href="members/garrettman0718">garrettman0718</a></p>

<p><b>Date:</b> 2011-02-27 23:08:22</p>

<p class="comment"><b>Comment:</b> <p> ugh must destroy this profile which my profile till somebody hacked it</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/R2505" file="pfps/UGQY7yNx8zysJNB1URzs8Wj5Z3UWJJRd.jpg" alt="R2505" %}

<p><b>Username:</b> <a href="members/R2505">R2505</a></p>

<p><b>Date:</b> 2010-05-05 15:32:30</p>

<p class="comment"><b>Comment:</b> <p>Hello R2505 and pokemonlover1999 and going to start a contest called   funny video/picture posting beginds today at 6:00pm and ends on friday   may 21st 2010 and judging begins on saterday may 22nd 2010 at 12:00pm.   please e mail us to enter and check the blog and videoin a few hours  for  full details.Please also post your video response to the contest  video  or you can add it to the contest group or just tell us when it is  posted</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/wwerocks619hardyz" file="pfps/placeholder.gif" alt="wwerocks619hardyz" %}

<p><b>Username:</b> <a href="members/wwerocks619hardyz">wwerocks619hardyz</a></p>

<p><b>Date:</b> 2010-04-02 09:11:41</p>

<p class="comment"><b>Comment:</b> <p>Hey fellow WWE lover! I'm guessing your favorite wrestler is UNDERTAKER!!!!!! Mine is Rey Mysterio!</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>