---
title: doglover624
sidebar: home_sidebar
hide_sidebar: true
keywords: doglover624
permalink: members/doglover624
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/t5673df0ipf6phsry3uxbvvp2yychuy0otwiw3a6if0vkhd8bxwajjqb6fdeyz3dkpj5gkzauspups2.jpg" alt="doglover624" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>12</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>3</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>The Plasticine Puppy Dog</li>
<img src="{{"../images/thumb/1_3240.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Cats-Vs-Dogs</li>
                
The Ultimate Battle... Only One WILL Win. Whose Side Are You On? CATS Or DOGS?!Song-ButterflyArtist-Smile D.K
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>FUNNY CAT</li>
                
Hahaah, I Thought Thiz Thing Was FunnySILLY CAT EXERCISING IS FOR PEOPLE LOLso Comment It If You Like Itwell My Cat Liked It Pretty Darn Goodshe Wouldnt Get Off My Screen Lol
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>MOCHA</li>
                
Http://Www.Flickr.Com/Photos/-D/427113262/He Is 13 Days Old Today :)Music: BoA - Some Day One Day, Remixed By Bestiz.ComFeatured On Cuteoverload.Com: Http://Mfrost.Typepad.Com/Cute_overload/2007/03/This_might_shut.Html
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>CATS VS DOGS</li>
                
Cats Vs Dogs This One Is For Ray (KingdomHeartsGirl87)And Danah (charmedangel7000)
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>Michelle-Branch--All-You-Wanted</li>
                
Michelle Branch All You Wanted.I LOVE THIS SONG!
                
                <br>
Added: 05-10-2008
                
</ul>
                
<ul>
<li>Flyleaf - All Around Me - (LIVE) - Fuse</li>
                
i love this song
                
                <br>
Added: 05-10-2008
                
</ul>
                
<ul>
<li>Thats-What-You-Get--Paramore-MTV-live</li>
                
That's what you get. i love this soNG
                
                <br>
Added: 05-10-2008
                
</ul>
                
<ul>
<li>Sponge Bob Squarepants-Chocolate with nut</li>
                
Episode Chocolate with nuts as sponge bob and patrick become entrepreneurs  and they sell candy bars to locals citizens of bekini bottom (eheh)
                
                <br>
Added: 05-10-2008
                
</ul>
                
<ul>
<li>Paramore-Live-Misery-Business</li>
                
PARAMORE!!!!!!!!!!
                
                <br>
Added: 07-10-2008
                
</ul>
                
<ul>
<li>Claymation 3 - Cat and Mouse</li>
                
A claymation test about a cat going about his day, when suddenly he spots a GIANT mouse!!!
                
                <br>
Added: 26-10-2008
                
</ul>
                
<ul>
<li>The Plasticine Puppy Dog</li>
                
CUTE!
                
                <br>
Added: 26-10-2008
                
</ul>
                
<ul>
<li>JONAS-BROTHERS-FUNNY-LIVE-CHAT-MOMENTS</li>
                
Please Check Out My New Channel: Http://Youtube.Com/JooniieeHere Are Some Funny Clips From The Live Chat The Jonas Brothers Had On September 15, 2007. Enjoy!Comments And Ratings Are Appretiated!
                
                <br>
Added: 31-03-2008
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/huskyluver1"><img src="../images/pfps/eVltPxQjAxSjot22hyaBzdqsPuYukpvC.gif" class="profile-picture"/></a> <a href="members/huskyluver1">huskyluver1</a></li>
                    
    <li><a href="members/erin0106"><img src="../images/pfps/4f4skdyme4bamghgfno6ut8tut4ynkaiq2005qbbic8vjeznrehdvhueyq0dy2mgub5pp5qPhoto 4.jpg" class="profile-picture"/></a> <a href="members/erin0106">erin0106</a></li>
                    
    <li><a href="members/jadey722"><img src="../images/pfps/jw287tm5w5w0z850g3c3bu3w8csvco2m8ui7cs3ymoqanj0rc0ibkcvjff3frvprgwpgfg5Sunset.jpg" class="profile-picture"/></a> <a href="members/jadey722">jadey722</a></li>
                    
    <li><a href="members/RukiaKuchki1997"><img src="../images/pfps/vwtruk8od03qrfzo0fp8i87bvsq7xd2hxmyivvuwmpd3s0fh6sgercfdttbfu2nicapvubj11136_101396623221793_100000543672702_37855_6916117_n.jpg" class="profile-picture"/></a> <a href="members/RukiaKuchki1997">RukiaKuchki1997</a></li>
                    
    <li><a href="members/youtubelover"><img src="../images/pfps/oRFvD9q3u4LnyChT4UllD7AvpS4z4qij.jpg" class="profile-picture"/></a> <a href="members/youtubelover">youtubelover</a></li>
                    
    <li><a href="members/goofup90"><img src="../images/pfps/qvcyvh4ayojxzjd88r7evjibmshvvttcdt0wytvp85bweevburfgzmfa4nvq5dr6wgsm0ey600px-Goofy-DataForm_CG.jpg" class="profile-picture"/></a> <a href="members/goofup90">goofup90</a></li>
                    
    <li><a href="members/monkeyrfl31"><img src="../images/pfps/xfua67cjvbiswwzvw07kbr3p8i3idfb2ktzfs2pe2vunjia4a7dcn6pjdisgnt6xev4uohwmonkey.gif" class="profile-picture"/></a> <a href="members/monkeyrfl31">monkeyrfl31</a></li>
                    
    <li><a href="members/Darkrai100"><img src="../images/pfps/gjn564ceju8nsydcck6myexi4a57jjkqrxkmsnqz7pdochresmpfrbmmbiijqrz5fbhwovnIshna AMV 0001.jpg" class="profile-picture"/></a> <a href="members/Darkrai100">Darkrai100</a></li>
                    
    <li><a href="members/Lariah"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Lariah">Lariah</a></li>
                    
    <li><a href="members/korrigan"><img src="../images/pfps/aeyg8qxybkouju76b8gueon0t6huorpovcsstffsqtcycatb8xwec73u5afjpswbvfrdkwvpikachu.gif" class="profile-picture"/></a> <a href="members/korrigan">korrigan</a></li>
                    
    <li><a href="members/MaryKate"><img src="../images/pfps/cu7qU4cid8hn6vmYPCY2FrklerIj0XBT.png" class="profile-picture"/></a> <a href="members/MaryKate">MaryKate</a></li>
                    
    <li><a href="members/legoman2000"><img src="../images/pfps/mO6Iesgw57Scf7k6PdaO1unkgUTjK16w.jpg" class="profile-picture"/></a> <a href="members/legoman2000">legoman2000</a></li>
                    
    <li><a href="members/Lily222"><img src="../images/pfps/v6bsce672n7u5qnr8k8ttz7bdftabdguagdai85am0uhi5zfewzwkxxo0fm2jtohxpi4oc4some of the thunderclankats.jpg" class="profile-picture"/></a> <a href="members/Lily222">Lily222</a></li>
                    
    <li><a href="members/dark_ranger"><img src="../images/pfps/nKUP82ZV0skeYraxZVjTUwWwhf3dcjVD.png" class="profile-picture"/></a> <a href="members/dark_ranger">dark_ranger</a></li>
                    
    <li><a href="members/doghelp"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/doghelp">doghelp</a></li>
                    
    <li><a href="members/Sammystar08"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Sammystar08">Sammystar08</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>