---
title: dollface429
sidebar: home_sidebar
hide_sidebar: true
keywords: dollface429
permalink: members/dollface429
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/KBsJC8CAJEMLTpCfZY8T7uWLjkPzlR6t.jpg" alt="dollface429" max-width="100"%}
            
    {% include inline_image.html file="pfps/0hy0LOsZ0ZeE5uzDxA7DHXWlelmewSBm.jpg" alt="dollface429" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Leyna</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>1</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>10</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>267</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>88%</b> out of <b>5</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>The Chief</li>
<img src="{{"../images/thumb/2TgVBfAEuXM5iNeFihTM.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The Chief  2:The Plan</li>
<img src="{{"../images/thumb/VvkyQtAidyhk2ZJKrNMY.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The Chief/Lady Gaga music video</li>
<img src="{{"../images/thumb/xJZd2wMUTJLnGyXdTTiU.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The Lady Lele Show episode 1 part 2</li>
<img src="{{"../images/thumb/NYfYmCHoKgJ4g2HxVoSG.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>the-chief-2%3athe-plan</li>
                
The Chief and the team think of a plan to take down Kitty Kalico.
Kitty Kalico tells them about a power source for her secret weapon.
                
                <br>
Added: 2010-10-28
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Bobbles33"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Bobbles33">Bobbles33</a></li>
                    
    <li><a href="members/demiandselena"><img src="../images/pfps/aYPzGR4HyYPdbXyp2MvdE9gXXgl6mFmA.jpg" class="profile-picture"/></a> <a href="members/demiandselena">demiandselena</a></li>
                    
    <li><a href="members/smileytothemax"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/smileytothemax">smileytothemax</a></li>
                    
    <li><a href="members/JUSTIN123321"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/JUSTIN123321">JUSTIN123321</a></li>
                    
    <li><a href="members/ANA456654"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ANA456654">ANA456654</a></li>
                    
    <li><a href="members/korina"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/korina">korina</a></li>
                    
    <li><a href="members/london"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/london">london</a></li>
                    
    <li><a href="members/eddie1"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/eddie1">eddie1</a></li>
                    
    <li><a href="members/heavenlymoca2000"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/heavenlymoca2000">heavenlymoca2000</a></li>
                    
    <li><a href="members/Easterlilly"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Easterlilly">Easterlilly</a></li>
                    
    <li><a href="members/zerothewolf"><img src="../images/pfps/Cvi2IvmpJ4PhHjIZZkQlOU4gSHHOcKbe.png" class="profile-picture"/></a> <a href="members/zerothewolf">zerothewolf</a></li>
                    
    <li><a href="members/frostfirefur"><img src="../images/pfps/MsohUtf9vbu7qenoySl61IdkkM2GEn9O.jpg" class="profile-picture"/></a> <a href="members/frostfirefur">frostfirefur</a></li>
                    
    <li><a href="members/killerwii12"><img src="../images/pfps/DJniRlpMXKUoZ8FM6CYqBxEn3lj4w60x.jpg" class="profile-picture"/></a> <a href="members/killerwii12">killerwii12</a></li>
                    
    <li><a href="members/Cruel_Girl"><img src="../images/pfps/7cOGR0OmCQy4HbtiExFIVG3WgQGn8Ir6.jpg" class="profile-picture"/></a> <a href="members/Cruel_Girl">Cruel_Girl</a></li>
                    
    <li><a href="members/warriorchikorita"><img src="../images/pfps/28gM6PfjwuMWmwdLAPjA7byq3YJCTtIJ.jpg" class="profile-picture"/></a> <a href="members/warriorchikorita">warriorchikorita</a></li>
                    
    <li><a href="members/leahc"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/leahc">leahc</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/dollface429" file="pfps/KBsJC8CAJEMLTpCfZY8T7uWLjkPzlR6t.jpg" alt="dollface429" %}

<p><b>Username:</b> <a href="members/dollface429>dollface429</a></p>

<p><b>Date:</b> 2010-11-30 17:01:16</p>

<p class="comment"><b>Comment:</b> <p> </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/phineasandferb123" file="pfps/Z7OgZwx4LQweBKpcrGv7K8JcqmkPt2gI.gif" alt="phineasandferb123" %}

<p><b>Username:</b> <a href="members/phineasandferb123>phineasandferb123</a></p>

<p><b>Date:</b> 2010-11-24 16:06:39</p>

<p class="comment"><b>Comment:</b> <p> see heres some tips on being a good movie maker try and use sony vegas free trial look up some tutorials make some ffects and 2nd chroma key so you can make awesome backrounds 3 use pencil if you wanna make animations not a pencil the pencil animation program</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>