---
title: DrumBoy
sidebar: home_sidebar
hide_sidebar: true
keywords: DrumBoy
permalink: members/DrumBoy
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nio26ybwdbio4rtjsjryrkcfg0x0dm8qukgp7fcbgmob07jjfy8u78zfxm4yx0dgcjtbpwacute-funny-animals-27.jpg" alt="DrumBoy" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Jake</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>3</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>5</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>396</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>94.29%</b> out of <b>7</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Billyand jakeZeldaBloopers 2 Redo</li>
<img src="{{"../images/thumb/4sk0UdrLSdiRSbHBMJgx.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Funny Batting Hit</li>
<img src="{{"../images/thumb/ZaoUMYq2FKOqZdauwSLs.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Devil Sticking Demo</li>
<img src="{{"../images/thumb/W4RNlKRVmEVYIXozQq4b.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>DrumBoy and Epod's lawn chair bloopers</li>
<img src="{{"../images/thumb/FbeudpTlb1kHyblHXZWb.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Epod: Behind the scenes</li>
<img src="{{"../images/thumb/rzaGj0kE1RKYuZnkQ3kK.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>shopping for fish supplies</li>
<img src="{{"../images/thumb/bEwkWt3rCdUz5LSNWtMA.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The Neanderthals</li>
<img src="{{"../images/thumb/1_30883.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Billyand-jakeZeldaBloopers-2-Redo</li>
                
Me and StickFigureDude did this, and it was funny!!!
                
                <br>
Added: 25-04-2009
                
</ul>
                
<ul>
<li>Devil-Sticking-Demo</li>
                
I learned how to use the devil sticks a couple of weeks ago.  This is my first demo.
                
                <br>
Added: 24-05-2009
                
</ul>
                
<ul>
<li>DrumBoy-and-Epods-lawn-chair-bloopers</li>
                
Watch as Epod messes around with a lawn chair!!!
                
                <br>
Added: 11-08-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/maddog277"><img src="../images/pfps/v7c3rb07t4pp7hntito8cpdavqjsxtukrwc7w35gvitto4dxppup4xpoey60hrawdcux4o4tired guinea pig.jpg" class="profile-picture"/></a> <a href="members/maddog277">maddog277</a></li>
                    
    <li><a href="members/sammax09"><img src="../images/pfps/cpCbqPV05gXmMHEKmhJS8CToQCMiF4Xf.jpg" class="profile-picture"/></a> <a href="members/sammax09">sammax09</a></li>
                    
    <li><a href="members/DXZ"><img src="../images/pfps/yfrpkqf2epcbrrsjhrod202hueqnyk2prh2zx5t3mt20bk8gznjscd0wffb3q0i588wu4gmDXZ.jpg" class="profile-picture"/></a> <a href="members/DXZ">DXZ</a></li>
                    
    <li><a href="members/Devsandpeb"><img src="../images/pfps/wfqhisdo6aqya8m7cj5raqktms4gsuxfxcn7uqjqoxfpxrnzyigyyrg87cgqu2wj47fnnn3cards-main_Full.jpg" class="profile-picture"/></a> <a href="members/Devsandpeb">Devsandpeb</a></li>
                    
    <li><a href="members/MOkid99"><img src="../images/pfps/QvTwbyoxBAAleH4S9FEbCfYQerbBcgxs.gif" class="profile-picture"/></a> <a href="members/MOkid99">MOkid99</a></li>
                    
    <li><a href="members/dataman"><img src="../images/pfps/NPhbDfRm8llNa8DacdnYqRto0btp4OsF.jpg" class="profile-picture"/></a> <a href="members/dataman">dataman</a></li>
                    
    <li><a href="members/inuyasha"><img src="../images/pfps/l87cBFvgiPTTWtWEb0UxlJ8ZUgR3QBu2.jpg" class="profile-picture"/></a> <a href="members/inuyasha">inuyasha</a></li>
                    
    <li><a href="members/Stuntman Jax"><img src="../images/pfps/CK038bD8aJgrKtQN9qxVhvAoqRrDS64T.png" class="profile-picture"/></a> <a href="members/Stuntman Jax">Stuntman Jax</a></li>
                    
    <li><a href="members/kdinokid2"><img src="../images/pfps/ki5wVY5ncsMfDc1s3s6MObb1mJBCrK0R.jpg" class="profile-picture"/></a> <a href="members/kdinokid2">kdinokid2</a></li>
                    
    <li><a href="members/dev8it"><img src="../images/pfps/e7wymcs2i6vcmpvzt7h2q2nzb2eoyns0ifqvfaoo48qgoa686dyn3ab42ggprzgy3wkauwmimages.jpg" class="profile-picture"/></a> <a href="members/dev8it">dev8it</a></li>
                    
    <li><a href="members/awsomerockman"><img src="../images/pfps/IyyXa8Ln327xqsu2L88pjgwZgApxi9Qo.jpg" class="profile-picture"/></a> <a href="members/awsomerockman">awsomerockman</a></li>
                    
    <li><a href="members/idogjim"><img src="../images/pfps/3yx4ihbqvb6zvmch03ubbf6x5zhsfqaadx4n353o50epdhu2bd0aixwdm4vritpnhkzcero398314556_740665.gif" class="profile-picture"/></a> <a href="members/idogjim">idogjim</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/StickFigureDude"><img src="../images/pfps/FtpHE4LetYESJzAXUAB8NtTOWYxQ6jn9.jpg" class="profile-picture"/></a> <a href="members/StickFigureDude">StickFigureDude</a></li>
                    
    <li><a href="members/hunter89"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/hunter89">hunter89</a></li>
                    
    <li><a href="members/whackykid"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/whackykid">whackykid</a></li>
                    
    <li><a href="members/pugslove911"><img src="../images/pfps/v0rrzg723pimfupapig03fwivs2surhgiwv70uxua45dpkc3risjmds7vkoh2tmag877ttrBella2.jpg" class="profile-picture"/></a> <a href="members/pugslove911">pugslove911</a></li>
                    
    <li><a href="members/ryanzz"><img src="../images/pfps/4unm8a7x6yfheoje84jh6tfu7obgc3r6n2ij2e8z2c76rf8o7iv2zznxco2eih8tbg33kzris.jpg" class="profile-picture"/></a> <a href="members/ryanzz">ryanzz</a></li>
                    
    <li><a href="members/456z00ts654"><img src="../images/pfps/82kqx6k7qc6s3i8gz53pa62xiehycozbecr28zyn0v6u530tws6unyiv0oi32a24akv88kjWolf-Gone-Mad-wolves-2576785-301-450.jpg" class="profile-picture"/></a> <a href="members/456z00ts654">456z00ts654</a></li>
                    
    <li><a href="members/kdinokid"><img src="../images/pfps/n78og5a65tbey8qcst20dr0m3trzqq84p7gt0gqwyp0oofo6ygwzvmbq3sgk7ddn8j4zqmkMarth.jpg" class="profile-picture"/></a> <a href="members/kdinokid">kdinokid</a></li>
                    
    <li><a href="members/Epod"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Epod">Epod</a></li>
                    
    <li><a href="members/AlexisandNick"><img src="../images/pfps/svetuwg6g0sdqc8rjt0m2ryskevfvjve40ynm3jqs3s83rrdbgn4xdk6h4b2fw67mtkvmtbmario-luigi.jpg" class="profile-picture"/></a> <a href="members/AlexisandNick">AlexisandNick</a></li>
                    
    <li><a href="members/checkitout"><img src="../images/pfps/5jxir7xkx2oh8a0iz74zgfvt7fgaz32tdpzuno4aeifdg4j43es7hfrfixf7p6rsjicwu6uIvory_resized.jpg" class="profile-picture"/></a> <a href="members/checkitout">checkitout</a></li>
                    
    <li><a href="members/newnew"><img src="../images/pfps/mrv4es3vpt8sd8k0r5adegwr8nkyn2ayjusmbj7r36756iumeuph0bwxm7myzmn763j8bgoJustin-Bieber-Love-Me.jpg" class="profile-picture"/></a> <a href="members/newnew">newnew</a></li>
                    
    <li><a href="members/IROCK42"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/IROCK42">IROCK42</a></li>
                    
    <li><a href="members/cambrodog"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/cambrodog">cambrodog</a></li>
                    
    <li><a href="members/livefreeordie"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/livefreeordie">livefreeordie</a></li>
                    
    <li><a href="members/abby"><img src="../images/pfps/V9GxypKj4toP1cX4P7ltTHqqQeXrpBpB.jpg" class="profile-picture"/></a> <a href="members/abby">abby</a></li>
                    
    <li><a href="members/master"><img src="../images/pfps/45ex22zamt7v257ff2ggem287spg7z8zudok5dihwg2nczrhrvnv7ds3t77rw6ffatq3uwamario omg.jpg" class="profile-picture"/></a> <a href="members/master">master</a></li>
                    
    <li><a href="members/vampwolf"><img src="../images/pfps/sbtnr7bpmesf2ge5hbudeskwi5vw67fnayyruz444k7xrdrxeaygqa0w4njyjodjd2ywqrpV9QMKSCAVAVD68CATS05K0CARZZ3V9CASOP503CAJNQSJACAMU6WHQCARMYGFHCADSMV5GCAE116R1CAJQ1VR5CA1HSQP2CAFATPOBCAU511HXCAI4ZGPVCA67O93YCAGKYTZGCA9GR1D2CAGHBFVPCA7ZSYIL.jpg" class="profile-picture"/></a> <a href="members/vampwolf">vampwolf</a></li>
                    
    <li><a href="members/colby2"><img src="../images/pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" class="profile-picture"/></a> <a href="members/colby2">colby2</a></li>
                    
    <li><a href="members/ashleybear"><img src="../images/pfps/6MGnUKHvRMIyoaTnnnsu3ybXuvElGBdA.jpg" class="profile-picture"/></a> <a href="members/ashleybear">ashleybear</a></li>
                    
    <li><a href="members/Gabbypod"><img src="../images/pfps/smcQY9dmbOvuV7rbb7cAKsqPT3nMtsqc.jpg" class="profile-picture"/></a> <a href="members/Gabbypod">Gabbypod</a></li>
                    
    <li><a href="members/catlover25222"><img src="../images/pfps/yfDx2e9qnYhGKVHZ6XiBrDgoYUXlmqUZ.gif" class="profile-picture"/></a> <a href="members/catlover25222">catlover25222</a></li>
                    
    <li><a href="members/shadow lover 98"><img src="../images/pfps/uHyxvrwtwpGLZdM0CcVLc7udjyfSWKWG.jpg" class="profile-picture"/></a> <a href="members/shadow lover 98">shadow lover 98</a></li>
                    
    <li><a href="members/maddy1017"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/maddy1017">maddy1017</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/maddy1017" file="pfps/placeholder.gif" alt="maddy1017" %}

<p><b>Username:</b> <a href="members/maddy1017">maddy1017</a></p>

<p><b>Date:</b> 2010-08-16 23:33:54</p>

<p class="comment"><b>Comment:</b> <p><span style="font-family: Verdana;"><span style="font-size: xx-large;"><strong><em>i love your pic its so cute r u</em></strong></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-01-23 08:16:30</p>

<p class="comment"><b>Comment:</b> <p>LOL nice Profile Picture, Dude.</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>