---
title: epicvids
sidebar: home_sidebar
hide_sidebar: true
keywords: epicvids
permalink: members/epicvids
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="epicvids" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>14</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li></li>
<img src="{{"../images/thumb/1_125086.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>ahh-bed-socks</li>
                
8cv 4gwrvkmhyjin,,nhjifcn,
                
                <br>
Added: 24-11-2011
                
</ul>
                
<ul>
<li>never-insult-trex</li>
                
jfgkgl ujhhj
                
                <br>
Added: 11-12-2011
                
</ul>
                
<ul>
<li>sockus-the-x-ray-vision-dog</li>
                
aSDFGHJ
                
                <br>
Added: 12-12-2011
                
</ul>
                
<ul>
<li>aos45pt2</li>
                
fghip
                
                <br>
Added: 05-01-2012
                
</ul>
                
<ul>
<li>12daysofhalochristmas</li>
                
sadfl;'lkjhgfdsfghjk,xcm,sdjk;#o.iop[[#po
                
                <br>
Added: 06-01-2012
                
</ul>
                
<ul>
<li>httiyanohr</li>
                
zxdcfgvhjn,l.
                
                <br>
Added: 06-01-2012
                
</ul>
                
<ul>
<li>aos45pt1</li>
                
rhtfffffff  tryrt ryyryryrryrryyyrh h
                
                <br>
Added: 09-01-2012
                
</ul>
                
<ul>
<li>aos45pt3</li>
                
zsdscccouytrew sdfgbvf
                
                <br>
Added: 09-01-2012
                
</ul>
                
<ul>
<li>asdf-movie-3</li>
                
rtyytyydry yethtyhtyhtyhety5eyet
                
                <br>
Added: 18-01-2012
                
</ul>
                
<ul>
<li>asdf-movie-i-like-trains-song</li>
                
dfgh
                
                <br>
Added: 19-01-2012
                
</ul>
                
<ul>
<li>starwarscrawl1</li>
                
12345678
                
                <br>
Added: 06-02-2012
                
</ul>
                
<ul>
<li>index.html</li>
                

                
                <br>
Added: 15-02-2012
                
</ul>
                
<ul>
<li>my-cat-kit</li>
                
kit likes tickles
                
                <br>
Added: 12-03-2012
                
</ul>
                
<ul>
<li>index.html</li>
                

                
                <br>
Added: 24-05-2012
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>