---
title: Evandsl
sidebar: home_sidebar
hide_sidebar: true
keywords: Evandsl
permalink: members/Evandsl
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/wlCIxtcWPFOPU2Uq87sfGSYLtEZm4mGp.jpg" alt="Evandsl" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>9</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>34</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Mario Has Gas</li>
<img src="{{"../images/thumb/1_52936.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Why-WeeGee</li>
                
Lol, just a funny vid made of boredom.
                
                <br>
Added: 02-02-2010
                
</ul>
                
<ul>
<li>Marios-Wii-Pt-1</li>
                
I was bored!
                
                <br>
Added: 06-02-2010
                
</ul>
                
<ul>
<li>Marios-Wii-Pt-2</li>
                
The story continues.....
                
                <br>
Added: 06-02-2010
                
</ul>
                
<ul>
<li>SSBB-Master-Hand</li>
                
Master hand in SSBB?
                
                <br>
Added: 06-02-2010
                
</ul>
                
<ul>
<li>SSBB-Shadow</li>
                
Shadow in SSBB????
                
                <br>
Added: 06-02-2010
                
</ul>
                
<ul>
<li>Marios-Wii-Pt-3</li>
                
The continuation.  Made for: narutofangirl99.
                
                <br>
Added: 13-02-2010
                
</ul>
                
<ul>
<li>Marios-Wii-Pt-4</li>
                
Episode 5 comming soon!
                
                <br>
Added: 21-02-2010
                
</ul>
                
<ul>
<li>Marios-Wii-Pt-5</li>
                
The Saga ends.....*Sniff*
                
                <br>
Added: 07-03-2010
                
</ul>
                
<ul>
<li>Mario-Has-Gas</li>
                
Even Mario can have fun!!!
                
                <br>
Added: 23-03-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/vdmman"><img src="../images/pfps/xcsoluea3H3l3jYTtC2M1s9EISsqu7bf.png" class="profile-picture"/></a> <a href="members/vdmman">vdmman</a></li>
                    
    <li><a href="members/Cyber chimchar13"><img src="../images/pfps/5F4Qb3UINQVlKgIiEYlhK6t9pMsQtBno.jpg" class="profile-picture"/></a> <a href="members/Cyber chimchar13">Cyber chimchar13</a></li>
                    
    <li><a href="members/peachy121"><img src="../images/pfps/QgzyFHV7xBW2CSl5qbOASiKvrOFGrin7.gif" class="profile-picture"/></a> <a href="members/peachy121">peachy121</a></li>
                    
    <li><a href="members/aalx"><img src="../images/pfps/yc20bhj5a3nh72on0tdmyobgx4vohw26yuv005w0w76txm6p570sjzy7sijz5cuuvgjnb4cmotocycle.jpg" class="profile-picture"/></a> <a href="members/aalx">aalx</a></li>
                    
    <li><a href="members/ron9andjamie2"><img src="../images/pfps/eXTn1et6KoxCtJymFF1fYcbc5NIl99Rd.png" class="profile-picture"/></a> <a href="members/ron9andjamie2">ron9andjamie2</a></li>
                    
    <li><a href="members/catty1"><img src="../images/pfps/HgbE5tnJpb5pdEsakUc9lCU3iL8n2E67.jpg" class="profile-picture"/></a> <a href="members/catty1">catty1</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/macc98"><img src="../images/pfps/cl7BycFErB6lZqM6WVYXQ9buZGIiUlLu.jpg" class="profile-picture"/></a> <a href="members/macc98">macc98</a></li>
                    
    <li><a href="members/Cpfanamations"><img src="../images/pfps/rhlUVZ1ZRgoOWf9yxALq0Pli9uzQvZda.jpg" class="profile-picture"/></a> <a href="members/Cpfanamations">Cpfanamations</a></li>
                    
    <li><a href="members/Mrhappy17"><img src="../images/pfps/vZqALNC09WME7Z0IfeYZKgdpWyyXAXmv.jpg" class="profile-picture"/></a> <a href="members/Mrhappy17">Mrhappy17</a></li>
                    
    <li><a href="members/Zerofusion101"><img src="../images/pfps/HmIPKf0o9deCg4LlVTAPm271O9nGdt5i.jpg" class="profile-picture"/></a> <a href="members/Zerofusion101">Zerofusion101</a></li>
                    
    <li><a href="members/coolmaster"><img src="../images/pfps/ki2itNQYbEDmGn0hzDg1NjxTvfcOix7G.png" class="profile-picture"/></a> <a href="members/coolmaster">coolmaster</a></li>
                    
    <li><a href="members/jgr3241"><img src="../images/pfps/zfQer7KCvmRZxPNEIQAUM8yNincsRKlH.jpg" class="profile-picture"/></a> <a href="members/jgr3241">jgr3241</a></li>
                    
    <li><a href="members/nintendomaster100"><img src="../images/pfps/ZWM4XmlRDhsaNr4GrLvCekv8bATMin67.jpg" class="profile-picture"/></a> <a href="members/nintendomaster100">nintendomaster100</a></li>
                    
    <li><a href="members/Philip666"><img src="../images/pfps/Rvlz5FpzVoncu50Whf2iAFtDxhdcFy7W.jpg" class="profile-picture"/></a> <a href="members/Philip666">Philip666</a></li>
                    
    <li><a href="members/comicawsome_20"><img src="../images/pfps/es2we9yfUIQwOUh6jDn6Ysw6F4wH4paY.jpg" class="profile-picture"/></a> <a href="members/comicawsome_20">comicawsome_20</a></li>
                    
    <li><a href="members/koreo"><img src="../images/pfps/MQeKaGVPMFRBeDajCarNSITcPouoBcrL.gif" class="profile-picture"/></a> <a href="members/koreo">koreo</a></li>
                    
    <li><a href="members/MonkeyFolk"><img src="../images/pfps/c6uptpg6cwk2nqno5uf6z7zuu85f48h632jofqkfct8pam26650u3rfmo8si7ze2qmet0nzmonkey_cartoon4[1].gif" class="profile-picture"/></a> <a href="members/MonkeyFolk">MonkeyFolk</a></li>
                    
    <li><a href="members/poppy82661"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/poppy82661">poppy82661</a></li>
                    
    <li><a href="members/Spiderpeps"><img src="../images/pfps/CdjuRc8PlwmjNgxXOBeaGWMxqSHTahkd.jpg" class="profile-picture"/></a> <a href="members/Spiderpeps">Spiderpeps</a></li>
                    
    <li><a href="members/brittanythree"><img src="../images/pfps/8v6ayykgx2tbkc46uk3ojf2cab7nz6qxrnxec6mxw5y75s3p3u3e0vg0xcem8saq3xv3u5s4070194565_435d5f4af9_t.jpg" class="profile-picture"/></a> <a href="members/brittanythree">brittanythree</a></li>
                    
    <li><a href="members/ZeldaSonicfan"><img src="../images/pfps/FuV0geuCSU4smA35BsxgmgOnPAB4nHiq.gif" class="profile-picture"/></a> <a href="members/ZeldaSonicfan">ZeldaSonicfan</a></li>
                    
    <li><a href="members/opal_1998"><img src="../images/pfps/oUxga9SQ4YnSWFVdYo6nTRuh2veRYClC.gif" class="profile-picture"/></a> <a href="members/opal_1998">opal_1998</a></li>
                    
    <li><a href="members/Stuntman Jax"><img src="../images/pfps/CK038bD8aJgrKtQN9qxVhvAoqRrDS64T.png" class="profile-picture"/></a> <a href="members/Stuntman Jax">Stuntman Jax</a></li>
                    
    <li><a href="members/awsomerockman"><img src="../images/pfps/IyyXa8Ln327xqsu2L88pjgwZgApxi9Qo.jpg" class="profile-picture"/></a> <a href="members/awsomerockman">awsomerockman</a></li>
                    
    <li><a href="members/mat50h"><img src="../images/pfps/F1f4duOJQ6m7UTdBQr1BOYJ4N6angmdl.jpg" class="profile-picture"/></a> <a href="members/mat50h">mat50h</a></li>
                    
    <li><a href="members/luxray100"><img src="../images/pfps/45yzCeqh1V6mp5eZtWAGio6qDFESvBEq.png" class="profile-picture"/></a> <a href="members/luxray100">luxray100</a></li>
                    
    <li><a href="members/narutofangirl99"><img src="../images/pfps/P6t8E5z255qPIrcTCLEJpTDXpx8GPBUf.jpg" class="profile-picture"/></a> <a href="members/narutofangirl99">narutofangirl99</a></li>
                    
    <li><a href="members/jomei"><img src="../images/pfps/EypCJgoR1rNQ6fPrtH2fUePhXj8lceme.png" class="profile-picture"/></a> <a href="members/jomei">jomei</a></li>
                    
    <li><a href="members/Shadow_Girl"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Shadow_Girl">Shadow_Girl</a></li>
                    
    <li><a href="members/shadow lover 98"><img src="../images/pfps/uHyxvrwtwpGLZdM0CcVLc7udjyfSWKWG.jpg" class="profile-picture"/></a> <a href="members/shadow lover 98">shadow lover 98</a></li>
                    
    <li><a href="members/NickThePrez"><img src="../images/pfps/oUKfvdVWDoGi7Y5PLcEvdL6JcsgPDGqr.png" class="profile-picture"/></a> <a href="members/NickThePrez">NickThePrez</a></li>
                    
    <li><a href="members/Tartis11"><img src="../images/pfps/x2RN4aU372GbHJBNufCADSdFYJ9lmezZ.jpg" class="profile-picture"/></a> <a href="members/Tartis11">Tartis11</a></li>
                    
    <li><a href="members/metalsonictheonyx"><img src="../images/pfps/L8inKWYRyRc2Bpm4JXgzSeHU8ibRmG7w.png" class="profile-picture"/></a> <a href="members/metalsonictheonyx">metalsonictheonyx</a></li>
                    
    <li><a href="members/skittles2009"><img src="../images/pfps/YhLDyjcYv1wa6OkPcDiKolKbCGjfIpwg.jpg" class="profile-picture"/></a> <a href="members/skittles2009">skittles2009</a></li>
                    
    <li><a href="members/R2505"><img src="../images/pfps/UGQY7yNx8zysJNB1URzs8Wj5Z3UWJJRd.jpg" class="profile-picture"/></a> <a href="members/R2505">R2505</a></li>
                    
    <li><a href="members/camisawsome"><img src="../images/pfps/JzVMhSB2dKoDsr0EIARFwtdU5pNB4mOD.gif" class="profile-picture"/></a> <a href="members/camisawsome">camisawsome</a></li>
                    
    <li><a href="members/SuperMario64LA"><img src="../images/pfps/K4nPXAR65KTbWBmoprMdim8E0ca8OvCW.png" class="profile-picture"/></a> <a href="members/SuperMario64LA">SuperMario64LA</a></li>
                    
    <li><a href="members/superlegodude"><img src="../images/pfps/ztYfQqe8ALGYwS48rL2olhmbEBYlxB4m.jpg" class="profile-picture"/></a> <a href="members/superlegodude">superlegodude</a></li>
                    
    <li><a href="members/eveetovaporeon"><img src="../images/pfps/4rn05cruow4qv4ojnw84bgytxindi0odi03c0ixd6qrqi60vtxos3ecrknute6uoxoqnxcqPicture 1400.jpg" class="profile-picture"/></a> <a href="members/eveetovaporeon">eveetovaporeon</a></li>
                    
    <li><a href="members/GameMaster"><img src="../images/pfps/fveawj48t8tdvdzw8siov6iw8867r04ukau8hn50mn25rqrq8z4swbgtabrp2naeksbs64havatar 4.gif" class="profile-picture"/></a> <a href="members/GameMaster">GameMaster</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/etc_etc_etc"><img src="../images/pfps/uADIhmUXovlQUKoJHGJzUzkjWlj3v7Hd.png" class="profile-picture"/></a> <a href="members/etc_etc_etc">etc_etc_etc</a></li>
                    
    <li><a href="members/Pufflefuzz123"><img src="../images/pfps/UtHJuBy9oIZJjxgd4flOSTexWcZeDv8Y.gif" class="profile-picture"/></a> <a href="members/Pufflefuzz123">Pufflefuzz123</a></li>
                    
    <li><a href="members/Teddiursa"><img src="../images/pfps/K8Y7hpPLJUmoqQm7hjP5UKyGv89Jp45y.jpg" class="profile-picture"/></a> <a href="members/Teddiursa">Teddiursa</a></li>
                    
    <li><a href="members/HollyDolly1010"><img src="../images/pfps/HBVqpuJMuTmwOM9G2zTsFueSTi36swNz.png" class="profile-picture"/></a> <a href="members/HollyDolly1010">HollyDolly1010</a></li>
                    
    <li><a href="members/Recon"><img src="../images/pfps/mburxvs3rp2twp60imr6mtbayzb33kngn7x8tg2btvtg8o6hzoda5eav48nviz2vvqsfukfRecon.jpg" class="profile-picture"/></a> <a href="members/Recon">Recon</a></li>
                    
    <li><a href="members/bobafett77"><img src="../images/pfps/ifDHczk3bLuH03gapsTN9ZVcOueb1GZa.jpg" class="profile-picture"/></a> <a href="members/bobafett77">bobafett77</a></li>
                    
    <li><a href="members/colby2"><img src="../images/pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" class="profile-picture"/></a> <a href="members/colby2">colby2</a></li>
                    
    <li><a href="members/Funnyspongebob456"><img src="../images/pfps/34ooxqquym8gk37q2d8wa0chjgeu6diz5uct8rdv0c2c5yqv2og2fi8ppd7jee87wbrwquimegaman.gif" class="profile-picture"/></a> <a href="members/Funnyspongebob456">Funnyspongebob456</a></li>
                    
    <li><a href="members/AlexisandNick"><img src="../images/pfps/svetuwg6g0sdqc8rjt0m2ryskevfvjve40ynm3jqs3s83rrdbgn4xdk6h4b2fw67mtkvmtbmario-luigi.jpg" class="profile-picture"/></a> <a href="members/AlexisandNick">AlexisandNick</a></li>
                    
    <li><a href="members/brandonfive"><img src="../images/pfps/0fixss740ioxcw5tmghz80in80kqin4asbvbst3jzf73z4kc8s27jaij0uxa7s7qttpcbiksr_d730cccd9392be.jpg" class="profile-picture"/></a> <a href="members/brandonfive">brandonfive</a></li>
                    
    <li><a href="members/RubsPotato"><img src="../images/pfps/mKfWuB3GOH3ySEMa9xOlwFfRHhLu83sk.png" class="profile-picture"/></a> <a href="members/RubsPotato">RubsPotato</a></li>
                    
    <li><a href="members/monke33"><img src="../images/pfps/VBQWsiYA8OZCvCtRsS0KKP6E3L5LVLno.png" class="profile-picture"/></a> <a href="members/monke33">monke33</a></li>
                    
    <li><a href="members/mariodude02"><img src="../images/pfps/YOVfKvDivslrlad1kY4TGc8pdv0H2FtP.jpg" class="profile-picture"/></a> <a href="members/mariodude02">mariodude02</a></li>
                    
    <li><a href="members/megaman"><img src="../images/pfps/1F26kvglaJaw2V87NspRB7hrb0eKov9d.png" class="profile-picture"/></a> <a href="members/megaman">megaman</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>