---
title: EzzieRockz
sidebar: home_sidebar
hide_sidebar: true
keywords: EzzieRockz
permalink: members/EzzieRockz
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/OTMLoN4Xprj6dxWerknCQCMjfZTQVu0j.jpg" alt="EzzieRockz" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Ezra</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>6</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>3</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>39</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>310</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>80%</b> out of <b>4</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>My Bff Is sooo crazy but awesome</li>
<img src="{{"../images/thumb/iSylwQ3kuy2FfnDDtRHg.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>friends forever</li>
<img src="{{"../images/thumb/GITvE0T1Oa3XhpenxruJ.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>dance contest</li>
<img src="{{"../images/thumb/mag1ZQM43Su3Kr1y2KfB.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>MORE CRAZINESS</li>
<img src="{{"../images/thumb/hCUoJxQhRWRFKWh2ElTq.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>dance</li>
<img src="{{"../images/thumb/igQstJJRUvmvJ412P2GZ.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>DIFFERENT SLIDESHOW</li>
<img src="{{"../images/thumb/1_13050.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>My Bff Is sooo crazy but awesome</li>
                
This video is from my bff's sleepover and she iss sooo funny!
                
                <br>
Added: 18-05-2009
                
</ul>
                
<ul>
<li>friends-forever</li>
                
friends
                
                <br>
Added: 22-06-2009
                
</ul>
                
<ul>
<li>dance contest</li>
                
me my friends and i dancing
                
                <br>
Added: 22-06-2009
                
</ul>
                
<ul>
<li>MORE-CRAZINESS</li>
                
me and my friends being drazy
                
                <br>
Added: 22-06-2009
                
</ul>
                
<ul>
<li>dance</li>
                
dancing me and my bffs
                
                <br>
Added: 22-06-2009
                
</ul>
                
<ul>
<li>DIFFERENT SLIDESHOW</li>
                
MORE PICS ON THIS ONE
                
                <br>
Added: 29-06-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/newswithjosh"><img src="../images/pfps/BhKwAUJmGGZOKms4YCmfxbBEhtORVzYW.jpg" class="profile-picture"/></a> <a href="members/newswithjosh">newswithjosh</a></li>
                    
    <li><a href="members/PleaseEnterNameHere"><img src="../images/pfps/zysx7qoufvm37fm35qisazveqfc4aw7xjqkh4y2aic0gfc7aqhso7csmhshfgd2qrdwmznk1HaDJAmQjIeZnXu30d3p.jpg" class="profile-picture"/></a> <a href="members/PleaseEnterNameHere">PleaseEnterNameHere</a></li>
                    
    <li><a href="members/cistar14"><img src="../images/pfps/p7bei77nz060sgepadozs3j4f6fv0xvfvxh2tfgh7daohe2gfg6vafrecuz0ij425auog0vretouched.jpg" class="profile-picture"/></a> <a href="members/cistar14">cistar14</a></li>
                    
    <li><a href="members/jadey722"><img src="../images/pfps/jw287tm5w5w0z850g3c3bu3w8csvco2m8ui7cs3ymoqanj0rc0ibkcvjff3frvprgwpgfg5Sunset.jpg" class="profile-picture"/></a> <a href="members/jadey722">jadey722</a></li>
                    
    <li><a href="members/RukiaKuchki1997"><img src="../images/pfps/vwtruk8od03qrfzo0fp8i87bvsq7xd2hxmyivvuwmpd3s0fh6sgercfdttbfu2nicapvubj11136_101396623221793_100000543672702_37855_6916117_n.jpg" class="profile-picture"/></a> <a href="members/RukiaKuchki1997">RukiaKuchki1997</a></li>
                    
    <li><a href="members/sarastarproductionz"><img src="../images/pfps/cO1M2hKXFX66aZKAMNv90tAsM2IGFEsg.jpg" class="profile-picture"/></a> <a href="members/sarastarproductionz">sarastarproductionz</a></li>
                    
    <li><a href="members/DXZ"><img src="../images/pfps/yfrpkqf2epcbrrsjhrod202hueqnyk2prh2zx5t3mt20bk8gznjscd0wffb3q0i588wu4gmDXZ.jpg" class="profile-picture"/></a> <a href="members/DXZ">DXZ</a></li>
                    
    <li><a href="members/cutegirl1"><img src="../images/pfps/80yas853qjkfui25p3qszn2bwwipbiq77e6qb2jrbsxvyorfh5v5jo668ej7kx4i20y3r6m3.jpg" class="profile-picture"/></a> <a href="members/cutegirl1">cutegirl1</a></li>
                    
    <li><a href="members/allybabally"><img src="../images/pfps/plOL2O1PQd523y9PQ3brOWfA2TENhp5L.jpg" class="profile-picture"/></a> <a href="members/allybabally">allybabally</a></li>
                    
    <li><a href="members/KaylaAndSissy"><img src="../images/pfps/A71cMT4ynrPOvwQ8HVih7nyiy2zxyTlw.png" class="profile-picture"/></a> <a href="members/KaylaAndSissy">KaylaAndSissy</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/1_hot_guy"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/1_hot_guy">1_hot_guy</a></li>
                    
    <li><a href="members/kidstuberocks2"><img src="../images/pfps/uh8vk3apbxdmhbx55uxv8hrwfkrhzegjjf5v76b6scizd5u6ogqkm88rjqy7s3h07cn56m2n167321276490_5901.jpg" class="profile-picture"/></a> <a href="members/kidstuberocks2">kidstuberocks2</a></li>
                    
    <li><a href="members/ASHLANTIA"><img src="../images/pfps/soq2brfy4t4q4hq6kcnsem8vbqfwsrva3b25q6skomzirgg2grkm3h53vaofradib5cszv023iukaw.jpg" class="profile-picture"/></a> <a href="members/ASHLANTIA">ASHLANTIA</a></li>
                    
    <li><a href="members/abby"><img src="../images/pfps/V9GxypKj4toP1cX4P7ltTHqqQeXrpBpB.jpg" class="profile-picture"/></a> <a href="members/abby">abby</a></li>
                    
    <li><a href="members/blessed_5"><img src="../images/pfps/5on8a7vgzk46eva7svqxq025hvdpwzpqd0ndy8hnicknvije4xzmpsfufg8z7ogbdre2qjg13626_100_100.jpg" class="profile-picture"/></a> <a href="members/blessed_5">blessed_5</a></li>
                    
    <li><a href="members/mexicox123"><img src="../images/pfps/tm36rt7bdvxj6h6u88eumr3zdmwv8oesz6ngojfr5323aym6vqr56iwauhtrvy8jtjq7tvpImg00000.jpg" class="profile-picture"/></a> <a href="members/mexicox123">mexicox123</a></li>
                    
    <li><a href="members/Rockgirl"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Rockgirl">Rockgirl</a></li>
                    
    <li><a href="members/SydneyRox"><img src="../images/pfps/q2fusrigfvnw0pbsyasjqaer7gndm2p0tsmcasggdt0462otz40h44wzba3k0hcizmky5q3peace fingers.jpg" class="profile-picture"/></a> <a href="members/SydneyRox">SydneyRox</a></li>
                    
    <li><a href="members/KennyG"><img src="../images/pfps/iy88z0hqv6bivmu0rphrbdwusrqa2848w27ntd2d83mug6jvjrdksz68gk68h254s3gc66ffunny-pictures-owls-twisted-head.jpg" class="profile-picture"/></a> <a href="members/KennyG">KennyG</a></li>
                    
    <li><a href="members/Ray"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Ray">Ray</a></li>
                    
    <li><a href="members/checkitout"><img src="../images/pfps/5jxir7xkx2oh8a0iz74zgfvt7fgaz32tdpzuno4aeifdg4j43es7hfrfixf7p6rsjicwu6uIvory_resized.jpg" class="profile-picture"/></a> <a href="members/checkitout">checkitout</a></li>
                    
    <li><a href="members/bubblyvampire1"><img src="../images/pfps/o6aakr62ydj584hvduau73azvj7b42khxmh63cwqg6mfzr03bzm8tnzdwxcppoubz07r3u7photofunia4.jpg" class="profile-picture"/></a> <a href="members/bubblyvampire1">bubblyvampire1</a></li>
                    
    <li><a href="members/4everaly746"><img src="../images/pfps/0ArWWCPi49bB87AJ05Eg0UdaRdmwtLuj.jpg" class="profile-picture"/></a> <a href="members/4everaly746">4everaly746</a></li>
                    
    <li><a href="members/therealdemilovato"><img src="../images/pfps/e67seixmuvsorcdtbougzwykvoqu0co6amnevboeu6tc6wu58fcyzz7men65pm2pvgrff5idemi-lovato.jpg" class="profile-picture"/></a> <a href="members/therealdemilovato">therealdemilovato</a></li>
                    
    <li><a href="members/dirtbiker53"><img src="../images/pfps/3z5i77cgkd80bymzw8qutmuro2s4kvakyjzjshehbxyknnkxa7ea4zzvmm0nchmw38aaxw5Photo 18.jpg" class="profile-picture"/></a> <a href="members/dirtbiker53">dirtbiker53</a></li>
                    
    <li><a href="members/AlexisandNick"><img src="../images/pfps/svetuwg6g0sdqc8rjt0m2ryskevfvjve40ynm3jqs3s83rrdbgn4xdk6h4b2fw67mtkvmtbmario-luigi.jpg" class="profile-picture"/></a> <a href="members/AlexisandNick">AlexisandNick</a></li>
                    
    <li><a href="members/SuperSistersTv"><img src="../images/pfps/sgikspkjsujdayy787eaizqwfvp574upb3zrga0wsa0qyonwmruufbhkxuetqx6ppv7wvwjG & I bright.jpg" class="profile-picture"/></a> <a href="members/SuperSistersTv">SuperSistersTv</a></li>
                    
    <li><a href="members/Haloxxx"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Haloxxx">Haloxxx</a></li>
                    
    <li><a href="members/JanelleLuv"><img src="../images/pfps/psyq2jawa4pe8o8jc2r3iuytcdpbfzisg56ad4wdycfwof6p7mig65yaaebd4htcbqaeiugcrisaa.jpg" class="profile-picture"/></a> <a href="members/JanelleLuv">JanelleLuv</a></li>
                    
    <li><a href="members/_Cotton_Candy_Princess_"><img src="../images/pfps/8rfbor8fb367mweaa3kiojjm7yffuwbrchtryqu0ipwucysbs3j4bsh8hnez7giamzpbg7zchowder.jpg" class="profile-picture"/></a> <a href="members/_Cotton_Candy_Princess_">_Cotton_Candy_Princess_</a></li>
                    
    <li><a href="members/Tubby"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Tubby">Tubby</a></li>
                    
    <li><a href="members/Badgirlz"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Badgirlz">Badgirlz</a></li>
                    
    <li><a href="members/wildhead"><img src="../images/pfps/kB5p8ADfjngaVirGH5N7i0UllSxoFkhq.jpg" class="profile-picture"/></a> <a href="members/wildhead">wildhead</a></li>
                    
    <li><a href="members/breetown"><img src="../images/pfps/4qks324y82yq8aq4oh6wpbtf2cxubzc5eko7dgwa8nr5k5zwcujrw2xn4j75a7yeibcjfzi0a4db0cfedb0.jpg" class="profile-picture"/></a> <a href="members/breetown">breetown</a></li>
                    
    <li><a href="members/GGplusTori"><img src="../images/pfps/g4r6a50urqwwietdx5yvej4dzyrqh70ozjmzfdkuu5f0ay4vtrix0b0pzi48evn43yv804rbritt nicole.gif" class="profile-picture"/></a> <a href="members/GGplusTori">GGplusTori</a></li>
                    
    <li><a href="members/karatekid"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/karatekid">karatekid</a></li>
                    
    <li><a href="members/FriendScents09"><img src="../images/pfps/zq3nps8oq4tr7j4igor3y2i8idua7rhv8b6mr5z5yjowri4vxmpkcwkkz3mxmrhiqeu78k4FS-Logo.jpg" class="profile-picture"/></a> <a href="members/FriendScents09">FriendScents09</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>