---
title: fizzi-girl-luv
sidebar: home_sidebar
hide_sidebar: true
keywords: fizzi-girl-luv
permalink: members/fizzi-girl-luv
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/y0zkrkn0imxt8qjgaz6svgnkmfwqko27gqivyvn888s7q3dqra6bfimpo65wmwusd0c3np2chem20love.jpg" alt="fizzi-girl-luv" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>4</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>3</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>contest</li>
<img src="{{"../images/thumb/1_7884.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>FIZZI-TRIVIA-3rd</li>
                
mi cousin actin silly wit my lil sis
                
                <br>
Added: 19-03-2009
                
</ul>
                
<ul>
<li>FIZZI-TRIVIA-2nd</li>
                
trivia questions for u
                
                <br>
Added: 19-03-2009
                
</ul>
                
<ul>
<li>FIZZI-TRIVIA-5th</li>
                
answer the questions
                
                <br>
Added: 21-03-2009
                
</ul>
                
<ul>
<li>FIZZI-TRIVIA-6th-halo</li>
                
halo song wit barbie's
                
                <br>
Added: 21-03-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/allybabally"><img src="../images/pfps/plOL2O1PQd523y9PQ3brOWfA2TENhp5L.jpg" class="profile-picture"/></a> <a href="members/allybabally">allybabally</a></li>
                    
    <li><a href="members/chrismy96"><img src="../images/pfps/yexi6uph62nhsr0axe0qqwvmj8f5ntgav5isqy0kpcq7tf7gkww0kicsghot0uuoo062ovco_0d5oiYQojcYaOkM.jpg" class="profile-picture"/></a> <a href="members/chrismy96">chrismy96</a></li>
                    
    <li><a href="members/sockmonkey101"><img src="../images/pfps/yzzjrbf7vbcgfdguxkfwnu8ikw7qid673whmvmhhnhmsksd70hsezsnbdksnpnigapqt0vy230069500_645eaa4712.jpg" class="profile-picture"/></a> <a href="members/sockmonkey101">sockmonkey101</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>