---
title: francis14
sidebar: home_sidebar
hide_sidebar: true
keywords: francis14
permalink: members/francis14
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/Hb6RY4dJP8eSk37PneWq7Ak5BR5M0LW5.jpg" alt="francis14" max-width="100"%}
            
    {% include inline_image.html file="pfps/ZICEbRVXKJ3lpuM6Qb7eaLLV25O9Pyho.jpg" alt="francis14" max-width="100"%}
            
    {% include inline_image.html file="pfps/14526.jpg" alt="francis14" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Brody</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>27</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>11</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>76</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>1850</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>4</b></li>
        
<li> Rating: <b>82.13%</b> out of <b>47</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>jokes told by a stuffed whale</li>
<img src="{{"../images/thumb/W4CwLrWKOwl3s35kE1tH.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>hat</li>
<img src="{{"../images/thumb/5HeuuR0DBDHHIBnkK3Dw.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Walk And Hit</li>
<img src="{{"../images/thumb/hQAEnHaAFI24sIBIXaHk.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>cartoon fever</li>
<img src="{{"../images/thumb/uqaOIamgBlibGDPTuauW.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>fast</li>
<img src="{{"../images/thumb/tQlwqhNbjpzK4rNtwUTC.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>EXTREMELY FAST RCT3 COASTER</li>
<img src="{{"../images/thumb/V1tfSdpcpyoUYcYwKjub.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>rct3 coaster 3</li>
<img src="{{"../images/thumb/1_60990.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Vader Reviews: THE SHINING!!</li>
<img src="{{"../images/thumb/1_69166.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>jokes-told-by-a-stuffed-whale</li>
                
fun jokes
                
                <br>
Added: 16-10-2009
                
</ul>
                
<ul>
<li>hat</li>
                
just a cartoon its okay if you don't like it
                
                <br>
Added: 07-11-2009
                
</ul>
                
<ul>
<li>Walk-And-Hit</li>
                
a cartoon i made in an hour
                
                <br>
Added: 08-11-2009
                
</ul>
                
<ul>
<li>cartoon-fever</li>
                
a fun cartoon
                
                <br>
Added: 23-11-2009
                
</ul>
                
<ul>
<li>fast</li>
                
#NAME?
                
                <br>
Added: 06-12-2009
                
</ul>
                
<ul>
<li>EXTREMELY-FAST-RCT3-COASTER</li>
                
THE TITLE SAYS IT
                
                <br>
Added: 07-12-2009
                
</ul>
                
<ul>
<li>pivot</li>
                
pivot
                
                <br>
Added: 10-12-2009
                
</ul>
                
<ul>
<li>Season-treatings-snowmen</li>
                
a dou of snow man sing a song
turn up the volume
                
                <br>
Added: 15-12-2009
                
</ul>
                
<ul>
<li>astro-walk</li>
                
astro walk
                
                <br>
Added: 16-12-2009
                
</ul>
                
<ul>
<li>astro-boy-punch-stop-motion</li>
                
enjoy, ignore the date, and no mean comments
                
                <br>
Added: 03-01-2010
                
</ul>
                
<ul>
<li>short-astro-boy-stop-motion</li>
                
short astro boy stop motion
                
                <br>
Added: 10-01-2010
                
</ul>
                
<ul>
<li>jazz-and-hulk-stop-motion</li>
                
jazz and hulk stop motion
there are 52 shots it took two hours to make
                
                <br>
Added: 18-01-2010
                
</ul>
                
<ul>
<li>-How-to-Train-Your-Dragon-characters</li>
                
How to Train Your Dragon characters
                
                <br>
Added: 14-04-2010
                
</ul>
                
<ul>
<li>optimus-prime-vs-megatron-stop-motion</li>
                
optimus prime vs./ megatron stop motion
                
                <br>
Added: 25-04-2010
                
</ul>
                
<ul>
<li>-My-favorite-parts-from-where-the-wild-things-are</li>
                
My favorite parts from where the wild things are<br />
<br />
i have more
                
                <br>
Added: 26-04-2010
                
</ul>
                
<ul>
<li>Vikings-Dont-Hold-Hands</li>
                
Vikings Don't Hold Hands
                
                <br>
Added: 15-05-2010
                
</ul>
                
<ul>
<li>Justin-Bieber-In-A-Speedo</li>
                
a video vlog stating on what i think is annoying
                
                <br>
Added: 25-05-2010
                
</ul>
                
<ul>
<li>the-crazy-barkeeper</li>
                
a video i made with my friend
                
                <br>
Added: 03-06-2010
                
</ul>
                
<ul>
<li>the-crazy-barkeeper-2</li>
                
the crazy barkeeper 2
                
                <br>
Added: 03-06-2010
                
</ul>
                
<ul>
<li>titanic-spoof</li>
                
if yo think you know the story , you dont know jack
                
                <br>
Added: 03-06-2010
                
</ul>
                
<ul>
<li>harry-potter-spoof</li>
                
a harry potter spoof<br />
i made with my friend
                
                <br>
Added: 04-06-2010
                
</ul>
                
<ul>
<li>jaws-song</li>
                
show me the way to go home
                
                <br>
Added: 21-07-2010
                
</ul>
                
<ul>
<li>francis-gets-an-xbox</li>
                
fracncis gets a cool xbox but cant play it right
                
                <br>
Added: 22-07-2010
                
</ul>
                
<ul>
<li>francis-watches-Jaws</li>
                
francis watrches the film jaws and loves it
                
                <br>
Added: 22-07-2010
                
</ul>
                
<ul>
<li>rct3-coaster-3</li>
                
a new coaster
                
                <br>
Added: 08-08-2010
                
</ul>
                
<ul>
<li>THE-KIDSTUBE-CRITIC-TITANIC-ANIMATED-MOVIE-REVIEW-PART-1</li>
                
THE KIDSTUBE CRITIC: TITANIC ANIMATED MOVIE REVIEW PART 1/nPART 2 COMING SOON
                
                <br>
Added: 28-12-2011
                
</ul>
                
<ul>
<li>Vader-Reviews-THE-SHINING</li>
                
THE LORD OF DARKNESS GIVES A REVIEW ON THIS FAMOUS KUBRICK CLASSIC
                
                <br>
Added: 05-01-2012
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/zacattack"><img src="../images/pfps/zKJn0Xp4Cm4GA3yfulrMLpgWL9GtHdy6.png" class="profile-picture"/></a> <a href="members/zacattack">zacattack</a></li>
                    
    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/SeanSanczel"><img src="../images/pfps/ty4ts7vuze7d0asmqd4vzwv2fr5wmoj5deptd8e0eb45bkfpnacdvx6ydzkpeujfzwy0w2sSeanHeadshot2.jpg" class="profile-picture"/></a> <a href="members/SeanSanczel">SeanSanczel</a></li>
                    
    <li><a href="members/xolylaepic"><img src="../images/pfps/HIDNNxLBGGUk1Gun4NTUaLoZdG4b9qzE.gif" class="profile-picture"/></a> <a href="members/xolylaepic">xolylaepic</a></li>
                    
    <li><a href="members/pandaboy"><img src="../images/pfps/sVRJnCwUQP7EBaJ0gYufEYssKaPrCDfu.png" class="profile-picture"/></a> <a href="members/pandaboy">pandaboy</a></li>
                    
    <li><a href="members/Dodgers1655"><img src="../images/pfps/j3djjucz7w78snujgumvcnwrurmyokmxcp5na7b5v64cjnmo7xb7cvpub2hpbteb8am86m2import.jpg" class="profile-picture"/></a> <a href="members/Dodgers1655">Dodgers1655</a></li>
                    
    <li><a href="members/dannyman123321"><img src="../images/pfps/K9LC6QFUksltgLcK5m4nqjirRqnn4qAE.gif" class="profile-picture"/></a> <a href="members/dannyman123321">dannyman123321</a></li>
                    
    <li><a href="members/loopyliu"><img src="../images/pfps/HVfEJ4uy47utsemPfLmyQiY3BLrwCAvH.jpg" class="profile-picture"/></a> <a href="members/loopyliu">loopyliu</a></li>
                    
    <li><a href="members/Buns"><img src="../images/pfps/ATHqW8WhHvD8lsg5A4vB0wuy3BS1oQAn.gif" class="profile-picture"/></a> <a href="members/Buns">Buns</a></li>
                    
    <li><a href="members/koolz"><img src="../images/pfps/h6ya8gqmxs6w0yrindg7mhfk08chckijh7hfcxpzgmn5b2fm3mhesopjnprqxxx4t47tsnjPicture 029.jpg" class="profile-picture"/></a> <a href="members/koolz">koolz</a></li>
                    
    <li><a href="members/aandabffshow"><img src="../images/pfps/yr20s26f0fib2j0ann5tir3nv0vhdr528yuqppvgs4imc7jpmd8su25espmv7im454kkh5p100101-010837.jpg" class="profile-picture"/></a> <a href="members/aandabffshow">aandabffshow</a></li>
                    
    <li><a href="members/AnimaCamoGreen"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/AnimaCamoGreen">AnimaCamoGreen</a></li>
                    
    <li><a href="members/Music_Video_Mania"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Music_Video_Mania">Music_Video_Mania</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/demiandselena"><img src="../images/pfps/aYPzGR4HyYPdbXyp2MvdE9gXXgl6mFmA.jpg" class="profile-picture"/></a> <a href="members/demiandselena">demiandselena</a></li>
                    
    <li><a href="members/6patch10"><img src="../images/pfps/QI06IyEZJeQEAcjp7aZ8KBgaSQVB9fyP.jpg" class="profile-picture"/></a> <a href="members/6patch10">6patch10</a></li>
                    
    <li><a href="members/samid11"><img src="../images/pfps/jmBV48LhObQAvyYEHSHf48HC78i4ewuC.gif" class="profile-picture"/></a> <a href="members/samid11">samid11</a></li>
                    
    <li><a href="members/LizzyAndTammyShow"><img src="../images/pfps/hFszrLNIrKNFuW9jbBU8LnYFJZhhsGhN.jpg" class="profile-picture"/></a> <a href="members/LizzyAndTammyShow">LizzyAndTammyShow</a></li>
                    
    <li><a href="members/justinbieber71597"><img src="../images/pfps/oS6W9q18VTridxhMYeK6kyWJU6xP8rrk.jpg" class="profile-picture"/></a> <a href="members/justinbieber71597">justinbieber71597</a></li>
                    
    <li><a href="members/Bstyles"><img src="../images/pfps/6r7VHxFjhtGfgRfdRvQVdp4NvJvZBuK5.jpg" class="profile-picture"/></a> <a href="members/Bstyles">Bstyles</a></li>
                    
    <li><a href="members/ohheyJenn"><img src="../images/pfps/KHtxe1iCBYT5FzurXvt2QmulOu6jjJpr.jpg" class="profile-picture"/></a> <a href="members/ohheyJenn">ohheyJenn</a></li>
                    
    <li><a href="members/davidgill"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/davidgill">davidgill</a></li>
                    
    <li><a href="members/eddie1"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/eddie1">eddie1</a></li>
                    
    <li><a href="members/coolmaster"><img src="../images/pfps/ki2itNQYbEDmGn0hzDg1NjxTvfcOix7G.png" class="profile-picture"/></a> <a href="members/coolmaster">coolmaster</a></li>
                    
    <li><a href="members/vinneavistafan"><img src="../images/pfps/Pg1wNp2oFaz5flJhPTBlZ3OVxpYTMk3b.png" class="profile-picture"/></a> <a href="members/vinneavistafan">vinneavistafan</a></li>
                    
    <li><a href="members/sierralb"><img src="../images/pfps/WlP4ZC3SxJebIhtLpJYDSGwL1Nha2TrO.jpg" class="profile-picture"/></a> <a href="members/sierralb">sierralb</a></li>
                    
    <li><a href="members/koreo"><img src="../images/pfps/MQeKaGVPMFRBeDajCarNSITcPouoBcrL.gif" class="profile-picture"/></a> <a href="members/koreo">koreo</a></li>
                    
    <li><a href="members/moniquerocks"><img src="../images/pfps/8cjCF5gDrki0WYcKY10sZ5Lco0cmuM1q.jpg" class="profile-picture"/></a> <a href="members/moniquerocks">moniquerocks</a></li>
                    
    <li><a href="members/leryah"><img src="../images/pfps/2oWWCjBLuIxnl46vWKN2moPYXpkXooRf.jpg" class="profile-picture"/></a> <a href="members/leryah">leryah</a></li>
                    
    <li><a href="members/videoprincess"><img src="../images/pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" class="profile-picture"/></a> <a href="members/videoprincess">videoprincess</a></li>
                    
    <li><a href="members/lauramcc"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/lauramcc">lauramcc</a></li>
                    
    <li><a href="members/ANGIE LUVZ U"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ANGIE LUVZ U">ANGIE LUVZ U</a></li>
                    
    <li><a href="members/blackout117"><img src="../images/pfps/esCqBtDtuwBejWs0YLpYhpbVusE7tkYL.png" class="profile-picture"/></a> <a href="members/blackout117">blackout117</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/breetown"><img src="../images/pfps/4qks324y82yq8aq4oh6wpbtf2cxubzc5eko7dgwa8nr5k5zwcujrw2xn4j75a7yeibcjfzi0a4db0cfedb0.jpg" class="profile-picture"/></a> <a href="members/breetown">breetown</a></li>
                    
    <li><a href="members/coamotheplant"><img src="../images/pfps/x9ZRhFtPmGb732ohykwnEup32VwTZsZM.jpg" class="profile-picture"/></a> <a href="members/coamotheplant">coamotheplant</a></li>
                    
    <li><a href="members/sydp"><img src="../images/pfps/k54s2jfwjb76rvt805xn0wrih6hjmx2wrxdh5h2eiy8xksuanjne42kayqiacbutwyyr6qvSyd and Riley.jpg" class="profile-picture"/></a> <a href="members/sydp">sydp</a></li>
                    
    <li><a href="members/clubpenguin1"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/clubpenguin1">clubpenguin1</a></li>
                    
    <li><a href="members/ComedyBusters"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ComedyBusters">ComedyBusters</a></li>
                    
    <li><a href="members/ashleybear"><img src="../images/pfps/6MGnUKHvRMIyoaTnnnsu3ybXuvElGBdA.jpg" class="profile-picture"/></a> <a href="members/ashleybear">ashleybear</a></li>
                    
    <li><a href="members/AlvinSmith2009"><img src="../images/pfps/KHpYjjtl8NynfQd4tVjqmTIhf0cJBxiM.jpg" class="profile-picture"/></a> <a href="members/AlvinSmith2009">AlvinSmith2009</a></li>
                    
    <li><a href="members/TRIPLETS"><img src="../images/pfps/eoBp8cXUmPajsp92C0kLQhJ3lmVz0w8T.jpg" class="profile-picture"/></a> <a href="members/TRIPLETS">TRIPLETS</a></li>
                    
    <li><a href="members/Shadow_Guy"><img src="../images/pfps/0opry5k7wgwb7g8dp66ki6ap28qnknob20spw2kj87i5dh8sf50m000txg5atj8mbrzvjb3Brambleclaw.jpg" class="profile-picture"/></a> <a href="members/Shadow_Guy">Shadow_Guy</a></li>
                    
    <li><a href="members/Misty Shadow"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Misty Shadow">Misty Shadow</a></li>
                    
    <li><a href="members/lolcatsrules"><img src="../images/pfps/QZZLu5bGJR6lTylNo9N6kwV9fFYwgqWx.gif" class="profile-picture"/></a> <a href="members/lolcatsrules">lolcatsrules</a></li>
                    
    <li><a href="members/leahcutie"><img src="../images/pfps/5mcAI6JohCHJniiQJQLqAvSZkKvmj9Bc.jpg" class="profile-picture"/></a> <a href="members/leahcutie">leahcutie</a></li>
                    
    <li><a href="members/thelightningthief"><img src="../images/pfps/iMlibhzn1pG5o1uyCSKdKoAjki0R5vre.png" class="profile-picture"/></a> <a href="members/thelightningthief">thelightningthief</a></li>
                    
    <li><a href="members/ZeroGravityChannel"><img src="../images/pfps/13oKnMTVlMenbNQnsefG92TbGmXatcVk.jpg" class="profile-picture"/></a> <a href="members/ZeroGravityChannel">ZeroGravityChannel</a></li>
                    
    <li><a href="members/cheeta sistas"><img src="../images/pfps/Vby13lxX9ZkWknHe6IydRXdMa94GhAB2.jpg" class="profile-picture"/></a> <a href="members/cheeta sistas">cheeta sistas</a></li>
                    
    <li><a href="members/Sabrinak2009"><img src="../images/pfps/OSeRYew36aJ7mDqMUDJGZYNtEwhw85DK.jpg" class="profile-picture"/></a> <a href="members/Sabrinak2009">Sabrinak2009</a></li>
                    
    <li><a href="members/pokemonlover1999"><img src="../images/pfps/BmDyihV5664QRmGeYBrNDEAKr2gPXn0Z.jpg" class="profile-picture"/></a> <a href="members/pokemonlover1999">pokemonlover1999</a></li>
                    
    <li><a href="members/rayrachness"><img src="../images/pfps/nvi8riz0png5bunip36tqm8eyzwzsae3to2bws2b3844rhb6c8pqkou8dhyvf3pwhfy3yr2Picture 1.jpg" class="profile-picture"/></a> <a href="members/rayrachness">rayrachness</a></li>
                    
    <li><a href="members/lng717"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/lng717">lng717</a></li>
                    
    <li><a href="members/Drawer L 1"><img src="../images/pfps/Vc0Pw10EVV81PVGrtjUkVZmjYJQdbBGu.jpg" class="profile-picture"/></a> <a href="members/Drawer L 1">Drawer L 1</a></li>
                    
    <li><a href="members/CamCorderKid2010"><img src="../images/pfps/R5QH0hTStNR7CN9ekrS1Dc70uUn2tANA.jpg" class="profile-picture"/></a> <a href="members/CamCorderKid2010">CamCorderKid2010</a></li>
                    
    <li><a href="members/maxmianews"><img src="../images/pfps/bUDch1eonmjut9jQt6q7QaZuJjmjLbGl.jpg" class="profile-picture"/></a> <a href="members/maxmianews">maxmianews</a></li>
                    
    <li><a href="members/notime4h8trs"><img src="../images/pfps/DTkO5N9cgdTbQQPKVyRYqeXhSoOfrojt.png" class="profile-picture"/></a> <a href="members/notime4h8trs">notime4h8trs</a></li>
                    
    <li><a href="members/michelle123"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/michelle123">michelle123</a></li>
                    
    <li><a href="members/dabomb"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/dabomb">dabomb</a></li>
                    
    <li><a href="members/Moontheif"><img src="../images/pfps/JS3WXsevttyna84MXFw7llLquHwWovkx.gif" class="profile-picture"/></a> <a href="members/Moontheif">Moontheif</a></li>
                    
    <li><a href="members/metalsonictheonyx"><img src="../images/pfps/L8inKWYRyRc2Bpm4JXgzSeHU8ibRmG7w.png" class="profile-picture"/></a> <a href="members/metalsonictheonyx">metalsonictheonyx</a></li>
                    
    <li><a href="members/Grandtheftauto"><img src="../images/pfps/rKz9xdCANRmYtJXPBOMop3lufqBYx9Qc.jpg" class="profile-picture"/></a> <a href="members/Grandtheftauto">Grandtheftauto</a></li>
                    
    <li><a href="members/catlover25222"><img src="../images/pfps/yfDx2e9qnYhGKVHZ6XiBrDgoYUXlmqUZ.gif" class="profile-picture"/></a> <a href="members/catlover25222">catlover25222</a></li>
                    
    <li><a href="members/atrevete"><img src="../images/pfps/EcbMmfKUMrfhz9Pb7K9gXYvrwe73Id0N.gif" class="profile-picture"/></a> <a href="members/atrevete">atrevete</a></li>
                    
    <li><a href="members/irock8"><img src="../images/pfps/fhYj60xNACGm0adEUYWOvco7wqrxklAF.gif" class="profile-picture"/></a> <a href="members/irock8">irock8</a></li>
                    
    <li><a href="members/evz429"><img src="../images/pfps/5W3MvheK8zNe7Z83FbzEWSO18W854Otz.gif" class="profile-picture"/></a> <a href="members/evz429">evz429</a></li>
                    
    <li><a href="members/Amber_the_awesome"><img src="../images/pfps/tBNJgflKH0n2e5Mj4GoGYtXa1dLKyZGg.gif" class="profile-picture"/></a> <a href="members/Amber_the_awesome">Amber_the_awesome</a></li>
                    
    <li><a href="members/shuttplushiestudio"><img src="../images/pfps/97LgvGSeSMXDFiHoLQPWAfKhAHpoNaXN.png" class="profile-picture"/></a> <a href="members/shuttplushiestudio">shuttplushiestudio</a></li>
                    
    <li><a href="members/spongeybrown124"><img src="../images/pfps/JwGbD7Wb6kKPwrqXRidniEXSrC5T7KoE.gif" class="profile-picture"/></a> <a href="members/spongeybrown124">spongeybrown124</a></li>
                    
    <li><a href="members/Demiluv"><img src="../images/pfps/s8hEcuVV37B3aXHJc84hJpfUi7rdyXEe.jpg" class="profile-picture"/></a> <a href="members/Demiluv">Demiluv</a></li>
                    
    <li><a href="members/The Scary Snapper"><img src="../images/pfps/g9NSKfPoDgwZS13IZZnlhb9n89MRxcCT.jpg" class="profile-picture"/></a> <a href="members/The Scary Snapper">The Scary Snapper</a></li>
                    
    <li><a href="members/tiffy420"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/tiffy420">tiffy420</a></li>
                    
    <li><a href="members/Nikky"><img src="../images/pfps/8NpZO1AtVfYHdB2rZ8b3gq2Pmiw9r7qn.jpg" class="profile-picture"/></a> <a href="members/Nikky">Nikky</a></li>
                    
    <li><a href="members/TotalWolfLover"><img src="../images/pfps/v9hA6Ikg8mAgfpVPopz3li4xIYIvaGBJ.jpg" class="profile-picture"/></a> <a href="members/TotalWolfLover">TotalWolfLover</a></li>
                    
    <li><a href="members/coleworld123321"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/coleworld123321">coleworld123321</a></li>
                    
    <li><a href="members/The Flame"><img src="../images/pfps/hN3xIYmFuqmKMx7QaYBPmNhsrMvKY1N5.jpg" class="profile-picture"/></a> <a href="members/The Flame">The Flame</a></li>
                    
    <li><a href="members/Chowderman"><img src="../images/pfps/vpjDOPTNq338PCQazyZrkqDRjk8rZQvK.jpg" class="profile-picture"/></a> <a href="members/Chowderman">Chowderman</a></li>
                    
    <li><a href="members/KashiiGLitter"><img src="../images/pfps/Heucdm7ZXFM7Qa0hCh3ZuYmJ9I4trrpy.jpg" class="profile-picture"/></a> <a href="members/KashiiGLitter">KashiiGLitter</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/Cara" file="pfps/placeholder.gif" alt="Cara" %}

<p><b>Username:</b> <a href="members/Cara>Cara</a></p>

<p><b>Date:</b> 2011-02-02 13:01:47</p>

<p class="comment"><b>Comment:</b> <p> Sup?</p>
<p> </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/xxoluna" file="pfps/placeholder.gif" alt="xxoluna" %}

<p><b>Username:</b> <a href="members/xxoluna>xxoluna</a></p>

<p><b>Date:</b> 2010-12-19 15:09:54</p>

<p class="comment"><b>Comment:</b> <p>Sup?</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/zacattack" file="pfps/tKwSVfsVvmJrCghuJGarbcX6MPGN5kkm.png" alt="zacattack" %}

<p><b>Username:</b> <a href="members/zacattack>zacattack</a></p>

<p><b>Date:</b> 2010-10-20 14:58:46</p>

<p class="comment"><b>Comment:</b> <p> You rock dude<img alt="" src="http://kidstube.com/fckeditor/editor/images/smiley/msn/regular_smile.gif"/>!!!!!!!!!!!!!!!!!!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/dragon warrior" file="pfps/placeholder.gif" alt="dragon warrior" %}

<p><b>Username:</b> <a href="members/dragon warrior>dragon warrior</a></p>

<p><b>Date:</b> 2010-09-24 16:58:52</p>

<p class="comment"><b>Comment:</b> <p>Ha I like The movie how to train your dragon too. I just really like dragons XP </p>
<p> <span style="color: rgb(255, 0, 0);">~ Dragon warrior</span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/spongeybrown124" file="pfps/55Pwt9gKVRzWPol8ubBQoFLLlpSAWSGR.png" alt="spongeybrown124" %}

<p><b>Username:</b> <a href="members/spongeybrown124>spongeybrown124</a></p>

<p><b>Date:</b> 2010-09-03 16:38:34</p>

<p class="comment"><b>Comment:</b> <p> Um, why the heck are you posting random crap on Colby3's video titled "Hilarious Fred Figglehorn Clip 2"?</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>