---
title: FREDFAN
sidebar: home_sidebar
hide_sidebar: true
keywords: FREDFAN
permalink: members/FREDFAN
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/VVN1vGeAxIWm97RTthk9PNR6IXJY61jR.gif" alt="FREDFAN" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Billy</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>6</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>7</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>221</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>86.67%</b> out of <b>6</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>FRED xmas cash</li>
<img src="{{"../images/thumb/dlXYcJ1mEWECUqwVP3fZ.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>tha cliff pivot my version</li>
<img src="{{"../images/thumb/ILxCP4ggNZjJYFXXf0ej.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>new york city</li>
<img src="{{"../images/thumb/yggQHvweUWy5blWoFKTB.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>the death highway-part 3 in tha cliff trilodgy</li>
<img src="{{"../images/thumb/4A1RImKURsZW2wCIZotm.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>cheap low budget effects</li>
<img src="{{"../images/thumb/kqEYWHEEuang5RgyMcmg.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>the pivot snickers ad</li>
<img src="{{"../images/thumb/icgygYQKPQlakrwSSWPq.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>pivot xiao xiao promo</li>
<img src="{{"../images/thumb/1_63263.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>FRED-xmas-cash</li>
                
nothin to fancy ....xmas cash
                
                <br>
Added: 26-01-2010
                
</ul>
                
<ul>
<li>tha-cliff-pivot-my-version</li>
                
my first pivot ever & by far better than most of the puke pivot on here
                
                <br>
Added: 17-08-2010
                
</ul>
                
<ul>
<li>new-york-city</li>
                
the ppl of ma cliff video visit nyc
                
                <br>
Added: 17-08-2010
                
</ul>
                
<ul>
<li>cheap-low-budget-effects</li>
                
my fist vid featurin me and ma bro
                
                <br>
Added: 30-08-2010
                
</ul>
                
<ul>
<li>the-pivot-snickers-ad</li>
                
zzzzzZZZZZzzzz
                
                <br>
Added: 10-09-2010
                
</ul>
                
<ul>
<li>the-death-highway-part-3-in-tha-cliff-trilodgy</li>
                
third pivot 4th cuming soon probaly random crap
                
                <br>
Added: 21-08-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/colby2"><img src="../images/pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" class="profile-picture"/></a> <a href="members/colby2">colby2</a></li>
                    
    <li><a href="members/cookies12"><img src="../images/pfps/PP58979CG9PuaqFzPnoKwzUl3M7jTahi.jpg" class="profile-picture"/></a> <a href="members/cookies12">cookies12</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/TreeckoFan202"><img src="../images/pfps/e3bjtd2xj4qw6nr0divj84x7xhztvkizchbvk0jtt0grcvig42o2wazihqz4y8sygrkqis7treecko1[1].gif" class="profile-picture"/></a> <a href="members/TreeckoFan202">TreeckoFan202</a></li>
                    
    <li><a href="members/Miku"><img src="../images/pfps/TTr7SJl3STElr0CN3JduZdJGYXVKjBZ3.jpg" class="profile-picture"/></a> <a href="members/Miku">Miku</a></li>
                    
    <li><a href="members/champdude"><img src="../images/pfps/nts7vzi0e6dxvh5biocin5k5ax8dhbtusctd2z45x7tjdpim2ksfe4adq8gx7zgo0xrrpjnfunny smily.jpg" class="profile-picture"/></a> <a href="members/champdude">champdude</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/Clubpenguin988" file="pfps/placeholder.gif" alt="Clubpenguin988" %}

<p><b>Username:</b> <a href="members/Clubpenguin988">Clubpenguin988</a></p>

<p><b>Date:</b> 2010-08-26 12:26:23</p>

<p class="comment"><b>Comment:</b> <p>I LOVE FRED!!!!!!!!! HES SOOOOOO FUNNY! I cant wait to see his movie!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Colby3" file="pfps/VNwTneZL5RP8Vc4iZVsZ7QdSq77qaDrt.jpg" alt="Colby3" %}

<p><b>Username:</b> <a href="members/Colby3">Colby3</a></p>

<p><b>Date:</b> 2010-08-17 05:16:15</p>

<p class="comment"><b>Comment:</b> <p>I love Fred too!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/FREDFAN" file="pfps/VVN1vGeAxIWm97RTthk9PNR6IXJY61jR.gif" alt="FREDFAN" %}

<p><b>Username:</b> <a href="members/FREDFAN">FREDFAN</a></p>

<p><b>Date:</b> 2010-01-26 10:07:35</p>

<p class="comment"><b>Comment:</b> </p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>