---
title: giggles345
sidebar: home_sidebar
hide_sidebar: true
keywords: giggles345
permalink: members/giggles345
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="giggles345" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>19</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>THE Chinese YoYO</li>
<img src="{{"../images/thumb/1_4577.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Diet Coke and Mentos Explosion~</li>
                
This is my dad, brother, and me doing an 'experiment' with diet coke, and a lot of mentos!!!! This is soooo cool... I almost got hit by the diet coke!
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>Will-It-Blend-Glow-Sticks</li>
                
This cool dude blends stuff in this awesome blender!!!
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>Squirrel-Soccer</li>
                
This is hilarious! U have to watch the whole thing!!!!! enjoy!!!! I hope u like it...
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>~Mother of the Year~</li>
                
This is a commercial... but watch the end... it's hilarious!!!!!!!!!!!!!!!!!!!!!!!!!
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>Will-it-Blend-Wii-Remote</li>
                
A Wii Remote!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>Me Playing Georgia On My Mind~</li>
                
This is me playing my clarinet.../nplease leave only NICE comments!!!!!/nI'm playing Georgia on My Mind/nI hope you peoples like it!!!!!!!
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>Episode-1-PLEASE-WATCH</li>
                
This is my WebShow!!! I'M BEGGING YOU! Send me a name idea for the show after you watch!!!!!!!!!!!!!!!!! Thanks a million!!!!!!
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>Will-It-Blend--Marbles</li>
                
50 marbles are put into a BlendTec blender!!! See what happens!!!!
                
                <br>
Added: 12-10-2008
                
</ul>
                
<ul>
<li>Will-It-Blend--Crowbar</li>
                
-crowbar-crowbar-crowbar- 
See what happens!!!!!!!
                
                <br>
Added: 12-10-2008
                
</ul>
                
<ul>
<li>Will-It-Blend--Golf-Club</li>
                
Golf Club!!!!!!!!!!!!!!!!!!!!!!!
See what happens!!!
                
                <br>
Added: 12-10-2008
                
</ul>
                
<ul>
<li>Will-It-Blend--Baseball</li>
                
watch this guy blend a baseball!!!
                
                <br>
Added: 12-10-2008
                
</ul>
                
<ul>
<li>Will-It-Blend--Pens</li>
                
Ever wonder what pens being blended looks like? This should you give you a pretty good idea.See more at willitblend.com
                
                <br>
Added: 14-10-2008
                
</ul>
                
<ul>
<li>THE Chinese YoYO</li>
                
this is my bro and his his chinese yoyo doing some awesome tricks!!!!!!!!! enjoy
                
                <br>
Added: 28-12-2008
                
</ul>
                
<ul>
<li>Swimming-Daisy</li>
                
We use to have a dog named Daisy.  She would go ABSOLUTELY anywhere for that tennis ball! Watch~~~
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>Burger--Fries-really-mad-cat</li>
                
This is one mad cat!!!!! It's name is Burger and Fries!!!  You might wanna turn DOWN ur volume cuz it's really loud!!!!!!!!!!!!!!!!!!!!!!
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>Funny-Baby</li>
                
This baby is hilarious!!!!!!!!!!!
                
                <br>
Added: 14-10-2008
                
</ul>
                
<ul>
<li>Swimming-Daisy</li>
                
We use to have a dog named Daisy.  She would go ABSOLUTELY anywhere for that tennis ball! Watch~~~
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>Burger--Fries-really-mad-cat</li>
                
This is one mad cat!!!!! It's name is Burger and Fries!!!  You might wanna turn DOWN ur volume cuz it's really loud!!!!!!!!!!!!!!!!!!!!!!
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>Funny-Baby</li>
                
This baby is hilarious!!!!!!!!!!!
                
                <br>
Added: 14-10-2008
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>