---
title: glynnis
sidebar: home_sidebar
hide_sidebar: true
keywords: glynnis
permalink: members/glynnis
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/kqK4sHZeFvntuRE6ukbLMQ1pQxzWvMAV.jpg" alt="glynnis" max-width="100"%}
            
    {% include inline_image.html file="pfps/2545.jpg" alt="glynnis" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>3</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>18</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Dance Dance Revolution</li>
<img src="{{"../images/thumb/1_59931.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Shiandu Ievan Polkka</li>
<img src="{{"../images/thumb/1_60587.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>-The-Powerpuff-Life</li>
                
Just watch. I own the copyrights.
                
                <br>
Added: 05-06-2010
                
</ul>
                
<ul>
<li>dance-dance-revolution</li>
                
Todd the AllStar on Dance Dance!
                
                <br>
Added: 28-07-2010
                
</ul>
                
<ul>
<li>Shiandu-Ievan-Polkka</li>
                
Shiandu Ievan Polkka
                
                <br>
Added: 24-06-2011
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/vdmman"><img src="../images/pfps/xcsoluea3H3l3jYTtC2M1s9EISsqu7bf.png" class="profile-picture"/></a> <a href="members/vdmman">vdmman</a></li>
                    
    <li><a href="members/webkinzmaster"><img src="../images/pfps/8jr8x3o3to0axm7hekgtajbiroubckhbty8frn8b0z8na7segzyhaxopc6qdgvezjd50p2zThe Tale Of Despereaux.jpg" class="profile-picture"/></a> <a href="members/webkinzmaster">webkinzmaster</a></li>
                    
    <li><a href="members/aalx"><img src="../images/pfps/yc20bhj5a3nh72on0tdmyobgx4vohw26yuv005w0w76txm6p570sjzy7sijz5cuuvgjnb4cmotocycle.jpg" class="profile-picture"/></a> <a href="members/aalx">aalx</a></li>
                    
    <li><a href="members/RukiaKuchki1997"><img src="../images/pfps/vwtruk8od03qrfzo0fp8i87bvsq7xd2hxmyivvuwmpd3s0fh6sgercfdttbfu2nicapvubj11136_101396623221793_100000543672702_37855_6916117_n.jpg" class="profile-picture"/></a> <a href="members/RukiaKuchki1997">RukiaKuchki1997</a></li>
                    
    <li><a href="members/carboman"><img src="../images/pfps/8wcmjhjq3ajftet0bt5bnqsm24dku8xtuz426cgzcr3tvkiu5evgtdsj7vuqtiae72444cscarboman logo.jpg" class="profile-picture"/></a> <a href="members/carboman">carboman</a></li>
                    
    <li><a href="members/maxmia"><img src="../images/pfps/oq6ikohgd85kmjkg2v7jxdb3vriy486iq0pyfv5iuyu485byp68ea85vocji8gpn52cbo5hmario.gif" class="profile-picture"/></a> <a href="members/maxmia">maxmia</a></li>
                    
    <li><a href="members/Candy_Pop"><img src="../images/pfps/RoIiaBPvp50NLwAEH2gWNs1M0HI57AcM.png" class="profile-picture"/></a> <a href="members/Candy_Pop">Candy_Pop</a></li>
                    
    <li><a href="members/justinbieber0411"><img src="../images/pfps/QT4eSib8TMDdEvuxgqcK05F3WkrND1WR.jpg" class="profile-picture"/></a> <a href="members/justinbieber0411">justinbieber0411</a></li>
                    
    <li><a href="members/videoprincess"><img src="../images/pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" class="profile-picture"/></a> <a href="members/videoprincess">videoprincess</a></li>
                    
    <li><a href="members/Glittergal8"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Glittergal8">Glittergal8</a></li>
                    
    <li><a href="members/idogjim"><img src="../images/pfps/3yx4ihbqvb6zvmch03ubbf6x5zhsfqaadx4n353o50epdhu2bd0aixwdm4vritpnhkzcero398314556_740665.gif" class="profile-picture"/></a> <a href="members/idogjim">idogjim</a></li>
                    
    <li><a href="members/chrismy96"><img src="../images/pfps/yexi6uph62nhsr0axe0qqwvmj8f5ntgav5isqy0kpcq7tf7gkww0kicsghot0uuoo062ovco_0d5oiYQojcYaOkM.jpg" class="profile-picture"/></a> <a href="members/chrismy96">chrismy96</a></li>
                    
    <li><a href="members/Shadow_Guy"><img src="../images/pfps/0opry5k7wgwb7g8dp66ki6ap28qnknob20spw2kj87i5dh8sf50m000txg5atj8mbrzvjb3Brambleclaw.jpg" class="profile-picture"/></a> <a href="members/Shadow_Guy">Shadow_Guy</a></li>
                    
    <li><a href="members/Jirachi681"><img src="../images/pfps/iCYkoxfia7NmbwqWzZp3PsQHQPBSfbcD.png" class="profile-picture"/></a> <a href="members/Jirachi681">Jirachi681</a></li>
                    
    <li><a href="members/KaylaAndSissy"><img src="../images/pfps/A71cMT4ynrPOvwQ8HVih7nyiy2zxyTlw.png" class="profile-picture"/></a> <a href="members/KaylaAndSissy">KaylaAndSissy</a></li>
                    
    <li><a href="members/thevideogamemaster"><img src="../images/pfps/mR4TbRUGPjNkfZcsPAM0P0BH9ki7TJf3.png" class="profile-picture"/></a> <a href="members/thevideogamemaster">thevideogamemaster</a></li>
                    
    <li><a href="members/katsumarocks"><img src="../images/pfps/ceF9c9cc4cIKMkJQwnVvRPtgjWnIdRv5.png" class="profile-picture"/></a> <a href="members/katsumarocks">katsumarocks</a></li>
                    
    <li><a href="members/Allyruby44"><img src="../images/pfps/vwwk5g58pddqqnmw0inxor6dyxc6q00doomjvhi8ikpyx0nn7xbkd6m2uoy8fpct3o0pt8oallyruby44pie.gif" class="profile-picture"/></a> <a href="members/Allyruby44">Allyruby44</a></li>
                    
    <li><a href="members/WigglyXKitten"><img src="../images/pfps/czfififjn6tqxmddjo6gdtnqa4i6keak2dr8mxixszchafiitgpvx2avvgs4kqdeuub4ihscat avatar.gif" class="profile-picture"/></a> <a href="members/WigglyXKitten">WigglyXKitten</a></li>
                    
    <li><a href="members/StickFigureDude"><img src="../images/pfps/FtpHE4LetYESJzAXUAB8NtTOWYxQ6jn9.jpg" class="profile-picture"/></a> <a href="members/StickFigureDude">StickFigureDude</a></li>
                    
    <li><a href="members/paul"><img src="../images/pfps/nzu7vi4rww8mxnczv7phif82q2vhyd3d0m8ku43hp2rddt0yqh4wk2q2sa7hdyi4bifvb82shadow.gif" class="profile-picture"/></a> <a href="members/paul">paul</a></li>
                    
    <li><a href="members/etc_etc_etc"><img src="../images/pfps/uADIhmUXovlQUKoJHGJzUzkjWlj3v7Hd.png" class="profile-picture"/></a> <a href="members/etc_etc_etc">etc_etc_etc</a></li>
                    
    <li><a href="members/selenademi12345"><img src="../images/pfps/r7q867o2xjnuc5koyve5gsbei4anvsrcp68m4ofsvscvmkab4c4cv6e2ycekvtnbqnnj0q2Demi-Selena-3-selena-gomez-and-demi-lovato-7148474-75-75.jpg" class="profile-picture"/></a> <a href="members/selenademi12345">selenademi12345</a></li>
                    
    <li><a href="members/EK445"><img src="../images/pfps/zTCMGtKiLXYe56VSrwQDOR4kd5pZw1ij.jpg" class="profile-picture"/></a> <a href="members/EK445">EK445</a></li>
                    
    <li><a href="members/Slade57"><img src="../images/pfps/hI8HauvPJT2CzQV3C1eCgF6IkF5KZZA4.gif" class="profile-picture"/></a> <a href="members/Slade57">Slade57</a></li>
                    
    <li><a href="members/evz429"><img src="../images/pfps/5W3MvheK8zNe7Z83FbzEWSO18W854Otz.gif" class="profile-picture"/></a> <a href="members/evz429">evz429</a></li>
                    
    <li><a href="members/cartooncrisis"><img src="../images/pfps/FUSLynzY54TJk9JIbH4YT9bHzCsDgQSm.png" class="profile-picture"/></a> <a href="members/cartooncrisis">cartooncrisis</a></li>
                    
    <li><a href="members/acting_girl615"><img src="../images/pfps/b20k5cygnaq5d7bnbhy7ixyohcuhc6gcw7ks8bwmbdhfagqbof6x4wccyukyppydkbvhajsToco Toucan.jpg" class="profile-picture"/></a> <a href="members/acting_girl615">acting_girl615</a></li>
                    
    <li><a href="members/relientkgrl98"><img src="../images/pfps/tf0abqzog0zgf6msiyq6ardn5zokn3766w58cvnikcor8zahnock3fxx5b6g45e0q7xsrazbtn_metFamily.jpg" class="profile-picture"/></a> <a href="members/relientkgrl98">relientkgrl98</a></li>
                    
    <li><a href="members/redneckgrl"><img src="../images/pfps/FGYwm8nKAvSAV0ZEyHZdXb1ZOTKjmSQp.jpg" class="profile-picture"/></a> <a href="members/redneckgrl">redneckgrl</a></li>
                    
    <li><a href="members/Buddy231"><img src="../images/pfps/qcrq6qn2vgg6ub2nm8hi0xcc5pbhzu7gupur47hqcnmvoe8zbe62062wj44an2e7fypavxpbig_950799.gif" class="profile-picture"/></a> <a href="members/Buddy231">Buddy231</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>