---
title: GoldSlowbro
sidebar: home_sidebar
hide_sidebar: true
keywords: GoldSlowbro
permalink: members/GoldSlowbro
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/hJvmOaRImcfrXo8vGHIfSf2gY2oLNHOu.png" alt="GoldSlowbro" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Caz</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>19</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>37</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>779</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>93.33%</b> out of <b>15</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>how to draw a penguin from clubpenguin</li>
<img src="{{"../images/thumb/hvfFotrSDARx43NRzjJO.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Azugia speed sprite</li>
<img src="{{"../images/thumb/4KQLlhd0gaNikJHSXntv.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>How to draw Karo as a lizard</li>
<img src="{{"../images/thumb/qLutcSbv0OGL5lY0qj0G.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>News and a drawing of a cartoon lion</li>
<img src="{{"../images/thumb/y0uvOLYHBozxEoLYqkVI.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Pokemon Topaz Adventure With Kevin #1</li>
<img src="{{"../images/thumb/QCFHTtuNPtRkjqdIFPEN.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Drawing moonlight</li>
<img src="{{"../images/thumb/1DhUajxtgGpYfnWF1gbY.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>New drawn sky</li>
<img src="{{"../images/thumb/1_28319.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>how-to-draw-a-penguin-from-clubpenguin</li>
                
Everybody If my green light is on go to clubpenguin I mostly go to full serevers but click this link
www.clubpenguin.com
                
                <br>
Added: 20-10-2009
                
</ul>
                
<ul>
<li>Azugia-speed-sprite</li>
                
this sprite is mixed up with Lugia and Azurill
                
                <br>
Added: 22-10-2009
                
</ul>
                
<ul>
<li>How-to-draw-Karo-as-a-lizard</li>
                
I call her Kliz
                
                <br>
Added: 22-10-2009
                
</ul>
                
<ul>
<li>News and a drawing of a cartoon lion</li>
                
I hope you enjoy this was very hard to make!
                
                <br>
Added: 22-10-2009
                
</ul>
                
<ul>
<li>Pokemon-Topaz-Adventure-With-Kevin-1</li>
                
Kevin gets to get his first starter in not pearl not diamond but, Topaz!!! p.s. Topaz is my vidieo game i'm tring to make (I hope I get to be a game designer!)
                
                <br>
Added: 23-10-2009
                
</ul>
                
<ul>
<li>Drawing-moonlight</li>
                
Attenition This is one of my last drawing videios I'm gonna start funny and adventure vidieos but I still will do pokemon sprites
                
                <br>
Added: 23-10-2009
                
</ul>
                
<ul>
<li>Making and playing with spore alligator</li>
                
Alligator Spore! As I said on y last vidieo drawing moonlight I will make adventure vidieos and heres one of them, sorry for the flashing
                
                <br>
Added: 25-10-2009
                
</ul>
                
<ul>
<li>Absol's coostume halloween contest entry</li>
                
Absol tell you about his coostume
                
                <br>
Added: 28-10-2009
                
</ul>
                
<ul>
<li>My entry for thewebshows logo contest vidieo</li>
                
this is for thewebshow
                
                <br>
Added: 31-10-2009
                
</ul>
                
<ul>
<li>Funny Animals (warning last picture is for kid 10 and up)</li>
                
See if you can watch this without laughing it's kinda blurry
                
                <br>
Added: 04-11-2009
                
</ul>
                
<ul>
<li>Alpha-Form-Deoxys-for-Topaz-my-videio-game</li>
                
enter this to get gold <br />
Hue:32<br />
Red:245<br />
Sat:217<br />
Green:207<br />
Lum:142<br />
Blue:56
                
                <br>
Added: 08-11-2009
                
</ul>
                
<ul>
<li>New-form-flame-Mewtwo</li>
                
this was hard beacuse i had to think of<br />
the picture while i was making this videio
                
                <br>
Added: 10-11-2009
                
</ul>
                
<ul>
<li>Stickman-contest</li>
                
Places so far <br />
1st ________<br />
<br />
2nd________<br />
<br />
3rd_________
                
                <br>
Added: 28-11-2009
                
</ul>
                
<ul>
<li>A-Short-Message-To-Everyone</li>
                
:D
                
                <br>
Added: 28-11-2009
                
</ul>
                
<ul>
<li>Funny-cats-2</li>
                
thats right it's here and i'm making videios again!
                
                <br>
Added: 16-12-2009
                
</ul>
                
<ul>
<li>at least 30 secs of my lolcats</li>
                
I made em'
                
                <br>
Added: 18-12-2009
                
</ul>
                
<ul>
<li>My-best-drawings-of-SkyKaroand-Moonlight</li>
                
tell me if you want me to make you one for your charcter
                
                <br>
Added: 21-12-2009
                
</ul>
                
<ul>
<li>New-drawn-sky</li>
                
This was very hard to make! :D enjoy!
                
                <br>
Added: 24-12-2009
                
</ul>
                
<ul>
<li>My-Very-Own-Warrior-Cat-Thunder-strike-For-Color-Clan</li>
                
Thunder-strike (part of color clan)
                
                <br>
Added: 03-11-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/fartman76"><img src="../images/pfps/AcIVwZqsTqOY6sRGyuNA5RySgUvLj9Yj.gif" class="profile-picture"/></a> <a href="members/fartman76">fartman76</a></li>
                    
    <li><a href="members/Gojira123"><img src="../images/pfps/is2o9dmjYLaZfTV5tesHrGLfNgMeAQoi.jpg" class="profile-picture"/></a> <a href="members/Gojira123">Gojira123</a></li>
                    
    <li><a href="members/curly824"><img src="../images/pfps/HdzrNCPONwGGivta2C2ypelm0iVUvyb2.jpg" class="profile-picture"/></a> <a href="members/curly824">curly824</a></li>
                    
    <li><a href="members/davidgill"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/davidgill">davidgill</a></li>
                    
    <li><a href="members/vinneavistafan"><img src="../images/pfps/Pg1wNp2oFaz5flJhPTBlZ3OVxpYTMk3b.png" class="profile-picture"/></a> <a href="members/vinneavistafan">vinneavistafan</a></li>
                    
    <li><a href="members/videoprincess"><img src="../images/pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" class="profile-picture"/></a> <a href="members/videoprincess">videoprincess</a></li>
                    
    <li><a href="members/DragonLover493"><img src="../images/pfps/z6p0d75qgrp00hmpa7p8uh3wyzk2bpp0m2qoxj240itso68p2mmksd6f3h75wku7dcjymctLeafblazeJPG.jpg" class="profile-picture"/></a> <a href="members/DragonLover493">DragonLover493</a></li>
                    
    <li><a href="members/ilovecocopuff"><img src="../images/pfps/r0bf4wwj30grcxyd52zh5ow82d8wyfzh70k2m7cdwguz4h3yar436r2wszhh55n0wyr6wr7Snapshot_20100122.jpg" class="profile-picture"/></a> <a href="members/ilovecocopuff">ilovecocopuff</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/blueicechips"><img src="../images/pfps/o6oak5sgvuco54hfcdv2xzo5iydhxe5cakbietozcqc5ijamkve8jq2rd5y2bs2830h5ivuBlueicechips.jpg" class="profile-picture"/></a> <a href="members/blueicechips">blueicechips</a></li>
                    
    <li><a href="members/Marioboy64"><img src="../images/pfps/9a9kfqPMKGNLnAPtbjhfbwyG7WFrct2Z.png" class="profile-picture"/></a> <a href="members/Marioboy64">Marioboy64</a></li>
                    
    <li><a href="members/coamotheplant"><img src="../images/pfps/x9ZRhFtPmGb732ohykwnEup32VwTZsZM.jpg" class="profile-picture"/></a> <a href="members/coamotheplant">coamotheplant</a></li>
                    
    <li><a href="members/AnimalPlanet800"><img src="../images/pfps/bn3ni3y8b8tudebdpngpb8mc6zntbppazik8aa6b6qt8svc78im8fvbcmotk08krfwofukfTigerstrike8.png" class="profile-picture"/></a> <a href="members/AnimalPlanet800">AnimalPlanet800</a></li>
                    
    <li><a href="members/Frostdragon"><img src="../images/pfps/wgzpme3ivb2q7sctv3nzx08yx4jan778evoozgvmhoze42xptafi0e7n6fkkcghe3trrzd2Animation1-1.gif" class="profile-picture"/></a> <a href="members/Frostdragon">Frostdragon</a></li>
                    
    <li><a href="members/DaDirector"><img src="../images/pfps/ay2v6gas53c7jaogfk0jtmy8rpu6xoavbzi76iq2atxkrdpxof57rv588q3w42h5sq3qwigbilly-mays.jpg" class="profile-picture"/></a> <a href="members/DaDirector">DaDirector</a></li>
                    
    <li><a href="members/FredFan1126"><img src="../images/pfps/SOjb9J3sfHWgLiMTOyUy8HZkmd9tYReq.gif" class="profile-picture"/></a> <a href="members/FredFan1126">FredFan1126</a></li>
                    
    <li><a href="members/BarbiePopstar8"><img src="../images/pfps/t5TVOL1gbm8dxwAJUp853h1sD00bBC3s.jpg" class="profile-picture"/></a> <a href="members/BarbiePopstar8">BarbiePopstar8</a></li>
                    
    <li><a href="members/colby2"><img src="../images/pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" class="profile-picture"/></a> <a href="members/colby2">colby2</a></li>
                    
    <li><a href="members/fennecgirl"><img src="../images/pfps/OCQV72gCxuZsZBFiszeDqNO5T4t1mGd0.png" class="profile-picture"/></a> <a href="members/fennecgirl">fennecgirl</a></li>
                    
    <li><a href="members/luxray100"><img src="../images/pfps/45yzCeqh1V6mp5eZtWAGio6qDFESvBEq.png" class="profile-picture"/></a> <a href="members/luxray100">luxray100</a></li>
                    
    <li><a href="members/spongeybrown123"><img src="../images/pfps/agt3r45xk38kqvpjkc0tvv8kts36cjbcos54nysxrr65ejdnj456o4f7o83og4rtnkozb4mKilling Barney.jpg" class="profile-picture"/></a> <a href="members/spongeybrown123">spongeybrown123</a></li>
                    
    <li><a href="members/MewPikachu"><img src="../images/pfps/v2i8n8eir6jurcim3rifizyxypxe0urkkzkxwn7djhxzh7cbpkfx84jvh606pihz6qou2mxIcefire2.jpg" class="profile-picture"/></a> <a href="members/MewPikachu">MewPikachu</a></li>
                    
    <li><a href="members/Pufflefuzz123"><img src="../images/pfps/UtHJuBy9oIZJjxgd4flOSTexWcZeDv8Y.gif" class="profile-picture"/></a> <a href="members/Pufflefuzz123">Pufflefuzz123</a></li>
                    
    <li><a href="members/pinkfox8"><img src="../images/pfps/pZ1edHx22nTvGvWrC31wSFeioPUHtqbZ.jpg" class="profile-picture"/></a> <a href="members/pinkfox8">pinkfox8</a></li>
                    
    <li><a href="members/wildhead"><img src="../images/pfps/kB5p8ADfjngaVirGH5N7i0UllSxoFkhq.jpg" class="profile-picture"/></a> <a href="members/wildhead">wildhead</a></li>
                    
    <li><a href="members/SuperMario64LA"><img src="../images/pfps/K4nPXAR65KTbWBmoprMdim8E0ca8OvCW.png" class="profile-picture"/></a> <a href="members/SuperMario64LA">SuperMario64LA</a></li>
                    
    <li><a href="members/EvilSockPuppet"><img src="../images/pfps/ezuxuxswymv7r7ztd5cwkjwaxdoh0r85fruxfbk4k4z22pj4knrvueuih8p6om3r3mf7nozEvilSockPuppet icon.jpg" class="profile-picture"/></a> <a href="members/EvilSockPuppet">EvilSockPuppet</a></li>
                    
    <li><a href="members/kidney2"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/kidney2">kidney2</a></li>
                    
    <li><a href="members/donkeydrew"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/donkeydrew">donkeydrew</a></li>
                    
    <li><a href="members/milulu"><img src="../images/pfps/B90eNpuSXzR0NxERVmDqa0dMe7vboACq.jpg" class="profile-picture"/></a> <a href="members/milulu">milulu</a></li>
                    
    <li><a href="members/pokeman"><img src="../images/pfps/e0tjpo665fvnk7hxzeryrb78iioajpbmfuus6rp3w8e57mrxpan68j5hqki0xhb02vkxcxpdeoxys.jpg" class="profile-picture"/></a> <a href="members/pokeman">pokeman</a></li>
                    
    <li><a href="members/cpking"><img src="../images/pfps/4D9vd07YBu4gB0KeBrJM8eL8h1TV0vAu.jpg" class="profile-picture"/></a> <a href="members/cpking">cpking</a></li>
                    
    <li><a href="members/SofiaTheRocketchu"><img src="../images/pfps/CbjR2s4leMQXi0ESDTXTwJiIqrNTZSEa.gif" class="profile-picture"/></a> <a href="members/SofiaTheRocketchu">SofiaTheRocketchu</a></li>
                    
    <li><a href="members/thelightningthief"><img src="../images/pfps/iMlibhzn1pG5o1uyCSKdKoAjki0R5vre.png" class="profile-picture"/></a> <a href="members/thelightningthief">thelightningthief</a></li>
                    
    <li><a href="members/spongeybrown124"><img src="../images/pfps/JwGbD7Wb6kKPwrqXRidniEXSrC5T7KoE.gif" class="profile-picture"/></a> <a href="members/spongeybrown124">spongeybrown124</a></li>
                    
    <li><a href="members/pinkyredJ"><img src="../images/pfps/RS8lGQMDBbJoSxRkiyvj0nJVUgXi0HTH.png" class="profile-picture"/></a> <a href="members/pinkyredJ">pinkyredJ</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/SmartGal13" file="pfps/placeholder.gif" alt="SmartGal13" %}

<p><b>Username:</b> <a href="members/SmartGal13>SmartGal13</a></p>

<p><b>Date:</b> 2010-06-18 21:17:30</p>

<p class="comment"><b>Comment:</b> <p>hey hows it going<img alt="" src="../images/fckeditor/editor/images/smiley/msn/teeth_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Legofan99" file="pfps/placeholder.gif" alt="Legofan99" %}

<p><b>Username:</b> <a href="members/Legofan99>Legofan99</a></p>

<p><b>Date:</b> 2010-05-05 11:29:30</p>

<p class="comment"><b>Comment:</b> <p>yeah plz don't leave</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2>colby2</a></p>

<p><b>Date:</b> 2010-04-24 18:20:13</p>

<p class="comment"><b>Comment:</b> <p> Wait........ You're leaving KT, TOO?! <img alt="" src="../images/fckeditor/editor/images/smiley/msn/sad_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/GoldSlowbro" file="pfps/hJvmOaRImcfrXo8vGHIfSf2gY2oLNHOu.png" alt="GoldSlowbro" %}

<p><b>Username:</b> <a href="members/GoldSlowbro>GoldSlowbro</a></p>

<p><b>Date:</b> 2010-02-16 12:50:35</p>

<p class="comment"><b>Comment:</b> <p>yupppers</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2>colby2</a></p>

<p><b>Date:</b> 2010-02-14 13:12:19</p>

<p class="comment"><b>Comment:</b> <p>Hey, GoldSlowBro did you like the joke that I said? <img alt="" height="34" src="../images/fckeditor/editor/images/smiley/msn/regular_smile.gif" width="36"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2>colby2</a></p>

<p><b>Date:</b> 2010-02-13 18:27:29</p>

<p class="comment"><b>Comment:</b> <p>KNOCK KNOCK! WHO IS THERE? YOUR UNDERWHERE!!!!!!!!!!!!!!!!!!!!!!! <span style="font-size: xx-large">XD</span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2>colby2</a></p>

<p><b>Date:</b> 2010-02-11 17:04:25</p>

<p class="comment"><b>Comment:</b> <p>sorry about that I hate Pokemon XP</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/starguylee1" file="pfps/placeholder.gif" alt="starguylee1" %}

<p><b>Username:</b> <a href="members/starguylee1>starguylee1</a></p>

<p><b>Date:</b> 2010-02-09 16:01:06</p>

<p class="comment"><b>Comment:</b> <p>do you think you can get her to check her comments because i sent her a few important things?</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2>colby2</a></p>

<p><b>Date:</b> 2010-02-09 15:54:47</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: medium"><span style="font-size: xx-large">O_O</span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/GoldSlowbro" file="pfps/hJvmOaRImcfrXo8vGHIfSf2gY2oLNHOu.png" alt="GoldSlowbro" %}

<p><b>Username:</b> <a href="members/GoldSlowbro>GoldSlowbro</a></p>

<p><b>Date:</b> 2010-02-09 11:25:56</p>

<p class="comment"><b>Comment:</b> <p>btw that one pokemon thing i said was a lie sorry DX</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/GoldSlowbro" file="pfps/hJvmOaRImcfrXo8vGHIfSf2gY2oLNHOu.png" alt="GoldSlowbro" %}

<p><b>Username:</b> <a href="members/GoldSlowbro>GoldSlowbro</a></p>

<p><b>Date:</b> 2010-02-09 10:54:08</p>

<p class="comment"><b>Comment:</b> <p>well not always heartwarming XD</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/GoldSlowbro" file="pfps/hJvmOaRImcfrXo8vGHIfSf2gY2oLNHOu.png" alt="GoldSlowbro" %}

<p><b>Username:</b> <a href="members/GoldSlowbro>GoldSlowbro</a></p>

<p><b>Date:</b> 2010-02-09 09:48:08</p>

<p class="comment"><b>Comment:</b> <p>i fell the same way with enery girl, heart warming</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/starguylee1" file="pfps/placeholder.gif" alt="starguylee1" %}

<p><b>Username:</b> <a href="members/starguylee1>starguylee1</a></p>

<p><b>Date:</b> 2010-02-09 08:17:11</p>

<p class="comment"><b>Comment:</b> <p>do you know someone on kidstube with the username tatum27 shes kind a......h......o......t......do you think so...</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/GoldSlowbro" file="pfps/hJvmOaRImcfrXo8vGHIfSf2gY2oLNHOu.png" alt="GoldSlowbro" %}

<p><b>Username:</b> <a href="members/GoldSlowbro>GoldSlowbro</a></p>

<p><b>Date:</b> 2010-02-09 07:02:40</p>

<p class="comment"><b>Comment:</b> <p>well, when i was like 6 but not anymore</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2>colby2</a></p>

<p><b>Date:</b> 2010-02-08 15:54:17</p>

<p class="comment"><b>Comment:</b> <p>cool and wait... YOUR A POKEMON FAN?!?!?!?! O_O</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/GoldSlowbro" file="pfps/hJvmOaRImcfrXo8vGHIfSf2gY2oLNHOu.png" alt="GoldSlowbro" %}

<p><b>Username:</b> <a href="members/GoldSlowbro>GoldSlowbro</a></p>

<p><b>Date:</b> 2010-02-05 19:50:40</p>

<p class="comment"><b>Comment:</b> <p><span style="color: #ff0000">yup</span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/R2505" file="pfps/UGQY7yNx8zysJNB1URzs8Wj5Z3UWJJRd.jpg" alt="R2505" %}

<p><b>Username:</b> <a href="members/R2505>R2505</a></p>

<p><b>Date:</b> 2010-02-02 06:33:59</p>

<p class="comment"><b>Comment:</b> <p>Hey gold slowbro so your a pokemon fan i see</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/ETericET" file="pfps/aew8e6h2u385fyxucok23ujywwy8qr3qvqpynwr5oo0udndfym5s5ehq05phkiy7xcw8zc5computergear_1732_458408.jpg" alt="ETericET" %}

<p><b>Username:</b> <a href="members/ETericET>ETericET</a></p>

<p><b>Date:</b> 2010-01-30 07:23:07</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: medium"><span style="font-family: Comic Sans MS"><span style="color: #800080"><em><strong>Thanks for the great comment </strong></em></span></span></span><img alt="" src="../images/fckeditor/editor/images/smiley/msn/teeth_smile.gif"/>   <span style="font-size: medium"><span style="font-family: Comic Sans MS"><span style="color: #800080"><em><strong>To use the animation program I use just google extranormal <img alt="" src="../images/fckeditor/editor/images/smiley/msn/thumbs_up.gif"/> Let me know when your turtle vid is finished (it takes me a long time to make my vids ) </strong></em></span></span></span></p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>