---
title: graciesings4u
sidebar: home_sidebar
hide_sidebar: true
keywords: graciesings4u
permalink: members/graciesings4u
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="graciesings4u" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>2</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>MY RENDITION OF SHADOW OF THE DAY</li>
<img src="{{"../images/thumb/1_2380.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>MASC Bless the Broken Road</li>
                
MAKE SURE YOU READ THIS***************************** I'm sorry if it looks kinda funny...but i was half tryin not to cry and half trying not to laugh because i had the best time of my life...Even if i fight with Colby alot i still love him...and even if I don't get to go to camp it still means that i'm still ambers lonley :) So i wrote this for my two best friends...Colby and Amber...and i hope they have an amazing time at MASC Camp this week...I miss you guys! and love you...!
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>MY RENDITION OF SHADOW OF THE DAY</li>
                
Me And My Friend Re Wrote The Song Shadow Of The Day... It's For A Special Sumone...But The Name Isn't Going On The Internet...Because I'm Pretty Sure They'll Listen To It Sooner Or Later...Lol! Hope You Enjoy! I know my words dont match my lips but i swear its me :)
                
                <br>
Added: 31-03-2008
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>