---
title: hbpy2k
sidebar: home_sidebar
hide_sidebar: true
keywords: hbpy2k
permalink: members/hbpy2k
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/placeholder.gif" alt="hbpy2k" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>29</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Character Education that works – Anger Management Song</li>
<img src="{{"../images/thumb/1_70709.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Character Education that works – Goal Setting</li>
<img src="{{"../images/thumb/1_125512.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Project-Chance--Imagination</li>
                
Project Chance - Imagination<br />
Project C.H.A.N.C.E. - Children's Health, Achievement, Nutrition, and Community Empowerment.  Inner city children fly into space only to find the tunnel of life and they discover the key to a better life is study, while controlling their behavior.  (Imagination for grades K to 8) Directed by Harold B. Pritchett<br />
                
                <br>
Added: 03-08-2009
                
</ul>
                
<ul>
<li>Project-CHANCE-Introduction</li>
                
Project Chance – Introduction<br />
The goals for the participating students are:  1-  to enhance their ability to become independent learners.  2-   to develop confidence in themselves as learners.  3-  to improve literacy and numeracy skills.  4-   to participate productively in academically heterogeneous classrooms.  5-    to experience a variety of instructional strategies.  6-   to deepen understanding of subject matter content.  7-    to enhance awareness of potential contributions to a learning community.  Directed by Harold B. Pritchett.<br />
                
                <br>
Added: 06-08-2009
                
</ul>
                
<ul>
<li>Project-CHANCE--One-Part</li>
                
Project Chance – One Part<br />
Project C.H.A.N.C.E. - Children's Health, Achievement, Nutrition, and Community Empowerment.  Inner city/at risk children learn that they are one part of correcting the problems of their life and the world.  Directed by Harold B. Pritchett.  <br />
                
                <br>
Added: 07-08-2009
                
</ul>
                
<ul>
<li>Project  Chance - Dance of the Jellyfish</li>
                
Project Chance – Jellyfish<br />
Project C.H.A.N.C.E. - Children's Health, Achievement, Nutrition, and Community Empowerment.  Students watch the dance of the jellyfish.  Watch a colorful video of the dance of jellyfish with classical music. (Grades k – 12) Directed by Harold B. Pritchett.<br />
                
                <br>
Added: 07-08-2009
                
</ul>
                
<ul>
<li>Project-CHANCE-Puppet-Show</li>
                
Project Chance – Puppet Show<br />
Project C.H.A.N.C.E. - Children's Health, Achievement, Nutrition, and Community Empowerment.  Inner city/at risk students watch a puppet show.  Directed by Harold B. Pritchett.  <br />
                
                <br>
Added: 07-08-2009
                
</ul>
                
<ul>
<li>Project-CHANCE-Golf-Tick-Tack-Toe</li>
                
Project Chance – Golf Tick Tack Toe<br />
Project C.H.A.N.C.E. - Children's Health, Achievement, Nutrition, and Community Empowerment.  Inner city/at risk children learn about golf.  Directed by Harold B. Pritchett.  <br />
<br />
                
                <br>
Added: 07-08-2009
                
</ul>
                
<ul>
<li>Project C.H.A.N.C.E. - They Care About Us</li>
                
Project Chance – They care about us.<br />
Project C.H.A.N.C.E. - Children's Health, Achievement, Nutrition, and Community Empowerment.  Inner city children sing an up beat song about Project Chance and travel to the zoo.  Directed by Harold B. Pritchett.  <br />
                
                <br>
Added: 08-08-2009
                
</ul>
                
<ul>
<li>Project C.H.A.N.C.E. - Helping kids understand their world</li>
                
Project Chance – Helping kids understand their world.<br />
<br />
Project Chance – Developing children’s basic skills.  Creative team sports and off campus chaperon social interaction is only a part of Project C.H.A.N.C.E.  The classroom becomes alive with guided tours during studies to enhance the educational experience.  Life skills class are given on a daily bases so behavior is continually monitored.  Children are engaged and contribute to learning.  Available for inner city/at risk children.  www.projectchance.00server.com<br />
                
                <br>
Added: 10-08-2009
                
</ul>
                
<ul>
<li>Project-CHANCE--Big-Round-Rock</li>
                
Project C.H.A.N.C.E. – Big Round Rock<br />
Project C.H.A.N.C.E. - Children's Health, Achievement, Nutrition, and Community Empowerment.  Inner city children learn about the planet earth as sung by Rick Hubbard.  Directed by Harold B. Pritchett.  <br />
                
                <br>
Added: 16-08-2009
                
</ul>
                
<ul>
<li>Project-CHANCE-Fun--Study</li>
                
Project Chance – Fun & Study <br />
Project C.H.A.N.C.E. - Children's Health, Achievement, Nutrition, and Community Empowerment.   Inner city children have fun while studying pollination on location at Longwood Gardens, Pennsylvania.  Student's observations provide rich opportunities to learn how to interact in different classroom environments and content areas.  Directed by Harold B. Pritchett.  <br />
                
                <br>
Added: 20-08-2009
                
</ul>
                
<ul>
<li>Project-CHANCE--Steel-Drum-Concert</li>
                
Project C.H.A.N.C.E. – Steel Drum Concert<br />
Project C.H.A.N.C.E. - Children's Health, Achievement, Nutrition, and Community Empowerment.  Inner City children show how much they have learned by giving a live concert before members of the community.  Students perform a song playing the Steel Drum.  Directed by Harold B. Pritchett.  www.projectchance.00server.com<br />
                
                <br>
Added: 22-09-2009
                
</ul>
                
<ul>
<li>Project-CHANCE--James-for-Computer-Lab-President</li>
                
Project C.H.A.N.C.E. – James for Computer Lab President<br />
Project C.H.A.N.C.E. - Children's Health, Achievement, Nutrition, and Community Empowerment.  Students campaign for Computer Lab President.  Directed by Harold B. Pritchett.  www.projectchance.00server.com<br />
                
                <br>
Added: 24-09-2009
                
</ul>
                
<ul>
<li>Project-Chance--Moriah-for-Computer-Lab-President</li>
                
Project C.H.A.N.C.E. – Moriah for Computer Lab President<br />
Project C.H.A.N.C.E. - Children's Health, Achievement, Nutrition, and Community Empowerment.  Students campaign for Computer Lab President.  Directed by Harold B. Pritchett.  www.projectchance.00server.com<br />
                
                <br>
Added: 24-09-2009
                
</ul>
                
<ul>
<li>Project-CHANCE--Daniel-for-Computer-Lab-President</li>
                
Project C.H.A.N.C.E. – Daniel for Computer Lab President<br />
Project C.H.A.N.C.E. - Children's Health, Achievement, Nutrition, and Community Empowerment.  Students campaign for Computer Lab President.  Directed by Harold B. Pritchett.  www.projectchance.00server.com<br />
                
                <br>
Added: 24-09-2009
                
</ul>
                
<ul>
<li>Project C.H.A.N.C.E. - Children Fly Over Legos City</li>
                
Project C.H.A.N.C.E. – Children Fly Over Legos City<br />
Project C.H.A.N.C.E. - Children's Health, Achievement, Nutrition, and Community Empowerment.  Children running to Project Chance and fly over Legos City.  Directed by Harold B. Pritchett.  www.projectchance.00server.com<br />
                
                <br>
Added: 27-09-2009
                
</ul>
                
<ul>
<li>Project-CHANCE--Inner-City-Children-Pick-Peaches</li>
                
Project Chance – Inner City Children pick peaches<br />
Project C.H.A.N.C.E. - Children's Health, Achievement, Nutrition, and Community Empowerment.  Inner city children participating in the Project C.H.A.N.C.E. program are taken to Johnson’s Farm New Jersey to view farm life and pick peaches.  Directed by Harold B. Pritchett.  <br />
                
                <br>
Added: 01-10-2009
                
</ul>
                
<ul>
<li>Inner-City-Bluz-Dancing-in-the-Basement</li>
                
Inner City Bluz – Dancing in the Basement<br />
Two homeless children, hiding in the basement, find a radio.  They dance and dress-up in the old clothes found in boxes.    Directed by Harold B. Pritchett – Starring Miquail and Timera Keyes.<br />
                
                <br>
Added: 29-11-2009
                
</ul>
                
<ul>
<li>Project-CHANCE--Delaware-State-Fair</li>
                
Project C.H.A.N.C.E. – Delaware State Fair<br />
Children's Health, Achievement, Nutrition, and Community Empowerment.  Wilmington, Delaware inner city children are taken to the “Delaware State Fair”.  Directed by Harold B. Pritchett.  www.projectchance.00server.com<br />
                
                <br>
Added: 30-01-2010
                
</ul>
                
<ul>
<li>Project-CHANCE--Delaware-State-Fair</li>
                
Project C.H.A.N.C.E. – Delaware State Fair<br />
Children's Health, Achievement, Nutrition, and Community Empowerment.  Wilmington, Delaware inner city children are taken to the “Delaware State Fair”.  Directed by Harold B. Pritchett.  www.projectchance.00server.com<br />
                
                <br>
Added: 02-02-2010
                
</ul>
                
<ul>
<li>Project-Chance-Dancing-and-Money-Show</li>
                
Project C.H.A.N.C.E. – Dancing and Money Show
Children's Health, Achievement, Nutrition, and Community Empowerment.  Children dance and have fun during summer camp.  Later they play the money show – “Time Is Money”.  Directed by Harold B. Pritchett. www.projectchance.00server.com
                
                <br>
Added: 24-07-2011
                
</ul>
                
<ul>
<li>Project-Chance-Gears-and-Air-Pressure</li>
                
Project C.H.A.N.C.E. – Gears and Air Pressure
Children's Health, Achievement, Nutrition, and Community Empowerment.   Project Chance children learn about gears and air pressure at the Franklin Institute in Philadelphia.  Directed by Harold B. Pritchett www.projectchance.00server.com
                
                <br>
Added: 14-08-2011
                
</ul>
                
<ul>
<li>Warner-News-DCAS-Test-Taking-Tips</li>
                
Warner Elementary School News – Delaware Comprehensive Assessment test taking tips for children in the Red Clay Consolidated School District in Wilmington, Delaware.
Warner News - Interviews with Warner Elementary School children with improved high DCAS scores.   Students give helpful test taking tips on how kids should focus when taking the Delaware Comprehensive Assessment score. (DCAS score). Directed by Harold B. Pritchett
                
                <br>
Added: 31-03-2012
                
</ul>
                
<ul>
<li>Character Education that works – Learn to love yourself</li>
                
Character Education that works – Learn to love yourself
Children learn to love themselves so they can develop meaningful relationships with others.  Self-esteem and self-love are taught using a mirror in order for the children to grow and understand their self-image.  The words “I just want to love you” are repeated in the mirror and in song.  The class sings the song along with music and afterwards they discuss the meaning of self-esteem and self-love. Directed by Harold B. Pritchett, Character Education Teacher.
                
                <br>
Added: 01-04-2012
                
</ul>
                
<ul>
<li>Character-Education-that-works-–-Goal-Setting</li>
                
Character Education that works – Goal Setting
Children (K-5) learn how to set short term and long term goals.  Children are taught the chant “I’m just a kid. Setting my goals – that’s how I am going to live.” The class discusses short term and long term goals.  What are you going to do?  Why is it important?  Action words – plan, organize, lead, develop, build etc…   A Goal Setting music video is added and the children sing along with the video. Check with the children everyday to get them to talk about their daily goal and converse about their long term goals.  Directed by Harold B. Pritchett, Character Education Teacher.
                
                <br>
Added: 12-04-2012
                
</ul>
                
<ul>
<li>Character-Education-that-works-–-Value-Achievement</li>
                
Students are encouraged to achieve academic success as a path toward other personal achievements.  Directed by Harold B. Pritchett, Character Education Teacher
                
                <br>
Added: 19-05-2012
                
</ul>
                
<ul>
<li>Character-Education-that-works-–-Goal-Setting</li>
                
Character Education that works – Goal Setting
Children (K-5) learn how to set short term and long term goals.
                
                <br>
Added: 24-06-2012
                
</ul>
                
<ul>
<li>Project-Chance-Kompan-Games-Part-One</li>
                
Project C.H.A.N.C.E. – Kompan Games Part One
Children's Health, Achievement, Nutrition, and Community Empowerment.   Project Chance students, along with Mr. Pritchett, invented a new game for the playground and the internet called “Kompan”.   Based on the old lumberjack sport of “Logrolling” – this new playground game involves two contestants, each stand on a large wheel that spins.  One or the other starts “walking” (or “side stepping”) on the wheel and the other is forced to keep up or ride it out.  The contest involves attempting to stay on the wheel while trying to cause the competitor to lose their balance and fall into the mulch.  This game is only played with adult supervision.  Directed by Harold B. Pritchett.  www.projectchance.00server.com
                
                <br>
Added: 29-12-2011
                
</ul>
                
<ul>
<li>Character Education that works – Anger Management Song</li>
                
Character Education that works – Anger Management Song
Children (K-5) learn how to control their anger by making better choices when they are upset and about to fight in school.  Choices are given in the words to the song and the class talks about what action can be taken to avoid a brawl in school, at home, or on the streets.  The class sings the song along with music and afterwards they discuss the meaning.  After children learned the song, the words are used to help them when they are facing internal drama.  Example – Did you count to ten? – Did you walk away?  - How can you control your anger the next time?      Directed by Harold B. Pritchett, Character Education Teacher
                
                <br>
Added: 07-04-2012
                
</ul>
                
<ul>
<li>Character-Education-that-works-–-Anger-Management-Song</li>
                
Character Education that works – Anger Management Song
Children (K-5) learn how to control their anger by making better choices when they are upset and about to fight in school.  Choices are given in the words to the song and the class talks about what action can be taken to avoid a brawl in school, at home, or on the streets.  The class sings the song along with music and afterwards they discuss the meaning.  After children learned the song, the words are used to help them when they are facing internal drama.  Example – Did you count to ten? – Did you walk away?  - How can you control your anger the next time?      Directed by Harold B. Pritchett, Character Education Teacher
                
                <br>
Added: 07-04-2012
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Bstyles"><img src="../images/pfps/6r7VHxFjhtGfgRfdRvQVdp4NvJvZBuK5.jpg" class="profile-picture"/></a> <a href="members/Bstyles">Bstyles</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>