---
title: HollyDolly1010
sidebar: home_sidebar
hide_sidebar: true
keywords: HollyDolly1010
permalink: members/HollyDolly1010
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/HBVqpuJMuTmwOM9G2zTsFueSTi36swNz.png" alt="HollyDolly1010" max-width="100"%}
            
    {% include inline_image.html file="pfps/BESP5Qly995q6aDGtTsGz64V8AZS6cu5.png" alt="HollyDolly1010" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>24</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>2</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Someone should win a award for this. ಠ_ಠ</li>
<img src="{{"../images/thumb/1_62257.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Sonic-Sprites-Adoption-1</li>
                
Yeah! I made these (cause i was bored, i'm always bored, and come up wit ideas)<br />
Christan 001 - Free<br />
Rock 002 - Free<br />
Keko 003 - Free<br />
Rin and Len 004*- Free<br />
Kyon 005 - Free<br />
<br />
*These are very speical sprites!
                
                <br>
Added: 19-01-2010
                
</ul>
                
<ul>
<li>EPIC-BOREDOM-1</li>
                
I was really bored soo...<br />
<br />
This is for ppl who:<br />
are really bored and need to laugh<br />
are bored on the 'net<br />
<br />
-Chowder iz confuzed<br />
-Flapjack iz travling the world<br />
-Grapefriut iz tring to be Chowder's GF<br />
-Kotona is in the oylipics<br />
-Panini and Gipocho (?) are donig the Lucky Star scripts.<br />
Flapjack is tring to be 朝比奈 みくる ( Mikuru Asahina, from The Melancholy of Haruhi Suzumiya)<br />
-and Kotona iz doing a musik video
                
                <br>
Added: 21-01-2010
                
</ul>
                
<ul>
<li>Daisy-the-Hedgehog-Pocketful-of-Sunshine-preview</li>
                
Yeah! it's a preview of my latest project 'OC'S around the world' sry it's shourt (well duh it's a preview!) all thanx to ZeldaSonicfan's Anna the Hedgehog! thanx for the idea! *the green hedgehog is Manic for Sonic Underground *1998* comment
                
                <br>
Added: 29-01-2010
                
</ul>
                
<ul>
<li>Window-XP-Errors-made-by-me</li>
                
I made these! i'm not that sierous (?) about the last one but at 0:39 it's says You can now read Sweadish X3. i hope it<br />
s funny i'll made more! to make you own go to http://atom.smasher.org/error/
                
                <br>
Added: 06-02-2010
                
</ul>
                
<ul>
<li>Attack-of-the-OCZ</li>
                
The orginal title was Me and my OC'z being silly... I don't have Daisy the headehog. sry. :( OVER 300 Views?!? OMG
                
                <br>
Added: 06-02-2010
                
</ul>
                
<ul>
<li>mario-stole-the-prcoius-thing-daisy-and-anna</li>
                
Daisy and Anna sing Marisa Stole the Precious thing i renamed it to 'Mario stole the precoius thing' (get it, 'cuz Anna and Daisy are Sonic characters, and Mario iz a mario character..) i was lazy at the begging. YouTube:http://www.youtube.com/watch?v=1qS1kqhhebw
                
                <br>
Added: 06-02-2010
                
</ul>
                
<ul>
<li>Epic-Boredom-2</li>
                
Yeah the second one iz here! :3
                
                <br>
Added: 07-02-2010
                
</ul>
                
<ul>
<li>Can-you-guess-my-name</li>
                
ha ha! guess my name!! i will reveal in about one month! DON'T YOU DARE LOOK IT UP!
                
                <br>
Added: 08-02-2010
                
</ul>
                
<ul>
<li>Can-you-guess-my-name-2</li>
                
Here's two more hints. DON'T YOU DARE LOOK IT UP!
                
                <br>
Added: 09-02-2010
                
</ul>
                
<ul>
<li>Holly-Dolly--Dolly-Song-ievans-Polkka</li>
                
the first Holly Dolly thing on KidsTube! ENJOY! http://www.holly-dolly.eu/
                
                <br>
Added: 09-02-2010
                
</ul>
                
<ul>
<li>Can-you-guess-my-name-3</li>
                
Another one! i'ma girl. DON'T YOU DARE LOOK IT UP
                
                <br>
Added: 09-02-2010
                
</ul>
                
<ul>
<li>David-after-Dentist</li>
                
David went to the denstist. He's fine! lolz.
                
                <br>
Added: 10-02-2010
                
</ul>
                
<ul>
<li>Unique-Nintendo-DS-lite-color</li>
                
this isn't mine! but i like the colors! i wish these were real!
                
                <br>
Added: 10-02-2010
                
</ul>
                
<ul>
<li>omg-My-computer-was-talking-to-me</li>
                
Ha ha! This is fake! and fun! i was bored so yeah!
                
                <br>
Added: 10-02-2010
                
</ul>
                
<ul>
<li>Do-not-try-to-laugh-or-Grin</li>
                
Challenge! Try not to laugh or Grin Muhahaha! :D
                
                <br>
Added: 15-02-2010
                
</ul>
                
<ul>
<li>20-Random-Facts</li>
                
20 random facts.
                
                <br>
Added: 21-02-2010
                
</ul>
                
<ul>
<li>chowder-gacha-gacha-cute-[mad]</li>
                
I found this on YouTube (i luv this song), enjoy! :3
                
                <br>
Added: 28-02-2010
                
</ul>
                
<ul>
<li>Ed-Edd-n-Eddy-Bumper--All-ours-now</li>
                
2003 CN bumper
                
                <br>
Added: 07-06-2010
                
</ul>
                
<ul>
<li>Ed-Edd-n-Eddy-Bumper--Bike-Riding</li>
                
2003 CN City Bumper
                
                <br>
Added: 07-06-2010
                
</ul>
                
<ul>
<li>Ed-Edd-n-Eddy-Bumper--Bumping</li>
                
2003 CN city bumper
                
                <br>
Added: 07-06-2010
                
</ul>
                
<ul>
<li>PMD-Editing--Rin-Kagamine-with-long-dark-red-hair</li>
                
fun! yeah, ii take request
                
                <br>
Added: 22-06-2010
                
</ul>
                
<ul>
<li>Gamecube-Remix</li>
                
Kirby Zone remix! really cool, bY Nico Motion
                
                <br>
Added: 26-08-2010
                
</ul>
                
<ul>
<li>Someone-should-win-a-award-for-this-ಠಠ</li>
                
ಠ_ಠ ಠ_ಠ ಠ_ಠ
                
                <br>
Added: 26-08-2010
                
</ul>
                
<ul>
<li>Little-kid-tring-to-say-blood-funny</li>
                
a little boy tring to say blood! 'Bluhd! Bluhd!' ha ha!*OMGZ!! PPL! Iz it that funny? only been posted 1 week and over 200 views wow! thanx! edit 1: OMGZ! OV3R 400 Views!!
                
                <br>
Added: 09-02-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/vdmman"><img src="../images/pfps/xcsoluea3H3l3jYTtC2M1s9EISsqu7bf.png" class="profile-picture"/></a> <a href="members/vdmman">vdmman</a></li>
                    
    <li><a href="members/tanasilly"><img src="../images/pfps/EeU6GAnKfSsbxzXYv1dU1PgL1FaKxMez.png" class="profile-picture"/></a> <a href="members/tanasilly">tanasilly</a></li>
                    
    <li><a href="members/Macbook10"><img src="../images/pfps/WnoWGbwPS835Y7nbZIxgyCphJ3bjFzDb.jpg" class="profile-picture"/></a> <a href="members/Macbook10">Macbook10</a></li>
                    
    <li><a href="members/funlover"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/funlover">funlover</a></li>
                    
    <li><a href="members/samid11"><img src="../images/pfps/jmBV48LhObQAvyYEHSHf48HC78i4ewuC.gif" class="profile-picture"/></a> <a href="members/samid11">samid11</a></li>
                    
    <li><a href="members/AnimeFerret99"><img src="../images/pfps/hiVztAGo18f3hKzmE2mvfQXbTaXCnxBI.gif" class="profile-picture"/></a> <a href="members/AnimeFerret99">AnimeFerret99</a></li>
                    
    <li><a href="members/SnoopyProductions"><img src="../images/pfps/vZKd3iqLOnyp88Icabn3pbEMxdFlptGa.jpg" class="profile-picture"/></a> <a href="members/SnoopyProductions">SnoopyProductions</a></li>
                    
    <li><a href="members/Cpfanamations"><img src="../images/pfps/rhlUVZ1ZRgoOWf9yxALq0Pli9uzQvZda.jpg" class="profile-picture"/></a> <a href="members/Cpfanamations">Cpfanamations</a></li>
                    
    <li><a href="members/Philip666"><img src="../images/pfps/Rvlz5FpzVoncu50Whf2iAFtDxhdcFy7W.jpg" class="profile-picture"/></a> <a href="members/Philip666">Philip666</a></li>
                    
    <li><a href="members/Candy_Pop"><img src="../images/pfps/RoIiaBPvp50NLwAEH2gWNs1M0HI57AcM.png" class="profile-picture"/></a> <a href="members/Candy_Pop">Candy_Pop</a></li>
                    
    <li><a href="members/Shadow Fan"><img src="../images/pfps/hk7jHF3eKIUCcktI86sUv9NHg9bdi6WD.gif" class="profile-picture"/></a> <a href="members/Shadow Fan">Shadow Fan</a></li>
                    
    <li><a href="members/mec4157"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/mec4157">mec4157</a></li>
                    
    <li><a href="members/ZeldaSonicfan"><img src="../images/pfps/FuV0geuCSU4smA35BsxgmgOnPAB4nHiq.gif" class="profile-picture"/></a> <a href="members/ZeldaSonicfan">ZeldaSonicfan</a></li>
                    
    <li><a href="members/opal_1998"><img src="../images/pfps/oUxga9SQ4YnSWFVdYo6nTRuh2veRYClC.gif" class="profile-picture"/></a> <a href="members/opal_1998">opal_1998</a></li>
                    
    <li><a href="members/chrismy96"><img src="../images/pfps/yexi6uph62nhsr0axe0qqwvmj8f5ntgav5isqy0kpcq7tf7gkww0kicsghot0uuoo062ovco_0d5oiYQojcYaOkM.jpg" class="profile-picture"/></a> <a href="members/chrismy96">chrismy96</a></li>
                    
    <li><a href="members/renee"><img src="../images/pfps/RoE2MGkWNZGC8pp2naYeicpAMTfOMr7d.gif" class="profile-picture"/></a> <a href="members/renee">renee</a></li>
                    
    <li><a href="members/jomei"><img src="../images/pfps/EypCJgoR1rNQ6fPrtH2fUePhXj8lceme.png" class="profile-picture"/></a> <a href="members/jomei">jomei</a></li>
                    
    <li><a href="members/pinkfox8"><img src="../images/pfps/pZ1edHx22nTvGvWrC31wSFeioPUHtqbZ.jpg" class="profile-picture"/></a> <a href="members/pinkfox8">pinkfox8</a></li>
                    
    <li><a href="members/Miku"><img src="../images/pfps/TTr7SJl3STElr0CN3JduZdJGYXVKjBZ3.jpg" class="profile-picture"/></a> <a href="members/Miku">Miku</a></li>
                    
    <li><a href="members/redbelt2"><img src="../images/pfps/0ftt99qnJ3lpvpWLGX3AlkVOYSLveERS.gif" class="profile-picture"/></a> <a href="members/redbelt2">redbelt2</a></li>
                    
    <li><a href="members/Sonizz454"><img src="../images/pfps/dg0i5KVGrn3ewb6aky6QseLDQjA5MBzp.jpg" class="profile-picture"/></a> <a href="members/Sonizz454">Sonizz454</a></li>
                    
    <li><a href="members/YayaLol"><img src="../images/pfps/4jZPTOtsXC4FYlBLWSK8WaAIvBjATYXM.jpg" class="profile-picture"/></a> <a href="members/YayaLol">YayaLol</a></li>
                    
    <li><a href="members/SuperSistersTv"><img src="../images/pfps/sgikspkjsujdayy787eaizqwfvp574upb3zrga0wsa0qyonwmruufbhkxuetqx6ppv7wvwjG & I bright.jpg" class="profile-picture"/></a> <a href="members/SuperSistersTv">SuperSistersTv</a></li>
                    
    <li><a href="members/MochaGirl"><img src="../images/pfps/oLiZUEK5glKMUWFu7fVD1p7bxFLAClpq.png" class="profile-picture"/></a> <a href="members/MochaGirl">MochaGirl</a></li>
                    
    <li><a href="members/kahlel"><img src="../images/pfps/zKjmhSoBxekH60Cyl5rhbzZriMOJMpl9.jpg" class="profile-picture"/></a> <a href="members/kahlel">kahlel</a></li>
                    
    <li><a href="members/Evandsl"><img src="../images/pfps/wlCIxtcWPFOPU2Uq87sfGSYLtEZm4mGp.jpg" class="profile-picture"/></a> <a href="members/Evandsl">Evandsl</a></li>
                    
    <li><a href="members/jessrocks18"><img src="../images/pfps/6CkN7WgXWWOQy0ChyjErug1Wddkn9Zg5.gif" class="profile-picture"/></a> <a href="members/jessrocks18">jessrocks18</a></li>
                    
    <li><a href="members/Bulbasaur"><img src="../images/pfps/L6wcUbm7E8JN5ySxgSEpokD20eXb8jUJ.gif" class="profile-picture"/></a> <a href="members/Bulbasaur">Bulbasaur</a></li>
                    
    <li><a href="members/monke33"><img src="../images/pfps/VBQWsiYA8OZCvCtRsS0KKP6E3L5LVLno.png" class="profile-picture"/></a> <a href="members/monke33">monke33</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>