---
title: iDuckFilms
sidebar: home_sidebar
hide_sidebar: true
keywords: iDuckFilms
permalink: members/iDuckFilms
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/dnG2DE0HwoumSWOd3jtCQXEupFw2gWk9.gif" alt="iDuckFilms" max-width="100"%}
            
    {% include inline_image.html file="pfps/M3r3Dmr9NRZYOmfl7X7KLT4qANzWRCxe.gif" alt="iDuckFilms" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>9</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>2</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Around the Interwebs: Duck Wars</li>
<img src="{{"../images/thumb/1_63491.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Play-the-Pangaroo-Off-Keyboard-Cat</li>
                
My FIRST VIDEO!!
                
                <br>
Added: 01-08-2010
                
</ul>
                
<ul>
<li>TPOM-Vacation-Pics-2010</li>
                
Private's Vacation Slideshow, created on iMovie 6
                
                <br>
Added: 11-08-2010
                
</ul>
                
<ul>
<li>Around-the-Interwebs-Team-Umizoomi-Special</li>
                
YAY! The first web show! (I do not use Kids Bop).
                
                <br>
Added: 11-08-2010
                
</ul>
                
<ul>
<li>Misty-and-Friends-are-Gummy-Bears-VERY-IRATATING</li>
                
I did not make the original video and audio.
                
                <br>
Added: 29-08-2010
                
</ul>
                
<ul>
<li>Ham-Ham-Flight-for-the-iPhone-and-iPod-Touch</li>
                
Fun with the app "A Doodle Flight"
                
                <br>
Added: 03-09-2010
                
</ul>
                
<ul>
<li>Hamtaro-Goes-to-Mars</li>
                
I beat the first Mars Stage! Here is the cutscene from the stage.
                
                <br>
Added: 03-09-2010
                
</ul>
                
<ul>
<li>Kidstube-Poop-Color</li>
                
NO!
                
                <br>
Added: 06-09-2010
                
</ul>
                
<ul>
<li>Team-Umizoomi-Says-YAY-While-I-Play-Fitting-Music</li>
                
Double rainbow all the way? YAY!
                
                <br>
Added: 09-09-2010
                
</ul>
                
<ul>
<li>Around-the-Interwebs-Duck-Wars</li>
                
For those who wanted episode 2. Search this on youtube, please
                
                <br>
Added: 14-09-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/BJSimpson"><img src="../images/pfps/Q75qUnGeDPu0Y9diD2USecHYLd7IuQk9.jpg" class="profile-picture"/></a> <a href="members/BJSimpson">BJSimpson</a></li>
                    
    <li><a href="members/Gamergirlstudios"><img src="../images/pfps/AVACpeJkS0j7kCHGl48ma3TFK3IiRi4P.jpg" class="profile-picture"/></a> <a href="members/Gamergirlstudios">Gamergirlstudios</a></li>
                    
    <li><a href="members/Twilightlover167"><img src="../images/pfps/DQhqRlz2nPzTF7UuPXPMlRIG1AaPPWFQ.jpg" class="profile-picture"/></a> <a href="members/Twilightlover167">Twilightlover167</a></li>
                    
    <li><a href="members/curly824"><img src="../images/pfps/HdzrNCPONwGGivta2C2ypelm0iVUvyb2.jpg" class="profile-picture"/></a> <a href="members/curly824">curly824</a></li>
                    
    <li><a href="members/evz429"><img src="../images/pfps/5W3MvheK8zNe7Z83FbzEWSO18W854Otz.gif" class="profile-picture"/></a> <a href="members/evz429">evz429</a></li>
                    
    <li><a href="members/sombat2800"><img src="../images/pfps/oqrewtvomjwonkdy8m42pbi3ffnvcqip6zrtid5uks6w38m3ketxg2pj5356jeje30va2rsani_smb3_raccoonmariofly.gif" class="profile-picture"/></a> <a href="members/sombat2800">sombat2800</a></li>
                    
    <li><a href="members/YayaLol"><img src="../images/pfps/4jZPTOtsXC4FYlBLWSK8WaAIvBjATYXM.jpg" class="profile-picture"/></a> <a href="members/YayaLol">YayaLol</a></li>
                    
    <li><a href="members/Rocket321CP"><img src="../images/pfps/oGTKqAEP2h1b9hxOqagtoTlWdKTbmTAR.jpg" class="profile-picture"/></a> <a href="members/Rocket321CP">Rocket321CP</a></li>
                    
    <li><a href="members/mariokart99"><img src="../images/pfps/s84gZ5ftjYDIZhGnk3KyHKTuwcgTb2bK.gif" class="profile-picture"/></a> <a href="members/mariokart99">mariokart99</a></li>
                    
    <li><a href="members/ltchick"><img src="../images/pfps/XEjm9Ziwvv4p7GSX7tBDhPcEW6oRtMxG.jpg" class="profile-picture"/></a> <a href="members/ltchick">ltchick</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>