---
title: ifcupidhadaheart
sidebar: home_sidebar
hide_sidebar: true
keywords: ifcupidhadaheart
permalink: members/ifcupidhadaheart
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/7OTvk11LRs5vqi7dAfDUB0iZjKYxWahS.jpg" alt="ifcupidhadaheart" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>1</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>16</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Club Penguin-Vlog #1 (1-October 2,2010) Part 2</li>
<img src="{{"../images/thumb/1_64580.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Justin-Bieber-That-Should-Be-Me-Lyrics</li>
                
Aww.....Justin's 'friend' left him.<br />
Poor dude ;(
                
                <br>
Added: 11-07-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Linkin78"><img src="../images/pfps/DJ5BxBSsIMdiNVtCTNGy9bhKjiMWpJfs.gif" class="profile-picture"/></a> <a href="members/Linkin78">Linkin78</a></li>
                    
    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/luckylisa1998"><img src="../images/pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" class="profile-picture"/></a> <a href="members/luckylisa1998">luckylisa1998</a></li>
                    
    <li><a href="members/ipod-app-master"><img src="../images/pfps/AjGAXyQPIRuivJzCu1bCSf0diRJvOeBM.jpg" class="profile-picture"/></a> <a href="members/ipod-app-master">ipod-app-master</a></li>
                    
    <li><a href="members/fishboy"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/fishboy">fishboy</a></li>
                    
    <li><a href="members/Wweluver123"><img src="../images/pfps/DF3ymtD6Wa9PbXta9Yb4rloI2Trs5Bq8.jpg" class="profile-picture"/></a> <a href="members/Wweluver123">Wweluver123</a></li>
                    
    <li><a href="members/xButterflyxKelsey"><img src="../images/pfps/a8Jt3VWNkORhwfYjs0uCiqj4E96LXrQv.jpg" class="profile-picture"/></a> <a href="members/xButterflyxKelsey">xButterflyxKelsey</a></li>
                    
    <li><a href="members/demiandselena"><img src="../images/pfps/aYPzGR4HyYPdbXyp2MvdE9gXXgl6mFmA.jpg" class="profile-picture"/></a> <a href="members/demiandselena">demiandselena</a></li>
                    
    <li><a href="members/curly824"><img src="../images/pfps/HdzrNCPONwGGivta2C2ypelm0iVUvyb2.jpg" class="profile-picture"/></a> <a href="members/curly824">curly824</a></li>
                    
    <li><a href="members/maya98"><img src="../images/pfps/1znKygakTBzOqg94jJqRggO0l5Ejx32o.png" class="profile-picture"/></a> <a href="members/maya98">maya98</a></li>
                    
    <li><a href="members/DXZ"><img src="../images/pfps/yfrpkqf2epcbrrsjhrod202hueqnyk2prh2zx5t3mt20bk8gznjscd0wffb3q0i588wu4gmDXZ.jpg" class="profile-picture"/></a> <a href="members/DXZ">DXZ</a></li>
                    
    <li><a href="members/sierralb"><img src="../images/pfps/WlP4ZC3SxJebIhtLpJYDSGwL1Nha2TrO.jpg" class="profile-picture"/></a> <a href="members/sierralb">sierralb</a></li>
                    
    <li><a href="members/thenandnshow"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/thenandnshow">thenandnshow</a></li>
                    
    <li><a href="members/Candy_Pop"><img src="../images/pfps/RoIiaBPvp50NLwAEH2gWNs1M0HI57AcM.png" class="profile-picture"/></a> <a href="members/Candy_Pop">Candy_Pop</a></li>
                    
    <li><a href="members/nicole101"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/nicole101">nicole101</a></li>
                    
    <li><a href="members/Glittergal8"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Glittergal8">Glittergal8</a></li>
                    
    <li><a href="members/ANGIE LUVZ U"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ANGIE LUVZ U">ANGIE LUVZ U</a></li>
                    
    <li><a href="members/MadonnaPenguin"><img src="../images/pfps/kT2PVX1fFQX72Qg0F6ZxN5yNTnlESlZ1.gif" class="profile-picture"/></a> <a href="members/MadonnaPenguin">MadonnaPenguin</a></li>
                    
    <li><a href="members/KayliStar"><img src="../images/pfps/fwCqmsXQVew4itEm1xENe9c04IfJF8yi.gif" class="profile-picture"/></a> <a href="members/KayliStar">KayliStar</a></li>
                    
    <li><a href="members/breetown"><img src="../images/pfps/4qks324y82yq8aq4oh6wpbtf2cxubzc5eko7dgwa8nr5k5zwcujrw2xn4j75a7yeibcjfzi0a4db0cfedb0.jpg" class="profile-picture"/></a> <a href="members/breetown">breetown</a></li>
                    
    <li><a href="members/WSMNetworks"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/WSMNetworks">WSMNetworks</a></li>
                    
    <li><a href="members/Demiluv"><img src="../images/pfps/s8hEcuVV37B3aXHJc84hJpfUi7rdyXEe.jpg" class="profile-picture"/></a> <a href="members/Demiluv">Demiluv</a></li>
                    
    <li><a href="members/Jewelz"><img src="../images/pfps/37puwyEEBcLIgCrC6sMRiVRuh8cdL1EC.jpg" class="profile-picture"/></a> <a href="members/Jewelz">Jewelz</a></li>
                    
    <li><a href="members/sparky3456"><img src="../images/pfps/wbplWxwHsdXYiHN0OUGGva29OYJ5SW9F.jpg" class="profile-picture"/></a> <a href="members/sparky3456">sparky3456</a></li>
                    
    <li><a href="members/katelyn99"><img src="../images/pfps/2cvcxxcydfiydobpj5mfwvtug5qfnaxdcjfx8fkakrwn5v2fpcmcv3v2yc7acudc4gy0m70heart(2).png" class="profile-picture"/></a> <a href="members/katelyn99">katelyn99</a></li>
                    
    <li><a href="members/blarg94785"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/blarg94785">blarg94785</a></li>
                    
    <li><a href="members/kiki2498"><img src="../images/pfps/Q3thjduNhFNbPVTJl21beS2vBOAaxRZD.gif" class="profile-picture"/></a> <a href="members/kiki2498">kiki2498</a></li>
                    
    <li><a href="members/Drawer L 1"><img src="../images/pfps/Vc0Pw10EVV81PVGrtjUkVZmjYJQdbBGu.jpg" class="profile-picture"/></a> <a href="members/Drawer L 1">Drawer L 1</a></li>
                    
    <li><a href="members/sombat2800"><img src="../images/pfps/oqrewtvomjwonkdy8m42pbi3ffnvcqip6zrtid5uks6w38m3ketxg2pj5356jeje30va2rsani_smb3_raccoonmariofly.gif" class="profile-picture"/></a> <a href="members/sombat2800">sombat2800</a></li>
                    
    <li><a href="members/MunchlaxTotodile"><img src="../images/pfps/fOTmnjv8uDeLJDYImI4Q8F1xL79ip1OI.jpg" class="profile-picture"/></a> <a href="members/MunchlaxTotodile">MunchlaxTotodile</a></li>
                    
    <li><a href="members/Skygal12"><img src="../images/pfps/WquY4yaGFUEJ6KXvUvZbBVjR4uTzj2w4.jpg" class="profile-picture"/></a> <a href="members/Skygal12">Skygal12</a></li>
                    
    <li><a href="members/FacebookFreak"><img src="../images/pfps/XEc46SpBs79HFhCz7JJ52izartIH6c8R.png" class="profile-picture"/></a> <a href="members/FacebookFreak">FacebookFreak</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>