---
title: iNerdiCia
sidebar: home_sidebar
hide_sidebar: true
keywords: iNerdiCia
permalink: members/iNerdiCia
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/npYSEnfjCBfihzYY1sm6WTLIon2BwmYZ.gif" alt="iNerdiCia" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>1</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>2</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Stay Drug Free Commercial</li>
<img src="{{"../images/thumb/1_7431.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Im-iNerdiCia</li>
                
hey everyone!I made this video just to say hi!I'm a new member and I just wanted you all to get to know me!
                
                <br>
Added: 10-03-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/chrismy96"><img src="../images/pfps/yexi6uph62nhsr0axe0qqwvmj8f5ntgav5isqy0kpcq7tf7gkww0kicsghot0uuoo062ovco_0d5oiYQojcYaOkM.jpg" class="profile-picture"/></a> <a href="members/chrismy96">chrismy96</a></li>
                    
    <li><a href="members/swimteam1"><img src="../images/pfps/bjignhr6zh00dbta4hnq6z7aihxys02r88vkgdh4i7wm8ek0jxfgoefvj3izt8hs730c576sign.jpg" class="profile-picture"/></a> <a href="members/swimteam1">swimteam1</a></li>
                    
    <li><a href="members/Hannah_Taylor"><img src="../images/pfps/3k3ufucvyy8opnzkfigzb2nntdw4dx8670rdmuybhwpwad5dmc3k2hykijfn5dh34z7giufHANAH.jpg" class="profile-picture"/></a> <a href="members/Hannah_Taylor">Hannah_Taylor</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>