---
title: inuko
sidebar: home_sidebar
hide_sidebar: true
keywords: inuko
permalink: members/inuko
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/E1licAx5sC4FMuqVgr3p93ijiWn3FyeH.png" alt="inuko" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>charles</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>12</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>317</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>80%</b> out of <b>5</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/SeanSanczel"><img src="../images/pfps/ty4ts7vuze7d0asmqd4vzwv2fr5wmoj5deptd8e0eb45bkfpnacdvx6ydzkpeujfzwy0w2sSeanHeadshot2.jpg" class="profile-picture"/></a> <a href="members/SeanSanczel">SeanSanczel</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/Zeus"><img src="../images/pfps/GaNXUYHWSjk6D53uXXi3OrRKRijvUudY.png" class="profile-picture"/></a> <a href="members/Zeus">Zeus</a></li>
                    
    <li><a href="members/sonic472"><img src="../images/pfps/PhLXbiuoyKKQXckj4fiDVY11QiG7idux.png" class="profile-picture"/></a> <a href="members/sonic472">sonic472</a></li>
                    
    <li><a href="members/crisabell"><img src="../images/pfps/RPTaHwB3Ml3cjK4BM5iSvJFm0WoJ1A9J.jpg" class="profile-picture"/></a> <a href="members/crisabell">crisabell</a></li>
                    
    <li><a href="members/Funnyspongebob456"><img src="../images/pfps/34ooxqquym8gk37q2d8wa0chjgeu6diz5uct8rdv0c2c5yqv2og2fi8ppd7jee87wbrwquimegaman.gif" class="profile-picture"/></a> <a href="members/Funnyspongebob456">Funnyspongebob456</a></li>
                    
    <li><a href="members/ToonLink98"><img src="../images/pfps/5ukkD0IvgoyAilTMO98JY7GdPBQ0bXqW.gif" class="profile-picture"/></a> <a href="members/ToonLink98">ToonLink98</a></li>
                    
    <li><a href="members/catty1"><img src="../images/pfps/HgbE5tnJpb5pdEsakUc9lCU3iL8n2E67.jpg" class="profile-picture"/></a> <a href="members/catty1">catty1</a></li>
                    
    <li><a href="members/kayti5"><img src="../images/pfps/qeh2fjnbqhtd7yjuo4bv5t4ujk4ctnparw0u6etkmdoh3v2hr30kku5v30vncbnrvecsjv0th_Catgirlicon.gif" class="profile-picture"/></a> <a href="members/kayti5">kayti5</a></li>
                    
    <li><a href="members/samputrasarjito"><img src="../images/pfps/wa7b2mFVWNdJrjb1rCcydLwy0F5m3gqp.jpg" class="profile-picture"/></a> <a href="members/samputrasarjito">samputrasarjito</a></li>
                    
    <li><a href="members/jomei"><img src="../images/pfps/EypCJgoR1rNQ6fPrtH2fUePhXj8lceme.png" class="profile-picture"/></a> <a href="members/jomei">jomei</a></li>
                    
    <li><a href="members/Little_Girl_Random"><img src="../images/pfps/ey76gxpurpwspdyx3x830huk2zmfb67fw3a0pom43akjba75w4wodhx35a8754bsxcjdqt6Purple Girl.jpg" class="profile-picture"/></a> <a href="members/Little_Girl_Random">Little_Girl_Random</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>