---
title: ishine13
sidebar: home_sidebar
hide_sidebar: true
keywords: ishine13
permalink: members/ishine13
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/839ejU9jlcTbz46S8HNvay2Dxtgm7Lz5.jpg" alt="ishine13" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>yolanda</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>5</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>405</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>5</b></li>
        
<li> Rating: <b>100%</b> out of <b>8</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>jesus loves the little children</li>
<img src="{{"../images/thumb/MG5Hw2uXDcmD25WwY24D.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>dog saying grace/praying</li>
<img src="{{"../images/thumb/NX5HLYqNp5udCCyP4DLx.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>lejo</li>
<img src="{{"../images/thumb/KhsYRyCJuFcoriOsWIwM.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>lejo dj</li>
<img src="{{"../images/thumb/TwHlkLRaQBGT5gUXFumf.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>lejo accordion</li>
<img src="{{"../images/thumb/MJ12BK4D5tV3bxUdZj51.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>lejo robot</li>
<img src="{{"../images/thumb/u1jjMnvQfTuyriKUbDez.jpg"}}" alt="thumbnail"/>

</ul>
            
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/cutygirl19"><img src="../images/pfps/SUbFWlPA6QkNnQ5B67bA7959PpwxvqcD.jpg" class="profile-picture"/></a> <a href="members/cutygirl19">cutygirl19</a></li>
                    
    <li><a href="members/jesuschristgirl123"><img src="../images/pfps/TRM7VGtS1DG9Zdqab7WHrpq5QygmhUBy.jpg" class="profile-picture"/></a> <a href="members/jesuschristgirl123">jesuschristgirl123</a></li>
                    
    <li><a href="members/g4gillie"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/g4gillie">g4gillie</a></li>
                    
    <li><a href="members/perrylover2627"><img src="../images/pfps/179743392.jpg" class="profile-picture"/></a> <a href="members/perrylover2627">perrylover2627</a></li>
                    
    <li><a href="members/Girlybea"><img src="../images/pfps/OOYwziVt0NVdq4EuDOnCUNV1CYz5wQhA.gif" class="profile-picture"/></a> <a href="members/Girlybea">Girlybea</a></li>
                    
    <li><a href="members/ksrandoms"><img src="../images/pfps/179742765.jpg" class="profile-picture"/></a> <a href="members/ksrandoms">ksrandoms</a></li>
                    
    <li><a href="members/mrs undercover"><img src="../images/pfps/" class="profile-picture"/></a> <a href="members/mrs undercover">mrs undercover</a></li>
                    
    <li><a href="members/JUNKMAILDRAGON"><img src="../images/pfps/0hXTdvKM2bVPuuIatgM4jxLN8XOgZTtO.jpg" class="profile-picture"/></a> <a href="members/JUNKMAILDRAGON">JUNKMAILDRAGON</a></li>
                    
    <li><a href="members/selly"><img src="../images/pfps/tzKOJiNnOn5nEb3X9N59Yv7w53Ab7H6p.jpg" class="profile-picture"/></a> <a href="members/selly">selly</a></li>
                    
    <li><a href="members/valygirl"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/valygirl">valygirl</a></li>
                    
    <li><a href="members/YKTrocks142"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/YKTrocks142">YKTrocks142</a></li>
                    
    <li><a href="members/1luckyeric"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/1luckyeric">1luckyeric</a></li>
                    
    <li><a href="members/pizzagirl"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/pizzagirl">pizzagirl</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/jesuschristgirl123" file="pfps/TRM7VGtS1DG9Zdqab7WHrpq5QygmhUBy.jpg" alt="jesuschristgirl123" %}

<p><b>Username:</b> <a href="members/jesuschristgirl123">jesuschristgirl123</a></p>

<p><b>Date:</b> 2011-03-11 23:18:25</p>

<p class="comment"><b>Comment:</b> <p>SORRY MY FIRST COMMENT I DID on your page DID NOT HAVE ANY THING ON IT<br/>
P.S. AGAIN SORRY!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/ishine13" file="pfps/839ejU9jlcTbz46S8HNvay2Dxtgm7Lz5.jpg" alt="ishine13" %}

<p><b>Username:</b> <a href="members/ishine13">ishine13</a></p>

<p><b>Date:</b> 2011-03-11 23:07:26</p>

<p class="comment"><b>Comment:</b> <p>jesus is my rock. my christ. my lord.<br/>
john 3:16 For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/KidsTubeTV" file="pfps/B9kvoPCbFjDsFTtltRKF6CyXXgkoHmfI.png" alt="KidsTubeTV" %}

<p><b>Username:</b> <a href="members/KidsTubeTV">KidsTubeTV</a></p>

<p><b>Date:</b> 2011-03-11 22:10:52</p>

<p class="comment"><b>Comment:</b> <p>  Good profile.Your channel rocks! Keep telling more about the bible.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jesuschristgirl123" file="pfps/TRM7VGtS1DG9Zdqab7WHrpq5QygmhUBy.jpg" alt="jesuschristgirl123" %}

<p><b>Username:</b> <a href="members/jesuschristgirl123">jesuschristgirl123</a></p>

<p><b>Date:</b> 2011-03-07 12:49:46</p>

<p class="comment"><b>Comment:</b> <p> </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/KidsTubeTV" file="pfps/B9kvoPCbFjDsFTtltRKF6CyXXgkoHmfI.png" alt="KidsTubeTV" %}

<p><b>Username:</b> <a href="members/KidsTubeTV">KidsTubeTV</a></p>

<p><b>Date:</b> 2011-03-04 17:35:35</p>

<p class="comment"><b>Comment:</b> <p>The movie Fireproof makes me laugh.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/KidsTubeTV" file="pfps/B9kvoPCbFjDsFTtltRKF6CyXXgkoHmfI.png" alt="KidsTubeTV" %}

<p><b>Username:</b> <a href="members/KidsTubeTV">KidsTubeTV</a></p>

<p><b>Date:</b> 2011-03-04 17:33:28</p>

<p class="comment"><b>Comment:</b> <p> Hey you watch my favorite TV show.Look at some of my videos.I have ishine.<img alt="" src="../images/fckeditor/editor/images/smiley/msn/regular_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/ishine13" file="pfps/839ejU9jlcTbz46S8HNvay2Dxtgm7Lz5.jpg" alt="ishine13" %}

<p><b>Username:</b> <a href="members/ishine13">ishine13</a></p>

<p><b>Date:</b> 2011-03-04 10:38:26</p>

<p class="comment"><b>Comment:</b> <p>KIDSTUBE IS GREAT</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>