---
title: jaidin jones
sidebar: home_sidebar
hide_sidebar: true
keywords: jaidin jones
permalink: members/jaidin jones
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/1Yfv92xQdqShuJFlp1Ot6OxMbLKefpeU.jpg" alt="jaidin jones" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Jaidin</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>12</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>51</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>1719</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>3</b></li>
        
<li> Rating: <b>72.5%</b> out of <b>40</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/vdmman"><img src="../images/pfps/xcsoluea3H3l3jYTtC2M1s9EISsqu7bf.png" class="profile-picture"/></a> <a href="members/vdmman">vdmman</a></li>
                    
    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/Killervideo"><img src="../images/pfps/Aw8NNsotAJjalGeKy2iNhkHpUQ7sJtbJ.png" class="profile-picture"/></a> <a href="members/Killervideo">Killervideo</a></li>
                    
    <li><a href="members/xolylaepic"><img src="../images/pfps/HIDNNxLBGGUk1Gun4NTUaLoZdG4b9qzE.gif" class="profile-picture"/></a> <a href="members/xolylaepic">xolylaepic</a></li>
                    
    <li><a href="members/luckylisa1998"><img src="../images/pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" class="profile-picture"/></a> <a href="members/luckylisa1998">luckylisa1998</a></li>
                    
    <li><a href="members/koolz"><img src="../images/pfps/h6ya8gqmxs6w0yrindg7mhfk08chckijh7hfcxpzgmn5b2fm3mhesopjnprqxxx4t47tsnjPicture 029.jpg" class="profile-picture"/></a> <a href="members/koolz">koolz</a></li>
                    
    <li><a href="members/DanceGyrl"><img src="../images/pfps/Tr8t0lGVH4ucmdDd9lV269oEDSJL31DM.jpg" class="profile-picture"/></a> <a href="members/DanceGyrl">DanceGyrl</a></li>
                    
    <li><a href="members/homeyg"><img src="../images/pfps/U5QZBfkwtQbN0RArXLzKd6Jncoo7BD1W.gif" class="profile-picture"/></a> <a href="members/homeyg">homeyg</a></li>
                    
    <li><a href="members/thisisalyssa"><img src="../images/pfps/cgp8uitzb8qa0g88qw2gw8xrohk0oixopdk7j2vk0djthiqy3i3ofr5uyhmboao0byxmsjubfflwlp!.jpg" class="profile-picture"/></a> <a href="members/thisisalyssa">thisisalyssa</a></li>
                    
    <li><a href="members/carolinagirl1999"><img src="../images/pfps/SiblI1lgzB7JPEtqTNQQpFlM48BExr7F.jpg" class="profile-picture"/></a> <a href="members/carolinagirl1999">carolinagirl1999</a></li>
                    
    <li><a href="members/eeveelover89642"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/eeveelover89642">eeveelover89642</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/AnimeFerret99"><img src="../images/pfps/hiVztAGo18f3hKzmE2mvfQXbTaXCnxBI.gif" class="profile-picture"/></a> <a href="members/AnimeFerret99">AnimeFerret99</a></li>
                    
    <li><a href="members/Cpfanamations"><img src="../images/pfps/rhlUVZ1ZRgoOWf9yxALq0Pli9uzQvZda.jpg" class="profile-picture"/></a> <a href="members/Cpfanamations">Cpfanamations</a></li>
                    
    <li><a href="members/videoprincess"><img src="../images/pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" class="profile-picture"/></a> <a href="members/videoprincess">videoprincess</a></li>
                    
    <li><a href="members/allybabally"><img src="../images/pfps/plOL2O1PQd523y9PQ3brOWfA2TENhp5L.jpg" class="profile-picture"/></a> <a href="members/allybabally">allybabally</a></li>
                    
    <li><a href="members/tashia"><img src="../images/pfps/P5v5Uj9yBtV8lgt9rDrfacbK6qWeO9Yd.jpg" class="profile-picture"/></a> <a href="members/tashia">tashia</a></li>
                    
    <li><a href="members/Tiggerlover100"><img src="../images/pfps/4f5vDXIlGJEKkrIfV9rYFl8OyLPUWoiO.gif" class="profile-picture"/></a> <a href="members/Tiggerlover100">Tiggerlover100</a></li>
                    
    <li><a href="members/wefunny101"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/wefunny101">wefunny101</a></li>
                    
    <li><a href="members/coolferret993"><img src="../images/pfps/l8sqZg4IxslE1nUoUy8D9AqfPPPgdlRC.jpg" class="profile-picture"/></a> <a href="members/coolferret993">coolferret993</a></li>
                    
    <li><a href="members/nicole101"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/nicole101">nicole101</a></li>
                    
    <li><a href="members/irishdancer"><img src="../images/pfps/ApIigdBwlIDohp6rfvBC8fNLkH3FNyjN.jpg" class="profile-picture"/></a> <a href="members/irishdancer">irishdancer</a></li>
                    
    <li><a href="members/AwesomeHamster"><img src="../images/pfps/1eYAWnDPPvUieECyyCegMEIJPaDm9VWz.png" class="profile-picture"/></a> <a href="members/AwesomeHamster">AwesomeHamster</a></li>
                    
    <li><a href="members/PuppyLife"><img src="../images/pfps/Dade10VNu2bkGyHlPMCc3ubF2J75mgDo.gif" class="profile-picture"/></a> <a href="members/PuppyLife">PuppyLife</a></li>
                    
    <li><a href="members/veganlroy"><img src="../images/pfps/rvn52b8svui0xderpan0fmfom3qpbbtqx6kq8jau4gkshn7ukkmqvq47hinhk6x646n0ekjTheRedGuy.gif" class="profile-picture"/></a> <a href="members/veganlroy">veganlroy</a></li>
                    
    <li><a href="members/kirby64"><img src="../images/pfps/rmcjba2u2s2a7uaynkx8ru8iug7jtkc8weiyebj5rc3qu0d7dz7sk4058wds8frvjxknwugMetalSonic.png" class="profile-picture"/></a> <a href="members/kirby64">kirby64</a></li>
                    
    <li><a href="members/Shadow_Girl"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Shadow_Girl">Shadow_Girl</a></li>
                    
    <li><a href="members/lilypad"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/lilypad">lilypad</a></li>
                    
    <li><a href="members/guitarherorox"><img src="../images/pfps/bJNuI6MpOYGPlLcVDtYn09fIUTs5eVJ5.jpg" class="profile-picture"/></a> <a href="members/guitarherorox">guitarherorox</a></li>
                    
    <li><a href="members/breetown"><img src="../images/pfps/4qks324y82yq8aq4oh6wpbtf2cxubzc5eko7dgwa8nr5k5zwcujrw2xn4j75a7yeibcjfzi0a4db0cfedb0.jpg" class="profile-picture"/></a> <a href="members/breetown">breetown</a></li>
                    
    <li><a href="members/Carey3601"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Carey3601">Carey3601</a></li>
                    
    <li><a href="members/Sirron Collins"><img src="../images/pfps/nnpBnpI8eHHk3XxCLQZto2IPm8HnxqEZ.jpg" class="profile-picture"/></a> <a href="members/Sirron Collins">Sirron Collins</a></li>
                    
    <li><a href="members/Amber_the_awesome"><img src="../images/pfps/tBNJgflKH0n2e5Mj4GoGYtXa1dLKyZGg.gif" class="profile-picture"/></a> <a href="members/Amber_the_awesome">Amber_the_awesome</a></li>
                    
    <li><a href="members/jennea900"><img src="../images/pfps/5nyaqj7bst005osyuuvyzkk3ytjzqbxmonm2vh4c0t0v7kiq32erdpkz8uqntey8q8yaetaPhoto 5.jpg" class="profile-picture"/></a> <a href="members/jennea900">jennea900</a></li>
                    
    <li><a href="members/xXxKiwiixXx"><img src="../images/pfps/QZpUXsxgHevSExt1gQ3rb1KibRcfHurV.gif" class="profile-picture"/></a> <a href="members/xXxKiwiixXx">xXxKiwiixXx</a></li>
                    
    <li><a href="members/TRIPLETS"><img src="../images/pfps/eoBp8cXUmPajsp92C0kLQhJ3lmVz0w8T.jpg" class="profile-picture"/></a> <a href="members/TRIPLETS">TRIPLETS</a></li>
                    
    <li><a href="members/Philip666"><img src="../images/pfps/Rvlz5FpzVoncu50Whf2iAFtDxhdcFy7W.jpg" class="profile-picture"/></a> <a href="members/Philip666">Philip666</a></li>
                    
    <li><a href="members/katierocks"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/katierocks">katierocks</a></li>
                    
    <li><a href="members/justin bieber"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/justin bieber">justin bieber</a></li>
                    
    <li><a href="members/lexis727"><img src="../images/pfps/t6vjf0oeq8cazbagcqghtfuoa4jp5ctn8dwe4bgi7gixhg2jv6pddard2yqx07bxcwz4x4ePhoto 41.jpg" class="profile-picture"/></a> <a href="members/lexis727">lexis727</a></li>
                    
    <li><a href="members/timorich"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/timorich">timorich</a></li>
                    
    <li><a href="members/colby2"><img src="../images/pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" class="profile-picture"/></a> <a href="members/colby2">colby2</a></li>
                    
    <li><a href="members/princess jada"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/princess jada">princess jada</a></li>
                    
    <li><a href="members/spongeybrown124"><img src="../images/pfps/JwGbD7Wb6kKPwrqXRidniEXSrC5T7KoE.gif" class="profile-picture"/></a> <a href="members/spongeybrown124">spongeybrown124</a></li>
                    
    <li><a href="members/mantawee"><img src="../images/pfps/ZlENqmYSyHBAkAS4OSOENM2hREkJLbgk.jpg" class="profile-picture"/></a> <a href="members/mantawee">mantawee</a></li>
                    
    <li><a href="members/sean568"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/sean568">sean568</a></li>
                    
    <li><a href="members/memepop1"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/memepop1">memepop1</a></li>
                    
    <li><a href="members/sydsyd123"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/sydsyd123">sydsyd123</a></li>
                    
    <li><a href="members/taylab"><img src="../images/pfps/72eeEw9sNBeLPKh1ig6ExZufJOtsxz4u.gif" class="profile-picture"/></a> <a href="members/taylab">taylab</a></li>
                    
    <li><a href="members/kdinokid2"><img src="../images/pfps/ki5wVY5ncsMfDc1s3s6MObb1mJBCrK0R.jpg" class="profile-picture"/></a> <a href="members/kdinokid2">kdinokid2</a></li>
                    
    <li><a href="members/ANGIE LUVZ U"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ANGIE LUVZ U">ANGIE LUVZ U</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/spongeybrown124" file="pfps/55Pwt9gKVRzWPol8ubBQoFLLlpSAWSGR.png" alt="spongeybrown124" %}

<p><b>Username:</b> <a href="members/spongeybrown124">spongeybrown124</a></p>

<p><b>Date:</b> 2010-08-21 19:01:20</p>

<p class="comment"><b>Comment:</b> <p> I guess Miku is right, Jaidin</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Miku" file="pfps/TTr7SJl3STElr0CN3JduZdJGYXVKjBZ3.jpg" alt="Miku" %}

<p><b>Username:</b> <a href="members/Miku">Miku</a></p>

<p><b>Date:</b> 2010-06-13 12:20:48</p>

<p class="comment"><b>Comment:</b> <p> you shouldnt put your last name online...</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/wwerocks619hardyz" file="pfps/placeholder.gif" alt="wwerocks619hardyz" %}

<p><b>Username:</b> <a href="members/wwerocks619hardyz">wwerocks619hardyz</a></p>

<p><b>Date:</b> 2010-04-19 17:21:24</p>

<p class="comment"><b>Comment:</b> <p>Hello Jaidin!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-04-06 14:24:29</p>

<p class="comment"><b>Comment:</b> <p> It's okay.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/spongeybrown124" file="pfps/55Pwt9gKVRzWPol8ubBQoFLLlpSAWSGR.png" alt="spongeybrown124" %}

<p><b>Username:</b> <a href="members/spongeybrown124">spongeybrown124</a></p>

<p><b>Date:</b> 2010-04-05 17:48:15</p>

<p class="comment"><b>Comment:</b> <p> Ok. Sorry, AND WHY DOES EVERYONE HATE ME?!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/mantawee" file="pfps/ZlENqmYSyHBAkAS4OSOENM2hREkJLbgk.jpg" alt="mantawee" %}

<p><b>Username:</b> <a href="members/mantawee">mantawee</a></p>

<p><b>Date:</b> 2010-04-05 13:49:54</p>

<p class="comment"><b>Comment:</b> <p>why dont people like manboy??</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-04-05 10:18:09</p>

<p class="comment"><b>Comment:</b> <p> Sorry Jaidin.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jaidin jones" file="pfps/1Yfv92xQdqShuJFlp1Ot6OxMbLKefpeU.jpg" alt="jaidin jones" %}

<p><b>Username:</b> <a href="members/jaidin jones">jaidin jones</a></p>

<p><b>Date:</b> 2010-04-05 07:29:28</p>

<p class="comment"><b>Comment:</b> <p>y dnt u ppl tlk on eachother's profile cuz it seems like ur talking to me cuz it's on mi profile</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-04-05 07:10:28</p>

<p class="comment"><b>Comment:</b> <p> I wasen't lauging at that. I think its cool how you spell you, OK?</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/spongeybrown124" file="pfps/55Pwt9gKVRzWPol8ubBQoFLLlpSAWSGR.png" alt="spongeybrown124" %}

<p><b>Username:</b> <a href="members/spongeybrown124">spongeybrown124</a></p>

<p><b>Date:</b> 2010-04-04 19:28:12</p>

<p class="comment"><b>Comment:</b> <p> Will you stop laughing at my grammar? It's rude.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-04-02 19:18:09</p>

<p class="comment"><b>Comment:</b> <p> LOL "U"</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/spongeybrown124" file="pfps/55Pwt9gKVRzWPol8ubBQoFLLlpSAWSGR.png" alt="spongeybrown124" %}

<p><b>Username:</b> <a href="members/spongeybrown124">spongeybrown124</a></p>

<p><b>Date:</b> 2010-04-02 14:14:42</p>

<p class="comment"><b>Comment:</b> <p> Will U be my friend?</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/manboy10" file="pfps/6J5RyJc8ILtxxVempT8fs1enaornoS0k.jpg" alt="manboy10" %}

<p><b>Username:</b> <a href="members/manboy10">manboy10</a></p>

<p><b>Date:</b> 2010-04-02 07:30:20</p>

<p class="comment"><b>Comment:</b> <p> Can we be friends, please.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/manboy10" file="pfps/6J5RyJc8ILtxxVempT8fs1enaornoS0k.jpg" alt="manboy10" %}

<p><b>Username:</b> <a href="members/manboy10">manboy10</a></p>

<p><b>Date:</b> 2010-03-31 16:53:48</p>

<p class="comment"><b>Comment:</b> <p>I'm sorry that I was a real jerk to you. But I think you should make a video. You rock!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/wwerocks619hardyz" file="pfps/placeholder.gif" alt="wwerocks619hardyz" %}

<p><b>Username:</b> <a href="members/wwerocks619hardyz">wwerocks619hardyz</a></p>

<p><b>Date:</b> 2010-03-29 09:18:38</p>

<p class="comment"><b>Comment:</b> <p>I'm sorry for not minding my own beeswax. Now what do you say we be friends again.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-03-27 11:54:01</p>

<p class="comment"><b>Comment:</b> <p> You guys should be freinds!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/manboy10" file="pfps/6J5RyJc8ILtxxVempT8fs1enaornoS0k.jpg" alt="manboy10" %}

<p><b>Username:</b> <a href="members/manboy10">manboy10</a></p>

<p><b>Date:</b> 2010-03-27 10:16:04</p>

<p class="comment"><b>Comment:</b> <p> Sorry at Nilah, not you.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-03-27 07:43:28</p>

<p class="comment"><b>Comment:</b> <p> OK, Im sorry!!!!!!!!!!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/wwerocks619hardyz" file="pfps/placeholder.gif" alt="wwerocks619hardyz" %}

<p><b>Username:</b> <a href="members/wwerocks619hardyz">wwerocks619hardyz</a></p>

<p><b>Date:</b> 2010-03-25 18:12:22</p>

<p class="comment"><b>Comment:</b> <p> Yeah!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-03-25 15:35:12</p>

<p class="comment"><b>Comment:</b> <p> You owe somebody a <span style="font-size: xx-large; ">BIG APOLIGY!!!!!!!!!</span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-03-24 14:11:44</p>

<p class="comment"><b>Comment:</b> <p> Lol but please please just remember to capitalize the c in my name, ok?</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/manboy10" file="pfps/6J5RyJc8ILtxxVempT8fs1enaornoS0k.jpg" alt="manboy10" %}

<p><b>Username:</b> <a href="members/manboy10">manboy10</a></p>

<p><b>Date:</b> 2010-03-24 08:32:15</p>

<p class="comment"><b>Comment:</b> <p> It's fine colby</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-03-24 06:05:27</p>

<p class="comment"><b>Comment:</b> <p> Opps! Sorry!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! <img alt="" src="../images/fckeditor/editor/images/smiley/msn/whatchutalkingabout_smile.gif"/> <img alt="" src="../images/fckeditor/editor/images/smiley/msn/devil_smile.gif"/><img alt="" src="../images/fckeditor/editor/images/smiley/msn/embaressed_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/wwerocks619hardyz" file="pfps/placeholder.gif" alt="wwerocks619hardyz" %}

<p><b>Username:</b> <a href="members/wwerocks619hardyz">wwerocks619hardyz</a></p>

<p><b>Date:</b> 2010-03-23 20:14:28</p>

<p class="comment"><b>Comment:</b> <p> i did too!!!!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/manboy10" file="pfps/6J5RyJc8ILtxxVempT8fs1enaornoS0k.jpg" alt="manboy10" %}

<p><b>Username:</b> <a href="members/manboy10">manboy10</a></p>

<p><b>Date:</b> 2010-03-23 19:24:04</p>

<p class="comment"><b>Comment:</b> <p> It's a girl and GREAT COLBY! <img alt="" src="../images/fckeditor/editor/images/smiley/msn/regular_smile.gif"/> why is she mean</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-03-23 17:43:41</p>

<p class="comment"><b>Comment:</b> <p>I also Flagged her account! <img alt="" src="../images/fckeditor/editor/images/smiley/msn/wink_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/manboy10" file="pfps/6J5RyJc8ILtxxVempT8fs1enaornoS0k.jpg" alt="manboy10" %}

<p><b>Username:</b> <a href="members/manboy10">manboy10</a></p>

<p><b>Date:</b> 2010-03-22 18:42:54</p>

<p class="comment"><b>Comment:</b> <p> this account will be flaged in five seconds.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/manboy10" file="pfps/6J5RyJc8ILtxxVempT8fs1enaornoS0k.jpg" alt="manboy10" %}

<p><b>Username:</b> <a href="members/manboy10">manboy10</a></p>

<p><b>Date:</b> 2010-03-21 08:40:10</p>

<p class="comment"><b>Comment:</b> <p> Yea. I only said 2 things to you. That doesn't give you the right to get totally ticked off.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/wwerocks619hardyz" file="pfps/placeholder.gif" alt="wwerocks619hardyz" %}

<p><b>Username:</b> <a href="members/wwerocks619hardyz">wwerocks619hardyz</a></p>

<p><b>Date:</b> 2010-03-19 18:16:10</p>

<p class="comment"><b>Comment:</b> <p>I agree!!!!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-03-16 06:47:57</p>

<p class="comment"><b>Comment:</b> <p> Stop Being Rude To ManBoy10!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/xolylaepic" file="pfps/ykJeBEkSPt5obBk3HcuhqI8yIl85oGPa.gif" alt="xolylaepic" %}

<p><b>Username:</b> <a href="members/xolylaepic">xolylaepic</a></p>

<p><b>Date:</b> 2010-03-13 21:54:09</p>

<p class="comment"><b>Comment:</b> <p> do youu have a fbfkids?</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jaidin jones" file="pfps/1Yfv92xQdqShuJFlp1Ot6OxMbLKefpeU.jpg" alt="jaidin jones" %}

<p><b>Username:</b> <a href="members/jaidin jones">jaidin jones</a></p>

<p><b>Date:</b> 2010-03-09 16:46:05</p>

<p class="comment"><b>Comment:</b> <p>I GO INSANE.......CRAZY SOMETIMES............TRYING 2 KEEP U FROM LOSING UR MIND....OPEN UR EYES...SEE WATS IN FRONT OF UR FACE.....SAVE ME FROM A FIST FULL OF TEARS...WE GON' FIGHT DA WAR WE GON' FIGHT DA WAR!!!!</p>
<p> </p>
<p> </p>
<p>lol its a song by maxwell</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/xolylaepic" file="pfps/ykJeBEkSPt5obBk3HcuhqI8yIl85oGPa.gif" alt="xolylaepic" %}

<p><b>Username:</b> <a href="members/xolylaepic">xolylaepic</a></p>

<p><b>Date:</b> 2010-03-04 19:57:13</p>

<p class="comment"><b>Comment:</b> <p> k!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/xolylaepic" file="pfps/ykJeBEkSPt5obBk3HcuhqI8yIl85oGPa.gif" alt="xolylaepic" %}

<p><b>Username:</b> <a href="members/xolylaepic">xolylaepic</a></p>

<p><b>Date:</b> 2010-03-04 18:10:51</p>

<p class="comment"><b>Comment:</b> <p>do u have ur vid in ur files??!? </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/xolylaepic" file="pfps/ykJeBEkSPt5obBk3HcuhqI8yIl85oGPa.gif" alt="xolylaepic" %}

<p><b>Username:</b> <a href="members/xolylaepic">xolylaepic</a></p>

<p><b>Date:</b> 2010-03-04 15:34:41</p>

<p class="comment"><b>Comment:</b> <p> idk lol sry!!!! </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jaidin jones" file="pfps/1Yfv92xQdqShuJFlp1Ot6OxMbLKefpeU.jpg" alt="jaidin jones" %}

<p><b>Username:</b> <a href="members/jaidin jones">jaidin jones</a></p>

<p><b>Date:</b> 2010-03-04 15:31:52</p>

<p class="comment"><b>Comment:</b> <p>I CNT BELIEVE WAT HAPPENED TODAY!!!!! SSSSS...... DAT WAS ALOT OF TALKING!!!!!</p>
<p> </p>
<p> </p>
<p>~xoxoxoxoxoxoxoxjaidinxoxoxoxoxoxoxo~</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jaidin jones" file="pfps/1Yfv92xQdqShuJFlp1Ot6OxMbLKefpeU.jpg" alt="jaidin jones" %}

<p><b>Username:</b> <a href="members/jaidin jones">jaidin jones</a></p>

<p><b>Date:</b> 2010-03-02 18:15:43</p>

<p class="comment"><b>Comment:</b> <p>:D :D :D :D :D :D :D :D :D :D :D :D :D :D :D :D :D :D :D :D :D :D :D :D </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/xolylaepic" file="pfps/ykJeBEkSPt5obBk3HcuhqI8yIl85oGPa.gif" alt="xolylaepic" %}

<p><b>Username:</b> <a href="members/xolylaepic">xolylaepic</a></p>

<p><b>Date:</b> 2010-03-02 17:21:18</p>

<p class="comment"><b>Comment:</b> <p><span style="color: rgb(255, 0, 255); "> wait get what?!?</span></p>
<p><span style="color: rgb(255, 0, 255); ">-xolylaepic</span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/iloveclubpenguin" file="pfps/placeholder.gif" alt="iloveclubpenguin" %}

<p><b>Username:</b> <a href="members/iloveclubpenguin">iloveclubpenguin</a></p>

<p><b>Date:</b> 2010-03-02 16:05:08</p>

<p class="comment"><b>Comment:</b> <p>hi best friend</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/xolylaepic" file="pfps/ykJeBEkSPt5obBk3HcuhqI8yIl85oGPa.gif" alt="xolylaepic" %}

<p><b>Username:</b> <a href="members/xolylaepic">xolylaepic</a></p>

<p><b>Date:</b> 2010-03-02 15:21:49</p>

<p class="comment"><b>Comment:</b> <p><span style="font-family: Arial; "><span style="color: rgb(255, 0, 255); "> awshumm &amp; idk; sorry lol i have a macbook so yeaaa</span></span></p>
<p>-xolylaepic btw. i like ur signatture :)</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/xolylaepic" file="pfps/ykJeBEkSPt5obBk3HcuhqI8yIl85oGPa.gif" alt="xolylaepic" %}

<p><b>Username:</b> <a href="members/xolylaepic">xolylaepic</a></p>

<p><b>Date:</b> 2010-03-01 14:09:53</p>

<p class="comment"><b>Comment:</b> <p> i live in Nj toooooo ;) </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/manboy10" file="pfps/6J5RyJc8ILtxxVempT8fs1enaornoS0k.jpg" alt="manboy10" %}

<p><b>Username:</b> <a href="members/manboy10">manboy10</a></p>

<p><b>Date:</b> 2010-02-28 19:22:52</p>

<p class="comment"><b>Comment:</b> <p> I hate Big Time Rush</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jaidin jones" file="pfps/1Yfv92xQdqShuJFlp1Ot6OxMbLKefpeU.jpg" alt="jaidin jones" %}

<p><b>Username:</b> <a href="members/jaidin jones">jaidin jones</a></p>

<p><b>Date:</b> 2010-02-28 18:32:24</p>

<p class="comment"><b>Comment:</b> <p>:) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :)</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/xolylaepic" file="pfps/ykJeBEkSPt5obBk3HcuhqI8yIl85oGPa.gif" alt="xolylaepic" %}

<p><b>Username:</b> <a href="members/xolylaepic">xolylaepic</a></p>

<p><b>Date:</b> 2010-02-28 18:28:36</p>

<p class="comment"><b>Comment:</b> <p>thankss soo so so so much u hit upload at the top</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/xolylaepic" file="pfps/ykJeBEkSPt5obBk3HcuhqI8yIl85oGPa.gif" alt="xolylaepic" %}

<p><b>Username:</b> <a href="members/xolylaepic">xolylaepic</a></p>

<p><b>Date:</b> 2010-02-28 18:26:08</p>

<p class="comment"><b>Comment:</b> <p> oh ok!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/xolylaepic" file="pfps/ykJeBEkSPt5obBk3HcuhqI8yIl85oGPa.gif" alt="xolylaepic" %}

<p><b>Username:</b> <a href="members/xolylaepic">xolylaepic</a></p>

<p><b>Date:</b> 2010-02-28 18:17:21</p>

<p class="comment"><b>Comment:</b> <p>thanks!!!  btw can you please please please vote my kidstube idol entry 5 stars .. or at least 4 please!! because our video was ehhh and people voted like 2 stars n 3 but if we make it to the top ten we promise to do the chicken dance in public at a super market n post it on here!!!!! thanks much :) -lyla</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jaidin jones" file="pfps/1Yfv92xQdqShuJFlp1Ot6OxMbLKefpeU.jpg" alt="jaidin jones" %}

<p><b>Username:</b> <a href="members/jaidin jones">jaidin jones</a></p>

<p><b>Date:</b> 2010-02-28 18:03:23</p>

<p class="comment"><b>Comment:</b> <p>EVERYBODY DNT BE FRIENDS WIT MANBOY CUZ EVERY LITTLE THING ANNOYES HIM LIKE HAVING 3 ACCOUNTS AND SAYING WILL U BE MI FRIEND AND STUFF HE WAS MA FRIEND BUT I X'D HIM OUTTA MI FRIENDS LIST!!! HES SOOOO JUDGEMENTAL AND HE THINKS OTHA PPL R SO MEAN!!! GETTA LOAD OF HIM</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/xolylaepic" file="pfps/ykJeBEkSPt5obBk3HcuhqI8yIl85oGPa.gif" alt="xolylaepic" %}

<p><b>Username:</b> <a href="members/xolylaepic">xolylaepic</a></p>

<p><b>Date:</b> 2010-02-28 15:19:28</p>

<p class="comment"><b>Comment:</b> <p> hii, no theyre not lol that would be funny :) they're just for like fashion ya no ;) i have red ones too ehehhe loll</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jaidin jones" file="pfps/1Yfv92xQdqShuJFlp1Ot6OxMbLKefpeU.jpg" alt="jaidin jones" %}

<p><b>Username:</b> <a href="members/jaidin jones">jaidin jones</a></p>

<p><b>Date:</b> 2010-02-27 22:10:24</p>

<p class="comment"><b>Comment:</b> <p>DNT FORGET 2 VOTE ON DA KIDSCHOICE AWARDS!!!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jaidin jones" file="pfps/1Yfv92xQdqShuJFlp1Ot6OxMbLKefpeU.jpg" alt="jaidin jones" %}

<p><b>Username:</b> <a href="members/jaidin jones">jaidin jones</a></p>

<p><b>Date:</b> 2010-02-27 21:54:23</p>

<p class="comment"><b>Comment:</b> <p>u noe da show on nick!!!! ITS DA ONLY LIFE YA GOT SO UR GONNA LIVE IT BIG TIME UH OH OH OH OH!!! dat was da song</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jaidin jones" file="pfps/1Yfv92xQdqShuJFlp1Ot6OxMbLKefpeU.jpg" alt="jaidin jones" %}

<p><b>Username:</b> <a href="members/jaidin jones">jaidin jones</a></p>

<p><b>Date:</b> 2010-02-27 21:46:30</p>

<p class="comment"><b>Comment:</b> <p>WHO WATCHES BTR!!!!! IT MEANS BIG TIME RUSH</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jaidin jones" file="pfps/1Yfv92xQdqShuJFlp1Ot6OxMbLKefpeU.jpg" alt="jaidin jones" %}

<p><b>Username:</b> <a href="members/jaidin jones">jaidin jones</a></p>

<p><b>Date:</b> 2010-02-27 20:44:01</p>

<p class="comment"><b>Comment:</b> <p>EVERYBODY TELL ME WAT U THINK ABOUT ME!!!!!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/manboy10" file="pfps/6J5RyJc8ILtxxVempT8fs1enaornoS0k.jpg" alt="manboy10" %}

<p><b>Username:</b> <a href="members/manboy10">manboy10</a></p>

<p><b>Date:</b> 2010-02-22 20:30:29</p>

<p class="comment"><b>Comment:</b> <p> 1 thing:</p>
<p>1. Why are you not friends with KTStaff</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jaidin jones" file="pfps/1Yfv92xQdqShuJFlp1Ot6OxMbLKefpeU.jpg" alt="jaidin jones" %}

<p><b>Username:</b> <a href="members/jaidin jones">jaidin jones</a></p>

<p><b>Date:</b> 2010-02-22 20:12:39</p>

<p class="comment"><b>Comment:</b> <p>C YALL TOMORROW GOTTA GET READY 4 BED!!!!!!!!<img alt="" src="../images/fckeditor/editor/images/smiley/msn/wink_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jaidin jones" file="pfps/1Yfv92xQdqShuJFlp1Ot6OxMbLKefpeU.jpg" alt="jaidin jones" %}

<p><b>Username:</b> <a href="members/jaidin jones">jaidin jones</a></p>

<p><b>Date:</b> 2010-02-22 20:10:28</p>

<p class="comment"><b>Comment:</b> <p>CHRIS BREEZY BABI!!!!!!!!! LOLOLOLOLOLOLOLOLOLOLOLOLOLOLOLOLOLOLOLOLOLOLOLOLOLOLOLOLOLOLOLOL</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jaidin jones" file="pfps/1Yfv92xQdqShuJFlp1Ot6OxMbLKefpeU.jpg" alt="jaidin jones" %}

<p><b>Username:</b> <a href="members/jaidin jones">jaidin jones</a></p>

<p><b>Date:</b> 2010-02-22 20:04:01</p>

<p class="comment"><b>Comment:</b> <p>IM CHRIS BROWN'S BIGGEST FAN!!! U WOULDNT EVEN NOE!!!!!!.........<span style="font-size: xx-small;"><span style="font-size: larger;"><span style="font-size: small;">under 1 condition!!!!!!</span></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jaidin jones" file="pfps/1Yfv92xQdqShuJFlp1Ot6OxMbLKefpeU.jpg" alt="jaidin jones" %}

<p><b>Username:</b> <a href="members/jaidin jones">jaidin jones</a></p>

<p><b>Date:</b> 2010-02-22 19:57:25</p>

<p class="comment"><b>Comment:</b> <p>me me me me me me me me me me me me me me me me me me me!!!!!!!!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/videoprincess" file="pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" alt="videoprincess" %}

<p><b>Username:</b> <a href="members/videoprincess">videoprincess</a></p>

<p><b>Date:</b> 2010-02-22 15:38:50</p>

<p class="comment"><b>Comment:</b> <p>NOO I WASN'T ONLINE.....im always logged in</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/videoprincess" file="pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" alt="videoprincess" %}

<p><b>Username:</b> <a href="members/videoprincess">videoprincess</a></p>

<p><b>Date:</b> 2010-02-22 15:36:29</p>

<p class="comment"><b>Comment:</b> <p>NOOO ILIKECLUBPEnguin is mean</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/wwerocks619hardyz" file="pfps/placeholder.gif" alt="wwerocks619hardyz" %}

<p><b>Username:</b> <a href="members/wwerocks619hardyz">wwerocks619hardyz</a></p>

<p><b>Date:</b> 2010-02-21 17:05:23</p>

<p class="comment"><b>Comment:</b> <p> ok then hahahahahahahahahahahahahahahahahahahahahahahaha    LOL !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jaidin jones" file="pfps/1Yfv92xQdqShuJFlp1Ot6OxMbLKefpeU.jpg" alt="jaidin jones" %}

<p><b>Username:</b> <a href="members/jaidin jones">jaidin jones</a></p>

<p><b>Date:</b> 2010-02-21 16:12:13</p>

<p class="comment"><b>Comment:</b> <p>hahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahaha</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jaidin jones" file="pfps/1Yfv92xQdqShuJFlp1Ot6OxMbLKefpeU.jpg" alt="jaidin jones" %}

<p><b>Username:</b> <a href="members/jaidin jones">jaidin jones</a></p>

<p><b>Date:</b> 2010-02-21 14:32:27</p>

<p class="comment"><b>Comment:</b> <p>i crack maself up!!!!!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jaidin jones" file="pfps/1Yfv92xQdqShuJFlp1Ot6OxMbLKefpeU.jpg" alt="jaidin jones" %}

<p><b>Username:</b> <a href="members/jaidin jones">jaidin jones</a></p>

<p><b>Date:</b> 2010-02-21 14:28:01</p>

<p class="comment"><b>Comment:</b> <p><span style="color: rgb(51, 51, 51);">lololololololololololololololololololololololololololololololololololololololololololololololololololololololololololololololololololololololololololololololololololo</span></p>
<p> </p>
<p><span style="color: rgb(51, 51, 51);">im laughing 4 no type of reason!!!!!!!!</span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/irishdancer" file="pfps/ApIigdBwlIDohp6rfvBC8fNLkH3FNyjN.jpg" alt="irishdancer" %}

<p><b>Username:</b> <a href="members/irishdancer">irishdancer</a></p>

<p><b>Date:</b> 2010-02-21 14:02:42</p>

<p class="comment"><b>Comment:</b> <p> At first I thought you insulted me. XD Ohhh that's the title. Okay! I like um...well I like a lot!</p>
<p>The Mysterious Benedict Society by Trenton Lee Stewart is reeeeeeally good! I love it.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/irishdancer" file="pfps/ApIigdBwlIDohp6rfvBC8fNLkH3FNyjN.jpg" alt="irishdancer" %}

<p><b>Username:</b> <a href="members/irishdancer">irishdancer</a></p>

<p><b>Date:</b> 2010-02-21 13:36:09</p>

<p class="comment"><b>Comment:</b> <p> That's what I was saying. XD</p>
<p>Do you have any favorite books?</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/irishdancer" file="pfps/ApIigdBwlIDohp6rfvBC8fNLkH3FNyjN.jpg" alt="irishdancer" %}

<p><b>Username:</b> <a href="members/irishdancer">irishdancer</a></p>

<p><b>Date:</b> 2010-02-21 13:25:38</p>

<p class="comment"><b>Comment:</b> <p> I mean like up at the right hand corner of the window it says "Welcome ____ to Kidstube.com." Mine has your name on the blank. But don't worry. I can't do anything to your account. (Well I think. I'm not going to try! ;))</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/irishdancer" file="pfps/ApIigdBwlIDohp6rfvBC8fNLkH3FNyjN.jpg" alt="irishdancer" %}

<p><b>Username:</b> <a href="members/irishdancer">irishdancer</a></p>

<p><b>Date:</b> 2010-02-21 13:12:40</p>

<p class="comment"><b>Comment:</b> <p> Oh I think it's maybe some weird typo. I'm not IN your account. But when I click to another page, BAM! (XD) Back to myself.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/irishdancer" file="pfps/ApIigdBwlIDohp6rfvBC8fNLkH3FNyjN.jpg" alt="irishdancer" %}

<p><b>Username:</b> <a href="members/irishdancer">irishdancer</a></p>

<p><b>Date:</b> 2010-02-21 12:41:34</p>

<p class="comment"><b>Comment:</b> <p> Okay I think there's a bug with this site I "magically" turn into you on here when I'm on your profile. Can you message me?</p>
<p> </p>
<p>~Irishdancer</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/videoprincess" file="pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" alt="videoprincess" %}

<p><b>Username:</b> <a href="members/videoprincess">videoprincess</a></p>

<p><b>Date:</b> 2010-02-20 21:09:13</p>

<p class="comment"><b>Comment:</b> <p>CAN WE JUST MESSAGE!!!! lol</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/videoprincess" file="pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" alt="videoprincess" %}

<p><b>Username:</b> <a href="members/videoprincess">videoprincess</a></p>

<p><b>Date:</b> 2010-02-20 18:27:31</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;">if you have been on kidstube since the last 2 years you would know kayla has been of lol and kayla_and_nailah_show is ours not hers plus she needs to go on videoprincess cus thats our show</span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/videoprincess" file="pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" alt="videoprincess" %}

<p><b>Username:</b> <a href="members/videoprincess">videoprincess</a></p>

<p><b>Date:</b> 2010-02-20 09:18:38</p>

<p class="comment"><b>Comment:</b> <p>OMG JAIDIN NO GAWD!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/videoprincess" file="pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" alt="videoprincess" %}

<p><b>Username:</b> <a href="members/videoprincess">videoprincess</a></p>

<p><b>Date:</b> 2010-02-19 20:28:33</p>

<p class="comment"><b>Comment:</b> <p>videoprincess98</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>