---
title: JandEsis
sidebar: home_sidebar
hide_sidebar: true
keywords: JandEsis
permalink: members/JandEsis
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/qAXogMeJpNJTXA1dmNUmXPipA6EhMow2.jpg" alt="JandEsis" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>1</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>12</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Many weathers</li>
<img src="{{"../images/thumb/1_63444.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Many-weathers</li>
                
its a girl(me)that was home alone during a Tornado!(with bro)so she took precautions and head to the restroom. and the weather happened in her restroom!
                
                <br>
Added: 13-09-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/tanasilly"><img src="../images/pfps/EeU6GAnKfSsbxzXYv1dU1PgL1FaKxMez.png" class="profile-picture"/></a> <a href="members/tanasilly">tanasilly</a></li>
                    
    <li><a href="members/sallymabuhay"><img src="../images/pfps/aGaEwbUH6pLAhPPs8BYeXmwTUt5P2UVS.jpg" class="profile-picture"/></a> <a href="members/sallymabuhay">sallymabuhay</a></li>
                    
    <li><a href="members/webkinzkittygirl99"><img src="../images/pfps/2lKsai8dxjwmOzFo8t968yJIgp0TAEH0.jpg" class="profile-picture"/></a> <a href="members/webkinzkittygirl99">webkinzkittygirl99</a></li>
                    
    <li><a href="members/maya98"><img src="../images/pfps/1znKygakTBzOqg94jJqRggO0l5Ejx32o.png" class="profile-picture"/></a> <a href="members/maya98">maya98</a></li>
                    
    <li><a href="members/Philip666"><img src="../images/pfps/Rvlz5FpzVoncu50Whf2iAFtDxhdcFy7W.jpg" class="profile-picture"/></a> <a href="members/Philip666">Philip666</a></li>
                    
    <li><a href="members/bob2448"><img src="../images/pfps/Qjd5MXNzxupbB8OcI9ZTOJoK9nXMG8TW.jpg" class="profile-picture"/></a> <a href="members/bob2448">bob2448</a></li>
                    
    <li><a href="members/opal_1998"><img src="../images/pfps/oUxga9SQ4YnSWFVdYo6nTRuh2veRYClC.gif" class="profile-picture"/></a> <a href="members/opal_1998">opal_1998</a></li>
                    
    <li><a href="members/Celebrian"><img src="../images/pfps/5evmGtR5RhMp0Aoq08OIhgrcmBrIbfyX.jpg" class="profile-picture"/></a> <a href="members/Celebrian">Celebrian</a></li>
                    
    <li><a href="members/lng717"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/lng717">lng717</a></li>
                    
    <li><a href="members/ChelseaBoo"><img src="../images/pfps/mbyRTcSsDmjBTK0KKLtQOKFiHhgrZ439.png" class="profile-picture"/></a> <a href="members/ChelseaBoo">ChelseaBoo</a></li>
                    
    <li><a href="members/bff__4everyone"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/bff__4everyone">bff__4everyone</a></li>
                    
    <li><a href="members/LaurenAndJen"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/LaurenAndJen">LaurenAndJen</a></li>
                    
    <li><a href="members/Miku"><img src="../images/pfps/TTr7SJl3STElr0CN3JduZdJGYXVKjBZ3.jpg" class="profile-picture"/></a> <a href="members/Miku">Miku</a></li>
                    
    <li><a href="members/PupGirlz"><img src="../images/pfps/RcFm6Cxm505LWcJppMByvMn83PukeW1t.jpg" class="profile-picture"/></a> <a href="members/PupGirlz">PupGirlz</a></li>
                    
    <li><a href="members/CollaborationGirls"><img src="../images/pfps/bWrDqXjsYC5QZ8qboVgrPYlzZNm06szX.jpg" class="profile-picture"/></a> <a href="members/CollaborationGirls">CollaborationGirls</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>