---
title: jessyandclide
sidebar: home_sidebar
hide_sidebar: true
keywords: jessyandclide
permalink: members/jessyandclide
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="jessyandclide" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>6</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>jesse and clide enter a talent contest</li>
<img src="{{"../images/thumb/1_64185.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>jesse-and-clide-intro</li>
                
jesse and clide
                
                <br>
Added: 25-09-2010
                
</ul>
                
<ul>
<li>jesse-and-clide-go-to-school</li>
                
oh no mrs. Hooper
                
                <br>
Added: 25-09-2010
                
</ul>
                
<ul>
<li>jesse-and-clide-have-a-sleepover</li>
                
good or bad?
                
                <br>
Added: 25-09-2010
                
</ul>
                
<ul>
<li>jesse-and-clide-clide-goes-missing</li>
                
If the screen goes white it is not beacause it is not working but because i used a 'blinder' whitch is a sheet of white paper infront of the screen
                
                <br>
Added: 25-09-2010
                
</ul>
                
<ul>
<li>jesse-and-clide-enter-a-talent-contest</li>
                
who will win? jesse? clide? wolfie? milkie? bonzo? giraffy? please feel free to comment who you think should have been the winner
                
                <br>
Added: 25-09-2010
                
</ul>
                
<ul>
<li>jesse-and-clide-enter-a-talent-contest</li>
                
who will win? jesse? clide? wolfie? milkie? bonzo? giraffy? please feel free to comment who you think should have been the winner
                
                <br>
Added: 25-09-2010
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>