---
title: jizzo
sidebar: home_sidebar
hide_sidebar: true
keywords: jizzo
permalink: members/jizzo
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="jizzo" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>3</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>1</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Lego Randomness #3 Trailor</li>
<img src="{{"../images/thumb/1_2852.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>lego-randomness-1</li>
                
This Is  Just A Lego Stop Motion randomness. I Will only be putting stop motions from now on.
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>lego-randomness-2</li>
                
this is the second vid in the lego randomness series. sorry it took soooo long the website wouldn't work and then the upload did that.
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>LEGOLYMPICS-Gymnastics</li>
                
The Legolympics Are here! and our conestants have been training (being moved around by giant NON plastic hands) their whole lives... and it all comes down to this.... who will win the gold in this event..... GYMNASTICS?
                
                <br>
Added: 31-03-2008
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>