---
title: JJAG127
sidebar: home_sidebar
hide_sidebar: true
keywords: JJAG127
permalink: members/JJAG127
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/4tzqrcvhah4bpoqdu7sdkr0bpc50k2ggm7u27g75p262en3ykkzwzqvesp52ia8s5ri3wgzninja-kitten-defeats-dog-with-google-search-skills-always.jpg" alt="JJAG127" max-width="100"%}
            
    {% include inline_image.html file="pfps/4tzqrcvhah4bpoqdu7sdkr0bpc50k2ggm7u27g75p262en3ykkzwzqvesp52ia8s5ri3wgzninja-kitten-defeats-dog-with" alt="JJAG127" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>5</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>4</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Nintendo 64 Kid Remix</li>
<img src="{{"../images/thumb/1_6200.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>My-Spoon-is-Too-Big</li>
                
My spoon is too big, my spoon is too big, my spoon is too big. I am a banana.
                
                <br>
Added: 27-01-2009
                
</ul>
                
<ul>
<li>egg-song</li>
                
&amp;quot;I love egg&amp;quot; song
                
                <br>
Added: 04-02-2009
                
</ul>
                
<ul>
<li>The Gummy Bear Song</li>
                
GUmmy bears.....i like them.... who doesnt!!!!!!
                
                <br>
Added: 08-02-2009
                
</ul>
                
<ul>
<li>Banana-Phone</li>
                
banana phone??? hmmmm........GOOD IDEA!!!!!
                
                <br>
Added: 09-02-2009
                
</ul>
                
<ul>
<li>Nintendo-64-Kid-Remix</li>
                
Nintendo 64......... reminds me of when i was a kid...... wait i am!
                
                <br>
Added: 11-02-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/cheesemeface11"><img src="../images/pfps/6xhid4cfbyu7t4hhmwwhkdxo2f2vqhnn6ttaowfqjxm3qtazfu8qxu4o0u7h3msx3bvhxyvcheese.jpg" class="profile-picture"/></a> <a href="members/cheesemeface11">cheesemeface11</a></li>
                    
    <li><a href="members/PleaseEnterNameHere"><img src="../images/pfps/zysx7qoufvm37fm35qisazveqfc4aw7xjqkh4y2aic0gfc7aqhso7csmhshfgd2qrdwmznk1HaDJAmQjIeZnXu30d3p.jpg" class="profile-picture"/></a> <a href="members/PleaseEnterNameHere">PleaseEnterNameHere</a></li>
                    
    <li><a href="members/Thunderbug"><img src="../images/pfps/gxf70m237dqkpskorwnqjji86gka0iu76x3xbvp6w6idprp4f2jnasj4wt4o2nmycdkbzz7spongebob.jpg" class="profile-picture"/></a> <a href="members/Thunderbug">Thunderbug</a></li>
                    
    <li><a href="members/Glittergal8"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Glittergal8">Glittergal8</a></li>
                    
    <li><a href="members/cutegirl1"><img src="../images/pfps/80yas853qjkfui25p3qszn2bwwipbiq77e6qb2jrbsxvyorfh5v5jo668ej7kx4i20y3r6m3.jpg" class="profile-picture"/></a> <a href="members/cutegirl1">cutegirl1</a></li>
                    
    <li><a href="members/Amber_Nichole"><img src="../images/pfps/ddck6iea847v4xnor5k0p70586v8uapycp76xc6v52fxqtc5nowzjovgjff4etrg8odvo7hCheer Sensations.jpg" class="profile-picture"/></a> <a href="members/Amber_Nichole">Amber_Nichole</a></li>
                    
    <li><a href="members/BFFS_Crew"><img src="../images/pfps/2gatv3ig6gzgniiiqbjxnuqwdgv2wxvo4u7qoeujmkqysw56vfua0aw2ggt44fgzzeefjzpcamera.jpg" class="profile-picture"/></a> <a href="members/BFFS_Crew">BFFS_Crew</a></li>
                    
    <li><a href="members/koney94503"><img src="../images/pfps/xznuf4z54ut2k6e7phobdoq5qaau7f5v6iece378oszxn4v0a72dng70h7nfbiy5p48tx4rsunday funny.jpg" class="profile-picture"/></a> <a href="members/koney94503">koney94503</a></li>
                    
    <li><a href="members/monkeyrfl31"><img src="../images/pfps/xfua67cjvbiswwzvw07kbr3p8i3idfb2ktzfs2pe2vunjia4a7dcn6pjdisgnt6xev4uohwmonkey.gif" class="profile-picture"/></a> <a href="members/monkeyrfl31">monkeyrfl31</a></li>
                    
    <li><a href="members/fluffy226"><img src="../images/pfps/xp7yr8v4nogqs2uk8iqqh2dqruecfhu0wrqeqa62pdi753h2axjhpkx630788sxt7cvpdsfmushrums.jpg" class="profile-picture"/></a> <a href="members/fluffy226">fluffy226</a></li>
                    
    <li><a href="members/pleaseenternamehere"><img src="../images/pfps/zysx7qoufvm37fm35qisazveqfc4aw7xjqkh4y2aic0gfc7aqhso7csmhshfgd2qrdwmznk1HaDJAmQjIeZnXu30d3p.jpg" class="profile-picture"/></a> <a href="members/pleaseenternamehere">pleaseenternamehere</a></li>
                    
    <li><a href="members/SuperJude"><img src="../images/pfps/rys6qyyugcw7tberpyir707vbwr3mfc02sxgfm0momh5nmm38ui6jesiy7abbc22up8z0yasuperman.jpg" class="profile-picture"/></a> <a href="members/SuperJude">SuperJude</a></li>
                    
    <li><a href="members/Hannah_Taylor"><img src="../images/pfps/3k3ufucvyy8opnzkfigzb2nntdw4dx8670rdmuybhwpwad5dmc3k2hykijfn5dh34z7giufHANAH.jpg" class="profile-picture"/></a> <a href="members/Hannah_Taylor">Hannah_Taylor</a></li>
                    
    <li><a href="members/acting_girl615"><img src="../images/pfps/b20k5cygnaq5d7bnbhy7ixyohcuhc6gcw7ks8bwmbdhfagqbof6x4wccyukyppydkbvhajsToco Toucan.jpg" class="profile-picture"/></a> <a href="members/acting_girl615">acting_girl615</a></li>
                    
    <li><a href="members/laloca"><img src="../images/pfps/rdyuoiz6ht4br6tzaepxorhejzkvd44t5tci33f8k8725rs5w8r8oydxomhrgc8cwciq3pnMCUt8xiQG0Sx.jpg" class="profile-picture"/></a> <a href="members/laloca">laloca</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>