---
title: jordanrausch
sidebar: home_sidebar
hide_sidebar: true
keywords: jordanrausch
permalink: members/jordanrausch
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/placeholder.gif" alt="jordanrausch" max-width="100"%}
            
    {% include inline_image.html file="pfps/179736773.jpg" alt="jordanrausch" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>jordan</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>17</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>79</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>374</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>96.67%</b> out of <b>6</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>my dsi viedo</li>
<img src="{{"../images/thumb/ptEJUzzlCGbaYfTTl3oU.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>mario kart roblox dash by crazyblox</li>
<img src="{{"../images/thumb/1_84462.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Me bowling</li>
<img src="{{"../images/thumb/1_130313.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>roblox</li>
                
bowling
                
                <br>
Added: 19-06-2011
                
</ul>
                
<ul>
<li>me-bowling</li>
                
its so cool
                
                <br>
Added: 04-07-2011
                
</ul>
                
<ul>
<li>roblox-bowling-alley</li>
                
and its called bowling alley
                
                <br>
Added: 13-08-2011
                
</ul>
                
<ul>
<li>roblox-bowling-center</li>
                
by snake88usa
                
                <br>
Added: 06-02-2012
                
</ul>
                
<ul>
<li>roblox</li>
                
hope you comment and subscribe
                
                <br>
Added: 12-02-2012
                
</ul>
                
<ul>
<li>funny-roblox</li>
                
here it is
                
                <br>
Added: 23-02-2012
                
</ul>
                
<ul>
<li>mario-kart-roblox-dash-by-crazyblox</li>
                
this is a mario kart roblox dash witch means there still adding more itims and its a beta test right now
                
                <br>
Added: 25-04-2012
                
</ul>
                
<ul>
<li>jrbowling1997s-video</li>
                
lets do this
                
                <br>
Added: 11-07-2012
                
</ul>
                
<ul>
<li>roblox-trains</li>
                
please rate comment and subscribe
                
                <br>
Added: 16-08-2012
                
</ul>
                
<ul>
<li>cosmic-bowling-on-roblox</li>
                
yay
                
                <br>
Added: 09-09-2012
                
</ul>
                
<ul>
<li>Me-bowling</li>
                
Bowling is super fun
                
                <br>
Added: 18-07-2013
                
</ul>
                
<ul>
<li>Me-bowling</li>
                
Bowling is so much fun
                
                <br>
Added: 30-07-2013
                
</ul>
                
<ul>
<li>Old-kidstube-users</li>
                
Old kidstube coming this week
                
                <br>
Added: 13-08-2013
                
</ul>
                
<ul>
<li>roblox-bullding</li>
                
he he please comment
                
                <br>
Added: 19-10-2011
                
</ul>
                
<ul>
<li>look-on-my-shirt-on-rolbox</li>
                
plz come here k
                
                <br>
Added: 23-02-2012
                
</ul>
                
<ul>
<li>ro-bowling-with-my-frined</li>
                
look at this video
                
                <br>
Added: 15-03-2012
                
</ul>
                
<ul>
<li>bowling</li>
                
plz comment rate subscribe
                
                <br>
Added: 06-04-2012
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/tryjonathantrey13"><img src="../images/pfps/t7rtCXmVYx00ISeVPtq6TWkKlPECqdaZ.jpg" class="profile-picture"/></a> <a href="members/tryjonathantrey13">tryjonathantrey13</a></li>
                    
    <li><a href="members/pandaboy"><img src="../images/pfps/sVRJnCwUQP7EBaJ0gYufEYssKaPrCDfu.png" class="profile-picture"/></a> <a href="members/pandaboy">pandaboy</a></li>
                    
    <li><a href="members/Buns"><img src="../images/pfps/ATHqW8WhHvD8lsg5A4vB0wuy3BS1oQAn.gif" class="profile-picture"/></a> <a href="members/Buns">Buns</a></li>
                    
    <li><a href="members/toadsworth"><img src="../images/pfps/oDPaRQU2hUebOT9UKJGPaWw0kQ5Ykd3M.gif" class="profile-picture"/></a> <a href="members/toadsworth">toadsworth</a></li>
                    
    <li><a href="members/Earthbounded"><img src="../images/pfps/AfeSSj4uyTRSgWWomIF0FQAZXJOZa5vZ.gif" class="profile-picture"/></a> <a href="members/Earthbounded">Earthbounded</a></li>
                    
    <li><a href="members/AntwonJaxn"><img src="../images/pfps/8KDDiwl4585CzHPuKHzQwPgo5fTjXmgW.jpg" class="profile-picture"/></a> <a href="members/AntwonJaxn">AntwonJaxn</a></li>
                    
    <li><a href="members/Mario Maniac 64"><img src="../images/pfps/xv2p6y9APxgVNv2SObp3Y1PY8py0p3Xa.jpg" class="profile-picture"/></a> <a href="members/Mario Maniac 64">Mario Maniac 64</a></li>
                    
    <li><a href="members/warriorchikorita"><img src="../images/pfps/28gM6PfjwuMWmwdLAPjA7byq3YJCTtIJ.jpg" class="profile-picture"/></a> <a href="members/warriorchikorita">warriorchikorita</a></li>
                    
    <li><a href="members/dragon warrior"><img src="../images/pfps/CUYnvPjK9PnlCqF8XCJ2pHu4qWtMjuVm.gif" class="profile-picture"/></a> <a href="members/dragon warrior">dragon warrior</a></li>
                    
    <li><a href="members/tiffadventures"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/tiffadventures">tiffadventures</a></li>
                    
    <li><a href="members/coolkidnic"><img src="../images/pfps/d4z3YLFeynKJupaXES4dfJ09bUSW7HWa.gif" class="profile-picture"/></a> <a href="members/coolkidnic">coolkidnic</a></li>
                    
    <li><a href="members/thebatman6789"><img src="../images/pfps/e5xO6BG37Xg4XJbH6EPxq3wMVv7Ehga9.jpg" class="profile-picture"/></a> <a href="members/thebatman6789">thebatman6789</a></li>
                    
    <li><a href="members/Easterlilly"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Easterlilly">Easterlilly</a></li>
                    
    <li><a href="members/crzy4evekelsey"><img src="../images/pfps/BQzlgbvxZFxarSh58kiwp8IbSNsR3YB4.jpg" class="profile-picture"/></a> <a href="members/crzy4evekelsey">crzy4evekelsey</a></li>
                    
    <li><a href="members/Jessica1996"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Jessica1996">Jessica1996</a></li>
                    
    <li><a href="members/mitc5060"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/mitc5060">mitc5060</a></li>
                    
    <li><a href="members/AWESOMERKO224"><img src="../images/pfps/179755907.jpg" class="profile-picture"/></a> <a href="members/AWESOMERKO224">AWESOMERKO224</a></li>
                    
    <li><a href="members/Mac_OS_X_Drawer"><img src="../images/pfps/PAzSbUjlRg20olDg9xXOrZ6xpuuEb4dr.png" class="profile-picture"/></a> <a href="members/Mac_OS_X_Drawer">Mac_OS_X_Drawer</a></li>
                    
    <li><a href="members/BJSimpson"><img src="../images/pfps/Q75qUnGeDPu0Y9diD2USecHYLd7IuQk9.jpg" class="profile-picture"/></a> <a href="members/BJSimpson">BJSimpson</a></li>
                    
    <li><a href="members/areuok"><img src="../images/pfps/htz3PDp6OnYaKqPxUwarhmDJGrtwwoTT.jpg" class="profile-picture"/></a> <a href="members/areuok">areuok</a></li>
                    
    <li><a href="members/Luckyk"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/Luckyk">Luckyk</a></li>
                    
    <li><a href="members/pokemonmaster14478"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/pokemonmaster14478">pokemonmaster14478</a></li>
                    
    <li><a href="members/narutofangirl99"><img src="../images/pfps/P6t8E5z255qPIrcTCLEJpTDXpx8GPBUf.jpg" class="profile-picture"/></a> <a href="members/narutofangirl99">narutofangirl99</a></li>
                    
    <li><a href="members/MARVEL"><img src="../images/pfps/179744138.jpg" class="profile-picture"/></a> <a href="members/MARVEL">MARVEL</a></li>
                    
    <li><a href="members/Buns_2"><img src="../images/pfps/" class="profile-picture"/></a> <a href="members/Buns_2">Buns_2</a></li>
                    
    <li><a href="members/lizardman"><img src="../images/pfps/POh6Nt98ddY9gegvCl9QmE86TnBR1yKE.jpg" class="profile-picture"/></a> <a href="members/lizardman">lizardman</a></li>
                    
    <li><a href="members/lem10"><img src="../images/pfps/179743380.jpg" class="profile-picture"/></a> <a href="members/lem10">lem10</a></li>
                    
    <li><a href="members/nerflegodude153"><img src="../images/pfps/179749155.gif" class="profile-picture"/></a> <a href="members/nerflegodude153">nerflegodude153</a></li>
                    
    <li><a href="members/jessica0211"><img src="../images/pfps/23365.jpg" class="profile-picture"/></a> <a href="members/jessica0211">jessica0211</a></li>
                    
    <li><a href="members/Kalika"><img src="../images/pfps/179749566.png" class="profile-picture"/></a> <a href="members/Kalika">Kalika</a></li>
                    
    <li><a href="members/justintrev"><img src="../images/pfps/179744947.jpg" class="profile-picture"/></a> <a href="members/justintrev">justintrev</a></li>
                    
    <li><a href="members/clemson10129"><img src="../images/pfps/179744383.jpg" class="profile-picture"/></a> <a href="members/clemson10129">clemson10129</a></li>
                    
    <li><a href="members/Sonic759"><img src="../images/pfps/179749180.png" class="profile-picture"/></a> <a href="members/Sonic759">Sonic759</a></li>
                    
    <li><a href="members/monsterhighgirl123"><img src="../images/pfps/179749324.png" class="profile-picture"/></a> <a href="members/monsterhighgirl123">monsterhighgirl123</a></li>
                    
    <li><a href="members/Atlantis"><img src="../images/pfps/PI3KQxKlLZJ2F84IO983LYqnFSkQ0sbG.jpg" class="profile-picture"/></a> <a href="members/Atlantis">Atlantis</a></li>
                    
    <li><a href="members/tiatulip44"><img src="../images/pfps/179750152.jpg" class="profile-picture"/></a> <a href="members/tiatulip44">tiatulip44</a></li>
                    
    <li><a href="members/Legoboy05"><img src="../images/pfps/179750193.jpg" class="profile-picture"/></a> <a href="members/Legoboy05">Legoboy05</a></li>
                    
    <li><a href="members/smiley20"><img src="../images/pfps/179750238.jpg" class="profile-picture"/></a> <a href="members/smiley20">smiley20</a></li>
                    
    <li><a href="members/Thearmy12345"><img src="../images/pfps/245JGB9c30f2RkTxW1NURsXXYqiHLfBE.jpg" class="profile-picture"/></a> <a href="members/Thearmy12345">Thearmy12345</a></li>
                    
    <li><a href="members/veganlroy"><img src="../images/pfps/rvn52b8svui0xderpan0fmfom3qpbbtqx6kq8jau4gkshn7ukkmqvq47hinhk6x646n0ekjTheRedGuy.gif" class="profile-picture"/></a> <a href="members/veganlroy">veganlroy</a></li>
                    
    <li><a href="members/urbanlegends"><img src="../images/pfps/179751376.jpg" class="profile-picture"/></a> <a href="members/urbanlegends">urbanlegends</a></li>
                    
    <li><a href="members/Magicschoolbus862"><img src="../images/pfps/179750918.jpg" class="profile-picture"/></a> <a href="members/Magicschoolbus862">Magicschoolbus862</a></li>
                    
    <li><a href="members/Italia"><img src="../images/pfps/179750657.gif" class="profile-picture"/></a> <a href="members/Italia">Italia</a></li>
                    
    <li><a href="members/MoshiTV"><img src="../images/pfps/179751609.jpg" class="profile-picture"/></a> <a href="members/MoshiTV">MoshiTV</a></li>
                    
    <li><a href="members/nickoliny"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/nickoliny">nickoliny</a></li>
                    
    <li><a href="members/kook202"><img src="../images/pfps/179752051.png" class="profile-picture"/></a> <a href="members/kook202">kook202</a></li>
                    
    <li><a href="members/finekia"><img src="../images/pfps/" class="profile-picture"/></a> <a href="members/finekia">finekia</a></li>
                    
    <li><a href="members/Nabari_No_Ou"><img src="../images/pfps/179752349.png" class="profile-picture"/></a> <a href="members/Nabari_No_Ou">Nabari_No_Ou</a></li>
                    
    <li><a href="members/iloveharrypotter"><img src="../images/pfps/" class="profile-picture"/></a> <a href="members/iloveharrypotter">iloveharrypotter</a></li>
                    
    <li><a href="members/cactusminute"><img src="../images/pfps/179752321.jpg" class="profile-picture"/></a> <a href="members/cactusminute">cactusminute</a></li>
                    
    <li><a href="members/TAKETWOWITHLULU"><img src="../images/pfps/179747526.jpg" class="profile-picture"/></a> <a href="members/TAKETWOWITHLULU">TAKETWOWITHLULU</a></li>
                    
    <li><a href="members/Bittybit101"><img src="../images/pfps/179744844.jpg" class="profile-picture"/></a> <a href="members/Bittybit101">Bittybit101</a></li>
                    
    <li><a href="members/weirdboy2"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/weirdboy2">weirdboy2</a></li>
                    
    <li><a href="members/ilovegumballs99"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/ilovegumballs99">ilovegumballs99</a></li>
                    
    <li><a href="members/star2behold"><img src="../images/pfps/179752752.jpg" class="profile-picture"/></a> <a href="members/star2behold">star2behold</a></li>
                    
    <li><a href="members/k4den"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/k4den">k4den</a></li>
                    
    <li><a href="members/alyssab"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/alyssab">alyssab</a></li>
                    
    <li><a href="members/PrettyGirl12345"><img src="../images/pfps/179758299.jpg" class="profile-picture"/></a> <a href="members/PrettyGirl12345">PrettyGirl12345</a></li>
                    
    <li><a href="members/Godsgirl777"><img src="../images/pfps/179752404.jpg" class="profile-picture"/></a> <a href="members/Godsgirl777">Godsgirl777</a></li>
                    
    <li><a href="members/AquaGGR"><img src="../images/pfps/179767824.png" class="profile-picture"/></a> <a href="members/AquaGGR">AquaGGR</a></li>
                    
    <li><a href="members/sonicherofan2003"><img src="../images/pfps/179749098.jpg" class="profile-picture"/></a> <a href="members/sonicherofan2003">sonicherofan2003</a></li>
                    
    <li><a href="members/SpartanMaster81"><img src="../images/pfps/" class="profile-picture"/></a> <a href="members/SpartanMaster81">SpartanMaster81</a></li>
                    
    <li><a href="members/EvansNo1"><img src="../images/pfps/" class="profile-picture"/></a> <a href="members/EvansNo1">EvansNo1</a></li>
                    
    <li><a href="members/Christiangirl777"><img src="../images/pfps/179752745.jpg" class="profile-picture"/></a> <a href="members/Christiangirl777">Christiangirl777</a></li>
                    
    <li><a href="members/woowoo"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/woowoo">woowoo</a></li>
                    
    <li><a href="members/Theagameguy"><img src="../images/pfps/179759561.png" class="profile-picture"/></a> <a href="members/Theagameguy">Theagameguy</a></li>
                    
    <li><a href="members/lilkid3929"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/lilkid3929">lilkid3929</a></li>
                    
    <li><a href="members/Sweetgirl12"><img src="../images/pfps/179751299.jpg" class="profile-picture"/></a> <a href="members/Sweetgirl12">Sweetgirl12</a></li>
                    
    <li><a href="members/flandrescarletlover"><img src="../images/pfps/179752918.jpg" class="profile-picture"/></a> <a href="members/flandrescarletlover">flandrescarletlover</a></li>
                    
    <li><a href="members/ClubPenguinKidsTuber"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/ClubPenguinKidsTuber">ClubPenguinKidsTuber</a></li>
                    
    <li><a href="members/CrazyComputerGuy"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/CrazyComputerGuy">CrazyComputerGuy</a></li>
                    
    <li><a href="members/ashcake801"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/ashcake801">ashcake801</a></li>
                    
    <li><a href="members/ApexPredatorRKO220"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/ApexPredatorRKO220">ApexPredatorRKO220</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/Buns" file="pfps/JFCzhGYVTipqq9gXYlRMFydtpIlZcjKl.jpg" alt="Buns" %}

<p><b>Username:</b> <a href="members/Buns">Buns</a></p>

<p><b>Date:</b> 2011-04-21 20:48:18</p>

<p class="comment"><b>Comment:</b> <p>I'm doing good J R :</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jordanrausch" file="pfps/placeholder.gif" alt="jordanrausch" %}

<p><b>Username:</b> <a href="members/jordanrausch">jordanrausch</a></p>

<p><b>Date:</b> 2011-04-21 19:48:34</p>

<p class="comment"><b>Comment:</b> <p>lol no one is cometing</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jordanrausch" file="pfps/placeholder.gif" alt="jordanrausch" %}

<p><b>Username:</b> <a href="members/jordanrausch">jordanrausch</a></p>

<p><b>Date:</b> 2011-04-19 21:28:26</p>

<p class="comment"><b>Comment:</b> <p>he he</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Buns" file="pfps/JFCzhGYVTipqq9gXYlRMFydtpIlZcjKl.jpg" alt="Buns" %}

<p><b>Username:</b> <a href="members/Buns">Buns</a></p>

<p><b>Date:</b> 2011-04-17 17:11:51</p>

<p class="comment"><b>Comment:</b> <p>No</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/pandaboy" file="pfps/Cf57WjZhJzgd2nBZK2b3BlRXZP0C2Aj4.gif" alt="pandaboy" %}

<p><b>Username:</b> <a href="members/pandaboy">pandaboy</a></p>

<p><b>Date:</b> 2011-04-12 21:31:34</p>

<p class="comment"><b>Comment:</b> <p>@jordanrausch<br/>
No, I don't have the 3DS :(</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Buns" file="pfps/JFCzhGYVTipqq9gXYlRMFydtpIlZcjKl.jpg" alt="Buns" %}

<p><b>Username:</b> <a href="members/Buns">Buns</a></p>

<p><b>Date:</b> 2011-04-12 06:34:59</p>

<p class="comment"><b>Comment:</b> <p>I'm doing great J R :)</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Buns" file="pfps/JFCzhGYVTipqq9gXYlRMFydtpIlZcjKl.jpg" alt="Buns" %}

<p><b>Username:</b> <a href="members/Buns">Buns</a></p>

<p><b>Date:</b> 2011-04-10 11:58:40</p>

<p class="comment"><b>Comment:</b> <p>Thank you for the comment on my profile page J R :)</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jordanrausch" file="pfps/placeholder.gif" alt="jordanrausch" %}

<p><b>Username:</b> <a href="members/jordanrausch">jordanrausch</a></p>

<p><b>Date:</b> 2011-04-04 19:04:34</p>

<p class="comment"><b>Comment:</b> <p><img alt="" src="../images/fckeditor/editor/images/smiley/msn/shades_smile.gif"/></p>
<p> </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jordanrausch" file="pfps/placeholder.gif" alt="jordanrausch" %}

<p><b>Username:</b> <a href="members/jordanrausch">jordanrausch</a></p>

<p><b>Date:</b> 2011-04-04 19:04:14</p>

<p class="comment"><b>Comment:</b> <p> :D</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Buns" file="pfps/JFCzhGYVTipqq9gXYlRMFydtpIlZcjKl.jpg" alt="Buns" %}

<p><b>Username:</b> <a href="members/Buns">Buns</a></p>

<p><b>Date:</b> 2011-04-04 06:42:44</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;">I'm doing very well J r<img alt="" src="../images/fckeditor/editor/images/smiley/msn/shades_smile.gif"/></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jordanrausch" file="pfps/placeholder.gif" alt="jordanrausch" %}

<p><b>Username:</b> <a href="members/jordanrausch">jordanrausch</a></p>

<p><b>Date:</b> 2011-03-29 19:34:32</p>

<p class="comment"><b>Comment:</b> <p> hi everone how are you all doing</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/coolkidnic" file="pfps/d4z3YLFeynKJupaXES4dfJ09bUSW7HWa.gif" alt="coolkidnic" %}

<p><b>Username:</b> <a href="members/coolkidnic">coolkidnic</a></p>

<p><b>Date:</b> 2011-02-26 22:22:57</p>

<p class="comment"><b>Comment:</b> <p></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jordanrausch" file="pfps/placeholder.gif" alt="jordanrausch" %}

<p><b>Username:</b> <a href="members/jordanrausch">jordanrausch</a></p>

<p><b>Date:</b> 2011-02-21 14:28:16</p>

<p class="comment"><b>Comment:</b> <p><img alt="" src="../images/fckeditor/editor/images/smiley/msn/teeth_smile.gif"/> </p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>