---
title: justin2709
sidebar: home_sidebar
hide_sidebar: true
keywords: justin2709
permalink: members/justin2709
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/kwPXUvM6Cv3UWNUQeqp19duMnmt8Nbsv.jpg" alt="justin2709" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b></b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>12</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>8</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>141</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>5</b></li>
        
<li> Rating: <b>60%</b> out of <b>2</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>wacky bros</li>
<img src="{{"../images/thumb/1_125446.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>cow-lovers</li>
                
for all you cow lovers out there
                
                <br>
Added: 22-11-2011
                
</ul>
                
<ul>
<li>cow-lovers-2</li>
                
more cows
                
                <br>
Added: 22-11-2011
                
</ul>
                
<ul>
<li>cowlovers</li>
                
cows are awsome
                
                <br>
Added: 27-11-2011
                
</ul>
                
<ul>
<li>cow-lovers</li>
                
more cows
                
                <br>
Added: 27-11-2011
                
</ul>
                
<ul>
<li>cow-lovers</li>
                
more cows
                
                <br>
Added: 27-11-2011
                
</ul>
                
<ul>
<li>cowlovers</li>
                
cows rock
                
                <br>
Added: 23-12-2011
                
</ul>
                
<ul>
<li>cow-lovers</li>
                
ccccccccccccccoooooooooooooooooowwwwwwwwwwwwwwwwwwwwwwwwwwwwwssssssssssssssss
                
                <br>
Added: 31-12-2011
                
</ul>
                
<ul>
<li>wierd-al-rocks</li>
                
i am the best singer ha ha ha
                
                <br>
Added: 06-01-2012
                
</ul>
                
<ul>
<li>cow-lovers</li>
                
special guest star is here
                
                <br>
Added: 07-01-2012
                
</ul>
                
<ul>
<li>cowlovers</li>
                
more cows
                
                <br>
Added: 19-01-2012
                
</ul>
                
<ul>
<li>cowlovers</li>
                
awesome
                
                <br>
Added: 23-01-2012
                
</ul>
                
<ul>
<li>cowlovers</li>
                
wierdo mania
                
                <br>
Added: 19-06-2012
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/SeanSanczel"><img src="../images/pfps/ty4ts7vuze7d0asmqd4vzwv2fr5wmoj5deptd8e0eb45bkfpnacdvx6ydzkpeujfzwy0w2sSeanHeadshot2.jpg" class="profile-picture"/></a> <a href="members/SeanSanczel">SeanSanczel</a></li>
                    
    <li><a href="members/jon4me"><img src="../images/pfps/OPoYgKa0DcwokC4zuFLm3AlgzetOAeAM.jpg" class="profile-picture"/></a> <a href="members/jon4me">jon4me</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/sallymabuhay"><img src="../images/pfps/aGaEwbUH6pLAhPPs8BYeXmwTUt5P2UVS.jpg" class="profile-picture"/></a> <a href="members/sallymabuhay">sallymabuhay</a></li>
                    
    <li><a href="members/xImScenex"><img src="../images/pfps/fbaDhprQ1qZJgJqSCOlotjRfpwEwP4Rv.jpg" class="profile-picture"/></a> <a href="members/xImScenex">xImScenex</a></li>
                    
    <li><a href="members/Gamergirlstudios"><img src="../images/pfps/AVACpeJkS0j7kCHGl48ma3TFK3IiRi4P.jpg" class="profile-picture"/></a> <a href="members/Gamergirlstudios">Gamergirlstudios</a></li>
                    
    <li><a href="members/kids next door"><img src="../images/pfps/EnTYi4ZyVAoKPs8RVwZ88BLQowvKXCkb.png" class="profile-picture"/></a> <a href="members/kids next door">kids next door</a></li>
                    
    <li><a href="members/djmikey7273"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/djmikey7273">djmikey7273</a></li>
                    
    <li><a href="members/darktween"><img src="../images/pfps/gdtGKSw6M6tHUiIxk1pQkwIhl1aYVSPz.jpg" class="profile-picture"/></a> <a href="members/darktween">darktween</a></li>
                    
    <li><a href="members/irock8"><img src="../images/pfps/fhYj60xNACGm0adEUYWOvco7wqrxklAF.gif" class="profile-picture"/></a> <a href="members/irock8">irock8</a></li>
                    
    <li><a href="members/Borntobefamous"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Borntobefamous">Borntobefamous</a></li>
                    
    <li><a href="members/fashion331"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/fashion331">fashion331</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/jordanrausch" file="pfps/placeholder.gif" alt="jordanrausch" %}

<p><b>Username:</b> <a href="members/jordanrausch">jordanrausch</a></p>

<p><b>Date:</b> 2011-02-21 19:48:26</p>

<p class="comment"><b>Comment:</b> <p> hi</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>