---
title: kalimount
sidebar: home_sidebar
hide_sidebar: true
keywords: kalimount
permalink: members/kalimount
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="kalimount" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>1</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Gold- by britt nicole</li>
<img src="{{"../images/thumb/1_127699.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Gold-by-britt-nicole</li>
                
LYRICS'/nYou were walking on the moon, 
Now you feeling low. 
What they said wasn't true, 
You're beautiful. 
Sticks and stones break your bones, 
I know what you're feeling. 
Words like those, 
Won't steal your glow, 
You're one in a million. /nThis, this is for all the girls, 
Boys all over the world. 
Whatever you been told, 
You're worth more than gold. 
So hold your head up high, 
It's your time to shine. 
From the inside out it shows, 
You're worth more than gold. /nYou're worth more than gold. /nEverybody keeps score, 
Afraid you're gonna loose. 
Just ignore, 
They don't know the real you. 
All the rain in the sky, 
Can't put out your fire. 
Of all the stars out tonight, 
You shine brighter. 
[ Lyrics from: http://www.lyricsfreak.com/b/britt+nicole/gold_21011898.html ] 
This, this is for all the girls, 
Boys all over the world. 
Whatever you been told, 
You're worth more than gold. 
So hold your head up high, 
It's your time to shine. 
From the inside out it shows, 
You're worth more than gold. /nSo don't let anybody tell you that you're not loved. 
And don't let anybody tell you that you're not enough. 
Yeah, there are days when we all feel like we're messed up. 
But that truth is that we're all diamonds in the rough. /nSo don't be ashamed to wear you're crown 
You're a king, You're a queen inside and out, 
You glow like the moon, you shine like the sun. 
This goes to you, whever you are! /nThis, this is for all the girls, 
Boys all over the world. 
Whatever you been told, 
You're worth more than gold. 
So hold your head up high, 
It's your time to shine. 
From the inside out it shows, 
You're worth more than gold. /nSo, don't be ashamed to wear your crown, 
You're a king, You're a queen, iside and out.
                
                <br>
Added: 12-12-2012
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>