---
title: katie12
sidebar: home_sidebar
hide_sidebar: true
keywords: katie12
permalink: members/katie12
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/zxbhrvi2zxu4unxbgz2n8mknr5p83psrcrwre5j4t5wegidma5y6fajv5yuwdddftzuxw5qAnime.jpg" alt="katie12" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>15</b></li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Cyber chimchar13"><img src="../images/pfps/5F4Qb3UINQVlKgIiEYlhK6t9pMsQtBno.jpg" class="profile-picture"/></a> <a href="members/Cyber chimchar13">Cyber chimchar13</a></li>
                    
    <li><a href="members/Vampirechick"><img src="../images/pfps/5gPTRhyybA0huoiofvqQHuvIxlBw2R0x.gif" class="profile-picture"/></a> <a href="members/Vampirechick">Vampirechick</a></li>
                    
    <li><a href="members/aandabffshow"><img src="../images/pfps/yr20s26f0fib2j0ann5tir3nv0vhdr528yuqppvgs4imc7jpmd8su25espmv7im454kkh5p100101-010837.jpg" class="profile-picture"/></a> <a href="members/aandabffshow">aandabffshow</a></li>
                    
    <li><a href="members/bassproshops"><img src="../images/pfps/0hxrcqbrvigx8cmusancq4xadwg7y3pq8c7cq8tchyxfyaxh8bjn36k4rpzgjevigtiwr0wlily-n-dixie.gif" class="profile-picture"/></a> <a href="members/bassproshops">bassproshops</a></li>
                    
    <li><a href="members/LovinLyfe"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/LovinLyfe">LovinLyfe</a></li>
                    
    <li><a href="members/Wweluver123"><img src="../images/pfps/DF3ymtD6Wa9PbXta9Yb4rloI2Trs5Bq8.jpg" class="profile-picture"/></a> <a href="members/Wweluver123">Wweluver123</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/demiandselena"><img src="../images/pfps/aYPzGR4HyYPdbXyp2MvdE9gXXgl6mFmA.jpg" class="profile-picture"/></a> <a href="members/demiandselena">demiandselena</a></li>
                    
    <li><a href="members/Gojira123"><img src="../images/pfps/is2o9dmjYLaZfTV5tesHrGLfNgMeAQoi.jpg" class="profile-picture"/></a> <a href="members/Gojira123">Gojira123</a></li>
                    
    <li><a href="members/Pokedude79"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Pokedude79">Pokedude79</a></li>
                    
    <li><a href="members/ups30"><img src="../images/pfps/c2fQymc3iWHXZiDb3o4r9vQ43DxLS64u.png" class="profile-picture"/></a> <a href="members/ups30">ups30</a></li>
                    
    <li><a href="members/pokekirlia"><img src="../images/pfps/sdfd452g2ewz3zyoh6z2jokoficfrvt7wybrt0vm3icv80afvz76fgkkpmp4762sv0adsupKirlia.png" class="profile-picture"/></a> <a href="members/pokekirlia">pokekirlia</a></li>
                    
    <li><a href="members/nintend-boy-john"><img src="../images/pfps/g24ijovpa3b08ws5e45oegiq5x66z7s6ykd8wymwqnnn73iaydp3jxhdkdabbq5x08wov88star.jpg" class="profile-picture"/></a> <a href="members/nintend-boy-john">nintend-boy-john</a></li>
                    
    <li><a href="members/eevee2espeon"><img src="../images/pfps/op7itjbyjkasfctdzkm5xfiu7ry7fjzswyyg8x6h84zf6jgxsttew2ythprmyh4m4rr2eoa__Riolu___by_eevee2espeon.jpg" class="profile-picture"/></a> <a href="members/eevee2espeon">eevee2espeon</a></li>
                    
    <li><a href="members/lizzys"><img src="../images/pfps/BERykvIMUNNRfou3tfULOwSVWjUF11a3.png" class="profile-picture"/></a> <a href="members/lizzys">lizzys</a></li>
                    
    <li><a href="members/Jirachi681"><img src="../images/pfps/iCYkoxfia7NmbwqWzZp3PsQHQPBSfbcD.png" class="profile-picture"/></a> <a href="members/Jirachi681">Jirachi681</a></li>
                    
    <li><a href="members/NarutoU55"><img src="../images/pfps/RGLZlC5kcV1COANBbh8Mfyrf7WsTYv3q.jpg" class="profile-picture"/></a> <a href="members/NarutoU55">NarutoU55</a></li>
                    
    <li><a href="members/spongbob"><img src="../images/pfps/m7eom38v88wi78kp0gpfdp3evxjtp53y05eewdxwaj57ieoak0dmg4q2syk6sevkaxnu0bhSasuke-2.gif" class="profile-picture"/></a> <a href="members/spongbob">spongbob</a></li>
                    
    <li><a href="members/TreeckoFan202"><img src="../images/pfps/e3bjtd2xj4qw6nr0divj84x7xhztvkizchbvk0jtt0grcvig42o2wazihqz4y8sygrkqis7treecko1[1].gif" class="profile-picture"/></a> <a href="members/TreeckoFan202">TreeckoFan202</a></li>
                    
    <li><a href="members/madsis112"><img src="../images/pfps/miyesvjr5g65hcpp05jg4oivtb4e0tmc2agkvq2ruwkzzxdptovm227j03orkytdyzmkfezidk madsis112 pic.jpg" class="profile-picture"/></a> <a href="members/madsis112">madsis112</a></li>
                    
    <li><a href="members/dragonknight"><img src="../images/pfps/ajwkoxtmyz4j7kch3mzw807kmy7m27u2fgbt4s4riy2g74p0edpd2kmeajqzhasoer56azo167.jpg" class="profile-picture"/></a> <a href="members/dragonknight">dragonknight</a></li>
                    
    <li><a href="members/korrigan"><img src="../images/pfps/aeyg8qxybkouju76b8gueon0t6huorpovcsstffsqtcycatb8xwec73u5afjpswbvfrdkwvpikachu.gif" class="profile-picture"/></a> <a href="members/korrigan">korrigan</a></li>
                    
    <li><a href="members/tyler1"><img src="../images/pfps/03gvfzh6pe5qwecjv6ayykverwjdo2idwny2d7wqaq5vv55h265rfrvwf3zrw6sjjgakcvzimages[1].jpg" class="profile-picture"/></a> <a href="members/tyler1">tyler1</a></li>
                    
    <li><a href="members/sarah11"><img src="../images/pfps/5zt3povf5gd7evh0syunz5wj0tzae7jav33bfneati7w2dom36wt0h4q0sq5oz3aru8x8evlll.jpg" class="profile-picture"/></a> <a href="members/sarah11">sarah11</a></li>
                    
    <li><a href="members/cheyennelovehim"><img src="../images/pfps/00eci478epvzu26jrueooqk0ckv6cjo38s4gnzfpf2gxsd5bw7nbowzq7jk8ty2siuytk3a0408091621.jpg" class="profile-picture"/></a> <a href="members/cheyennelovehim">cheyennelovehim</a></li>
                    
    <li><a href="members/pokefan1111"><img src="../images/pfps/z50p6348fg20bt3yfvizt3rmubr2ciw2dnhaeb8jhy8gi25nmfd56sfpruht43n7gs5kt5sFlygon.jpg" class="profile-picture"/></a> <a href="members/pokefan1111">pokefan1111</a></li>
                    
    <li><a href="members/naruto"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/naruto">naruto</a></li>
                    
    <li><a href="members/Darkrai100"><img src="../images/pfps/gjn564ceju8nsydcck6myexi4a57jjkqrxkmsnqz7pdochresmpfrbmmbiijqrz5fbhwovnIshna AMV 0001.jpg" class="profile-picture"/></a> <a href="members/Darkrai100">Darkrai100</a></li>
                    
    <li><a href="members/maggie55"><img src="../images/pfps/xdu3qu245fxckb2syfseqgxzp80mexg2yztgkjbeoyfyz7hqdxsr3ghidaufxy6opouywt0DancingBanana.gif" class="profile-picture"/></a> <a href="members/maggie55">maggie55</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>