---
title: kevin
sidebar: home_sidebar
hide_sidebar: true
keywords: kevin
permalink: members/kevin
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/es2hdpyfxhw4erm2vsmzzsa28sntdv0fcrnf6cktj6omoxcahox57xx4gaphtenvu0yr078A2J8FCUCAUFKMUDCAGCPS59CALRV03CCA5AWPYYCAR9N1AXCA9VQ5CZCAMK2M8TCABVAR9BCAJNR6SNCA4XPG4GCA12LGZUCAJZDDVLCAKN2TUDCAR13FTGCA7M1CKQCATKZRO8CAHFNFCOCATJ1RM1.jpg" alt="kevin" max-width="100"%}
            
    {% include inline_image.html file="pfps/es2hdpyfxhw4erm2vsmzzsa28sntdv0fcrnf6cktj6omoxcahox57xx4gaphtenvu0yr078A2J8FCUCAUFKMUDCAGCPS59CALRV0" alt="kevin" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>2</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Constipated Baby</li>
<img src="{{"../images/thumb/1_65381.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>ZeroX-preview</li>
                
a preview of my new upcoming show
                
                <br>
Added: 20-04-2009
                
</ul>
                
<ul>
<li>Constipated-Baby</li>
                
baby constipated
                
                <br>
Added: 15-10-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Pacifica"><img src="../images/pfps/bh8usb5joeewp85vcdomk7jhnqqqtk4ss4b836ghak2phx8hzntbi2itiwbz75grxiopfvupacifica logo.png" class="profile-picture"/></a> <a href="members/Pacifica">Pacifica</a></li>
                    
    <li><a href="members/davidgill"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/davidgill">davidgill</a></li>
                    
    <li><a href="members/bg00"><img src="../images/pfps/c0h54r0dtu052ni60mky58bodacz4ae40myu4oxm6nhzxpwoy5bu2d65b8t57xyyboj325dpug.jpg" class="profile-picture"/></a> <a href="members/bg00">bg00</a></li>
                    
    <li><a href="members/newnew"><img src="../images/pfps/mrv4es3vpt8sd8k0r5adegwr8nkyn2ayjusmbj7r36756iumeuph0bwxm7myzmn763j8bgoJustin-Bieber-Love-Me.jpg" class="profile-picture"/></a> <a href="members/newnew">newnew</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>