---
title: kids next door
sidebar: home_sidebar
hide_sidebar: true
keywords: kids next door
permalink: members/kids next door
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/EnTYi4ZyVAoKPs8RVwZ88BLQowvKXCkb.png" alt="kids next door" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>6</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Fire-Burning-by-sean-kingston</li>
                
this is  my first music video i made, its Fire Burning by sean kingston. enjoy!!!
                
                <br>
Added: 02-10-2010
                
</ul>
                
<ul>
<li>Halo-by-Beyonce</li>
                
This is Halo by Beyonce, enjoy!!!
                
                <br>
Added: 02-10-2010
                
</ul>
                
<ul>
<li>Naturally-by-Selena-Gomez</li>
                
this is naturally by selena gomez, sorry but i ran out of pics to put on there and i forgot to sorten the song so it makes it end when the pictures end, anyways enjoy!!
                
                <br>
Added: 04-10-2010
                
</ul>
                
<ul>
<li>falling-down-by-selena-gomez</li>
                
this is falling down by selena gomez enjoy!<br />
by the way its not tht long
                
                <br>
Added: 04-10-2010
                
</ul>
                
<ul>
<li>Fire-flies-by-Owl-City</li>
                
this is Fire flies by Owl city,<br />
srry but its not tht long.
                
                <br>
Added: 15-10-2010
                
</ul>
                
<ul>
<li>firework-by-katy-perry</li>
                
enjoy this awesome song by Katy Perry, its called firework, enjoy!!!
                
                <br>
Added: 2011-02-16
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/shaner1243"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/shaner1243">shaner1243</a></li>
                    
    <li><a href="members/justin2709"><img src="../images/pfps/kwPXUvM6Cv3UWNUQeqp19duMnmt8Nbsv.jpg" class="profile-picture"/></a> <a href="members/justin2709">justin2709</a></li>
                    
    <li><a href="members/MPK Animations"><img src="../images/pfps/mDPt07IHHbIqZP3LHzbgZnLGHR88I7js.png" class="profile-picture"/></a> <a href="members/MPK Animations">MPK Animations</a></li>
                    
    <li><a href="members/SpringBby212"><img src="../images/pfps/DS7VQVY3EjxqE4VASHd1eFc6tc5qrk3s.jpg" class="profile-picture"/></a> <a href="members/SpringBby212">SpringBby212</a></li>
                    
    <li><a href="members/madisonthecat"><img src="../images/pfps/kWKBuECrppolCuJnVtQi65CEysOEuYAU.jpg" class="profile-picture"/></a> <a href="members/madisonthecat">madisonthecat</a></li>
                    
    <li><a href="members/ron9andjamie2"><img src="../images/pfps/eXTn1et6KoxCtJymFF1fYcbc5NIl99Rd.png" class="profile-picture"/></a> <a href="members/ron9andjamie2">ron9andjamie2</a></li>
                    
    <li><a href="members/Earthbounded"><img src="../images/pfps/AfeSSj4uyTRSgWWomIF0FQAZXJOZa5vZ.gif" class="profile-picture"/></a> <a href="members/Earthbounded">Earthbounded</a></li>
                    
    <li><a href="members/EthanM"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/EthanM">EthanM</a></li>
                    
    <li><a href="members/demiandselena"><img src="../images/pfps/aYPzGR4HyYPdbXyp2MvdE9gXXgl6mFmA.jpg" class="profile-picture"/></a> <a href="members/demiandselena">demiandselena</a></li>
                    
    <li><a href="members/pretty0204"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/pretty0204">pretty0204</a></li>
                    
    <li><a href="members/hunterpecunia"><img src="../images/pfps/pampjcPOjp4WZ0Zzkjn0V048MAidCBmr.png" class="profile-picture"/></a> <a href="members/hunterpecunia">hunterpecunia</a></li>
                    
    <li><a href="members/matthew1996"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/matthew1996">matthew1996</a></li>
                    
    <li><a href="members/ohheyJenn"><img src="../images/pfps/KHtxe1iCBYT5FzurXvt2QmulOu6jjJpr.jpg" class="profile-picture"/></a> <a href="members/ohheyJenn">ohheyJenn</a></li>
                    
    <li><a href="members/jgr3241"><img src="../images/pfps/zfQer7KCvmRZxPNEIQAUM8yNincsRKlH.jpg" class="profile-picture"/></a> <a href="members/jgr3241">jgr3241</a></li>
                    
    <li><a href="members/xImScenex"><img src="../images/pfps/fbaDhprQ1qZJgJqSCOlotjRfpwEwP4Rv.jpg" class="profile-picture"/></a> <a href="members/xImScenex">xImScenex</a></li>
                    
    <li><a href="members/BiEbErLoVeR123"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/BiEbErLoVeR123">BiEbErLoVeR123</a></li>
                    
    <li><a href="members/JADON123"><img src="../images/pfps/c7iP2JbEcgfP2S2wN5UVTkQZgO24zjcQ.jpg" class="profile-picture"/></a> <a href="members/JADON123">JADON123</a></li>
                    
    <li><a href="members/emogirlsrock"><img src="../images/pfps/RT2njKQjH9YMtur6KZqzzcIoGqRlfgLw.jpg" class="profile-picture"/></a> <a href="members/emogirlsrock">emogirlsrock</a></li>
                    
    <li><a href="members/XxUchihaMaddnessxX"><img src="../images/pfps/c6Zvl8qsdjO8tqqFv0ivOnoudRTo7tbZ.gif" class="profile-picture"/></a> <a href="members/XxUchihaMaddnessxX">XxUchihaMaddnessxX</a></li>
                    
    <li><a href="members/kdinokid2"><img src="../images/pfps/ki5wVY5ncsMfDc1s3s6MObb1mJBCrK0R.jpg" class="profile-picture"/></a> <a href="members/kdinokid2">kdinokid2</a></li>
                    
    <li><a href="members/kingbupper"><img src="../images/pfps/2uokv0hggv0ndfbi4bafewx4wd8ex6epprz8i7gqs70vcz3403a3qyvc2veosi38zu77qcmnaruto.jpg" class="profile-picture"/></a> <a href="members/kingbupper">kingbupper</a></li>
                    
    <li><a href="members/FrostTheGlaceon"><img src="../images/pfps/8d5ggteyp0ab7nv4a233jtbwe0u7vpstspzw65jmujksv6otwfn4wms0ebyxqgh6v6uq24zGlaceon.png" class="profile-picture"/></a> <a href="members/FrostTheGlaceon">FrostTheGlaceon</a></li>
                    
    <li><a href="members/DoodleL0zzzy"><img src="../images/pfps/j2fHrPaplIixVCwD0uo6JtMgFiHaCqkl.gif" class="profile-picture"/></a> <a href="members/DoodleL0zzzy">DoodleL0zzzy</a></li>
                    
    <li><a href="members/renee"><img src="../images/pfps/RoE2MGkWNZGC8pp2naYeicpAMTfOMr7d.gif" class="profile-picture"/></a> <a href="members/renee">renee</a></li>
                    
    <li><a href="members/WhAtKiDzShow"><img src="../images/pfps/aTXl8YjoImrAdvIBhd9xtkvKoDnIDrXd.jpg" class="profile-picture"/></a> <a href="members/WhAtKiDzShow">WhAtKiDzShow</a></li>
                    
    <li><a href="members/sonicfreak101"><img src="../images/pfps/4N8zcSp1w1lWJ3xAGHRnhsC6zbzKZpdT.png" class="profile-picture"/></a> <a href="members/sonicfreak101">sonicfreak101</a></li>
                    
    <li><a href="members/bfffl"><img src="../images/pfps/jqqigxcFQ4xL7Y8HTeYCqDpCvj7FSuH1.gif" class="profile-picture"/></a> <a href="members/bfffl">bfffl</a></li>
                    
    <li><a href="members/Lilbrat09"><img src="../images/pfps/5br8QcDItpiihiUjtHZYRb2utXLxuGmq.jpg" class="profile-picture"/></a> <a href="members/Lilbrat09">Lilbrat09</a></li>
                    
    <li><a href="members/fanilover12"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/fanilover12">fanilover12</a></li>
                    
    <li><a href="members/lovemuffin"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/lovemuffin">lovemuffin</a></li>
                    
    <li><a href="members/sakurafan12"><img src="../images/pfps/OXmD53AVIB4h7fbI9aFZeoTCfrwoj8Ix.jpg" class="profile-picture"/></a> <a href="members/sakurafan12">sakurafan12</a></li>
                    
    <li><a href="members/Jewelz"><img src="../images/pfps/37puwyEEBcLIgCrC6sMRiVRuh8cdL1EC.jpg" class="profile-picture"/></a> <a href="members/Jewelz">Jewelz</a></li>
                    
    <li><a href="members/JesusLives"><img src="../images/pfps/MZDa2SOwCDEsb5xWlInjWRluar7XiGGs.jpg" class="profile-picture"/></a> <a href="members/JesusLives">JesusLives</a></li>
                    
    <li><a href="members/thebatman6789"><img src="../images/pfps/e5xO6BG37Xg4XJbH6EPxq3wMVv7Ehga9.jpg" class="profile-picture"/></a> <a href="members/thebatman6789">thebatman6789</a></li>
                    
    <li><a href="members/SoccerSta01"><img src="../images/pfps/lu5FucqnGmWrCDSB1Wbh1IHAHuUWOgf0.jpg" class="profile-picture"/></a> <a href="members/SoccerSta01">SoccerSta01</a></li>
                    
    <li><a href="members/TigerfoxTheEmo1"><img src="../images/pfps/fm1zmYtBUN6WSFGF8ZyBBWfQpmMHElvh.png" class="profile-picture"/></a> <a href="members/TigerfoxTheEmo1">TigerfoxTheEmo1</a></li>
                    
    <li><a href="members/29lnmnmu"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/29lnmnmu">29lnmnmu</a></li>
                    
    <li><a href="members/games"><img src="../images/pfps/YVMZb8vHGeoFtULamWPDcK6b0fBDjsz5.jpg" class="profile-picture"/></a> <a href="members/games">games</a></li>
                    
    <li><a href="members/ladyxvideo9"><img src="../images/pfps/2nmV8Q5R7GvYj0YtXMqBUWrhMwH4ySHq.jpg" class="profile-picture"/></a> <a href="members/ladyxvideo9">ladyxvideo9</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>