---
title: KidsTubeGirl1234
sidebar: home_sidebar
hide_sidebar: true
keywords: KidsTubeGirl1234
permalink: members/KidsTubeGirl1234
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/6equn42dp5xsiu4ne2o7b3026su56k22ngn0cd2p6q5fa0ret3aswyksg3oddg3qkehnhbzprettydiva8@gmail_com_89613a69.jpg" alt="KidsTubeGirl1234" max-width="100"%}
            
    {% include inline_image.html file="pfps/6equn42dp5xsiu4ne2o7b3026su56k22ngn0cd2p6q5fa0ret3aswyksg3oddg3qkehnhbzprettydiva8@gmail_com_89613a6" alt="KidsTubeGirl1234" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/kidsonly"><img src="../images/pfps/3UJEMe0hcOCDO2HuB2VHXuTCfP9SVNVM.jpg" class="profile-picture"/></a> <a href="members/kidsonly">kidsonly</a></li>
                    
    <li><a href="members/workhourse"><img src="../images/pfps/2crp3fh0pz3i6tkwoh4fuh33knmvqeygeet5j2wwqr6kbf8oo3r6ckxkya6dctjgv4a3uxr425265073_1476423911_0.jpg" class="profile-picture"/></a> <a href="members/workhourse">workhourse</a></li>
                    
    <li><a href="members/princess123"><img src="../images/pfps/fx7y32vobz578ty3qfemhb0y3uohn0yqnuggkzsmrojo58inckwjko6e8mmjd8zqr4u2vde13646-Cute-Sad-Pink-Kitten-With-Big-Eyes-Clipart-Illustration.jpg" class="profile-picture"/></a> <a href="members/princess123">princess123</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>