---
title: KittyTheTiger
sidebar: home_sidebar
hide_sidebar: true
keywords: KittyTheTiger
permalink: members/KittyTheTiger
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/179761320.jpg" alt="KittyTheTiger" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>4</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>1</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>The Cup Song (Originail,1D kind,and many fails)</li>
<img src="{{"../images/thumb/1_129626.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>THIS-IS-WHAT-HAPPENS-WHEN-MY-ADHD-FLARES-UP</li>
                
Hi! Did you see tha bird with the kangaroo?It was amazing.1 sheep, 2 sheep,bird,OL' MCDONALD HAD A FARM,HEEEYYYY MACARENA!! WOOW!! 100+ views!! THANX!!
                
                <br>
Added: 15-04-2013
                
</ul>
                
<ul>
<li>10-Facts-about-mePLUS-A-BONUS-ONE</li>
                
this is 10 facts about me!! I hope you would be nice enough to comment! NOH8!! ADHD ATTACK IN SOME PARTS!! i promise to have shorter videos.
                
                <br>
Added: 19-04-2013
                
</ul>
                
<ul>
<li>QA-WKitty</li>
                
Ask me things and remember to put your name with it so I can shout you out! 
http://ask.fm/askKittytheTiger <--
                
                <br>
Added: 20-05-2013
                
</ul>
                
<ul>
<li>The-Cup-Song-Originail1D-kindand-many-fails</li>
                
Oh..MY.. CHEESSE!!!! 300+ VEIWS?!?!?! WOW! Thanks for all the nice comments..
I can't believe no one has posted on of these!! IDK Y! Question :What Dare Should I Do?OMG!! 200 views!! I'm so glad that some people actually watch these! :3
                
                <br>
Added: 20-05-2013
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>