---
title: komadog
sidebar: home_sidebar
hide_sidebar: true
keywords: komadog
permalink: members/komadog
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/2t06tkxg3fykvcgrvwzzumxjsevreaa4ry087og0r5ce7itt3jhpu5wd8gvdet7vgxvecz4vampire.jpg" alt="komadog" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Katy</b></li>
        
<li> Age: <b>2011</b></li>
        
<li> Gender: <b></b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>9</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>111</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>0</b> out of <b>0</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/RukiaKuchki1997"><img src="../images/pfps/vwtruk8od03qrfzo0fp8i87bvsq7xd2hxmyivvuwmpd3s0fh6sgercfdttbfu2nicapvubj11136_101396623221793_100000543672702_37855_6916117_n.jpg" class="profile-picture"/></a> <a href="members/RukiaKuchki1997">RukiaKuchki1997</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/garigeiselman"><img src="../images/pfps/qghowkn652dgyuc356fpecz5aiw4ixay5fdqookkeop3arv5pyit06n0davmwtbqyc6cphnalbum01.jpg" class="profile-picture"/></a> <a href="members/garigeiselman">garigeiselman</a></li>
                    
    <li><a href="members/Hannah_Montannah_Fan"><img src="../images/pfps/ie3eja84o7y066082v3mawtx57za6wod0gh8ee2scri7ma6evyouj8if47dyur3jxbize8jgo down.jpg" class="profile-picture"/></a> <a href="members/Hannah_Montannah_Fan">Hannah_Montannah_Fan</a></li>
                    
    <li><a href="members/IvyTheEspeon"><img src="../images/pfps/QUfHq7br0He8Yiw9hY5p7mtKxVctd2ar.png" class="profile-picture"/></a> <a href="members/IvyTheEspeon">IvyTheEspeon</a></li>
                    
    <li><a href="members/twilightlover12"><img src="../images/pfps/bfsihfmz7zn80xd8t6ufgp2v7fc7hawidfpji0afpoefcfctcwygbr06u3220n85rndzcd3twilight bella swan.jpg" class="profile-picture"/></a> <a href="members/twilightlover12">twilightlover12</a></li>
                    
    <li><a href="members/mikemoney18"><img src="../images/pfps/huihq4xgwhmb650c5ajbxqiz433tvqw0858pxvtm35kzzczvaavxp2pjvg0huo6sh656qogrussel and michael.jpg" class="profile-picture"/></a> <a href="members/mikemoney18">mikemoney18</a></li>
                    
    <li><a href="members/jaybrianna98"><img src="../images/pfps/3pkpgp4aikboo3jncrhkr76cwfsoxecrrn7xz2vadxmprw3rc82u5xus3b4rd67vi5j6v66Picture 099.jpg" class="profile-picture"/></a> <a href="members/jaybrianna98">jaybrianna98</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>