---
title: Krishathehedgehog
sidebar: home_sidebar
hide_sidebar: true
keywords: Krishathehedgehog
permalink: members/Krishathehedgehog
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/58i7pKzR8bEgy6KfnRfNJ9I8I6qW6On1.jpg" alt="Krishathehedgehog" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>sam</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>3</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>8</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>197</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>0</b> out of <b>0</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/vdmman"><img src="../images/pfps/xcsoluea3H3l3jYTtC2M1s9EISsqu7bf.png" class="profile-picture"/></a> <a href="members/vdmman">vdmman</a></li>
                    
    <li><a href="members/Linkin78"><img src="../images/pfps/DJ5BxBSsIMdiNVtCTNGy9bhKjiMWpJfs.gif" class="profile-picture"/></a> <a href="members/Linkin78">Linkin78</a></li>
                    
    <li><a href="members/GoldenFlower5"><img src="../images/pfps/O5nIBrYSyYC7yyhouOzELDeypn2bQppe.jpg" class="profile-picture"/></a> <a href="members/GoldenFlower5">GoldenFlower5</a></li>
                    
    <li><a href="members/tanasilly"><img src="../images/pfps/EeU6GAnKfSsbxzXYv1dU1PgL1FaKxMez.png" class="profile-picture"/></a> <a href="members/tanasilly">tanasilly</a></li>
                    
    <li><a href="members/StartehLion"><img src="../images/pfps/AUsC8lDGGP7kRKgVA1RUXDxulqt3zdf0.gif" class="profile-picture"/></a> <a href="members/StartehLion">StartehLion</a></li>
                    
    <li><a href="members/ipema"><img src="../images/pfps/KAEFmcZY5Hfoh0i4o5KdUjnFytcbzkF7.gif" class="profile-picture"/></a> <a href="members/ipema">ipema</a></li>
                    
    <li><a href="members/IsabelTheAngel"><img src="../images/pfps/zLfriif78p8Hfvp64CR4NFctBcLAqvId.jpg" class="profile-picture"/></a> <a href="members/IsabelTheAngel">IsabelTheAngel</a></li>
                    
    <li><a href="members/Gangstar_Crew"><img src="../images/pfps/bx6QXiQiVtGoSWx6O0ZpAyIlWFabUK5t.jpg" class="profile-picture"/></a> <a href="members/Gangstar_Crew">Gangstar_Crew</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/jessacat" file="pfps/placeholder.gif" alt="jessacat" %}

<p><b>Username:</b> <a href="members/jessacat>jessacat</a></p>

<p><b>Date:</b> 2010-07-03 18:42:53</p>

<p class="comment"><b>Comment:</b> <p>first comment hi.<img alt="" src="http://kidstube.com/fckeditor/editor/images/smiley/msn/wink_smile.gif"/></p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>