---
title: LawlPics
sidebar: home_sidebar
hide_sidebar: true
keywords: LawlPics
permalink: members/LawlPics
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/dF7QUMWlsYe7nCIPYEDnOtmKWslBC1Wd.gif" alt="LawlPics" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Call me Kitsu plz</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>2</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>4</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>849</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>88.57%</b> out of <b>7</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>3000AD</li>
<img src="{{"../images/thumb/SBb3QbczpWhEuGDeSjEf.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Randomnesses!</li>
<img src="{{"../images/thumb/eoRz3ngDmDZlvoOqwDhd.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>PMD download tutorial</li>
<img src="{{"../images/thumb/RpiTOGDwhIKcrFDiEWrK.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>PMD EDITOR PT2 1/3</li>
<img src="{{"../images/thumb/NzyImOS1W520rYnQ2Xcm.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>PMD EDITOR PT2 2/3</li>
<img src="{{"../images/thumb/nBStEZaMJE3HJmFyRYW5.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>PMD EDITOR PT2 3/3</li>
<img src="{{"../images/thumb/hJ1zrf5uWb2sO0LsnsvC.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>MAF Online</li>
<img src="{{"../images/thumb/1_64513.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>3000AD</li>
                
In 2010, people made androids
(androids are humans but robotic; artificial humans; fake humans.)In 1058, Green and Red people took over earth.In 3000, A new android is created by Pau (Paw it sounds like)Pau doesn't like her though. Her name was Dara Runo. Pau treated Dara badly (The bully in the video is Pau and the girl with the fancy dress and white skin is Dara). The only people who like her are Pau's sister and Kenta, the odd computer dude. Hope you like it!   
-Comment   
-Rate   
-Reply   
-WWW.WIX.COM/KITSU289/LAWL-PICS
                
                <br>
Added: 02-02-2010
                
</ul>
                
<ul>
<li>MAF-Online</li>
                
Yup, it's a game!
                
                <br>
Added: 02-10-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/vdmman"><img src="../images/pfps/xcsoluea3H3l3jYTtC2M1s9EISsqu7bf.png" class="profile-picture"/></a> <a href="members/vdmman">vdmman</a></li>
                    
    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/Hikarupanda"><img src="../images/pfps/GVfiaimmeaaG8Sa58waJDZ6uexGWUjWY.gif" class="profile-picture"/></a> <a href="members/Hikarupanda">Hikarupanda</a></li>
                    
    <li><a href="members/JTC443"><img src="../images/pfps/cymxE1s0zUATk9CEjxLNDlhq1zVQn2tD.gif" class="profile-picture"/></a> <a href="members/JTC443">JTC443</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/JUSTIN123321"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/JUSTIN123321">JUSTIN123321</a></li>
                    
    <li><a href="members/demiandselena"><img src="../images/pfps/aYPzGR4HyYPdbXyp2MvdE9gXXgl6mFmA.jpg" class="profile-picture"/></a> <a href="members/demiandselena">demiandselena</a></li>
                    
    <li><a href="members/SnoopyProductions"><img src="../images/pfps/vZKd3iqLOnyp88Icabn3pbEMxdFlptGa.jpg" class="profile-picture"/></a> <a href="members/SnoopyProductions">SnoopyProductions</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/eeveetwoespeon"><img src="../images/pfps/brmb5v47pyy0o8yb48fkw6zb668d8cuat48no3i2r7t36g4yg8a05yz3vy6u0psijrvvj4othumbnailCAP1R3CY.jpg" class="profile-picture"/></a> <a href="members/eeveetwoespeon">eeveetwoespeon</a></li>
                    
    <li><a href="members/greenextreme9"><img src="../images/pfps/WOdZlnYYIKjgaXJZ5cxd0tS9Lgi5qyJD.gif" class="profile-picture"/></a> <a href="members/greenextreme9">greenextreme9</a></li>
                    
    <li><a href="members/MissComenter"><img src="../images/pfps/jt4kkdw5f55mgtfk8kvkqhzwrrtok6atr24z5qtbjnmq7rz4zmffs4z7jjmvhjfwc7k8o47shadow demon.jpg" class="profile-picture"/></a> <a href="members/MissComenter">MissComenter</a></li>
                    
    <li><a href="members/Ho-HosBack"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Ho-HosBack">Ho-HosBack</a></li>
                    
    <li><a href="members/colby2"><img src="../images/pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" class="profile-picture"/></a> <a href="members/colby2">colby2</a></li>
                    
    <li><a href="members/KirKit"><img src="../images/pfps/i9vggrnyStrKs0JbZSZ3PuVlwYSih68D.jpg" class="profile-picture"/></a> <a href="members/KirKit">KirKit</a></li>
                    
    <li><a href="members/manboy10"><img src="../images/pfps/6J5RyJc8ILtxxVempT8fs1enaornoS0k.jpg" class="profile-picture"/></a> <a href="members/manboy10">manboy10</a></li>
                    
    <li><a href="members/Kitsu289"><img src="../images/pfps/0wejC69XEtPKziTl0fk2Gmdsy9Esj5yZ.jpg" class="profile-picture"/></a> <a href="members/Kitsu289">Kitsu289</a></li>
                    
    <li><a href="members/Candy_Pop"><img src="../images/pfps/RoIiaBPvp50NLwAEH2gWNs1M0HI57AcM.png" class="profile-picture"/></a> <a href="members/Candy_Pop">Candy_Pop</a></li>
                    
    <li><a href="members/ryhawk"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ryhawk">ryhawk</a></li>
                    
    <li><a href="members/mec4157"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/mec4157">mec4157</a></li>
                    
    <li><a href="members/MochaGirl"><img src="../images/pfps/oLiZUEK5glKMUWFu7fVD1p7bxFLAClpq.png" class="profile-picture"/></a> <a href="members/MochaGirl">MochaGirl</a></li>
                    
    <li><a href="members/Miku"><img src="../images/pfps/TTr7SJl3STElr0CN3JduZdJGYXVKjBZ3.jpg" class="profile-picture"/></a> <a href="members/Miku">Miku</a></li>
                    
    <li><a href="members/taylorswift323"><img src="../images/pfps/VPn8Hce5hvrekDIaHNBFftwGA7JhHmKc.gif" class="profile-picture"/></a> <a href="members/taylorswift323">taylorswift323</a></li>
                    
    <li><a href="members/evz429"><img src="../images/pfps/5W3MvheK8zNe7Z83FbzEWSO18W854Otz.gif" class="profile-picture"/></a> <a href="members/evz429">evz429</a></li>
                    
    <li><a href="members/MMDlover"><img src="../images/pfps/QOdbEsnxShxgprwZ87wym5yaOh2zmg32.jpg" class="profile-picture"/></a> <a href="members/MMDlover">MMDlover</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/Fordark" file="pfps/b4oCILOhv55JIqNaplnq29Uvnpl4Aelb.jpg" alt="Fordark" %}

<p><b>Username:</b> <a href="members/Fordark">Fordark</a></p>

<p><b>Date:</b> 2010-12-29 16:26:51</p>

<p class="comment"><b>Comment:</b> <p> Hi CallmeKitsuplz</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/taylorswift323" file="pfps/4pc0IEr5pPZavwiuLowmtOm8qPQ0SGkM.gif" alt="taylorswift323" %}

<p><b>Username:</b> <a href="members/taylorswift323">taylorswift323</a></p>

<p><b>Date:</b> 2010-07-20 08:27:08</p>

<p class="comment"><b>Comment:</b> <p>hello! =3</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>