---
title: Linkin78
sidebar: home_sidebar
hide_sidebar: true
keywords: Linkin78
permalink: members/Linkin78
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/DJ5BxBSsIMdiNVtCTNGy9bhKjiMWpJfs.gif" alt="Linkin78" max-width="100"%}
            
    {% include inline_image.html file="pfps/27701.jpg" alt="Linkin78" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Jake</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>1</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>6</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>65</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>893</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>5</b></li>
        
<li> Rating: <b>83.33%</b> out of <b>6</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>ep1</li>
<img src="{{"../images/thumb/brYFGwBPo4FXCGr2hy2S.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>sonic theme XD</li>
<img src="{{"../images/thumb/lIboS4afNj2Kx0jbSsgg.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>ep3</li>
<img src="{{"../images/thumb/ZkuSCDZmUNtSCflPaaZZ.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>sudden death XDDDDD</li>
<img src="{{"../images/thumb/nURFBpPUDs5FMBAqYqoL.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>ep4</li>
<img src="{{"../images/thumb/Z0ljOqRivzTw3mZbNGjn.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>sudden death 2</li>
<img src="{{"../images/thumb/EPKhxvpqpKYnx4EzMJtF.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>ZOMBIES!!!!!:3</li>
<img src="{{"../images/thumb/1_125949.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>sudden-death-2</li>
                
yyes the music is korn
                
                <br>
Added: 22-07-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/zacattack"><img src="../images/pfps/zKJn0Xp4Cm4GA3yfulrMLpgWL9GtHdy6.png" class="profile-picture"/></a> <a href="members/zacattack">zacattack</a></li>
                    
    <li><a href="members/FredFan1126"><img src="../images/pfps/SOjb9J3sfHWgLiMTOyUy8HZkmd9tYReq.gif" class="profile-picture"/></a> <a href="members/FredFan1126">FredFan1126</a></li>
                    
    <li><a href="members/nevit"><img src="../images/pfps/L1Sbvi1yhPzBNk0EQ4Ahjm6qvBPs5siE.gif" class="profile-picture"/></a> <a href="members/nevit">nevit</a></li>
                    
    <li><a href="members/MINIME"><img src="../images/pfps/pt8h8v73a7gjaw5q4ufj63hp3yqaf03tizyhnxcktgur3p7v7b624civ0wv4opmxgc3rx3ztyphlosion.jpg" class="profile-picture"/></a> <a href="members/MINIME">MINIME</a></li>
                    
    <li><a href="members/Kel_keke"><img src="../images/pfps/h0wmsk4xympsi2n78fjeiqs2qnfhagti7eupqnbdwrt5h73ebdikrzd7dhedoxjj35whiyk480584777_1415754.gif" class="profile-picture"/></a> <a href="members/Kel_keke">Kel_keke</a></li>
                    
    <li><a href="members/Earthbounded"><img src="../images/pfps/AfeSSj4uyTRSgWWomIF0FQAZXJOZa5vZ.gif" class="profile-picture"/></a> <a href="members/Earthbounded">Earthbounded</a></li>
                    
    <li><a href="members/wolf lover717"><img src="../images/pfps/flmxKvgRvhemfPvtlBLOD7t37NvnVML0.jpg" class="profile-picture"/></a> <a href="members/wolf lover717">wolf lover717</a></li>
                    
    <li><a href="members/Shadow_Guy"><img src="../images/pfps/0opry5k7wgwb7g8dp66ki6ap28qnknob20spw2kj87i5dh8sf50m000txg5atj8mbrzvjb3Brambleclaw.jpg" class="profile-picture"/></a> <a href="members/Shadow_Guy">Shadow_Guy</a></li>
                    
    <li><a href="members/sonic speed"><img src="../images/pfps/gnn81iuU3oIHHHcrQEpOTkjtToB3j3uF.png" class="profile-picture"/></a> <a href="members/sonic speed">sonic speed</a></li>
                    
    <li><a href="members/silver power"><img src="../images/pfps/Jyqwo1vXFdr8S6R7dA4Dhv3Gg3aiLOGS.gif" class="profile-picture"/></a> <a href="members/silver power">silver power</a></li>
                    
    <li><a href="members/Candy_Pop"><img src="../images/pfps/RoIiaBPvp50NLwAEH2gWNs1M0HI57AcM.png" class="profile-picture"/></a> <a href="members/Candy_Pop">Candy_Pop</a></li>
                    
    <li><a href="members/StartehLion"><img src="../images/pfps/AUsC8lDGGP7kRKgVA1RUXDxulqt3zdf0.gif" class="profile-picture"/></a> <a href="members/StartehLion">StartehLion</a></li>
                    
    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/ups30"><img src="../images/pfps/c2fQymc3iWHXZiDb3o4r9vQ43DxLS64u.png" class="profile-picture"/></a> <a href="members/ups30">ups30</a></li>
                    
    <li><a href="members/Philip666"><img src="../images/pfps/Rvlz5FpzVoncu50Whf2iAFtDxhdcFy7W.jpg" class="profile-picture"/></a> <a href="members/Philip666">Philip666</a></li>
                    
    <li><a href="members/RukiaKuchki1997"><img src="../images/pfps/vwtruk8od03qrfzo0fp8i87bvsq7xd2hxmyivvuwmpd3s0fh6sgercfdttbfu2nicapvubj11136_101396623221793_100000543672702_37855_6916117_n.jpg" class="profile-picture"/></a> <a href="members/RukiaKuchki1997">RukiaKuchki1997</a></li>
                    
    <li><a href="members/ohnoahhh"><img src="../images/pfps/1OsXLaN5l8igHicOiUAIacV2Lwo8gCiY.jpg" class="profile-picture"/></a> <a href="members/ohnoahhh">ohnoahhh</a></li>
                    
    <li><a href="members/Petstar"><img src="../images/pfps/xUhSv14NPkvdCCjGEmT3dfbcXFpfmKSZ.jpg" class="profile-picture"/></a> <a href="members/Petstar">Petstar</a></li>
                    
    <li><a href="members/coolferret993"><img src="../images/pfps/l8sqZg4IxslE1nUoUy8D9AqfPPPgdlRC.jpg" class="profile-picture"/></a> <a href="members/coolferret993">coolferret993</a></li>
                    
    <li><a href="members/air force fan"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/air force fan">air force fan</a></li>
                    
    <li><a href="members/tanasilly"><img src="../images/pfps/EeU6GAnKfSsbxzXYv1dU1PgL1FaKxMez.png" class="profile-picture"/></a> <a href="members/tanasilly">tanasilly</a></li>
                    
    <li><a href="members/samputrasarjito"><img src="../images/pfps/wa7b2mFVWNdJrjb1rCcydLwy0F5m3gqp.jpg" class="profile-picture"/></a> <a href="members/samputrasarjito">samputrasarjito</a></li>
                    
    <li><a href="members/colby2"><img src="../images/pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" class="profile-picture"/></a> <a href="members/colby2">colby2</a></li>
                    
    <li><a href="members/dataman"><img src="../images/pfps/NPhbDfRm8llNa8DacdnYqRto0btp4OsF.jpg" class="profile-picture"/></a> <a href="members/dataman">dataman</a></li>
                    
    <li><a href="members/MikeTube"><img src="../images/pfps/J15YzTUCv8cAFJT3GkYw5M0VZvNqlTWv.gif" class="profile-picture"/></a> <a href="members/MikeTube">MikeTube</a></li>
                    
    <li><a href="members/lepordclaw"><img src="../images/pfps/Fho1oBQQzBDZX4QwJ9PqZ4JhNc4ZAZHE.gif" class="profile-picture"/></a> <a href="members/lepordclaw">lepordclaw</a></li>
                    
    <li><a href="members/nintendude64"><img src="../images/pfps/775gvdhr4c7cbr5f37famtcau26620n0xi5jjcyfeufdbbh46n3h45hqvcnn30er77yiaomnintendo_evolution.jpg" class="profile-picture"/></a> <a href="members/nintendude64">nintendude64</a></li>
                    
    <li><a href="members/Shadow Fan"><img src="../images/pfps/hk7jHF3eKIUCcktI86sUv9NHg9bdi6WD.gif" class="profile-picture"/></a> <a href="members/Shadow Fan">Shadow Fan</a></li>
                    
    <li><a href="members/TreeckoFan202"><img src="../images/pfps/e3bjtd2xj4qw6nr0divj84x7xhztvkizchbvk0jtt0grcvig42o2wazihqz4y8sygrkqis7treecko1[1].gif" class="profile-picture"/></a> <a href="members/TreeckoFan202">TreeckoFan202</a></li>
                    
    <li><a href="members/sammyzeus"><img src="../images/pfps/b0y5nv5svhb567kwmmd4xgkz7rh20ph2f6wsqsbaxb5v6hgitjbfok6m2ccrqihvd4esmes154014qa3vx1edo9.jpg" class="profile-picture"/></a> <a href="members/sammyzeus">sammyzeus</a></li>
                    
    <li><a href="members/GoFred7"><img src="../images/pfps/9rWK23aoDremrDDWE9QdcqPWoKblZ4iY.gif" class="profile-picture"/></a> <a href="members/GoFred7">GoFred7</a></li>
                    
    <li><a href="members/shaymin14"><img src="../images/pfps/PfTo3gZliQwPJSbcZ6GSdh7sS3smNuwc.gif" class="profile-picture"/></a> <a href="members/shaymin14">shaymin14</a></li>
                    
    <li><a href="members/shadow yoshi"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/shadow yoshi">shadow yoshi</a></li>
                    
    <li><a href="members/ANGIE LUVZ U"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ANGIE LUVZ U">ANGIE LUVZ U</a></li>
                    
    <li><a href="members/Krishathehedgehog"><img src="../images/pfps/58i7pKzR8bEgy6KfnRfNJ9I8I6qW6On1.jpg" class="profile-picture"/></a> <a href="members/Krishathehedgehog">Krishathehedgehog</a></li>
                    
    <li><a href="members/blue Tails"><img src="../images/pfps/dLBS1MD1Kn9kVS3I95ajARIudLMFKyAn.jpg" class="profile-picture"/></a> <a href="members/blue Tails">blue Tails</a></li>
                    
    <li><a href="members/Drawer L 1"><img src="../images/pfps/Vc0Pw10EVV81PVGrtjUkVZmjYJQdbBGu.jpg" class="profile-picture"/></a> <a href="members/Drawer L 1">Drawer L 1</a></li>
                    
    <li><a href="members/tanafriend"><img src="../images/pfps/MtpyfSL5w0gu4nNegkAjK68tEUTY36lD.jpg" class="profile-picture"/></a> <a href="members/tanafriend">tanafriend</a></li>
                    
    <li><a href="members/spongeybrown124"><img src="../images/pfps/JwGbD7Wb6kKPwrqXRidniEXSrC5T7KoE.gif" class="profile-picture"/></a> <a href="members/spongeybrown124">spongeybrown124</a></li>
                    
    <li><a href="members/ifcupidhadaheart"><img src="../images/pfps/7OTvk11LRs5vqi7dAfDUB0iZjKYxWahS.jpg" class="profile-picture"/></a> <a href="members/ifcupidhadaheart">ifcupidhadaheart</a></li>
                    
    <li><a href="members/rockonselena1fan"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/rockonselena1fan">rockonselena1fan</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/golden1234"><img src="../images/pfps/7Kxdt0qudGhT4TCwfGRhf7nRvlQEn7ei.gif" class="profile-picture"/></a> <a href="members/golden1234">golden1234</a></li>
                    
    <li><a href="members/websurf"><img src="../images/pfps/vT2Nm8R88Ude6cePJs6Vjcqa0Gw7qOYZ.png" class="profile-picture"/></a> <a href="members/websurf">websurf</a></li>
                    
    <li><a href="members/metalsonictheonyx"><img src="../images/pfps/L8inKWYRyRc2Bpm4JXgzSeHU8ibRmG7w.png" class="profile-picture"/></a> <a href="members/metalsonictheonyx">metalsonictheonyx</a></li>
                    
    <li><a href="members/renee"><img src="../images/pfps/RoE2MGkWNZGC8pp2naYeicpAMTfOMr7d.gif" class="profile-picture"/></a> <a href="members/renee">renee</a></li>
                    
    <li><a href="members/6patch10"><img src="../images/pfps/QI06IyEZJeQEAcjp7aZ8KBgaSQVB9fyP.jpg" class="profile-picture"/></a> <a href="members/6patch10">6patch10</a></li>
                    
    <li><a href="members/videoprincess"><img src="../images/pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" class="profile-picture"/></a> <a href="members/videoprincess">videoprincess</a></li>
                    
    <li><a href="members/The Slam"><img src="../images/pfps/miB2OvLPeXt2fLbfV6u2Dv67HBjaIipv.jpg" class="profile-picture"/></a> <a href="members/The Slam">The Slam</a></li>
                    
    <li><a href="members/catlover25222"><img src="../images/pfps/yfDx2e9qnYhGKVHZ6XiBrDgoYUXlmqUZ.gif" class="profile-picture"/></a> <a href="members/catlover25222">catlover25222</a></li>
                    
    <li><a href="members/lng717"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/lng717">lng717</a></li>
                    
    <li><a href="members/mccomic"><img src="../images/pfps/DbbG7nCieHDG5K9KkkDdF2JpjOj5kgQl.jpg" class="profile-picture"/></a> <a href="members/mccomic">mccomic</a></li>
                    
    <li><a href="members/Fail155"><img src="../images/pfps/f42hm6TIN1BM6hFm1suFeIwyQnIYfOXB.png" class="profile-picture"/></a> <a href="members/Fail155">Fail155</a></li>
                    
    <li><a href="members/Ashley44598"><img src="../images/pfps/u6QXPR77NtWQa9TVUq4eGDvrHgJ04M0o.jpg" class="profile-picture"/></a> <a href="members/Ashley44598">Ashley44598</a></li>
                    
    <li><a href="members/irken24"><img src="../images/pfps/cQpGz9YxMlRXD0mRHwFlzVuctNHCsOeI.gif" class="profile-picture"/></a> <a href="members/irken24">irken24</a></li>
                    
    <li><a href="members/DoodleL0zzzy"><img src="../images/pfps/j2fHrPaplIixVCwD0uo6JtMgFiHaCqkl.gif" class="profile-picture"/></a> <a href="members/DoodleL0zzzy">DoodleL0zzzy</a></li>
                    
    <li><a href="members/chewymintz101"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/chewymintz101">chewymintz101</a></li>
                    
    <li><a href="members/Darkspear"><img src="../images/pfps/mpb33E34e6NKGmwLHB2iA4C53dIGhIiJ.jpg" class="profile-picture"/></a> <a href="members/Darkspear">Darkspear</a></li>
                    
    <li><a href="members/igotnoiphone"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/igotnoiphone">igotnoiphone</a></li>
                    
    <li><a href="members/lizardman"><img src="../images/pfps/POh6Nt98ddY9gegvCl9QmE86TnBR1yKE.jpg" class="profile-picture"/></a> <a href="members/lizardman">lizardman</a></li>
                    
    <li><a href="members/nathanandphilip"><img src="../images/pfps/KRYj3VT3aYS7YKZWM3Nqb0lY0MpCF5xP.gif" class="profile-picture"/></a> <a href="members/nathanandphilip">nathanandphilip</a></li>
                    
    <li><a href="members/PleaseEnterNameHere"><img src="../images/pfps/zysx7qoufvm37fm35qisazveqfc4aw7xjqkh4y2aic0gfc7aqhso7csmhshfgd2qrdwmznk1HaDJAmQjIeZnXu30d3p.jpg" class="profile-picture"/></a> <a href="members/PleaseEnterNameHere">PleaseEnterNameHere</a></li>
                    
    <li><a href="members/demiandselena"><img src="../images/pfps/aYPzGR4HyYPdbXyp2MvdE9gXXgl6mFmA.jpg" class="profile-picture"/></a> <a href="members/demiandselena">demiandselena</a></li>
                    
    <li><a href="members/dragon warrior"><img src="../images/pfps/CUYnvPjK9PnlCqF8XCJ2pHu4qWtMjuVm.gif" class="profile-picture"/></a> <a href="members/dragon warrior">dragon warrior</a></li>
                    
    <li><a href="members/SeanSanczel"><img src="../images/pfps/ty4ts7vuze7d0asmqd4vzwv2fr5wmoj5deptd8e0eb45bkfpnacdvx6ydzkpeujfzwy0w2sSeanHeadshot2.jpg" class="profile-picture"/></a> <a href="members/SeanSanczel">SeanSanczel</a></li>
                    
    <li><a href="members/princess-cute"><img src="../images/pfps/dhIByFTK8TWlUJ4dwFmmS7i3Fr2N1TQU.jpg" class="profile-picture"/></a> <a href="members/princess-cute">princess-cute</a></li>
                    
    <li><a href="members/Anna2"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Anna2">Anna2</a></li>
                    
    <li><a href="members/Demiluv"><img src="../images/pfps/s8hEcuVV37B3aXHJc84hJpfUi7rdyXEe.jpg" class="profile-picture"/></a> <a href="members/Demiluv">Demiluv</a></li>
                    
    <li><a href="members/AAAStriker"><img src="../images/pfps/zyhdijf2unkzmwq34mktkb0qzzkzimq78v8g4c8ppkfy5urz62ih2axsx7g4jx2ghync0ksSonic T-Shirt Photo.png" class="profile-picture"/></a> <a href="members/AAAStriker">AAAStriker</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/zacattack" file="pfps/ya3jIdTdA6n1ixrEiYp8fBc6VEBI1d2o.png" alt="zacattack" %}

<p><b>Username:</b> <a href="members/zacattack>zacattack</a></p>

<p><b>Date:</b> 2010-09-06 07:27:40</p>

<p class="comment"><b>Comment:</b> <p> wanna be friends ps im friends with spongeybrown124</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/spongeybrown124" file="pfps/8zfUgy77xLDjBBkPKMVc03WSKw9p31x2.jpg" alt="spongeybrown124" %}

<p><b>Username:</b> <a href="members/spongeybrown124>spongeybrown124</a></p>

<p><b>Date:</b> 2010-07-11 05:51:24</p>

<p class="comment"><b>Comment:</b> <p> Hello! You must be a Sonic fan!</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>