---
title: littlebigplanetguy
sidebar: home_sidebar
hide_sidebar: true
keywords: littlebigplanetguy
permalink: members/littlebigplanetguy
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/hm78xiykeij8jg53u6p3qhxdf235g3yreezfjvjcfk4vm25bxyftsra520pjvu3cn045bqhGold.jpg" alt="littlebigplanetguy" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>5</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>2</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>the hindinberg</li>
<img src="{{"../images/thumb/1_65506.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>my-first-clay-animation</li>
                
a person defeats a giant monster
                
                <br>
Added: 27-10-2009
                
</ul>
                
<ul>
<li>my-second-clay-animation</li>
                
from the last episode you thought it would be all over but this time the monster fights back
                
                <br>
Added: 31-10-2009
                
</ul>
                
<ul>
<li>my-third-clay-animation</li>
                
the human strikes back
                
                <br>
Added: 01-11-2009
                
</ul>
                
<ul>
<li>my-fourth-clay-animation-the-last-wrap</li>
                
the monster ends the battle between both of them
                
                <br>
Added: 04-11-2009
                
</ul>
                
<ul>
<li>the-hindinberg</li>
                
a true story
                
                <br>
Added: 17-10-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/JFanimations"><img src="../images/pfps/8dk0uocjf4ajmi2swdy45zwrab3orcpqfzfxfg8kb8tkim23nrvghgwfhqrwq6btxhh0ogasoldier sprite.jpg" class="profile-picture"/></a> <a href="members/JFanimations">JFanimations</a></li>
                    
    <li><a href="members/Dxd21"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Dxd21">Dxd21</a></li>
                    
    <li><a href="members/the shadow guy"><img src="../images/pfps/s1rF3xEY0bnqvYChDDPSGQgofhuhXLOF.jpg" class="profile-picture"/></a> <a href="members/the shadow guy">the shadow guy</a></li>
                    
    <li><a href="members/demiandselena"><img src="../images/pfps/aYPzGR4HyYPdbXyp2MvdE9gXXgl6mFmA.jpg" class="profile-picture"/></a> <a href="members/demiandselena">demiandselena</a></li>
                    
    <li><a href="members/banana_luver"><img src="../images/pfps/pvt7vuuf27dv4o0mv3iz75psv6roetztdhpy3a4t55e0j3d3wntsga824qe873qbb3z23skhelmet.jpg" class="profile-picture"/></a> <a href="members/banana_luver">banana_luver</a></li>
                    
    <li><a href="members/carboman"><img src="../images/pfps/8wcmjhjq3ajftet0bt5bnqsm24dku8xtuz426cgzcr3tvkiu5evgtdsj7vuqtiae72444cscarboman logo.jpg" class="profile-picture"/></a> <a href="members/carboman">carboman</a></li>
                    
    <li><a href="members/Bstyles"><img src="../images/pfps/6r7VHxFjhtGfgRfdRvQVdp4NvJvZBuK5.jpg" class="profile-picture"/></a> <a href="members/Bstyles">Bstyles</a></li>
                    
    <li><a href="members/Zerofusion101"><img src="../images/pfps/HmIPKf0o9deCg4LlVTAPm271O9nGdt5i.jpg" class="profile-picture"/></a> <a href="members/Zerofusion101">Zerofusion101</a></li>
                    
    <li><a href="members/Philip666"><img src="../images/pfps/Rvlz5FpzVoncu50Whf2iAFtDxhdcFy7W.jpg" class="profile-picture"/></a> <a href="members/Philip666">Philip666</a></li>
                    
    <li><a href="members/Mario Maniac 64"><img src="../images/pfps/xv2p6y9APxgVNv2SObp3Y1PY8py0p3Xa.jpg" class="profile-picture"/></a> <a href="members/Mario Maniac 64">Mario Maniac 64</a></li>
                    
    <li><a href="members/ccb123"><img src="../images/pfps/ouxoj08rnjjjmbbphwc3jh052oh66vrjedvo4u3i5dsfdsvifvcp40jugprb86id74q3qjapenguin.gif" class="profile-picture"/></a> <a href="members/ccb123">ccb123</a></li>
                    
    <li><a href="members/Legofilms"><img src="../images/pfps/e45pk33fwkbtph0fuyz6x3pqx8io7ndbh8oqziunrt74yybjm0h7supetxtpbwqgt5vjceuIMG00168-20090720-1421.jpg" class="profile-picture"/></a> <a href="members/Legofilms">Legofilms</a></li>
                    
    <li><a href="members/BFFS_Crew"><img src="../images/pfps/2gatv3ig6gzgniiiqbjxnuqwdgv2wxvo4u7qoeujmkqysw56vfua0aw2ggt44fgzzeefjzpcamera.jpg" class="profile-picture"/></a> <a href="members/BFFS_Crew">BFFS_Crew</a></li>
                    
    <li><a href="members/Colby3"><img src="../images/pfps/VNwTneZL5RP8Vc4iZVsZ7QdSq77qaDrt.jpg" class="profile-picture"/></a> <a href="members/Colby3">Colby3</a></li>
                    
    <li><a href="members/legofilms"><img src="../images/pfps/e45pk33fwkbtph0fuyz6x3pqx8io7ndbh8oqziunrt74yybjm0h7supetxtpbwqgt5vjceuIMG00168-20090720-1421.jpg" class="profile-picture"/></a> <a href="members/legofilms">legofilms</a></li>
                    
    <li><a href="members/Luke2017"><img src="../images/pfps/e3as8ndqqucvd6002jf4yafmzuomdoufhuxg7yxokz7ovydo6hhufn468ggav0g3m2bhswtBlue hills.jpg" class="profile-picture"/></a> <a href="members/Luke2017">Luke2017</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>