---
title: luigi130
sidebar: home_sidebar
hide_sidebar: true
keywords: luigi130
permalink: members/luigi130
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" max-width="100"%}
            
    {% include inline_image.html file="pfps/16686.jpg" alt="luigi130" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Collin</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>46</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>8</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>1</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>2264</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>3</b></li>
        
<li> Rating: <b>93.95%</b> out of <b>43</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Lego Star Wars Part One</li>
<img src="{{"../images/thumb/sJ0wYZhQfFFH5MqGqqaE.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Lego Star Wars Part Two</li>
<img src="{{"../images/thumb/QBq2Bf2b5vFaFoyqmBYm.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Lego Star Wars Part Three</li>
<img src="{{"../images/thumb/jil5qh3aRdyEC3XktMyS.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The Cliff of DOOM!</li>
<img src="{{"../images/thumb/Th5aukgzJ3CkVDz02wm2.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Kidstube vs Youtube 1</li>
<img src="{{"../images/thumb/lomxBYQnmsDPzeLxsSxS.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Lego Star Wars Part Four</li>
<img src="{{"../images/thumb/RMKk2wak3Bw4gbQVyGaH.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Epic Football Couch Catches</li>
<img src="{{"../images/thumb/1_64024.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Lego-Star-Wars-Part-One</li>
                
Part 1 of my Lego series.More are coming.They will be longer and more funny.
                
                <br>
Added: 21-11-2009
                
</ul>
                
<ul>
<li>Lego-Star-Wars-Part-Two</li>
                
Number 2 of the Lego series.Still more to come.
                
                <br>
Added: 21-11-2009
                
</ul>
                
<ul>
<li>Lego-Star-Wars-Part-Three</li>
                
Next one!
                
                <br>
Added: 22-11-2009
                
</ul>
                
<ul>
<li>The-Cliff-of-DOOM</li>
                
People try to get to the other side of the deadly cliff. This is my first Pivot to go on Kidstube. Sorry about the music in the backround I was watching Chowder.
                
                <br>
Added: 22-11-2009
                
</ul>
                
<ul>
<li>Kidstube-vs-Youtube-1</li>
                
Kidstube's best against Youtube's best. Kidstube is on the right.
                
                <br>
Added: 26-11-2009
                
</ul>
                
<ul>
<li>Lego-Star-Wars-Part-Four</li>
                
Another of my hilarious series!!!
                
                <br>
Added: 01-12-2009
                
</ul>
                
<ul>
<li>Lego-Star-Wars-Part-Five</li>
                
Another!!!!!!!!
                
                <br>
Added: 01-12-2009
                
</ul>
                
<ul>
<li>Mario-Bloopers</li>
                
Watch to the middle thats where it gets FUNNY!
                
                <br>
Added: 03-12-2009
                
</ul>
                
<ul>
<li>My-AT-AT-Walker-and-Darth-Vaders-Room</li>
                
Please watch til the end its funny! :D
                
                <br>
Added: 21-12-2009
                
</ul>
                
<ul>
<li>The-Clone-Office-Part-One</li>
                
Clones fall down many floors... :D
                
                <br>
Added: 21-12-2009
                
</ul>
                
<ul>
<li>Kung-Fu-Fighting</li>
                
Music video for Carl Douglas's Kung Fu Fighting. I dont own the song but i own the video. EvilTofuMan sorta inspired me!
                
                <br>
Added: 22-12-2009
                
</ul>
                
<ul>
<li>Kung-Fu-Sticks</li>
                
A pivot animation. Kung Fu Sticks fight. Again I was watching TV so yeahhhhhh.
                
                <br>
Added: 23-12-2009
                
</ul>
                
<ul>
<li>Kung-Fu-Sticks-2</li>
                
The second Kung Fu Sticks. Again I was watching TV and i forgot to turn the sound off AGAIN!!!
                
                <br>
Added: 24-12-2009
                
</ul>
                
<ul>
<li>Crazed-Sticks</li>
                
Crazy stickfigures. Hope you enjoy the animation!      :D Made by me. Sorry about the blank red screen KT did that.
                
                <br>
Added: 28-12-2009
                
</ul>
                
<ul>
<li>Kung-Fu-Sticks-3</li>
                
Another Kung Fu Sticks made by me!!!
                
                <br>
Added: 28-12-2009
                
</ul>
                
<ul>
<li>Words-to-my-Lego-Star-Wars-Rap</li>
                
The title says it all.
                
                <br>
Added: 28-12-2009
                
</ul>
                
<ul>
<li>The-Dumb-Brother-a-Motion-Film</li>
                
Title says it all. Note I was being dumb on porporse.
                
                <br>
Added: 28-12-2009
                
</ul>
                
<ul>
<li>Nintendo-Tribute</li>
                
Nintendo deserves this on so many levels. NINTENDO ROCKS!!!
                
                <br>
Added: 29-12-2009
                
</ul>
                
<ul>
<li>The-Cliff-of-DOOM-part-2</li>
                
my animation getsa new part!
                
                <br>
Added: 29-12-2009
                
</ul>
                
<ul>
<li>Pivot-to-Windows-Movie-Maker-Tutorial</li>
                
My first tutorial.
                
                <br>
Added: 30-12-2009
                
</ul>
                
<ul>
<li>Fingerboarding</li>
                
Me fingerboarding.
                
                <br>
Added: 30-12-2009
                
</ul>
                
<ul>
<li>Sports News Bloopers</li>
                
Look at the title.
                
                <br>
Added: 01-01-2010
                
</ul>
                
<ul>
<li>Crazed-Sticks-2</li>
                
There back!!!
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>How-to-Stop-Hackers</li>
                
Look at the title now give me your money kidding no not really.
                
                <br>
Added: 03-01-2010
                
</ul>
                
<ul>
<li>Lego-Olympics-Summer</li>
                
Lego meets olympics. Please no mean comments I worked hard on this.<br />
Group 1:<br />
Han Solo<br />
Princess Leia<br />
Chewbacca<br />
Ice Cap Bob<br />
Some Dude<br />
Rebel Commando<br />
Group 2:<br />
Darth Vader<br />
Some Other Dude<br />
Imperial Trooper<br />
Wookie<br />
Biker Scout<br />
Clone
                
                <br>
Added: 08-01-2010
                
</ul>
                
<ul>
<li>Objects-Gone-Wild</li>
                
A stop motion-animation.
                
                <br>
Added: 08-01-2010
                
</ul>
                
<ul>
<li>Lego-Belly-Cut-While-I-Play-Unfitting-Music</li>
                
The title says it all.
                
                <br>
Added: 08-01-2010
                
</ul>
                
<ul>
<li>Dr-Octagonapus-While-I-Play-Unfitting-Music</li>
                
The title says it all. The song is Watch The Tapes.
                
                <br>
Added: 08-01-2010
                
</ul>
                
<ul>
<li>Pivot-Man-Gets-Smashed-Into-a-Wall-Repetadly</li>
                
The title says it all. This is made by me.
                
                <br>
Added: 09-01-2010
                
</ul>
                
<ul>
<li>Sad-Lego-Man-While-I-Play-Unfitting-Music</li>
                
... Its Raining Blood
                
                <br>
Added: 09-01-2010
                
</ul>
                
<ul>
<li>SEIZURE-BOY</li>
                
ummmm lol
                
                <br>
Added: 12-01-2010
                
</ul>
                
<ul>
<li>My Dog Molly</li>
                
My dog Molly she is about 1 year old and (if you didnt notice) we have the same color hair its wierd....
                
                <br>
Added: 16-01-2010
                
</ul>
                
<ul>
<li>Super Junior-Sorry Sorry MV Dance Version</li>
                
Song: Sorry Sorry<br />
Band: Super Junior- A Korean boy band.
                
                <br>
Added: 16-01-2010
                
</ul>
                
<ul>
<li>Dominoes</li>
                
Some dominoe tracks i made. Im sorry for the random shout-outs that was my mom.
                
                <br>
Added: 18-01-2010
                
</ul>
                
<ul>
<li>Crazed-Sticks-4</li>
                
Im runnin out of ideas so im taking suggestions. Email me or comment if you have one.
                
                <br>
Added: 24-01-2010
                
</ul>
                
<ul>
<li>The-Dumb-Baseball-Player</li>
                
I was acting dumb on porpose.
                
                <br>
Added: 11-03-2010
                
</ul>
                
<ul>
<li>A-Ninja-Story-Lego-Style-1</li>
                
A new and exciting series.
                
                <br>
Added: 11-03-2010
                
</ul>
                
<ul>
<li>A-Ninja-Story-Lego-Style-2</li>
                
Ninja training fail. Part 2 of my new series.
                
                <br>
Added: 12-03-2010
                
</ul>
                
<ul>
<li>Mario-Puppet-Pals-Mysterious-Ticking-Noise</li>
                
I didnt copy NielCicegera. This series isnt all based on him.
                
                <br>
Added: 29-03-2010
                
</ul>
                
<ul>
<li>luigi130-ADHD-Time-preview</li>
                
A new talk show thing inspired by Off The Pill!
                
                <br>
Added: 24-04-2010
                
</ul>
                
<ul>
<li>KidsTube-Fantasy-Football-Leauge</li>
                
If i get enough people to form a leauge then ill form a leauge on ESPN.
                
                <br>
Added: 11-08-2010
                
</ul>
                
<ul>
<li>Dont-Mess-With-Little-Dude</li>
                
Dont mess with him, little dude with big dad.
                
                <br>
Added: 17-08-2010
                
</ul>
                
<ul>
<li>5-Star-Fails-Skate-It</li>
                
A new luigi130 series: 5 Star Fails. Episode 1, Skate It.
                
                <br>
Added: 20-08-2010
                
</ul>
                
<ul>
<li>The-Force-is-With-Us</li>
                
Someone has brought the power of the force to Earth. May the force be with you young Jedi.
                
                <br>
Added: 24-09-2010
                
</ul>
                
<ul>
<li>Epic-Football-Couch-Catches</li>
                
Awesome catches when I was messing around with my friend. They are awesome catches.
                
                <br>
Added: 24-09-2010
                
</ul>
                
<ul>
<li>Cuponk-Basic-Cards</li>
                
Me Cuponking plz check out my other vids and a luigi130 production... 5 STAR FAILS!!!
                
                <br>
Added: 16-08-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/EvilTofuMan"><img src="../images/pfps/h8FgJ9CUBYbGJMthbxzP2EoUmyxhtgfO.jpg" class="profile-picture"/></a> <a href="members/EvilTofuMan">EvilTofuMan</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/narutofangirl99" file="pfps/P6t8E5z255qPIrcTCLEJpTDXpx8GPBUf.jpg" alt="narutofangirl99" %}

<p><b>Username:</b> <a href="members/narutofangirl99">narutofangirl99</a></p>

<p><b>Date:</b> 2011-04-20 14:52:11</p>

<p class="comment"><b>Comment:</b> <p>hi!! i really haven't talked to you in a while have i? sorry! heh... :)</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Rando87" file="pfps/placeholder.gif" alt="Rando87" %}

<p><b>Username:</b> <a href="members/Rando87">Rando87</a></p>

<p><b>Date:</b> 2011-03-04 22:56:17</p>

<p class="comment"><b>Comment:</b> <p>Your vids are sweet!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/warriorchikorita" file="pfps/28gM6PfjwuMWmwdLAPjA7byq3YJCTtIJ.jpg" alt="warriorchikorita" %}

<p><b>Username:</b> <a href="members/warriorchikorita">warriorchikorita</a></p>

<p><b>Date:</b> 2011-02-28 15:33:50</p>

<p class="comment"><b>Comment:</b> <p>WHY ARE YOU SUCH A JERK TO KILLERWII12 YOU JERK<br/>
</p>
<p> </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/killerwii12" file="pfps/DJniRlpMXKUoZ8FM6CYqBxEn3lj4w60x.jpg" alt="killerwii12" %}

<p><b>Username:</b> <a href="members/killerwii12">killerwii12</a></p>

<p><b>Date:</b> 2011-01-08 06:10:13</p>

<p class="comment"><b>Comment:</b> <p>i sent u an invite</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/killerwii12" file="pfps/DJniRlpMXKUoZ8FM6CYqBxEn3lj4w60x.jpg" alt="killerwii12" %}

<p><b>Username:</b> <a href="members/killerwii12">killerwii12</a></p>

<p><b>Date:</b> 2011-01-08 06:09:21</p>

<p class="comment"><b>Comment:</b> <p>hello</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2011-01-08 05:51:35</p>

<p class="comment"><b>Comment:</b> <p> EAGLES R GONNA PWN DA PACKERS 2MORROW YAYAAYAYAYAYAYAYAYAYYAYAYYAYAY!!!!!!! GET READY PACK UR STILL GONNA LOSE!!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/2020st" file="pfps/zwBirn94ZBNKxmprQsVrPtoYFhtlr4Rg.gif" alt="2020st" %}

<p><b>Username:</b> <a href="members/2020st">2020st</a></p>

<p><b>Date:</b> 2010-11-21 12:54:23</p>

<p class="comment"><b>Comment:</b> <p> MY ROCKBAND MIC WORKS WITH MAH CPU :DDDDDDDDDD But anyways, I make the Stevie SHow shorts now so now I can record my voice! And also I am on youtube now, my name on it is ThePivotMaster9802.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/kinggogomaster" file="pfps/placeholder.gif" alt="kinggogomaster" %}

<p><b>Username:</b> <a href="members/kinggogomaster">kinggogomaster</a></p>

<p><b>Date:</b> 2010-10-09 08:55:25</p>

<p class="comment"><b>Comment:</b> <p> <span class="Apple-style-span" style="font-family: 'Lucida Grande'; font-size: 11px; color: rgb(68, 68, 68); white-space: pre-wrap; ">marc he is not your friend </span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/wwerocks619hardyz" file="pfps/placeholder.gif" alt="wwerocks619hardyz" %}

<p><b>Username:</b> <a href="members/wwerocks619hardyz">wwerocks619hardyz</a></p>

<p><b>Date:</b> 2010-09-06 16:00:02</p>

<p class="comment"><b>Comment:</b> <p>Hey, Buddy!!! Long Time No Talk!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-08-16 09:58:28</p>

<p class="comment"><b>Comment:</b> <p>Yay 1500 profile views i feel popular (sorta)</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-07-30 08:23:02</p>

<p class="comment"><b>Comment:</b> <p> hi guys and thanks</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/mariodude02" file="pfps/YOVfKvDivslrlad1kY4TGc8pdv0H2FtP.jpg" alt="mariodude02" %}

<p><b>Username:</b> <a href="members/mariodude02">mariodude02</a></p>

<p><b>Date:</b> 2010-07-17 07:48:29</p>

<p class="comment"><b>Comment:</b> <p>dude i think ur cool</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/R2505" file="pfps/UGQY7yNx8zysJNB1URzs8Wj5Z3UWJJRd.jpg" alt="R2505" %}

<p><b>Username:</b> <a href="members/R2505">R2505</a></p>

<p><b>Date:</b> 2010-05-04 14:09:38</p>

<p class="comment"><b>Comment:</b> <p>hello</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/pokemonlover" file="pfps/placeholder.gif" alt="pokemonlover" %}

<p><b>Username:</b> <a href="members/pokemonlover">pokemonlover</a></p>

<p><b>Date:</b> 2010-04-16 06:10:21</p>

<p class="comment"><b>Comment:</b> <p>hey remember me im swshycat9 and my name jenny its me i hope you remember me</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-04-15 16:00:51</p>

<p class="comment"><b>Comment:</b> <p> Great!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-04-15 15:29:43</p>

<p class="comment"><b>Comment:</b> <p>MarioBoy64 is staying!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-04-15 15:26:11</p>

<p class="comment"><b>Comment:</b> <p>welcome</p>
<p>cool</p>
<p>im good how bout u</p>
<p>cool! wanna connect some time! wats your friend code</p>
<p>ummmmm</p>
<p>ok sorry bout late responces my laptop has a bug and i have to use my Dads Mac to comment sry</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/panzeca38" file="pfps/placeholder.gif" alt="panzeca38" %}

<p><b>Username:</b> <a href="members/panzeca38">panzeca38</a></p>

<p><b>Date:</b> 2010-04-11 16:00:49</p>

<p class="comment"><b>Comment:</b> <p>i like pie!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/R2505" file="pfps/UGQY7yNx8zysJNB1URzs8Wj5Z3UWJJRd.jpg" alt="R2505" %}

<p><b>Username:</b> <a href="members/R2505">R2505</a></p>

<p><b>Date:</b> 2010-03-23 17:04:51</p>

<p class="comment"><b>Comment:</b> <p> I have mario kart wii</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/wwerocks619hardyz" file="pfps/placeholder.gif" alt="wwerocks619hardyz" %}

<p><b>Username:</b> <a href="members/wwerocks619hardyz">wwerocks619hardyz</a></p>

<p><b>Date:</b> 2010-03-20 08:01:29</p>

<p class="comment"><b>Comment:</b> <p>Hey!!! It's marc1220!! How are you?</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-03-18 08:36:36</p>

<p class="comment"><b>Comment:</b> <p> I saw the SpongeBob episode Model Sponge yesterday!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-03-16 05:42:42</p>

<p class="comment"><b>Comment:</b> <p> Thax!!!!!!!!!!!!!!! (That means "thanks" in Colby launguige)</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-03-12 13:04:06</p>

<p class="comment"><b>Comment:</b> <p> ya,thanks,i dunno,hi,woohoo thanks,and ythanks i like ur pof. pic</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-03-07 18:46:27</p>

<p class="comment"><b>Comment:</b> <p> You rock</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/mat50h" file="pfps/F1f4duOJQ6m7UTdBQr1BOYJ4N6angmdl.jpg" alt="mat50h" %}

<p><b>Username:</b> <a href="members/mat50h">mat50h</a></p>

<p><b>Date:</b> 2010-02-27 19:44:03</p>

<p class="comment"><b>Comment:</b> <p><span style="font-family: Times New Roman;"><span style="font-size: xx-large;">you won!!!!!</span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/manboy10" file="pfps/6J5RyJc8ILtxxVempT8fs1enaornoS0k.jpg" alt="manboy10" %}

<p><b>Username:</b> <a href="members/manboy10">manboy10</a></p>

<p><b>Date:</b> 2010-02-27 07:24:57</p>

<p class="comment"><b>Comment:</b> <p> Eh, Whats Up Doc (Doc = YOU)? Hi Luigi130 (or WEEGIE130) !!!!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/bandicootfan13" file="pfps/placeholder.gif" alt="bandicootfan13" %}

<p><b>Username:</b> <a href="members/bandicootfan13">bandicootfan13</a></p>

<p><b>Date:</b> 2010-02-22 19:43:51</p>

<p class="comment"><b>Comment:</b> <p> why cant you accept friend invites i really wanted to be your friend</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/R2505" file="pfps/UGQY7yNx8zysJNB1URzs8Wj5Z3UWJJRd.jpg" alt="R2505" %}

<p><b>Username:</b> <a href="members/R2505">R2505</a></p>

<p><b>Date:</b> 2010-02-15 14:04:41</p>

<p class="comment"><b>Comment:</b> <p>oh well nice profile picture</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/marc1220" file="pfps/placeholder.gif" alt="marc1220" %}

<p><b>Username:</b> <a href="members/marc1220">marc1220</a></p>

<p><b>Date:</b> 2010-02-15 12:17:51</p>

<p class="comment"><b>Comment:</b> <p>that stinks.<img alt="" src="../images/fckeditor/editor/images/smiley/msn/cry_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-02-15 09:40:35</p>

<p class="comment"><b>Comment:</b> <p>ya sorry i cant accept any friend invites... sorry<img alt="" src="http://kidstube.com/fckeditor/editor/images/smiley/msn/sad_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/marc1220" file="pfps/placeholder.gif" alt="marc1220" %}

<p><b>Username:</b> <a href="members/marc1220">marc1220</a></p>

<p><b>Date:</b> 2010-02-15 07:32:12</p>

<p class="comment"><b>Comment:</b> <p>go eagles and luigi.lol</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-02-15 07:05:28</p>

<p class="comment"><b>Comment:</b> <p>thanks and hi and I WISH but no... Even though i dont have it im pretty much a master</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/R2505" file="pfps/UGQY7yNx8zysJNB1URzs8Wj5Z3UWJJRd.jpg" alt="R2505" %}

<p><b>Username:</b> <a href="members/R2505">R2505</a></p>

<p><b>Date:</b> 2010-02-14 18:31:29</p>

<p class="comment"><b>Comment:</b> <p>do u have super smash bros brawl?</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/R2505" file="pfps/UGQY7yNx8zysJNB1URzs8Wj5Z3UWJJRd.jpg" alt="R2505" %}

<p><b>Username:</b> <a href="members/R2505">R2505</a></p>

<p><b>Date:</b> 2010-02-14 17:59:56</p>

<p class="comment"><b>Comment:</b> <p>hello</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/vinneavistafan" file="pfps/Pg1wNp2oFaz5flJhPTBlZ3OVxpYTMk3b.png" alt="vinneavistafan" %}

<p><b>Username:</b> <a href="members/vinneavistafan">vinneavistafan</a></p>

<p><b>Date:</b> 2010-02-14 17:26:52</p>

<p class="comment"><b>Comment:</b> <p> Happy Valetines DAY!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-02-14 16:57:55</p>

<p class="comment"><b>Comment:</b> <p>lol thnx! <img alt="" src="../images/fckeditor/editor/images/smiley/msn/teeth_smile.gif" style="width: 50px; height: 46px"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-02-14 15:18:07</p>

<p class="comment"><b>Comment:</b> <p>i like your pic</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-02-14 15:06:25</p>

<p class="comment"><b>Comment:</b> <p>you are welcome! <img alt="" height="40" src="../images/fckeditor/editor/images/smiley/msn/regular_smile.gif" width="38"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-02-14 14:56:24</p>

<p class="comment"><b>Comment:</b> <p>yay and thanks dude!<img alt="" src="http://kidstube.com/fckeditor/editor/images/smiley/msn/teeth_smile.gif"/> Go team USA!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-02-13 18:29:28</p>

<p class="comment"><b>Comment:</b> <p>ARE ARE SO AWESOME DUDE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/vinneavistafan" file="pfps/Pg1wNp2oFaz5flJhPTBlZ3OVxpYTMk3b.png" alt="vinneavistafan" %}

<p><b>Username:</b> <a href="members/vinneavistafan">vinneavistafan</a></p>

<p><b>Date:</b> 2010-02-13 09:31:47</p>

<p class="comment"><b>Comment:</b> <p> luigi130 YOU HAVE 344 PROFILE VIEWS!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-02-12 09:10:54</p>

<p class="comment"><b>Comment:</b> <p>hi!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-02-10 18:14:49</p>

<p class="comment"><b>Comment:</b> <p>hi colby!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-02-10 18:02:17</p>

<p class="comment"><b>Comment:</b> <p>thnx 2020st!!!!!!!!!!!!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-02-10 16:27:40</p>

<p class="comment"><b>Comment:</b> <p>cool yo!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-02-09 19:21:27</p>

<p class="comment"><b>Comment:</b> <p>me too <span style="font-size: large">SO BADLY!!!!<font size="2"> and thanks!</font></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/2020st" file="pfps/zwBirn94ZBNKxmprQsVrPtoYFhtlr4Rg.gif" alt="2020st" %}

<p><b>Username:</b> <a href="members/2020st">2020st</a></p>

<p><b>Date:</b> 2010-02-09 19:18:57</p>

<p class="comment"><b>Comment:</b> <p>I wish you could add people as a friend luigi , because I really want you to be my friend.I liked the super mario bloopers , I BELIVE I CAN FLY!I like your picture!Hey I looked at your site!I like it!Like my new picture?</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-02-09 19:16:11</p>

<p class="comment"><b>Comment:</b> <p>yay 275 profile views!!!! thanks peoples!<img alt="" src="http://kidstube.com/fckeditor/editor/images/smiley/msn/teeth_smile.gif"/><img alt="" src="http://kidstube.com/fckeditor/editor/images/smiley/msn/regular_smile.gif"/><img alt="" src="http://kidstube.com/fckeditor/editor/images/smiley/msn/shades_smile.gif"/><img alt="" src="http://kidstube.com/fckeditor/editor/images/smiley/msn/thumbs_up.gif"/> thanks again!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-02-09 18:55:44</p>

<p class="comment"><b>Comment:</b> <p>teh go luigi!!!!! i always use him on New Super Mario Bros!!! tee hee the costume must be cool! Hey like my pic?!?!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/2020st" file="pfps/zwBirn94ZBNKxmprQsVrPtoYFhtlr4Rg.gif" alt="2020st" %}

<p><b>Username:</b> <a href="members/2020st">2020st</a></p>

<p><b>Date:</b> 2010-02-09 18:42:52</p>

<p class="comment"><b>Comment:</b> <p>I like your DSi picture colby2 , lol!I have a DSi but not allowed to post pictures of myself on the internet, so sorry I wish Icould show my picture of my with that lip thing on.And I have a luigi costume!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/2020st" file="pfps/zwBirn94ZBNKxmprQsVrPtoYFhtlr4Rg.gif" alt="2020st" %}

<p><b>Username:</b> <a href="members/2020st">2020st</a></p>

<p><b>Date:</b> 2010-02-09 18:38:58</p>

<p class="comment"><b>Comment:</b> <p>Hey I beat New Super Mario Bros. in 2 days with mario , and in one epic hour with luigi!Luigi rules!<img alt="" src="../images/fckeditor/editor/images/smiley/msn/omg_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-02-09 14:33:09</p>

<p class="comment"><b>Comment:</b> <p>i will R2505, btw superlegodude my mom wont let me accept any invites or send any sorry, thanks R2505, yay mat50h wanna enter mine, ya go luigi, and wats your friend code</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/snoopster100" file="pfps/viJho5Jo3I4DqdWtojsLSYn9DvlG1Mcl.gif" alt="snoopster100" %}

<p><b>Username:</b> <a href="members/snoopster100">snoopster100</a></p>

<p><b>Date:</b> 2010-02-07 06:43:48</p>

<p class="comment"><b>Comment:</b> <p>i want to race you in mario kart Wii</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luxray100" file="pfps/45yzCeqh1V6mp5eZtWAGio6qDFESvBEq.png" alt="luxray100" %}

<p><b>Username:</b> <a href="members/luxray100">luxray100</a></p>

<p><b>Date:</b> 2010-02-06 13:28:28</p>

<p class="comment"><b>Comment:</b> <p>I love<span style="color: #00ffff"> Luigi! </span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/mat50h" file="pfps/F1f4duOJQ6m7UTdBQr1BOYJ4N6angmdl.jpg" alt="mat50h" %}

<p><b>Username:</b> <a href="members/mat50h">mat50h</a></p>

<p><b>Date:</b> 2010-02-05 17:21:07</p>

<p class="comment"><b>Comment:</b> <p>it almost time to see who wins!</p>
<p> </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/R2505" file="pfps/UGQY7yNx8zysJNB1URzs8Wj5Z3UWJJRd.jpg" alt="R2505" %}

<p><b>Username:</b> <a href="members/R2505">R2505</a></p>

<p><b>Date:</b> 2010-02-01 20:43:22</p>

<p class="comment"><b>Comment:</b> <p>You make awsome videos.I really liked mario bloopers it was funny!<img alt="" src="../images/fckeditor/editor/images/smiley/msn/regular_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/superlegodude" file="pfps/ztYfQqe8ALGYwS48rL2olhmbEBYlxB4m.jpg" alt="superlegodude" %}

<p><b>Username:</b> <a href="members/superlegodude">superlegodude</a></p>

<p><b>Date:</b> 2010-02-01 17:33:34</p>

<p class="comment"><b>Comment:</b> <p>hello! Please be my friend so kidstube could be a higher-rated website!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/R2505" file="pfps/UGQY7yNx8zysJNB1URzs8Wj5Z3UWJJRd.jpg" alt="R2505" %}

<p><b>Username:</b> <a href="members/R2505">R2505</a></p>

<p><b>Date:</b> 2010-02-01 17:17:48</p>

<p class="comment"><b>Comment:</b> <p>hello luigi130 check out my page!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-01-31 18:33:21</p>

<p class="comment"><b>Comment:</b> <p>ummm hi and thanks</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/FredFan1126" file="pfps/VQg7QNWhFY0yJdf4jtBiRQ4zJLN7aFpw.jpg" alt="FredFan1126" %}

<p><b>Username:</b> <a href="members/FredFan1126">FredFan1126</a></p>

<p><b>Date:</b> 2010-01-30 13:12:51</p>

<p class="comment"><b>Comment:</b> <p>Hello u rock hi hello hi hello hi hello hi im crazy i like spaghetti</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-01-29 14:16:14</p>

<p class="comment"><b>Comment:</b> <p> hellos</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-01-24 17:03:48</p>

<p class="comment"><b>Comment:</b> <p></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/vinneavistafan" file="pfps/Pg1wNp2oFaz5flJhPTBlZ3OVxpYTMk3b.png" alt="vinneavistafan" %}

<p><b>Username:</b> <a href="members/vinneavistafan">vinneavistafan</a></p>

<p><b>Date:</b> 2010-01-24 11:21:15</p>

<p class="comment"><b>Comment:</b> <p>So hi luigi :-D</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-01-24 06:55:50</p>

<p class="comment"><b>Comment:</b> <p>hey peoplez email me when you want to register and/or race on <span style="color: #ff0000">Mario Kart Wii </span>or <span style="color: #ff0000">Mario Kart DS!!!!</span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-01-24 06:48:34</p>

<p class="comment"><b>Comment:</b> <p>hi yoshi <img alt="" src="../images/fckeditor/editor/images/smiley/msn/regular_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/yoshi1999" file="pfps/teijj4g0b5qqoko76ezse3aii0omfygy3q8dke5j7jzmvcjsg78jy7s8w4i2uqpo6psfrmpMe!.jpg" alt="yoshi1999" %}

<p><b>Username:</b> <a href="members/yoshi1999">yoshi1999</a></p>

<p><b>Date:</b> 2010-01-23 21:47:17</p>

<p class="comment"><b>Comment:</b> <p>Hey weege! :DD</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-01-23 16:04:09</p>

<p class="comment"><b>Comment:</b> <p>i have and thanks they were FUNNY!<img alt="" src="http://kidstube.com/fckeditor/editor/images/smiley/msn/teeth_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-01-23 13:22:28</p>

<p class="comment"><b>Comment:</b> <p>nothn really how are you</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/vinneavistafan" file="pfps/Pg1wNp2oFaz5flJhPTBlZ3OVxpYTMk3b.png" alt="vinneavistafan" %}

<p><b>Username:</b> <a href="members/vinneavistafan">vinneavistafan</a></p>

<p><b>Date:</b> 2010-01-23 08:05:35</p>

<p class="comment"><b>Comment:</b> <p>Hi luigi130 'sup</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130">luigi130</a></p>

<p><b>Date:</b> 2010-01-23 07:00:00</p>

<p class="comment"><b>Comment:</b> <p><span style="color: #ff0000">hi colby2 and anyone else thatll comment or view this<img alt="" src="../images/fckeditor/editor/images/smiley/msn/regular_smile.gif"/></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/vdmman" file="pfps/xcsoluea3H3l3jYTtC2M1s9EISsqu7bf.png" alt="vdmman" %}

<p><b>Username:</b> <a href="members/vdmman">vdmman</a></p>

<p><b>Date:</b> 2010-01-23 06:58:20</p>

<p class="comment"><b>Comment:</b> <p>hi luigi130 dude and colby2</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2">colby2</a></p>

<p><b>Date:</b> 2010-01-23 06:49:56</p>

<p class="comment"><b>Comment:</b> <p>hi</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>