---
title: luxray
sidebar: home_sidebar
hide_sidebar: true
keywords: luxray
permalink: members/luxray
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/dXDJV6N97mJGHH6MG3xghC0wrirLuZiN.jpg" alt="luxray" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>12</b></li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/eevee2glaceon"><img src="../images/pfps/7m3jxetrngugcpavkjwugtky28ecf6kegeo4h6mub4ybjzxs7ibe0j2ri6tn04r7732fzcxeevee.jpg" class="profile-picture"/></a> <a href="members/eevee2glaceon">eevee2glaceon</a></li>
                    
    <li><a href="members/omairis"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/omairis">omairis</a></li>
                    
    <li><a href="members/korina"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/korina">korina</a></li>
                    
    <li><a href="members/Quinibies"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Quinibies">Quinibies</a></li>
                    
    <li><a href="members/zerothewolf"><img src="../images/pfps/Cvi2IvmpJ4PhHjIZZkQlOU4gSHHOcKbe.png" class="profile-picture"/></a> <a href="members/zerothewolf">zerothewolf</a></li>
                    
    <li><a href="members/cooldragon6557"><img src="../images/pfps/U4n8yQSJHmekqsQd72jOVpxtnUEL46FN.jpg" class="profile-picture"/></a> <a href="members/cooldragon6557">cooldragon6557</a></li>
                    
    <li><a href="members/christianphillips"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/christianphillips">christianphillips</a></li>
                    
    <li><a href="members/killerwii12"><img src="../images/pfps/DJniRlpMXKUoZ8FM6CYqBxEn3lj4w60x.jpg" class="profile-picture"/></a> <a href="members/killerwii12">killerwii12</a></li>
                    
    <li><a href="members/eeveetwoespeon"><img src="../images/pfps/brmb5v47pyy0o8yb48fkw6zb668d8cuat48no3i2r7t36g4yg8a05yz3vy6u0psijrvvj4othumbnailCAP1R3CY.jpg" class="profile-picture"/></a> <a href="members/eeveetwoespeon">eeveetwoespeon</a></li>
                    
    <li><a href="members/warriorchikorita"><img src="../images/pfps/28gM6PfjwuMWmwdLAPjA7byq3YJCTtIJ.jpg" class="profile-picture"/></a> <a href="members/warriorchikorita">warriorchikorita</a></li>
                    
    <li><a href="members/FrostTheGlaceon"><img src="../images/pfps/8d5ggteyp0ab7nv4a233jtbwe0u7vpstspzw65jmujksv6otwfn4wms0ebyxqgh6v6uq24zGlaceon.png" class="profile-picture"/></a> <a href="members/FrostTheGlaceon">FrostTheGlaceon</a></li>
                    
    <li><a href="members/ThunderTheJolteon"><img src="../images/pfps/jrn8dinth7ou0rofhguzp0zp006ygisq05n4dzmiwz3mhhrpndgz26gtvbg3kzhatv2wje4481041988_1460231.gif" class="profile-picture"/></a> <a href="members/ThunderTheJolteon">ThunderTheJolteon</a></li>
                    
    <li><a href="members/luxray100"><img src="../images/pfps/45yzCeqh1V6mp5eZtWAGio6qDFESvBEq.png" class="profile-picture"/></a> <a href="members/luxray100">luxray100</a></li>
                    
    <li><a href="members/TreeckoFan202"><img src="../images/pfps/e3bjtd2xj4qw6nr0divj84x7xhztvkizchbvk0jtt0grcvig42o2wazihqz4y8sygrkqis7treecko1[1].gif" class="profile-picture"/></a> <a href="members/TreeckoFan202">TreeckoFan202</a></li>
                    
    <li><a href="members/metalsonictheonyx"><img src="../images/pfps/L8inKWYRyRc2Bpm4JXgzSeHU8ibRmG7w.png" class="profile-picture"/></a> <a href="members/metalsonictheonyx">metalsonictheonyx</a></li>
                    
    <li><a href="members/gameliking"><img src="../images/pfps/zbq3dhnxpwbtwkeceo5bj2shbbi6gbm6c00d8c0pzz6nc8pgomixcy3exb84cmycdqgat5nThe_Chipettes_Arrive_by_BeastGirl9206.jpg" class="profile-picture"/></a> <a href="members/gameliking">gameliking</a></li>
                    
    <li><a href="members/techhead"><img src="../images/pfps/psvTdPdoA5lxQK1YdBaRI1egJrRmOYC1.jpg" class="profile-picture"/></a> <a href="members/techhead">techhead</a></li>
                    
    <li><a href="members/shadefurthewarrior"><img src="../images/pfps/k6csi8zmwgf8ybow8bpqxjyb5sgjj7uu5ubeu0of6uevtqiqrw6d4tdzcj8jgt5cc4ewws2Picture 1401.jpg" class="profile-picture"/></a> <a href="members/shadefurthewarrior">shadefurthewarrior</a></li>
                    
    <li><a href="members/die911"><img src="../images/pfps/4swsgzypyc4gr3y4y2nmk2ob5r8qigsbyft43hhrjbv04jtta44kwikqxj46rn6ero6ivfzeevee.gif" class="profile-picture"/></a> <a href="members/die911">die911</a></li>
                    
    <li><a href="members/star7003"><img src="../images/pfps/nEAmxU7btRGFSah9Bqg7DW2jbYzDQtt1.jpg" class="profile-picture"/></a> <a href="members/star7003">star7003</a></li>
                    
    <li><a href="members/pikachu2"><img src="../images/pfps/dHgQRyeIvJ9htahXhYYfUGXsJRAaYMrz.gif" class="profile-picture"/></a> <a href="members/pikachu2">pikachu2</a></li>
                    
    <li><a href="members/eveetovaporeon"><img src="../images/pfps/4rn05cruow4qv4ojnw84bgytxindi0odi03c0ixd6qrqi60vtxos3ecrknute6uoxoqnxcqPicture 1400.jpg" class="profile-picture"/></a> <a href="members/eveetovaporeon">eveetovaporeon</a></li>
                    
    <li><a href="members/Pikapower34"><img src="../images/pfps/7du2vwsnrc37746hf4i2nga8hs6paue5vyvhkftzfnxbftiimrbyy8x4stksenmxd86mcqcPinRS025.gif" class="profile-picture"/></a> <a href="members/Pikapower34">Pikapower34</a></li>
                    
    <li><a href="members/pokemonlover12"><img src="../images/pfps/HTRZzNTkxmhton7aRdwPcNKlZkeNCZAJ.png" class="profile-picture"/></a> <a href="members/pokemonlover12">pokemonlover12</a></li>
                    
    <li><a href="members/togekisspika35"><img src="../images/pfps/13ESjLkMsFyxM5Q5KVkcqmJPmhRjZ2UR.jpg" class="profile-picture"/></a> <a href="members/togekisspika35">togekisspika35</a></li>
                    
    <li><a href="members/lady"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/lady">lady</a></li>
                    
    <li><a href="members/inluv"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/inluv">inluv</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>