---
title: maddog277
sidebar: home_sidebar
hide_sidebar: true
keywords: maddog277
permalink: members/maddog277
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/v7c3rb07t4pp7hntito8cpdavqjsxtukrwc7w35gvitto4dxppup4xpoey60hrawdcux4o4tired guinea pig.jpg" alt="maddog277" max-width="100"%}
            
    {% include inline_image.html file="pfps/" alt="maddog277" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Madi</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>18</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>384</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>100%</b> out of <b>2</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/SeanSanczel"><img src="../images/pfps/ty4ts7vuze7d0asmqd4vzwv2fr5wmoj5deptd8e0eb45bkfpnacdvx6ydzkpeujfzwy0w2sSeanHeadshot2.jpg" class="profile-picture"/></a> <a href="members/SeanSanczel">SeanSanczel</a></li>
                    
    <li><a href="members/luckylisa1998"><img src="../images/pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" class="profile-picture"/></a> <a href="members/luckylisa1998">luckylisa1998</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/wrigleyc"><img src="../images/pfps/STss2nGhg0ViapJ7nmHNXvVFN38xDtqT.jpg" class="profile-picture"/></a> <a href="members/wrigleyc">wrigleyc</a></li>
                    
    <li><a href="members/DrumBoy"><img src="../images/pfps/nio26ybwdbio4rtjsjryrkcfg0x0dm8qukgp7fcbgmob07jjfy8u78zfxm4yx0dgcjtbpwacute-funny-animals-27.jpg" class="profile-picture"/></a> <a href="members/DrumBoy">DrumBoy</a></li>
                    
    <li><a href="members/korrigan"><img src="../images/pfps/aeyg8qxybkouju76b8gueon0t6huorpovcsstffsqtcycatb8xwec73u5afjpswbvfrdkwvpikachu.gif" class="profile-picture"/></a> <a href="members/korrigan">korrigan</a></li>
                    
    <li><a href="members/Mittens"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Mittens">Mittens</a></li>
                    
    <li><a href="members/hotgirl101"><img src="../images/pfps/Ia1jCLYERvNztWuGLwAj40mZlAOp2dKA.gif" class="profile-picture"/></a> <a href="members/hotgirl101">hotgirl101</a></li>
                    
    <li><a href="members/Stealthstar"><img src="../images/pfps/kq5yec0djtpe5hco232o3kdfajzn5eagu34w6tzgegj7mjmdber4ns7m3yyw3w0mqv8kgwqCat-CatGrey.jpg" class="profile-picture"/></a> <a href="members/Stealthstar">Stealthstar</a></li>
                    
    <li><a href="members/allheart99"><img src="../images/pfps/3y4p3hy8bk5ma7agx5snjto8ojpk0t8ti08a6v6762j4yh8nepym8bjkkyuaitrpipof8kesee_now_this_is_what_happens_.jpg" class="profile-picture"/></a> <a href="members/allheart99">allheart99</a></li>
                    
    <li><a href="members/breetown"><img src="../images/pfps/4qks324y82yq8aq4oh6wpbtf2cxubzc5eko7dgwa8nr5k5zwcujrw2xn4j75a7yeibcjfzi0a4db0cfedb0.jpg" class="profile-picture"/></a> <a href="members/breetown">breetown</a></li>
                    
    <li><a href="members/GuineaPigCare"><img src="../images/pfps/EIfx1z7aK0lwK2mIWHi2g7HVkI2u1OR4.jpg" class="profile-picture"/></a> <a href="members/GuineaPigCare">GuineaPigCare</a></li>
                    
    <li><a href="members/seraly20"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/seraly20">seraly20</a></li>
                    
    <li><a href="members/joy126"><img src="../images/pfps/fn0w3zazz5av5b0a6wau50tb4zbds06wexj5mhvdcvw5wo6r84d2ww0rk0s4sqpwcwsp4eqpenguin fj.jpg" class="profile-picture"/></a> <a href="members/joy126">joy126</a></li>
                    
    <li><a href="members/wuzbee"><img src="../images/pfps/r27gtw7wwk04syzewtpso8kdtbsm3tjknfq43mqouhje67irqv74ti7diopa8xmj3zeuauapanda.jpg" class="profile-picture"/></a> <a href="members/wuzbee">wuzbee</a></li>
                    
    <li><a href="members/ups30"><img src="../images/pfps/c2fQymc3iWHXZiDb3o4r9vQ43DxLS64u.png" class="profile-picture"/></a> <a href="members/ups30">ups30</a></li>
                    
    <li><a href="members/tyler1"><img src="../images/pfps/03gvfzh6pe5qwecjv6ayykverwjdo2idwny2d7wqaq5vv55h265rfrvwf3zrw6sjjgakcvzimages[1].jpg" class="profile-picture"/></a> <a href="members/tyler1">tyler1</a></li>
                    
    <li><a href="members/Knarli"><img src="../images/pfps/flwG8DextvRbdlOGolRwWmxdS86FHgkm.jpg" class="profile-picture"/></a> <a href="members/Knarli">Knarli</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/GuineaPigCare" file="pfps/EIfx1z7aK0lwK2mIWHi2g7HVkI2u1OR4.jpg" alt="GuineaPigCare" %}

<p><b>Username:</b> <a href="members/GuineaPigCare">GuineaPigCare</a></p>

<p><b>Date:</b> 2010-02-13 15:06:00</p>

<p class="comment"><b>Comment:</b> <p> </p>
<p><span style="font-size: medium"><span style="color: #99cc00">LOL<img alt="" src="../images/fckeditor/editor/images/smiley/msn/thumbs_up.gif"/></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/maddog277" file="pfps/v7c3rb07t4pp7hntito8cpdavqjsxtukrwc7w35gvitto4dxppup4xpoey60hrawdcux4o4tired guinea pig.jpg" alt="maddog277" %}

<p><b>Username:</b> <a href="members/maddog277">maddog277</a></p>

<p><b>Date:</b> 2010-02-07 18:36:20</p>

<p class="comment"><b>Comment:</b> <p>duh!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/GuineaPigCare" file="pfps/EIfx1z7aK0lwK2mIWHi2g7HVkI2u1OR4.jpg" alt="GuineaPigCare" %}

<p><b>Username:</b> <a href="members/GuineaPigCare">GuineaPigCare</a></p>

<p><b>Date:</b> 2010-02-05 20:27:17</p>

<p class="comment"><b>Comment:</b> <p><span style="font-family: Comic Sans MS"><span style="font-size: medium"><span style="color: #99cc00">GUINEA PIGS ROC!<img alt="" src="../images/fckeditor/editor/images/smiley/msn/teeth_smile.gif"/></span></span></span></p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>