---
title: MadisonTateMusic
sidebar: home_sidebar
hide_sidebar: true
keywords: MadisonTateMusic
permalink: members/MadisonTateMusic
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/179749945.jpg" alt="MadisonTateMusic" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>5</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>2</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>The Tate Sisters: Quit Playing Games feat. Emily Tate</li>
<img src="{{"../images/thumb/1_70710.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Quit Playing Games Feat. Emily Tate (FULL SONG)</li>
<img src="{{"../images/thumb/1_70720.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Madison-Tate--Breathing-Original-song</li>
                
hi everyone! the girl in the blue bow is me! :) and hope you like this song i wote along time ago!! :)
                
                <br>
Added: 26-02-2012
                
</ul>
                
<ul>
<li>meant to be PREVIEW by Madison Tate</li>
                
here is a new (actually old i'm not 11!) song from me! hope you like it!
                
                <br>
Added: 01-04-2012
                
</ul>
                
<ul>
<li>The Tate Sisters%3a Quit Playing Games feat. Emily Tate</li>
                
here is a new song, hope you guys like it! 
P.S SORRY ITS SOOO SHORT!
                
                <br>
Added: 07-04-2012
                
</ul>
                
<ul>
<li>Quit-Playing-Games-Feat-Emily-Tate-FULL-SONG</li>
                
Here is the FULL verison of the song, i cutted 1 part of the song because my friend thought it would be funny and sung on the song. So thats why, hope you guys like it!and my little sis sara is singing on this song too! AND MEANT TO BE IS COMING SOON!
                
                <br>
Added: 08-04-2012
                
</ul>
                
<ul>
<li>The-Tate-Sisters-Quit-Playing-Games-feat-Emily-Tate</li>
                
here is a new song, hope you guys like it! 
P.S SORRY ITS SOOO SHORT!
                
                <br>
Added: 07-04-2012
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>