---
title: MarioMaster
sidebar: home_sidebar
hide_sidebar: true
keywords: MarioMaster
permalink: members/MarioMaster
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="MarioMaster" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>9</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>The adventures of woody part 6: FUS RO DAH!!!!!</li>
<img src="{{"../images/thumb/1_130133.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Minecraft-in-real-life-part-1-I-hate-real-graphics</li>
                
i play minecraft in real graphics and with the real minecraft mod! P.S i haven't been making vids because i was busy, also i DID upload a vid, but it didn't process the right way because there was a glitch at the time so, i will make vids as soon as I can.
                
                <br>
Added: 03-03-2013
                
</ul>
                
<ul>
<li>How-to-make-lego-Minecraft-Figures</li>
                
i make lego minecraft stuff!
                
                <br>
Added: 17-03-2013
                
</ul>
                
<ul>
<li>Minecraft-in-real-life-part-2-I-made-a-mineshaft</li>
                
i made a mineshaft lol
                
                <br>
Added: 19-03-2013
                
</ul>
                
<ul>
<li>harlem-shake-plush-edition</li>
                
turn up sound if you cant hear
                
                <br>
Added: 06-04-2013
                
</ul>
                
<ul>
<li>Minecraft-in-real-life-part-3-TNT-is-fun-in-real-life</li>
                
happy mothers day!
(THIS WAS RECORDIED ON A DIFFERENT CAMERA SO IF I SOUND WEIRD OR IT IS LOUD, YOU KNOW WHY)
                
                <br>
Added: 07-05-2013
                
</ul>
                
<ul>
<li>The-Adventures-of-Woody-part-1I-cant-ride-a-bike</li>
                
~~~~~~~~~~~NEW SERIES~~~~~~~~~~~~
                
                <br>
Added: 08-05-2013
                
</ul>
                
<ul>
<li>The-Adventures-of-Woody-part-2-Im-afraid-of-bees-LOL</li>
                
i had to put something in the description, so i did
                
                <br>
Added: 09-05-2013
                
</ul>
                
<ul>
<li>The-Adventures-of-Woody-part-3RING-AROUND-THE-ROSIE</li>
                
GKJSDHGCKJGBVKZ
                
                <br>
Added: 09-05-2013
                
</ul>
                
<ul>
<li>the-Adventures-of-Woody-part-4SCHOOLMy-worst-nightmare</li>
                
qwertyuiopasdfghjkl;zxcvbnm,.azwsxecdfrgvbjhn;
                
                <br>
Added: 10-05-2013
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>