---
title: MarioBroz11
sidebar: home_sidebar
hide_sidebar: true
keywords: MarioBroz11
permalink: members/MarioBroz11
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/eerhaxno5yrziuymsjfi2cymim2ia22c6jk45vi2izqsif22q58i7ysf8ko7cga8oi2k48bMarioBashAni.gif" alt="MarioBroz11" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>4</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>3</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>weird video</li>
<img src="{{"../images/thumb/1_30413.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>where-theres-smoke-theres-toast</li>
                
LOL
                
                <br>
Added: 20-12-2009
                
</ul>
                
<ul>
<li>Click-on-this-please-Your-sure-to-LOL</li>
                
YOU MUST EAT SPAGHEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEETI!
                
                <br>
Added: 14-01-2010
                
</ul>
                
<ul>
<li>Lots-of-spaghetti</li>
                
Starring: Garfield and Luigi
                
                <br>
Added: 15-01-2010
                
</ul>
                
<ul>
<li>weird-video</li>
                
STARRING: MR KRABS
                
                <br>
Added: 15-01-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/pokeman"><img src="../images/pfps/e0tjpo665fvnk7hxzeryrb78iioajpbmfuus6rp3w8e57mrxpan68j5hqki0xhb02vkxcxpdeoxys.jpg" class="profile-picture"/></a> <a href="members/pokeman">pokeman</a></li>
                    
    <li><a href="members/pinkfox8"><img src="../images/pfps/pZ1edHx22nTvGvWrC31wSFeioPUHtqbZ.jpg" class="profile-picture"/></a> <a href="members/pinkfox8">pinkfox8</a></li>
                    
    <li><a href="members/TDItrentfan"><img src="../images/pfps/04pewzcrruuaf88i0zffqd86jvekefi37v8snbb4tt2ztz6iobm2cmwm52u75223oyn0zotGreen day!.jpg" class="profile-picture"/></a> <a href="members/TDItrentfan">TDItrentfan</a></li>
                    
    <li><a href="members/purplefox9"><img src="../images/pfps/76n5iekwu0tgzto6rfdib7wjkep4ujoqeymo3w8ooqsca4aradycammiqyeb8qqcf2q8onk163891_Blaze_gothic_.jpg" class="profile-picture"/></a> <a href="members/purplefox9">purplefox9</a></li>
                    
    <li><a href="members/colby2"><img src="../images/pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" class="profile-picture"/></a> <a href="members/colby2">colby2</a></li>
                    
    <li><a href="members/CARGUY"><img src="../images/pfps/pPMJ1Yd4pYpy1QKKH9a5Da2QKdTZpaRU.gif" class="profile-picture"/></a> <a href="members/CARGUY">CARGUY</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>