---
title: mars
sidebar: home_sidebar
hide_sidebar: true
keywords: mars
permalink: members/mars
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/placeholder.gif" alt="mars" max-width="100"%}
            
    {% include inline_image.html file="pfps/nopic.jpg" alt="mars" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>1</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>12</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>How to Be Couch Potato</li>
<img src="{{"../images/thumb/1_14569.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>How-to-Be-Couch-Potato</li>
                
This video was POORLY edited by LukBukTutorials, we accidentally left some unwanted footage in this video, so please, forgive us!!!
                
                <br>
Added: 21-07-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/newswithjosh"><img src="../images/pfps/BhKwAUJmGGZOKms4YCmfxbBEhtORVzYW.jpg" class="profile-picture"/></a> <a href="members/newswithjosh">newswithjosh</a></li>
                    
    <li><a href="members/Sizzleboy2009"><img src="../images/pfps/oB82JYbDcodEQSQdqyzzW4jcDOF04oth.jpg" class="profile-picture"/></a> <a href="members/Sizzleboy2009">Sizzleboy2009</a></li>
                    
    <li><a href="members/jadey722"><img src="../images/pfps/jw287tm5w5w0z850g3c3bu3w8csvco2m8ui7cs3ymoqanj0rc0ibkcvjff3frvprgwpgfg5Sunset.jpg" class="profile-picture"/></a> <a href="members/jadey722">jadey722</a></li>
                    
    <li><a href="members/RukiaKuchki1997"><img src="../images/pfps/vwtruk8od03qrfzo0fp8i87bvsq7xd2hxmyivvuwmpd3s0fh6sgercfdttbfu2nicapvubj11136_101396623221793_100000543672702_37855_6916117_n.jpg" class="profile-picture"/></a> <a href="members/RukiaKuchki1997">RukiaKuchki1997</a></li>
                    
    <li><a href="members/Bstyles"><img src="../images/pfps/6r7VHxFjhtGfgRfdRvQVdp4NvJvZBuK5.jpg" class="profile-picture"/></a> <a href="members/Bstyles">Bstyles</a></li>
                    
    <li><a href="members/LukBukTutorials"><img src="../images/pfps/k8xpw5cuywsnw6enmd0vc0d63mkt6qehp2vbvxvkmex880kj2c54360uicdfshm7a76uvq5LBT Laser.jpg" class="profile-picture"/></a> <a href="members/LukBukTutorials">LukBukTutorials</a></li>
                    
    <li><a href="members/DXZ"><img src="../images/pfps/yfrpkqf2epcbrrsjhrod202hueqnyk2prh2zx5t3mt20bk8gznjscd0wffb3q0i588wu4gmDXZ.jpg" class="profile-picture"/></a> <a href="members/DXZ">DXZ</a></li>
                    
    <li><a href="members/vinneavistafan"><img src="../images/pfps/Pg1wNp2oFaz5flJhPTBlZ3OVxpYTMk3b.png" class="profile-picture"/></a> <a href="members/vinneavistafan">vinneavistafan</a></li>
                    
    <li><a href="members/videoprincess"><img src="../images/pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" class="profile-picture"/></a> <a href="members/videoprincess">videoprincess</a></li>
                    
    <li><a href="members/gamemaster2000"><img src="../images/pfps/rexuh34r0kcu265ufkpexhqk6rzgtu48yru5knndxnvriramzorpv5zsoox58s3waoqjy0kmypictr_140x185(2).jpg" class="profile-picture"/></a> <a href="members/gamemaster2000">gamemaster2000</a></li>
                    
    <li><a href="members/whistler"><img src="../images/pfps/5YQjQCp1SQIBsLeIETJhg024g8aPwQNp.jpg" class="profile-picture"/></a> <a href="members/whistler">whistler</a></li>
                    
    <li><a href="members/uploader2000"><img src="../images/pfps/3sdo5iewbxphzdjr8vcmpjdyzasekhaezdqvjtikhwr6zymxkoaxxekmc0qnaopxp6kyor7Bakon Dancing.gif" class="profile-picture"/></a> <a href="members/uploader2000">uploader2000</a></li>
                    
    <li><a href="members/kingbupper"><img src="../images/pfps/2uokv0hggv0ndfbi4bafewx4wd8ex6epprz8i7gqs70vcz3403a3qyvc2veosi38zu77qcmnaruto.jpg" class="profile-picture"/></a> <a href="members/kingbupper">kingbupper</a></li>
                    
    <li><a href="members/bg00"><img src="../images/pfps/c0h54r0dtu052ni60mky58bodacz4ae40myu4oxm6nhzxpwoy5bu2d65b8t57xyyboj325dpug.jpg" class="profile-picture"/></a> <a href="members/bg00">bg00</a></li>
                    
    <li><a href="members/456z00ts654"><img src="../images/pfps/82kqx6k7qc6s3i8gz53pa62xiehycozbecr28zyn0v6u530tws6unyiv0oi32a24akv88kjWolf-Gone-Mad-wolves-2576785-301-450.jpg" class="profile-picture"/></a> <a href="members/456z00ts654">456z00ts654</a></li>
                    
    <li><a href="members/videotapechute"><img src="../images/pfps/v4brxj5fc2tffii36g60mgfbfe04v0rgvsxh0to3k78qeficmf3xn8xqcnkve32zjq6b8k2ch_ep1_dancing_0001.jpg" class="profile-picture"/></a> <a href="members/videotapechute">videotapechute</a></li>
                    
    <li><a href="members/Haloxxx"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Haloxxx">Haloxxx</a></li>
                    
    <li><a href="members/legomovies"><img src="../images/pfps/628kfkd05dcwppd30qjgamkz804qysgvid6poaejce5pu6ijntok3xczp4hcnmxuqs72rcblego.jpg" class="profile-picture"/></a> <a href="members/legomovies">legomovies</a></li>
                    
    <li><a href="members/moonknight101"><img src="../images/pfps/v3UWXV14pq7BSuRgeS9acyJgS0VvqWUZ.png" class="profile-picture"/></a> <a href="members/moonknight101">moonknight101</a></li>
                    
    <li><a href="members/etc_etc_etc"><img src="../images/pfps/uADIhmUXovlQUKoJHGJzUzkjWlj3v7Hd.png" class="profile-picture"/></a> <a href="members/etc_etc_etc">etc_etc_etc</a></li>
                    
    <li><a href="members/newnew"><img src="../images/pfps/mrv4es3vpt8sd8k0r5adegwr8nkyn2ayjusmbj7r36756iumeuph0bwxm7myzmn763j8bgoJustin-Bieber-Love-Me.jpg" class="profile-picture"/></a> <a href="members/newnew">newnew</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>