---
title: metfis123
sidebar: home_sidebar
hide_sidebar: true
keywords: metfis123
permalink: members/metfis123
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/XYQFuzTFpCgzs9OlT1NVrkbhg5YkXzKu.jpg" alt="metfis123" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>7</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Tails Doll Curse Watch Or Die!!! (halloween entry)</li>
<img src="{{"../images/thumb/1_65448.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>me drinking grape soda while i play funny music watch this today</li>
                
watch this it has a funny song in it you will like it
                
                <br>
Added: 13-09-2009
                
</ul>
                
<ul>
<li>the-freddy-vs-jason-show-episode1the-new-nightmare</li>
                
you should watch the real freddy vs. jason movie
                
                <br>
Added: 16-10-2009
                
</ul>
                
<ul>
<li>the-freddy-vs-jason-show-episode-2-the-fight</li>
                
:-)
                
                <br>
Added: 27-10-2009
                
</ul>
                
<ul>
<li>build-a-bear mania episode 1</li>
                
choco is moonknight101.Bruce is me.
                
                <br>
Added: 01-01-2010
                
</ul>
                
<ul>
<li>freddy-vs-jason-YAHTZEE</li>
                
YAHTZEE!!! *bam*
                
                <br>
Added: 01-01-2010
                
</ul>
                
<ul>
<li>Tails-Doll-Curse-Watch-Or-Die-halloween-entry</li>
                
if u watch at the end you will be shocked (it wont scare u)
                
                <br>
Added: 16-10-2010
                
</ul>
                
<ul>
<li>our-cute-mario-bros-Luigi-is-aducted-part-23</li>
                
...
                
                <br>
Added: 08-08-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/MPK Animations"><img src="../images/pfps/mDPt07IHHbIqZP3LHzbgZnLGHR88I7js.png" class="profile-picture"/></a> <a href="members/MPK Animations">MPK Animations</a></li>
                    
    <li><a href="members/segamariodav"><img src="../images/pfps/nOIJZdQuKTzu3hF1fJLSKgcgN7xt8eVj.jpg" class="profile-picture"/></a> <a href="members/segamariodav">segamariodav</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/jgr3241"><img src="../images/pfps/zfQer7KCvmRZxPNEIQAUM8yNincsRKlH.jpg" class="profile-picture"/></a> <a href="members/jgr3241">jgr3241</a></li>
                    
    <li><a href="members/moonknight101"><img src="../images/pfps/v3UWXV14pq7BSuRgeS9acyJgS0VvqWUZ.png" class="profile-picture"/></a> <a href="members/moonknight101">moonknight101</a></li>
                    
    <li><a href="members/ZacharyZachary"><img src="../images/pfps/W4l7OKCrjueGyMGR3KK14W2BKdnqKO0e.jpg" class="profile-picture"/></a> <a href="members/ZacharyZachary">ZacharyZachary</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>