---
title: Momotaro
sidebar: home_sidebar
hide_sidebar: true
keywords: Momotaro
permalink: members/Momotaro
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/5uqqgxwox8ufvkik6kr4uhz4oesxy4quo4burwadvugf3pox03tj8hfomvcarru3jwoyjm3Keroro-Gunso-Icon-sgt-frog-keroro-gunso-1876699-100-100.jpg" alt="Momotaro" max-width="100"%}
            
    {% include inline_image.html file="pfps/5uqqgxwox8ufvkik6kr4uhz4oesxy4quo4burwadvugf3pox03tj8hfomvcarru3jwoyjm3Keroro-Gunso-Icon-sgt-frog-ke" alt="Momotaro" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>6</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Wait A Minute...</li>
<img src="{{"../images/thumb/1_51699.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>My-BuissnessIs-Done</li>
                
Momotaro just came back from the restroom, and apparently has to announce it to the whole world.<br />
<br />
Audio from Invader Zim, the best show in the world.
                
                <br>
Added: 04-11-2009
                
</ul>
                
<ul>
<li>Nya Nya Dance</li>
                
Momotaro does the Nya Nya Dance!!!<br />
<br />
Audio ain't mine.
                
                <br>
Added: 18-11-2009
                
</ul>
                
<ul>
<li>Kopas-Last-20-Poopless-Minutes</li>
                
1st part of your Christmas Gift!!!<br />
<br />
I used Kopa from TLK6NA and Vitani from TLK2.
                
                <br>
Added: 15-12-2009
                
</ul>
                
<ul>
<li>Smile</li>
                
Ohyes<br />
<br />
Make ur own. You know you want too.
                
                <br>
Added: 28-12-2009
                
</ul>
                
<ul>
<li>Momotaro-Being-Dumb-In-School</li>
                
The big yellow one is the sun. XD
                
                <br>
Added: 06-02-2010
                
</ul>
                
<ul>
<li>Wait-A-Minute</li>
                
lol.
                
                <br>
Added: 27-02-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/webkinzkittygirl99"><img src="../images/pfps/2lKsai8dxjwmOzFo8t968yJIgp0TAEH0.jpg" class="profile-picture"/></a> <a href="members/webkinzkittygirl99">webkinzkittygirl99</a></li>
                    
    <li><a href="members/Spiderpeps"><img src="../images/pfps/CdjuRc8PlwmjNgxXOBeaGWMxqSHTahkd.jpg" class="profile-picture"/></a> <a href="members/Spiderpeps">Spiderpeps</a></li>
                    
    <li><a href="members/WolfyProductions"><img src="../images/pfps/yxvump4v8dq6mwjx2zd0ii25ri7vzo4papan43634nxhb633w5t4cjxttvfhabuaotkinfawolfy Icon.jpg" class="profile-picture"/></a> <a href="members/WolfyProductions">WolfyProductions</a></li>
                    
    <li><a href="members/breetown"><img src="../images/pfps/4qks324y82yq8aq4oh6wpbtf2cxubzc5eko7dgwa8nr5k5zwcujrw2xn4j75a7yeibcjfzi0a4db0cfedb0.jpg" class="profile-picture"/></a> <a href="members/breetown">breetown</a></li>
                    
    <li><a href="members/milulu"><img src="../images/pfps/B90eNpuSXzR0NxERVmDqa0dMe7vboACq.jpg" class="profile-picture"/></a> <a href="members/milulu">milulu</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>