---
title: mph360
sidebar: home_sidebar
hide_sidebar: true
keywords: mph360
permalink: members/mph360
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/placeholder.gif" alt="mph360" max-width="100"%}
            
    {% include inline_image.html file="pfps/nopic.jpg" alt="mph360" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>13</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>3</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Lego Armageddon Stopping Dude Episode 1</li>
<img src="{{"../images/thumb/1_65253.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Iron Maiden-Satellite 15...The Final Frontier</li>
<img src="{{"../images/thumb/1_66948.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The Bloody Chicken [Funny]</li>
                
A funny and... BLOODY unforgivable video.May not actually be coming...AT ALL
                
                <br>
Added: 19-10-2009
                
</ul>
                
<ul>
<li>Ridiculous-Olympic-Games-Episode-1</li>
                
Ridiculous games played by toys.stuffed animals, and anything else found...by the way I swear that the ending was not my fault it was luck
                
                <br>
Added: 29-12-2009
                
</ul>
                
<ul>
<li>Ridiculous-Olymipic-Games-Episode-2</li>
                
more silly games
                
                <br>
Added: 29-12-2009
                
</ul>
                
<ul>
<li>Ridiculous-Olymipic-Games-3</li>
                
silly
                
                <br>
Added: 29-12-2009
                
</ul>
                
<ul>
<li>Ridiculous-Olymipic-Games-4-first-speical-info</li>
                
silly
                
                <br>
Added: 29-12-2009
                
</ul>
                
<ul>
<li>Ridiculous-Olymipic-Games-51-minute-speical</li>
                
As the clock ticks the losers of the previous games have a chance to compete again in the next round.heres the catch...there is only one minute!
                
                <br>
Added: 30-12-2009
                
</ul>
                
<ul>
<li>Star-Wars-on-keyboard</li>
                
just me playing Star Wars on a keyboard
                
                <br>
Added: 30-12-2009
                
</ul>
                
<ul>
<li>Crystals</li>
                
just some crystals I grew
                
                <br>
Added: 30-12-2009
                
</ul>
                
<ul>
<li>Buddys-Birthday</li>
                
My friend's birhtday
                
                <br>
Added: 01-03-2010
                
</ul>
                
<ul>
<li>Ridiculous-Olymipic-Games-Episode-6</li>
                
Robosapian vs Santa Turtle or something else
                
                <br>
Added: 03-03-2010
                
</ul>
                
<ul>
<li>Triple-h-Slide-Showshort</li>
                
Hope you love Triple H cuz this is sort of a slide show...well actually...it is a slide show
                
                <br>
Added: 31-03-2010
                
</ul>
                
<ul>
<li>Lego-Armageddon-Stopping-Dude-Episode-1</li>
                
Lego armagedon Stopping Dude Episode1...isn't the greatest episode but it begins a video with exploding legos...FINALLY Legos are somewhat useful!
                
                <br>
Added: 13-10-2010
                
</ul>
                
<ul>
<li>Iron-Maiden-Satellite-15The-Final-Frontier</li>
                
Band: Iron Maiden
Album: The Final Frontier
Song: Satellite 15...The Final Frontier/nTHIS IS NOT MY AWESOME SONG! THIS BELONGS TO IRON MAIDEN!
                
                <br>
Added: 23-08-2011
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/sammyzeus"><img src="../images/pfps/b0y5nv5svhb567kwmmd4xgkz7rh20ph2f6wsqsbaxb5v6hgitjbfok6m2ccrqihvd4esmes154014qa3vx1edo9.jpg" class="profile-picture"/></a> <a href="members/sammyzeus">sammyzeus</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/drift53"><img src="../images/pfps/8wx500cfhfijrmvfbpzzm5hkp8x5xeuvyiro7utex2ofc7kcna2y3a7g6vctxufk0wyzfg4Roxas.jpg" class="profile-picture"/></a> <a href="members/drift53">drift53</a></li>
                    
    <li><a href="members/vishvish"><img src="../images/pfps/4z7e3rd7zuax86cjnqat8zjitru0fj47azc3hfy7zytwtv64a4m8vvgfcy6fazdaqf2wirsCucco-Obsessed-Link.gif" class="profile-picture"/></a> <a href="members/vishvish">vishvish</a></li>
                    
    <li><a href="members/fanzboy08"><img src="../images/pfps/txk3f4uk2inpbrmmgm4h6rs7xtjnefhx3qq6kbgchtrib0shbnn8434roe4qhaeaqu60vd0images.jpg" class="profile-picture"/></a> <a href="members/fanzboy08">fanzboy08</a></li>
                    
    <li><a href="members/mantawee"><img src="../images/pfps/ZlENqmYSyHBAkAS4OSOENM2hREkJLbgk.jpg" class="profile-picture"/></a> <a href="members/mantawee">mantawee</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>