---
title: musicmachine178
sidebar: home_sidebar
hide_sidebar: true
keywords: musicmachine178
permalink: members/musicmachine178
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/AjWhc6gUHs70Is82proLyeBERAay7gk6.jpg" alt="musicmachine178" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Livvy</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>2</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>40</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>100%</b> out of <b>3</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/nellieagility123"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/nellieagility123">nellieagility123</a></li>
                    
    <li><a href="members/webkinzlover16"><img src="../images/pfps/svhEENcyfv9q4DnM35PDYJb92JrFAhoq.jpg" class="profile-picture"/></a> <a href="members/webkinzlover16">webkinzlover16</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/musicmachine178" file="pfps/AjWhc6gUHs70Is82proLyeBERAay7gk6.jpg" alt="musicmachine178" %}

<p><b>Username:</b> <a href="members/musicmachine178>musicmachine178</a></p>

<p><b>Date:</b> 2011-04-23 07:25:48</p>

<p class="comment"><b>Comment:</b> <p>Hey it doesnt let me send you a message</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/webkinzlover16" file="pfps/nROlc0DeF7ncajbUp0L5kB3w2n3GVp36.jpg" alt="webkinzlover16" %}

<p><b>Username:</b> <a href="members/webkinzlover16>webkinzlover16</a></p>

<p><b>Date:</b> 2011-04-15 08:19:02</p>

<p class="comment"><b>Comment:</b> <p>I can't wait to go the the webkinz road trip!! IT'S GONNA BE AWESOME!!!!!!!!!!!!!!!!<img alt="" src="../images/fckeditor/editor/images/smiley/msn/regular_smile.gif"/><img alt="" src="../images/fckeditor/editor/images/smiley/msn/teeth_smile.gif"/><img alt="" src="../images/fckeditor/editor/images/smiley/msn/shades_smile.gif"/><img alt="" src="../images/fckeditor/editor/images/smiley/msn/heart.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/musicmachine178" file="pfps/AjWhc6gUHs70Is82proLyeBERAay7gk6.jpg" alt="musicmachine178" %}

<p><b>Username:</b> <a href="members/musicmachine178>musicmachine178</a></p>

<p><b>Date:</b> 2011-04-14 18:50:55</p>

<p class="comment"><b>Comment:</b> <p>awesomeness thanks(:</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/webkinzlover16" file="pfps/nROlc0DeF7ncajbUp0L5kB3w2n3GVp36.jpg" alt="webkinzlover16" %}

<p><b>Username:</b> <a href="members/webkinzlover16>webkinzlover16</a></p>

<p><b>Date:</b> 2011-04-10 12:08:23</p>

<p class="comment"><b>Comment:</b> <p> I rated you 5 stars!!! :)</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/musicmachine178" file="pfps/AjWhc6gUHs70Is82proLyeBERAay7gk6.jpg" alt="musicmachine178" %}

<p><b>Username:</b> <a href="members/musicmachine178>musicmachine178</a></p>

<p><b>Date:</b> 2011-04-10 10:44:14</p>

<p class="comment"><b>Comment:</b> <p>Lolz yes(: i decided it was timee(:</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/webkinzlover16" file="pfps/nROlc0DeF7ncajbUp0L5kB3w2n3GVp36.jpg" alt="webkinzlover16" %}

<p><b>Username:</b> <a href="members/webkinzlover16>webkinzlover16</a></p>

<p><b>Date:</b> 2011-04-10 10:30:36</p>

<p class="comment"><b>Comment:</b> <p> XXOLUNA!!!! Your back!!!!! YAYZ!!!!!! I missed you! :) :) :)</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>