---
title: NarutoU55
sidebar: home_sidebar
hide_sidebar: true
keywords: NarutoU55
permalink: members/NarutoU55
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/RGLZlC5kcV1COANBbh8Mfyrf7WsTYv3q.jpg" alt="NarutoU55" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Paxton</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>1</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>10</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>5</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>462</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>100%</b> out of <b>7</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Slow Ride on Expert</li>
<img src="{{"../images/thumb/5MPW1sbDUHPmMMFByQuK.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Guitar Hero 5 Kryptonite Expert (Bass) Hyperspeed 5</li>
<img src="{{"../images/thumb/1_55820.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Guitar-Hero-5-Kryptonite-Expert-Bass-Hyperspeed-5</li>
                
Second video made but for origamidude101 OK.
                
                <br>
Added: 22-05-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/LovinLyfe"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/LovinLyfe">LovinLyfe</a></li>
                    
    <li><a href="members/RukiaKuchki1997"><img src="../images/pfps/vwtruk8od03qrfzo0fp8i87bvsq7xd2hxmyivvuwmpd3s0fh6sgercfdttbfu2nicapvubj11136_101396623221793_100000543672702_37855_6916117_n.jpg" class="profile-picture"/></a> <a href="members/RukiaKuchki1997">RukiaKuchki1997</a></li>
                    
    <li><a href="members/Candy_Pop"><img src="../images/pfps/RoIiaBPvp50NLwAEH2gWNs1M0HI57AcM.png" class="profile-picture"/></a> <a href="members/Candy_Pop">Candy_Pop</a></li>
                    
    <li><a href="members/moniquerocks"><img src="../images/pfps/8cjCF5gDrki0WYcKY10sZ5Lco0cmuM1q.jpg" class="profile-picture"/></a> <a href="members/moniquerocks">moniquerocks</a></li>
                    
    <li><a href="members/opal_1998"><img src="../images/pfps/oUxga9SQ4YnSWFVdYo6nTRuh2veRYClC.gif" class="profile-picture"/></a> <a href="members/opal_1998">opal_1998</a></li>
                    
    <li><a href="members/diedara343"><img src="../images/pfps/nN2EcLPWR9DugEr0mKspCQV4LEWPQCP3.jpg" class="profile-picture"/></a> <a href="members/diedara343">diedara343</a></li>
                    
    <li><a href="members/uploader2000"><img src="../images/pfps/3sdo5iewbxphzdjr8vcmpjdyzasekhaezdqvjtikhwr6zymxkoaxxekmc0qnaopxp6kyor7Bakon Dancing.gif" class="profile-picture"/></a> <a href="members/uploader2000">uploader2000</a></li>
                    
    <li><a href="members/MINIME"><img src="../images/pfps/pt8h8v73a7gjaw5q4ufj63hp3yqaf03tizyhnxcktgur3p7v7b624civ0wv4opmxgc3rx3ztyphlosion.jpg" class="profile-picture"/></a> <a href="members/MINIME">MINIME</a></li>
                    
    <li><a href="members/samputrasarjito"><img src="../images/pfps/wa7b2mFVWNdJrjb1rCcydLwy0F5m3gqp.jpg" class="profile-picture"/></a> <a href="members/samputrasarjito">samputrasarjito</a></li>
                    
    <li><a href="members/narutofangirl99"><img src="../images/pfps/P6t8E5z255qPIrcTCLEJpTDXpx8GPBUf.jpg" class="profile-picture"/></a> <a href="members/narutofangirl99">narutofangirl99</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/nathan_530"><img src="../images/pfps/aizkf7xf4dvw6i0drh6yx2b7yjvruwvs5j08hqdctwyo5rqkwn7jd6h0g0iyp2hic7ijojjBlue hills.jpg" class="profile-picture"/></a> <a href="members/nathan_530">nathan_530</a></li>
                    
    <li><a href="members/mia456"><img src="../images/pfps/8a87s5sipe2mdd8g7bwp5zdpr27q4cw3avysph24jsemvdsref4755koxi2tinki6b2mgseSunset.jpg" class="profile-picture"/></a> <a href="members/mia456">mia456</a></li>
                    
    <li><a href="members/katie12"><img src="../images/pfps/zxbhrvi2zxu4unxbgz2n8mknr5p83psrcrwre5j4t5wegidma5y6fajv5yuwdddftzuxw5qAnime.jpg" class="profile-picture"/></a> <a href="members/katie12">katie12</a></li>
                    
    <li><a href="members/garaaandmason"><img src="../images/pfps/vcjmrtabyz25bkgf6ptgd50rq4jf32an3hyi0wkokdkjoppk36p63gpjcwp3nofgv2qmo0zgaraa2.jpg" class="profile-picture"/></a> <a href="members/garaaandmason">garaaandmason</a></li>
                    
    <li><a href="members/catlover25222"><img src="../images/pfps/yfDx2e9qnYhGKVHZ6XiBrDgoYUXlmqUZ.gif" class="profile-picture"/></a> <a href="members/catlover25222">catlover25222</a></li>
                    
    <li><a href="members/zoey101lover"><img src="../images/pfps/bJIT1WQryYJOc8lDJssm4w33p0a3fRZ4.jpg" class="profile-picture"/></a> <a href="members/zoey101lover">zoey101lover</a></li>
                    
    <li><a href="members/tacoz110"><img src="../images/pfps/NHfQ97na3QuCpOnVyOUJtvvlYbpVT9xg.jpg" class="profile-picture"/></a> <a href="members/tacoz110">tacoz110</a></li>
                    
    <li><a href="members/redneckgrl"><img src="../images/pfps/FGYwm8nKAvSAV0ZEyHZdXb1ZOTKjmSQp.jpg" class="profile-picture"/></a> <a href="members/redneckgrl">redneckgrl</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>