---
title: natwolf588
sidebar: home_sidebar
hide_sidebar: true
keywords: natwolf588
permalink: members/natwolf588
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/aq7ec2koeb8pxa8kxmp6wuvk8ke3tw4tb0vbr6pt5marm827ii350phyxjsh4m06dm7sgmdJeff Hardy.jpg" alt="natwolf588" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>7</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>1</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>After 3 Years...Im Back (Read Description)</li>
<img src="{{"../images/thumb/1_61036.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Lego Spiderman episode 3 the shocking shocker</li>
                
Special Thanks To Marvel Comics!It Has Gone 4 Weeks And Now Peter Will Have His Really First Problem As Spider-Man. He Will Meet His First Foe Ever! And Its Going To Be A Shock!First Appearances: Shocker, Doctor Conners, Gwen Stacy(Bonus Info: To Make Shockers Shocks Flash, I Just Turned On Too Much Light On The Set.)
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>After-3-YearsIm-Back-Read-Description</li>
                
If you were here for a long time some of you know me some of you might not but I'm very popular on KidsTube but then I moved YouTube but I wasn't getting much fame so I moved back so...here I am. You want the Lego Spider-Man or The Star Wars... Or both?
                
                <br>
Added: 09-08-2010
                
</ul>
                
<ul>
<li>Lego-Spiderman-episode-1-A-Born-Hero</li>
                
I will be Starting with a stop motion animation Lego Spiderman Series and to say that this is the first episode: A born hero sorry about the words sooner this will have sound Voices with auditions.

First Apperances:Peter Parker,Spiderman,Harry Osborn,Uncle Ben,Aunt May,Mary jane Watson,Norman Osborn,Flash Thompson.
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>Star-Wars-Return-of-the-Jedi-Luke-vs-Vader</li>
                
Father vs. Son in this episc battle from STAR WARS II RETURN OF THE JEDI In this original troilogy.
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>Lego-Spiderman-Episode-5-Green-is-the-goblin-Part-1</li>
                
Special Thanks To Marvel Comics!A Lot Is Going On Right Now: Peter's Best Friend Harry Has A Problem, Norman Osobrn Is Testing A New Prodject And There Is Going To Be A Big Event At Time Square, So What Can Go Wrong?First Appearances: Green Goblin, Captian Stacy, Kingpin/Willson Fisk, Ewan Kenobi(Bonus Info: When I Did My Lego Green Goblin I Thought I Took A Big Risk, But Thank God That The People Watching These Episodes Took The Design Pretty Well.)
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>Lego-Spiderman-Episode-6-Thats-a-Scorpion</li>
                
Special Thanks To Marvel Comics!J. Jonah Jameson Has Allways Been Wondering How Peter Parker Gets Does Nice Pics On Spider-Man. So Old J.J.J Has Send Out A Man 'Mac Gargan' To Spy On Peter...First Appearances: Mac Gargan/Scorpion, Doctor Stillwell (Bonus Info: This Is One Of My Better Episodes And Its Almost 90% Like Comics)
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>Lego-Spiderman-Episode-6-Thats-a-Scorpion</li>
                
Special Thanks To Marvel Comics!J. Jonah Jameson Has Allways Been Wondering How Peter Parker Gets Does Nice Pics On Spider-Man. So Old J.J.J Has Send Out A Man 'Mac Gargan' To Spy On Peter...First Appearances: Mac Gargan/Scorpion, Doctor Stillwell (Bonus Info: This Is One Of My Better Episodes And Its Almost 90% Like Comics)
                
                <br>
Added: 31-03-2008
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/themoviemaker"><img src="../images/pfps/3XEpkld7ATkbOIyAfYeox0pk0RYub1QU.gif" class="profile-picture"/></a> <a href="members/themoviemaker">themoviemaker</a></li>
                    
    <li><a href="members/legodude"><img src="../images/pfps/qss6mfa4bob4qidn2gav582xegw4pex4vgy5jy0mb2es8i30n4kh3c35gqxusnpereb23zcAvatar_Ghost.jpg" class="profile-picture"/></a> <a href="members/legodude">legodude</a></li>
                    
    <li><a href="members/Wweluver123"><img src="../images/pfps/DF3ymtD6Wa9PbXta9Yb4rloI2Trs5Bq8.jpg" class="profile-picture"/></a> <a href="members/Wweluver123">Wweluver123</a></li>
                    
    <li><a href="members/carboman"><img src="../images/pfps/8wcmjhjq3ajftet0bt5bnqsm24dku8xtuz426cgzcr3tvkiu5evgtdsj7vuqtiae72444cscarboman logo.jpg" class="profile-picture"/></a> <a href="members/carboman">carboman</a></li>
                    
    <li><a href="members/Cpfanamations"><img src="../images/pfps/rhlUVZ1ZRgoOWf9yxALq0Pli9uzQvZda.jpg" class="profile-picture"/></a> <a href="members/Cpfanamations">Cpfanamations</a></li>
                    
    <li><a href="members/coolmaster"><img src="../images/pfps/ki2itNQYbEDmGn0hzDg1NjxTvfcOix7G.png" class="profile-picture"/></a> <a href="members/coolmaster">coolmaster</a></li>
                    
    <li><a href="members/Pokedude79"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Pokedude79">Pokedude79</a></li>
                    
    <li><a href="members/R2505"><img src="../images/pfps/UGQY7yNx8zysJNB1URzs8Wj5Z3UWJJRd.jpg" class="profile-picture"/></a> <a href="members/R2505">R2505</a></li>
                    
    <li><a href="members/scompiepie"><img src="../images/pfps/ukv83ocn03khydh67umzfmv8qyhxswpb587znabe3mjqnrokbzaeatdoijay4pz0oxpyxq0c54s7ye4r36yc4d4ginqme6rikhx8skcoesk3ufkoa8o4ag8htqryk87tfttx3ta7ak0vpb049x049_logo.gif" class="profile-picture"/></a> <a href="members/scompiepie">scompiepie</a></li>
                    
    <li><a href="members/darkmatter"><img src="../images/pfps/zd4odnzuxfirwtqpwtkhinmzbeyou33m6vz88ptvs2bdjps6a0cifm8eqytaqkmk6aj3n4puntitled.jpg" class="profile-picture"/></a> <a href="members/darkmatter">darkmatter</a></li>
                    
    <li><a href="members/KidsTubeNews"><img src="../images/pfps/nicyirdvdybzhdu5xix3jzdanf086vbj4d7ct8vuvwi3y3wnbiekafikiajfvkqonmq6idpKTC.jpg" class="profile-picture"/></a> <a href="members/KidsTubeNews">KidsTubeNews</a></li>
                    
    <li><a href="members/legoman2000"><img src="../images/pfps/mO6Iesgw57Scf7k6PdaO1unkgUTjK16w.jpg" class="profile-picture"/></a> <a href="members/legoman2000">legoman2000</a></li>
                    
    <li><a href="members/camcam123"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/camcam123">camcam123</a></li>
                    
    <li><a href="members/ironwing499"><img src="../images/pfps/sev6o0ebnyqafevdh7ui0jr3i36i8vipz4ncvpe8es6iuqj2o48fco6mi2sfo0tdv6dfjfc3808220685_db01293e40.jpg" class="profile-picture"/></a> <a href="members/ironwing499">ironwing499</a></li>
                    
    <li><a href="members/zachanimal"><img src="../images/pfps/djtVgkkCYMg1FMKOUxesp1wgZvl1A2Yd.jpg" class="profile-picture"/></a> <a href="members/zachanimal">zachanimal</a></li>
                    
    <li><a href="members/clubpenguindude"><img src="../images/pfps/mbnvatj2axq57rgudwtj4zuk03cbwn5apgtny4dyquuoczadkrmfg6p5xp6m23jf73rwvukclub-penguin-march-2009-1.png" class="profile-picture"/></a> <a href="members/clubpenguindude">clubpenguindude</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>