---
title: newswithjosh
sidebar: home_sidebar
hide_sidebar: true
keywords: newswithjosh
permalink: members/newswithjosh
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/BhKwAUJmGGZOKms4YCmfxbBEhtORVzYW.jpg" alt="newswithjosh" max-width="100"%}
            
    {% include inline_image.html file="pfps/" alt="newswithjosh" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Josh</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>4</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>38</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>1599</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>2</b></li>
        
<li> Rating: <b>72%</b> out of <b>20</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>News with Josh Presents The HTSHOW</li>
<img src="{{"../images/thumb/YRyEYqsX5IzKNKTSIwWu.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>News with Josh Presents Weather</li>
<img src="{{"../images/thumb/HlP2HKEUHeGXbzRbJGY3.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>News with Josh Presents The BFFL SHOW</li>
<img src="{{"../images/thumb/C5xvlO3CVwKIyYLXyg5Z.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>News with Josh Idol</li>
<img src="{{"../images/thumb/TcGdThgQBWcUWtT5rL5Z.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>My Contest Video</li>
<img src="{{"../images/thumb/Tz3xmduqnbZvo0ApnFb2.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Comedy Contest Video</li>
<img src="{{"../images/thumb/CDGgsledJ34xtH4tOvXp.jpg"}}" alt="thumbnail"/>

</ul>
            
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/SeanSanczel"><img src="../images/pfps/ty4ts7vuze7d0asmqd4vzwv2fr5wmoj5deptd8e0eb45bkfpnacdvx6ydzkpeujfzwy0w2sSeanHeadshot2.jpg" class="profile-picture"/></a> <a href="members/SeanSanczel">SeanSanczel</a></li>
                    
    <li><a href="members/xolylaepic"><img src="../images/pfps/HIDNNxLBGGUk1Gun4NTUaLoZdG4b9qzE.gif" class="profile-picture"/></a> <a href="members/xolylaepic">xolylaepic</a></li>
                    
    <li><a href="members/webkinzmaster"><img src="../images/pfps/8jr8x3o3to0axm7hekgtajbiroubckhbty8frn8b0z8na7segzyhaxopc6qdgvezjd50p2zThe Tale Of Despereaux.jpg" class="profile-picture"/></a> <a href="members/webkinzmaster">webkinzmaster</a></li>
                    
    <li><a href="members/FZKidsStudios"><img src="../images/pfps/4IitLxM5HaVRu9AyyAPrdZqF8CXIj7rd.png" class="profile-picture"/></a> <a href="members/FZKidsStudios">FZKidsStudios</a></li>
                    
    <li><a href="members/TheBFFLShow"><img src="../images/pfps/fhtjmvdo4pdghyu3izjeb28usuguk0go6yvikyufcvnjm5csvmwxetgvengoco2adpgoczrTheBFFLShow.gif" class="profile-picture"/></a> <a href="members/TheBFFLShow">TheBFFLShow</a></li>
                    
    <li><a href="members/Bee331"><img src="../images/pfps/12o3A4CvanQNWGeenQw0S6cElJxtdJ6U.png" class="profile-picture"/></a> <a href="members/Bee331">Bee331</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/allybabally"><img src="../images/pfps/plOL2O1PQd523y9PQ3brOWfA2TENhp5L.jpg" class="profile-picture"/></a> <a href="members/allybabally">allybabally</a></li>
                    
    <li><a href="members/cheezedoodlez"><img src="../images/pfps/3mbenj5szugpbd33cx83v2n0k2wqymhrviv8rqqh8wuaxo40c0svt4n2w7ijio04xm2dzgiFotoFlexer_Photo.jpg" class="profile-picture"/></a> <a href="members/cheezedoodlez">cheezedoodlez</a></li>
                    
    <li><a href="members/DXZ"><img src="../images/pfps/yfrpkqf2epcbrrsjhrod202hueqnyk2prh2zx5t3mt20bk8gznjscd0wffb3q0i588wu4gmDXZ.jpg" class="profile-picture"/></a> <a href="members/DXZ">DXZ</a></li>
                    
    <li><a href="members/Devsandpeb"><img src="../images/pfps/wfqhisdo6aqya8m7cj5raqktms4gsuxfxcn7uqjqoxfpxrnzyigyyrg87cgqu2wj47fnnn3cards-main_Full.jpg" class="profile-picture"/></a> <a href="members/Devsandpeb">Devsandpeb</a></li>
                    
    <li><a href="members/lovelycaity140"><img src="../images/pfps/t6mhqphfw2ew6i3twjkgvqhsoa57vghgbtmqatvujxhe48ypi7v2n3my3fwoj4umn42nom5HAWTfwiends.jpg" class="profile-picture"/></a> <a href="members/lovelycaity140">lovelycaity140</a></li>
                    
    <li><a href="members/Manaph12"><img src="../images/pfps/qlPSOk7oV9TLcDqNjsNKWYyJTkCA5hQj.jpg" class="profile-picture"/></a> <a href="members/Manaph12">Manaph12</a></li>
                    
    <li><a href="members/cistar14"><img src="../images/pfps/p7bei77nz060sgepadozs3j4f6fv0xvfvxh2tfgh7daohe2gfg6vafrecuz0ij425auog0vretouched.jpg" class="profile-picture"/></a> <a href="members/cistar14">cistar14</a></li>
                    
    <li><a href="members/idogjim"><img src="../images/pfps/3yx4ihbqvb6zvmch03ubbf6x5zhsfqaadx4n353o50epdhu2bd0aixwdm4vritpnhkzcero398314556_740665.gif" class="profile-picture"/></a> <a href="members/idogjim">idogjim</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/i_luv_my_puppy"><img src="../images/pfps/6wkg203ukw2eau5jiu5pme3jhyz2xnts75yzwti5ga7eu4m3phgzmaatyzjmd44bxuyic6fimages[12].jpg" class="profile-picture"/></a> <a href="members/i_luv_my_puppy">i_luv_my_puppy</a></li>
                    
    <li><a href="members/CNfan101"><img src="../images/pfps/bpw7jarmivtzcdpt7r8sqhndi0v3ujewz2sazbj6w3uw47g0pej5mw7sptn73putfcr3dy0gg.jpg" class="profile-picture"/></a> <a href="members/CNfan101">CNfan101</a></li>
                    
    <li><a href="members/ups30"><img src="../images/pfps/c2fQymc3iWHXZiDb3o4r9vQ43DxLS64u.png" class="profile-picture"/></a> <a href="members/ups30">ups30</a></li>
                    
    <li><a href="members/karlaruiz"><img src="../images/pfps/t4hisrtpeh2tb8xqzgigy8gz0t5azh8eoo4by7oh8r0q6hy6jekpb7zq77cqnsuj4ut8is4gangsta princess.gif" class="profile-picture"/></a> <a href="members/karlaruiz">karlaruiz</a></li>
                    
    <li><a href="members/sarastarproductions"><img src="../images/pfps/p0n4zp53aud4ggyh272htqauqkt55zpmpzgfgbaetd8zhv58tygddevtogqj43tktyqxzq2final_soccerball.jpg" class="profile-picture"/></a> <a href="members/sarastarproductions">sarastarproductions</a></li>
                    
    <li><a href="members/LukBukTutorials"><img src="../images/pfps/k8xpw5cuywsnw6enmd0vc0d63mkt6qehp2vbvxvkmex880kj2c54360uicdfshm7a76uvq5LBT Laser.jpg" class="profile-picture"/></a> <a href="members/LukBukTutorials">LukBukTutorials</a></li>
                    
    <li><a href="members/456z00ts654"><img src="../images/pfps/82kqx6k7qc6s3i8gz53pa62xiehycozbecr28zyn0v6u530tws6unyiv0oi32a24akv88kjWolf-Gone-Mad-wolves-2576785-301-450.jpg" class="profile-picture"/></a> <a href="members/456z00ts654">456z00ts654</a></li>
                    
    <li><a href="members/EzzieRockz"><img src="../images/pfps/OTMLoN4Xprj6dxWerknCQCMjfZTQVu0j.jpg" class="profile-picture"/></a> <a href="members/EzzieRockz">EzzieRockz</a></li>
                    
    <li><a href="members/DavidHydePierce"><img src="../images/pfps/pfxxuop6tzcxbbnvnos3227eugjmt8d7eyvxe8uvwuivvvh67xzzry4c5dmnanicd2zf2kyimages.jpg" class="profile-picture"/></a> <a href="members/DavidHydePierce">DavidHydePierce</a></li>
                    
    <li><a href="members/Coldplaygirl879"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Coldplaygirl879">Coldplaygirl879</a></li>
                    
    <li><a href="members/kdinokid"><img src="../images/pfps/n78og5a65tbey8qcst20dr0m3trzqq84p7gt0gqwyp0oofo6ygwzvmbq3sgk7ddn8j4zqmkMarth.jpg" class="profile-picture"/></a> <a href="members/kdinokid">kdinokid</a></li>
                    
    <li><a href="members/thevideogamemaster"><img src="../images/pfps/mR4TbRUGPjNkfZcsPAM0P0BH9ki7TJf3.png" class="profile-picture"/></a> <a href="members/thevideogamemaster">thevideogamemaster</a></li>
                    
    <li><a href="members/divide_1516"><img src="../images/pfps/bznqxgsqhbvibbd4jj8dfh6bsjefwmgvascxysc5uycvzdqannbqs6rbeth05mn34ors4umuuu.jpg" class="profile-picture"/></a> <a href="members/divide_1516">divide_1516</a></li>
                    
    <li><a href="members/SuperSistersTv"><img src="../images/pfps/sgikspkjsujdayy787eaizqwfvp574upb3zrga0wsa0qyonwmruufbhkxuetqx6ppv7wvwjG & I bright.jpg" class="profile-picture"/></a> <a href="members/SuperSistersTv">SuperSistersTv</a></li>
                    
    <li><a href="members/kbabe"><img src="../images/pfps/ENO0eu87H8xWbKWL37ShgMHsn3vSlEUo.jpg" class="profile-picture"/></a> <a href="members/kbabe">kbabe</a></li>
                    
    <li><a href="members/lord vater"><img src="../images/pfps/22anqtkopikqf0gmz33670f863t7ktqdmooz8zem6q2df6n4zg0w54v3vf06wfb8upyrd238.jpg" class="profile-picture"/></a> <a href="members/lord vater">lord vater</a></li>
                    
    <li><a href="members/GameMaster"><img src="../images/pfps/fveawj48t8tdvdzw8siov6iw8867r04ukau8hn50mn25rqrq8z4swbgtabrp2naeksbs64havatar 4.gif" class="profile-picture"/></a> <a href="members/GameMaster">GameMaster</a></li>
                    
    <li><a href="members/CrazyGirlzProductionz"><img src="../images/pfps/3ajkp60bmthc0m27era4ybc2cdza2f7vfh5tewupe3r4fh2hyzaoyceze5z48vpc0kt55fiSignatures Rule Bg.jpg" class="profile-picture"/></a> <a href="members/CrazyGirlzProductionz">CrazyGirlzProductionz</a></li>
                    
    <li><a href="members/coolmansnuffytoon"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/coolmansnuffytoon">coolmansnuffytoon</a></li>
                    
    <li><a href="members/ccb123"><img src="../images/pfps/ouxoj08rnjjjmbbphwc3jh052oh66vrjedvo4u3i5dsfdsvifvcp40jugprb86id74q3qjapenguin.gif" class="profile-picture"/></a> <a href="members/ccb123">ccb123</a></li>
                    
    <li><a href="members/Bstyles"><img src="../images/pfps/6r7VHxFjhtGfgRfdRvQVdp4NvJvZBuK5.jpg" class="profile-picture"/></a> <a href="members/Bstyles">Bstyles</a></li>
                    
    <li><a href="members/Newswithjoshproducer"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Newswithjoshproducer">Newswithjoshproducer</a></li>
                    
    <li><a href="members/maxmia"><img src="../images/pfps/oq6ikohgd85kmjkg2v7jxdb3vriy486iq0pyfv5iuyu485byp68ea85vocji8gpn52cbo5hmario.gif" class="profile-picture"/></a> <a href="members/maxmia">maxmia</a></li>
                    
    <li><a href="members/Jojoshow"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Jojoshow">Jojoshow</a></li>
                    
    <li><a href="members/djembefola"><img src="../images/pfps/sqfhonuyk7qjwg5wqqiyw88mf7osx5dgmgmxr7k250aq66dnkjb5gahk8v3wp40z8eoqazgdjembe.jpg" class="profile-picture"/></a> <a href="members/djembefola">djembefola</a></li>
                    
    <li><a href="members/etc_etc_etc"><img src="../images/pfps/uADIhmUXovlQUKoJHGJzUzkjWlj3v7Hd.png" class="profile-picture"/></a> <a href="members/etc_etc_etc">etc_etc_etc</a></li>
                    
    <li><a href="members/Emi333"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Emi333">Emi333</a></li>
                    
    <li><a href="members/whistler"><img src="../images/pfps/5YQjQCp1SQIBsLeIETJhg024g8aPwQNp.jpg" class="profile-picture"/></a> <a href="members/whistler">whistler</a></li>
                    
    <li><a href="members/master"><img src="../images/pfps/45ex22zamt7v257ff2ggem287spg7z8zudok5dihwg2nczrhrvnv7ds3t77rw6ffatq3uwamario omg.jpg" class="profile-picture"/></a> <a href="members/master">master</a></li>
                    
    <li><a href="members/imax"><img src="../images/pfps/t00rok6rticu6fwvakhfybh5bb8b7aop0f4eo0t78vq3ydpzpu3cwb7xa5y65bmuehws6gpIsaiahBerndt_KidsTube.jpg" class="profile-picture"/></a> <a href="members/imax">imax</a></li>
                    
    <li><a href="members/welcomhihihiandirocktoo"><img src="../images/pfps/9cyJMIkcvqGLeKaYRLnjAoz7BNeH4VU3.jpg" class="profile-picture"/></a> <a href="members/welcomhihihiandirocktoo">welcomhihihiandirocktoo</a></li>
                    
    <li><a href="members/newswithmia"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/newswithmia">newswithmia</a></li>
                    
    <li><a href="members/firestar101"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/firestar101">firestar101</a></li>
                    
    <li><a href="members/mars"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/mars">mars</a></li>
                    
    <li><a href="members/kdinokid2"><img src="../images/pfps/ki5wVY5ncsMfDc1s3s6MObb1mJBCrK0R.jpg" class="profile-picture"/></a> <a href="members/kdinokid2">kdinokid2</a></li>
                    
    <li><a href="members/Dawgsta"><img src="../images/pfps/nkwkza7iknsmu2fstfnan5quy7xnimgvu46i22rddbnv0sdkwqkamyv8whm5trpdmkmcd4dPhoto 98.jpg" class="profile-picture"/></a> <a href="members/Dawgsta">Dawgsta</a></li>
                    
    <li><a href="members/MikesterAnimations"><img src="../images/pfps/q2xzi5uizuqvrd5h5w7rnqwp6uipumy8emznhkt63bsmenr7aqno470ys7ecj4boe0ymbjgfad fast.gif" class="profile-picture"/></a> <a href="members/MikesterAnimations">MikesterAnimations</a></li>
                    
    <li><a href="members/mrjoshua"><img src="../images/pfps/yaxcnwzcozecojsg5krasin7j8qevewieikp6bpkyrmc24ixgxxy7bwh7bmre7zigawbbckcheeseburger.jpg" class="profile-picture"/></a> <a href="members/mrjoshua">mrjoshua</a></li>
                    
    <li><a href="members/joy125"><img src="../images/pfps/6mq5563w5k78q3vvws32wtq673yjtyto88k33cqznoy0fjm3zftkwaiu454mum0ukamfc23ipod.jpg" class="profile-picture"/></a> <a href="members/joy125">joy125</a></li>
                    
    <li><a href="members/Brandan13"><img src="../images/pfps/rfiqpdsxfpkic5gpvjj7rg7gbov45iqkmy0y2ho7wwhwsmbctkaap7grm2jfbzqkphagpmctqs.jpg" class="profile-picture"/></a> <a href="members/Brandan13">Brandan13</a></li>
                    
    <li><a href="members/JimmytheGiraffe"><img src="../images/pfps/yrbxta5esjmwzyq0h8ybwcyno8f5qphg6g2pfxtx73jwrxmywbxkekxqj2jxhp2cuvrzh8mgiraffe_head.jpg" class="profile-picture"/></a> <a href="members/JimmytheGiraffe">JimmytheGiraffe</a></li>
                    
    <li><a href="members/Hsm3Soundtrack4Free"><img src="../images/pfps/npzpuc53nvb57dbubac4v8z04y75hp2t5s8ou5f6pg2nj28i28dm53d0r8uymogf4gtoayihigh-school-musical-3-soundtrack.jpg" class="profile-picture"/></a> <a href="members/Hsm3Soundtrack4Free">Hsm3Soundtrack4Free</a></li>
                    
    <li><a href="members/gamemaster2000"><img src="../images/pfps/rexuh34r0kcu265ufkpexhqk6rzgtu48yru5knndxnvriramzorpv5zsoox58s3waoqjy0kmypictr_140x185(2).jpg" class="profile-picture"/></a> <a href="members/gamemaster2000">gamemaster2000</a></li>
                    
    <li><a href="members/teensensation"><img src="../images/pfps/j7086n43npcgf7mtcfejczhvy4b6mvcvt0socoip3kw6g6oiasrciww7rx50h5kyw4dyimc3CA5K2EH8CAB38OG0CAXJ0M42CAE0F6HTCAZBIFKTCA09ENB3CA3V9YDNCA22S1W6CA2WA8FYCA5264NFCAZHUUWWCAFPE6Q4CA2NYUNBCA25EGX3CAZG2ZF4CAA3IFEPCAOY0R1OCAIMXOYICA41I3DS.jpg" class="profile-picture"/></a> <a href="members/teensensation">teensensation</a></li>
                    
    <li><a href="members/nouf"><img src="../images/pfps/2cu7vvi74nkxkr87jrr32zowiass0jermyq5jw4e7fziuye3etu6i8sp6b7xkaewzutahmchannah_montana_1.jpg" class="profile-picture"/></a> <a href="members/nouf">nouf</a></li>
                    
    <li><a href="members/KTTheStation"><img src="../images/pfps/nrgg4eqhvwciuuv2pcfd57ncgsruroe33k7xoo57b7gtqzj62p7xojzszfdgrfakp763n30thestation.jpg" class="profile-picture"/></a> <a href="members/KTTheStation">KTTheStation</a></li>
                    
    <li><a href="members/joejfan"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/joejfan">joejfan</a></li>
                    
    <li><a href="members/2020st"><img src="../images/pfps/zwBirn94ZBNKxmprQsVrPtoYFhtlr4Rg.gif" class="profile-picture"/></a> <a href="members/2020st">2020st</a></li>
                    
    <li><a href="members/animorphs"><img src="../images/pfps/d5a75ftzrksfutjzeriuz72eenj8wrx0kxwg4e4mpnpb4w07fas56k7bxf7juwb5kxaf32p5e7129735874d2b6.jpg" class="profile-picture"/></a> <a href="members/animorphs">animorphs</a></li>
                    
    <li><a href="members/vinneavistafan"><img src="../images/pfps/Pg1wNp2oFaz5flJhPTBlZ3OVxpYTMk3b.png" class="profile-picture"/></a> <a href="members/vinneavistafan">vinneavistafan</a></li>
                    
    <li><a href="members/Allie1"><img src="../images/pfps/2rvxMPrQT7Twp2g4iEePeiQ33BxOhIEa.jpg" class="profile-picture"/></a> <a href="members/Allie1">Allie1</a></li>
                    
    <li><a href="members/KidsTubeNews"><img src="../images/pfps/nicyirdvdybzhdu5xix3jzdanf086vbj4d7ct8vuvwi3y3wnbiekafikiajfvkqonmq6idpKTC.jpg" class="profile-picture"/></a> <a href="members/KidsTubeNews">KidsTubeNews</a></li>
                    
    <li><a href="members/VideoRocker"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/VideoRocker">VideoRocker</a></li>
                    
    <li><a href="members/HeyProductions"><img src="../images/pfps/w4kyfkb5vzcfx65w6z5s2mjpbit0nqv8j6vnfvg0mg67e3ubroshy2wzbepnv8j335g8rn0raynna.jpg" class="profile-picture"/></a> <a href="members/HeyProductions">HeyProductions</a></li>
                    
    <li><a href="members/TRIPLETS"><img src="../images/pfps/eoBp8cXUmPajsp92C0kLQhJ3lmVz0w8T.jpg" class="profile-picture"/></a> <a href="members/TRIPLETS">TRIPLETS</a></li>
                    
    <li><a href="members/Bryce10"><img src="../images/pfps/gtxa3g5qdg4xpa4r4r0qmijtst3m7ncc6ycx35e4a8sp6m403wgd3oxj8pt42w6wj6id2k7Sonic.jpg" class="profile-picture"/></a> <a href="members/Bryce10">Bryce10</a></li>
                    
    <li><a href="members/patrickIRL"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/patrickIRL">patrickIRL</a></li>
                    
    <li><a href="members/spongeybrown123"><img src="../images/pfps/agt3r45xk38kqvpjkc0tvv8kts36cjbcos54nysxrr65ejdnj456o4f7o83og4rtnkozb4mKilling Barney.jpg" class="profile-picture"/></a> <a href="members/spongeybrown123">spongeybrown123</a></li>
                    
    <li><a href="members/Pufflefuzz123"><img src="../images/pfps/UtHJuBy9oIZJjxgd4flOSTexWcZeDv8Y.gif" class="profile-picture"/></a> <a href="members/Pufflefuzz123">Pufflefuzz123</a></li>
                    
    <li><a href="members/Matster1031"><img src="../images/pfps/pxx45jg0dkjjbrvi642x85ra6jqukvqyhftbny3pabybsihob7c73u7y4mjd6xzc0ked75ssonica1.jpg" class="profile-picture"/></a> <a href="members/Matster1031">Matster1031</a></li>
                    
    <li><a href="members/birdfan1"><img src="../images/pfps/psPVkr7rXBIYWbUgRZR69cfV7m1KwpNb.jpg" class="profile-picture"/></a> <a href="members/birdfan1">birdfan1</a></li>
                    
    <li><a href="members/J2B"><img src="../images/pfps/zvNlWJ6xzd9N6inXiglz6JPDLi6EXfdM.png" class="profile-picture"/></a> <a href="members/J2B">J2B</a></li>
                    
    <li><a href="members/nicole101"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/nicole101">nicole101</a></li>
                    
    <li><a href="members/Amber_the_awesome"><img src="../images/pfps/tBNJgflKH0n2e5Mj4GoGYtXa1dLKyZGg.gif" class="profile-picture"/></a> <a href="members/Amber_the_awesome">Amber_the_awesome</a></li>
                    
    <li><a href="members/thelightningthief"><img src="../images/pfps/iMlibhzn1pG5o1uyCSKdKoAjki0R5vre.png" class="profile-picture"/></a> <a href="members/thelightningthief">thelightningthief</a></li>
                    
    <li><a href="members/redbelt2"><img src="../images/pfps/0ftt99qnJ3lpvpWLGX3AlkVOYSLveERS.gif" class="profile-picture"/></a> <a href="members/redbelt2">redbelt2</a></li>
                    
    <li><a href="members/obama1"><img src="../images/pfps/uTff7nPZ77hMDGabKI7wEvobUyu9wnYe.jpg" class="profile-picture"/></a> <a href="members/obama1">obama1</a></li>
                    
    <li><a href="members/Cpfanamations"><img src="../images/pfps/rhlUVZ1ZRgoOWf9yxALq0Pli9uzQvZda.jpg" class="profile-picture"/></a> <a href="members/Cpfanamations">Cpfanamations</a></li>
                    
    <li><a href="members/videoprincess"><img src="../images/pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" class="profile-picture"/></a> <a href="members/videoprincess">videoprincess</a></li>
                    
    <li><a href="members/aandabffshow"><img src="../images/pfps/yr20s26f0fib2j0ann5tir3nv0vhdr528yuqppvgs4imc7jpmd8su25espmv7im454kkh5p100101-010837.jpg" class="profile-picture"/></a> <a href="members/aandabffshow">aandabffshow</a></li>
                    
    <li><a href="members/KayliStar"><img src="../images/pfps/fwCqmsXQVew4itEm1xENe9c04IfJF8yi.gif" class="profile-picture"/></a> <a href="members/KayliStar">KayliStar</a></li>
                    
    <li><a href="members/munchlaxme"><img src="../images/pfps/JaHfCwjzoePViBOgOFpiD1ncZvjOt3n1.jpg" class="profile-picture"/></a> <a href="members/munchlaxme">munchlaxme</a></li>
                    
    <li><a href="members/Philip666"><img src="../images/pfps/Rvlz5FpzVoncu50Whf2iAFtDxhdcFy7W.jpg" class="profile-picture"/></a> <a href="members/Philip666">Philip666</a></li>
                    
    <li><a href="members/lng717"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/lng717">lng717</a></li>
                    
    <li><a href="members/Sabrinak2009"><img src="../images/pfps/OSeRYew36aJ7mDqMUDJGZYNtEwhw85DK.jpg" class="profile-picture"/></a> <a href="members/Sabrinak2009">Sabrinak2009</a></li>
                    
    <li><a href="members/6patch10"><img src="../images/pfps/QI06IyEZJeQEAcjp7aZ8KBgaSQVB9fyP.jpg" class="profile-picture"/></a> <a href="members/6patch10">6patch10</a></li>
                    
    <li><a href="members/ashleybear"><img src="../images/pfps/6MGnUKHvRMIyoaTnnnsu3ybXuvElGBdA.jpg" class="profile-picture"/></a> <a href="members/ashleybear">ashleybear</a></li>
                    
    <li><a href="members/davidgill"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/davidgill">davidgill</a></li>
                    
    <li><a href="members/sarastarproductionz"><img src="../images/pfps/cO1M2hKXFX66aZKAMNv90tAsM2IGFEsg.jpg" class="profile-picture"/></a> <a href="members/sarastarproductionz">sarastarproductionz</a></li>
                    
    <li><a href="members/mrtitanic"><img src="../images/pfps/cOx0WuNx85n0CGPbezsf2AzsgMDWorEG.jpg" class="profile-picture"/></a> <a href="members/mrtitanic">mrtitanic</a></li>
                    
    <li><a href="members/coolmaster"><img src="../images/pfps/ki2itNQYbEDmGn0hzDg1NjxTvfcOix7G.png" class="profile-picture"/></a> <a href="members/coolmaster">coolmaster</a></li>
                    
    <li><a href="members/green1994"><img src="../images/pfps/B4HDRtRzd1yvWjhUbfarkTCJkmh71q30.gif" class="profile-picture"/></a> <a href="members/green1994">green1994</a></li>
                    
    <li><a href="members/curly824"><img src="../images/pfps/HdzrNCPONwGGivta2C2ypelm0iVUvyb2.jpg" class="profile-picture"/></a> <a href="members/curly824">curly824</a></li>
                    
    <li><a href="members/catlover25222"><img src="../images/pfps/yfDx2e9qnYhGKVHZ6XiBrDgoYUXlmqUZ.gif" class="profile-picture"/></a> <a href="members/catlover25222">catlover25222</a></li>
                    
    <li><a href="members/yoman 3000"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/yoman 3000">yoman 3000</a></li>
                    
    <li><a href="members/Grandtheftauto"><img src="../images/pfps/rKz9xdCANRmYtJXPBOMop3lufqBYx9Qc.jpg" class="profile-picture"/></a> <a href="members/Grandtheftauto">Grandtheftauto</a></li>
                    
    <li><a href="members/Rocket321CP"><img src="../images/pfps/oGTKqAEP2h1b9hxOqagtoTlWdKTbmTAR.jpg" class="profile-picture"/></a> <a href="members/Rocket321CP">Rocket321CP</a></li>
                    
    <li><a href="members/paige13"><img src="../images/pfps/sE0MMQOhoLsPGL7xjJM7Z5yYtwIM28Si.jpg" class="profile-picture"/></a> <a href="members/paige13">paige13</a></li>
                    
    <li><a href="members/spongeybrown124"><img src="../images/pfps/JwGbD7Wb6kKPwrqXRidniEXSrC5T7KoE.gif" class="profile-picture"/></a> <a href="members/spongeybrown124">spongeybrown124</a></li>
                    
    <li><a href="members/LovinLyfe"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/LovinLyfe">LovinLyfe</a></li>
                    
    <li><a href="members/scullison"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/scullison">scullison</a></li>
                    
    <li><a href="members/garrettman0718"><img src="../images/pfps/hdtP34DVg0hWIpwsYEZuTzBQg4XlIYgp.jpg" class="profile-picture"/></a> <a href="members/garrettman0718">garrettman0718</a></li>
                    
    <li><a href="members/missrockinkittykat"><img src="../images/pfps/279Z3hzafrAE1bt623vm0Vz26gaYu4cm.jpg" class="profile-picture"/></a> <a href="members/missrockinkittykat">missrockinkittykat</a></li>
                    
    <li><a href="members/zacattack"><img src="../images/pfps/zKJn0Xp4Cm4GA3yfulrMLpgWL9GtHdy6.png" class="profile-picture"/></a> <a href="members/zacattack">zacattack</a></li>
                    
    <li><a href="members/XxfunxgirlxX"><img src="../images/pfps/7w9lvdm1sPbaud8UY5o4wELa5BCNaqvX.gif" class="profile-picture"/></a> <a href="members/XxfunxgirlxX">XxfunxgirlxX</a></li>
                    
    <li><a href="members/Demiluv"><img src="../images/pfps/s8hEcuVV37B3aXHJc84hJpfUi7rdyXEe.jpg" class="profile-picture"/></a> <a href="members/Demiluv">Demiluv</a></li>
                    
    <li><a href="members/nolan1236"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/nolan1236">nolan1236</a></li>
                    
    <li><a href="members/imcoolunot"><img src="../images/pfps/" class="profile-picture"/></a> <a href="members/imcoolunot">imcoolunot</a></li>
                    
    <li><a href="members/H20productions"><img src="../images/pfps/dUnsWtLcAdxRrnw7mJSUQEmW17zVPCEs.gif" class="profile-picture"/></a> <a href="members/H20productions">H20productions</a></li>
                    
    <li><a href="members/Mars"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/Mars">Mars</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/newswithjosh" file="pfps/BhKwAUJmGGZOKms4YCmfxbBEhtORVzYW.jpg" alt="newswithjosh" %}

<p><b>Username:</b> <a href="members/newswithjosh">newswithjosh</a></p>

<p><b>Date:</b> 2011-04-18 19:10:15</p>

<p class="comment"><b>Comment:</b> <p> <em><strong>Hola People Josh.. Have Not Been on forever</strong></em></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Bryce10" file="pfps/gtxa3g5qdg4xpa4r4r0qmijtst3m7ncc6ycx35e4a8sp6m403wgd3oxj8pt42w6wj6id2k7Sonic.jpg" alt="Bryce10" %}

<p><b>Username:</b> <a href="members/Bryce10">Bryce10</a></p>

<p><b>Date:</b> 2011-02-05 15:55:11</p>

<p class="comment"><b>Comment:</b> <p> Whats Ur Facespace user? i created one.My Facespace user Is Bryce10</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Bryce10" file="pfps/gtxa3g5qdg4xpa4r4r0qmijtst3m7ncc6ycx35e4a8sp6m403wgd3oxj8pt42w6wj6id2k7Sonic.jpg" alt="Bryce10" %}

<p><b>Username:</b> <a href="members/Bryce10">Bryce10</a></p>

<p><b>Date:</b> 2011-02-05 15:37:24</p>

<p class="comment"><b>Comment:</b> <p> Can you send me your website i forgot the website name that you made. Reply By PM (Private Message)</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/newswithjosh" file="pfps/BhKwAUJmGGZOKms4YCmfxbBEhtORVzYW.jpg" alt="newswithjosh" %}

<p><b>Username:</b> <a href="members/newswithjosh">newswithjosh</a></p>

<p><b>Date:</b> 2010-09-01 14:29:27</p>

<p class="comment"><b>Comment:</b> <p><span style="color: rgb(255, 0, 0);"><span style="font-size: larger;"><strong>Hey Hey People</strong></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/JFanimations" file="pfps/8dk0uocjf4ajmi2swdy45zwrab3orcpqfzfxfg8kb8tkim23nrvghgwfhqrwq6btxhh0ogasoldier sprite.jpg" alt="JFanimations" %}

<p><b>Username:</b> <a href="members/JFanimations">JFanimations</a></p>

<p><b>Date:</b> 2010-08-15 15:36:02</p>

<p class="comment"><b>Comment:</b> <p>hi </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/videoprincess" file="pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" alt="videoprincess" %}

<p><b>Username:</b> <a href="members/videoprincess">videoprincess</a></p>

<p><b>Date:</b> 2010-04-18 17:29:00</p>

<p class="comment"><b>Comment:</b> <p>if you are good at editing can you pleaseeeee audition for my callab  account! Watch my video for more info!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/newswithjosh" file="pfps/BhKwAUJmGGZOKms4YCmfxbBEhtORVzYW.jpg" alt="newswithjosh" %}

<p><b>Username:</b> <a href="members/newswithjosh">newswithjosh</a></p>

<p><b>Date:</b> 2010-02-06 09:32:15</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: larger;"><span style="color: rgb(255, 0, 0);"><em><strong><span style="font-family: Comic Sans MS;">Yes i remeber you i talked about you</span></strong></em></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/homeyg" file="pfps/U5QZBfkwtQbN0RArXLzKd6Jncoo7BD1W.gif" alt="homeyg" %}

<p><b>Username:</b> <a href="members/homeyg">homeyg</a></p>

<p><b>Date:</b> 2010-02-03 17:32:11</p>

<p class="comment"><b>Comment:</b> <p><em><span style="font-family: Comic Sans MS"><span style="font-size: x-small">Hey remember me.</span></span></em></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/newswithjosh" file="pfps/BhKwAUJmGGZOKms4YCmfxbBEhtORVzYW.jpg" alt="newswithjosh" %}

<p><b>Username:</b> <a href="members/newswithjosh">newswithjosh</a></p>

<p><b>Date:</b> 2010-01-23 08:58:19</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: medium"><span style="color: #ff0000"><strong>jazzinjenny OK</strong></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jazzinjenny" file="pfps/placeholder.gif" alt="jazzinjenny" %}

<p><b>Username:</b> <a href="members/jazzinjenny">jazzinjenny</a></p>

<p><b>Date:</b> 2010-01-23 08:45:27</p>

<p class="comment"><b>Comment:</b> <p>hi wanna be buddys newawithjosh </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jamie11" file="pfps/placeholder.gif" alt="jamie11" %}

<p><b>Username:</b> <a href="members/jamie11">jamie11</a></p>

<p><b>Date:</b> 2010-01-23 08:12:40</p>

<p class="comment"><b>Comment:</b> <p>hi</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/newswithjosh" file="pfps/BhKwAUJmGGZOKms4YCmfxbBEhtORVzYW.jpg" alt="newswithjosh" %}

<p><b>Username:</b> <a href="members/newswithjosh">newswithjosh</a></p>

<p><b>Date:</b> 2010-01-23 07:56:21</p>

<p class="comment"><b>Comment:</b> <p><span style="color: #ff6600"><span style="font-family: Verdana"><span style="font-size: small"><strong>WELCOME TO MY PROFILE <img alt="" src="http://kidstube.com/fckeditor/editor/images/smiley/msn/regular_smile.gif"/></strong></span></span></span></p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>