---
title: NickThePrez
sidebar: home_sidebar
hide_sidebar: true
keywords: NickThePrez
permalink: members/NickThePrez
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/oUKfvdVWDoGi7Y5PLcEvdL6JcsgPDGqr.png" alt="NickThePrez" max-width="100"%}
            
    {% include inline_image.html file="pfps/oJnFlnyy4iVDWyJsL99xwnIsmUxzB8pp.png" alt="NickThePrez" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Nick</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>6</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>3</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>7</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>947</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>3</b></li>
        
<li> Rating: <b>91.11%</b> out of <b>9</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>The Changing of Mnt. Whitney</li>
<img src="{{"../images/thumb/wV0Qa2bUfbCCHRjIcbIz.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The Argument</li>
<img src="{{"../images/thumb/Hgo3TOtHJSRv3Fms1wW5.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>A Random StarFox thing</li>
<img src="{{"../images/thumb/00CsNiuHUCbuOxuxZ1Cr.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Luigi Goes Crazy</li>
<img src="{{"../images/thumb/2ZXquctJxbMHHOHzCtl1.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Super Mario 64 DS AR glitch</li>
<img src="{{"../images/thumb/gvssonzfz4CYyQXn4EuP.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>A Movie</li>
<img src="{{"../images/thumb/cB4tTDflRxesftCS2lth.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The Weird Pivot Day</li>
<img src="{{"../images/thumb/1_53793.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The-Changing-of-Mnt-Whitney</li>
                
I had fun making this. It took me a lot of time, though. Enjoy!
                
                <br>
Added: 22-01-2010
                
</ul>
                
<ul>
<li>a-random-starfox-thing</li>
                
I didn't know what to make, so I made this. Please comment and rate.
                
                <br>
Added: 04-02-2010
                
</ul>
                
<ul>
<li>Luigi-Goes-Crazy</li>
                
Here it is, made out of complete boredom.
                
                <br>
Added: 09-02-2010
                
</ul>
                
<ul>
<li>A-Movie</li>
                
Here is my vid that I made when I started using Movie Maker. I know the pictures are kinda long, but as I said, that was my first time making a movie. Anyways, here it is.
                
                <br>
Added: 11-02-2010
                
</ul>
                
<ul>
<li>Pivot-Smash</li>
                
I tried to make it look somewhat like a Super Smash Bros. game. Well, enjoy!
                
                <br>
Added: 12-02-2010
                
</ul>
                
<ul>
<li>The-Weird-Pivot-Day</li>
                
Thanks to EvanDSL, I was able to get a website that has audio clips on it. So I did a little searching over there, and I made this video. Please comment and rate!
                
                <br>
Added: 08-04-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/zacattack"><img src="../images/pfps/zKJn0Xp4Cm4GA3yfulrMLpgWL9GtHdy6.png" class="profile-picture"/></a> <a href="members/zacattack">zacattack</a></li>
                    
    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/legodude"><img src="../images/pfps/qss6mfa4bob4qidn2gav582xegw4pex4vgy5jy0mb2es8i30n4kh3c35gqxusnpereb23zcAvatar_Ghost.jpg" class="profile-picture"/></a> <a href="members/legodude">legodude</a></li>
                    
    <li><a href="members/catty1"><img src="../images/pfps/HgbE5tnJpb5pdEsakUc9lCU3iL8n2E67.jpg" class="profile-picture"/></a> <a href="members/catty1">catty1</a></li>
                    
    <li><a href="members/Zerofusion101"><img src="../images/pfps/HmIPKf0o9deCg4LlVTAPm271O9nGdt5i.jpg" class="profile-picture"/></a> <a href="members/Zerofusion101">Zerofusion101</a></li>
                    
    <li><a href="members/jgr3241"><img src="../images/pfps/zfQer7KCvmRZxPNEIQAUM8yNincsRKlH.jpg" class="profile-picture"/></a> <a href="members/jgr3241">jgr3241</a></li>
                    
    <li><a href="members/Mario Maniac 64"><img src="../images/pfps/xv2p6y9APxgVNv2SObp3Y1PY8py0p3Xa.jpg" class="profile-picture"/></a> <a href="members/Mario Maniac 64">Mario Maniac 64</a></li>
                    
    <li><a href="members/poppy82661"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/poppy82661">poppy82661</a></li>
                    
    <li><a href="members/Spiderpeps"><img src="../images/pfps/CdjuRc8PlwmjNgxXOBeaGWMxqSHTahkd.jpg" class="profile-picture"/></a> <a href="members/Spiderpeps">Spiderpeps</a></li>
                    
    <li><a href="members/WolfyProductions"><img src="../images/pfps/yxvump4v8dq6mwjx2zd0ii25ri7vzo4papan43634nxhb633w5t4cjxttvfhabuaotkinfawolfy Icon.jpg" class="profile-picture"/></a> <a href="members/WolfyProductions">WolfyProductions</a></li>
                    
    <li><a href="members/Evandsl"><img src="../images/pfps/wlCIxtcWPFOPU2Uq87sfGSYLtEZm4mGp.jpg" class="profile-picture"/></a> <a href="members/Evandsl">Evandsl</a></li>
                    
    <li><a href="members/SuperMario64LA"><img src="../images/pfps/K4nPXAR65KTbWBmoprMdim8E0ca8OvCW.png" class="profile-picture"/></a> <a href="members/SuperMario64LA">SuperMario64LA</a></li>
                    
    <li><a href="members/R2505"><img src="../images/pfps/UGQY7yNx8zysJNB1URzs8Wj5Z3UWJJRd.jpg" class="profile-picture"/></a> <a href="members/R2505">R2505</a></li>
                    
    <li><a href="members/WigglyXKitten"><img src="../images/pfps/czfififjn6tqxmddjo6gdtnqa4i6keak2dr8mxixszchafiitgpvx2avvgs4kqdeuub4ihscat avatar.gif" class="profile-picture"/></a> <a href="members/WigglyXKitten">WigglyXKitten</a></li>
                    
    <li><a href="members/Zelda1256"><img src="../images/pfps/ECmjDEiMuURQSto8XMkw6NpXedLkaGde.png" class="profile-picture"/></a> <a href="members/Zelda1256">Zelda1256</a></li>
                    
    <li><a href="members/sallyandemet"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/sallyandemet">sallyandemet</a></li>
                    
    <li><a href="members/AlexisandNick"><img src="../images/pfps/svetuwg6g0sdqc8rjt0m2ryskevfvjve40ynm3jqs3s83rrdbgn4xdk6h4b2fw67mtkvmtbmario-luigi.jpg" class="profile-picture"/></a> <a href="members/AlexisandNick">AlexisandNick</a></li>
                    
    <li><a href="members/Kiarathejolteon"><img src="../images/pfps/jwoOcIHjgFWS5GmI2mD6dRnNhqtwBMsi.gif" class="profile-picture"/></a> <a href="members/Kiarathejolteon">Kiarathejolteon</a></li>
                    
    <li><a href="members/monke33"><img src="../images/pfps/VBQWsiYA8OZCvCtRsS0KKP6E3L5LVLno.png" class="profile-picture"/></a> <a href="members/monke33">monke33</a></li>
                    
    <li><a href="members/SonicLucario"><img src="../images/pfps/NXAaWkkeYjGAxriDE7Q8dA193NOhjbeu.jpg" class="profile-picture"/></a> <a href="members/SonicLucario">SonicLucario</a></li>
                    
    <li><a href="members/ladyxvideo9"><img src="../images/pfps/2nmV8Q5R7GvYj0YtXMqBUWrhMwH4ySHq.jpg" class="profile-picture"/></a> <a href="members/ladyxvideo9">ladyxvideo9</a></li>
                    
    <li><a href="members/Firemario"><img src="../images/pfps/kZ4b8bDuMgRCvO9XRk9zGGpBXZY8mmGM.jpg" class="profile-picture"/></a> <a href="members/Firemario">Firemario</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/NickThePrez" file="pfps/oJnFlnyy4iVDWyJsL99xwnIsmUxzB8pp.png" alt="NickThePrez" %}

<p><b>Username:</b> <a href="members/NickThePrez">NickThePrez</a></p>

<p><b>Date:</b> 2011-04-05 22:10:23</p>

<p class="comment"><b>Comment:</b> <p>are any of you guys good at making sprites? Cause i need someone to make some luigi's mansion ghosts for me as 2d sprites. Please let me know. Thanks!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/NickThePrez" file="pfps/oJnFlnyy4iVDWyJsL99xwnIsmUxzB8pp.png" alt="NickThePrez" %}

<p><b>Username:</b> <a href="members/NickThePrez">NickThePrez</a></p>

<p><b>Date:</b> 2011-04-02 10:41:43</p>

<p class="comment"><b>Comment:</b> <p> </p>
<p>actually, you can get Game Maker. I know im constantly changing my mind, but im now using game maker for 2d games and Game studio a8 for 3d games</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/NickThePrez" file="pfps/oJnFlnyy4iVDWyJsL99xwnIsmUxzB8pp.png" alt="NickThePrez" %}

<p><b>Username:</b> <a href="members/NickThePrez">NickThePrez</a></p>

<p><b>Date:</b> 2011-02-08 16:34:50</p>

<p class="comment"><b>Comment:</b> <p>Hey people! I got rid of Game Maker because it was having glitches. So DONT GET GAME MAKER!!!! Instead, get GamestudioA8! (although u have to learn codes and stuff, kinda like Game Maker)</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/NickThePrez" file="pfps/oJnFlnyy4iVDWyJsL99xwnIsmUxzB8pp.png" alt="NickThePrez" %}

<p><b>Username:</b> <a href="members/NickThePrez">NickThePrez</a></p>

<p><b>Date:</b> 2010-10-13 19:12:45</p>

<p class="comment"><b>Comment:</b> <p>Thanks zacattack!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/zacattack" file="pfps/tKwSVfsVvmJrCghuJGarbcX6MPGN5kkm.png" alt="zacattack" %}

<p><b>Username:</b> <a href="members/zacattack">zacattack</a></p>

<p><b>Date:</b> 2010-10-13 19:07:50</p>

<p class="comment"><b>Comment:</b> <p> You Rock!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/NickThePrez" file="pfps/oJnFlnyy4iVDWyJsL99xwnIsmUxzB8pp.png" alt="NickThePrez" %}

<p><b>Username:</b> <a href="members/NickThePrez">NickThePrez</a></p>

<p><b>Date:</b> 2010-10-13 19:06:55</p>

<p class="comment"><b>Comment:</b> <p> </p>
<p>Hey KidsTube people! Have you ever heard about Game Maker? You can get it at www.yoyogames.com<br/>
You can make your own games with it!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/WaluigiFan23" file="pfps/C1FRprJnfwtxPrPAUYDUtC0kQtemMZRO.jpg" alt="WaluigiFan23" %}

<p><b>Username:</b> <a href="members/WaluigiFan23">WaluigiFan23</a></p>

<p><b>Date:</b> 2010-07-31 11:19:44</p>

<p class="comment"><b>Comment:</b> <p> I love Super Smash Bros. Brawl!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/NickThePrez" file="pfps/oJnFlnyy4iVDWyJsL99xwnIsmUxzB8pp.png" alt="NickThePrez" %}

<p><b>Username:</b> <a href="members/NickThePrez">NickThePrez</a></p>

<p><b>Date:</b> 2010-06-07 12:43:07</p>

<p class="comment"><b>Comment:</b> <p> </p>
<p>I am sorry, R2505, I haven't been on KidsTube for quite some time.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/R2505" file="pfps/UGQY7yNx8zysJNB1URzs8Wj5Z3UWJJRd.jpg" alt="R2505" %}

<p><b>Username:</b> <a href="members/R2505">R2505</a></p>

<p><b>Date:</b> 2010-05-05 15:14:24</p>

<p class="comment"><b>Comment:</b> <p>Hello R2505 and pokemonlover1999 and going to start a contest called   funny video/picture posting beginds today at 6:00pm and ends on friday   may 21st 2010 and judging begins on saterday may 22nd 2010 at 12:00pm.   please e mail us to enter and check the blog and videoin a few hours  for  full details.Please also post your video response to the contest  video  or you can add it to the contest group or just tell us when it is  posted</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Legofan99" file="pfps/placeholder.gif" alt="Legofan99" %}

<p><b>Username:</b> <a href="members/Legofan99">Legofan99</a></p>

<p><b>Date:</b> 2010-04-04 10:33:53</p>

<p class="comment"><b>Comment:</b> <p>Hi I do whats youre friend code we can battle!!!!!!!!!!!!!!!!!!!!!XD</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/NickThePrez" file="pfps/oJnFlnyy4iVDWyJsL99xwnIsmUxzB8pp.png" alt="NickThePrez" %}

<p><b>Username:</b> <a href="members/NickThePrez">NickThePrez</a></p>

<p><b>Date:</b> 2010-03-04 08:40:01</p>

<p class="comment"><b>Comment:</b> <p>Does ANYONE have a friend code for Super Smash Bros Brawl? I can't find anyone else.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/NickThePrez" file="pfps/oJnFlnyy4iVDWyJsL99xwnIsmUxzB8pp.png" alt="NickThePrez" %}

<p><b>Username:</b> <a href="members/NickThePrez">NickThePrez</a></p>

<p><b>Date:</b> 2010-02-18 20:13:18</p>

<p class="comment"><b>Comment:</b> <p> </p>
<p>Hey friends! I was thinking we all could have some kind of contest. If you guys have any ideas, please let me know. Thnx!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/R2505" file="pfps/UGQY7yNx8zysJNB1URzs8Wj5Z3UWJJRd.jpg" alt="R2505" %}

<p><b>Username:</b> <a href="members/R2505">R2505</a></p>

<p><b>Date:</b> 2010-02-14 18:54:23</p>

<p class="comment"><b>Comment:</b> <p>hi</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/NickThePrez" file="pfps/oJnFlnyy4iVDWyJsL99xwnIsmUxzB8pp.png" alt="NickThePrez" %}

<p><b>Username:</b> <a href="members/NickThePrez">NickThePrez</a></p>

<p><b>Date:</b> 2010-02-06 19:37:27</p>

<p class="comment"><b>Comment:</b> <p>hello, NickThePrez here. Welcome to my profile!</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>