---
title: nikiclark
sidebar: home_sidebar
hide_sidebar: true
keywords: nikiclark
permalink: members/nikiclark
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/zGUbMquvtF2JWYBFFJpow6ZpzDPlLBbA.jpg" alt="nikiclark" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>niki</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>2</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>9</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>14</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>319</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>93.33%</b> out of <b>3</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>OS TOUR ON XBOX LIVE</li>
<img src="{{"../images/thumb/Teb5gh0AUHcSsIc2ostu.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>my pets</li>
<img src="{{"../images/thumb/KzjqXI1jx1AQNlJZVPHb.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>my vids for my channle are fast</li>
<img src="{{"../images/thumb/kxDP5LX3GosUBLBVwLRq.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>My Awesome Compaq Presario 1220 (Windows 2000</li>
<img src="{{"../images/thumb/LF2wfVA4zaamsiPvlEvB.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>How To Make A User On Windows 98 (2000)</li>
<img src="{{"../images/thumb/n5i4r3jTsMlgEHX1oGS1.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Tricks</li>
<img src="{{"../images/thumb/QlXYNyevVgSmMjkoVrCT.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The Gaming Booth Trailer</li>
<img src="{{"../images/thumb/1_70290.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Minecraft Mini-Game Flip The Switch</li>
<img src="{{"../images/thumb/1_70680.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The-Gaming-Booth-Trailer</li>
                
Good news!! Were back up http://www.thegamingbooth.ca
                
                <br>
Added: 09-03-2012
                
</ul>
                
<ul>
<li>Minecraft-Mini-Game-Flip-The-Switch</li>
                
i will put the world in this description later.
                
                <br>
Added: 05-04-2012
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/GoldenFlower5"><img src="../images/pfps/O5nIBrYSyYC7yyhouOzELDeypn2bQppe.jpg" class="profile-picture"/></a> <a href="members/GoldenFlower5">GoldenFlower5</a></li>
                    
    <li><a href="members/webkinz"><img src="../images/pfps/vHovk4cs0FoDQPKUKoCAIStYwu16EjQx.gif" class="profile-picture"/></a> <a href="members/webkinz">webkinz</a></li>
                    
    <li><a href="members/strikingtigers"><img src="../images/pfps/fnbadvc0qjam4h3jkjw2bz8nzby4h4zkg0jjnmc0vacoh3wrdhjd5gqwgepo8fzf6aqijqababylupeani5.gif" class="profile-picture"/></a> <a href="members/strikingtigers">strikingtigers</a></li>
                    
    <li><a href="members/coamotheplant"><img src="../images/pfps/x9ZRhFtPmGb732ohykwnEup32VwTZsZM.jpg" class="profile-picture"/></a> <a href="members/coamotheplant">coamotheplant</a></li>
                    
    <li><a href="members/narutofangirl99"><img src="../images/pfps/P6t8E5z255qPIrcTCLEJpTDXpx8GPBUf.jpg" class="profile-picture"/></a> <a href="members/narutofangirl99">narutofangirl99</a></li>
                    
    <li><a href="members/WigglyXKitten"><img src="../images/pfps/czfififjn6tqxmddjo6gdtnqa4i6keak2dr8mxixszchafiitgpvx2avvgs4kqdeuub4ihscat avatar.gif" class="profile-picture"/></a> <a href="members/WigglyXKitten">WigglyXKitten</a></li>
                    
    <li><a href="members/The Slam"><img src="../images/pfps/miB2OvLPeXt2fLbfV6u2Dv67HBjaIipv.jpg" class="profile-picture"/></a> <a href="members/The Slam">The Slam</a></li>
                    
    <li><a href="members/Pufflefuzz123"><img src="../images/pfps/UtHJuBy9oIZJjxgd4flOSTexWcZeDv8Y.gif" class="profile-picture"/></a> <a href="members/Pufflefuzz123">Pufflefuzz123</a></li>
                    
    <li><a href="members/JJ7x6"><img src="../images/pfps/6UDDz94LNKJEvxQzrGsA6t0sSwffRIxL.png" class="profile-picture"/></a> <a href="members/JJ7x6">JJ7x6</a></li>
                    
    <li><a href="members/The Scary Snapper"><img src="../images/pfps/g9NSKfPoDgwZS13IZZnlhb9n89MRxcCT.jpg" class="profile-picture"/></a> <a href="members/The Scary Snapper">The Scary Snapper</a></li>
                    
    <li><a href="members/Demiluv"><img src="../images/pfps/s8hEcuVV37B3aXHJc84hJpfUi7rdyXEe.jpg" class="profile-picture"/></a> <a href="members/Demiluv">Demiluv</a></li>
                    
    <li><a href="members/Jessica1996"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Jessica1996">Jessica1996</a></li>
                    
    <li><a href="members/Nintendoman"><img src="../images/pfps/b6nx8ezquwixkwka6fuihz8d8i7wiqfjks5jwv0fha0swdqtgb0nzzqw8mjhzpqb6jmr6dxthenintendoman2.jpg" class="profile-picture"/></a> <a href="members/Nintendoman">Nintendoman</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/nikiclark" file="pfps/zGUbMquvtF2JWYBFFJpow6ZpzDPlLBbA.jpg" alt="nikiclark" %}

<p><b>Username:</b> <a href="members/nikiclark">nikiclark</a></p>

<p><b>Date:</b> 2010-12-22 16:53:24</p>

<p class="comment"><b>Comment:</b> <p> </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/nikiclark" file="pfps/zGUbMquvtF2JWYBFFJpow6ZpzDPlLBbA.jpg" alt="nikiclark" %}

<p><b>Username:</b> <a href="members/nikiclark">nikiclark</a></p>

<p><b>Date:</b> 2010-12-21 10:10:33</p>

<p class="comment"><b>Comment:</b> <p> </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/The Scary Snapper" file="pfps/lSkL5PXbq6yp5A18To9ObB3tsAvOuzuT.jpg" alt="The Scary Snapper" %}

<p><b>Username:</b> <a href="members/The Scary Snapper">The Scary Snapper</a></p>

<p><b>Date:</b> 2010-12-04 12:47:58</p>

<p class="comment"><b>Comment:</b> <p> I <img alt="" src="../images/fckeditor/editor/images/smiley/msn/heart.gif"/> Club Penguin!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/nikiclark" file="pfps/zGUbMquvtF2JWYBFFJpow6ZpzDPlLBbA.jpg" alt="nikiclark" %}

<p><b>Username:</b> <a href="members/nikiclark">nikiclark</a></p>

<p><b>Date:</b> 2010-08-03 14:04:06</p>

<p class="comment"><b>Comment:</b> <p> </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/nikiclark" file="pfps/zGUbMquvtF2JWYBFFJpow6ZpzDPlLBbA.jpg" alt="nikiclark" %}

<p><b>Username:</b> <a href="members/nikiclark">nikiclark</a></p>

<p><b>Date:</b> 2010-07-19 12:12:23</p>

<p class="comment"><b>Comment:</b> <p>Hey Leave  A Comment Here If You Think iPod Touch Is Awesome :)</p>
<p> </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/nikiclark" file="pfps/zGUbMquvtF2JWYBFFJpow6ZpzDPlLBbA.jpg" alt="nikiclark" %}

<p><b>Username:</b> <a href="members/nikiclark">nikiclark</a></p>

<p><b>Date:</b> 2010-07-04 18:55:38</p>

<p class="comment"><b>Comment:</b> <p> </p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>