---
title: nikos010203
sidebar: home_sidebar
hide_sidebar: true
keywords: nikos010203
permalink: members/nikos010203
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/placeholder.gif" alt="nikos010203" max-width="100"%}
            
    {% include inline_image.html file="pfps/nopic.jpg" alt="nikos010203" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>8</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>3</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>john gabriel  U13</li>
<img src="{{"../images/thumb/1_127427.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>JOHN GABRIEL -U13 MIDFIELDER- highlights - 2013</li>
<img src="{{"../images/thumb/2_129429.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>john-gabriel-u10</li>
                
IKAROS PETROTOU- CALCIO -FÚTBOL-FUTEBOL-كرة القدم - ФУТБОЛ -サッカー - FUTBOL - 足球 - FOTBAL - JALKAPALLO -ΜΑΠΠΑ -FODBOLD -ФУТБОЛ - VOETBAL
                
                <br>
Added: 28-08-2009
                
</ul>
                
<ul>
<li>JOHN-GABRIEL-U12</li>
                
IKAROS PETROTOU -CALCIO -FÚTBOL-FUTEBOL-كرة القدم - ФУТБОЛ -サッカー - FUTBOL - 足球 - FOTBAL - JALKAPALLO -ΜΑΠΠΑ -FODBOLD -ФУТБОЛ - VOETBAL
                
                <br>
Added: 29-06-2011
                
</ul>
                
<ul>
<li>JOHN-GABRIEL-U12-2</li>
                
IKAROS PETROTOU-PATRA- CALCIO -FÚTBOL-FUTEBOL-كرة القدم - ФУТБОЛ -サッカー - FUTBOL - 足球 - FOTBAL - JALKAPALLO -ΜΑΠΠΑ -FODBOLD -ФУТБОЛ - VOETBAL
                
                <br>
Added: 21-10-2011
                
</ul>
                
<ul>
<li>john-gabriel-U13</li>
                
FOOTBALL
                
                <br>
Added: 27-11-2012
                
</ul>
                
<ul>
<li>john-gabriel-U13</li>
                
FOOTBALL
                
                <br>
Added: 27-11-2012
                
</ul>
                
<ul>
<li>JOHN-GABRIEL-U13-GOAL-SALTO</li>
                
FOOTBALL-SOCCER
                
                <br>
Added: 07-04-2013
                
</ul>
                
<ul>
<li>JOHN-GABRIEL-U13-GOAL</li>
                
FOOTBALL-SOCCER
                
                <br>
Added: 07-04-2013
                
</ul>
                
<ul>
<li>JOHN-GABRIEL-U13-MIDFIELDER-highlights--2013</li>
                
13 years old midfielder of ikaros petrotou - patras -greece
                
                <br>
Added: 04-05-2013
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/peace17"><img src="../images/pfps/d7p47h5xe7bp7gcotchg6omsqma2r2rs06nwegkhdjwbrwnbxtfu5sbm28cj2tzrpderhnwimages.jpg" class="profile-picture"/></a> <a href="members/peace17">peace17</a></li>
                    
    <li><a href="members/BellaMCullen"><img src="../images/pfps/r5xf8zhwqpp470qr30tj72o87ounavapsyupn0c3epxcedr84bg32u2x6kb55akow43av32Snapshot of me 7.png" class="profile-picture"/></a> <a href="members/BellaMCullen">BellaMCullen</a></li>
                    
    <li><a href="members/KittyTheTiger"><img src="../images/pfps/179761320.jpg" class="profile-picture"/></a> <a href="members/KittyTheTiger">KittyTheTiger</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>