---
title: nintendonews
sidebar: home_sidebar
hide_sidebar: true
keywords: nintendonews
permalink: members/nintendonews
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/isq7b7ehzmcwsgzzs00xws7o7rgzmmps53q4zvcq5ccni2dyu2kfjiuhyy58bks6d603s0hNintendo Logo.jpg" alt="nintendonews" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>4</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>6</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Braking News!</li>
<img src="{{"../images/thumb/1_52212.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Nintendo-News</li>
                
Nintendo News your KidsTube News
                
                <br>
Added: 27-11-2009
                
</ul>
                
<ul>
<li>Nintendo-News-DSi-XL</li>
                
Hi everyone! This is Nintendo News! Today we're gonna tell you about the DSi XL! The large DSi!
                
                <br>
Added: 27-11-2009
                
</ul>
                
<ul>
<li>Nintendo-News-Wi-Fi</li>
                
Hello KidsTube! Today we will talk about Wi-Fi! We also have a special guest on this episode!
                
                <br>
Added: 28-11-2009
                
</ul>
                
<ul>
<li>Braking-News</li>
                
Braking News for Nintendo News
                
                <br>
Added: 08-03-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/aleks64"><img src="../images/pfps/st4jbpytufq5y2pdz7kxxpz0jziq4nwk5pu44imqm3jctzdjxp5j2tabjirdtdmns5iocs2bmw-m3-race-version-03.jpg" class="profile-picture"/></a> <a href="members/aleks64">aleks64</a></li>
                    
    <li><a href="members/abelard5"><img src="../images/pfps/OUDA5ROLHfDLgAYSkAv7Fc2DDt8zPpwc.jpg" class="profile-picture"/></a> <a href="members/abelard5">abelard5</a></li>
                    
    <li><a href="members/vinneavistafan"><img src="../images/pfps/Pg1wNp2oFaz5flJhPTBlZ3OVxpYTMk3b.png" class="profile-picture"/></a> <a href="members/vinneavistafan">vinneavistafan</a></li>
                    
    <li><a href="members/golden1234"><img src="../images/pfps/7Kxdt0qudGhT4TCwfGRhf7nRvlQEn7ei.gif" class="profile-picture"/></a> <a href="members/golden1234">golden1234</a></li>
                    
    <li><a href="members/ups30"><img src="../images/pfps/c2fQymc3iWHXZiDb3o4r9vQ43DxLS64u.png" class="profile-picture"/></a> <a href="members/ups30">ups30</a></li>
                    
    <li><a href="members/pokeman"><img src="../images/pfps/e0tjpo665fvnk7hxzeryrb78iioajpbmfuus6rp3w8e57mrxpan68j5hqki0xhb02vkxcxpdeoxys.jpg" class="profile-picture"/></a> <a href="members/pokeman">pokeman</a></li>
                    
    <li><a href="members/powderpuff12334"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/powderpuff12334">powderpuff12334</a></li>
                    
    <li><a href="members/ComandoClone0101"><img src="../images/pfps/2naiyx3ey4u0pv70ddt5y72o47aaicn8pmhc7bew3wphhk8knrgan6mh3mfcor803g0yf5jaaaa.jpg" class="profile-picture"/></a> <a href="members/ComandoClone0101">ComandoClone0101</a></li>
                    
    <li><a href="members/BabyGirl12"><img src="../images/pfps/i9AiIpaEfdHWHJMIM4cPjEpKTG7H6oRf.jpg" class="profile-picture"/></a> <a href="members/BabyGirl12">BabyGirl12</a></li>
                    
    <li><a href="members/peachmarioluigi"><img src="../images/pfps/sqERoG5VOCDwaPKRwm9whVH5yE7cL523.png" class="profile-picture"/></a> <a href="members/peachmarioluigi">peachmarioluigi</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>