---
title: ourgod1
sidebar: home_sidebar
hide_sidebar: true
keywords: ourgod1
permalink: members/ourgod1
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/81vyD0YaZOnXNU8dwPH4uh77nhfpsEZo.jpg" alt="ourgod1" max-width="100"%}
            
    {% include inline_image.html file="pfps/qS8DTUQ37d9GS4f1BzxIoBO7NPeterfK.jpg" alt="ourgod1" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>brandon</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>3</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>1</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>45</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>2036</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>75.38%</b> out of <b>13</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Naruto explodes</li>
<img src="{{"../images/thumb/mmCyRMNlm4aZ0tw3wyVM.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Kidstube Poop : Squid Dies!!!!!</li>
<img src="{{"../images/thumb/2NiRVMprftZqUGQcYXQL.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>HURRY WATCH THIS. IT HAS MARIO</li>
<img src="{{"../images/thumb/vfZ3gLlJlAFFb4jigYyw.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>KJ52-Are You Online</li>
<img src="{{"../images/thumb/0KoxuaxNJOhNfrZyKegX.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>HURRY WATCH THIS. IT HAS MARIO</li>
<img src="{{"../images/thumb/1_65231.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Naruto-explodes</li>
                
Title says it all
                
                <br>
Added: 17-09-2010
                
</ul>
                
<ul>
<li>HURRY-WATCH-THIS-IT-HAS-MARIO</li>
                
The starting is funny. and add windy.
                
                <br>
Added: 12-10-2010
                
</ul>
                
<ul>
<li>Kidstube-Poop--Squid-Dies</li>
                
My First real kidstube poop. but it is really funny
                
                <br>
Added: 21-09-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/zacattack"><img src="../images/pfps/zKJn0Xp4Cm4GA3yfulrMLpgWL9GtHdy6.png" class="profile-picture"/></a> <a href="members/zacattack">zacattack</a></li>
                    
    <li><a href="members/Kinderella"><img src="../images/pfps/Ge49zyLgRny2OsSHqiIbFBpBSLVI5Hj9.gif" class="profile-picture"/></a> <a href="members/Kinderella">Kinderella</a></li>
                    
    <li><a href="members/SeanSanczel"><img src="../images/pfps/ty4ts7vuze7d0asmqd4vzwv2fr5wmoj5deptd8e0eb45bkfpnacdvx6ydzkpeujfzwy0w2sSeanHeadshot2.jpg" class="profile-picture"/></a> <a href="members/SeanSanczel">SeanSanczel</a></li>
                    
    <li><a href="members/pandaboy"><img src="../images/pfps/sVRJnCwUQP7EBaJ0gYufEYssKaPrCDfu.png" class="profile-picture"/></a> <a href="members/pandaboy">pandaboy</a></li>
                    
    <li><a href="members/the cool kid"><img src="../images/pfps/QsRoiLGymZAwUl3uPO1huEYPVdKg2erG.gif" class="profile-picture"/></a> <a href="members/the cool kid">the cool kid</a></li>
                    
    <li><a href="members/luckylisa1998"><img src="../images/pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" class="profile-picture"/></a> <a href="members/luckylisa1998">luckylisa1998</a></li>
                    
    <li><a href="members/theflowerlilly"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/theflowerlilly">theflowerlilly</a></li>
                    
    <li><a href="members/Buns"><img src="../images/pfps/ATHqW8WhHvD8lsg5A4vB0wuy3BS1oQAn.gif" class="profile-picture"/></a> <a href="members/Buns">Buns</a></li>
                    
    <li><a href="members/kamii"><img src="../images/pfps/rmq0DsQ5uETbg6X8f7fJEl7KMPwwQtx6.gif" class="profile-picture"/></a> <a href="members/kamii">kamii</a></li>
                    
    <li><a href="members/funlover"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/funlover">funlover</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/demiandselena"><img src="../images/pfps/aYPzGR4HyYPdbXyp2MvdE9gXXgl6mFmA.jpg" class="profile-picture"/></a> <a href="members/demiandselena">demiandselena</a></li>
                    
    <li><a href="members/Gamergirlstudios"><img src="../images/pfps/AVACpeJkS0j7kCHGl48ma3TFK3IiRi4P.jpg" class="profile-picture"/></a> <a href="members/Gamergirlstudios">Gamergirlstudios</a></li>
                    
    <li><a href="members/6patch10"><img src="../images/pfps/QI06IyEZJeQEAcjp7aZ8KBgaSQVB9fyP.jpg" class="profile-picture"/></a> <a href="members/6patch10">6patch10</a></li>
                    
    <li><a href="members/Mrhappy17"><img src="../images/pfps/vZqALNC09WME7Z0IfeYZKgdpWyyXAXmv.jpg" class="profile-picture"/></a> <a href="members/Mrhappy17">Mrhappy17</a></li>
                    
    <li><a href="members/mzr07"><img src="../images/pfps/x2Cu4pQmR6wSyGt3VcBIs8HS153CGue1.jpg" class="profile-picture"/></a> <a href="members/mzr07">mzr07</a></li>
                    
    <li><a href="members/Cpfanamations"><img src="../images/pfps/rhlUVZ1ZRgoOWf9yxALq0Pli9uzQvZda.jpg" class="profile-picture"/></a> <a href="members/Cpfanamations">Cpfanamations</a></li>
                    
    <li><a href="members/taylorswift323"><img src="../images/pfps/VPn8Hce5hvrekDIaHNBFftwGA7JhHmKc.gif" class="profile-picture"/></a> <a href="members/taylorswift323">taylorswift323</a></li>
                    
    <li><a href="members/MINIME"><img src="../images/pfps/pt8h8v73a7gjaw5q4ufj63hp3yqaf03tizyhnxcktgur3p7v7b624civ0wv4opmxgc3rx3ztyphlosion.jpg" class="profile-picture"/></a> <a href="members/MINIME">MINIME</a></li>
                    
    <li><a href="members/phineasandferb123"><img src="../images/pfps/Z7OgZwx4LQweBKpcrGv7K8JcqmkPt2gI.gif" class="profile-picture"/></a> <a href="members/phineasandferb123">phineasandferb123</a></li>
                    
    <li><a href="members/Nibbles M"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Nibbles M">Nibbles M</a></li>
                    
    <li><a href="members/areuok"><img src="../images/pfps/htz3PDp6OnYaKqPxUwarhmDJGrtwwoTT.jpg" class="profile-picture"/></a> <a href="members/areuok">areuok</a></li>
                    
    <li><a href="members/The Scary Snapper"><img src="../images/pfps/g9NSKfPoDgwZS13IZZnlhb9n89MRxcCT.jpg" class="profile-picture"/></a> <a href="members/The Scary Snapper">The Scary Snapper</a></li>
                    
    <li><a href="members/Tartis11"><img src="../images/pfps/x2RN4aU372GbHJBNufCADSdFYJ9lmezZ.jpg" class="profile-picture"/></a> <a href="members/Tartis11">Tartis11</a></li>
                    
    <li><a href="members/darktween"><img src="../images/pfps/gdtGKSw6M6tHUiIxk1pQkwIhl1aYVSPz.jpg" class="profile-picture"/></a> <a href="members/darktween">darktween</a></li>
                    
    <li><a href="members/Demiluv"><img src="../images/pfps/s8hEcuVV37B3aXHJc84hJpfUi7rdyXEe.jpg" class="profile-picture"/></a> <a href="members/Demiluv">Demiluv</a></li>
                    
    <li><a href="members/lil0618"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/lil0618">lil0618</a></li>
                    
    <li><a href="members/dcfan100"><img src="../images/pfps/dsf5TLPxdjFHUoeYhvev6dHs6BiqrUsK.gif" class="profile-picture"/></a> <a href="members/dcfan100">dcfan100</a></li>
                    
    <li><a href="members/ohnoahhh"><img src="../images/pfps/1OsXLaN5l8igHicOiUAIacV2Lwo8gCiY.jpg" class="profile-picture"/></a> <a href="members/ohnoahhh">ohnoahhh</a></li>
                    
    <li><a href="members/noah890"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/noah890">noah890</a></li>
                    
    <li><a href="members/thelightningthief"><img src="../images/pfps/iMlibhzn1pG5o1uyCSKdKoAjki0R5vre.png" class="profile-picture"/></a> <a href="members/thelightningthief">thelightningthief</a></li>
                    
    <li><a href="members/PuppyLife"><img src="../images/pfps/Dade10VNu2bkGyHlPMCc3ubF2J75mgDo.gif" class="profile-picture"/></a> <a href="members/PuppyLife">PuppyLife</a></li>
                    
    <li><a href="members/Shadow_Guy"><img src="../images/pfps/0opry5k7wgwb7g8dp66ki6ap28qnknob20spw2kj87i5dh8sf50m000txg5atj8mbrzvjb3Brambleclaw.jpg" class="profile-picture"/></a> <a href="members/Shadow_Guy">Shadow_Guy</a></li>
                    
    <li><a href="members/Colby3"><img src="../images/pfps/VNwTneZL5RP8Vc4iZVsZ7QdSq77qaDrt.jpg" class="profile-picture"/></a> <a href="members/Colby3">Colby3</a></li>
                    
    <li><a href="members/JesusLives"><img src="../images/pfps/MZDa2SOwCDEsb5xWlInjWRluar7XiGGs.jpg" class="profile-picture"/></a> <a href="members/JesusLives">JesusLives</a></li>
                    
    <li><a href="members/Gold-Rodney"><img src="../images/pfps/oENWtX7Hw9B6WnQpxmupTkCAcVUBI4Au.jpg" class="profile-picture"/></a> <a href="members/Gold-Rodney">Gold-Rodney</a></li>
                    
    <li><a href="members/thuboys11111"><img src="../images/pfps/5Nbxw8iaK403ISGuKzFruTE6pkb0umpq.jpg" class="profile-picture"/></a> <a href="members/thuboys11111">thuboys11111</a></li>
                    
    <li><a href="members/AwesomeChicken"><img src="../images/pfps/bXf71Una3mkRRQn9EU1rB1hZJvXTX9Ly.jpg" class="profile-picture"/></a> <a href="members/AwesomeChicken">AwesomeChicken</a></li>
                    
    <li><a href="members/Eva The Awesome"><img src="../images/pfps/rg15rts0W4nBAh59iIBhohNhJ5WQZQYE.jpg" class="profile-picture"/></a> <a href="members/Eva The Awesome">Eva The Awesome</a></li>
                    
    <li><a href="members/TRIPLETS"><img src="../images/pfps/eoBp8cXUmPajsp92C0kLQhJ3lmVz0w8T.jpg" class="profile-picture"/></a> <a href="members/TRIPLETS">TRIPLETS</a></li>
                    
    <li><a href="members/Muneer"><img src="../images/pfps/gYN0dfLOBGHiqggrlgD3vfmYTqx7VZKz.png" class="profile-picture"/></a> <a href="members/Muneer">Muneer</a></li>
                    
    <li><a href="members/fano"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/fano">fano</a></li>
                    
    <li><a href="members/Colby1999"><img src="../images/pfps/PT9G9jOLpCg66MEPRedqLWPlwCLa3X0I.jpg" class="profile-picture"/></a> <a href="members/Colby1999">Colby1999</a></li>
                    
    <li><a href="members/kaybreezybricks"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/kaybreezybricks">kaybreezybricks</a></li>
                    
    <li><a href="members/sallymabuhay"><img src="../images/pfps/aGaEwbUH6pLAhPPs8BYeXmwTUt5P2UVS.jpg" class="profile-picture"/></a> <a href="members/sallymabuhay">sallymabuhay</a></li>
                    
    <li><a href="members/stargazer1"><img src="../images/pfps/OrLassEeQCAPE0TvQQUp8s6B2SOgcJVo.jpg" class="profile-picture"/></a> <a href="members/stargazer1">stargazer1</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/wwfpro" file="pfps/placeholder.gif" alt="wwfpro" %}

<p><b>Username:</b> <a href="members/wwfpro">wwfpro</a></p>

<p><b>Date:</b> 2010-12-14 19:47:43</p>

<p class="comment"><b>Comment:</b> <p> @tyler_rox10                   u didnt say anything</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thuboys11111" file="pfps/5Nbxw8iaK403ISGuKzFruTE6pkb0umpq.jpg" alt="thuboys11111" %}

<p><b>Username:</b> <a href="members/thuboys11111">thuboys11111</a></p>

<p><b>Date:</b> 2010-10-22 09:08:50</p>

<p class="comment"><b>Comment:</b> <p>Oh my gosh,I love KJ*52's music!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/ourgod1" file="pfps/qS8DTUQ37d9GS4f1BzxIoBO7NPeterfK.jpg" alt="ourgod1" %}

<p><b>Username:</b> <a href="members/ourgod1">ourgod1</a></p>

<p><b>Date:</b> 2010-10-19 12:23:53</p>

<p class="comment"><b>Comment:</b> <p>Yay I can comment on pages now</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/tyler_rox10" file="pfps/placeholder.gif" alt="tyler_rox10" %}

<p><b>Username:</b> <a href="members/tyler_rox10">tyler_rox10</a></p>

<p><b>Date:</b> 2010-10-10 08:26:56</p>

<p class="comment"><b>Comment:</b> <p> </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/kinggogomaster" file="pfps/placeholder.gif" alt="kinggogomaster" %}

<p><b>Username:</b> <a href="members/kinggogomaster">kinggogomaster</a></p>

<p><b>Date:</b> 2010-10-09 08:58:34</p>

<p class="comment"><b>Comment:</b> <p> <span class="Apple-style-span" style="font-family: 'Lucida Grande'; font-size: 11px; color: rgb(68, 68, 68); white-space: pre-wrap; ">hey new friend</span></p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>