---
title: peach029
sidebar: home_sidebar
hide_sidebar: true
keywords: peach029
permalink: members/peach029
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/gXOLRW6adteReA1n7a3CgxINavr4KQcq.jpg" alt="peach029" max-width="100"%}
            
    {% include inline_image.html file="pfps/34288.png" alt="peach029" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>j</b></li>
        
<li> Age: <b>110</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>9</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>383</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>5</b></li>
        
<li> Rating: <b>73.33%</b> out of <b>3</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Inside Wizards 101 with Peach029</li>
<img src="{{"../images/thumb/4L5LgMBAXbkLbHwPnQuA.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Wizard 101</li>
<img src="{{"../images/thumb/rwu2jkGGeeNpXrzYlGCG.jpg"}}" alt="thumbnail"/>

</ul>
            
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/houdini029"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/houdini029">houdini029</a></li>
                    
    <li><a href="members/dittner510"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/dittner510">dittner510</a></li>
                    
    <li><a href="members/misshotstuff1"><img src="../images/pfps/zFBeWqg9U1Omslk6R17aW6EYlOwB8g6x.jpg" class="profile-picture"/></a> <a href="members/misshotstuff1">misshotstuff1</a></li>
                    
    <li><a href="members/redneckgrl"><img src="../images/pfps/FGYwm8nKAvSAV0ZEyHZdXb1ZOTKjmSQp.jpg" class="profile-picture"/></a> <a href="members/redneckgrl">redneckgrl</a></li>
                    
    <li><a href="members/webkinzlover16"><img src="../images/pfps/svhEENcyfv9q4DnM35PDYJb92JrFAhoq.jpg" class="profile-picture"/></a> <a href="members/webkinzlover16">webkinzlover16</a></li>
                    
    <li><a href="members/nolanrules"><img src="../images/pfps/7fL7jMfHA4uZphC88H1nJ6cbHQIGjxhe.jpg" class="profile-picture"/></a> <a href="members/nolanrules">nolanrules</a></li>
                    
    <li><a href="members/JawJaw1"><img src="../images/pfps/ls2DBDxjn8qn6ECkypV8b2d1mUQj9Zci.png" class="profile-picture"/></a> <a href="members/JawJaw1">JawJaw1</a></li>
                    
    <li><a href="members/blue_sky5"><img src="../images/pfps/DOosX0nt7X99IAzn0Gs2cBYRYINPqjur.jpg" class="profile-picture"/></a> <a href="members/blue_sky5">blue_sky5</a></li>
                    
    <li><a href="members/selly"><img src="../images/pfps/tzKOJiNnOn5nEb3X9N59Yv7w53Ab7H6p.jpg" class="profile-picture"/></a> <a href="members/selly">selly</a></li>
                    
    <li><a href="members/G62Productions"><img src="../images/pfps/" class="profile-picture"/></a> <a href="members/G62Productions">G62Productions</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/peach029" file="pfps/gXOLRW6adteReA1n7a3CgxINavr4KQcq.jpg" alt="peach029" %}

<p><b>Username:</b> <a href="members/peach029">peach029</a></p>

<p><b>Date:</b> 2011-04-20 08:03:23</p>

<p class="comment"><b>Comment:</b> <p>hi</p>
<p> </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/peach029" file="pfps/gXOLRW6adteReA1n7a3CgxINavr4KQcq.jpg" alt="peach029" %}

<p><b>Username:</b> <a href="members/peach029">peach029</a></p>

<p><b>Date:</b> 2011-04-03 08:06:03</p>

<p class="comment"><b>Comment:</b> <p>Im going to make some videos of Airsoft guns maybe some more wizard 101 tips ,Airsoft guns are a type of gun</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thebatman6789" file="pfps/e5xO6BG37Xg4XJbH6EPxq3wMVv7Ehga9.jpg" alt="thebatman6789" %}

<p><b>Username:</b> <a href="members/thebatman6789">thebatman6789</a></p>

<p><b>Date:</b> 2011-02-27 08:09:29</p>

<p class="comment"><b>Comment:</b> <p>love your profile!</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>