---
title: phineasandferb123
sidebar: home_sidebar
hide_sidebar: true
keywords: phineasandferb123
permalink: members/phineasandferb123
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/Z7OgZwx4LQweBKpcrGv7K8JcqmkPt2gI.gif" alt="phineasandferb123" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>19</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>7</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>GLaDOS:still alive</li>
<img src="{{"../images/thumb/1_65403.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>kool aid killer (contest entry)</li>
                
it was a entry for the kidstube halloween contest 2009 (i didn't  win) well just post a bad comment since it's over
                
                <br>
Added: 23-10-2009
                
</ul>
                
<ul>
<li>kool-killer-v2</li>
                
its a better one but its cool
                
                <br>
Added: 31-10-2009
                
</ul>
                
<ul>
<li>me-having-a-lightsaber</li>
                
it's just a video
                
                <br>
Added: 28-11-2009
                
</ul>
                
<ul>
<li>ktp-mac-vs-pc</li>
                
it is my first kidstube poop
                
                <br>
Added: 28-11-2009
                
</ul>
                
<ul>
<li>how-to-hack-blockland</li>
                
it is true
                
                <br>
Added: 07-12-2009
                
</ul>
                
<ul>
<li>brian-computer-talk-1blockland</li>
                
my first webshow
                
                <br>
Added: 08-12-2009
                
</ul>
                
<ul>
<li>flashtrek-star-trek-fan-flim</li>
                
my new star trek movie all rights go to paramount
i made with flash and the tutorial is coming soon i will give her all she's got
                
                <br>
Added: 15-12-2009
                
</ul>
                
<ul>
<li>master-of-the-force-teaser</li>
                
coming soon!
                
                <br>
Added: 24-12-2009
                
</ul>
                
<ul>
<li>flashtrek-2-trailer</li>
                
a conest entry for AQUAMARINE and i know its lame but at the end there is a battle
                
                <br>
Added: 14-01-2010
                
</ul>
                
<ul>
<li>block-land-spacebattle</li>
                
the evil ro bloxian fleets have came in thru a wormhole its up to the B.S.S. yellow to save block land
                
                <br>
Added: 21-06-2010
                
</ul>
                
<ul>
<li>flashwarp</li>
                
im making my own star trek xi-xiv warp not star wars star trek is star wars mom
                
                <br>
Added: 30-06-2010
                
</ul>
                
<ul>
<li>coolferrets-kidstube-feuniral</li>
                
its based off of spocks feuniral from star trek 3 oh and a bit from star trek 2 so enjoy oh and R.I.P coolferret
                
                <br>
Added: 09-07-2010
                
</ul>
                
<ul>
<li>stop-motion-legos</li>
                
its my first stop motion lego film with ldd
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>crazyman-productions-sign-off</li>
                
sorry but i have been having technical diffcultys
                
                <br>
Added: 15-07-2010
                
</ul>
                
<ul>
<li>how-to-make-a-transporter-in-windows-movie-maker</li>
                
basicly its for anyone who dosent know how to make a transporter<br />
programs used hypercam paint and wmm
                
                <br>
Added: 28-07-2010
                
</ul>
                
<ul>
<li>attention-old-cartoon-network-fans</li>
                
i think cartoon networks going uphill<br />
its coming back to life cause of its rebreband
                
                <br>
Added: 06-08-2010
                
</ul>
                
<ul>
<li>block-land-portal</li>
                
there arent may block land or portal vids out there so im combinding them and making 1
                
                <br>
Added: 06-09-2010
                
</ul>
                
<ul>
<li>GLaDOSstill-alive</li>
                
this is the ending song from portal i love it ps its epic
                
                <br>
Added: 16-10-2010
                
</ul>
                
<ul>
<li>baseball-tennis-the-movie</li>
                
grab your tennis rackets and balls for a baseball and tennis tastic game (this was made in may 09 b4 i discovered kidstube)
                
                <br>
Added: 13-10-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/vdmman"><img src="../images/pfps/xcsoluea3H3l3jYTtC2M1s9EISsqu7bf.png" class="profile-picture"/></a> <a href="members/vdmman">vdmman</a></li>
                    
    <li><a href="members/zacattack"><img src="../images/pfps/zKJn0Xp4Cm4GA3yfulrMLpgWL9GtHdy6.png" class="profile-picture"/></a> <a href="members/zacattack">zacattack</a></li>
                    
    <li><a href="members/PlasmaGrunt"><img src="../images/pfps/jlwzaWKlx1V57oY8pK5X8mnelzkfn86L.jpg" class="profile-picture"/></a> <a href="members/PlasmaGrunt">PlasmaGrunt</a></li>
                    
    <li><a href="members/JFanimations"><img src="../images/pfps/8dk0uocjf4ajmi2swdy45zwrab3orcpqfzfxfg8kb8tkim23nrvghgwfhqrwq6btxhh0ogasoldier sprite.jpg" class="profile-picture"/></a> <a href="members/JFanimations">JFanimations</a></li>
                    
    <li><a href="members/Bee331"><img src="../images/pfps/12o3A4CvanQNWGeenQw0S6cElJxtdJ6U.png" class="profile-picture"/></a> <a href="members/Bee331">Bee331</a></li>
                    
    <li><a href="members/Macbook10"><img src="../images/pfps/WnoWGbwPS835Y7nbZIxgyCphJ3bjFzDb.jpg" class="profile-picture"/></a> <a href="members/Macbook10">Macbook10</a></li>
                    
    <li><a href="members/ghostinvestigater"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ghostinvestigater">ghostinvestigater</a></li>
                    
    <li><a href="members/JUSTIN123321"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/JUSTIN123321">JUSTIN123321</a></li>
                    
    <li><a href="members/demiandselena"><img src="../images/pfps/aYPzGR4HyYPdbXyp2MvdE9gXXgl6mFmA.jpg" class="profile-picture"/></a> <a href="members/demiandselena">demiandselena</a></li>
                    
    <li><a href="members/Gamergirlstudios"><img src="../images/pfps/AVACpeJkS0j7kCHGl48ma3TFK3IiRi4P.jpg" class="profile-picture"/></a> <a href="members/Gamergirlstudios">Gamergirlstudios</a></li>
                    
    <li><a href="members/ourgod1"><img src="../images/pfps/81vyD0YaZOnXNU8dwPH4uh77nhfpsEZo.jpg" class="profile-picture"/></a> <a href="members/ourgod1">ourgod1</a></li>
                    
    <li><a href="members/Courage_the_dog_"><img src="../images/pfps/QxbFqiQfAjiQUngMwb0N3Tc993b41BoH.jpg" class="profile-picture"/></a> <a href="members/Courage_the_dog_">Courage_the_dog_</a></li>
                    
    <li><a href="members/Gojira123"><img src="../images/pfps/is2o9dmjYLaZfTV5tesHrGLfNgMeAQoi.jpg" class="profile-picture"/></a> <a href="members/Gojira123">Gojira123</a></li>
                    
    <li><a href="members/ohheyJenn"><img src="../images/pfps/KHtxe1iCBYT5FzurXvt2QmulOu6jjJpr.jpg" class="profile-picture"/></a> <a href="members/ohheyJenn">ohheyJenn</a></li>
                    
    <li><a href="members/smartie"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/smartie">smartie</a></li>
                    
    <li><a href="members/Zerofusion101"><img src="../images/pfps/HmIPKf0o9deCg4LlVTAPm271O9nGdt5i.jpg" class="profile-picture"/></a> <a href="members/Zerofusion101">Zerofusion101</a></li>
                    
    <li><a href="members/vinneavistafan"><img src="../images/pfps/Pg1wNp2oFaz5flJhPTBlZ3OVxpYTMk3b.png" class="profile-picture"/></a> <a href="members/vinneavistafan">vinneavistafan</a></li>
                    
    <li><a href="members/manboy10"><img src="../images/pfps/6J5RyJc8ILtxxVempT8fs1enaornoS0k.jpg" class="profile-picture"/></a> <a href="members/manboy10">manboy10</a></li>
                    
    <li><a href="members/chowderthegreat"><img src="../images/pfps/sKhczqNCn1pCgVgklwfTnFGLPTtdDv5w.jpg" class="profile-picture"/></a> <a href="members/chowderthegreat">chowderthegreat</a></li>
                    
    <li><a href="members/jomei"><img src="../images/pfps/EypCJgoR1rNQ6fPrtH2fUePhXj8lceme.png" class="profile-picture"/></a> <a href="members/jomei">jomei</a></li>
                    
    <li><a href="members/Dylman"><img src="../images/pfps/tuUvf6mLTIqs0Ff9kkJmaU9d664E1Zkk.png" class="profile-picture"/></a> <a href="members/Dylman">Dylman</a></li>
                    
    <li><a href="members/captain kenpachi"><img src="../images/pfps/7vj9fhWF0NN6xBxvV59wetMp5nsUt9Io.gif" class="profile-picture"/></a> <a href="members/captain kenpachi">captain kenpachi</a></li>
                    
    <li><a href="members/candycorn112"><img src="../images/pfps/hx6oj4wt5ytw3syisyf7irfbsmdufhfm3cxd4iuy7cmzvb8cyea5te7cqbxug3673s8y0tmimages.jpg" class="profile-picture"/></a> <a href="members/candycorn112">candycorn112</a></li>
                    
    <li><a href="members/bfffl"><img src="../images/pfps/jqqigxcFQ4xL7Y8HTeYCqDpCvj7FSuH1.gif" class="profile-picture"/></a> <a href="members/bfffl">bfffl</a></li>
                    
    <li><a href="members/bobafett77"><img src="../images/pfps/ifDHczk3bLuH03gapsTN9ZVcOueb1GZa.jpg" class="profile-picture"/></a> <a href="members/bobafett77">bobafett77</a></li>
                    
    <li><a href="members/windy"><img src="../images/pfps/fbuFJE56ec8YPrK8YFt5DM6FUS02Qfdt.gif" class="profile-picture"/></a> <a href="members/windy">windy</a></li>
                    
    <li><a href="members/scompiepie"><img src="../images/pfps/ukv83ocn03khydh67umzfmv8qyhxswpb587znabe3mjqnrokbzaeatdoijay4pz0oxpyxq0c54s7ye4r36yc4d4ginqme6rikhx8skcoesk3ufkoa8o4ag8htqryk87tfttx3ta7ak0vpb049x049_logo.gif" class="profile-picture"/></a> <a href="members/scompiepie">scompiepie</a></li>
                    
    <li><a href="members/Greyhound40"><img src="../images/pfps/loeaANtio0UyVHiBYyNUTUOQ0XtWNPzy.png" class="profile-picture"/></a> <a href="members/Greyhound40">Greyhound40</a></li>
                    
    <li><a href="members/Bionxlynpha"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Bionxlynpha">Bionxlynpha</a></li>
                    
    <li><a href="members/shuttplushiestudio"><img src="../images/pfps/97LgvGSeSMXDFiHoLQPWAfKhAHpoNaXN.png" class="profile-picture"/></a> <a href="members/shuttplushiestudio">shuttplushiestudio</a></li>
                    
    <li><a href="members/Jojoshow"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Jojoshow">Jojoshow</a></li>
                    
    <li><a href="members/legoman2000"><img src="../images/pfps/mO6Iesgw57Scf7k6PdaO1unkgUTjK16w.jpg" class="profile-picture"/></a> <a href="members/legoman2000">legoman2000</a></li>
                    
    <li><a href="members/sasha200"><img src="../images/pfps/Ww0ZL7l3fzKH8bFv5FnvyEvgYkWPF3yb.jpg" class="profile-picture"/></a> <a href="members/sasha200">sasha200</a></li>
                    
    <li><a href="members/MasterSensei"><img src="../images/pfps/9coUZEoPbHNicY3laAMJiWXzBAulq7Qn.png" class="profile-picture"/></a> <a href="members/MasterSensei">MasterSensei</a></li>
                    
    <li><a href="members/LuigiDude890"><img src="../images/pfps/9CsiISjmR85FQ0lLPgLWAEnst6YWRXgO.png" class="profile-picture"/></a> <a href="members/LuigiDude890">LuigiDude890</a></li>
                    
    <li><a href="members/The-Weegee-Fan"><img src="../images/pfps/4ZusTydTj4rMNv4x35wofabyvBUDVaFP.gif" class="profile-picture"/></a> <a href="members/The-Weegee-Fan">The-Weegee-Fan</a></li>
                    
    <li><a href="members/Allie1"><img src="../images/pfps/2rvxMPrQT7Twp2g4iEePeiQ33BxOhIEa.jpg" class="profile-picture"/></a> <a href="members/Allie1">Allie1</a></li>
                    
    <li><a href="members/sweekit5"><img src="../images/pfps/agex86yqhaivwu3ranuahaqv7uw3khsknw6mru2wucihubyuohvtiafeuz838pejcavsunfchase awards.jpg" class="profile-picture"/></a> <a href="members/sweekit5">sweekit5</a></li>
                    
    <li><a href="members/mariokart99"><img src="../images/pfps/s84gZ5ftjYDIZhGnk3KyHKTuwcgTb2bK.gif" class="profile-picture"/></a> <a href="members/mariokart99">mariokart99</a></li>
                    
    <li><a href="members/tashia"><img src="../images/pfps/P5v5Uj9yBtV8lgt9rDrfacbK6qWeO9Yd.jpg" class="profile-picture"/></a> <a href="members/tashia">tashia</a></li>
                    
    <li><a href="members/phineasphan"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/phineasphan">phineasphan</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>