---
title: pikachu187
sidebar: home_sidebar
hide_sidebar: true
keywords: pikachu187
permalink: members/pikachu187
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/aVzOzMkLTWjEojnlmOS6xG7paDocF9Wd.jpg" alt="pikachu187" max-width="100"%}
            
    {% include inline_image.html file="pfps/12455.png" alt="pikachu187" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>5</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>11</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Gir Speedpaint ^_^</li>
<img src="{{"../images/thumb/1_62907.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>pokemon-eevee-and-pikachu-tribute</li>
                
This is a REALLY old video...so stop watching it :U
                
                <br>
Added: 09-09-2009
                
</ul>
                
<ul>
<li>pokemon-heartgold-soulsilver-events</li>
                
much better than the last one.
                
                <br>
Added: 16-09-2009
                
</ul>
                
<ul>
<li>animationpikachu-and-a-fish-OLD</li>
                
yeah my fy first animaion! i spell animation wrong in the video. i made the pictures Enjoy!
                
                <br>
Added: 19-09-2009
                
</ul>
                
<ul>
<li>STOP ANIMAL ABUSE, DOG FIGHTS AND PUPPY MILLS!</li>
                
i was have way crying when i was writing this....
                
                <br>
Added: 06-12-2009
                
</ul>
                
<ul>
<li>Gir-Speedpaint-</li>
                
Title explains all! By the way this is my first speedpaint!
                
                <br>
Added: 05-09-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/PlasmaGrunt"><img src="../images/pfps/jlwzaWKlx1V57oY8pK5X8mnelzkfn86L.jpg" class="profile-picture"/></a> <a href="members/PlasmaGrunt">PlasmaGrunt</a></li>
                    
    <li><a href="members/Earthbounded"><img src="../images/pfps/AfeSSj4uyTRSgWWomIF0FQAZXJOZa5vZ.gif" class="profile-picture"/></a> <a href="members/Earthbounded">Earthbounded</a></li>
                    
    <li><a href="members/LizzyAndTammyShow"><img src="../images/pfps/hFszrLNIrKNFuW9jbBU8LnYFJZhhsGhN.jpg" class="profile-picture"/></a> <a href="members/LizzyAndTammyShow">LizzyAndTammyShow</a></li>
                    
    <li><a href="members/nolan1236"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/nolan1236">nolan1236</a></li>
                    
    <li><a href="members/Mario Maniac 64"><img src="../images/pfps/xv2p6y9APxgVNv2SObp3Y1PY8py0p3Xa.jpg" class="profile-picture"/></a> <a href="members/Mario Maniac 64">Mario Maniac 64</a></li>
                    
    <li><a href="members/comicawsome_20"><img src="../images/pfps/es2we9yfUIQwOUh6jDn6Ysw6F4wH4paY.jpg" class="profile-picture"/></a> <a href="members/comicawsome_20">comicawsome_20</a></li>
                    
    <li><a href="members/Candy_Pop"><img src="../images/pfps/RoIiaBPvp50NLwAEH2gWNs1M0HI57AcM.png" class="profile-picture"/></a> <a href="members/Candy_Pop">Candy_Pop</a></li>
                    
    <li><a href="members/koreo"><img src="../images/pfps/MQeKaGVPMFRBeDajCarNSITcPouoBcrL.gif" class="profile-picture"/></a> <a href="members/koreo">koreo</a></li>
                    
    <li><a href="members/Speedytheeevee"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Speedytheeevee">Speedytheeevee</a></li>
                    
    <li><a href="members/Eevee2Leafeon"><img src="../images/pfps/cGTPkY3BWadtaNTvvRhnCZwIO82kU44w.jpg" class="profile-picture"/></a> <a href="members/Eevee2Leafeon">Eevee2Leafeon</a></li>
                    
    <li><a href="members/coolferret993"><img src="../images/pfps/l8sqZg4IxslE1nUoUy8D9AqfPPPgdlRC.jpg" class="profile-picture"/></a> <a href="members/coolferret993">coolferret993</a></li>
                    
    <li><a href="members/pokeman"><img src="../images/pfps/e0tjpo665fvnk7hxzeryrb78iioajpbmfuus6rp3w8e57mrxpan68j5hqki0xhb02vkxcxpdeoxys.jpg" class="profile-picture"/></a> <a href="members/pokeman">pokeman</a></li>
                    
    <li><a href="members/samputrasarjito"><img src="../images/pfps/wa7b2mFVWNdJrjb1rCcydLwy0F5m3gqp.jpg" class="profile-picture"/></a> <a href="members/samputrasarjito">samputrasarjito</a></li>
                    
    <li><a href="members/pokemonlover1999"><img src="../images/pfps/BmDyihV5664QRmGeYBrNDEAKr2gPXn0Z.jpg" class="profile-picture"/></a> <a href="members/pokemonlover1999">pokemonlover1999</a></li>
                    
    <li><a href="members/TreeckoFan202"><img src="../images/pfps/e3bjtd2xj4qw6nr0divj84x7xhztvkizchbvk0jtt0grcvig42o2wazihqz4y8sygrkqis7treecko1[1].gif" class="profile-picture"/></a> <a href="members/TreeckoFan202">TreeckoFan202</a></li>
                    
    <li><a href="members/breetown"><img src="../images/pfps/4qks324y82yq8aq4oh6wpbtf2cxubzc5eko7dgwa8nr5k5zwcujrw2xn4j75a7yeibcjfzi0a4db0cfedb0.jpg" class="profile-picture"/></a> <a href="members/breetown">breetown</a></li>
                    
    <li><a href="members/Celebrian"><img src="../images/pfps/5evmGtR5RhMp0Aoq08OIhgrcmBrIbfyX.jpg" class="profile-picture"/></a> <a href="members/Celebrian">Celebrian</a></li>
                    
    <li><a href="members/abandal2"><img src="../images/pfps/zi7wYDf1gsXSx2mS3S1I4Xp28ImgBLE0.png" class="profile-picture"/></a> <a href="members/abandal2">abandal2</a></li>
                    
    <li><a href="members/R2505"><img src="../images/pfps/UGQY7yNx8zysJNB1URzs8Wj5Z3UWJJRd.jpg" class="profile-picture"/></a> <a href="members/R2505">R2505</a></li>
                    
    <li><a href="members/GameMaster"><img src="../images/pfps/fveawj48t8tdvdzw8siov6iw8867r04ukau8hn50mn25rqrq8z4swbgtabrp2naeksbs64havatar 4.gif" class="profile-picture"/></a> <a href="members/GameMaster">GameMaster</a></li>
                    
    <li><a href="members/AnimalPlanet800"><img src="../images/pfps/bn3ni3y8b8tudebdpngpb8mc6zntbppazik8aa6b6qt8svc78im8fvbcmotk08krfwofukfTigerstrike8.png" class="profile-picture"/></a> <a href="members/AnimalPlanet800">AnimalPlanet800</a></li>
                    
    <li><a href="members/pikachu2"><img src="../images/pfps/dHgQRyeIvJ9htahXhYYfUGXsJRAaYMrz.gif" class="profile-picture"/></a> <a href="members/pikachu2">pikachu2</a></li>
                    
    <li><a href="members/MewPikachu"><img src="../images/pfps/v2i8n8eir6jurcim3rifizyxypxe0urkkzkxwn7djhxzh7cbpkfx84jvh606pihz6qou2mxIcefire2.jpg" class="profile-picture"/></a> <a href="members/MewPikachu">MewPikachu</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/pippy100"><img src="../images/pfps/ed2f8x5g583sy62qqrwfq4b2q4d0dp3iqtmqfiubhmu7gkou280g32ahvb8yqz74iiior3q3E03FCATB1K5WCADGM9QDCA31N3GYCACXXZLDCABGMRTDCAETKSZICAYS44PQCAEWPSDJCAL36FUTCA76YHSCCAVYZ8WCCAKC2L8HCA3I7ELYCAPDXWHQCA81EWQWCAWK27N9CA4VXZ0XCADOQ604CAKI0M2O.jpg" class="profile-picture"/></a> <a href="members/pippy100">pippy100</a></li>
                    
    <li><a href="members/wildhead"><img src="../images/pfps/kB5p8ADfjngaVirGH5N7i0UllSxoFkhq.jpg" class="profile-picture"/></a> <a href="members/wildhead">wildhead</a></li>
                    
    <li><a href="members/jhs101"><img src="../images/pfps/HFCpwX2i3ulXt9h3VUGoMx4bj7bnhcQm.jpg" class="profile-picture"/></a> <a href="members/jhs101">jhs101</a></li>
                    
    <li><a href="members/Mikune999"><img src="../images/pfps/F9oaWnGBgkOLTfFkfzAPW5N7DpKpAyQG.png" class="profile-picture"/></a> <a href="members/Mikune999">Mikune999</a></li>
                    
    <li><a href="members/pichuluver101"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/pichuluver101">pichuluver101</a></li>
                    
    <li><a href="members/theshelly67"><img src="../images/pfps/tsihbk6mzwcrzb7gogc0jnwbzhx42ogk6ps80nipai7xj53xa5pjgbj5i7zbm6mik2hadppimages.jpg" class="profile-picture"/></a> <a href="members/theshelly67">theshelly67</a></li>
                    
    <li><a href="members/Supercat126"><img src="../images/pfps/fvTyHtK82gbe5ROExU5bxRbmkV3kKZ6n.gif" class="profile-picture"/></a> <a href="members/Supercat126">Supercat126</a></li>
                    
    <li><a href="members/BentyPorsha101"><img src="../images/pfps/9pIDrvanwY1bCE0Jj2IEuS2sI9we2yUz.jpg" class="profile-picture"/></a> <a href="members/BentyPorsha101">BentyPorsha101</a></li>
                    
    <li><a href="members/AmyRose"><img src="../images/pfps/179743068.jpg" class="profile-picture"/></a> <a href="members/AmyRose">AmyRose</a></li>
                    
    <li><a href="members/AnimalArtist"><img src="../images/pfps/179742752.jpg" class="profile-picture"/></a> <a href="members/AnimalArtist">AnimalArtist</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>