---
title: pikachuguy
sidebar: home_sidebar
hide_sidebar: true
keywords: pikachuguy
permalink: members/pikachuguy
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/YuRz0UOEESnrSDrO3DmEZpKpayeQ07tP.gif" alt="pikachuguy" max-width="100"%}
            
    {% include inline_image.html file="pfps/8U61Vtz2WEibMfGwDCDwqXRGJ7wFvmlr.png" alt="pikachuguy" max-width="100"%}
            
    {% include inline_image.html file="pfps/14310.png" alt="pikachuguy" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>cory</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>24</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>10</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>65</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>1110</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>90.67%</b> out of <b>30</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>maku (my first video)</li>
<img src="{{"../images/thumb/0ZNxqoFHeOWVaGhr13VU.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>COOL LINE RIDER CHEAT</li>
<img src="{{"../images/thumb/ir1Wl0qOImeUv4ZmumOf.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>maku does the leakspin</li>
<img src="{{"../images/thumb/zsGs0culDIycXqkIYSjA.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>spongeobob has a question  (about waffles!!!)</li>
<img src="{{"../images/thumb/XwdMkGqBnnpWacB2HuNN.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Spongebob sings shout it by mitchel musso</li>
<img src="{{"../images/thumb/2bvTTeYNMkxTVDrn3Jjz.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>WHAT SHOULD I NAME IT</li>
<img src="{{"../images/thumb/gZoYffcUD3WnfDjuOpEs.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>attention pokemon fans</li>
<img src="{{"../images/thumb/1_70551.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>BROCK OBAMA! (not barock but brock)</li>
<img src="{{"../images/thumb/1_124930.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>maku-does-the-leakspin</li>
                
this is my first animation!
                
                <br>
Added: 08-11-2009
                
</ul>
                
<ul>
<li>spongeobob-has-a-question-about-waffles</li>
                
hard to explain so just watch.             


and its my first edited video to!!!!!!!!!
                
                <br>
Added: 13-11-2009
                
</ul>
                
<ul>
<li>Spongebob sings shout it by mitchel musso</li>
                
hard to explain
                
                <br>
Added: 16-11-2009
                
</ul>
                
<ul>
<li>real-pokemon</li>
                
here are a hand full of real poke mon photoes
                
                <br>
Added: 30-11-2009
                
</ul>
                
<ul>
<li>spongebob spins himself right round</li>
                
spongebob spins himself right round
                
                <br>
Added: 05-12-2009
                
</ul>
                
<ul>
<li>guess-what</li>
                
...after searching through hundreds of other videos; and patiently waiting for your video to download...........................

you waist 10 seconds of your life
                
                <br>
Added: 08-12-2009
                
</ul>
                
<ul>
<li>more-spining</li>
                
spin!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                
                <br>
Added: 15-12-2009
                
</ul>
                
<ul>
<li>sponge-bob-sings-the-egg-song</li>
                
ALL I CAN SAY IS THAT SPONGEBOB LOVES EGGS
                
                <br>
Added: 16-12-2009
                
</ul>
                
<ul>
<li>THE-FUNNIEST-SONG-EVER-porkys-blue-christmas</li>
                
to................funny...............cant............... type...............DESCRIPTION
                
                <br>
Added: 17-12-2009
                
</ul>
                
<ul>
<li>squidward-slams-a-door-in-a-doctors-face-while-i-play-fitting-music</li>
                
thats going to leave a mark.....
                
                <br>
Added: 18-12-2009
                
</ul>
                
<ul>
<li>a-tribute-to-the-newest-pokemon-game.-pokemon-black-and-white</li>
                
cool
                
                <br>
Added: 23-05-2010
                
</ul>
                
<ul>
<li>fake-pokemon</li>
                
funny
                
                <br>
Added: 23-05-2010
                
</ul>
                
<ul>
<li>extreamley-funny-signs-(improved)</li>
                
rolf, lol, lawl, etc
                
                <br>
Added: 19-06-2010
                
</ul>
                
<ul>
<li>generation-five-pokemon</li>
                
new pokemon for generation 5
                
                <br>
Added: 03-07-2010
                
</ul>
                
<ul>
<li>new-pokemon-in-pokemon-black-and-white</li>
                
new pokemon in pokemon black  and white
                
                <br>
Added: 04-07-2010
                
</ul>
                
<ul>
<li>generation-five-pokemon-2</li>
                
part 2
                
                <br>
Added: 16-08-2010
                
</ul>
                
<ul>
<li>156-new-pokemon1</li>
                
WHAT!!!!!!!!!!!!!
                
                <br>
Added: 17-09-2010
                
</ul>
                
<ul>
<li>porkey-dislikes-justin-bieber</li>
                
edited looney tunes
                
                <br>
Added: 14-01-2012
                
</ul>
                
<ul>
<li>daffy-chases-porkey-while-i-play-unfitting-music</li>
                
funny
                
                <br>
Added: 14-01-2012
                
</ul>
                
<ul>
<li>tribute-to-adventure-time-gumball-regularshow-and-mad</li>
                
a tribute to some of my favorite cartoons!
                
                <br>
Added: 26-02-2012
                
</ul>
                
<ul>
<li>brock-Not-BArock-obama</li>
                
oh yeah
                
                <br>
Added: 20-04-2012
                
</ul>
                
<ul>
<li>pokemon-black-and-white-2-official-trailer</li>
                
MUST WATCH!!
                
                <br>
Added: 05-05-2012
                
</ul>
                
<ul>
<li>BROCK-OBAMA-not-barock-but-brock</li>
                
PRESIDENT of pocket monsters (c)
                
                <br>
Added: 12-05-2012
                
</ul>
                
<ul>
<li>attention-pokemon-fans</li>
                
!!!!!pokemon black and white 2!!!!!
                
                <br>
Added: 28-03-2012
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/vdmman"><img src="../images/pfps/xcsoluea3H3l3jYTtC2M1s9EISsqu7bf.png" class="profile-picture"/></a> <a href="members/vdmman">vdmman</a></li>
                    
    <li><a href="members/zacattack"><img src="../images/pfps/zKJn0Xp4Cm4GA3yfulrMLpgWL9GtHdy6.png" class="profile-picture"/></a> <a href="members/zacattack">zacattack</a></li>
                    
    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/Cyber chimchar13"><img src="../images/pfps/5F4Qb3UINQVlKgIiEYlhK6t9pMsQtBno.jpg" class="profile-picture"/></a> <a href="members/Cyber chimchar13">Cyber chimchar13</a></li>
                    
    <li><a href="members/kidsonly"><img src="../images/pfps/3UJEMe0hcOCDO2HuB2VHXuTCfP9SVNVM.jpg" class="profile-picture"/></a> <a href="members/kidsonly">kidsonly</a></li>
                    
    <li><a href="members/sonic speed"><img src="../images/pfps/gnn81iuU3oIHHHcrQEpOTkjtToB3j3uF.png" class="profile-picture"/></a> <a href="members/sonic speed">sonic speed</a></li>
                    
    <li><a href="members/Starla2001"><img src="../images/pfps/3L0v8WKh1rkQIwfA1AqrCG5RUNft7qF0.jpg" class="profile-picture"/></a> <a href="members/Starla2001">Starla2001</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/Gamergirlstudios"><img src="../images/pfps/AVACpeJkS0j7kCHGl48ma3TFK3IiRi4P.jpg" class="profile-picture"/></a> <a href="members/Gamergirlstudios">Gamergirlstudios</a></li>
                    
    <li><a href="members/samid11"><img src="../images/pfps/jmBV48LhObQAvyYEHSHf48HC78i4ewuC.gif" class="profile-picture"/></a> <a href="members/samid11">samid11</a></li>
                    
    <li><a href="members/SnoopyProductions"><img src="../images/pfps/vZKd3iqLOnyp88Icabn3pbEMxdFlptGa.jpg" class="profile-picture"/></a> <a href="members/SnoopyProductions">SnoopyProductions</a></li>
                    
    <li><a href="members/Mrhappy17"><img src="../images/pfps/vZqALNC09WME7Z0IfeYZKgdpWyyXAXmv.jpg" class="profile-picture"/></a> <a href="members/Mrhappy17">Mrhappy17</a></li>
                    
    <li><a href="members/Zerofusion101"><img src="../images/pfps/HmIPKf0o9deCg4LlVTAPm271O9nGdt5i.jpg" class="profile-picture"/></a> <a href="members/Zerofusion101">Zerofusion101</a></li>
                    
    <li><a href="members/killerwii12"><img src="../images/pfps/DJniRlpMXKUoZ8FM6CYqBxEn3lj4w60x.jpg" class="profile-picture"/></a> <a href="members/killerwii12">killerwii12</a></li>
                    
    <li><a href="members/Mario Maniac 64"><img src="../images/pfps/xv2p6y9APxgVNv2SObp3Y1PY8py0p3Xa.jpg" class="profile-picture"/></a> <a href="members/Mario Maniac 64">Mario Maniac 64</a></li>
                    
    <li><a href="members/moniquerocks"><img src="../images/pfps/8cjCF5gDrki0WYcKY10sZ5Lco0cmuM1q.jpg" class="profile-picture"/></a> <a href="members/moniquerocks">moniquerocks</a></li>
                    
    <li><a href="members/Speedytheeevee"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Speedytheeevee">Speedytheeevee</a></li>
                    
    <li><a href="members/warriorchikorita"><img src="../images/pfps/28gM6PfjwuMWmwdLAPjA7byq3YJCTtIJ.jpg" class="profile-picture"/></a> <a href="members/warriorchikorita">warriorchikorita</a></li>
                    
    <li><a href="members/coolferret993"><img src="../images/pfps/l8sqZg4IxslE1nUoUy8D9AqfPPPgdlRC.jpg" class="profile-picture"/></a> <a href="members/coolferret993">coolferret993</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/pokeman"><img src="../images/pfps/e0tjpo665fvnk7hxzeryrb78iioajpbmfuus6rp3w8e57mrxpan68j5hqki0xhb02vkxcxpdeoxys.jpg" class="profile-picture"/></a> <a href="members/pokeman">pokeman</a></li>
                    
    <li><a href="members/CPA3044"><img src="../images/pfps/ckhaovaagjrr024heiaegvjvsgf8u83vhavwvtw24dht5d07j0aqkha3of07cstksd7cxs4Kingdom-Hearts-III-1.jpg" class="profile-picture"/></a> <a href="members/CPA3044">CPA3044</a></li>
                    
    <li><a href="members/scompiepie"><img src="../images/pfps/ukv83ocn03khydh67umzfmv8qyhxswpb587znabe3mjqnrokbzaeatdoijay4pz0oxpyxq0c54s7ye4r36yc4d4ginqme6rikhx8skcoesk3ufkoa8o4ag8htqryk87tfttx3ta7ak0vpb049x049_logo.gif" class="profile-picture"/></a> <a href="members/scompiepie">scompiepie</a></li>
                    
    <li><a href="members/tylertype"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/tylertype">tylertype</a></li>
                    
    <li><a href="members/orgie1098"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/orgie1098">orgie1098</a></li>
                    
    <li><a href="members/Ferrarif40"><img src="../images/pfps/q0kmnnm0o7rmk62b400bvoot40ytujyaaajkntdyps80n22hrrhd3twykjg4r52p3c0ev20photo002.jpg" class="profile-picture"/></a> <a href="members/Ferrarif40">Ferrarif40</a></li>
                    
    <li><a href="members/EricWorld10"><img src="../images/pfps/h63k7vcojoah87uk0j8qa3pm5irpkj8sez4cm4pvin4ikptaxqqxk6aefptrwqa0h22txfethumbnailCAHP1AGK.jpg" class="profile-picture"/></a> <a href="members/EricWorld10">EricWorld10</a></li>
                    
    <li><a href="members/R2505"><img src="../images/pfps/UGQY7yNx8zysJNB1URzs8Wj5Z3UWJJRd.jpg" class="profile-picture"/></a> <a href="members/R2505">R2505</a></li>
                    
    <li><a href="members/Kiarathejolteon"><img src="../images/pfps/jwoOcIHjgFWS5GmI2mD6dRnNhqtwBMsi.gif" class="profile-picture"/></a> <a href="members/Kiarathejolteon">Kiarathejolteon</a></li>
                    
    <li><a href="members/thelightningthief"><img src="../images/pfps/iMlibhzn1pG5o1uyCSKdKoAjki0R5vre.png" class="profile-picture"/></a> <a href="members/thelightningthief">thelightningthief</a></li>
                    
    <li><a href="members/legoman2000"><img src="../images/pfps/mO6Iesgw57Scf7k6PdaO1unkgUTjK16w.jpg" class="profile-picture"/></a> <a href="members/legoman2000">legoman2000</a></li>
                    
    <li><a href="members/pinkmadmad"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/pinkmadmad">pinkmadmad</a></li>
                    
    <li><a href="members/Ampharosman"><img src="../images/pfps/76stONbhiuTZRHM0DzvXsIG43sjigJRb.jpg" class="profile-picture"/></a> <a href="members/Ampharosman">Ampharosman</a></li>
                    
    <li><a href="members/minabella"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/minabella">minabella</a></li>
                    
    <li><a href="members/milulu"><img src="../images/pfps/B90eNpuSXzR0NxERVmDqa0dMe7vboACq.jpg" class="profile-picture"/></a> <a href="members/milulu">milulu</a></li>
                    
    <li><a href="members/pikachu2"><img src="../images/pfps/dHgQRyeIvJ9htahXhYYfUGXsJRAaYMrz.gif" class="profile-picture"/></a> <a href="members/pikachu2">pikachu2</a></li>
                    
    <li><a href="members/Cninja"><img src="../images/pfps/bUND4ZSoZ9jIfi6tlEAy8D3jldTKLcMk.gif" class="profile-picture"/></a> <a href="members/Cninja">Cninja</a></li>
                    
    <li><a href="members/PonyWorld"><img src="../images/pfps/fKiZJd8YpD3Z1DF4KsjjPSu4T9KRXBZ2.gif" class="profile-picture"/></a> <a href="members/PonyWorld">PonyWorld</a></li>
                    
    <li><a href="members/WeavileFan"><img src="../images/pfps/mJfE0jMGsmV1X6pwo3D71NLpXEw31Atb.png" class="profile-picture"/></a> <a href="members/WeavileFan">WeavileFan</a></li>
                    
    <li><a href="members/tahu3637"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/tahu3637">tahu3637</a></li>
                    
    <li><a href="members/pinkyredJ"><img src="../images/pfps/RS8lGQMDBbJoSxRkiyvj0nJVUgXi0HTH.png" class="profile-picture"/></a> <a href="members/pinkyredJ">pinkyredJ</a></li>
                    
    <li><a href="members/TreeckoFan202"><img src="../images/pfps/e3bjtd2xj4qw6nr0divj84x7xhztvkizchbvk0jtt0grcvig42o2wazihqz4y8sygrkqis7treecko1[1].gif" class="profile-picture"/></a> <a href="members/TreeckoFan202">TreeckoFan202</a></li>
                    
    <li><a href="members/mich"><img src="../images/pfps/rWxTEfOIhO5SLRqku7mKupekrhh0oPiV.jpg" class="profile-picture"/></a> <a href="members/mich">mich</a></li>
                    
    <li><a href="members/Drawer L 1"><img src="../images/pfps/Vc0Pw10EVV81PVGrtjUkVZmjYJQdbBGu.jpg" class="profile-picture"/></a> <a href="members/Drawer L 1">Drawer L 1</a></li>
                    
    <li><a href="members/Jada"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Jada">Jada</a></li>
                    
    <li><a href="members/stargazer1"><img src="../images/pfps/OrLassEeQCAPE0TvQQUp8s6B2SOgcJVo.jpg" class="profile-picture"/></a> <a href="members/stargazer1">stargazer1</a></li>
                    
    <li><a href="members/taylorswift323"><img src="../images/pfps/VPn8Hce5hvrekDIaHNBFftwGA7JhHmKc.gif" class="profile-picture"/></a> <a href="members/taylorswift323">taylorswift323</a></li>
                    
    <li><a href="members/sportsguyz201"><img src="../images/pfps/e5WTndrlhnDGfzCpq0OYnvrwUnywmn5H.png" class="profile-picture"/></a> <a href="members/sportsguyz201">sportsguyz201</a></li>
                    
    <li><a href="members/The Scary Snapper"><img src="../images/pfps/g9NSKfPoDgwZS13IZZnlhb9n89MRxcCT.jpg" class="profile-picture"/></a> <a href="members/The Scary Snapper">The Scary Snapper</a></li>
                    
    <li><a href="members/pokemaster"><img src="../images/pfps/4q46NS5X3sJB3xbZhyudIZkQJvX6HRBB.jpg" class="profile-picture"/></a> <a href="members/pokemaster">pokemaster</a></li>
                    
    <li><a href="members/kinglegomaster101"><img src="../images/pfps/h4Ft4hT7dnRJ5TJ3FuZvIp0Kjs6uZd15.gif" class="profile-picture"/></a> <a href="members/kinglegomaster101">kinglegomaster101</a></li>
                    
    <li><a href="members/dubdub123"><img src="../images/pfps/xW1gpRKZEIkLRLyUUTt9UUnu7rJbU5wF.gif" class="profile-picture"/></a> <a href="members/dubdub123">dubdub123</a></li>
                    
    <li><a href="members/cutielee3"><img src="../images/pfps/gEz8d9CTPbamsK96a9AAw7d9tLQo28nW.jpg" class="profile-picture"/></a> <a href="members/cutielee3">cutielee3</a></li>
                    
    <li><a href="members/spongeybrown124"><img src="../images/pfps/JwGbD7Wb6kKPwrqXRidniEXSrC5T7KoE.gif" class="profile-picture"/></a> <a href="members/spongeybrown124">spongeybrown124</a></li>
                    
    <li><a href="members/Lugia1236"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Lugia1236">Lugia1236</a></li>
                    
    <li><a href="members/Alexria111"><img src="../images/pfps/sA1A4KtWjuG7EG1DOSlTF7sK4R0eAYLs.jpg" class="profile-picture"/></a> <a href="members/Alexria111">Alexria111</a></li>
                    
    <li><a href="members/miracle78"><img src="../images/pfps/l5g9yerCDk7GrOHWmkivt7AdvpkALGox.jpg" class="profile-picture"/></a> <a href="members/miracle78">miracle78</a></li>
                    
    <li><a href="members/Pepethemonkey"><img src="../images/pfps/66Nol4D52FCdVMshf60I0QMDlnsYhG2e.jpg" class="profile-picture"/></a> <a href="members/Pepethemonkey">Pepethemonkey</a></li>
                    
    <li><a href="members/kidrock1234"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/kidrock1234">kidrock1234</a></li>
                    
    <li><a href="members/pippy100"><img src="../images/pfps/ed2f8x5g583sy62qqrwfq4b2q4d0dp3iqtmqfiubhmu7gkou280g32ahvb8yqz74iiior3q3E03FCATB1K5WCADGM9QDCA31N3GYCACXXZLDCABGMRTDCAETKSZICAYS44PQCAEWPSDJCAL36FUTCA76YHSCCAVYZ8WCCAKC2L8HCA3I7ELYCAPDXWHQCA81EWQWCAWK27N9CA4VXZ0XCADOQ604CAKI0M2O.jpg" class="profile-picture"/></a> <a href="members/pippy100">pippy100</a></li>
                    
    <li><a href="members/supernicky2"><img src="../images/pfps/AYtSU2O2RrjufbF9ae5azw6WbejoVU7W.png" class="profile-picture"/></a> <a href="members/supernicky2">supernicky2</a></li>
                    
    <li><a href="members/Demiluv"><img src="../images/pfps/s8hEcuVV37B3aXHJc84hJpfUi7rdyXEe.jpg" class="profile-picture"/></a> <a href="members/Demiluv">Demiluv</a></li>
                    
    <li><a href="members/IceFlake"><img src="../images/pfps/CC2Drtx8HYhKCNsLZXWRuhHJFpzEqetq.jpg" class="profile-picture"/></a> <a href="members/IceFlake">IceFlake</a></li>
                    
    <li><a href="members/imnotahumanbeing"><img src="../images/pfps/fWkmDNGTqlCHXE6TNoU4vSjI6Pb5AAGd.jpg" class="profile-picture"/></a> <a href="members/imnotahumanbeing">imnotahumanbeing</a></li>
                    
    <li><a href="members/Ratcatrule"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Ratcatrule">Ratcatrule</a></li>
                    
    <li><a href="members/MRHAPPY17"><img src="../images/pfps/vZqALNC09WME7Z0IfeYZKgdpWyyXAXmv.jpg" class="profile-picture"/></a> <a href="members/MRHAPPY17">MRHAPPY17</a></li>
                    
    <li><a href="members/pokekid80"><img src="../images/pfps/V7s6AbnrHxKzX1ASc3ZzAoPOaIicYmIt.jpg" class="profile-picture"/></a> <a href="members/pokekid80">pokekid80</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/spongeybrown124" file="pfps/55Pwt9gKVRzWPol8ubBQoFLLlpSAWSGR.png" alt="spongeybrown124" %}

<p><b>Username:</b> <a href="members/spongeybrown124>spongeybrown124</a></p>

<p><b>Date:</b> 2010-09-12 17:03:27</p>

<p class="comment"><b>Comment:</b> <p> Pikachu Rulez (along with Totodile and Charzard!!)!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/dubdub123" file="pfps/xW1gpRKZEIkLRLyUUTt9UUnu7rJbU5wF.gif" alt="dubdub123" %}

<p><b>Username:</b> <a href="members/dubdub123>dubdub123</a></p>

<p><b>Date:</b> 2010-08-31 15:50:21</p>

<p class="comment"><b>Comment:</b> <p>ÃÆñ<br/>
</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/pokemaster" file="pfps/4q46NS5X3sJB3xbZhyudIZkQJvX6HRBB.jpg" alt="pokemaster" %}

<p><b>Username:</b> <a href="members/pokemaster>pokemaster</a></p>

<p><b>Date:</b> 2010-08-26 03:32:36</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large; "><span style="font-family: 'Comic Sans MS'; "><span style="color: rgb(255, 0, 0); "><u><em><strong>I like pokémon so much,I'm a "pokéfreak"!!!<img alt="" src="../images/fckeditor/editor/images/smiley/msn/envelope.gif"/></strong></em></u></span></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/pokemonlover1999" file="pfps/BmDyihV5664QRmGeYBrNDEAKr2gPXn0Z.jpg" alt="pokemonlover1999" %}

<p><b>Username:</b> <a href="members/pokemonlover1999>pokemonlover1999</a></p>

<p><b>Date:</b> 2010-05-05 15:29:46</p>

<p class="comment"><b>Comment:</b> <p>Hello R2505 and pokemonlover1999 and going to start a contest called funny video/picture posting begins today at 6:00pm and ends on Friday may 21st 2010 and judging begins on Saturday may 22nd 2010 at 12:00pm. please e mail us to enter and check the blog and video in a few hours for full details.Please also post your video response to the contest video or you can add it to the contest group or just tell us when it is posted</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Iloverockenroll" file="pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" alt="Iloverockenroll" %}

<p><b>Username:</b> <a href="members/Iloverockenroll>Iloverockenroll</a></p>

<p><b>Date:</b> 2010-04-13 17:41:54</p>

<p class="comment"><b>Comment:</b> <p>sup</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/colby2" file="pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" alt="colby2" %}

<p><b>Username:</b> <a href="members/colby2>colby2</a></p>

<p><b>Date:</b> 2010-01-24 11:54:24</p>

<p class="comment"><b>Comment:</b> <p> </p>
<p><span style="color: #00ff00"><font color="#000000"><span style="color: #339966">HELLO!</span></font></span></p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>