---
title: pillowpetlover
sidebar: home_sidebar
hide_sidebar: true
keywords: pillowpetlover
permalink: members/pillowpetlover
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/Pu3yxwrdkq5w58MqYZY6qcXdIVp8cudr.jpg" alt="pillowpetlover" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Jayda</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>12</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>89</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>1</b></li>
        
<li> Rating: <b>73.33%</b> out of <b>3</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/SeanSanczel"><img src="../images/pfps/ty4ts7vuze7d0asmqd4vzwv2fr5wmoj5deptd8e0eb45bkfpnacdvx6ydzkpeujfzwy0w2sSeanHeadshot2.jpg" class="profile-picture"/></a> <a href="members/SeanSanczel">SeanSanczel</a></li>
                    
    <li><a href="members/Ness"><img src="../images/pfps/dEk7PLYYXh8Jgo4ODzkFCZlWJYbm2KeT.gif" class="profile-picture"/></a> <a href="members/Ness">Ness</a></li>
                    
    <li><a href="members/Soup_soe"><img src="../images/pfps/G4s8cOfLvFy3evBJEpKsZGFuTW3xqDWw.jpg" class="profile-picture"/></a> <a href="members/Soup_soe">Soup_soe</a></li>
                    
    <li><a href="members/frostfirefur"><img src="../images/pfps/MsohUtf9vbu7qenoySl61IdkkM2GEn9O.jpg" class="profile-picture"/></a> <a href="members/frostfirefur">frostfirefur</a></li>
                    
    <li><a href="members/StormTheWolf"><img src="../images/pfps/CaZatn5Fu18VTyO6HyhLuNxkSnBds0Vu.gif" class="profile-picture"/></a> <a href="members/StormTheWolf">StormTheWolf</a></li>
                    
    <li><a href="members/maya98"><img src="../images/pfps/1znKygakTBzOqg94jJqRggO0l5Ejx32o.png" class="profile-picture"/></a> <a href="members/maya98">maya98</a></li>
                    
    <li><a href="members/Pikatwo"><img src="../images/pfps/XgJN4wxZl2fsmL0P83DdwTDzQdVguJjF.gif" class="profile-picture"/></a> <a href="members/Pikatwo">Pikatwo</a></li>
                    
    <li><a href="members/TigerfoxTheEmo1"><img src="../images/pfps/fm1zmYtBUN6WSFGF8ZyBBWfQpmMHElvh.png" class="profile-picture"/></a> <a href="members/TigerfoxTheEmo1">TigerfoxTheEmo1</a></li>
                    
    <li><a href="members/alan3000"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/alan3000">alan3000</a></li>
                    
    <li><a href="members/MayTheEmo13"><img src="../images/pfps/mguukLIjPnf5FoTJfckGSUigwfWQoHGQ.png" class="profile-picture"/></a> <a href="members/MayTheEmo13">MayTheEmo13</a></li>
                    
    <li><a href="members/Cruel_Girl"><img src="../images/pfps/7cOGR0OmCQy4HbtiExFIVG3WgQGn8Ir6.jpg" class="profile-picture"/></a> <a href="members/Cruel_Girl">Cruel_Girl</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/alan3000" file="pfps/placeholder.gif" alt="alan3000" %}

<p><b>Username:</b> <a href="members/alan3000">alan3000</a></p>

<p><b>Date:</b> 2011-03-30 17:20:38</p>

<p class="comment"><b>Comment:</b> <p>WAZZUP!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/pillowpetlover" file="pfps/Pu3yxwrdkq5w58MqYZY6qcXdIVp8cudr.jpg" alt="pillowpetlover" %}

<p><b>Username:</b> <a href="members/pillowpetlover">pillowpetlover</a></p>

<p><b>Date:</b> 2011-03-27 19:55:39</p>

<p class="comment"><b>Comment:</b> <p>cool!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/MayTheEmo13" file="pfps/mguukLIjPnf5FoTJfckGSUigwfWQoHGQ.png" alt="MayTheEmo13" %}

<p><b>Username:</b> <a href="members/MayTheEmo13">MayTheEmo13</a></p>

<p><b>Date:</b> 2011-03-20 16:24:23</p>

<p class="comment"><b>Comment:</b> <p> <span class="Apple-style-span" style="color: rgb(51, 51, 51); "><span class="Apple-style-span" style="font-family: 'Comic Sans MS'; "><strong style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; ">I am emo.</strong></span>
<p style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-family: Arial, Helvetica, sans-serif; "><span style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-family: 'Comic Sans MS'; "><strong style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; ">Emos-<br ajax-profile-abuse_29779"="" style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; ...&lt;/li&gt;

              &lt;li id="/></strong></span></p></span></p>
<p style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-family: Arial, Helvetica, sans-serif; "><span style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-family: 'Comic Sans MS'; "><strong style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; ">Emos-<br ajax-profile-abuse_29779"="" style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; ...&lt;/li&gt;

              &lt;li id="/></strong></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/TigerfoxTheEmo1" file="pfps/fm1zmYtBUN6WSFGF8ZyBBWfQpmMHElvh.png" alt="TigerfoxTheEmo1" %}

<p><b>Username:</b> <a href="members/TigerfoxTheEmo1">TigerfoxTheEmo1</a></p>

<p><b>Date:</b> 2011-03-19 15:37:19</p>

<p class="comment"><b>Comment:</b> <p>Hi</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>