---
title: pokemonlover12
sidebar: home_sidebar
hide_sidebar: true
keywords: pokemonlover12
permalink: members/pokemonlover12
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/HTRZzNTkxmhton7aRdwPcNKlZkeNCZAJ.png" alt="pokemonlover12" max-width="100"%}
            
    {% include inline_image.html file="pfps/TEfctiLG5RD70yGijIxif8FVOFF34OYN.png" alt="pokemonlover12" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>21</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>30</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Jay Sean ft. Nicki Minaj: 2012</li>
<img src="{{"../images/thumb/1_63727.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Pokemon-Figure-Adventures-1-School-days</li>
                
Hello people, yo! Second vidoe right here. Not sure if the first one has uploaded but who cares right now.
                
                <br>
Added: 14-01-2010
                
</ul>
                
<ul>
<li>My-Favourite-Legendary-Pokemon</li>
                
Hello there kidstubers. Thought I might share my faves with you, since I was really bored that morning. Hope you like it, pls comment on it.  <br />
:)
                
                <br>
Added: 16-01-2010
                
</ul>
                
<ul>
<li>The-Master-Evil-Super-Villain</li>
                
yeah... a bit random isn't it? LOL, my mum was laughing her head of when she saw this one. I did too. Hope you like it. <br />
:)
                
                <br>
Added: 16-01-2010
                
</ul>
                
<ul>
<li>My-Top-10-Pokemon-Video</li>
                
Yo people! Next slideshow is here! Check it out! So yeah, hope you all like it, please comment on it!
                
                <br>
Added: 18-01-2010
                
</ul>
                
<ul>
<li>Pokemon-Tribute-Series-Episode-1</li>
                
hello people. I am going to start a series of episodes called the pokemon tribute series. Hope you will like them all!
                
                <br>
Added: 18-01-2010
                
</ul>
                
<ul>
<li>Gym-Leaders-And-Their-Pokemon</li>
                
Hello there. I thought I would be very kind and upload a video for people who are stuck on gym leaders, and they can think up some nice pokemon strategies for them gym leaders.
                
                <br>
Added: 24-01-2010
                
</ul>
                
<ul>
<li>Pokemons-Next-Top-Model-Cycle-1-part-1</li>
                
Hello, started a new series, pntm! Stopped the tribute series because it gor really hard. Hope you all like these ones instead!
                
                <br>
Added: 28-01-2010
                
</ul>
                
<ul>
<li>A-Contest-For-Pokemon-Lovers</li>
                
The title says it all, read ALL the details before you enter. Make sure you message me when you have made the video for the contest.
                
                <br>
Added: 29-01-2010
                
</ul>
                
<ul>
<li>Pokemon-Heart-Gold--Soul-Silver-Pics</li>
                
I found some pics while surfing the internet for pokemon games to buy. Hope you like these pics I found!
                
                <br>
Added: 29-01-2010
                
</ul>
                
<ul>
<li>Pokemon-hg-ans-ss-pics</li>
                
I was surfing the internet and found these. Cool, huh? I wanna get a copy when they release in my language, english.
                
                <br>
Added: 29-01-2010
                
</ul>
                
<ul>
<li>Pokemons-next-Top-model-Cycle-1-Part-2</li>
                
Part 2 is now here. I hope you continue to watch the series! Make sure you tune into part 3 too. Bye, have a nice day.<br />
:)
                
                <br>
Added: 29-01-2010
                
</ul>
                
<ul>
<li>Pretty-pls-join-my-sites</li>
                
pls, join them, its free and fun!
                
                <br>
Added: 15-02-2010
                
</ul>
                
<ul>
<li>3OH3-featuring-Katy-Perry-Starstrukk</li>
                
luv this song. 
:-) I do not own the music in this video.
                
                <br>
Added: 13-03-2010
                
</ul>
                
<ul>
<li>Pokemonlover12-and-Espeonlover3000s-movie-trailer</li>
                
me and my matey espeonlover3000 are going to make a movie. Here's the trailer I made.
                
                <br>
Added: 04-04-2010
                
</ul>
                
<ul>
<li>Calling-all-Pokemon-Battlers</li>
                
Hiya people. This video is just to say I am now accepting all wi-fi pokemon battles. Details in video. Peace. :)
                
                <br>
Added: 22-05-2010
                
</ul>
                
<ul>
<li>Recoloured-Pokemon-Sprites</li>
                
Hello! I thought I would mess around the computer so I made these differently coloured pokemon sprites. Enjoy like you would enjoy some lollipops.
                
                <br>
Added: 29-06-2010
                
</ul>
                
<ul>
<li>Pokemonlover12-is-Going-to-make-Rollercoasters</li>
                
Hi. I have ordered roller coaster tycoon 3. so i am going to be uploading coasters for u. they will be awesome. this is just a vid (trailer, advert.) to tell you whats coming up to you soon!
                
                <br>
Added: 28-07-2010
                
</ul>
                
<ul>
<li>Pokemonlover12s-PokeMovie-The-Dark-Side-and-the-Light-Side-Chapte</li>
                
Hiya everyone! Sorry havn't been posting vids for a long time sorry. This is my new pokeMovie, the Light side and the Dark side, I will release each video on it as a chapter. So keep checking for chapter two guys. Please comment, message me, and etc. I hope you post more requests on my next movie. <br />
Pokemonlover12
                
                <br>
Added: 02-09-2010
                
</ul>
                
<ul>
<li>Katy-Perry-Teenage-Dream</li>
                
Katy perry's teenage dream here.
                
                <br>
Added: 12-09-2010
                
</ul>
                
<ul>
<li>Ne-yo-Beautiful-Monster</li>
                
Ne-yo: beautiful monster. more music, stay tuned.
                
                <br>
Added: 17-09-2010
                
</ul>
                
<ul>
<li>Jay-Sean-ft-Nicki-Minaj-2012-</li>
                
more music. stay tuned.
                
                <br>
Added: 17-09-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/JawJaw1"><img src="../images/pfps/ls2DBDxjn8qn6ECkypV8b2d1mUQj9Zci.png" class="profile-picture"/></a> <a href="members/JawJaw1">JawJaw1</a></li>
                    
    <li><a href="members/eevee2glaceon"><img src="../images/pfps/7m3jxetrngugcpavkjwugtky28ecf6kegeo4h6mub4ybjzxs7ibe0j2ri6tn04r7732fzcxeevee.jpg" class="profile-picture"/></a> <a href="members/eevee2glaceon">eevee2glaceon</a></li>
                    
    <li><a href="members/FZKidsStudios"><img src="../images/pfps/4IitLxM5HaVRu9AyyAPrdZqF8CXIj7rd.png" class="profile-picture"/></a> <a href="members/FZKidsStudios">FZKidsStudios</a></li>
                    
    <li><a href="members/Cyber chimchar13"><img src="../images/pfps/5F4Qb3UINQVlKgIiEYlhK6t9pMsQtBno.jpg" class="profile-picture"/></a> <a href="members/Cyber chimchar13">Cyber chimchar13</a></li>
                    
    <li><a href="members/PlasmaGrunt"><img src="../images/pfps/jlwzaWKlx1V57oY8pK5X8mnelzkfn86L.jpg" class="profile-picture"/></a> <a href="members/PlasmaGrunt">PlasmaGrunt</a></li>
                    
    <li><a href="members/pokegift90"><img src="../images/pfps/FSTaONGkyOj3UsFsBPOFDD8eA47G2qM7.jpg" class="profile-picture"/></a> <a href="members/pokegift90">pokegift90</a></li>
                    
    <li><a href="members/madisonthecat"><img src="../images/pfps/kWKBuECrppolCuJnVtQi65CEysOEuYAU.jpg" class="profile-picture"/></a> <a href="members/madisonthecat">madisonthecat</a></li>
                    
    <li><a href="members/Earthbounded"><img src="../images/pfps/AfeSSj4uyTRSgWWomIF0FQAZXJOZa5vZ.gif" class="profile-picture"/></a> <a href="members/Earthbounded">Earthbounded</a></li>
                    
    <li><a href="members/Mac_OS_X_Drawer"><img src="../images/pfps/PAzSbUjlRg20olDg9xXOrZ6xpuuEb4dr.png" class="profile-picture"/></a> <a href="members/Mac_OS_X_Drawer">Mac_OS_X_Drawer</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/StormTheWolf"><img src="../images/pfps/CaZatn5Fu18VTyO6HyhLuNxkSnBds0Vu.gif" class="profile-picture"/></a> <a href="members/StormTheWolf">StormTheWolf</a></li>
                    
    <li><a href="members/killerwii12"><img src="../images/pfps/DJniRlpMXKUoZ8FM6CYqBxEn3lj4w60x.jpg" class="profile-picture"/></a> <a href="members/killerwii12">killerwii12</a></li>
                    
    <li><a href="members/jgr3241"><img src="../images/pfps/zfQer7KCvmRZxPNEIQAUM8yNincsRKlH.jpg" class="profile-picture"/></a> <a href="members/jgr3241">jgr3241</a></li>
                    
    <li><a href="members/comicawsome_20"><img src="../images/pfps/es2we9yfUIQwOUh6jDn6Ysw6F4wH4paY.jpg" class="profile-picture"/></a> <a href="members/comicawsome_20">comicawsome_20</a></li>
                    
    <li><a href="members/Supercat126"><img src="../images/pfps/fvTyHtK82gbe5ROExU5bxRbmkV3kKZ6n.gif" class="profile-picture"/></a> <a href="members/Supercat126">Supercat126</a></li>
                    
    <li><a href="members/eeveetwoespeon"><img src="../images/pfps/brmb5v47pyy0o8yb48fkw6zb668d8cuat48no3i2r7t36g4yg8a05yz3vy6u0psijrvvj4othumbnailCAP1R3CY.jpg" class="profile-picture"/></a> <a href="members/eeveetwoespeon">eeveetwoespeon</a></li>
                    
    <li><a href="members/warriorchikorita"><img src="../images/pfps/28gM6PfjwuMWmwdLAPjA7byq3YJCTtIJ.jpg" class="profile-picture"/></a> <a href="members/warriorchikorita">warriorchikorita</a></li>
                    
    <li><a href="members/golden1234"><img src="../images/pfps/7Kxdt0qudGhT4TCwfGRhf7nRvlQEn7ei.gif" class="profile-picture"/></a> <a href="members/golden1234">golden1234</a></li>
                    
    <li><a href="members/FrostTheGlaceon"><img src="../images/pfps/8d5ggteyp0ab7nv4a233jtbwe0u7vpstspzw65jmujksv6otwfn4wms0ebyxqgh6v6uq24zGlaceon.png" class="profile-picture"/></a> <a href="members/FrostTheGlaceon">FrostTheGlaceon</a></li>
                    
    <li><a href="members/pokeman"><img src="../images/pfps/e0tjpo665fvnk7hxzeryrb78iioajpbmfuus6rp3w8e57mrxpan68j5hqki0xhb02vkxcxpdeoxys.jpg" class="profile-picture"/></a> <a href="members/pokeman">pokeman</a></li>
                    
    <li><a href="members/luxray100"><img src="../images/pfps/45yzCeqh1V6mp5eZtWAGio6qDFESvBEq.png" class="profile-picture"/></a> <a href="members/luxray100">luxray100</a></li>
                    
    <li><a href="members/samputrasarjito"><img src="../images/pfps/wa7b2mFVWNdJrjb1rCcydLwy0F5m3gqp.jpg" class="profile-picture"/></a> <a href="members/samputrasarjito">samputrasarjito</a></li>
                    
    <li><a href="members/narutofangirl99"><img src="../images/pfps/P6t8E5z255qPIrcTCLEJpTDXpx8GPBUf.jpg" class="profile-picture"/></a> <a href="members/narutofangirl99">narutofangirl99</a></li>
                    
    <li><a href="members/IvyTheEspeon"><img src="../images/pfps/QUfHq7br0He8Yiw9hY5p7mtKxVctd2ar.png" class="profile-picture"/></a> <a href="members/IvyTheEspeon">IvyTheEspeon</a></li>
                    
    <li><a href="members/pokemonlover1999"><img src="../images/pfps/BmDyihV5664QRmGeYBrNDEAKr2gPXn0Z.jpg" class="profile-picture"/></a> <a href="members/pokemonlover1999">pokemonlover1999</a></li>
                    
    <li><a href="members/pokekid80"><img src="../images/pfps/V7s6AbnrHxKzX1ASc3ZzAoPOaIicYmIt.jpg" class="profile-picture"/></a> <a href="members/pokekid80">pokekid80</a></li>
                    
    <li><a href="members/metalsonictheonyx"><img src="../images/pfps/L8inKWYRyRc2Bpm4JXgzSeHU8ibRmG7w.png" class="profile-picture"/></a> <a href="members/metalsonictheonyx">metalsonictheonyx</a></li>
                    
    <li><a href="members/ClearBlue90"><img src="../images/pfps/QCKjhbSAD5g3i07flRoZXc8aVXhRZOWo.gif" class="profile-picture"/></a> <a href="members/ClearBlue90">ClearBlue90</a></li>
                    
    <li><a href="members/Ampharosman"><img src="../images/pfps/76stONbhiuTZRHM0DzvXsIG43sjigJRb.jpg" class="profile-picture"/></a> <a href="members/Ampharosman">Ampharosman</a></li>
                    
    <li><a href="members/Espeonlover3000"><img src="../images/pfps/6x442ike057n3f2h4gmnh7fuidv8gn5day627h6yb3c283b4akhhjnzqqjpvuiwu7to3zitespeon.jpg" class="profile-picture"/></a> <a href="members/Espeonlover3000">Espeonlover3000</a></li>
                    
    <li><a href="members/superskarmory"><img src="../images/pfps/puf8aots7hdec86uhku2cdvwwr66u7vaty6rdoa8wbdyaaifi07k4s7p74jq04rktmzx0xu170px-227Skarmory.png" class="profile-picture"/></a> <a href="members/superskarmory">superskarmory</a></li>
                    
    <li><a href="members/Pikapower34"><img src="../images/pfps/7du2vwsnrc37746hf4i2nga8hs6paue5vyvhkftzfnxbftiimrbyy8x4stksenmxd86mcqcPinRS025.gif" class="profile-picture"/></a> <a href="members/Pikapower34">Pikapower34</a></li>
                    
    <li><a href="members/colby2"><img src="../images/pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" class="profile-picture"/></a> <a href="members/colby2">colby2</a></li>
                    
    <li><a href="members/CodeLyokoLass"><img src="../images/pfps/nI6BkI7zYrX7gT24VgIidIPLPjRtn5aO.jpg" class="profile-picture"/></a> <a href="members/CodeLyokoLass">CodeLyokoLass</a></li>
                    
    <li><a href="members/PokemonPlatinum001"><img src="../images/pfps/tpdc0ir5ecavbjf5nfmpk8t7ykvi55qpitpa046554p4fszsxa788p4yzr7wnoau6ouxgprSilverguy99.png" class="profile-picture"/></a> <a href="members/PokemonPlatinum001">PokemonPlatinum001</a></li>
                    
    <li><a href="members/Ethan95"><img src="../images/pfps/JHZYjAEVfl6WwR1ReVQIBHRoYqb09pvJ.jpg" class="profile-picture"/></a> <a href="members/Ethan95">Ethan95</a></li>
                    
    <li><a href="members/R2505"><img src="../images/pfps/UGQY7yNx8zysJNB1URzs8Wj5Z3UWJJRd.jpg" class="profile-picture"/></a> <a href="members/R2505">R2505</a></li>
                    
    <li><a href="members/superlegodude"><img src="../images/pfps/ztYfQqe8ALGYwS48rL2olhmbEBYlxB4m.jpg" class="profile-picture"/></a> <a href="members/superlegodude">superlegodude</a></li>
                    
    <li><a href="members/TotalWolfLover"><img src="../images/pfps/v9hA6Ikg8mAgfpVPopz3li4xIYIvaGBJ.jpg" class="profile-picture"/></a> <a href="members/TotalWolfLover">TotalWolfLover</a></li>
                    
    <li><a href="members/Pokemon1"><img src="../images/pfps/Wg2AqKffyti0tf9V5GyZaayqMZWCBGcX.jpg" class="profile-picture"/></a> <a href="members/Pokemon1">Pokemon1</a></li>
                    
    <li><a href="members/luxray"><img src="../images/pfps/dXDJV6N97mJGHH6MG3xghC0wrirLuZiN.jpg" class="profile-picture"/></a> <a href="members/luxray">luxray</a></li>
                    
    <li><a href="members/zoey2hip4"><img src="../images/pfps/67vIIDG7v54pqdqLEfkR52g0IDc0M8qI.gif" class="profile-picture"/></a> <a href="members/zoey2hip4">zoey2hip4</a></li>
                    
    <li><a href="members/sellerman123"><img src="../images/pfps/P4Nwm4h7KslHSrgLEQ69lprXvYdy5aMI.png" class="profile-picture"/></a> <a href="members/sellerman123">sellerman123</a></li>
                    
    <li><a href="members/sakurafan12"><img src="../images/pfps/OXmD53AVIB4h7fbI9aFZeoTCfrwoj8Ix.jpg" class="profile-picture"/></a> <a href="members/sakurafan12">sakurafan12</a></li>
                    
    <li><a href="members/star7003"><img src="../images/pfps/nEAmxU7btRGFSah9Bqg7DW2jbYzDQtt1.jpg" class="profile-picture"/></a> <a href="members/star7003">star7003</a></li>
                    
    <li><a href="members/monke33"><img src="../images/pfps/VBQWsiYA8OZCvCtRsS0KKP6E3L5LVLno.png" class="profile-picture"/></a> <a href="members/monke33">monke33</a></li>
                    
    <li><a href="members/mzr07"><img src="../images/pfps/x2Cu4pQmR6wSyGt3VcBIs8HS153CGue1.jpg" class="profile-picture"/></a> <a href="members/mzr07">mzr07</a></li>
                    
    <li><a href="members/camo"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/camo">camo</a></li>
                    
    <li><a href="members/29lnmnmu"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/29lnmnmu">29lnmnmu</a></li>
                    
    <li><a href="members/princessweet"><img src="../images/pfps/QkAkIjN0uowneGIj2L6Pu5XaRagaJodX.gif" class="profile-picture"/></a> <a href="members/princessweet">princessweet</a></li>
                    
    <li><a href="members/ladyxvideo9"><img src="../images/pfps/2nmV8Q5R7GvYj0YtXMqBUWrhMwH4ySHq.jpg" class="profile-picture"/></a> <a href="members/ladyxvideo9">ladyxvideo9</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>