---
title: Pokemonlover
sidebar: home_sidebar
hide_sidebar: true
keywords: Pokemonlover
permalink: members/Pokemonlover
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/placeholder.gif" alt="Pokemonlover" max-width="100"%}
            
    {% include inline_image.html file="pfps/nopic.jpg" alt="Pokemonlover" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>1</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>1</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Webkinz WITH  music</li>
<img src="{{"../images/thumb/1_59165.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Legendery-pokemon-cards</li>
                
My legendery pokemon cards.Least to greatest.Hope you enjoy!
                
                <br>
Added: 22-06-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Speedytheeevee"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Speedytheeevee">Speedytheeevee</a></li>
                    
    <li><a href="members/inuyasha"><img src="../images/pfps/l87cBFvgiPTTWtWEb0UxlJ8ZUgR3QBu2.jpg" class="profile-picture"/></a> <a href="members/inuyasha">inuyasha</a></li>
                    
    <li><a href="members/luxray100"><img src="../images/pfps/45yzCeqh1V6mp5eZtWAGio6qDFESvBEq.png" class="profile-picture"/></a> <a href="members/luxray100">luxray100</a></li>
                    
    <li><a href="members/TreeckoFan202"><img src="../images/pfps/e3bjtd2xj4qw6nr0divj84x7xhztvkizchbvk0jtt0grcvig42o2wazihqz4y8sygrkqis7treecko1[1].gif" class="profile-picture"/></a> <a href="members/TreeckoFan202">TreeckoFan202</a></li>
                    
    <li><a href="members/catgirl26"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/catgirl26">catgirl26</a></li>
                    
    <li><a href="members/kandr"><img src="../images/pfps/top82duvwhgoitjmtfkkpqk7jemtjzk3dzz52jpprw00g8bzfn8u0kscn2vwt5outfqjn6wNewSuperMarioBrosWallpaper2800.jpg" class="profile-picture"/></a> <a href="members/kandr">kandr</a></li>
                    
    <li><a href="members/mzr07"><img src="../images/pfps/x2Cu4pQmR6wSyGt3VcBIs8HS153CGue1.jpg" class="profile-picture"/></a> <a href="members/mzr07">mzr07</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>