---
title: purpledinosaur
sidebar: home_sidebar
hide_sidebar: true
keywords: purpledinosaur
permalink: members/purpledinosaur
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="purpledinosaur" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>5</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Slo-mo fail!</li>
<img src="{{"../images/thumb/1_127494.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Slow Motion Spin Fail! And in Reverse!</li>
<img src="{{"../images/thumb/1_127924.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Epic-Fails</li>
                
Some friends fall down on a trampoline covered in soap and water. We filmed this with a toaster.
                
                <br>
Added: 20-06-2012
                
</ul>
                
<ul>
<li>Wooooooo</li>
                
If you've seen epic fails, you know who Jackson is. Here's a clip of him saying wooo!, over and over, and over. It's really annoying.
                
                <br>
Added: 28-07-2012
                
</ul>
                
<ul>
<li>Slow-Motion-Flip-Fail-And-in-Reverse</li>
                
It's a slow motion flip fail! We filmed it with a toaster! Also played at normal speed in reverse!
                
                <br>
Added: 25-11-2012
                
</ul>
                
<ul>
<li>Slo-mo-fail</li>
                
Actually made before the flip fail. Sorry it didn't get uploaded first. I think the flip one is better, anyway. Check it out. It's called  Slo-Mo Flip Fail! Check out all our other videos, and please rate and comment.
                
                <br>
Added: 29-11-2012
                
</ul>
                
<ul>
<li>Slow-Motion-Spin-Fail-And-in-Reverse</li>
                
#3 in the slow-motion/reverse fail series. Make sure to check out the others!
                
                <br>
Added: 28-12-2012
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>