---
title: QuilTSSVideos
sidebar: home_sidebar
hide_sidebar: true
keywords: QuilTSSVideos
permalink: members/QuilTSSVideos
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/placeholder.gif" alt="QuilTSSVideos" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>14</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>2</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Flightless Bird, American Mouth by Iron & Wine Twilight Soundtrack</li>
<img src="{{"../images/thumb/1_29325.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Speedpainting-pikachan1050</li>
                
Requested by pikachan1050. I do not own the song, Supermassive Black Hole by Muse, Pika-chan, or Pokemon in anyway. ^^
                
                <br>
Added: 01-01-2010
                
</ul>
                
<ul>
<li>Speedpainting-Quil-the-Quilava</li>
                
I hate Audio Swap on YouTube....I do not own Pokemon or the Cullen Crest in anyway. Nor do I own the song, Spotlight by Mutemath
                
                <br>
Added: 01-01-2010
                
</ul>
                
<ul>
<li>Tremble-for-My-Beloved-by-Collective-Soul-Twilight-Soundtrack</li>
                
I still hate YouTube's Audio Swap. -.-;<br />
I DO NOT OWN THIS SONG!<br />
Lyrics:<br />
The hour has begun<br />
Your eyes have now opened<br />
<br />
To a world where madness craves<br />
To a world where hopes enslaved<br />
Oh, Ill tremble for my love always<br />
<br />
Your windows, opened wide<br />
Your innocence takes flight<br />
<br />
To a world where madness craves<br />
To a world where hopes enslaved<br />
Oh, Ill tremble for my love always<br />
<br />
Its a world where madness craves<br />
Its a world where hopes enslaved<br />
Oh, I tremble for my love always<br />
<br />
Its a world where madness craves<br />
Its a world where hopes enslaved<br />
Yeah, I tremble for you, love, always<br />
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>Spotlight-by-Mutemath-Twilight-Soundtrack</li>
                
I DO NOT OWN THIS SONG!<br />
Lyrics:<br />
Ahh, ahh, ahh, ahh.<br />
There ain't a whole lot left to say, now.<br />
You knocked all your wind out.<br />
You just tried too hard and you froze.<br />
I know, I know.<br />
<br />
What do you say? What do you say?<br />
<br />
Just take the fall.<br />
You're one of us.<br />
The spotlight is on!<br />
(Ahh!)<br />
Oh, the spotlight is on, oh.<br />
<br />
You know the one thing you're fighting to hold <br />
will be the one thing you've got to let go?<br />
And when you feel the war cannot be won <br />
you're gonna die to try what can't be done.<br />
You're gonna say, say out, that you don't care.<br />
Now, is there nothing like that inside of you anywhere?<br />
<br />
Oh, just take a fall!<br />
You're one of us.<br />
The spotlight is on!<br />
(Ahh!)<br />
Oh, the spotlight is on, yeah, it's on.<br />
<br />
Because everyone would rather watch you fall.<br />
(We're all in trouble).<br />
And we're all, yeah. <br />
(All in trouble).<br />
And we're all.<br />
(All in trouble).<br />
Just take a fall. <br />
You're one of us. <br />
The spotlight is on. <br />
(Ahh ahh). <br />
Oh, the spotlight is on. <br />
(Just take the fall).<br />
Now, you're one of us. <br />
Now, you're, now, you're, now, you're, now, you're one of us. <br />
Now, you're, now, you're, now, you're one of us <br />
Oh, the spotlight is on.<br />
<br />
(Ahh, ahh!)
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>I-Caught-Myself-by-Paramore-Twilight-Soundtrack</li>
                
I DO NOT OWN THIS SONG!<br />
Lyrics:<br />
Down to you<br />
You're pushing and pulling me<br />
Down to you<br />
But I don't know what I<br />
<br />
Now when I caught myself<br />
I had to stop myself<br />
I'm saying something that<br />
I should have never thought<br />
<br />
Now when I caught myself<br />
I had to stop myself<br />
I'm saying something that<br />
I should have never thought<br />
<br />
Of you, of you<br />
You're pushing and pulling me<br />
Down to you<br />
But I don't know what I want<br />
No, I don't know what I want<br />
<br />
You got it, You got it<br />
Some kind of magic<br />
Hypnotic, Hypnotic<br />
You're leaving me breathless<br />
I hate this, I hate this<br />
You're not the one I believe in<br />
As God is my witness<br />
<br />
Now when I caught myself<br />
I had to stop myself<br />
I'm saying something that<br />
I should have never thought<br />
<br />
Now when I caught myself<br />
I had to stop myself<br />
I'm saying something that<br />
I should have never thought<br />
<br />
Of you, of you<br />
You're pushing and pulling me<br />
Down to you<br />
But I don't know what I want<br />
No, I don't know what I want<br />
<br />
Don't know what I want<br />
But I know it's not you<br />
Keep pushing and pulling me down<br />
When I know in my heart it's not you<br />
<br />
Now when I caught myself<br />
I had to stop myself<br />
I'm saying something that<br />
I should have never thought<br />
<br />
Now when I caught myself<br />
I had to stop myself<br />
I'm saying something that<br />
I should have never thought<br />
<br />
Of you, I knew<br />
I know in my heart it's not you<br />
I knew <br />
But now I know what I want<br />
I want<br />
I want<br />
Oh no, I should have never thought
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>Eyes-on-Fire-by-Blue-Foundation-Twilight-Soundtrack</li>
                
I DO NOT OWN THIS SONG!<br />
Lyrics:<br />
I'll seek you out, <br />
Flay you alive<br />
One more word and you won't survive<br />
And I'm not scared of your stolen power<br />
I see right through you any hour<br />
<br />
I won't soothe your pain<br />
I won't ease your strain<br />
You'll be waiting in vain<br />
I got nothing for you to gain<br />
<br />
I'm taking it slow<br />
Feeding my flame<br />
Shuffling the cards of your game<br />
And just in time<br />
In the right place<br />
Suddenly I will play my ace<br />
<br />
I won't soothe your pain<br />
I won't ease your strain<br />
You'll be waiting in vain<br />
I got nothing for you to gain<br />
<br />
Eyes on fire<br />
Your spine is ablaze<br />
Felling any foe with my gaze<br />
<br />
And just in time<br />
In the right place<br />
Steadily emerging with grace<br />
<br />
Felling any foe with my gaze<br />
Steadily emerging with grace<br />
Felling any foe with my gaze<br />
Steadily emerging with grace
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>Never-Think-by-Robert-Pattinson-Twilight-Soundtrack</li>
                
I DO NOT OWN THIS SONG!<br />
Lyrics:<br />
I should never think <br />
What's in your heart <br />
What's in our home <br />
So I won't<br />
<br />
<br />
<br />
<br />
You'll learn to hate me <br />
But still call me baby <br />
Oh love <br />
So call me by my name<br />
<br />
<br />
<br />
<br />
And save your soul <br />
Save your soul <br />
Before you're too far gone <br />
Before nothing can be done<br />
<br />
<br />
<br />
<br />
I'll try to decide when <br />
She'll lie in the end <br />
I ain't got no fight in me <br />
In this whole damn world <br />
Tell you to hold off <br />
You choose to hold on <br />
It's the one thing that I've known<br />
<br />
<br />
<br />
<br />
Once I put my coat on <br />
I'm coming out in this all wrong <br />
She's standing outside holding me <br />
Saying oh please <br />
I'm in love <br />
I'm in love<br />
<br />
<br />
<br />
<br />
Girl save your soul <br />
Go on save your soul <br />
Before it's too far gone <br />
And before nothing can be done<br />
<br />
<br />
<br />
<br />
'Cause without me <br />
You got it all <br />
So hold on <br />
Without me you got it all <br />
So hold on <br />
Without me you got it all <br />
Without me you got it all <br />
So hold on <br />
Without me you got it all <br />
So hold on <br />
Without me you got it all <br />
So hold on <br />
Hold on
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>Bellas-Lullaby-by-Carter-Burwell-Twilight-Soundtrack</li>
                
I DO NOT OWN THIS SONG!<br />
No lyrics. xD
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>Decode-by-Paramore-Twilight-Soundtrack</li>
                
I DO NOT OWN THIS SONG!<br />
Lyrics:<br />
How can I decide what's right<br />
When you're clouding up my mind?<br />
I can't win your losing fight<br />
All the time.<br />
<br />
Not gonna ever own what's mine<br />
When you're always taking sides?<br />
But you won't take away my pride.<br />
No, not this time.<br />
Not this time.<br />
<br />
How did we get here?<br />
When I used to know you so well.<br />
But how did we get here?<br />
Well, I think I know.<br />
<br />
The truth is hiding in your eyes<br />
And it's hanging on your tongue.<br />
Just boiling in my blood.<br />
But you think that I can't see<br />
What kind of man that you are,<br />
If you're a man at all.<br />
Well, I will figure this one out<br />
On my own.<br />
(I'm screaming, 'I love you so.')<br />
On my own.<br />
(My thoughts you can't decode)<br />
<br />
How did we get here?<br />
When I used to know you so well, yeah.<br />
But how did we get here?<br />
Well, I think I know.<br />
<br />
Do you see what we've done?<br />
We've gone and made such fools<br />
Of ourselves.<br />
Do you see what we've done?<br />
We've gone and made such fools<br />
Of ourselves.<br />
<br />
Yeah.Yeah.<br />
<br />
How did we get here?<br />
When I used to know you so well, yeah, yeah.<br />
How did we get here?<br />
Well, I used to know you so well.<br />
I think I know.<br />
I think I know.<br />
<br />
There is something I see in you.<br />
It might kill me.<br />
I want it to be true.
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>Supermassive Black Hole by Muse Twilight Soundtrack</li>
                
I DO NOT OWN THIS SONG!<br />
Lyrics:<br />
Oh baby don't you know I suffer?<br />
Oh baby can you hear me moan?<br />
You caught me under false pretenses<br />
How long before you let me go?<br />
<br />
You set my soul alight<br />
You set my soul alight<br />
<br />
(You set my soul alight)<br />
Glaciers melting in the dead of night<br />
And the superstars sucked into the supermassive<br />
<br />
(You set my soul alight)<br />
Glaciers melting in the dead of night<br />
And the superstars sucked into the 'supermassive'<br />
<br />
I thought I was a fool for no-one<br />
Oh baby I'm a fool for you<br />
You're the queen of the superficial<br />
And how long before you tell the truth<br />
<br />
You set my soul alight<br />
You set my soul alight<br />
<br />
(You set my soul alight)<br />
Glaciers melting in the dead of night<br />
And the superstars sucked into the supermassive<br />
<br />
(You set my soul alight)<br />
Glaciers melting in the dead of night<br />
And the superstars sucked into the 'supermassive'<br />
<br />
Supermassive black hole<br />
Supermassive black hole<br />
Supermassive black hole<br />
<br />
Glaciers melting in the dead of night<br />
And the superstars sucked into the supermassive<br />
<br />
Glaciers melting in the dead of night<br />
And the superstars sucked into the supermassive<br />
<br />
(You set my soul alight)<br />
Glaciers melting in the dead of night<br />
And the superstars sucked into the supermassive<br />
<br />
(You set my soul alight)<br />
Glaciers melting in the dead of night<br />
And the superstars sucked into the supermassive<br />
<br />
Supermassive black hole<br />
Supermassive black hole<br />
Supermassive black hole
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>Leave-Out-All-the-Rest-by-Linkin-Park-Twilight-Soundtrack</li>
                
I DO NOT OWN THIS SONG!<br />
Lyrics:<br />
I dreamed I was missing, you were so scared<br />
But no one would listen, 'cause no one else cared<br />
After my dreaming, I woke with this fear<br />
What am I leaving when I'm done here?<br />
<br />
So if you're asking me, I want you to know...<br />
<br />
When my time comes, forget the wrong that I've done<br />
Help me leave behind some reasons to be missed<br />
Don't resent me, and when you're feeling empty<br />
Keep me in your memory, leave out all the rest<br />
<br />
Leave out all the rest, don't be afraid<br />
I've taken my beating, I've shared what I made<br />
I'm strong on the surface, not all the way through<br />
I've never been perfect, but neither have you<br />
<br />
So if you're asking me, I want you to know...<br />
<br />
When my time comes, forget the wrong that I've done<br />
Help me leave behind some reasons to be missed<br />
Don't resent me, and when you're feeling empty<br />
Keep me in your memory, leave out all the rest<br />
Leave out all the rest<br />
<br />
Forgetting all the hurt inside you've learned to hide so well<br />
Pretending someone else can come and save me from myself<br />
I can't be who you are<br />
<br />
When my time comes, forget the wrong that I've done<br />
Help me leave behind some reasons to be missed<br />
Don't resent me, and when you're feeling empty<br />
Keep me in your memory, leave out all the rest<br />
Leave out all the rest<br />
<br />
Forgetting all the hurt inside you've learned to hide so well<br />
Pretending someone else can come and save me from myself<br />
I can't be who you are<br />
I can't be who you are..
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>Full Moon by The Black Ghosts Twilight Soundtrack</li>
                
I DO NOT OWN THIS SONG!<br />
Lyrics:<br />
When the thorn bush turns white that's when I'll come home<br />
I am going out to see what I can sow<br />
And I don't know where I'll go<br />
And I don't know what I'll see<br />
But I'll try not to bring it back home with me<br />
<br />
Like the morning sun your eyes will follow me<br />
As you watch me wander, curse the powers that be<br />
Cause all I want is here and now but it's already been and gone<br />
Our intentions always last that bit too long<br />
<br />
Far far away, no voices sounding, no one around me and<br />
You're still there<br />
Far far away, no choices passing, no time confounds me and you're still there<br />
<br />
In the full moons light I listen to the stream<br />
And in between the silence hear you calling me<br />
But I don't know where I am and I don't trust who I've been<br />
And If I come home how will I ever leave
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>Flightless-Bird-American-Mouth-by-Iron--Wine-Twilight-Soundtrack</li>
                
I DO NOT OWN THIS SONG!<br />
Lyrics:<br />
I was a quick wet boy <br />
Diving too deep for coins <br />
All of your straight blind eyes <br />
Wide on my plastic toys <br />
And when the cops closed the fair <br />
I cut my long baby hair <br />
Stole me a dog-eared map <br />
And called for you everywhere <br />
<br />
Have I found you? <br />
Flightless bird, jealous, weeping <br />
Or lost you? <br />
American mouth <br />
Big bill looming <br />
<br />
Now Im a fat house cat <br />
Cursing my sore blunt tongue <br />
Watching the warm poison rats <br />
Curl through the wide/white fence cracks <br />
Pissing on magazine photos <br />
Those fishing lures thrown in the cold and clean <br />
Blood of Christ mountain stream <br />
<br />
Have I found you? <br />
Flightless bird, brown hair bleeding <br />
Or lost you? <br />
American mouth <br />
Big bill, stuck going down
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>Flightless-Bird-American-Mouth-by-Iron--Wine-Twilight-Soundtrack</li>
                
I DO NOT OWN THIS SONG!<br />
Lyrics:<br />
I was a quick wet boy <br />
Diving too deep for coins <br />
All of your straight blind eyes <br />
Wide on my plastic toys <br />
And when the cops closed the fair <br />
I cut my long baby hair <br />
Stole me a dog-eared map <br />
And called for you everywhere <br />
<br />
Have I found you? <br />
Flightless bird, jealous, weeping <br />
Or lost you? <br />
American mouth <br />
Big bill looming <br />
<br />
Now Im a fat house cat <br />
Cursing my sore blunt tongue <br />
Watching the warm poison rats <br />
Curl through the wide/white fence cracks <br />
Pissing on magazine photos <br />
Those fishing lures thrown in the cold and clean <br />
Blood of Christ mountain stream <br />
<br />
Have I found you? <br />
Flightless bird, brown hair bleeding <br />
Or lost you? <br />
American mouth <br />
Big bill, stuck going down
                
                <br>
Added: 02-01-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/IvyTheEspeon"><img src="../images/pfps/QUfHq7br0He8Yiw9hY5p7mtKxVctd2ar.png" class="profile-picture"/></a> <a href="members/IvyTheEspeon">IvyTheEspeon</a></li>
                    
    <li><a href="members/pikapi12"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/pikapi12">pikapi12</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>