---
title: regularshowlover
sidebar: home_sidebar
hide_sidebar: true
keywords: regularshowlover
permalink: members/regularshowlover
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/gc286289VBpvPQvIg79w05yWI81nXV13.jpg" alt="regularshowlover" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Jayda</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>15</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>261</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>1</b></li>
        
<li> Rating: <b>73.33%</b> out of <b>9</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/tryjonathantrey13"><img src="../images/pfps/t7rtCXmVYx00ISeVPtq6TWkKlPECqdaZ.jpg" class="profile-picture"/></a> <a href="members/tryjonathantrey13">tryjonathantrey13</a></li>
                    
    <li><a href="members/SeanSanczel"><img src="../images/pfps/ty4ts7vuze7d0asmqd4vzwv2fr5wmoj5deptd8e0eb45bkfpnacdvx6ydzkpeujfzwy0w2sSeanHeadshot2.jpg" class="profile-picture"/></a> <a href="members/SeanSanczel">SeanSanczel</a></li>
                    
    <li><a href="members/SpongeBobUnderPants"><img src="../images/pfps/SnZbVCYRDBo0C9iFJ6yjQaY9VRohLZIc.gif" class="profile-picture"/></a> <a href="members/SpongeBobUnderPants">SpongeBobUnderPants</a></li>
                    
    <li><a href="members/Ness"><img src="../images/pfps/dEk7PLYYXh8Jgo4ODzkFCZlWJYbm2KeT.gif" class="profile-picture"/></a> <a href="members/Ness">Ness</a></li>
                    
    <li><a href="members/madisonthecat"><img src="../images/pfps/kWKBuECrppolCuJnVtQi65CEysOEuYAU.jpg" class="profile-picture"/></a> <a href="members/madisonthecat">madisonthecat</a></li>
                    
    <li><a href="members/frostfirefur"><img src="../images/pfps/MsohUtf9vbu7qenoySl61IdkkM2GEn9O.jpg" class="profile-picture"/></a> <a href="members/frostfirefur">frostfirefur</a></li>
                    
    <li><a href="members/StormTheWolf"><img src="../images/pfps/CaZatn5Fu18VTyO6HyhLuNxkSnBds0Vu.gif" class="profile-picture"/></a> <a href="members/StormTheWolf">StormTheWolf</a></li>
                    
    <li><a href="members/jgr3241"><img src="../images/pfps/zfQer7KCvmRZxPNEIQAUM8yNincsRKlH.jpg" class="profile-picture"/></a> <a href="members/jgr3241">jgr3241</a></li>
                    
    <li><a href="members/Mario Maniac 64"><img src="../images/pfps/xv2p6y9APxgVNv2SObp3Y1PY8py0p3Xa.jpg" class="profile-picture"/></a> <a href="members/Mario Maniac 64">Mario Maniac 64</a></li>
                    
    <li><a href="members/narutofangirl99"><img src="../images/pfps/P6t8E5z255qPIrcTCLEJpTDXpx8GPBUf.jpg" class="profile-picture"/></a> <a href="members/narutofangirl99">narutofangirl99</a></li>
                    
    <li><a href="members/shadow and haku11"><img src="../images/pfps/FPKSC0h4GHwDwA1EHLI33aCghYnMPgES.jpg" class="profile-picture"/></a> <a href="members/shadow and haku11">shadow and haku11</a></li>
                    
    <li><a href="members/PsychoticTi-fox"><img src="../images/pfps/iHqC3R17e0RaReLdfeiNPoBplgnbMsds.gif" class="profile-picture"/></a> <a href="members/PsychoticTi-fox">PsychoticTi-fox</a></li>
                    
    <li><a href="members/bfffl"><img src="../images/pfps/jqqigxcFQ4xL7Y8HTeYCqDpCvj7FSuH1.gif" class="profile-picture"/></a> <a href="members/bfffl">bfffl</a></li>
                    
    <li><a href="members/Kagami4Ever"><img src="../images/pfps/CYRY61ZrenxUBgXcwiahRlBt8C9byqxy.png" class="profile-picture"/></a> <a href="members/Kagami4Ever">Kagami4Ever</a></li>
                    
    <li><a href="members/PieLuver"><img src="../images/pfps/EQGLtPCEfbfuZdaUpcs7fH6ghhCcVyGZ.png" class="profile-picture"/></a> <a href="members/PieLuver">PieLuver</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/Ben10Aliens" file="pfps/O5hbZbGbes8wijtoKUjA8YcOnKja42WG.png" alt="Ben10Aliens" %}

<p><b>Username:</b> <a href="members/Ben10Aliens>Ben10Aliens</a></p>

<p><b>Date:</b> 2011-04-25 19:19:21</p>

<p class="comment"><b>Comment:</b> <p><strong><em><u><span style="color: #ff6600"><span style="font-family: Comic Sans MS"><span style="font-size: xx-large">Hello!</span></span></span></u></em></strong></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/regularshow" file="pfps/dJ1gDPBxlpmYX83l05bgIQ7RRFHNIN2k.jpg" alt="regularshow" %}

<p><b>Username:</b> <a href="members/regularshow>regularshow</a></p>

<p><b>Date:</b> 2011-04-23 11:50:46</p>

<p class="comment"><b>Comment:</b> <p>NO!!!!!!!!!!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Pikatwo" file="pfps/XgJN4wxZl2fsmL0P83DdwTDzQdVguJjF.gif" alt="Pikatwo" %}

<p><b>Username:</b> <a href="members/Pikatwo>Pikatwo</a></p>

<p><b>Date:</b> 2011-04-20 15:46:19</p>

<p class="comment"><b>Comment:</b> <p> Bad news...CN is thinking about canceling Regular show.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/PsychoticTi-fox" file="pfps/rZYUkra4qg1JBEoOiChewEasrBsUcFpJ.gif" alt="PsychoticTi-fox" %}

<p><b>Username:</b> <a href="members/PsychoticTi-fox>PsychoticTi-fox</a></p>

<p><b>Date:</b> 2011-04-07 07:52:41</p>

<p class="comment"><b>Comment:</b> <p>Dude! Go look at Troller123's latest video!!!! D:</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/StormTheWolf" file="pfps/PNqvXSWIwODgSMwed3xKo54r6PYR7VqK.gif" alt="StormTheWolf" %}

<p><b>Username:</b> <a href="members/StormTheWolf>StormTheWolf</a></p>

<p><b>Date:</b> 2011-04-07 01:11:37</p>

<p class="comment"><b>Comment:</b> <p> @My Regular Show Loving Pal]</p>
<p> </p>
<p> </p>
<p>YO! WAZZAP!  <img alt="" src="../images/fckeditor/editor/images/smiley/msn/shades_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/PsychoticTi-fox" file="pfps/rZYUkra4qg1JBEoOiChewEasrBsUcFpJ.gif" alt="PsychoticTi-fox" %}

<p><b>Username:</b> <a href="members/PsychoticTi-fox>PsychoticTi-fox</a></p>

<p><b>Date:</b> 2011-04-06 16:50:51</p>

<p class="comment"><b>Comment:</b> <p>Troller123 left a comment on my profile saying he's sorry and he made a video for me with Hannah the ti-fox in it. Suspicious....</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/regularshowlover" file="pfps/gc286289VBpvPQvIg79w05yWI81nXV13.jpg" alt="regularshowlover" %}

<p><b>Username:</b> <a href="members/regularshowlover>regularshowlover</a></p>

<p><b>Date:</b> 2011-04-06 16:34:52</p>

<p class="comment"><b>Comment:</b> <p>@frostfirefur: Yeahya!</p>
<p>@Stormthewolf: Hey!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/StormTheWolf" file="pfps/PNqvXSWIwODgSMwed3xKo54r6PYR7VqK.gif" alt="StormTheWolf" %}

<p><b>Username:</b> <a href="members/StormTheWolf>StormTheWolf</a></p>

<p><b>Date:</b> 2011-04-05 09:24:26</p>

<p class="comment"><b>Comment:</b> <p> Hai buddeh :3</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/frostfirefur" file="pfps/MsohUtf9vbu7qenoySl61IdkkM2GEn9O.jpg" alt="frostfirefur" %}

<p><b>Username:</b> <a href="members/frostfirefur>frostfirefur</a></p>

<p><b>Date:</b> 2011-04-03 23:47:29</p>

<p class="comment"><b>Comment:</b> <p>yeah I do have a question<img alt="" src="../images/fckeditor/editor/images/smiley/msn/lightbulb.gif"/> :do you like my videos?</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/tryjonathantrey13" file="pfps/tq65qFiZBsKyKka2CFt9nr01UEx3s5Ma.jpg" alt="tryjonathantrey13" %}

<p><b>Username:</b> <a href="members/tryjonathantrey13>tryjonathantrey13</a></p>

<p><b>Date:</b> 2011-04-03 17:44:00</p>

<p class="comment"><b>Comment:</b> <p> Cool</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Kagami4Ever" file="pfps/CYRY61ZrenxUBgXcwiahRlBt8C9byqxy.png" alt="Kagami4Ever" %}

<p><b>Username:</b> <a href="members/Kagami4Ever>Kagami4Ever</a></p>

<p><b>Date:</b> 2011-04-02 16:25:57</p>

<p class="comment"><b>Comment:</b> <p>Yay for Regular show! 8D</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/regularshowlover" file="pfps/gc286289VBpvPQvIg79w05yWI81nXV13.jpg" alt="regularshowlover" %}

<p><b>Username:</b> <a href="members/regularshowlover>regularshowlover</a></p>

<p><b>Date:</b> 2011-04-02 11:57:30</p>

<p class="comment"><b>Comment:</b> <p>yeah!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/PsychoticTi-fox" file="pfps/rZYUkra4qg1JBEoOiChewEasrBsUcFpJ.gif" alt="PsychoticTi-fox" %}

<p><b>Username:</b> <a href="members/PsychoticTi-fox>PsychoticTi-fox</a></p>

<p><b>Date:</b> 2011-04-02 11:49:30</p>

<p class="comment"><b>Comment:</b> <p>Hi! :D You like Regular show? I LOVE it :3</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>