---
title: republiccommando555
sidebar: home_sidebar
hide_sidebar: true
keywords: republiccommando555
permalink: members/republiccommando555
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/placeholder.gif" alt="republiccommando555" max-width="100"%}
            
    {% include inline_image.html file="pfps/nopic.jpg" alt="republiccommando555" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>michael</b></li>
        
<li> Age: <b>2011</b></li>
        
<li> Gender: <b></b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>1</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>4</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>261</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>100%</b> out of <b>2</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>staff</li>
<img src="{{"../images/thumb/1073.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Michael Jackson - Billie Jean</li>
<img src="{{"../images/thumb/1094.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>the savage beast</li>
<img src="{{"../images/thumb/1167.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>cool stuff</li>
<img src="{{"../images/thumb/1216.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Twisted Sister - We're Not Gonna Take It (Full)</li>
<img src="{{"../images/thumb/0vuzuxhatfcz4tw5.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Twisted Sister -I want to Rock</li>
<img src="{{"../images/thumb/kxtetfysvyix4bho.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>ultimate saber</li>
<img src="{{"../images/thumb/1_15652.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>cool-stuff</li>
                
cool stuff with great music
                
                <br>
Added: 31-03-2008
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/SeanSanczel"><img src="../images/pfps/ty4ts7vuze7d0asmqd4vzwv2fr5wmoj5deptd8e0eb45bkfpnacdvx6ydzkpeujfzwy0w2sSeanHeadshot2.jpg" class="profile-picture"/></a> <a href="members/SeanSanczel">SeanSanczel</a></li>
                    
    <li><a href="members/supersaiyantaker"><img src="../images/pfps/zjkqir84dhqoaqpqqghtjie8c6ef8ihysqe27bu8icniqzy474ofbsednhhkqna74czzdizIMG_1581.jpg" class="profile-picture"/></a> <a href="members/supersaiyantaker">supersaiyantaker</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/goofup90"><img src="../images/pfps/qvcyvh4ayojxzjd88r7evjibmshvvttcdt0wytvp85bweevburfgzmfa4nvq5dr6wgsm0ey600px-Goofy-DataForm_CG.jpg" class="profile-picture"/></a> <a href="members/goofup90">goofup90</a></li>
                    
    <li><a href="members/Rileykidz08"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Rileykidz08">Rileykidz08</a></li>
                    
    <li><a href="members/RukiaKuchki1997"><img src="../images/pfps/vwtruk8od03qrfzo0fp8i87bvsq7xd2hxmyivvuwmpd3s0fh6sgercfdttbfu2nicapvubj11136_101396623221793_100000543672702_37855_6916117_n.jpg" class="profile-picture"/></a> <a href="members/RukiaKuchki1997">RukiaKuchki1997</a></li>
                    
    <li><a href="members/acting_girl615"><img src="../images/pfps/b20k5cygnaq5d7bnbhy7ixyohcuhc6gcw7ks8bwmbdhfagqbof6x4wccyukyppydkbvhajsToco Toucan.jpg" class="profile-picture"/></a> <a href="members/acting_girl615">acting_girl615</a></li>
                    
    <li><a href="members/callum879"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/callum879">callum879</a></li>
                    
    <li><a href="members/mason10"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/mason10">mason10</a></li>
                    
    <li><a href="members/chrismy96"><img src="../images/pfps/yexi6uph62nhsr0axe0qqwvmj8f5ntgav5isqy0kpcq7tf7gkww0kicsghot0uuoo062ovco_0d5oiYQojcYaOkM.jpg" class="profile-picture"/></a> <a href="members/chrismy96">chrismy96</a></li>
                    
    <li><a href="members/ironwing499"><img src="../images/pfps/sev6o0ebnyqafevdh7ui0jr3i36i8vipz4ncvpe8es6iuqj2o48fco6mi2sfo0tdv6dfjfc3808220685_db01293e40.jpg" class="profile-picture"/></a> <a href="members/ironwing499">ironwing499</a></li>
                    
    <li><a href="members/DXZ"><img src="../images/pfps/yfrpkqf2epcbrrsjhrod202hueqnyk2prh2zx5t3mt20bk8gznjscd0wffb3q0i588wu4gmDXZ.jpg" class="profile-picture"/></a> <a href="members/DXZ">DXZ</a></li>
                    
    <li><a href="members/catty1"><img src="../images/pfps/HgbE5tnJpb5pdEsakUc9lCU3iL8n2E67.jpg" class="profile-picture"/></a> <a href="members/catty1">catty1</a></li>
                    
    <li><a href="members/obama1"><img src="../images/pfps/uTff7nPZ77hMDGabKI7wEvobUyu9wnYe.jpg" class="profile-picture"/></a> <a href="members/obama1">obama1</a></li>
                    
    <li><a href="members/AlexisandNick"><img src="../images/pfps/svetuwg6g0sdqc8rjt0m2ryskevfvjve40ynm3jqs3s83rrdbgn4xdk6h4b2fw67mtkvmtbmario-luigi.jpg" class="profile-picture"/></a> <a href="members/AlexisandNick">AlexisandNick</a></li>
                    
    <li><a href="members/ccb123"><img src="../images/pfps/ouxoj08rnjjjmbbphwc3jh052oh66vrjedvo4u3i5dsfdsvifvcp40jugprb86id74q3qjapenguin.gif" class="profile-picture"/></a> <a href="members/ccb123">ccb123</a></li>
                    
    <li><a href="members/tripleh"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/tripleh">tripleh</a></li>
                    
    <li><a href="members/comicboy15"><img src="../images/pfps/dbqsfdsauawqz56zit6mmesh6cc5prhtsxcv0svjqgxhbu5jc3vo7cw2cwxsc3aspaeetxoMcDonalds hits Africa.jpg" class="profile-picture"/></a> <a href="members/comicboy15">comicboy15</a></li>
                    
    <li><a href="members/MataNui307"><img src="../images/pfps/pbvmsguwve3rm5snqk4x5o7zp5pcfosvpc55jqt5vko7e4kvdej8sfz6bd8fpp02ruyybitstinkoman.jpg" class="profile-picture"/></a> <a href="members/MataNui307">MataNui307</a></li>
                    
    <li><a href="members/kylerulesall"><img src="../images/pfps/byoren23v5yzo5g3hug742tanat05qs6f4oiigc2cytptxi0jnwcgectfui88z5fuko0poucaution.gif" class="profile-picture"/></a> <a href="members/kylerulesall">kylerulesall</a></li>
                    
    <li><a href="members/thevideogamemaster"><img src="../images/pfps/mR4TbRUGPjNkfZcsPAM0P0BH9ki7TJf3.png" class="profile-picture"/></a> <a href="members/thevideogamemaster">thevideogamemaster</a></li>
                    
    <li><a href="members/mariahl"><img src="../images/pfps/q3zfzxa3dk07ob5uiown2cov8pz3qjw6ema4a7xeinavn3eth07b2ju0ykuftgaxqaqq7csthumbnailCA4WV6L8.jpg" class="profile-picture"/></a> <a href="members/mariahl">mariahl</a></li>
                    
    <li><a href="members/Buddy231"><img src="../images/pfps/qcrq6qn2vgg6ub2nm8hi0xcc5pbhzu7gupur47hqcnmvoe8zbe62062wj44an2e7fypavxpbig_950799.gif" class="profile-picture"/></a> <a href="members/Buddy231">Buddy231</a></li>
                    
    <li><a href="members/seansanczel"><img src="../images/pfps/" class="profile-picture"/></a> <a href="members/seansanczel">seansanczel</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>