---
title: RiotGirl
sidebar: home_sidebar
hide_sidebar: true
keywords: RiotGirl
permalink: members/RiotGirl
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/Im9TuEsMNlneDjY4kg7f6uhyLvJSRSOY.jpg" alt="RiotGirl" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Kelli</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>9</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>6</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>4</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>347</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>96%</b> out of <b>5</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Naruto Frontline</li>
<img src="{{"../images/thumb/3AjRAIXzUgdHJxaVF4Qy.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Tribute to Shun and Dan</li>
<img src="{{"../images/thumb/OpPOdwvAf2detqHXWQsp.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Evil Angel</li>
<img src="{{"../images/thumb/dgxg1fCromsHRzifTg5V.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>You Belong With Me Amu</li>
<img src="{{"../images/thumb/b41uzQK3ze0sEV4exijt.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Sephiroth is Cloud's Evil Angel</li>
<img src="{{"../images/thumb/QsK4COCODHqigFpt5zfj.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Sasuke And Naruto Break</li>
<img src="{{"../images/thumb/clN4GcwXBvW3IRppBRln.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Amuto Give me a sign</li>
<img src="{{"../images/thumb/1_60917.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Naruto-Frontline</li>
                
My naruto fan made vid to song Frontline by pillar.
                
                <br>
Added: 14-07-2010
                
</ul>
                
<ul>
<li>Tribute-to-Shun-and-Dan</li>
                
My fan made video to the song Prelude 12/21
                
                <br>
Added: 14-07-2010
                
</ul>
                
<ul>
<li>Evil-Angel</li>
                
Dan and Shun tribute to song Evil Angel by Breaking Benjamin
                
                <br>
Added: 15-07-2010
                
</ul>
                
<ul>
<li>You-Belong-With-Me-Amu</li>
                
Okay it's Ikuto purple haired dood tellin Amu pink haired that she belongs with him not tadase blond haired. Song You belong with me<br />
Artist i have no clue
                
                <br>
Added: 15-07-2010
                
</ul>
                
<ul>
<li>Sephiroth-is-Clouds-Evil-Angel</li>
                
~STORY~<br />
<br />
(Yes I know the beginning is cheesy)<br />
- The beginning clips show Sephiroth and Cloud in a conversation until Cloud asks Sephiroth what he wants, and Sephiroth replies with 'You'<br />
- And so it began....<br />
- Cloud has a dream about Sephiroth<br />
- He confronts him<br />
- Sephiroth says that he and Cloud have always been together and Cloud thinks that's impossible<br />
- As stated in the song 'Don't remember...remember..'<br />
- Sephiroth kisses Cloud, and puts him to sleep (As stated in the song) And tries to wipe out all of Cloud's memories with his friends<br />
- Cloud wakes up from his paralyzed state and realizes what's going on<br />
- He defeats Sephiroth, the end!<br />
<br />
Song is 'Evil Angel' By Breaking Benjamin<br />
<br />
Oh, another thing, it's yaoi so don't like don't watch.
                
                <br>
Added: 24-07-2010
                
</ul>
                
<ul>
<li>Sasuke-And-Naruto-Break</li>
                
It's about how Sasuke and Naruto are breaking.<br />
Song:Break<br />
Artist:Three Days Grace
                
                <br>
Added: 24-07-2010
                
</ul>
                
<ul>
<li>Final-Fantasy-Advent-Children-Crashed</li>
                
Final Fantasy Advent Children <br />
Song:Crashed<br />
Artist:Daughtry
                
                <br>
Added: 24-07-2010
                
</ul>
                
<ul>
<li>Sasuke-The-Good-Life</li>
                
Sasuke tribute<br />
Song-The Good Life<br />
Artist-three days grace
                
                <br>
Added: 24-07-2010
                
</ul>
                
<ul>
<li>Amuto-Give-me-a-sign</li>
                
Amu and Ikuto amv to the song give me a sign by breaking benjamin
                
                <br>
Added: 07-08-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/Anime_Ravenstar556"><img src="../images/pfps/MgjO4NXSQiQFC0qBAQzCcce1UC0pMrpW.jpg" class="profile-picture"/></a> <a href="members/Anime_Ravenstar556">Anime_Ravenstar556</a></li>
                    
    <li><a href="members/christianphillips"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/christianphillips">christianphillips</a></li>
                    
    <li><a href="members/Naruto55"><img src="../images/pfps/84pdwfbfoc8gczgk7minm7gf5r2wvh5sckwwrx23yza0qfamrjz3h46bkyy44un44asmyifAkatsuki1.jpg" class="profile-picture"/></a> <a href="members/Naruto55">Naruto55</a></li>
                    
    <li><a href="members/mat50h"><img src="../images/pfps/F1f4duOJQ6m7UTdBQr1BOYJ4N6angmdl.jpg" class="profile-picture"/></a> <a href="members/mat50h">mat50h</a></li>
                    
    <li><a href="members/kookookitty"><img src="../images/pfps/z3uqJ150mSVkOBLaeVzUloUKOFOkpStf.gif" class="profile-picture"/></a> <a href="members/kookookitty">kookookitty</a></li>
                    
    <li><a href="members/marine1537"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/marine1537">marine1537</a></li>
                    
    <li><a href="members/UNDO_production"><img src="../images/pfps/e73zHh32287YSBx3eig1W31XAiR1T1Kv.gif" class="profile-picture"/></a> <a href="members/UNDO_production">UNDO_production</a></li>
                    
    <li><a href="members/supersquirrel"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/supersquirrel">supersquirrel</a></li>
                    
    <li><a href="members/demonj"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/demonj">demonj</a></li>
                    
    <li><a href="members/akatsuki_heart"><img src="../images/pfps/p5aRfOLtFXNZU3NlPwBJJzjvdijcnw1S.jpg" class="profile-picture"/></a> <a href="members/akatsuki_heart">akatsuki_heart</a></li>
                    
    <li><a href="members/celine_"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/celine_">celine_</a></li>
                    
    <li><a href="members/sakurafan12"><img src="../images/pfps/OXmD53AVIB4h7fbI9aFZeoTCfrwoj8Ix.jpg" class="profile-picture"/></a> <a href="members/sakurafan12">sakurafan12</a></li>
                    
    <li><a href="members/moongalaxy11"><img src="../images/pfps/3VwWstDmJuWCgezxz2kFJA1jx7sJAor3.jpg" class="profile-picture"/></a> <a href="members/moongalaxy11">moongalaxy11</a></li>
                    
    <li><a href="members/Mori"><img src="../images/pfps/zFOJf0Mt2zHRwoZgi98nZlKPzj57vxAi.jpg" class="profile-picture"/></a> <a href="members/Mori">Mori</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>