---
title: Rockobrain
sidebar: home_sidebar
hide_sidebar: true
keywords: Rockobrain
permalink: members/Rockobrain
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/EnUlp9gpW8aCfKqDgMZDitIoGS6o2uZ4.jpg" alt="Rockobrain" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>19</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Intro For My First Let's play</li>
<img src="{{"../images/thumb/1_68221.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Kidstube Poop Spongebob poop Part 1</li>
                
Wellcome To My first Episode Of Spongebob Poop
                
                <br>
Added: 02-12-2009
                
</ul>
                
<ul>
<li>Kidstube Poop Spongebob poop Part 2</li>
                
Here's The Second Part
                
                <br>
Added: 03-12-2009
                
</ul>
                
<ul>
<li>The-Mario-Show-Episode-1-Part-1</li>
                
Wellcome to the First Episode of The Mario Show
                
                <br>
Added: 03-12-2009
                
</ul>
                
<ul>
<li>Mario-Drama-Action-Episode-1</li>
                
Wellcome to my first Episode Of Mario Drama Action!
                
                <br>
Added: 04-12-2009
                
</ul>
                
<ul>
<li>Kidstube-Poop-Ren-And-Stimpy-Poop-Part-1</li>
                
My Second Kidstube poop Is Ren And Stimpy Enjoy!
                
                <br>
Added: 08-12-2009
                
</ul>
                
<ul>
<li>Kidstube tennis you want some tennis Rockobrain</li>
                
Round 2 Vs. Mudskiper2
                
                <br>
Added: 12-12-2009
                
</ul>
                
<ul>
<li>Kidstube-tennis-Give-up-im-back</li>
                
Round 1 Vs. Mudskiper2
                
                <br>
Added: 13-12-2009
                
</ul>
                
<ul>
<li>Kidstube-tennis-YOU-WANT-MORE-TENNIS-OK-THEN</li>
                
Round 3 vs. Mudskiper2
                
                <br>
Added: 19-12-2009
                
</ul>
                
<ul>
<li>kidstube-music-poop-GentleQuaterMen</li>
                
My First music poop!
                
                <br>
Added: 08-02-2010
                
</ul>
                
<ul>
<li>Kidstube-Tennis-Ren-And-Rocko-sell-a-3d-game</li>
                
Round 1 vs. FZkidstudios!
                
                <br>
Added: 18-02-2010
                
</ul>
                
<ul>
<li>Kidstube-poop-Ed-Maina-Season-2-Episode-1</li>
                
Wellcome to My First And Only Ed Maina
                
                <br>
Added: 20-02-2010
                
</ul>
                
<ul>
<li>Kidstube-Poop-Mario-Is-A-Go-Fish-Pro</li>
                
It's Your Turn!/YAY My 3rd Poop Is Done Ok Enjoy!
                
                <br>
Added: 21-02-2010
                
</ul>
                
<ul>
<li>nickelodeon-bumpers-2009-2010-part-1</li>
                
I Got A Camcorder From Crayloa Ya ! Ok Everyone I Please To You Watch Part 1 Of Nickelodeon 2009 to 2010 ENJOY!
                
                <br>
Added: 22-03-2010
                
</ul>
                
<ul>
<li>Kidstube-poop-ed-edd-eddy-poop-Episode-1</li>
                
Enjoy! And Happy Easter!
                
                <br>
Added: 04-04-2010
                
</ul>
                
<ul>
<li>I-GOT-SONY-VEGAS-YEAH</li>
                
I Finnaly I Got Sony Vegas!
                
                <br>
Added: 07-04-2010
                
</ul>
                
<ul>
<li>Kidstube-Tennis-Rockobrain-Is-Now-Done-Editing-Round-3</li>
                
Round 3 With FZKIDSTUDIOS<br />
<br />
I Added Videos:<br />
Hotel Mario Intro<br />
Rocko's Modern Life Wacky Deily<br />
Super Mario World Mama Luigi
                
                <br>
Added: 16-05-2010
                
</ul>
                
<ul>
<li>How-To-Draw-Chowder</li>
                
Wellcome To My First How To Draw Chowder!
                
                <br>
Added: 27-06-2010
                
</ul>
                
<ul>
<li>Rockobrains-lets-play-Camp-lazlo-In-Tolem-Stole</li>
                
My First Let's play Video! Enjoy!
                
                <br>
Added: 05-08-2010
                
</ul>
                
<ul>
<li>Intro-For-My-First-Lets-play</li>
                
My First Let's Play It's Mario Superstar Baseball Comming Soon!
                
                <br>
Added: 12-11-2011
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/zacattack"><img src="../images/pfps/zKJn0Xp4Cm4GA3yfulrMLpgWL9GtHdy6.png" class="profile-picture"/></a> <a href="members/zacattack">zacattack</a></li>
                    
    <li><a href="members/FZKidsStudios"><img src="../images/pfps/4IitLxM5HaVRu9AyyAPrdZqF8CXIj7rd.png" class="profile-picture"/></a> <a href="members/FZKidsStudios">FZKidsStudios</a></li>
                    
    <li><a href="members/ANGIE LUVZ U"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ANGIE LUVZ U">ANGIE LUVZ U</a></li>
                    
    <li><a href="members/metalsonictheonyx"><img src="../images/pfps/L8inKWYRyRc2Bpm4JXgzSeHU8ibRmG7w.png" class="profile-picture"/></a> <a href="members/metalsonictheonyx">metalsonictheonyx</a></li>
                    
    <li><a href="members/Colby3"><img src="../images/pfps/VNwTneZL5RP8Vc4iZVsZ7QdSq77qaDrt.jpg" class="profile-picture"/></a> <a href="members/Colby3">Colby3</a></li>
                    
    <li><a href="members/irock8"><img src="../images/pfps/fhYj60xNACGm0adEUYWOvco7wqrxklAF.gif" class="profile-picture"/></a> <a href="members/irock8">irock8</a></li>
                    
    <li><a href="members/ZacharyZachary"><img src="../images/pfps/W4l7OKCrjueGyMGR3KK14W2BKdnqKO0e.jpg" class="profile-picture"/></a> <a href="members/ZacharyZachary">ZacharyZachary</a></li>
                    
    <li><a href="members/mudskiper3"><img src="../images/pfps/hgR95puw86KqzBwPuBRfM06RvcmDwJMR.gif" class="profile-picture"/></a> <a href="members/mudskiper3">mudskiper3</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>