---
title: Rocketchu
sidebar: home_sidebar
hide_sidebar: true
keywords: Rocketchu
permalink: members/Rocketchu
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="Rocketchu" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>12</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Rocket chu</li>
<img src="{{"../images/thumb/1_130124.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Rocketchu-AWESOMENESS</li>
                
A evil pikachu that wants to take over the world! (WA HA HA haaa)
                
                <br>
Added: 08-05-2013
                
</ul>
                
<ul>
<li>Cool-rocketchu</li>
                
A evil pikachu
                
                <br>
Added: 09-05-2013
                
</ul>
                
<ul>
<li>Pikachu-and-rocketchu-tacking-over</li>
                
Ha, ha, ha, haaaaaaa
                
                <br>
Added: 10-05-2013
                
</ul>
                
<ul>
<li>rocketchu-bad</li>
                
my forth video i think
                
                <br>
Added: 11-05-2013
                
</ul>
                
<ul>
<li>Pikachu-and-rocketchu-part-1</li>
                
I made a cute little story about rocketchu and pikachu. But its to be continued!
                
                <br>
Added: 11-05-2013
                
</ul>
                
<ul>
<li>happy-mothers-day</li>
                
A love thing for your mothers.
                
                <br>
Added: 11-05-2013
                
</ul>
                
<ul>
<li>R-rocketchu</li>
                
Bad!
                
                <br>
Added: 13-05-2013
                
</ul>
                
<ul>
<li>Pikachu-and-rocketchu-Part-2</li>
                
Sorry that I countied it!!!
                
                <br>
Added: 17-05-2013
                
</ul>
                
<ul>
<li>Rocketchu-Nobodys-fool</li>
                
Do you love the song i now its awesome
                
                <br>
Added: 01-06-2013
                
</ul>
                
<ul>
<li>This-animal-Rocketchu</li>
                
I dont know the songs name so I just said This Animal.Please like this ... this video I really worked on!
                
                <br>
Added: 19-06-2013
                
</ul>
                
<ul>
<li>Oh-no-Rocketchuu</li>
                
sorry about the song
                
                <br>
Added: 22-06-2013
                
</ul>
                
<ul>
<li>Rocket-chu</li>
                
Hes not nice hes mean of course
                
                <br>
Added: 26-06-2013
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>