---
title: ron9andjamie2
sidebar: home_sidebar
hide_sidebar: true
keywords: ron9andjamie2
permalink: members/ron9andjamie2
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/eXTn1et6KoxCtJymFF1fYcbc5NIl99Rd.png" alt="ron9andjamie2" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>ron</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>1</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>18</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>527</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>82.22%</b> out of <b>9</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>flipin awsome</li>
<img src="{{"../images/thumb/1_70119.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>flipin-awsome</li>
                
roblox glitch
                
                <br>
Added: 25-02-2012
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/pandaboy"><img src="../images/pfps/sVRJnCwUQP7EBaJ0gYufEYssKaPrCDfu.png" class="profile-picture"/></a> <a href="members/pandaboy">pandaboy</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/jakeblue"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/jakeblue">jakeblue</a></li>
                    
    <li><a href="members/demilovatoiscool"><img src="../images/pfps/kKUYgYZcHKmxw9Tt45gqwdc5jSK572dg.jpg" class="profile-picture"/></a> <a href="members/demilovatoiscool">demilovatoiscool</a></li>
                    
    <li><a href="members/Marilove12"><img src="../images/pfps/LhmerGBKN9DzIK6taEJmwUX6H3FnFqBQ.jpg" class="profile-picture"/></a> <a href="members/Marilove12">Marilove12</a></li>
                    
    <li><a href="members/younglink"><img src="../images/pfps/UGJy9IRqQYqe9RVRMgeUpsngz5i9ZGXu.gif" class="profile-picture"/></a> <a href="members/younglink">younglink</a></li>
                    
    <li><a href="members/ohnoahhh"><img src="../images/pfps/1OsXLaN5l8igHicOiUAIacV2Lwo8gCiY.jpg" class="profile-picture"/></a> <a href="members/ohnoahhh">ohnoahhh</a></li>
                    
    <li><a href="members/dixie"><img src="../images/pfps/60TTIPiDSWIoY0tb0fs4upspVFkaGjID.gif" class="profile-picture"/></a> <a href="members/dixie">dixie</a></li>
                    
    <li><a href="members/ohheyJenn"><img src="../images/pfps/KHtxe1iCBYT5FzurXvt2QmulOu6jjJpr.jpg" class="profile-picture"/></a> <a href="members/ohheyJenn">ohheyJenn</a></li>
                    
    <li><a href="members/SoccerSta01"><img src="../images/pfps/lu5FucqnGmWrCDSB1Wbh1IHAHuUWOgf0.jpg" class="profile-picture"/></a> <a href="members/SoccerSta01">SoccerSta01</a></li>
                    
    <li><a href="members/xButterflyxKelsey"><img src="../images/pfps/a8Jt3VWNkORhwfYjs0uCiqj4E96LXrQv.jpg" class="profile-picture"/></a> <a href="members/xButterflyxKelsey">xButterflyxKelsey</a></li>
                    
    <li><a href="members/Mario Maniac 64"><img src="../images/pfps/xv2p6y9APxgVNv2SObp3Y1PY8py0p3Xa.jpg" class="profile-picture"/></a> <a href="members/Mario Maniac 64">Mario Maniac 64</a></li>
                    
    <li><a href="members/kids next door"><img src="../images/pfps/EnTYi4ZyVAoKPs8RVwZ88BLQowvKXCkb.png" class="profile-picture"/></a> <a href="members/kids next door">kids next door</a></li>
                    
    <li><a href="members/Shadow_Guy"><img src="../images/pfps/0opry5k7wgwb7g8dp66ki6ap28qnknob20spw2kj87i5dh8sf50m000txg5atj8mbrzvjb3Brambleclaw.jpg" class="profile-picture"/></a> <a href="members/Shadow_Guy">Shadow_Guy</a></li>
                    
    <li><a href="members/coolkidnic"><img src="../images/pfps/d4z3YLFeynKJupaXES4dfJ09bUSW7HWa.gif" class="profile-picture"/></a> <a href="members/coolkidnic">coolkidnic</a></li>
                    
    <li><a href="members/Evandsl"><img src="../images/pfps/wlCIxtcWPFOPU2Uq87sfGSYLtEZm4mGp.jpg" class="profile-picture"/></a> <a href="members/Evandsl">Evandsl</a></li>
                    
    <li><a href="members/The_achiver_827"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/The_achiver_827">The_achiver_827</a></li>
                    
    <li><a href="members/nixonzarianixon"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/nixonzarianixon">nixonzarianixon</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/ZeldaSonicfan" file="pfps/FuV0geuCSU4smA35BsxgmgOnPAB4nHiq.gif" alt="ZeldaSonicfan" %}

<p><b>Username:</b> <a href="members/ZeldaSonicfan">ZeldaSonicfan</a></p>

<p><b>Date:</b> 2010-02-07 14:35:44</p>

<p class="comment"><b>Comment:</b> <p><span style="color: #ff0000"><span style="font-size: medium">Hello there! I just finished your "Wow! Wow! Wubbzy!" video! I hope you like it!<img alt="" src="../images/fckeditor/editor/images/smiley/msn/regular_smile.gif"/></span></span></p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>