---
title: rootbeer
sidebar: home_sidebar
hide_sidebar: true
keywords: rootbeer
permalink: members/rootbeer
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/yXPegz5rOfw0cgHKU3q7DlhYeeLFbWiQ.jpg" alt="rootbeer" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>sadie</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>9</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>75</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>100%</b> out of <b>1 Vote</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/pandaboy"><img src="../images/pfps/sVRJnCwUQP7EBaJ0gYufEYssKaPrCDfu.png" class="profile-picture"/></a> <a href="members/pandaboy">pandaboy</a></li>
                    
    <li><a href="members/unicorn559"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/unicorn559">unicorn559</a></li>
                    
    <li><a href="members/Mr Bigglesworth"><img src="../images/pfps/kZAfe3a7eOwrNnltUYbn0Rf6aIFz57Fg.jpg" class="profile-picture"/></a> <a href="members/Mr Bigglesworth">Mr Bigglesworth</a></li>
                    
    <li><a href="members/unicornlover"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/unicornlover">unicornlover</a></li>
                    
    <li><a href="members/Dousin"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Dousin">Dousin</a></li>
                    
    <li><a href="members/USHER"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/USHER">USHER</a></li>
                    
    <li><a href="members/ilovecody123"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ilovecody123">ilovecody123</a></li>
                    
    <li><a href="members/H20productions"><img src="../images/pfps/dUnsWtLcAdxRrnw7mJSUQEmW17zVPCEs.gif" class="profile-picture"/></a> <a href="members/H20productions">H20productions</a></li>
                    
    <li><a href="members/jgr3241"><img src="../images/pfps/zfQer7KCvmRZxPNEIQAUM8yNincsRKlH.jpg" class="profile-picture"/></a> <a href="members/jgr3241">jgr3241</a></li>
                    
    <li><a href="members/drift53"><img src="../images/pfps/8wx500cfhfijrmvfbpzzm5hkp8x5xeuvyiro7utex2ofc7kcna2y3a7g6vctxufk0wyzfg4Roxas.jpg" class="profile-picture"/></a> <a href="members/drift53">drift53</a></li>
                    
    <li><a href="members/alan3000"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/alan3000">alan3000</a></li>
                    
    <li><a href="members/ANGEL_HOPE"><img src="../images/pfps/HK6ZJlP1hScGln5OFBIr8x16d70Nqitw.jpg" class="profile-picture"/></a> <a href="members/ANGEL_HOPE">ANGEL_HOPE</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/coolmaster" file="pfps/ki2itNQYbEDmGn0hzDg1NjxTvfcOix7G.png" alt="coolmaster" %}

<p><b>Username:</b> <a href="members/coolmaster">coolmaster</a></p>

<p><b>Date:</b> 2011-04-23 12:18:25</p>

<p class="comment"><b>Comment:</b> <p>you should post some more stuff.</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>