---
title: ryno99
sidebar: home_sidebar
hide_sidebar: true
keywords: ryno99
permalink: members/ryno99
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/IS3kxCYdXElcjkrspFktKvq8LEUs5waB.gif" alt="ryno99" max-width="100"%}
            
    {% include inline_image.html file="pfps/19314.jpg" alt="ryno99" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>8</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>1</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>boom</li>
<img src="{{"../images/thumb/1_50161.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Muppets Dr. Teeth Money Song</li>
<img src="{{"../images/thumb/1_129999.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Mr-Kat-dancing</li>
                
He is dancing.
                
                <br>
Added: 15-04-2013
                
</ul>
                
<ul>
<li>Dave-Seville-singing</li>
                
Funny.
                
                <br>
Added: 15-04-2013
                
</ul>
                
<ul>
<li>Alvin-and-the-chipmunks-singing-Christmas-Dont-Be-Late</li>
                
I like this part.
                
                <br>
Added: 15-04-2013
                
</ul>
                
<ul>
<li>The-chippetes-sing-Put-Your-Records-On</li>
                
I like this scene.
                
                <br>
Added: 16-04-2013
                
</ul>
                
<ul>
<li>Teen-Titans-Shorts-Preview</li>
                
I love Teen Titans!
                
                <br>
Added: 15-06-2013
                
</ul>
                
<ul>
<li>The-Muppets-Dr-Teeth-and-Sam-the-Eagle-Mack-The-Knife</li>
                
Dr. Teeth and Sam The Eagle perform Mack The Knife.
                
                <br>
Added: 15-06-2013
                
</ul>
                
<ul>
<li>Sheriff-and-Bro-dance-to-Pumped-Up-Kicks</li>
                
More coming soon.
                
                <br>
Added: 17-06-2013
                
</ul>
                
<ul>
<li>Muppets-Dr-Teeth-Money-Song</li>
                
Dr. Teeth performs a song.
                
                <br>
Added: 18-06-2013
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/biber262"><img src="../images/pfps/9lV20RE0SYPElH5ROgGMaOCDifFbuO0r.gif" class="profile-picture"/></a> <a href="members/biber262">biber262</a></li>
                    
    <li><a href="members/Tdawgg75"><img src="../images/pfps/dunwfswzpepdji758sqgf2dd7onbowzpfddktxba0pd8v82ush0v72y6gc7twv8zyacjwbhChowder-chowder-3171103-314-380.jpg" class="profile-picture"/></a> <a href="members/Tdawgg75">Tdawgg75</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>