---
title: sammyzeus
sidebar: home_sidebar
hide_sidebar: true
keywords: sammyzeus
permalink: members/sammyzeus
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/b0y5nv5svhb567kwmmd4xgkz7rh20ph2f6wsqsbaxb5v6hgitjbfok6m2ccrqihvd4esmes154014qa3vx1edo9.jpg" alt="sammyzeus" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>sammyzeus</b></li>
        
<li> Age: <b>2011</b></li>
        
<li> Gender: <b></b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>2</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>39</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>472</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>96.67%</b> out of <b>6</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Skunk - I Love You!</li>
<img src="{{"../images/thumb/540.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Spongebob Goofy Goober Rock</li>
<img src="{{"../images/thumb/544.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Skunk Fu - Witch Doctor</li>
<img src="{{"../images/thumb/537.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Ox - I Found a Way</li>
<img src="{{"../images/thumb/538.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Skunk Fu Pics</li>
<img src="{{"../images/thumb/584.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Club Penguin - Pocket Full of Sunshine</li>
<img src="{{"../images/thumb/1_2186.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Skunk-Fu--Witch-Doctor</li>
                
Alvin and the Chipmunks song Witch Doctor set to some Skunk-Fu Cartoons
                
                <br>
Added: 31-03-2008
                
</ul>
                
<ul>
<li>Club Penguin - Pocket Full of Sunshine</li>
                
Club Penguin Pocket Full Of Sunshine Natasha Bedingfield Club Penguin Pocket Full Of Sunshine Natasha Bedingfield Club Penguin Pocket Full Of Sunshine Natasha Bedingfield Club Penguin Pocket Full Of Sunshine Natasha Bedingfield
                
                <br>
Added: 31-03-2008
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/vdmman"><img src="../images/pfps/xcsoluea3H3l3jYTtC2M1s9EISsqu7bf.png" class="profile-picture"/></a> <a href="members/vdmman">vdmman</a></li>
                    
    <li><a href="members/Linkin78"><img src="../images/pfps/DJ5BxBSsIMdiNVtCTNGy9bhKjiMWpJfs.gif" class="profile-picture"/></a> <a href="members/Linkin78">Linkin78</a></li>
                    
    <li><a href="members/heromustang"><img src="../images/pfps/YUBIbnnKgWsmnCcOqyiVIKvSaWwTO1Fm.jpg" class="profile-picture"/></a> <a href="members/heromustang">heromustang</a></li>
                    
    <li><a href="members/Rockstar44"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Rockstar44">Rockstar44</a></li>
                    
    <li><a href="members/biber262"><img src="../images/pfps/9lV20RE0SYPElH5ROgGMaOCDifFbuO0r.gif" class="profile-picture"/></a> <a href="members/biber262">biber262</a></li>
                    
    <li><a href="members/hotgirl101"><img src="../images/pfps/Ia1jCLYERvNztWuGLwAj40mZlAOp2dKA.gif" class="profile-picture"/></a> <a href="members/hotgirl101">hotgirl101</a></li>
                    
    <li><a href="members/wolfgirl1014"><img src="../images/pfps/6fuuggbabouzow7cyrp0bsxya5zuawk425p7ao782ryfewh0fwqedf0dbrv8c635zh3ztyxmangekyou-kakashi-1600.jpg" class="profile-picture"/></a> <a href="members/wolfgirl1014">wolfgirl1014</a></li>
                    
    <li><a href="members/mph360"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/mph360">mph360</a></li>
                    
    <li><a href="members/doggyfroggy97"><img src="../images/pfps/08iwinpa3kyep8s24saagtyamrfor0yiz53aji7brvf4sxxnevokfbiqrn48esf3m60veyuSunset.jpg" class="profile-picture"/></a> <a href="members/doggyfroggy97">doggyfroggy97</a></li>
                    
    <li><a href="members/Madgirlmae"><img src="../images/pfps/a5bp0s8eepzxt5f0ufsx75vsexyg8iy8ezn5hm8myw7gtb7cfrzdkmtp8it5rh5w5gqdqpoPhoto 1281.jpg" class="profile-picture"/></a> <a href="members/Madgirlmae">Madgirlmae</a></li>
                    
    <li><a href="members/"><img src="../images/pfps/" class="profile-picture"/></a> <a href="members/"></a></li>
                    
    <li><a href="members/meme"><img src="../images/pfps/2yc023ytxmgvoqm744t7zi8gvstbwnnoanf0g4k4eqpt6yr0tcwiivp2d64zifegsj7ydhshannahmontana.jpg" class="profile-picture"/></a> <a href="members/meme">meme</a></li>
                    
    <li><a href="members/RukiaKuchki1997"><img src="../images/pfps/vwtruk8od03qrfzo0fp8i87bvsq7xd2hxmyivvuwmpd3s0fh6sgercfdttbfu2nicapvubj11136_101396623221793_100000543672702_37855_6916117_n.jpg" class="profile-picture"/></a> <a href="members/RukiaKuchki1997">RukiaKuchki1997</a></li>
                    
    <li><a href="members/iRock"><img src="../images/pfps/ayugeviq4g3jjyo64ee7e6wbiket56y3thav3hcvo46vrismkxipu5q0eskan707f2t6autiRock(2).jpg" class="profile-picture"/></a> <a href="members/iRock">iRock</a></li>
                    
    <li><a href="members/chrismy96"><img src="../images/pfps/yexi6uph62nhsr0axe0qqwvmj8f5ntgav5isqy0kpcq7tf7gkww0kicsghot0uuoo062ovco_0d5oiYQojcYaOkM.jpg" class="profile-picture"/></a> <a href="members/chrismy96">chrismy96</a></li>
                    
    <li><a href="members/Devsandpeb"><img src="../images/pfps/wfqhisdo6aqya8m7cj5raqktms4gsuxfxcn7uqjqoxfpxrnzyigyyrg87cgqu2wj47fnnn3cards-main_Full.jpg" class="profile-picture"/></a> <a href="members/Devsandpeb">Devsandpeb</a></li>
                    
    <li><a href="members/DEATHWISH342"><img src="../images/pfps/myxgtoxkyuantsoprok6bbwuiu0iff3q3rwk3ivr3t4mci0svapwadfiv6sybjf4y2frcz8bolse2_home_bel_da_cm_flags.gif" class="profile-picture"/></a> <a href="members/DEATHWISH342">DEATHWISH342</a></li>
                    
    <li><a href="members/Bstyles"><img src="../images/pfps/6r7VHxFjhtGfgRfdRvQVdp4NvJvZBuK5.jpg" class="profile-picture"/></a> <a href="members/Bstyles">Bstyles</a></li>
                    
    <li><a href="members/korrigan"><img src="../images/pfps/aeyg8qxybkouju76b8gueon0t6huorpovcsstffsqtcycatb8xwec73u5afjpswbvfrdkwvpikachu.gif" class="profile-picture"/></a> <a href="members/korrigan">korrigan</a></li>
                    
    <li><a href="members/gummybearlover"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/gummybearlover">gummybearlover</a></li>
                    
    <li><a href="members/nouf"><img src="../images/pfps/2cu7vvi74nkxkr87jrr32zowiass0jermyq5jw4e7fziuye3etu6i8sp6b7xkaewzutahmchannah_montana_1.jpg" class="profile-picture"/></a> <a href="members/nouf">nouf</a></li>
                    
    <li><a href="members/bpedra2"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/bpedra2">bpedra2</a></li>
                    
    <li><a href="members/Matster1031"><img src="../images/pfps/pxx45jg0dkjjbrvi642x85ra6jqukvqyhftbny3pabybsihob7c73u7y4mjd6xzc0ked75ssonica1.jpg" class="profile-picture"/></a> <a href="members/Matster1031">Matster1031</a></li>
                    
    <li><a href="members/Philip666"><img src="../images/pfps/Rvlz5FpzVoncu50Whf2iAFtDxhdcFy7W.jpg" class="profile-picture"/></a> <a href="members/Philip666">Philip666</a></li>
                    
    <li><a href="members/metalsonictheonyx"><img src="../images/pfps/L8inKWYRyRc2Bpm4JXgzSeHU8ibRmG7w.png" class="profile-picture"/></a> <a href="members/metalsonictheonyx">metalsonictheonyx</a></li>
                    
    <li><a href="members/clubpenguin157"><img src="../images/pfps/IzXZvbB421jeLuzOqCVuF1UufdSB08v7.gif" class="profile-picture"/></a> <a href="members/clubpenguin157">clubpenguin157</a></li>
                    
    <li><a href="members/smartie"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/smartie">smartie</a></li>
                    
    <li><a href="members/trewow"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/trewow">trewow</a></li>
                    
    <li><a href="members/The Slam"><img src="../images/pfps/miB2OvLPeXt2fLbfV6u2Dv67HBjaIipv.jpg" class="profile-picture"/></a> <a href="members/The Slam">The Slam</a></li>
                    
    <li><a href="members/Miku"><img src="../images/pfps/TTr7SJl3STElr0CN3JduZdJGYXVKjBZ3.jpg" class="profile-picture"/></a> <a href="members/Miku">Miku</a></li>
                    
    <li><a href="members/ANGIE LUVZ U"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ANGIE LUVZ U">ANGIE LUVZ U</a></li>
                    
    <li><a href="members/PSkywaker"><img src="../images/pfps/heJIQtPrLRGjU0RKg3EM2slJEwCUME9r.jpg" class="profile-picture"/></a> <a href="members/PSkywaker">PSkywaker</a></li>
                    
    <li><a href="members/dabomb"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/dabomb">dabomb</a></li>
                    
    <li><a href="members/catlover25222"><img src="../images/pfps/yfDx2e9qnYhGKVHZ6XiBrDgoYUXlmqUZ.gif" class="profile-picture"/></a> <a href="members/catlover25222">catlover25222</a></li>
                    
    <li><a href="members/The Scary Snapper"><img src="../images/pfps/g9NSKfPoDgwZS13IZZnlhb9n89MRxcCT.jpg" class="profile-picture"/></a> <a href="members/The Scary Snapper">The Scary Snapper</a></li>
                    
    <li><a href="members/kinglegomaster101"><img src="../images/pfps/h4Ft4hT7dnRJ5TJ3FuZvIp0Kjs6uZd15.gif" class="profile-picture"/></a> <a href="members/kinglegomaster101">kinglegomaster101</a></li>
                    
    <li><a href="members/Demiluv"><img src="../images/pfps/s8hEcuVV37B3aXHJc84hJpfUi7rdyXEe.jpg" class="profile-picture"/></a> <a href="members/Demiluv">Demiluv</a></li>
                    
    <li><a href="members/magpies104"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/magpies104">magpies104</a></li>
                    
    <li><a href="members/demiandselena"><img src="../images/pfps/aYPzGR4HyYPdbXyp2MvdE9gXXgl6mFmA.jpg" class="profile-picture"/></a> <a href="members/demiandselena">demiandselena</a></li>
                    
    <li><a href="members/sonicfan2001"><img src="../images/pfps/mYkGmtY0ieaSqwfYlfHW5ko0Y1yuZwT9.png" class="profile-picture"/></a> <a href="members/sonicfan2001">sonicfan2001</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/kinggogomaster" file="pfps/placeholder.gif" alt="kinggogomaster" %}

<p><b>Username:</b> <a href="members/kinggogomaster>kinggogomaster</a></p>

<p><b>Date:</b> 2010-10-03 06:09:32</p>

<p class="comment"><b>Comment:</b> <p> file:///Users/jennifercotsiopoulos/Desktop/images.jpeg</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Celebrian" file="pfps/5evmGtR5RhMp0Aoq08OIhgrcmBrIbfyX.jpg" alt="Celebrian" %}

<p><b>Username:</b> <a href="members/Celebrian>Celebrian</a></p>

<p><b>Date:</b> 2010-03-05 18:33:52</p>

<p class="comment"><b>Comment:</b> <p>luv ur profile pic. ^^</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>