---
title: sasuke143xd
sidebar: home_sidebar
hide_sidebar: true
keywords: sasuke143xd
permalink: members/sasuke143xd
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/placeholder.gif" alt="sasuke143xd" max-width="100"%}
            
    {% include inline_image.html file="pfps/nopic.jpg" alt="sasuke143xd" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>12</b></li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Zerofusion101"><img src="../images/pfps/HmIPKf0o9deCg4LlVTAPm271O9nGdt5i.jpg" class="profile-picture"/></a> <a href="members/Zerofusion101">Zerofusion101</a></li>
                    
    <li><a href="members/maxmia"><img src="../images/pfps/oq6ikohgd85kmjkg2v7jxdb3vriy486iq0pyfv5iuyu485byp68ea85vocji8gpn52cbo5hmario.gif" class="profile-picture"/></a> <a href="members/maxmia">maxmia</a></li>
                    
    <li><a href="members/FredFan1126"><img src="../images/pfps/SOjb9J3sfHWgLiMTOyUy8HZkmd9tYReq.gif" class="profile-picture"/></a> <a href="members/FredFan1126">FredFan1126</a></li>
                    
    <li><a href="members/pokeman"><img src="../images/pfps/e0tjpo665fvnk7hxzeryrb78iioajpbmfuus6rp3w8e57mrxpan68j5hqki0xhb02vkxcxpdeoxys.jpg" class="profile-picture"/></a> <a href="members/pokeman">pokeman</a></li>
                    
    <li><a href="members/milulu"><img src="../images/pfps/B90eNpuSXzR0NxERVmDqa0dMe7vboACq.jpg" class="profile-picture"/></a> <a href="members/milulu">milulu</a></li>
                    
    <li><a href="members/darktween"><img src="../images/pfps/gdtGKSw6M6tHUiIxk1pQkwIhl1aYVSPz.jpg" class="profile-picture"/></a> <a href="members/darktween">darktween</a></li>
                    
    <li><a href="members/taylorswift323"><img src="../images/pfps/VPn8Hce5hvrekDIaHNBFftwGA7JhHmKc.gif" class="profile-picture"/></a> <a href="members/taylorswift323">taylorswift323</a></li>
                    
    <li><a href="members/bluekid"><img src="../images/pfps/e7oe2ngadf0pnawyj7mwzdxyudzqe06jyiorwsqxwhbafywqu8bkdy7vzwa5o5fcertya7nimages.jpg" class="profile-picture"/></a> <a href="members/bluekid">bluekid</a></li>
                    
    <li><a href="members/IVanessa"><img src="../images/pfps/49KAbGGGhtRnqEjKZYG1hvmfprHGL0BG.jpg" class="profile-picture"/></a> <a href="members/IVanessa">IVanessa</a></li>
                    
    <li><a href="members/Kiarathejolteon"><img src="../images/pfps/jwoOcIHjgFWS5GmI2mD6dRnNhqtwBMsi.gif" class="profile-picture"/></a> <a href="members/Kiarathejolteon">Kiarathejolteon</a></li>
                    
    <li><a href="members/redbelt2"><img src="../images/pfps/0ftt99qnJ3lpvpWLGX3AlkVOYSLveERS.gif" class="profile-picture"/></a> <a href="members/redbelt2">redbelt2</a></li>
                    
    <li><a href="members/Pufflefuzz123"><img src="../images/pfps/UtHJuBy9oIZJjxgd4flOSTexWcZeDv8Y.gif" class="profile-picture"/></a> <a href="members/Pufflefuzz123">Pufflefuzz123</a></li>
                    
    <li><a href="members/Pikapower34"><img src="../images/pfps/7du2vwsnrc37746hf4i2nga8hs6paue5vyvhkftzfnxbftiimrbyy8x4stksenmxd86mcqcPinRS025.gif" class="profile-picture"/></a> <a href="members/Pikapower34">Pikapower34</a></li>
                    
    <li><a href="members/gameliking"><img src="../images/pfps/zbq3dhnxpwbtwkeceo5bj2shbbi6gbm6c00d8c0pzz6nc8pgomixcy3exb84cmycdqgat5nThe_Chipettes_Arrive_by_BeastGirl9206.jpg" class="profile-picture"/></a> <a href="members/gameliking">gameliking</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>