---
title: sasukelover101
sidebar: home_sidebar
hide_sidebar: true
keywords: sasukelover101
permalink: members/sasukelover101
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/F0zWiEBxkPGITBmnvxIaJYWks5TMKtbQ.gif" alt="sasukelover101" max-width="100"%}
            
    {% include inline_image.html file="pfps/34311.jpg" alt="sasukelover101" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>3</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>6</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>bear-trying-to-get-food</li>
                
but it looks like he wants birds
                
                <br>
Added: 2010-11-24
                
</ul>
                
<ul>
<li>butterfly</li>
                
plz watch and suscribe
                
                <br>
Added: 2010-11-29
                
</ul>
                
<ul>
<li>my-cute-awsome-slide-show!!!!-x3</li>
                
plz watch i did all this work to show you kidstube!!!!!!!!!!!!!!!
                
                <br>
Added: 2011-03-22
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/theflowerlilly"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/theflowerlilly">theflowerlilly</a></li>
                    
    <li><a href="members/Anime_Ravenstar556"><img src="../images/pfps/MgjO4NXSQiQFC0qBAQzCcce1UC0pMrpW.jpg" class="profile-picture"/></a> <a href="members/Anime_Ravenstar556">Anime_Ravenstar556</a></li>
                    
    <li><a href="members/stefaneyfoxx3"><img src="../images/pfps/b6HACtzc2rFd5A0BmbykDf5d25R82mAT.gif" class="profile-picture"/></a> <a href="members/stefaneyfoxx3">stefaneyfoxx3</a></li>
                    
    <li><a href="members/Wweluver123"><img src="../images/pfps/DF3ymtD6Wa9PbXta9Yb4rloI2Trs5Bq8.jpg" class="profile-picture"/></a> <a href="members/Wweluver123">Wweluver123</a></li>
                    
    <li><a href="members/demiandselena"><img src="../images/pfps/aYPzGR4HyYPdbXyp2MvdE9gXXgl6mFmA.jpg" class="profile-picture"/></a> <a href="members/demiandselena">demiandselena</a></li>
                    
    <li><a href="members/AnimeFerret99"><img src="../images/pfps/hiVztAGo18f3hKzmE2mvfQXbTaXCnxBI.gif" class="profile-picture"/></a> <a href="members/AnimeFerret99">AnimeFerret99</a></li>
                    
    <li><a href="members/jgr3241"><img src="../images/pfps/zfQer7KCvmRZxPNEIQAUM8yNincsRKlH.jpg" class="profile-picture"/></a> <a href="members/jgr3241">jgr3241</a></li>
                    
    <li><a href="members/webkinzlover16"><img src="../images/pfps/svhEENcyfv9q4DnM35PDYJb92JrFAhoq.jpg" class="profile-picture"/></a> <a href="members/webkinzlover16">webkinzlover16</a></li>
                    
    <li><a href="members/Mario Maniac 64"><img src="../images/pfps/xv2p6y9APxgVNv2SObp3Y1PY8py0p3Xa.jpg" class="profile-picture"/></a> <a href="members/Mario Maniac 64">Mario Maniac 64</a></li>
                    
    <li><a href="members/Tiggerlover100"><img src="../images/pfps/4f5vDXIlGJEKkrIfV9rYFl8OyLPUWoiO.gif" class="profile-picture"/></a> <a href="members/Tiggerlover100">Tiggerlover100</a></li>
                    
    <li><a href="members/Candy_Pop"><img src="../images/pfps/RoIiaBPvp50NLwAEH2gWNs1M0HI57AcM.png" class="profile-picture"/></a> <a href="members/Candy_Pop">Candy_Pop</a></li>
                    
    <li><a href="members/renee"><img src="../images/pfps/RoE2MGkWNZGC8pp2naYeicpAMTfOMr7d.gif" class="profile-picture"/></a> <a href="members/renee">renee</a></li>
                    
    <li><a href="members/narutofangirl99"><img src="../images/pfps/P6t8E5z255qPIrcTCLEJpTDXpx8GPBUf.jpg" class="profile-picture"/></a> <a href="members/narutofangirl99">narutofangirl99</a></li>
                    
    <li><a href="members/Dylman"><img src="../images/pfps/tuUvf6mLTIqs0Ff9kkJmaU9d664E1Zkk.png" class="profile-picture"/></a> <a href="members/Dylman">Dylman</a></li>
                    
    <li><a href="members/moongalaxy11"><img src="../images/pfps/3VwWstDmJuWCgezxz2kFJA1jx7sJAor3.jpg" class="profile-picture"/></a> <a href="members/moongalaxy11">moongalaxy11</a></li>
                    
    <li><a href="members/Jaailyn"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Jaailyn">Jaailyn</a></li>
                    
    <li><a href="members/FantageBeta"><img src="../images/pfps/Xe7RjYkfZr1VQc7oZyx5JF1XIRqZKkdh.gif" class="profile-picture"/></a> <a href="members/FantageBeta">FantageBeta</a></li>
                    
    <li><a href="members/pufflelover"><img src="../images/pfps/RTzoVYtfmxwTBxcKd8HGkIYjfTqS0twF.gif" class="profile-picture"/></a> <a href="members/pufflelover">pufflelover</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>