---
title: sbpanda
sidebar: home_sidebar
hide_sidebar: true
keywords: sbpanda
permalink: members/sbpanda
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/lrhIA5cf1oZlngi3e0tDWxtadrM3haAI.jpg" alt="sbpanda" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>4</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>3</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>a message to BIG TIME RUSH FANS and jonas brothers haters</li>
<img src="{{"../images/thumb/1_61054.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The-Clone-That-Was-Addicted-To-MYSPACE</li>
                
this clone (joe) has no friends but a Bully (jake) so he wants to be like them so watch this video and find out what happends...... (p.s I had to delete it and reupload it because the audio (sound) was off.
                
                <br>
Added: 12-11-2009
                
</ul>
                
<ul>
<li>Christmas-eve-at-the-Lopezs</li>
                
I was in Puerto Rico for christmas with my Friends and we visited their mom's mother's house and the whole family was there then al the sudden one of their family members busted out musical instrments and everyone started playing with the music watch this this is great!
                
                <br>
Added: 01-01-2010
                
</ul>
                
<ul>
<li>VisitPuerto-Rico</li>
                
this is video that shows Puerto Rico From up in the Air to Luqillo Beach
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>a-message-to-BIG-TIME-RUSH-FANS-and-jonas-brothers-haters</li>
                
watch this
                
                <br>
Added: 09-08-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Mitten"><img src="../images/pfps/spIp50W5K9SgyKNjr56pNpH6l6E6dhLK.gif" class="profile-picture"/></a> <a href="members/Mitten">Mitten</a></li>
                    
    <li><a href="members/kingbupper"><img src="../images/pfps/2uokv0hggv0ndfbi4bafewx4wd8ex6epprz8i7gqs70vcz3403a3qyvc2veosi38zu77qcmnaruto.jpg" class="profile-picture"/></a> <a href="members/kingbupper">kingbupper</a></li>
                    
    <li><a href="members/colby2"><img src="../images/pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" class="profile-picture"/></a> <a href="members/colby2">colby2</a></li>
                    
    <li><a href="members/boddieseraphin"><img src="../images/pfps/rMjCAqx5R09CsfF8wBaovEgCuDaAHc3y.jpg" class="profile-picture"/></a> <a href="members/boddieseraphin">boddieseraphin</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>