---
title: Scbc128
sidebar: home_sidebar
hide_sidebar: true
keywords: Scbc128
permalink: members/Scbc128
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/kp12osJfQ3pV9J5pCpN0ve8fb8qxzF7Z.jpg" alt="Scbc128" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Soraya</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>23</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>799</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>3</b></li>
        
<li> Rating: <b>77.5%</b> out of <b>8</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/pandaboy"><img src="../images/pfps/sVRJnCwUQP7EBaJ0gYufEYssKaPrCDfu.png" class="profile-picture"/></a> <a href="members/pandaboy">pandaboy</a></li>
                    
    <li><a href="members/tanasilly"><img src="../images/pfps/EeU6GAnKfSsbxzXYv1dU1PgL1FaKxMez.png" class="profile-picture"/></a> <a href="members/tanasilly">tanasilly</a></li>
                    
    <li><a href="members/SchoolHater56"><img src="../images/pfps/vPTDmdqEl63mHMMUf4UQP0mGUZ8QhD6S.jpg" class="profile-picture"/></a> <a href="members/SchoolHater56">SchoolHater56</a></li>
                    
    <li><a href="members/XxVioletStarXx"><img src="../images/pfps/mLId0b1at3F7S2qRl1mDBY6nyjhhl5kL.jpg" class="profile-picture"/></a> <a href="members/XxVioletStarXx">XxVioletStarXx</a></li>
                    
    <li><a href="members/readsta"><img src="../images/pfps/ACz0th8PyL6PKptIWc0QSpmsNYhT9zUA.jpg" class="profile-picture"/></a> <a href="members/readsta">readsta</a></li>
                    
    <li><a href="members/shadow and haku11"><img src="../images/pfps/FPKSC0h4GHwDwA1EHLI33aCghYnMPgES.jpg" class="profile-picture"/></a> <a href="members/shadow and haku11">shadow and haku11</a></li>
                    
    <li><a href="members/Alexria111"><img src="../images/pfps/sA1A4KtWjuG7EG1DOSlTF7sK4R0eAYLs.jpg" class="profile-picture"/></a> <a href="members/Alexria111">Alexria111</a></li>
                    
    <li><a href="members/StartehLion"><img src="../images/pfps/AUsC8lDGGP7kRKgVA1RUXDxulqt3zdf0.gif" class="profile-picture"/></a> <a href="members/StartehLion">StartehLion</a></li>
                    
    <li><a href="members/jenna998"><img src="../images/pfps/MGg8d2Jkk4hlku0bJSf4ZmDQlhTJlXKy.gif" class="profile-picture"/></a> <a href="members/jenna998">jenna998</a></li>
                    
    <li><a href="members/flippylur9"><img src="../images/pfps/UFMUPrDz79XO9zTpOXz7qKVr6yJ4EVyW.jpg" class="profile-picture"/></a> <a href="members/flippylur9">flippylur9</a></li>
                    
    <li><a href="members/Speedystal"><img src="../images/pfps/JllgzjxxxwIK8YtsGXXxRigz9usaH5UO.gif" class="profile-picture"/></a> <a href="members/Speedystal">Speedystal</a></li>
                    
    <li><a href="members/Shadow Fan"><img src="../images/pfps/hk7jHF3eKIUCcktI86sUv9NHg9bdi6WD.gif" class="profile-picture"/></a> <a href="members/Shadow Fan">Shadow Fan</a></li>
                    
    <li><a href="members/Bludykats"><img src="../images/pfps/iQt0EAJkxICHODZSgRrwOxCBweKAtxuR.jpg" class="profile-picture"/></a> <a href="members/Bludykats">Bludykats</a></li>
                    
    <li><a href="members/Kekekitty123"><img src="../images/pfps/Pe7UIJIbWdEcmzDkCTvNDKOk7zgGKa2X.jpg" class="profile-picture"/></a> <a href="members/Kekekitty123">Kekekitty123</a></li>
                    
    <li><a href="members/Mario Maniac 64"><img src="../images/pfps/xv2p6y9APxgVNv2SObp3Y1PY8py0p3Xa.jpg" class="profile-picture"/></a> <a href="members/Mario Maniac 64">Mario Maniac 64</a></li>
                    
    <li><a href="members/blue_sky5"><img src="../images/pfps/DOosX0nt7X99IAzn0Gs2cBYRYINPqjur.jpg" class="profile-picture"/></a> <a href="members/blue_sky5">blue_sky5</a></li>
                    
    <li><a href="members/moongalaxy11"><img src="../images/pfps/3VwWstDmJuWCgezxz2kFJA1jx7sJAor3.jpg" class="profile-picture"/></a> <a href="members/moongalaxy11">moongalaxy11</a></li>
                    
    <li><a href="members/Tiggerlover100"><img src="../images/pfps/4f5vDXIlGJEKkrIfV9rYFl8OyLPUWoiO.gif" class="profile-picture"/></a> <a href="members/Tiggerlover100">Tiggerlover100</a></li>
                    
    <li><a href="members/Sabrin98"><img src="../images/pfps/9dNuj5bVsWCQHq99vjjrUskugFxZw43t.png" class="profile-picture"/></a> <a href="members/Sabrin98">Sabrin98</a></li>
                    
    <li><a href="members/mindy2009"><img src="../images/pfps/mrTQdtjI2VB8FYzxnyG7CBIEXsfcN0P0.jpg" class="profile-picture"/></a> <a href="members/mindy2009">mindy2009</a></li>
                    
    <li><a href="members/Candy_Pop"><img src="../images/pfps/RoIiaBPvp50NLwAEH2gWNs1M0HI57AcM.png" class="profile-picture"/></a> <a href="members/Candy_Pop">Candy_Pop</a></li>
                    
    <li><a href="members/sonaze"><img src="../images/pfps/uPv5fSooYvMmpbCUvkv78SEBcu9hR0A9.gif" class="profile-picture"/></a> <a href="members/sonaze">sonaze</a></li>
                    
    <li><a href="members/chick100"><img src="../images/pfps/hJqo3Z7wEvctUHYVHnQRtroKplWj02JY.png" class="profile-picture"/></a> <a href="members/chick100">chick100</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/shadow and haku11" file="pfps/FPKSC0h4GHwDwA1EHLI33aCghYnMPgES.jpg" alt="shadow and haku11" %}

<p><b>Username:</b> <a href="members/shadow and haku11>shadow and haku11</a></p>

<p><b>Date:</b> 2011-04-22 17:09:53</p>

<p class="comment"><b>Comment:</b> <p>.... -.- i do know what it means i always need to copyright my pictures cause people like to steal them like *coughs* Penny</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/PsychoticTi-fox" file="pfps/rZYUkra4qg1JBEoOiChewEasrBsUcFpJ.gif" alt="PsychoticTi-fox" %}

<p><b>Username:</b> <a href="members/PsychoticTi-fox>PsychoticTi-fox</a></p>

<p><b>Date:</b> 2011-04-21 18:54:12</p>

<p class="comment"><b>Comment:</b> <p>@ Haku: Geez! Don't be so mean to Sam! Obviously you don't understand what "copyright" means. It's not JUST a picture, IT'S HER WORK OF ART THAT SHE CARES ABOUT!!!! </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/shadow and haku11" file="pfps/FPKSC0h4GHwDwA1EHLI33aCghYnMPgES.jpg" alt="shadow and haku11" %}

<p><b>Username:</b> <a href="members/shadow and haku11>shadow and haku11</a></p>

<p><b>Date:</b> 2011-04-20 17:59:46</p>

<p class="comment"><b>Comment:</b> <p>@ Smart ITS JUST A CHRACTER T.T THERE OT F#CKING REAL! MY GOD! ITS JUST A PICTUREEEEEE</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Samart" file="pfps/gZepdONecuTL4kVjLUBppV9Gj64wGt6n.jpg" alt="Samart" %}

<p><b>Username:</b> <a href="members/Samart>Samart</a></p>

<p><b>Date:</b> 2011-04-20 17:32:27</p>

<p class="comment"><b>Comment:</b> <p>DID YOU KNOW I'M MARINALOV?! DID YOU KNOW YOU RECOLORED OVER MY PIC?! YOU B*CH!!!!!!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/shadow and haku11" file="pfps/FPKSC0h4GHwDwA1EHLI33aCghYnMPgES.jpg" alt="shadow and haku11" %}

<p><b>Username:</b> <a href="members/shadow and haku11>shadow and haku11</a></p>

<p><b>Date:</b> 2011-04-19 23:57:47</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large"><span style="color: #ff0000">I USED TO BE FRIENDS WITH YOU! </span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/shadow and haku11" file="pfps/FPKSC0h4GHwDwA1EHLI33aCghYnMPgES.jpg" alt="shadow and haku11" %}

<p><b>Username:</b> <a href="members/shadow and haku11>shadow and haku11</a></p>

<p><b>Date:</b> 2011-04-19 18:43:20</p>

<p class="comment"><b>Comment:</b> <p><span style="font-family: Arial"><span style="font-size: xx-large"><span style="color: #66ffff">THROW NNY QUOTS AT HERRRRRRRRRRR</span></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/PsychoticTi-fox" file="pfps/rZYUkra4qg1JBEoOiChewEasrBsUcFpJ.gif" alt="PsychoticTi-fox" %}

<p><b>Username:</b> <a href="members/PsychoticTi-fox>PsychoticTi-fox</a></p>

<p><b>Date:</b> 2011-04-11 21:02:40</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;">BAKA! BAKA! BAKA! BAKA! BAKA! BAKA! BAKA! BAKA! BAKA! BAKA! BAKA! BAKA!</span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/friendmlp" file="pfps/placeholder.gif" alt="friendmlp" %}

<p><b>Username:</b> <a href="members/friendmlp>friendmlp</a></p>

<p><b>Date:</b> 2011-04-10 21:10:00</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="color: rgb(255, 0, 0);">WHY THE HAY DID YOU MAKE HTC13 IMPERSONATE HANNAH?!?!? YOUR A F***ING B**TARD YOU LITTLE MEAN SICK MIDGET!!!!!!! </span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/StartehLion" file="pfps/AUsC8lDGGP7kRKgVA1RUXDxulqt3zdf0.gif" alt="StartehLion" %}

<p><b>Username:</b> <a href="members/StartehLion>StartehLion</a></p>

<p><b>Date:</b> 2011-04-10 19:53:14</p>

<p class="comment"><b>Comment:</b> <p> You sick, twisted B**TARD!!! </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/LilyTheHedgefox" file="pfps/ZPdS9dvzLs60Uh04MHaQ5v6wF0yC48tR.gif" alt="LilyTheHedgefox" %}

<p><b>Username:</b> <a href="members/LilyTheHedgefox>LilyTheHedgefox</a></p>

<p><b>Date:</b> 2011-04-10 16:24:27</p>

<p class="comment"><b>Comment:</b> <p>@PsychoticTi-fox XP</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/PsychoticTi-fox" file="pfps/rZYUkra4qg1JBEoOiChewEasrBsUcFpJ.gif" alt="PsychoticTi-fox" %}

<p><b>Username:</b> <a href="members/PsychoticTi-fox>PsychoticTi-fox</a></p>

<p><b>Date:</b> 2011-04-10 14:39:42</p>

<p class="comment"><b>Comment:</b> <p>@ Lily: She DOES hate me. Just because she's JELIOUS. She just befriends people so she can backstab them. SHE'S EVIL!!!!!! DX</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/LilyTheHedgefox" file="pfps/ZPdS9dvzLs60Uh04MHaQ5v6wF0yC48tR.gif" alt="LilyTheHedgefox" %}

<p><b>Username:</b> <a href="members/LilyTheHedgefox>LilyTheHedgefox</a></p>

<p><b>Date:</b> 2011-04-10 14:19:58</p>

<p class="comment"><b>Comment:</b> <p><span style="color: rgb(0, 255, 0);"><span style="font-size: x-large;">Now I feel bad for yelling at the fake impersonater! YOU MADE <span style="color: rgb(255, 0, 0);"><span style="font-size: xx-large;">HER</span></span> IMPERSONATE HANNAH! You're not a very nice friend!</span></span> <span style="font-size: x-large;"><span style="font-size: xx-large;"><span style="color: rgb(0, 0, 255);"><u>Why did you even tell her too!? Do you hate Hannah or something? Y u so mean?? <img alt="" src="../images/fckeditor/editor/images/smiley/msn/cry_smile.gif" style="width: 54px; height: 54px;"/></u></span></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Kagami4Ever" file="pfps/CYRY61ZrenxUBgXcwiahRlBt8C9byqxy.png" alt="Kagami4Ever" %}

<p><b>Username:</b> <a href="members/Kagami4Ever>Kagami4Ever</a></p>

<p><b>Date:</b> 2011-04-10 12:55:52</p>

<p class="comment"><b>Comment:</b> <p><strong><span style="font-size: x-large;"><span style="color: rgb(255, 0, 0);">You are a sick, nasty, and mean person!!!! <img alt="" src="http://kidstube.com/fckeditor/editor/images/smiley/msn/angry_smile.gif"/><img alt="" src="http://kidstube.com/fckeditor/editor/images/smiley/msn/angry_smile.gif"/><img alt="" src="http://kidstube.com/fckeditor/editor/images/smiley/msn/angry_smile.gif"/></span></span></strong></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Kagami4Ever" file="pfps/CYRY61ZrenxUBgXcwiahRlBt8C9byqxy.png" alt="Kagami4Ever" %}

<p><b>Username:</b> <a href="members/Kagami4Ever>Kagami4Ever</a></p>

<p><b>Date:</b> 2011-04-10 12:49:14</p>

<p class="comment"><b>Comment:</b> <p>Why did you force HannahTheCat13 to impersonate Hannah?! And why did you threaten her?! WHAT'S WRONG WITH YOU?!?!?! <img alt="" src="http://kidstube.com/fckeditor/editor/images/smiley/msn/angry_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/PsychoticTi-fox" file="pfps/rZYUkra4qg1JBEoOiChewEasrBsUcFpJ.gif" alt="PsychoticTi-fox" %}

<p><b>Username:</b> <a href="members/PsychoticTi-fox>PsychoticTi-fox</a></p>

<p><b>Date:</b> 2011-04-09 17:48:59</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="color: rgb(0, 255, 255);">Soraya, you are the WORST!!!! Just remember that :3</span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/LilyTheHedgefox" file="pfps/ZPdS9dvzLs60Uh04MHaQ5v6wF0yC48tR.gif" alt="LilyTheHedgefox" %}

<p><b>Username:</b> <a href="members/LilyTheHedgefox>LilyTheHedgefox</a></p>

<p><b>Date:</b> 2011-04-09 10:09:05</p>

<p class="comment"><b>Comment:</b> <p>why yew helping Hannahthecat13 (THE IMPOSTERRR)</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/frostfirefur" file="pfps/MsohUtf9vbu7qenoySl61IdkkM2GEn9O.jpg" alt="frostfirefur" %}

<p><b>Username:</b> <a href="members/frostfirefur>frostfirefur</a></p>

<p><b>Date:</b> 2011-04-09 03:56:24</p>

<p class="comment"><b>Comment:</b> <p> Hey cewl! i like kiss Fm to!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/pandaboy" file="pfps/2xjpRjtb2n8bbkHqZCaypmlRs5BIKMkC.jpg" alt="pandaboy" %}

<p><b>Username:</b> <a href="members/pandaboy>pandaboy</a></p>

<p><b>Date:</b> 2011-02-16 17:33:01</p>

<p class="comment"><b>Comment:</b> <p>Hey! How's it Going!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/hatsune miku9" file="pfps/placeholder.gif" alt="hatsune miku9" %}

<p><b>Username:</b> <a href="members/hatsune miku9>hatsune miku9</a></p>

<p><b>Date:</b> 2011-02-06 16:51:08</p>

<p class="comment"><b>Comment:</b> <p>hey</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/tanasilly" file="pfps/Vr8uyQZj8A28hj25NPez2lQNz9NpPA0i.png" alt="tanasilly" %}

<p><b>Username:</b> <a href="members/tanasilly>tanasilly</a></p>

<p><b>Date:</b> 2011-02-06 16:28:40</p>

<p class="comment"><b>Comment:</b> <p><img alt="" src="../images/fckeditor/editor/images/smiley/msn/regular_smile.gif"/> HI! 2nd comment XP</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/VioletTheCat" file="pfps/placeholder.gif" alt="VioletTheCat" %}

<p><b>Username:</b> <a href="members/VioletTheCat>VioletTheCat</a></p>

<p><b>Date:</b> 2011-02-06 16:13:01</p>

<p class="comment"><b>Comment:</b> <p>Hi!!! First comment! :D</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>