---
title: ScienceBob
sidebar: home_sidebar
hide_sidebar: true
keywords: ScienceBob
permalink: members/ScienceBob
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="ScienceBob" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>4</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Amazing Levitating Orb Science Experiment</li>
<img src="{{"../images/thumb/1_4581.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Science Bob's Crazy Foam Experiment</li>
                
Learn how to make a foam fountain at home. Visit www.sciencebob.com for full instructions and more videos.
                
                <br>
Added: 16-12-2008
                
</ul>
                
<ul>
<li>Make-a-Lava-Lamp</li>
                
Learn how to use ingredients around the house to make your own lava lamp. Instructions can be found at www.sciencebob.com.
                
                <br>
Added: 20-12-2008
                
</ul>
                
<ul>
<li>Static Electricity Fun with Science Bob</li>
                
See what 500,000 volts looks like. This experiment uses the Van De Graaff electrostatic generator. More information as well as experiments and science fair ideas can be found at www.sciencebob.com
                
                <br>
Added: 28-12-2008
                
</ul>
                
<ul>
<li>Amazing Levitating Orb Science Experiment</li>
                
Build a levitating orb device of your own. This works just like the popular Fun Fly Stick Toy. It only costs about 80 cents and takes 5 minutes to make. It also demonstrates the repelling forces of negative static charges - but you knew that. Complete instructions can be found at www.sciencebob.com
                
                <br>
Added: 28-12-2008
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>