---
title: seamus
sidebar: home_sidebar
hide_sidebar: true
keywords: seamus
permalink: members/seamus
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/2LFOwnltOvPrPLgEwI6IUYflNbQdlG2c.jpg" alt="seamus" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Seamus</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b></b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>4</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>32</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>349</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>2</b></li>
        
<li> Rating: <b>60%</b> out of <b>6</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>seamus</li>
<img src="{{"../images/thumb/3QDkRMOKFThv1ay0eiSq.jpg"}}" alt="thumbnail"/>

</ul>
            
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/pandaboy"><img src="../images/pfps/sVRJnCwUQP7EBaJ0gYufEYssKaPrCDfu.png" class="profile-picture"/></a> <a href="members/pandaboy">pandaboy</a></li>
                    
    <li><a href="members/blink145"><img src="../images/pfps/9M44cn8jCwVmDKecYHMeIOLTTSgvh4Ie.jpg" class="profile-picture"/></a> <a href="members/blink145">blink145</a></li>
                    
    <li><a href="members/sellerman123"><img src="../images/pfps/P4Nwm4h7KslHSrgLEQ69lprXvYdy5aMI.png" class="profile-picture"/></a> <a href="members/sellerman123">sellerman123</a></li>
                    
    <li><a href="members/nevit"><img src="../images/pfps/L1Sbvi1yhPzBNk0EQ4Ahjm6qvBPs5siE.gif" class="profile-picture"/></a> <a href="members/nevit">nevit</a></li>
                    
    <li><a href="members/igotnoiphone"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/igotnoiphone">igotnoiphone</a></li>
                    
    <li><a href="members/titanic410415"><img src="../images/pfps/zpwaHVTa1ESfc59g3DTBdJVEXsFNgFGT.jpg" class="profile-picture"/></a> <a href="members/titanic410415">titanic410415</a></li>
                    
    <li><a href="members/Nightshade"><img src="../images/pfps/17yxdKqTM4Z9eft1AYrEMI5Qhd3GZeIQ.png" class="profile-picture"/></a> <a href="members/Nightshade">Nightshade</a></li>
                    
    <li><a href="members/beanz"><img src="../images/pfps/GYjuMblPMUUK8sFsdoxqAucdIx5325h9.png" class="profile-picture"/></a> <a href="members/beanz">beanz</a></li>
                    
    <li><a href="members/paki222"><img src="../images/pfps/Blheg4yHyuV12yAXzzEsFQLCg3pbjt8i.gif" class="profile-picture"/></a> <a href="members/paki222">paki222</a></li>
                    
    <li><a href="members/warriorchikorita"><img src="../images/pfps/28gM6PfjwuMWmwdLAPjA7byq3YJCTtIJ.jpg" class="profile-picture"/></a> <a href="members/warriorchikorita">warriorchikorita</a></li>
                    
    <li><a href="members/PlusleFan202"><img src="../images/pfps/whJLqtYYFIImOT3v6kYntANNE8snfjDP.gif" class="profile-picture"/></a> <a href="members/PlusleFan202">PlusleFan202</a></li>
                    
    <li><a href="members/tiger116"><img src="../images/pfps/FC7Cug3dckQdoAHWQhTrZ24xjJE0BmqE.jpg" class="profile-picture"/></a> <a href="members/tiger116">tiger116</a></li>
                    
    <li><a href="members/Kassie243"><img src="../images/pfps/bZG5AYxrOBzn3byUJBhKc461XmJBzQAQ.jpg" class="profile-picture"/></a> <a href="members/Kassie243">Kassie243</a></li>
                    
    <li><a href="members/Wweluver123"><img src="../images/pfps/DF3ymtD6Wa9PbXta9Yb4rloI2Trs5Bq8.jpg" class="profile-picture"/></a> <a href="members/Wweluver123">Wweluver123</a></li>
                    
    <li><a href="members/Bunglebee"><img src="../images/pfps/5eDkTBIDtqdQSOGM4S2ihVfWPYd7ROpK.jpg" class="profile-picture"/></a> <a href="members/Bunglebee">Bunglebee</a></li>
                    
    <li><a href="members/roflcopterPILOT"><img src="../images/pfps/2XkLk5MDc4bPZwnFa02dy4G2GdwdffmX.png" class="profile-picture"/></a> <a href="members/roflcopterPILOT">roflcopterPILOT</a></li>
                    
    <li><a href="members/Mac_OS_X_Drawer"><img src="../images/pfps/PAzSbUjlRg20olDg9xXOrZ6xpuuEb4dr.png" class="profile-picture"/></a> <a href="members/Mac_OS_X_Drawer">Mac_OS_X_Drawer</a></li>
                    
    <li><a href="members/drwhorox"><img src="../images/pfps/9KmxOWd8Nc5REnx4tM4tfLvRdbHrKpXJ.png" class="profile-picture"/></a> <a href="members/drwhorox">drwhorox</a></li>
                    
    <li><a href="members/MochaGirl"><img src="../images/pfps/oLiZUEK5glKMUWFu7fVD1p7bxFLAClpq.png" class="profile-picture"/></a> <a href="members/MochaGirl">MochaGirl</a></li>
                    
    <li><a href="members/ohnoahhh"><img src="../images/pfps/1OsXLaN5l8igHicOiUAIacV2Lwo8gCiY.jpg" class="profile-picture"/></a> <a href="members/ohnoahhh">ohnoahhh</a></li>
                    
    <li><a href="members/Pearlymay"><img src="../images/pfps/K7AXW8IFTyFYHUveHAWwmMOUvcFoqKX0.jpg" class="profile-picture"/></a> <a href="members/Pearlymay">Pearlymay</a></li>
                    
    <li><a href="members/9puppybear9"><img src="../images/pfps/Vp3IlwXV8rm27fozErrrKDgLDXCW94lU.gif" class="profile-picture"/></a> <a href="members/9puppybear9">9puppybear9</a></li>
                    
    <li><a href="members/blaze09"><img src="../images/pfps/fXR9WNv6WO6vLfKSExebZa6MHW8bUyyy.jpg" class="profile-picture"/></a> <a href="members/blaze09">blaze09</a></li>
                    
    <li><a href="members/pokemonlover1999"><img src="../images/pfps/BmDyihV5664QRmGeYBrNDEAKr2gPXn0Z.jpg" class="profile-picture"/></a> <a href="members/pokemonlover1999">pokemonlover1999</a></li>
                    
    <li><a href="members/awsomerockman"><img src="../images/pfps/IyyXa8Ln327xqsu2L88pjgwZgApxi9Qo.jpg" class="profile-picture"/></a> <a href="members/awsomerockman">awsomerockman</a></li>
                    
    <li><a href="members/bob2448"><img src="../images/pfps/Qjd5MXNzxupbB8OcI9ZTOJoK9nXMG8TW.jpg" class="profile-picture"/></a> <a href="members/bob2448">bob2448</a></li>
                    
    <li><a href="members/webkinzlover16"><img src="../images/pfps/svhEENcyfv9q4DnM35PDYJb92JrFAhoq.jpg" class="profile-picture"/></a> <a href="members/webkinzlover16">webkinzlover16</a></li>
                    
    <li><a href="members/samid11"><img src="../images/pfps/jmBV48LhObQAvyYEHSHf48HC78i4ewuC.gif" class="profile-picture"/></a> <a href="members/samid11">samid11</a></li>
                    
    <li><a href="members/redneckgrl"><img src="../images/pfps/FGYwm8nKAvSAV0ZEyHZdXb1ZOTKjmSQp.jpg" class="profile-picture"/></a> <a href="members/redneckgrl">redneckgrl</a></li>
                    
    <li><a href="members/eeveelover89642"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/eeveelover89642">eeveelover89642</a></li>
                    
    <li><a href="members/liam8"><img src="../images/pfps/lvDf7x8zB1tZE4o7Byn5Au7GQijy11Ga.jpg" class="profile-picture"/></a> <a href="members/liam8">liam8</a></li>
                    
    <li><a href="members/wowdood"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/wowdood">wowdood</a></li>
                    
    <li><a href="members/KC1996"><img src="../images/pfps/Q3v5yBY3QhpoFyfYGPBi8E5qMa67i54y.jpg" class="profile-picture"/></a> <a href="members/KC1996">KC1996</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/liam8" file="pfps/lvDf7x8zB1tZE4o7Byn5Au7GQijy11Ga.jpg" alt="liam8" %}

<p><b>Username:</b> <a href="members/liam8>liam8</a></p>

<p><b>Date:</b> 2011-01-28 08:59:46</p>

<p class="comment"><b>Comment:</b> <p> </p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>