---
title: selena and demi
sidebar: home_sidebar
hide_sidebar: true
keywords: selena and demi
permalink: members/selena and demi
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/LKMSPzNbZczRFNfliErSWEdZxxNqvIG4.jpg" alt="selena and demi" max-width="100"%}
            
    {% include inline_image.html file="pfps/zpfPUjUKFD8cN4peRogLMCRfMzA7cpnR.jpg" alt="selena and demi" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/zacattack"><img src="../images/pfps/zKJn0Xp4Cm4GA3yfulrMLpgWL9GtHdy6.png" class="profile-picture"/></a> <a href="members/zacattack">zacattack</a></li>
                    
    <li><a href="members/omairis"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/omairis">omairis</a></li>
                    
    <li><a href="members/gymnasticgurl4life"><img src="../images/pfps/DCRe9qJz5WDXEHrhTLE5CxnwQCU1m9fp.jpg" class="profile-picture"/></a> <a href="members/gymnasticgurl4life">gymnasticgurl4life</a></li>
                    
    <li><a href="members/Starla2001"><img src="../images/pfps/3L0v8WKh1rkQIwfA1AqrCG5RUNft7qF0.jpg" class="profile-picture"/></a> <a href="members/Starla2001">Starla2001</a></li>
                    
    <li><a href="members/JUSTIN123321"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/JUSTIN123321">JUSTIN123321</a></li>
                    
    <li><a href="members/demiandselena"><img src="../images/pfps/aYPzGR4HyYPdbXyp2MvdE9gXXgl6mFmA.jpg" class="profile-picture"/></a> <a href="members/demiandselena">demiandselena</a></li>
                    
    <li><a href="members/sallymabuhay"><img src="../images/pfps/aGaEwbUH6pLAhPPs8BYeXmwTUt5P2UVS.jpg" class="profile-picture"/></a> <a href="members/sallymabuhay">sallymabuhay</a></li>
                    
    <li><a href="members/KashiiGLitter"><img src="../images/pfps/Heucdm7ZXFM7Qa0hCh3ZuYmJ9I4trrpy.jpg" class="profile-picture"/></a> <a href="members/KashiiGLitter">KashiiGLitter</a></li>
                    
    <li><a href="members/webkinzkittygirl99"><img src="../images/pfps/2lKsai8dxjwmOzFo8t968yJIgp0TAEH0.jpg" class="profile-picture"/></a> <a href="members/webkinzkittygirl99">webkinzkittygirl99</a></li>
                    
    <li><a href="members/eddie1"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/eddie1">eddie1</a></li>
                    
    <li><a href="members/killerwii12"><img src="../images/pfps/DJniRlpMXKUoZ8FM6CYqBxEn3lj4w60x.jpg" class="profile-picture"/></a> <a href="members/killerwii12">killerwii12</a></li>
                    
    <li><a href="members/ohnoahhh"><img src="../images/pfps/1OsXLaN5l8igHicOiUAIacV2Lwo8gCiY.jpg" class="profile-picture"/></a> <a href="members/ohnoahhh">ohnoahhh</a></li>
                    
    <li><a href="members/london"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/london">london</a></li>
                    
    <li><a href="members/tiff12123"><img src="../images/pfps/qE7EbAv5O1TKJOTmVCJyphw2gQHT9Ssp.jpg" class="profile-picture"/></a> <a href="members/tiff12123">tiff12123</a></li>
                    
    <li><a href="members/emogirlsrock"><img src="../images/pfps/RT2njKQjH9YMtur6KZqzzcIoGqRlfgLw.jpg" class="profile-picture"/></a> <a href="members/emogirlsrock">emogirlsrock</a></li>
                    
    <li><a href="members/Stuntman Jax"><img src="../images/pfps/CK038bD8aJgrKtQN9qxVhvAoqRrDS64T.png" class="profile-picture"/></a> <a href="members/Stuntman Jax">Stuntman Jax</a></li>
                    
    <li><a href="members/luxray100"><img src="../images/pfps/45yzCeqh1V6mp5eZtWAGio6qDFESvBEq.png" class="profile-picture"/></a> <a href="members/luxray100">luxray100</a></li>
                    
    <li><a href="members/demilovatoiscool"><img src="../images/pfps/kKUYgYZcHKmxw9Tt45gqwdc5jSK572dg.jpg" class="profile-picture"/></a> <a href="members/demilovatoiscool">demilovatoiscool</a></li>
                    
    <li><a href="members/Tartis11"><img src="../images/pfps/x2RN4aU372GbHJBNufCADSdFYJ9lmezZ.jpg" class="profile-picture"/></a> <a href="members/Tartis11">Tartis11</a></li>
                    
    <li><a href="members/darktween"><img src="../images/pfps/gdtGKSw6M6tHUiIxk1pQkwIhl1aYVSPz.jpg" class="profile-picture"/></a> <a href="members/darktween">darktween</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>