---
title: Senior-O-Bradleyto
sidebar: home_sidebar
hide_sidebar: true
keywords: Senior-O-Bradleyto
permalink: members/Senior-O-Bradleyto
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/TKUIkic1XuXoJjabYpDvnVArtCn1YDmp.jpg" alt="Senior-O-Bradleyto" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Brad</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b></b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>3</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>62</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>756</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>2</b></li>
        
<li> Rating: <b>90.91%</b> out of <b>11</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>(Today is my birthday 7/11) </li>
<img src="{{"../images/thumb/zczjhsTB1LXXVUYbYzXZ.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>"Oh my Gosh" music video (collab Kel_keke)</li>
<img src="{{"../images/thumb/sWNqIHeel1nMIiKeiJUP.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Kidstubecollbers Promo(girls)</li>
<img src="{{"../images/thumb/SH2AaZ2mdV3yjPXOX3ln.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>S N  O W</li>
<img src="{{"../images/thumb/aQQpCqYjXWnWUtlCO0cx.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Kidstubecollbers Promo(girls)</li>
<img src="{{"../images/thumb/1_64900.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Today-is-my-birthday-711-</li>
                
this video is like the best i've done my birthday is this sunday dont forget to add me
my webstie:http://wewilleatit.webs.com
                
                <br>
Added: 09-07-2010
                
</ul>
                
<ul>
<li>Oh-my-Gosh-music-video-collab-Kelkeke</li>
                
i really didnt feel like doing my part so dont blame me if kelsey's is better then mine<br />
i dont own the song
                
                <br>
Added: 03-08-2010
                
</ul>
                
<ul>
<li>Kidstubecollbers-Promogirls</li>
                
no  im not on this one mine is coming so next week wacth kidstubecollabers
                
                <br>
Added: 06-10-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/zacattack"><img src="../images/pfps/zKJn0Xp4Cm4GA3yfulrMLpgWL9GtHdy6.png" class="profile-picture"/></a> <a href="members/zacattack">zacattack</a></li>
                    
    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/Killervideo"><img src="../images/pfps/Aw8NNsotAJjalGeKy2iNhkHpUQ7sJtbJ.png" class="profile-picture"/></a> <a href="members/Killervideo">Killervideo</a></li>
                    
    <li><a href="members/xolylaepic"><img src="../images/pfps/HIDNNxLBGGUk1Gun4NTUaLoZdG4b9qzE.gif" class="profile-picture"/></a> <a href="members/xolylaepic">xolylaepic</a></li>
                    
    <li><a href="members/luckylisa1998"><img src="../images/pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" class="profile-picture"/></a> <a href="members/luckylisa1998">luckylisa1998</a></li>
                    
    <li><a href="members/poohparty"><img src="../images/pfps/3sqajcemr02qdv554nvrnh0kedjpoafhswfzykaga2uemq7e2swfzop3pyi3wp8ecc40k56pooh.jpg" class="profile-picture"/></a> <a href="members/poohparty">poohparty</a></li>
                    
    <li><a href="members/Buns"><img src="../images/pfps/ATHqW8WhHvD8lsg5A4vB0wuy3BS1oQAn.gif" class="profile-picture"/></a> <a href="members/Buns">Buns</a></li>
                    
    <li><a href="members/koolz"><img src="../images/pfps/h6ya8gqmxs6w0yrindg7mhfk08chckijh7hfcxpzgmn5b2fm3mhesopjnprqxxx4t47tsnjPicture 029.jpg" class="profile-picture"/></a> <a href="members/koolz">koolz</a></li>
                    
    <li><a href="members/sweet_tooth66"><img src="../images/pfps/fCYz49tWtapnfccEixu2SlVRMZcNiAbB.jpg" class="profile-picture"/></a> <a href="members/sweet_tooth66">sweet_tooth66</a></li>
                    
    <li><a href="members/BB_brad"><img src="../images/pfps/2vfdrr7wqhrky7hsrk450d3bj4et6tfwdkzuzygg4vrttyaba54z8wygr3zom58pfz85nfdPicture 331u8dfi.jpg" class="profile-picture"/></a> <a href="members/BB_brad">BB_brad</a></li>
                    
    <li><a href="members/paige13"><img src="../images/pfps/sE0MMQOhoLsPGL7xjJM7Z5yYtwIM28Si.jpg" class="profile-picture"/></a> <a href="members/paige13">paige13</a></li>
                    
    <li><a href="members/peace101"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/peace101">peace101</a></li>
                    
    <li><a href="members/peace17"><img src="../images/pfps/d7p47h5xe7bp7gcotchg6omsqma2r2rs06nwegkhdjwbrwnbxtfu5sbm28cj2tzrpderhnwimages.jpg" class="profile-picture"/></a> <a href="members/peace17">peace17</a></li>
                    
    <li><a href="members/aandabffshow"><img src="../images/pfps/yr20s26f0fib2j0ann5tir3nv0vhdr528yuqppvgs4imc7jpmd8su25espmv7im454kkh5p100101-010837.jpg" class="profile-picture"/></a> <a href="members/aandabffshow">aandabffshow</a></li>
                    
    <li><a href="members/biber262"><img src="../images/pfps/9lV20RE0SYPElH5ROgGMaOCDifFbuO0r.gif" class="profile-picture"/></a> <a href="members/biber262">biber262</a></li>
                    
    <li><a href="members/xNerdzx"><img src="../images/pfps/vyIr4feX4FXat10Gii1LmWjae0LN3ZDo.gif" class="profile-picture"/></a> <a href="members/xNerdzx">xNerdzx</a></li>
                    
    <li><a href="members/nofacefairies"><img src="../images/pfps/xRAkIgbbxtpSmgL1Y9QfSv2XtEO51zRo.jpg" class="profile-picture"/></a> <a href="members/nofacefairies">nofacefairies</a></li>
                    
    <li><a href="members/Sabree23"><img src="../images/pfps/stn8EsSbQqobGQY3V4HmFnJGlMoDkUbQ.jpg" class="profile-picture"/></a> <a href="members/Sabree23">Sabree23</a></li>
                    
    <li><a href="members/Earthbounded"><img src="../images/pfps/AfeSSj4uyTRSgWWomIF0FQAZXJOZa5vZ.gif" class="profile-picture"/></a> <a href="members/Earthbounded">Earthbounded</a></li>
                    
    <li><a href="members/Music_Video_Mania"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Music_Video_Mania">Music_Video_Mania</a></li>
                    
    <li><a href="members/xButterflyxKelsey"><img src="../images/pfps/a8Jt3VWNkORhwfYjs0uCiqj4E96LXrQv.jpg" class="profile-picture"/></a> <a href="members/xButterflyxKelsey">xButterflyxKelsey</a></li>
                    
    <li><a href="members/Gamergirlstudios"><img src="../images/pfps/AVACpeJkS0j7kCHGl48ma3TFK3IiRi4P.jpg" class="profile-picture"/></a> <a href="members/Gamergirlstudios">Gamergirlstudios</a></li>
                    
    <li><a href="members/KashiiGLitter"><img src="../images/pfps/Heucdm7ZXFM7Qa0hCh3ZuYmJ9I4trrpy.jpg" class="profile-picture"/></a> <a href="members/KashiiGLitter">KashiiGLitter</a></li>
                    
    <li><a href="members/Cpfanamations"><img src="../images/pfps/rhlUVZ1ZRgoOWf9yxALq0Pli9uzQvZda.jpg" class="profile-picture"/></a> <a href="members/Cpfanamations">Cpfanamations</a></li>
                    
    <li><a href="members/ohheyJenn"><img src="../images/pfps/KHtxe1iCBYT5FzurXvt2QmulOu6jjJpr.jpg" class="profile-picture"/></a> <a href="members/ohheyJenn">ohheyJenn</a></li>
                    
    <li><a href="members/maya98"><img src="../images/pfps/1znKygakTBzOqg94jJqRggO0l5Ejx32o.png" class="profile-picture"/></a> <a href="members/maya98">maya98</a></li>
                    
    <li><a href="members/BellaMCullen"><img src="../images/pfps/r5xf8zhwqpp470qr30tj72o87ounavapsyupn0c3epxcedr84bg32u2x6kb55akow43av32Snapshot of me 7.png" class="profile-picture"/></a> <a href="members/BellaMCullen">BellaMCullen</a></li>
                    
    <li><a href="members/kbabe"><img src="../images/pfps/ENO0eu87H8xWbKWL37ShgMHsn3vSlEUo.jpg" class="profile-picture"/></a> <a href="members/kbabe">kbabe</a></li>
                    
    <li><a href="members/clubpenguinrocks9089"><img src="../images/pfps/M6qxcf31vvcnxPjXuPGCzajOPSYexXP9.jpg" class="profile-picture"/></a> <a href="members/clubpenguinrocks9089">clubpenguinrocks9089</a></li>
                    
    <li><a href="members/ItsMeNikkiR"><img src="../images/pfps/dUrGgVCIZYjMCQulGpknIES2alibvs2P.jpg" class="profile-picture"/></a> <a href="members/ItsMeNikkiR">ItsMeNikkiR</a></li>
                    
    <li><a href="members/11Brooke"><img src="../images/pfps/iBUqvc4KbfJ0BEGf68byYyfUWfitdvKC.jpg" class="profile-picture"/></a> <a href="members/11Brooke">11Brooke</a></li>
                    
    <li><a href="members/lng717"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/lng717">lng717</a></li>
                    
    <li><a href="members/therealKelsiP"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/therealKelsiP">therealKelsiP</a></li>
                    
    <li><a href="members/stargazer1"><img src="../images/pfps/OrLassEeQCAPE0TvQQUp8s6B2SOgcJVo.jpg" class="profile-picture"/></a> <a href="members/stargazer1">stargazer1</a></li>
                    
    <li><a href="members/Omg_we_rock99"><img src="../images/pfps/pPpzbXyVGQaTtdCEiXwD7zWAvJUlqpTT.jpg" class="profile-picture"/></a> <a href="members/Omg_we_rock99">Omg_we_rock99</a></li>
                    
    <li><a href="members/kiki2498"><img src="../images/pfps/Q3thjduNhFNbPVTJl21beS2vBOAaxRZD.gif" class="profile-picture"/></a> <a href="members/kiki2498">kiki2498</a></li>
                    
    <li><a href="members/THE_JC_SHOW"><img src="../images/pfps/kfrzkf20akphervg7oo8ju2nj2z02hhdmy3u5tn52zc5hvcg7odh85ugxj5qpdsy3jkw2xq.jpg" class="profile-picture"/></a> <a href="members/THE_JC_SHOW">THE_JC_SHOW</a></li>
                    
    <li><a href="members/IVanessa"><img src="../images/pfps/49KAbGGGhtRnqEjKZYG1hvmfprHGL0BG.jpg" class="profile-picture"/></a> <a href="members/IVanessa">IVanessa</a></li>
                    
    <li><a href="members/Kidstubecollabers"><img src="../images/pfps/3YhW3nk7V9mZLYchHWXTkvuvyXsmE1k5.jpg" class="profile-picture"/></a> <a href="members/Kidstubecollabers">Kidstubecollabers</a></li>
                    
    <li><a href="members/cartooncraig"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/cartooncraig">cartooncraig</a></li>
                    
    <li><a href="members/catlover25222"><img src="../images/pfps/yfDx2e9qnYhGKVHZ6XiBrDgoYUXlmqUZ.gif" class="profile-picture"/></a> <a href="members/catlover25222">catlover25222</a></li>
                    
    <li><a href="members/ThatsKeke"><img src="../images/pfps/pJrCuRRQW1cuWV1alDdhyVwRaqETwYtc.jpg" class="profile-picture"/></a> <a href="members/ThatsKeke">ThatsKeke</a></li>
                    
    <li><a href="members/bieberluvrocks"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/bieberluvrocks">bieberluvrocks</a></li>
                    
    <li><a href="members/bfffl"><img src="../images/pfps/jqqigxcFQ4xL7Y8HTeYCqDpCvj7FSuH1.gif" class="profile-picture"/></a> <a href="members/bfffl">bfffl</a></li>
                    
    <li><a href="members/musicluver"><img src="../images/pfps/8kqymep49KNUu1ko1luQB2f5YgvzS6ZO.jpg" class="profile-picture"/></a> <a href="members/musicluver">musicluver</a></li>
                    
    <li><a href="members/spongeybrown124"><img src="../images/pfps/JwGbD7Wb6kKPwrqXRidniEXSrC5T7KoE.gif" class="profile-picture"/></a> <a href="members/spongeybrown124">spongeybrown124</a></li>
                    
    <li><a href="members/ComputerFan"><img src="../images/pfps/0ZCGx6d6BztlbcaISmoriGUfifAQ6pIu.jpg" class="profile-picture"/></a> <a href="members/ComputerFan">ComputerFan</a></li>
                    
    <li><a href="members/NatasjaJaneLeysen"><img src="../images/pfps/Y9SATX4NdyoMF3v9yHbikLegGGPk8HYV.jpg" class="profile-picture"/></a> <a href="members/NatasjaJaneLeysen">NatasjaJaneLeysen</a></li>
                    
    <li><a href="members/Dilshan"><img src="../images/pfps/Cb3Vsda24zGrlRCQ42gMrEjvgVeGMaLN.jpg" class="profile-picture"/></a> <a href="members/Dilshan">Dilshan</a></li>
                    
    <li><a href="members/The Scary Snapper"><img src="../images/pfps/g9NSKfPoDgwZS13IZZnlhb9n89MRxcCT.jpg" class="profile-picture"/></a> <a href="members/The Scary Snapper">The Scary Snapper</a></li>
                    
    <li><a href="members/PeaceLove707"><img src="../images/pfps/EhAlBjrWSCtvLgPI1vkB5FTXdjPgP6eT.png" class="profile-picture"/></a> <a href="members/PeaceLove707">PeaceLove707</a></li>
                    
    <li><a href="members/Amber_the_awesome"><img src="../images/pfps/tBNJgflKH0n2e5Mj4GoGYtXa1dLKyZGg.gif" class="profile-picture"/></a> <a href="members/Amber_the_awesome">Amber_the_awesome</a></li>
                    
    <li><a href="members/Demiluv"><img src="../images/pfps/s8hEcuVV37B3aXHJc84hJpfUi7rdyXEe.jpg" class="profile-picture"/></a> <a href="members/Demiluv">Demiluv</a></li>
                    
    <li><a href="members/xImScenex"><img src="../images/pfps/fbaDhprQ1qZJgJqSCOlotjRfpwEwP4Rv.jpg" class="profile-picture"/></a> <a href="members/xImScenex">xImScenex</a></li>
                    
    <li><a href="members/golden1234"><img src="../images/pfps/7Kxdt0qudGhT4TCwfGRhf7nRvlQEn7ei.gif" class="profile-picture"/></a> <a href="members/golden1234">golden1234</a></li>
                    
    <li><a href="members/youtubelover"><img src="../images/pfps/oRFvD9q3u4LnyChT4UllD7AvpS4z4qij.jpg" class="profile-picture"/></a> <a href="members/youtubelover">youtubelover</a></li>
                    
    <li><a href="members/garigeiselman"><img src="../images/pfps/qghowkn652dgyuc356fpecz5aiw4ixay5fdqookkeop3arv5pyit06n0davmwtbqyc6cphnalbum01.jpg" class="profile-picture"/></a> <a href="members/garigeiselman">garigeiselman</a></li>
                    
    <li><a href="members/Nofacefairies-jp"><img src="../images/pfps/dD4BrReg6engFt61FqjM5ifUcWKN8RBb.jpg" class="profile-picture"/></a> <a href="members/Nofacefairies-jp">Nofacefairies-jp</a></li>
                    
    <li><a href="members/hiimIAN"><img src="../images/pfps/1JnIDKKQPiHLk7cXzqchQtjz6kyYfq0W.jpg" class="profile-picture"/></a> <a href="members/hiimIAN">hiimIAN</a></li>
                    
    <li><a href="members/shayshay727"><img src="../images/pfps/zdbqM5ejaXuqHcmu6skcdZYvvu1mRkKH.jpg" class="profile-picture"/></a> <a href="members/shayshay727">shayshay727</a></li>
                    
    <li><a href="members/misshotstuff1"><img src="../images/pfps/zFBeWqg9U1Omslk6R17aW6EYlOwB8g6x.jpg" class="profile-picture"/></a> <a href="members/misshotstuff1">misshotstuff1</a></li>
                    
    <li><a href="members/tasha1"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/tasha1">tasha1</a></li>
                    
    <li><a href="members/huskyluver1"><img src="../images/pfps/eVltPxQjAxSjot22hyaBzdqsPuYukpvC.gif" class="profile-picture"/></a> <a href="members/huskyluver1">huskyluver1</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/Senior-O-Bradleyto" file="pfps/TKUIkic1XuXoJjabYpDvnVArtCn1YDmp.jpg" alt="Senior-O-Bradleyto" %}

<p><b>Username:</b> <a href="members/Senior-O-Bradleyto>Senior-O-Bradleyto</a></p>

<p><b>Date:</b> 2011-01-19 14:39:36</p>

<p class="comment"><b>Comment:</b> <p><span style="font-family: Verdana;"><span style="font-size: xx-large;"><span style="color: rgb(0, 0, 128);">Just got down filming some videos with kel_keke (kelsey) they will be up on Feb. very soon :)<img alt="" src="http://kidstube.com/fckeditor/editor/images/smiley/msn/thumbs_up.gif"/></span></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Killervideo" file="pfps/Aw8NNsotAJjalGeKy2iNhkHpUQ7sJtbJ.png" alt="Killervideo" %}

<p><b>Username:</b> <a href="members/Killervideo>Killervideo</a></p>

<p><b>Date:</b> 2010-12-31 18:15:51</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: x-large; "><span style="font-family: 'Comic Sans MS'; "> <span style="color: rgb(255, 255, 255); ">hi</span> </span><span style="color: rgb(255, 0, 0); "><span style="font-family: 'Comic Sans MS'; ">Guys!!!!!</span></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Senior-O-Bradleyto" file="pfps/TKUIkic1XuXoJjabYpDvnVArtCn1YDmp.jpg" alt="Senior-O-Bradleyto" %}

<p><b>Username:</b> <a href="members/Senior-O-Bradleyto>Senior-O-Bradleyto</a></p>

<p><b>Date:</b> 2010-10-23 10:44:39</p>

<p class="comment"><b>Comment:</b> <p><span style="color: rgb(128, 0, 128);"><span style="font-size: xx-large;">Kel_keke</span></span><span style="color: rgb(51, 102, 255);"><span style="font-size: xx-large;"> here and i'm hacking</span></span><span style="color: rgb(0, 255, 0);"><span style="font-size: xx-large;"> Bradley's account</span></span><span style="color: rgb(255, 0, 255);"><span style="font-size: xx-large;"> LOL JK he said it was okay :)</span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Senior-O-Bradleyto" file="pfps/TKUIkic1XuXoJjabYpDvnVArtCn1YDmp.jpg" alt="Senior-O-Bradleyto" %}

<p><b>Username:</b> <a href="members/Senior-O-Bradleyto>Senior-O-Bradleyto</a></p>

<p><b>Date:</b> 2010-10-14 15:35:35</p>

<p class="comment"><b>Comment:</b> <p>This bugs me a lot kelsey i thought we was friends well i was wrong dont talk to me you not my sister anymore</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Kel_keke" file="pfps/placeholder.gif" alt="Kel_keke" %}

<p><b>Username:</b> <a href="members/Kel_keke>Kel_keke</a></p>

<p><b>Date:</b> 2010-09-26 13:06:26</p>

<p class="comment"><b>Comment:</b> <p><span style="color: rgb(153, 51, 102);"><span style="font-family: Times New Roman;"><span style="font-size: xx-large;">Hello sweeto brother of mine</span></span></span><span style="font-family: Times New Roman;"><span style="font-size: xx-large;"> <img alt="" src="http://kidstube.com/fckeditor/editor/images/smiley/msn/heart.gif"/><span style="color: rgb(255, 0, 0);"> you drive me crazy your no long my brother</span><img alt="" src="http://kidstube.com/fckeditor/editor/images/smiley/msn/broken_heart.gif"/> </span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Buns" file="pfps/JFCzhGYVTipqq9gXYlRMFydtpIlZcjKl.jpg" alt="Buns" %}

<p><b>Username:</b> <a href="members/Buns>Buns</a></p>

<p><b>Date:</b> 2010-09-25 13:16:27</p>

<p class="comment"><b>Comment:</b> <p>thnx for the comment on my vid Plus that's why I made fun of it</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Senior-O-Bradleyto" file="pfps/TKUIkic1XuXoJjabYpDvnVArtCn1YDmp.jpg" alt="Senior-O-Bradleyto" %}

<p><b>Username:</b> <a href="members/Senior-O-Bradleyto>Senior-O-Bradleyto</a></p>

<p><b>Date:</b> 2010-09-24 14:30:17</p>

<p class="comment"><b>Comment:</b> <p><span style="color: rgb(0, 204, 255);"><span style="font-size: xx-large;"><span style="font-family: Verdana;">Hey kidstuber vote me on kidstubecollabers for sunday</span></span></span><img alt="" src="http://kidstube.com/fckeditor/editor/images/smiley/msn/thumbs_up.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Killervideo" file="pfps/Aw8NNsotAJjalGeKy2iNhkHpUQ7sJtbJ.png" alt="Killervideo" %}

<p><b>Username:</b> <a href="members/Killervideo>Killervideo</a></p>

<p><b>Date:</b> 2010-08-06 06:47:36</p>

<p class="comment"><b>Comment:</b> <p> HEEEYYYYYY Brad How Are U Doing Plz Email Me Bak</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>