---
title: shadow yoshi
sidebar: home_sidebar
hide_sidebar: true
keywords: shadow yoshi
permalink: members/shadow yoshi
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/placeholder.gif" alt="shadow yoshi" max-width="100"%}
            
    {% include inline_image.html file="pfps/nopic.jpg" alt="shadow yoshi" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Arianna</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>20</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>272</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>3</b></li>
        
<li> Rating: <b>81.67%</b> out of <b>12</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Linkin78"><img src="../images/pfps/DJ5BxBSsIMdiNVtCTNGy9bhKjiMWpJfs.gif" class="profile-picture"/></a> <a href="members/Linkin78">Linkin78</a></li>
                    
    <li><a href="members/SonicChaos07"><img src="../images/pfps/wgrvVGyWkwQiqE87n21lfJrOm3OIFjo1.png" class="profile-picture"/></a> <a href="members/SonicChaos07">SonicChaos07</a></li>
                    
    <li><a href="members/peachy121"><img src="../images/pfps/QgzyFHV7xBW2CSl5qbOASiKvrOFGrin7.gif" class="profile-picture"/></a> <a href="members/peachy121">peachy121</a></li>
                    
    <li><a href="members/aalx"><img src="../images/pfps/yc20bhj5a3nh72on0tdmyobgx4vohw26yuv005w0w76txm6p570sjzy7sijz5cuuvgjnb4cmotocycle.jpg" class="profile-picture"/></a> <a href="members/aalx">aalx</a></li>
                    
    <li><a href="members/drwhorox"><img src="../images/pfps/9KmxOWd8Nc5REnx4tM4tfLvRdbHrKpXJ.png" class="profile-picture"/></a> <a href="members/drwhorox">drwhorox</a></li>
                    
    <li><a href="members/silver power"><img src="../images/pfps/Jyqwo1vXFdr8S6R7dA4Dhv3Gg3aiLOGS.gif" class="profile-picture"/></a> <a href="members/silver power">silver power</a></li>
                    
    <li><a href="members/sonic speed"><img src="../images/pfps/gnn81iuU3oIHHHcrQEpOTkjtToB3j3uF.png" class="profile-picture"/></a> <a href="members/sonic speed">sonic speed</a></li>
                    
    <li><a href="members/Shadow Fan"><img src="../images/pfps/hk7jHF3eKIUCcktI86sUv9NHg9bdi6WD.gif" class="profile-picture"/></a> <a href="members/Shadow Fan">Shadow Fan</a></li>
                    
    <li><a href="members/bubblezz"><img src="../images/pfps/qLBdEuO5otVYKM3tJ0uLN4W5ULMHerQK.jpg" class="profile-picture"/></a> <a href="members/bubblezz">bubblezz</a></li>
                    
    <li><a href="members/Zerofusion101"><img src="../images/pfps/HmIPKf0o9deCg4LlVTAPm271O9nGdt5i.jpg" class="profile-picture"/></a> <a href="members/Zerofusion101">Zerofusion101</a></li>
                    
    <li><a href="members/YoshiFTW"><img src="../images/pfps/e6BqFvDpJtG7kpHxKWzRRjF1Wj3jSMSw.jpg" class="profile-picture"/></a> <a href="members/YoshiFTW">YoshiFTW</a></li>
                    
    <li><a href="members/WigglyXKitten"><img src="../images/pfps/czfififjn6tqxmddjo6gdtnqa4i6keak2dr8mxixszchafiitgpvx2avvgs4kqdeuub4ihscat avatar.gif" class="profile-picture"/></a> <a href="members/WigglyXKitten">WigglyXKitten</a></li>
                    
    <li><a href="members/Gabi980"><img src="../images/pfps/wP6g65h8WPvRnt1pautvr9sias6wK0G6.jpg" class="profile-picture"/></a> <a href="members/Gabi980">Gabi980</a></li>
                    
    <li><a href="members/Nyleana"><img src="../images/pfps/MFddZ2heJ0xVmlSRvPbnX6pp0cCQEYWR.jpg" class="profile-picture"/></a> <a href="members/Nyleana">Nyleana</a></li>
                    
    <li><a href="members/metalsonictheonyx"><img src="../images/pfps/L8inKWYRyRc2Bpm4JXgzSeHU8ibRmG7w.png" class="profile-picture"/></a> <a href="members/metalsonictheonyx">metalsonictheonyx</a></li>
                    
    <li><a href="members/luxray100"><img src="../images/pfps/45yzCeqh1V6mp5eZtWAGio6qDFESvBEq.png" class="profile-picture"/></a> <a href="members/luxray100">luxray100</a></li>
                    
    <li><a href="members/Jirachi681"><img src="../images/pfps/iCYkoxfia7NmbwqWzZp3PsQHQPBSfbcD.png" class="profile-picture"/></a> <a href="members/Jirachi681">Jirachi681</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/iRock-"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/iRock-">iRock-</a></li>
                    
    <li><a href="members/toonster123"><img src="../images/pfps/apmuhIrqlYHRI9My9skrzSnSGREF4WrT.png" class="profile-picture"/></a> <a href="members/toonster123">toonster123</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>