---
title: sierralb
sidebar: home_sidebar
hide_sidebar: true
keywords: sierralb
permalink: members/sierralb
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/WlP4ZC3SxJebIhtLpJYDSGwL1Nha2TrO.jpg" alt="sierralb" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>sierra</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>5</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>53</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>424</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>4</b></li>
        
<li> Rating: <b>75.38%</b> out of <b>13</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/SeanSanczel"><img src="../images/pfps/ty4ts7vuze7d0asmqd4vzwv2fr5wmoj5deptd8e0eb45bkfpnacdvx6ydzkpeujfzwy0w2sSeanHeadshot2.jpg" class="profile-picture"/></a> <a href="members/SeanSanczel">SeanSanczel</a></li>
                    
    <li><a href="members/luckylisa1998"><img src="../images/pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" class="profile-picture"/></a> <a href="members/luckylisa1998">luckylisa1998</a></li>
                    
    <li><a href="members/peachy121"><img src="../images/pfps/QgzyFHV7xBW2CSl5qbOASiKvrOFGrin7.gif" class="profile-picture"/></a> <a href="members/peachy121">peachy121</a></li>
                    
    <li><a href="members/Buns"><img src="../images/pfps/ATHqW8WhHvD8lsg5A4vB0wuy3BS1oQAn.gif" class="profile-picture"/></a> <a href="members/Buns">Buns</a></li>
                    
    <li><a href="members/koolz"><img src="../images/pfps/h6ya8gqmxs6w0yrindg7mhfk08chckijh7hfcxpzgmn5b2fm3mhesopjnprqxxx4t47tsnjPicture 029.jpg" class="profile-picture"/></a> <a href="members/koolz">koolz</a></li>
                    
    <li><a href="members/Whidey"><img src="../images/pfps/l7vDPsqrepOhMfwvqC6IDJS1FF3xGdRr.jpg" class="profile-picture"/></a> <a href="members/Whidey">Whidey</a></li>
                    
    <li><a href="members/Fail155"><img src="../images/pfps/f42hm6TIN1BM6hFm1suFeIwyQnIYfOXB.png" class="profile-picture"/></a> <a href="members/Fail155">Fail155</a></li>
                    
    <li><a href="members/Music_Video_Mania"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Music_Video_Mania">Music_Video_Mania</a></li>
                    
    <li><a href="members/samid11"><img src="../images/pfps/jmBV48LhObQAvyYEHSHf48HC78i4ewuC.gif" class="profile-picture"/></a> <a href="members/samid11">samid11</a></li>
                    
    <li><a href="members/Cpfanamations"><img src="../images/pfps/rhlUVZ1ZRgoOWf9yxALq0Pli9uzQvZda.jpg" class="profile-picture"/></a> <a href="members/Cpfanamations">Cpfanamations</a></li>
                    
    <li><a href="members/webkinzkittygirl99"><img src="../images/pfps/2lKsai8dxjwmOzFo8t968yJIgp0TAEH0.jpg" class="profile-picture"/></a> <a href="members/webkinzkittygirl99">webkinzkittygirl99</a></li>
                    
    <li><a href="members/Nibbles M"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Nibbles M">Nibbles M</a></li>
                    
    <li><a href="members/kbabe"><img src="../images/pfps/ENO0eu87H8xWbKWL37ShgMHsn3vSlEUo.jpg" class="profile-picture"/></a> <a href="members/kbabe">kbabe</a></li>
                    
    <li><a href="members/renee"><img src="../images/pfps/RoE2MGkWNZGC8pp2naYeicpAMTfOMr7d.gif" class="profile-picture"/></a> <a href="members/renee">renee</a></li>
                    
    <li><a href="members/josephfour"><img src="../images/pfps/Kc5XzpeHPwihw2IZVJhBs33y1F4uXuAh.gif" class="profile-picture"/></a> <a href="members/josephfour">josephfour</a></li>
                    
    <li><a href="members/ZeldaSonicfan"><img src="../images/pfps/FuV0geuCSU4smA35BsxgmgOnPAB4nHiq.gif" class="profile-picture"/></a> <a href="members/ZeldaSonicfan">ZeldaSonicfan</a></li>
                    
    <li><a href="members/ashleybear"><img src="../images/pfps/6MGnUKHvRMIyoaTnnnsu3ybXuvElGBdA.jpg" class="profile-picture"/></a> <a href="members/ashleybear">ashleybear</a></li>
                    
    <li><a href="members/thevideogamemaster"><img src="../images/pfps/mR4TbRUGPjNkfZcsPAM0P0BH9ki7TJf3.png" class="profile-picture"/></a> <a href="members/thevideogamemaster">thevideogamemaster</a></li>
                    
    <li><a href="members/KaylaAndSissy"><img src="../images/pfps/A71cMT4ynrPOvwQ8HVih7nyiy2zxyTlw.png" class="profile-picture"/></a> <a href="members/KaylaAndSissy">KaylaAndSissy</a></li>
                    
    <li><a href="members/cheeta sistas"><img src="../images/pfps/Vby13lxX9ZkWknHe6IydRXdMa94GhAB2.jpg" class="profile-picture"/></a> <a href="members/cheeta sistas">cheeta sistas</a></li>
                    
    <li><a href="members/Pokemonshow"><img src="../images/pfps/4HRJhbAeEvXgJTCB8CWdU4b1Uoy4oCXh.png" class="profile-picture"/></a> <a href="members/Pokemonshow">Pokemonshow</a></li>
                    
    <li><a href="members/Candy_Pop"><img src="../images/pfps/RoIiaBPvp50NLwAEH2gWNs1M0HI57AcM.png" class="profile-picture"/></a> <a href="members/Candy_Pop">Candy_Pop</a></li>
                    
    <li><a href="members/IvyTheEspeon"><img src="../images/pfps/QUfHq7br0He8Yiw9hY5p7mtKxVctd2ar.png" class="profile-picture"/></a> <a href="members/IvyTheEspeon">IvyTheEspeon</a></li>
                    
    <li><a href="members/youtubelover"><img src="../images/pfps/oRFvD9q3u4LnyChT4UllD7AvpS4z4qij.jpg" class="profile-picture"/></a> <a href="members/youtubelover">youtubelover</a></li>
                    
    <li><a href="members/pinkpink213"><img src="../images/pfps/zphiu6kfxpb0d22g56efwp0yx73hnj5cybih7tov6nkadbf87hcuu2hixaqbjjb7jjdf3pzPhoto 199.jpg" class="profile-picture"/></a> <a href="members/pinkpink213">pinkpink213</a></li>
                    
    <li><a href="members/taylorswift323"><img src="../images/pfps/VPn8Hce5hvrekDIaHNBFftwGA7JhHmKc.gif" class="profile-picture"/></a> <a href="members/taylorswift323">taylorswift323</a></li>
                    
    <li><a href="members/kierracangetoff"><img src="../images/pfps/jVcy17vYMUy6vJAPmmsTvV6ht8TfSYC2.gif" class="profile-picture"/></a> <a href="members/kierracangetoff">kierracangetoff</a></li>
                    
    <li><a href="members/ifcupidhadaheart"><img src="../images/pfps/7OTvk11LRs5vqi7dAfDUB0iZjKYxWahS.jpg" class="profile-picture"/></a> <a href="members/ifcupidhadaheart">ifcupidhadaheart</a></li>
                    
    <li><a href="members/kayla68"><img src="../images/pfps/n6Ew5cRGgYecTiCPzHVZxLlqOl3SQ493.jpg" class="profile-picture"/></a> <a href="members/kayla68">kayla68</a></li>
                    
    <li><a href="members/demilovatoiscool"><img src="../images/pfps/kKUYgYZcHKmxw9Tt45gqwdc5jSK572dg.jpg" class="profile-picture"/></a> <a href="members/demilovatoiscool">demilovatoiscool</a></li>
                    
    <li><a href="members/opal_1998"><img src="../images/pfps/oUxga9SQ4YnSWFVdYo6nTRuh2veRYClC.gif" class="profile-picture"/></a> <a href="members/opal_1998">opal_1998</a></li>
                    
    <li><a href="members/hipangel"><img src="../images/pfps/zBDwjYfQlRaYLlVkcFsZ9HA14j1CagBP.jpg" class="profile-picture"/></a> <a href="members/hipangel">hipangel</a></li>
                    
    <li><a href="members/Stuntman Jax"><img src="../images/pfps/CK038bD8aJgrKtQN9qxVhvAoqRrDS64T.png" class="profile-picture"/></a> <a href="members/Stuntman Jax">Stuntman Jax</a></li>
                    
    <li><a href="members/Drawer L 1"><img src="../images/pfps/Vc0Pw10EVV81PVGrtjUkVZmjYJQdbBGu.jpg" class="profile-picture"/></a> <a href="members/Drawer L 1">Drawer L 1</a></li>
                    
    <li><a href="members/pokemon kid"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/pokemon kid">pokemon kid</a></li>
                    
    <li><a href="members/Bunglebee"><img src="../images/pfps/5eDkTBIDtqdQSOGM4S2ihVfWPYd7ROpK.jpg" class="profile-picture"/></a> <a href="members/Bunglebee">Bunglebee</a></li>
                    
    <li><a href="members/LightningandTabby"><img src="../images/pfps/laZ3cKzA7z0Q0Ms8a6vczlWNylxPw6xX.jpg" class="profile-picture"/></a> <a href="members/LightningandTabby">LightningandTabby</a></li>
                    
    <li><a href="members/spongeybrown124"><img src="../images/pfps/JwGbD7Wb6kKPwrqXRidniEXSrC5T7KoE.gif" class="profile-picture"/></a> <a href="members/spongeybrown124">spongeybrown124</a></li>
                    
    <li><a href="members/giggle_pie_mew"><img src="../images/pfps/KF1tcmy7MMLjPVSNCHn60qCiEUZTqKjy.gif" class="profile-picture"/></a> <a href="members/giggle_pie_mew">giggle_pie_mew</a></li>
                    
    <li><a href="members/brittanythree"><img src="../images/pfps/8v6ayykgx2tbkc46uk3ojf2cab7nz6qxrnxec6mxw5y75s3p3u3e0vg0xcem8saq3xv3u5s4070194565_435d5f4af9_t.jpg" class="profile-picture"/></a> <a href="members/brittanythree">brittanythree</a></li>
                    
    <li><a href="members/sammylover"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/sammylover">sammylover</a></li>
                    
    <li><a href="members/oldvideogamedude"><img src="../images/pfps/LsU8eEMCzeYuDYz4cOxEbWZjrbQfeKZp.jpg" class="profile-picture"/></a> <a href="members/oldvideogamedude">oldvideogamedude</a></li>
                    
    <li><a href="members/XTictacs123X"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/XTictacs123X">XTictacs123X</a></li>
                    
    <li><a href="members/francis14"><img src="../images/pfps/Hb6RY4dJP8eSk37PneWq7Ak5BR5M0LW5.jpg" class="profile-picture"/></a> <a href="members/francis14">francis14</a></li>
                    
    <li><a href="members/ups30"><img src="../images/pfps/c2fQymc3iWHXZiDb3o4r9vQ43DxLS64u.png" class="profile-picture"/></a> <a href="members/ups30">ups30</a></li>
                    
    <li><a href="members/FredFan1126"><img src="../images/pfps/SOjb9J3sfHWgLiMTOyUy8HZkmd9tYReq.gif" class="profile-picture"/></a> <a href="members/FredFan1126">FredFan1126</a></li>
                    
    <li><a href="members/Justinbiebersgf"><img src="../images/pfps/n3eBsropKReZaiLUR0iEEbuuu6dCua3X.jpg" class="profile-picture"/></a> <a href="members/Justinbiebersgf">Justinbiebersgf</a></li>
                    
    <li><a href="members/mauriel1614"><img src="../images/pfps/MQf4kfl3cdCfIPDF8i6t7c6ycUoALMTX.jpg" class="profile-picture"/></a> <a href="members/mauriel1614">mauriel1614</a></li>
                    
    <li><a href="members/XMoonLite08X"><img src="../images/pfps/567Ydx3sYrI8pMFGYlvgCNxifw4ixO0s.gif" class="profile-picture"/></a> <a href="members/XMoonLite08X">XMoonLite08X</a></li>
                    
    <li><a href="members/Jordi17"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Jordi17">Jordi17</a></li>
                    
    <li><a href="members/xoxbanana3"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/xoxbanana3">xoxbanana3</a></li>
                    
    <li><a href="members/99gurl"><img src="../images/pfps/tBQwTRcS3yd7bukU7NUbueOL7Ccy02th.jpg" class="profile-picture"/></a> <a href="members/99gurl">99gurl</a></li>
                    
    <li><a href="members/justinbieber0411"><img src="../images/pfps/QT4eSib8TMDdEvuxgqcK05F3WkrND1WR.jpg" class="profile-picture"/></a> <a href="members/justinbieber0411">justinbieber0411</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/neon_love13" file="pfps/placeholder.gif" alt="neon_love13" %}

<p><b>Username:</b> <a href="members/neon_love13">neon_love13</a></p>

<p><b>Date:</b> 2010-10-27 17:45:20</p>

<p class="comment"><b>Comment:</b> <p> YOU ARE SOOO NOT JB'S COUSIN!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/sierralb" file="pfps/WlP4ZC3SxJebIhtLpJYDSGwL1Nha2TrO.jpg" alt="sierralb" %}

<p><b>Username:</b> <a href="members/sierralb">sierralb</a></p>

<p><b>Date:</b> 2010-09-04 12:43:44</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: larger;">who wonts to keep writing on my profile that,way we will be like chatin.......to each other</span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/sierralb" file="pfps/WlP4ZC3SxJebIhtLpJYDSGwL1Nha2TrO.jpg" alt="sierralb" %}

<p><b>Username:</b> <a href="members/sierralb">sierralb</a></p>

<p><b>Date:</b> 2010-09-04 12:41:06</p>

<p class="comment"><b>Comment:</b> <p>nm u???just paintin my room</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/XTictacs123X" file="pfps/placeholder.gif" alt="XTictacs123X" %}

<p><b>Username:</b> <a href="members/XTictacs123X">XTictacs123X</a></p>

<p><b>Date:</b> 2010-07-27 11:46:32</p>

<p class="comment"><b>Comment:</b> <p> </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/webkinzkittygirl99" file="pfps/2lKsai8dxjwmOzFo8t968yJIgp0TAEH0.jpg" alt="webkinzkittygirl99" %}

<p><b>Username:</b> <a href="members/webkinzkittygirl99">webkinzkittygirl99</a></p>

<p><b>Date:</b> 2010-07-26 13:55:55</p>

<p class="comment"><b>Comment:</b> <p>Jello! lol. ok Whats up?</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/renee" file="pfps/fMu3ZsZiMWoKVTngT3XScf4khPzI9akd.gif" alt="renee" %}

<p><b>Username:</b> <a href="members/renee">renee</a></p>

<p><b>Date:</b> 2010-07-26 12:49:10</p>

<p class="comment"><b>Comment:</b> <p>cool</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>