---
title: sonic4896
sidebar: home_sidebar
hide_sidebar: true
keywords: sonic4896
permalink: members/sonic4896
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/m8Y9XDRPojVFT0uKPYl0XJXZoGSDumcU.jpg" alt="sonic4896" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b></b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>4</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>6</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>2374</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>84%</b> out of <b>5</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Sticks 1</li>
<img src="{{"../images/thumb/MgYtPrrLYsXNnZpIaXfu.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Sticks 2</li>
<img src="{{"../images/thumb/eGMMbeY4QoBJYLKZcTGv.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Sticks 3</li>
<img src="{{"../images/thumb/qwCYNlF0CUQzbcfDaTiJ.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Elevator Problem</li>
<img src="{{"../images/thumb/RJoZWTPDEJYnefaRJJSa.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Sticks 4</li>
<img src="{{"../images/thumb/5tkufbnHM0aD40bx2gtA.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Steve & Rodger</li>
<img src="{{"../images/thumb/bntUamOgDNbLPrMjPmFG.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Sticks Idk</li>
<img src="{{"../images/thumb/1_61931.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Steve--Rodger</li>
                
ummm me and my friend made this i can make it faster thou and this is sort of like whidey so i sort of copied srry
                
                <br>
Added: 06-10-2009
                
</ul>
                
<ul>
<li>Steves-Gameboy</li>
                
Please help him in the game!
                
                <br>
Added: 12-10-2009
                
</ul>
                
<ul>
<li>Steve--Toby-Go-Camping-1</li>
                
Toby!
                
                <br>
Added: 20-10-2009
                
</ul>
                
<ul>
<li>Steves-Gameboy</li>
                
LOL AT TA TAGS
                
                <br>
Added: 11-11-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Gatswimmer"><img src="../images/pfps/dZuM8HLOJJEHyPxVEp2XOmeTOvT7cBW3.gif" class="profile-picture"/></a> <a href="members/Gatswimmer">Gatswimmer</a></li>
                    
    <li><a href="members/Whidey"><img src="../images/pfps/l7vDPsqrepOhMfwvqC6IDJS1FF3xGdRr.jpg" class="profile-picture"/></a> <a href="members/Whidey">Whidey</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/PringleMarleylove"><img src="../images/pfps/udyt20t8jsug3zi6qyrsfndzt70pa0ju2acv0vuaede80o3hbkxgv26gzvt0m0jeynxr6gpbrown carramelldansen dog.gif" class="profile-picture"/></a> <a href="members/PringleMarleylove">PringleMarleylove</a></li>
                    
    <li><a href="members/bravepivotsora"><img src="../images/pfps/pw7c8ytqavzpxqab7ao434066a2gr5v5sr7php4fbuuwavy7td2n5shzsb674t3kb0zggsmflips.gif" class="profile-picture"/></a> <a href="members/bravepivotsora">bravepivotsora</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/marquezgirl07" file="pfps/jd40qeuj3nyw2rapfpc5dsoofmhwyksamoy3sjdjw26nh42nj3hnjvyp86cxhvvu7koospxLake Dallas Falcon.jpg" alt="marquezgirl07" %}

<p><b>Username:</b> <a href="members/marquezgirl07>marquezgirl07</a></p>

<p><b>Date:</b> 2010-06-14 21:01:19</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large; "><em><u><strong><span style="color: rgb(0, 255, 255); "><span style="font-family: 'Comic Sans MS'; "> hi !  i like your profile picture!  i love the awesome face!!!   lol</span></span></strong></u></em></span></p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>