---
title: SonicFanSupreme
sidebar: home_sidebar
hide_sidebar: true
keywords: SonicFanSupreme
permalink: members/SonicFanSupreme
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/8xzq3hjs82vm7qn0rjeyhmnwh85skh6j3uywz6dzywawemmtvoi00uo8thq5pkdi5z3ww4kSonic - Waiting.gif" alt="SonicFanSupreme" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>6</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>1</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>What I think the Spongebob theme is when it's backwards.</li>
<img src="{{"../images/thumb/1_26679.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Soniksezward</li>
                
SONIKSEZWARD BE FAGHT!
                
                <br>
Added: 18-09-2009
                
</ul>
                
<ul>
<li>Jackino-20</li>
                
Pwez stard tuu upgwade!
                
                <br>
Added: 01-10-2009
                
</ul>
                
<ul>
<li>Jackino--Sonicsezward--Sonikezinoward</li>
                
Sonikezinoward is more powerful than The Tails Doll, Squidward, Jackino, Weegee, Sonicsezward, but not as powerful as Chuck Norris or Malleo. This is my character so don't steal, or Sonikezinoward will use Kaoz Zpeer on you!
                
                <br>
Added: 04-10-2009
                
</ul>
                
<ul>
<li>KidsTube Poop - Mario's Mammoth Christmas</li>
                
It's a day when everyone squabbles with eachother and there's this guy named Weegee, who brings bombs to all of the kids and ONLY KIDS!

PS. My first two minute video!
                
                <br>
Added: 10-10-2009
                
</ul>
                
<ul>
<li>KidsTube Poop - Spongebob's Squiddy House Of Mimicry</li>
                
Spongebob is a crying chicken!<br />
Squidward is an angry creep!<br />
Mr. Krabs is a Weegee!<br />
Patrick appears for five seconds!<br />
Favourite, rate and comment if ya want!
                
                <br>
Added: 14-11-2009
                
</ul>
                
<ul>
<li>What I think the Spongebob theme is when it's backwards</li>
                
!dreiw yllaer sdnuos tI. desrever nehw ekil dnuos sciryl bobegnopS eht kniht I woh tuoba si oediv sihT
                
                <br>
Added: 06-12-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/joy126"><img src="../images/pfps/fn0w3zazz5av5b0a6wau50tb4zbds06wexj5mhvdcvw5wo6r84d2ww0rk0s4sqpwcwsp4eqpenguin fj.jpg" class="profile-picture"/></a> <a href="members/joy126">joy126</a></li>
                    
    <li><a href="members/ZeldaSonicfan"><img src="../images/pfps/FuV0geuCSU4smA35BsxgmgOnPAB4nHiq.gif" class="profile-picture"/></a> <a href="members/ZeldaSonicfan">ZeldaSonicfan</a></li>
                    
    <li><a href="members/colby2"><img src="../images/pfps/u7bqtnRSILXAsFXuLSQFfMkBKWo2SOMA.png" class="profile-picture"/></a> <a href="members/colby2">colby2</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>