---
title: sonic0505
sidebar: home_sidebar
hide_sidebar: true
keywords: sonic0505
permalink: members/sonic0505
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/PRrkufbqLel40fXJnqVAyGvc1q1MbMWo.jpg" alt="sonic0505" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>4</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>kung fu kids</li>
<img src="{{"../images/thumb/1_16527.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Numa-numa-kid</li>
                
I had fun when we raised the place star numa numa ah.
                
                <br>
Added: 02-08-2009
                
</ul>
                
<ul>
<li>freecredit-triples</li>
                
friends can have fun
                
                <br>
Added: 02-08-2009
                
</ul>
                
<ul>
<li>eye-of-the-tiger-kid</li>
                
I like to have fun and when I did this is what i felt like singing
                
                <br>
Added: 10-08-2009
                
</ul>
                
<ul>
<li>kung fu kids</li>
                
kids love kung fu
                
                <br>
Added: 10-08-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/vdmman"><img src="../images/pfps/xcsoluea3H3l3jYTtC2M1s9EISsqu7bf.png" class="profile-picture"/></a> <a href="members/vdmman">vdmman</a></li>
                    
    <li><a href="members/manboy10"><img src="../images/pfps/6J5RyJc8ILtxxVempT8fs1enaornoS0k.jpg" class="profile-picture"/></a> <a href="members/manboy10">manboy10</a></li>
                    
    <li><a href="members/Shadow Fan"><img src="../images/pfps/hk7jHF3eKIUCcktI86sUv9NHg9bdi6WD.gif" class="profile-picture"/></a> <a href="members/Shadow Fan">Shadow Fan</a></li>
                    
    <li><a href="members/Shadow_Guy"><img src="../images/pfps/0opry5k7wgwb7g8dp66ki6ap28qnknob20spw2kj87i5dh8sf50m000txg5atj8mbrzvjb3Brambleclaw.jpg" class="profile-picture"/></a> <a href="members/Shadow_Guy">Shadow_Guy</a></li>
                    
    <li><a href="members/scompiepie"><img src="../images/pfps/ukv83ocn03khydh67umzfmv8qyhxswpb587znabe3mjqnrokbzaeatdoijay4pz0oxpyxq0c54s7ye4r36yc4d4ginqme6rikhx8skcoesk3ufkoa8o4ag8htqryk87tfttx3ta7ak0vpb049x049_logo.gif" class="profile-picture"/></a> <a href="members/scompiepie">scompiepie</a></li>
                    
    <li><a href="members/jgr3241"><img src="../images/pfps/zfQer7KCvmRZxPNEIQAUM8yNincsRKlH.jpg" class="profile-picture"/></a> <a href="members/jgr3241">jgr3241</a></li>
                    
    <li><a href="members/Brave_The_Hedgehog"><img src="../images/pfps/ipfbokumgfc5ub5xz4g2q0q42jh80wj7cpaqxuz3z0yjzu7rncj03xww82tzp3yqgy44htxiTails.jpg" class="profile-picture"/></a> <a href="members/Brave_The_Hedgehog">Brave_The_Hedgehog</a></li>
                    
    <li><a href="members/tab40"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/tab40">tab40</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>