---
title: ssonicx
sidebar: home_sidebar
hide_sidebar: true
keywords: ssonicx
permalink: members/ssonicx
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/vjwippuhgr4j5vnwuxk3jdpi35snwkxgtjq8w8e3qadjtp6cbg5jjmsbfap2kba4ko05k4z6a00d83452033569e200e54f6818a88833-800wi.jpg" alt="ssonicx" max-width="100"%}
            
    {% include inline_image.html file="pfps/vjwippuhgr4j5vnwuxk3jdpi35snwkxgtjq8w8e3qadjtp6cbg5jjmsbfap2kba4ko05k4z6a00d83452033569e200e54f6818a" alt="ssonicx" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/DXZ"><img src="../images/pfps/yfrpkqf2epcbrrsjhrod202hueqnyk2prh2zx5t3mt20bk8gznjscd0wffb3q0i588wu4gmDXZ.jpg" class="profile-picture"/></a> <a href="members/DXZ">DXZ</a></li>
                    
    <li><a href="members/gamemaster2000"><img src="../images/pfps/rexuh34r0kcu265ufkpexhqk6rzgtu48yru5knndxnvriramzorpv5zsoox58s3waoqjy0kmypictr_140x185(2).jpg" class="profile-picture"/></a> <a href="members/gamemaster2000">gamemaster2000</a></li>
                    
    <li><a href="members/kdinokid2"><img src="../images/pfps/ki5wVY5ncsMfDc1s3s6MObb1mJBCrK0R.jpg" class="profile-picture"/></a> <a href="members/kdinokid2">kdinokid2</a></li>
                    
    <li><a href="members/FrostTheGlaceon"><img src="../images/pfps/8d5ggteyp0ab7nv4a233jtbwe0u7vpstspzw65jmujksv6otwfn4wms0ebyxqgh6v6uq24zGlaceon.png" class="profile-picture"/></a> <a href="members/FrostTheGlaceon">FrostTheGlaceon</a></li>
                    
    <li><a href="members/pokeman"><img src="../images/pfps/e0tjpo665fvnk7hxzeryrb78iioajpbmfuus6rp3w8e57mrxpan68j5hqki0xhb02vkxcxpdeoxys.jpg" class="profile-picture"/></a> <a href="members/pokeman">pokeman</a></li>
                    
    <li><a href="members/eevee2espeon"><img src="../images/pfps/op7itjbyjkasfctdzkm5xfiu7ry7fjzswyyg8x6h84zf6jgxsttew2ythprmyh4m4rr2eoa__Riolu___by_eevee2espeon.jpg" class="profile-picture"/></a> <a href="members/eevee2espeon">eevee2espeon</a></li>
                    
    <li><a href="members/Roxy25"><img src="../images/pfps/rrs0zsjeh86nhsxgszffqnv60ydgqh47woxm65qc4nna3bgnyjqeuc8nydrfind5yyhtuxtToco Toucan.jpg" class="profile-picture"/></a> <a href="members/Roxy25">Roxy25</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>