---
title: StreetMagic
sidebar: home_sidebar
hide_sidebar: true
keywords: StreetMagic
permalink: members/StreetMagic
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="StreetMagic" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>5</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Vlad Krutskikh & Street Magic - vasil'kovaja strana 2007 V1.</li>
<img src="{{"../images/thumb/1_24468.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>JESC-2005-russiaVlad--Street-Magic-Doroga-K-Solntsu</li>
                
Vladislav Krutskikh & Street Magic sing Doroga K Solntsu at Hasselt(Belgium).<br />
Russia's performance at jesc 2005.<br />
9th final place.<br />
Vladislav Krutskikh & Street Magic representaron a Rusia con Doroga K Solntsu.
                
                <br>
Added: 03-11-2009
                
</ul>
                
<ul>
<li>New-Doroga-k-Solntsu--Vlad-Krutskikh-and-Street-Magic-</li>
                
New version of Doroga k Solntsu ( Road to the sun), Vitebsk 2008<br />
WATCH IN HIGH QUALITY!!!<br />
Vlad Krutskikh & Street Magic<br />
Влад Крутских & Волшебники Двора<br />
http://www.volshebnikidvora.ru (Rus/Eng/Spa)<br />
http://www.streetmagicusa.com<br />
http://tdv.miracle.ru/VolshebnikiDvora/
                
                <br>
Added: 07-11-2009
                
</ul>
                
<ul>
<li>Plakali-zverushki-2008--Vlad-Krutskikh--Street-Magic</li>
                
Обновлен | Updated<br />
Спасибо за запись Денису<br />
<br />
Дата:22.07.2008 14:54:34<br />
<br />
Aqui otro video disfrutenlo y una subscripcion a mi canal ;)<br />
-------------------------------------<br />
Aqui otro video, disfrutenlo.<br />
subscripcion a mi canal:D
                
                <br>
Added: 12-11-2009
                
</ul>
                
<ul>
<li>Vlad-Krutskikh--Street-magic-in-Belarus-2007</li>
                
Vlad Krutskikh & Street magic in Belarus 2007 singing in Minsk
                
                <br>
Added: 13-11-2009
                
</ul>
                
<ul>
<li>Vlad-Krutskikh--Street-Magic--vasilkovaja-strana-2007-V1</li>
                
2007_vasil'kovaja_strana
                
                <br>
Added: 13-11-2009
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>