---
title: techhead
sidebar: home_sidebar
hide_sidebar: true
keywords: techhead
permalink: members/techhead
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/psvTdPdoA5lxQK1YdBaRI1egJrRmOYC1.jpg" alt="techhead" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>3</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>6</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Pokemon Black and White HQ</li>
<img src="{{"../images/thumb/1_58420.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Food-Coloring-Prank</li>
                
using only Yellow food coloring and a glass of milk you can create a very good prank
                
                <br>
Added: 20-02-2010
                
</ul>
                
<ul>
<li>Computer-Crash</li>
                
BLUE SCREEN OF DEATH!!!!!
                
                <br>
Added: 01-03-2010
                
</ul>
                
<ul>
<li>CollegeHumor-Originals-Luigi-Finally-Snaps</li>
                
http://www.collegehumor.com/originals
                
                <br>
Added: 15-05-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/J2B"><img src="../images/pfps/zvNlWJ6xzd9N6inXiglz6JPDLi6EXfdM.png" class="profile-picture"/></a> <a href="members/J2B">J2B</a></li>
                    
    <li><a href="members/GeekyGirlGamer"><img src="../images/pfps/q16UwhCXjJLBANxXbI8MPmhDDwE5BuCr.gif" class="profile-picture"/></a> <a href="members/GeekyGirlGamer">GeekyGirlGamer</a></li>
                    
    <li><a href="members/catty1"><img src="../images/pfps/HgbE5tnJpb5pdEsakUc9lCU3iL8n2E67.jpg" class="profile-picture"/></a> <a href="members/catty1">catty1</a></li>
                    
    <li><a href="members/RukiaKuchki1997"><img src="../images/pfps/vwtruk8od03qrfzo0fp8i87bvsq7xd2hxmyivvuwmpd3s0fh6sgercfdttbfu2nicapvubj11136_101396623221793_100000543672702_37855_6916117_n.jpg" class="profile-picture"/></a> <a href="members/RukiaKuchki1997">RukiaKuchki1997</a></li>
                    
    <li><a href="members/SnoopyProductions"><img src="../images/pfps/vZKd3iqLOnyp88Icabn3pbEMxdFlptGa.jpg" class="profile-picture"/></a> <a href="members/SnoopyProductions">SnoopyProductions</a></li>
                    
    <li><a href="members/Nintendoman"><img src="../images/pfps/b6nx8ezquwixkwka6fuihz8d8i7wiqfjks5jwv0fha0swdqtgb0nzzqw8mjhzpqb6jmr6dxthenintendoman2.jpg" class="profile-picture"/></a> <a href="members/Nintendoman">Nintendoman</a></li>
                    
    <li><a href="members/ANGIE LUVZ U"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ANGIE LUVZ U">ANGIE LUVZ U</a></li>
                    
    <li><a href="members/Buckeyesfan"><img src="../images/pfps/da82zxokcjwyt2rn032bzwws8t3x4jh7jf073dg5n3t4wbim3bkrv77ur0imbpijuahobpj1.jpg" class="profile-picture"/></a> <a href="members/Buckeyesfan">Buckeyesfan</a></li>
                    
    <li><a href="members/jomei"><img src="../images/pfps/EypCJgoR1rNQ6fPrtH2fUePhXj8lceme.png" class="profile-picture"/></a> <a href="members/jomei">jomei</a></li>
                    
    <li><a href="members/TreeckoFan202"><img src="../images/pfps/e3bjtd2xj4qw6nr0divj84x7xhztvkizchbvk0jtt0grcvig42o2wazihqz4y8sygrkqis7treecko1[1].gif" class="profile-picture"/></a> <a href="members/TreeckoFan202">TreeckoFan202</a></li>
                    
    <li><a href="members/luxray"><img src="../images/pfps/dXDJV6N97mJGHH6MG3xghC0wrirLuZiN.jpg" class="profile-picture"/></a> <a href="members/luxray">luxray</a></li>
                    
    <li><a href="members/jessrocks18"><img src="../images/pfps/6CkN7WgXWWOQy0ChyjErug1Wddkn9Zg5.gif" class="profile-picture"/></a> <a href="members/jessrocks18">jessrocks18</a></li>
                    
    <li><a href="members/thelightningthief"><img src="../images/pfps/iMlibhzn1pG5o1uyCSKdKoAjki0R5vre.png" class="profile-picture"/></a> <a href="members/thelightningthief">thelightningthief</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>