---
title: thatsourotter2
sidebar: home_sidebar
hide_sidebar: true
keywords: thatsourotter2
permalink: members/thatsourotter2
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="thatsourotter2" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>48</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>NBC Ident Silent</li>
<img src="{{"../images/thumb/1_68416.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Screen Gems/Sony Pictures Television (19??)</li>
<img src="{{"../images/thumb/1_128643.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Cartoon-Nothing-Too-EMEA-launch</li>
                
Cartoon Nothing Too EMEA Launch- July 4th,2011. one of my first  launch projects in the cartoon nothing too series.
COMING SOON: Cartoon Nothing Too Canada launch
UPDATE:I Can't Do Anymore Cartoon Nothing Too Projects Because I Lost Sony Vegas.

actualización:No puede hacer más nada de dibujos animados demasiados proyectos porque he perdido Sony Vegas
                
                <br>
Added: 18-07-2011
                
</ul>
                
<ul>
<li>New-Cookie-Jar-TV-PromoStartup-On-WDBJ-7</li>
                
This Is The CJTV Promo And Startup On WDBJ 7. I recorded Part Of DRR To Show That CJTV Was Starting Up. This Was The First SMB To Start Up In My Area. apoligies for audio.
                
                <br>
Added: 30-07-2011
                
</ul>
                
<ul>
<li>Game--Watch-Marios-Cement-Factory</li>
                
Game & Watch: Mario's Cement Factory.
Apologies For Camera
                
                <br>
Added: 31-07-2011
                
</ul>
                
<ul>
<li>Crazy-Frogs-Ding-Dong-Song-Ringtone-Adv</li>
                
Crazy Frogs "Ding Dong Song" Ringtone  Advert. Text "Ding" To 75555 To Get The Ding Dong Song As Your New Ringtone! Now Accepting Video Requests. Please Tell Me How To Post Comments. Having Hard Time! Thanks
                
                <br>
Added: 04-08-2011
                
</ul>
                
<ul>
<li>Mario-Kart-CW-Beta-Collection-P1</li>
                
Mario Kart CW Beta Collection. Song: Electronica Song By Music Shake (I Tweaked It A Bit) Footage Has been Edited For time
                
                <br>
Added: 05-08-2011
                
</ul>
                
<ul>
<li>The-Hub--Suspicious-Activity</li>
                
Lately,The Hub Has Been Doing Suspicious Activity.
                
                <br>
Added: 05-08-2011
                
</ul>
                
<ul>
<li>CW25-Kewlopolois-And-Secret-Slumber-Party-Promos</li>
                
These Are The CW25 Promos For KO And SSS. Idont Like These cuz im not a girl. just wanted something to do. i dont live in nc.
                
                <br>
Added: 08-08-2011
                
</ul>
                
<ul>
<li>NBC-ID-Gumball-MY-MOST-VIEWED-VIDEO</li>
                
This Is An NBC ID. This ID features A Clip From The Amazing World Of Gumball.
                
                <br>
Added: 10-08-2011
                
</ul>
                
<ul>
<li>The-Incredible-World-Of-Noggin-TIWOD-Spoof</li>
                
Noggin Gets In The Middle Of A TIWOD Logo
                
                <br>
Added: 10-08-2011
                
</ul>
                
<ul>
<li>Nickelodeon-Mistake</li>
                
0o0
                
                <br>
Added: 15-08-2011
                
</ul>
                
<ul>
<li>The-CW-Breakdown--August-15th-2011</li>
                
The CW BReakdown During The Program "Plain Jane". They Are Trying to fix it.
                
                <br>
Added: 15-08-2011
                
</ul>
                
<ul>
<li>Bright-House-Time-Warner-Cable-Net-Adv</li>
                
Coming Christmas 2011
                
                <br>
Added: 15-08-2011
                
</ul>
                
<ul>
<li>CBS-ID-1992-1995</li>
                
Isn't This Cool?
CBS Animation From '92-'95
                
                <br>
Added: 15-08-2011
                
</ul>
                
<ul>
<li>20th-Century-FOX-Logo</li>
                
Tooken From "The Simpsons Movie". sorry about the end.
                
                <br>
Added: 15-08-2011
                
</ul>
                
<ul>
<li>Disney-Channel-ClosedownDisney-Junior-Startup</li>
                
This Is (Bad Quality) footage of disney junior starting up on tuesday aug. 16, 2011 at 05:57/05:58-06:00/06:01am
                
                <br>
Added: 16-08-2011
                
</ul>
                
<ul>
<li>Jetix-XTV-TUFF-Puppy-Promo-English-1</li>
                
Off Sync. Sorry
COMING SOON: Various Jetix XTV Bumpers and stuff
                
                <br>
Added: 18-09-2011
                
</ul>
                
<ul>
<li>Cat-Rescue-Super-Fail</li>
                
My Best Kidstube Poop EVR!
                
                <br>
Added: 07-10-2011
                
</ul>
                
<ul>
<li>Alex-Gets-Grounded-For-Getting-A-Youtube-Account</li>
                
Poor Alex
                
                <br>
Added: 13-10-2011
                
</ul>
                
<ul>
<li>JETIX-NL-2007--Continuity--Promo--Ident-My-Version</li>
                
JETIX NL (2007) - Continuity / Promo / Ident,
With Greeny Michael Outro.
                
                <br>
Added: 17-10-2011
                
</ul>
                
<ul>
<li>JETIX-NL-2007--Continuity--Promo--Ident</li>
                
Another Try.
                
                <br>
Added: 17-10-2011
                
</ul>
                
<ul>
<li>important-message</li>
                
important message
                
                <br>
Added: 22-10-2011
                
</ul>
                
<ul>
<li>Cartoon-Nothing--3hr30min-Ahead-lineup-Final-Day</li>
                
Cartoon Nothing -  3hr.30min Ahead lineup Final Day
                
                <br>
Added: 23-10-2011
                
</ul>
                
<ul>
<li>The-Hub-Clip-Dan-VS-Pinkie-Pie-WidescreenHQ</li>
                
(C) 2010 2011 Hasbro
(C) 2010 2011 Discovery Networks
All Rights Reserved
No Copyright Infringement Intended
                
                <br>
Added: 28-10-2011
                
</ul>
                
<ul>
<li>YTV-2006-Ending-Logo-Long</li>
                
Taken From Prank Patrol
                
                <br>
Added: 28-10-2011
                
</ul>
                
<ul>
<li>Cartoon-Maybe-Launch--102911</li>
                
Cartoon Maybe Launch - 10.29.11
                
                <br>
Added: 29-10-2011
                
</ul>
                
<ul>
<li>Jetix-Mini-Break-10-28-11</li>
                
Jetix
                
                <br>
Added: 29-10-2011
                
</ul>
                
<ul>
<li>Johnny-Test-Dream-Logo-Combos-v1-4</li>
                
The CW,YTV (2006,2010,1995,1997),DiC/Cinar. This Is For Your Entertainment
                
                <br>
Added: 30-10-2011
                
</ul>
                
<ul>
<li>Magna-Greg-Episode-2-Magna-Greg-Vs-The-Nutcracker-Rolls</li>
                
This Is The 2nd Episode Of Magna Greg, And I Like It Better Than The 1st One!
                
                <br>
Added: 04-11-2011
                
</ul>
                
<ul>
<li>TeletoonCinarNicktoons-Blue-Kittens</li>
                
Tooken From "Magna Greg"
                
                <br>
Added: 05-11-2011
                
</ul>
                
<ul>
<li>Magna-Greg-Season-2-Intro</li>
                
This Will Be The Intro That Will Be Used In Season 2 of Magna Greg. Season 3 Intro Will Be Coming Soon
                
                <br>
Added: 07-11-2011
                
</ul>
                
<ul>
<li>qubo-Channel-continuity-For-November-9th-2011</li>
                
qubo Channel on 9 Nov 11. Captured From An Over-The-Air Module
                
                <br>
Added: 09-11-2011
                
</ul>
                
<ul>
<li>Entree-Tries-To-Eat-Peri-To-Unfitting-Music</li>
                
i dont own anything
                
                <br>
Added: 17-11-2011
                
</ul>
                
<ul>
<li>YTV-A-Shaw-Company-Rejected-Logo-1998</li>
                
A Rejected YTV Logo With 1997 Music And Flashing Color Text. This Was Taken From "The World Of Mr. Cube" A Rejected CGI Animated Series. This May Also Explain Why The Logo Was Rejected
                
                <br>
Added: 19-11-2011
                
</ul>
                
<ul>
<li>fox</li>
                
fox
                
                <br>
Added: 25-11-2011
                
</ul>
                
<ul>
<li>Magna-Phantom-Credits-High-Quality</li>
                
These Credits Are The Credits Currently Used In Magna Phantom. No Copyright Infringment Intended
                
                <br>
Added: 19-12-2011
                
</ul>
                
<ul>
<li>CRACKWARDmt2s</li>
                
MMMMMMMMMMMMMMM
                
                <br>
Added: 06-01-2012
                
</ul>
                
<ul>
<li>The-Amazing-World-Of-Gumball-FULL-Intro</li>
                
This Is The Full Intro Of TAWOG You Don't Find On  United States Television,except for once,
                
                <br>
Added: 15-01-2012
                
</ul>
                
<ul>
<li>PoopTV</li>
                
REALLAER
                
                <br>
Added: 20-01-2012
                
</ul>
                
<ul>
<li>Mario-Kart-DS-Kiosk-Demo-CPU-Race-720p</li>
                
When All Else Fails,Watch The CPU Race!
                
                <br>
Added: 28-01-2012
                
</ul>
                
<ul>
<li>Mario-Kart-CW-Final-Music-Replace-Codes-720p</li>
                
Using European Version. I'm Not European, I Can't Get MKCW American Codes To Work,
Codes I Used:
Replace Dokan Course Music W/ Wifi Menu:
121DB55C 00000198
Replace Bowser Castle Music w/ Peach Gardens:
121DB584 00000264
Replace Title Screen Music W/ Unused Music?
121DB4E4 000001B0
Replace Single Player Menu w/ Figure 8 Circuit
121DB4E8 000004EC
                
                <br>
Added: 05-02-2012
                
</ul>
                
<ul>
<li>Me-Playing-Mario-Kart-CW-American-In-DeSmuME</li>
                
Me Playing Mario Kart CW (American) In DeSmuME!
                
                <br>
Added: 05-02-2012
                
</ul>
                
<ul>
<li>Mario-Kart-DS-Textured-Staffrol-True</li>
                
I Am Currently Making A "Hack*" Of Mario Kart DS, And I Found A Texturized Version Staffroll True. I Am Still Working On It./n*Hack Is Basically Taking Out Regular Tracks And Replacing Them With Beta Ones. It Should Be Legal
                
                <br>
Added: 17-02-2012
                
</ul>
                
<ul>
<li>Mario-Kart-DS-Evolution-Textured-Award-Course</li>
                
I Also Found A Texturized Award Course Along With The Discovery Of A Texturized Staffroll And StaffrollTrue./nDiffrences:
No Confetti./nThe "No Confetti" Part Could've Been An Emulation Error Or Something.\/nLeft To Do:
Fix All The Other Courses
Make All The Characters R.O.B
                
                <br>
Added: 17-02-2012
                
</ul>
                
<ul>
<li>MKDS-Evolution-Textured-Award-Course-NOT-the-bloopers</li>
                
I Also Found A Texturized Award Course Along With The Discovery Of A Texturized Staffroll And StaffrollTrue./nDiffrences: No Confetti./nThe "No Confetti" Part Could've Been An Emulation Error Or Something.\/nLeft To Do: Fix All The Other Courses Make All The Characters R.O.B
P.S., These Aren't The Bloopers This Time
                
                <br>
Added: 17-02-2012
                
</ul>
                
<ul>
<li>Screen-GemsSony-Pictures-Television-19</li>
                
Taken From "Bewitched"
RECORDED FROM WSLS-DT3 ON 3/13 8:29p EST
NO COPYRIGHT INFRINGEMENT INTENDED
ALL CONTENT BELONGS TO ITS ORIGINAL OWNERS.
                
                <br>
Added: 03-03-2013
                
</ul>
                
<ul>
<li>Bethany-Mild-Credits</li>
                
Bethany Mild Is Not Mine. It Belongs To  YouTube User. I Made The Credits Just For Fun!
                
                <br>
Added: 03-11-2011
                
</ul>
                
<ul>
<li>R4i-VIDS-COMIN-SOON</li>
                
Stay Tuned!
                
                <br>
Added: 14-01-2012
                
</ul>
                
<ul>
<li>Bethany-Mild-Credits</li>
                
Bethany Mild Is Not Mine. It Belongs To  YouTube User. I Made The Credits Just For Fun!
                
                <br>
Added: 03-11-2011
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>