---
title: the v8 kid
sidebar: home_sidebar
hide_sidebar: true
keywords: the v8 kid
permalink: members/the v8 kid
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/Ys46u6oq2hgeEic6zqqAKJ1aQgEIVCfu.jpg" alt="the v8 kid" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>matthew</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>21</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>375</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>4</b></li>
        
<li> Rating: <b>100%</b> out of <b>2</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/SeanSanczel"><img src="../images/pfps/ty4ts7vuze7d0asmqd4vzwv2fr5wmoj5deptd8e0eb45bkfpnacdvx6ydzkpeujfzwy0w2sSeanHeadshot2.jpg" class="profile-picture"/></a> <a href="members/SeanSanczel">SeanSanczel</a></li>
                    
    <li><a href="members/pandaboy"><img src="../images/pfps/sVRJnCwUQP7EBaJ0gYufEYssKaPrCDfu.png" class="profile-picture"/></a> <a href="members/pandaboy">pandaboy</a></li>
                    
    <li><a href="members/areuok"><img src="../images/pfps/htz3PDp6OnYaKqPxUwarhmDJGrtwwoTT.jpg" class="profile-picture"/></a> <a href="members/areuok">areuok</a></li>
                    
    <li><a href="members/CARGUY"><img src="../images/pfps/pPMJ1Yd4pYpy1QKKH9a5Da2QKdTZpaRU.gif" class="profile-picture"/></a> <a href="members/CARGUY">CARGUY</a></li>
                    
    <li><a href="members/shortcoolguy"><img src="../images/pfps/MRkqsFaCXYHcPIO3tNZ4FNe3U5DDbp0n.jpg" class="profile-picture"/></a> <a href="members/shortcoolguy">shortcoolguy</a></li>
                    
    <li><a href="members/TRIPLETS"><img src="../images/pfps/eoBp8cXUmPajsp92C0kLQhJ3lmVz0w8T.jpg" class="profile-picture"/></a> <a href="members/TRIPLETS">TRIPLETS</a></li>
                    
    <li><a href="members/treyshim17"><img src="../images/pfps/tgyxkfs6fnwn0jyoxpoh2j7hx7ap5spnxeb8ir3m4qwvxmbkzpsswrxkpxxihdv5gv2ndwyPhoto 27.jpg" class="profile-picture"/></a> <a href="members/treyshim17">treyshim17</a></li>
                    
    <li><a href="members/WigglyXKitten"><img src="../images/pfps/czfififjn6tqxmddjo6gdtnqa4i6keak2dr8mxixszchafiitgpvx2avvgs4kqdeuub4ihscat avatar.gif" class="profile-picture"/></a> <a href="members/WigglyXKitten">WigglyXKitten</a></li>
                    
    <li><a href="members/bunnygirl626"><img src="../images/pfps/xgq4tm07hxh6sdf225qvqbmr8nvsg3a27oxryno68v3qy7ir3xciymxvwjc0dat8pfreq3byou-make-bunny-cry.jpg" class="profile-picture"/></a> <a href="members/bunnygirl626">bunnygirl626</a></li>
                    
    <li><a href="members/Supercat126"><img src="../images/pfps/fvTyHtK82gbe5ROExU5bxRbmkV3kKZ6n.gif" class="profile-picture"/></a> <a href="members/Supercat126">Supercat126</a></li>
                    
    <li><a href="members/Demiluv"><img src="../images/pfps/s8hEcuVV37B3aXHJc84hJpfUi7rdyXEe.jpg" class="profile-picture"/></a> <a href="members/Demiluv">Demiluv</a></li>
                    
    <li><a href="members/CamCorderKid2010"><img src="../images/pfps/R5QH0hTStNR7CN9ekrS1Dc70uUn2tANA.jpg" class="profile-picture"/></a> <a href="members/CamCorderKid2010">CamCorderKid2010</a></li>
                    
    <li><a href="members/logan123456"><img src="../images/pfps/LtMsF73bJSJd1ri2FKH9Fxo6xqTSAGIJ.gif" class="profile-picture"/></a> <a href="members/logan123456">logan123456</a></li>
                    
    <li><a href="members/Sizzleboy2009"><img src="../images/pfps/oB82JYbDcodEQSQdqyzzW4jcDOF04oth.jpg" class="profile-picture"/></a> <a href="members/Sizzleboy2009">Sizzleboy2009</a></li>
                    
    <li><a href="members/theflowerlilly"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/theflowerlilly">theflowerlilly</a></li>
                    
    <li><a href="members/Sabrinak2009"><img src="../images/pfps/OSeRYew36aJ7mDqMUDJGZYNtEwhw85DK.jpg" class="profile-picture"/></a> <a href="members/Sabrinak2009">Sabrinak2009</a></li>
                    
    <li><a href="members/zacattack"><img src="../images/pfps/zKJn0Xp4Cm4GA3yfulrMLpgWL9GtHdy6.png" class="profile-picture"/></a> <a href="members/zacattack">zacattack</a></li>
                    
    <li><a href="members/mattman"><img src="../images/pfps/8e2IbmEwjihrcCyEAGEQfZnWisLU60l4.jpg" class="profile-picture"/></a> <a href="members/mattman">mattman</a></li>
                    
    <li><a href="members/titanic410415"><img src="../images/pfps/zpwaHVTa1ESfc59g3DTBdJVEXsFNgFGT.jpg" class="profile-picture"/></a> <a href="members/titanic410415">titanic410415</a></li>
                    
    <li><a href="members/Yahoozie"><img src="../images/pfps/ZLUNobguTMeLZrQqInuTvw4JfCqmbrL0.png" class="profile-picture"/></a> <a href="members/Yahoozie">Yahoozie</a></li>
                    
    <li><a href="members/sk8kido0622"><img src="../images/pfps/KTJcDPJK7h7L0pIQLvCA2HwenLrm87xI.jpg" class="profile-picture"/></a> <a href="members/sk8kido0622">sk8kido0622</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/wwfpro" file="pfps/placeholder.gif" alt="wwfpro" %}

<p><b>Username:</b> <a href="members/wwfpro">wwfpro</a></p>

<p><b>Date:</b> 2010-12-17 09:15:19</p>

<p class="comment"><b>Comment:</b> <p> that was a very cool blog!</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>