---
title: the223mario
sidebar: home_sidebar
hide_sidebar: true
keywords: the223mario
permalink: members/the223mario
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/F8bJFQ1st6I7c5UDl7JCEaSSiVTcQo2W.png" alt="the223mario" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>1</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>1</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>pokemon soul silver</li>
<img src="{{"../images/thumb/1_53986.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>pokemon-soul-silver</li>
                
ok a pokemon review of soul silver
                
                <br>
Added: 12-04-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/jomei"><img src="../images/pfps/EypCJgoR1rNQ6fPrtH2fUePhXj8lceme.png" class="profile-picture"/></a> <a href="members/jomei">jomei</a></li>
                    
    <li><a href="members/TreeckoFan202"><img src="../images/pfps/e3bjtd2xj4qw6nr0divj84x7xhztvkizchbvk0jtt0grcvig42o2wazihqz4y8sygrkqis7treecko1[1].gif" class="profile-picture"/></a> <a href="members/TreeckoFan202">TreeckoFan202</a></li>
                    
    <li><a href="members/memepop1"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/memepop1">memepop1</a></li>
                    
    <li><a href="members/dannys1234"><img src="../images/pfps/SYHM9eS0LQzWG94aQ6W4F1uv5RjpSQHj.jpg" class="profile-picture"/></a> <a href="members/dannys1234">dannys1234</a></li>
                    
    <li><a href="members/Cninja"><img src="../images/pfps/bUND4ZSoZ9jIfi6tlEAy8D3jldTKLcMk.gif" class="profile-picture"/></a> <a href="members/Cninja">Cninja</a></li>
                    
    <li><a href="members/Amber_the_awesome"><img src="../images/pfps/tBNJgflKH0n2e5Mj4GoGYtXa1dLKyZGg.gif" class="profile-picture"/></a> <a href="members/Amber_the_awesome">Amber_the_awesome</a></li>
                    
    <li><a href="members/coolkidnic"><img src="../images/pfps/d4z3YLFeynKJupaXES4dfJ09bUSW7HWa.gif" class="profile-picture"/></a> <a href="members/coolkidnic">coolkidnic</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>