---
title: TheBFFLShow
sidebar: home_sidebar
hide_sidebar: true
keywords: TheBFFLShow
permalink: members/TheBFFLShow
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/fhtjmvdo4pdghyu3izjeb28usuguk0go6yvikyufcvnjm5csvmwxetgvengoco2adpgoczrTheBFFLShow.gif" alt="TheBFFLShow" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Nailah & Kayla</b></li>
        
<li> Age: <b>2011</b></li>
        
<li> Gender: <b></b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>9</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>5</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>346</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>80%</b> out of <b>4</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>The BFFL Show- Coming Soon!</li>
<img src="{{"../images/thumb/Mt0URzsnmzGUSwKnWiBF.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Short Films by Nailah and Kayla- The Haunted Undershirt that tells ghoststories</li>
<img src="{{"../images/thumb/n0WJxYnzQpxgxyWtjZzx.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The BFFL Show- Attack of the ketchup</li>
<img src="{{"../images/thumb/kyHLdzoqX4M5FSoT3UCS.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>KidsTube Idol Contest</li>
<img src="{{"../images/thumb/kcuXUBlJbslTC2xG0FNt.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The BFFL Show- Funniest Momments</li>
<img src="{{"../images/thumb/FKtMLoNACsFuhWsFJ410.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The BFFL Show- Bathroom Edition</li>
<img src="{{"../images/thumb/hWRLJuKFNhTsvIloPYJD.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Family Trees: Interview with Kayla's Cousin</li>
<img src="{{"../images/thumb/1_11568.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The BFFL Show- Coming Soon!</li>
                
The BFFL Show coming soon!
                
                <br>
Added: 02-05-2009
                
</ul>
                
<ul>
<li>Short Films by Nailah and Kayla- The Haunted Undershirt that tells ghoststories</li>
                
*****READ INFO*****The Haunted Undershirt who tells Ghoststories. The wicked witch (Kayla) turns Katie (Nailah) into Guitar Hero3
                
                <br>
Added: 02-05-2009
                
</ul>
                
<ul>
<li>The BFFL Show- Bathroom Edition</li>
                
Bathroom Editon Random actions take place in Nailah's Bathroom
                
                <br>
Added: 03-05-2009
                
</ul>
                
<ul>
<li>The BFFL Show- Rainforest Edition</li>
                
Rain Forest Edition. Nailah and Kayla make a rainforest in Nailah's garage
                
                <br>
Added: 03-05-2009
                
</ul>
                
<ul>
<li>MUST-WATCH-IMPORTANT</li>
                
WATCH
                
                <br>
Added: 03-05-2009
                
</ul>
                
<ul>
<li>Short Films by Nailah and Kayla- Prank Calls</li>
                
Prank Calls- We are bad prank callers
                
                <br>
Added: 04-05-2009
                
</ul>
                
<ul>
<li>iChange-My-Look</li>
                
Kayla changes her style
                
                <br>
Added: 17-05-2009
                
</ul>
                
<ul>
<li>Best-Friends-Special</li>
                
This i so special
                
                <br>
Added: 31-05-2009
                
</ul>
                
<ul>
<li>Family-Trees-Interview-with-Kaylas-Cousin</li>
                
The o so fabulous Nailah talks about the dazzling cousin of awsome Kayla, Tariq
                
                <br>
Added: 01-06-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/SeanSanczel"><img src="../images/pfps/ty4ts7vuze7d0asmqd4vzwv2fr5wmoj5deptd8e0eb45bkfpnacdvx6ydzkpeujfzwy0w2sSeanHeadshot2.jpg" class="profile-picture"/></a> <a href="members/SeanSanczel">SeanSanczel</a></li>
                    
    <li><a href="members/marawebkinz"><img src="../images/pfps/rv4sgsdyo4ssniy7thrdbsok08qjuacbv6t2pup4n8kzhav0fe3huhsme7tw5wxrrfi50xx00001.jpg" class="profile-picture"/></a> <a href="members/marawebkinz">marawebkinz</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/bellasaragirl4ever"><img src="../images/pfps/nijnmayjotqidcfkbwkgq5n0vzszyrbcxknbkciwtz5w2b70vh5cbj4w7nnx2mzoxen6ewubetter bg.jpg" class="profile-picture"/></a> <a href="members/bellasaragirl4ever">bellasaragirl4ever</a></li>
                    
    <li><a href="members/newswithjosh"><img src="../images/pfps/BhKwAUJmGGZOKms4YCmfxbBEhtORVzYW.jpg" class="profile-picture"/></a> <a href="members/newswithjosh">newswithjosh</a></li>
                    
    <li><a href="members/spongbob"><img src="../images/pfps/m7eom38v88wi78kp0gpfdp3evxjtp53y05eewdxwaj57ieoak0dmg4q2syk6sevkaxnu0bhSasuke-2.gif" class="profile-picture"/></a> <a href="members/spongbob">spongbob</a></li>
                    
    <li><a href="members/sweetreats"><img src="../images/pfps/q63jc30ohxixk76xjudpfnmhu63i3bhh58r53hjb3swfou3wd4cihno2hf88efhaew354d4Kairi+namine.jpg" class="profile-picture"/></a> <a href="members/sweetreats">sweetreats</a></li>
                    
    <li><a href="members/Lewis1990"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Lewis1990">Lewis1990</a></li>
                    
    <li><a href="members/relientkgrl98"><img src="../images/pfps/tf0abqzog0zgf6msiyq6ardn5zokn3766w58cvnikcor8zahnock3fxx5b6g45e0q7xsrazbtn_metFamily.jpg" class="profile-picture"/></a> <a href="members/relientkgrl98">relientkgrl98</a></li>
                    
    <li><a href="members/ashley92308"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ashley92308">ashley92308</a></li>
                    
    <li><a href="members/kbabe"><img src="../images/pfps/ENO0eu87H8xWbKWL37ShgMHsn3vSlEUo.jpg" class="profile-picture"/></a> <a href="members/kbabe">kbabe</a></li>
                    
    <li><a href="members/DestinyHopeCyrus"><img src="../images/pfps/ob5eu2udrm8637m5eutxxmykoi5y0rzesvibm2f4cc057czcuhyitmu6uotk3hpj3vmgmp8miley_smile.jpg" class="profile-picture"/></a> <a href="members/DestinyHopeCyrus">DestinyHopeCyrus</a></li>
                    
    <li><a href="members/hunterliketacos"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/hunterliketacos">hunterliketacos</a></li>
                    
    <li><a href="members/loza-girls-till-i-die"><img src="../images/pfps/fqozuhqmve5oys2psoz723tqo3e6qguux6kgeys00odq633ohtjbm3pzutuc0func5rfsb6veyron.jpg" class="profile-picture"/></a> <a href="members/loza-girls-till-i-die">loza-girls-till-i-die</a></li>
                    
    <li><a href="members/kdinokid"><img src="../images/pfps/n78og5a65tbey8qcst20dr0m3trzqq84p7gt0gqwyp0oofo6ygwzvmbq3sgk7ddn8j4zqmkMarth.jpg" class="profile-picture"/></a> <a href="members/kdinokid">kdinokid</a></li>
                    
    <li><a href="members/DavidHydePierce"><img src="../images/pfps/pfxxuop6tzcxbbnvnos3227eugjmt8d7eyvxe8uvwuivvvh67xzzry4c5dmnanicd2zf2kyimages.jpg" class="profile-picture"/></a> <a href="members/DavidHydePierce">DavidHydePierce</a></li>
                    
    <li><a href="members/videoprincess"><img src="../images/pfps/FL6DcOfyd1fSFtGObUYQU2VtlpuWVEYY.jpg" class="profile-picture"/></a> <a href="members/videoprincess">videoprincess</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/tiffy420" file="pfps/placeholder.gif" alt="tiffy420" %}

<p><b>Username:</b> <a href="members/tiffy420">tiffy420</a></p>

<p><b>Date:</b> 2010-02-05 18:56:36</p>

<p class="comment"><b>Comment:</b> <p>hi Kayla  its tiffany from school and i have a page now so ill be posting videos too ill txt u!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p>
<p> </p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>