---
title: thecoolkid
sidebar: home_sidebar
hide_sidebar: true
keywords: thecoolkid
permalink: members/thecoolkid
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/ksQ2vNrKsBUFe2SRPOfJ82zuHVXNbA89.gif" alt="thecoolkid" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>15</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>4</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>How to Make A Custom Search</li>
<img src="{{"../images/thumb/1_52319.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Ed Edd and Eddy Funny Moments</li>
                
Funny scenes from a few episodes. I think they are funny at least. I hope you enjoy! Please comment. :)
                
                <br>
Added: 14-01-2009
                
</ul>
                
<ul>
<li>Ed Edd n Eddy- Funny Moments 2</li>
                
part 2. woohoo. please comment and rate
                
                <br>
Added: 14-01-2009
                
</ul>
                
<ul>
<li>Roblox- The Most Weirdest thing happed to JJ5x5</li>
                
The SCREAM SOUND CREEPY RIGHT
                
                <br>
Added: 25-05-2009
                
</ul>
                
<ul>
<li>Slave-Pikichu-TV-Ad-Not-Real-Lol-</li>
                
Great ill Call Right Now...... Oh Wait It Not Real
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>MarshMallow Murder (Crazy And Funny)</li>
                
They Get Freak out In Fire.  ENJOY<br />
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>Scared-Eggs</li>
                
There Watching Somthing..... Scary
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>Scared Corns Cobs (DONT ENTER CONTEST)</li>
                
DONT ENTER CONTEST IN THE END OF THE VIDEO
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>The-Greatest-Lightsaber-Fight-Of-All-Time</li>
                
So Much Saddness And So Much Action
                
                <br>
Added: 03-01-2010
                
</ul>
                
<ul>
<li>Dramatic-Look</li>
                
LOL
                
                <br>
Added: 03-01-2010
                
</ul>
                
<ul>
<li>Dramatic-Look-Starwars-Version</li>
                
You Seen The Dramatic Look Now You Must Go To The Dark Side
                
                <br>
Added: 03-01-2010
                
</ul>
                
<ul>
<li>Dramatic-Look-Curses-Version</li>
                
Curses!!!!
                
                <br>
Added: 03-01-2010
                
</ul>
                
<ul>
<li>Dramatic-Look-DR-EVIL-Version</li>
                
Give Me $1,000,000,000 MWHAHAHA
                
                <br>
Added: 03-01-2010
                
</ul>
                
<ul>
<li>ktp-drake-and-josh-and-the-evil-dog</li>
                
funny and crazy
                
                <br>
Added: 10-02-2010
                
</ul>
                
<ul>
<li>KTP-ICarly-Freddy-The-Techno-Kid</li>
                
See The Techno Kid In Action
                
                <br>
Added: 11-02-2010
                
</ul>
                
<ul>
<li>KTP-Chowder-The-BLTS</li>
                
O.O
                
                <br>
Added: 13-02-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/SuperSmashBros8"><img src="../images/pfps/LfyIrtrbGgVeLVgnuyT2TmsmI5Tj13qA.gif" class="profile-picture"/></a> <a href="members/SuperSmashBros8">SuperSmashBros8</a></li>
                    
    <li><a href="members/legodude"><img src="../images/pfps/qss6mfa4bob4qidn2gav582xegw4pex4vgy5jy0mb2es8i30n4kh3c35gqxusnpereb23zcAvatar_Ghost.jpg" class="profile-picture"/></a> <a href="members/legodude">legodude</a></li>
                    
    <li><a href="members/deadman"><img src="../images/pfps/k3FGCTD7raVHUALDfCBJvaVLz33nElZo.jpg" class="profile-picture"/></a> <a href="members/deadman">deadman</a></li>
                    
    <li><a href="members/hotgirl101"><img src="../images/pfps/Ia1jCLYERvNztWuGLwAj40mZlAOp2dKA.gif" class="profile-picture"/></a> <a href="members/hotgirl101">hotgirl101</a></li>
                    
    <li><a href="members/skull2069"><img src="../images/pfps/K29xJonZXbewCPjSMeceDFkq7vmPeAMp.jpg" class="profile-picture"/></a> <a href="members/skull2069">skull2069</a></li>
                    
    <li><a href="members/aalx"><img src="../images/pfps/yc20bhj5a3nh72on0tdmyobgx4vohw26yuv005w0w76txm6p570sjzy7sijz5cuuvgjnb4cmotocycle.jpg" class="profile-picture"/></a> <a href="members/aalx">aalx</a></li>
                    
    <li><a href="members/amyrose44"><img src="../images/pfps/oXIEQNCVNzPuVkstsDrdxj3cM6MSsScU.jpg" class="profile-picture"/></a> <a href="members/amyrose44">amyrose44</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/garrettman0718"><img src="../images/pfps/hdtP34DVg0hWIpwsYEZuTzBQg4XlIYgp.jpg" class="profile-picture"/></a> <a href="members/garrettman0718">garrettman0718</a></li>
                    
    <li><a href="members/SnoopyProductions"><img src="../images/pfps/vZKd3iqLOnyp88Icabn3pbEMxdFlptGa.jpg" class="profile-picture"/></a> <a href="members/SnoopyProductions">SnoopyProductions</a></li>
                    
    <li><a href="members/davidgill"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/davidgill">davidgill</a></li>
                    
    <li><a href="members/DXZ"><img src="../images/pfps/yfrpkqf2epcbrrsjhrod202hueqnyk2prh2zx5t3mt20bk8gznjscd0wffb3q0i588wu4gmDXZ.jpg" class="profile-picture"/></a> <a href="members/DXZ">DXZ</a></li>
                    
    <li><a href="members/Philip666"><img src="../images/pfps/Rvlz5FpzVoncu50Whf2iAFtDxhdcFy7W.jpg" class="profile-picture"/></a> <a href="members/Philip666">Philip666</a></li>
                    
    <li><a href="members/Mario Maniac 64"><img src="../images/pfps/xv2p6y9APxgVNv2SObp3Y1PY8py0p3Xa.jpg" class="profile-picture"/></a> <a href="members/Mario Maniac 64">Mario Maniac 64</a></li>
                    
    <li><a href="members/Candy_Pop"><img src="../images/pfps/RoIiaBPvp50NLwAEH2gWNs1M0HI57AcM.png" class="profile-picture"/></a> <a href="members/Candy_Pop">Candy_Pop</a></li>
                    
    <li><a href="members/bob2448"><img src="../images/pfps/Qjd5MXNzxupbB8OcI9ZTOJoK9nXMG8TW.jpg" class="profile-picture"/></a> <a href="members/bob2448">bob2448</a></li>
                    
    <li><a href="members/moniquerocks"><img src="../images/pfps/8cjCF5gDrki0WYcKY10sZ5Lco0cmuM1q.jpg" class="profile-picture"/></a> <a href="members/moniquerocks">moniquerocks</a></li>
                    
    <li><a href="members/ANGIE LUVZ U"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ANGIE LUVZ U">ANGIE LUVZ U</a></li>
                    
    <li><a href="members/Pokedude79"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Pokedude79">Pokedude79</a></li>
                    
    <li><a href="members/dataman"><img src="../images/pfps/NPhbDfRm8llNa8DacdnYqRto0btp4OsF.jpg" class="profile-picture"/></a> <a href="members/dataman">dataman</a></li>
                    
    <li><a href="members/inuyasha"><img src="../images/pfps/l87cBFvgiPTTWtWEb0UxlJ8ZUgR3QBu2.jpg" class="profile-picture"/></a> <a href="members/inuyasha">inuyasha</a></li>
                    
    <li><a href="members/Bunglebee"><img src="../images/pfps/5eDkTBIDtqdQSOGM4S2ihVfWPYd7ROpK.jpg" class="profile-picture"/></a> <a href="members/Bunglebee">Bunglebee</a></li>
                    
    <li><a href="members/kdinokid2"><img src="../images/pfps/ki5wVY5ncsMfDc1s3s6MObb1mJBCrK0R.jpg" class="profile-picture"/></a> <a href="members/kdinokid2">kdinokid2</a></li>
                    
    <li><a href="members/eagle1strike"><img src="../images/pfps/3MQBtlUtfmugT16BO2ogLBflylCxQr6J.png" class="profile-picture"/></a> <a href="members/eagle1strike">eagle1strike</a></li>
                    
    <li><a href="members/chrismy96"><img src="../images/pfps/yexi6uph62nhsr0axe0qqwvmj8f5ntgav5isqy0kpcq7tf7gkww0kicsghot0uuoo062ovco_0d5oiYQojcYaOkM.jpg" class="profile-picture"/></a> <a href="members/chrismy96">chrismy96</a></li>
                    
    <li><a href="members/JJ7x6"><img src="../images/pfps/6UDDz94LNKJEvxQzrGsA6t0sSwffRIxL.png" class="profile-picture"/></a> <a href="members/JJ7x6">JJ7x6</a></li>
                    
    <li><a href="members/TreeckoFan202"><img src="../images/pfps/e3bjtd2xj4qw6nr0divj84x7xhztvkizchbvk0jtt0grcvig42o2wazihqz4y8sygrkqis7treecko1[1].gif" class="profile-picture"/></a> <a href="members/TreeckoFan202">TreeckoFan202</a></li>
                    
    <li><a href="members/shadow lover 98"><img src="../images/pfps/uHyxvrwtwpGLZdM0CcVLc7udjyfSWKWG.jpg" class="profile-picture"/></a> <a href="members/shadow lover 98">shadow lover 98</a></li>
                    
    <li><a href="members/Katy"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Katy">Katy</a></li>
                    
    <li><a href="members/metalsonictheonyx"><img src="../images/pfps/L8inKWYRyRc2Bpm4JXgzSeHU8ibRmG7w.png" class="profile-picture"/></a> <a href="members/metalsonictheonyx">metalsonictheonyx</a></li>
                    
    <li><a href="members/GameMaster"><img src="../images/pfps/fveawj48t8tdvdzw8siov6iw8867r04ukau8hn50mn25rqrq8z4swbgtabrp2naeksbs64havatar 4.gif" class="profile-picture"/></a> <a href="members/GameMaster">GameMaster</a></li>
                    
    <li><a href="members/BarbiePopstar8"><img src="../images/pfps/t5TVOL1gbm8dxwAJUp853h1sD00bBC3s.jpg" class="profile-picture"/></a> <a href="members/BarbiePopstar8">BarbiePopstar8</a></li>
                    
    <li><a href="members/Miku"><img src="../images/pfps/TTr7SJl3STElr0CN3JduZdJGYXVKjBZ3.jpg" class="profile-picture"/></a> <a href="members/Miku">Miku</a></li>
                    
    <li><a href="members/Greyhound40"><img src="../images/pfps/loeaANtio0UyVHiBYyNUTUOQ0XtWNPzy.png" class="profile-picture"/></a> <a href="members/Greyhound40">Greyhound40</a></li>
                    
    <li><a href="members/kurami1000"><img src="../images/pfps/x5zihikcyo5pwpf8u5ihjh3aj7224foscdyhm7j8kdo7qt6bpdizkbxt8qm0tykv270e6cdKuromi[1].gif" class="profile-picture"/></a> <a href="members/kurami1000">kurami1000</a></li>
                    
    <li><a href="members/Hannah_Taylor"><img src="../images/pfps/3k3ufucvyy8opnzkfigzb2nntdw4dx8670rdmuybhwpwad5dmc3k2hykijfn5dh34z7giufHANAH.jpg" class="profile-picture"/></a> <a href="members/Hannah_Taylor">Hannah_Taylor</a></li>
                    
    <li><a href="members/StickFigureDude"><img src="../images/pfps/FtpHE4LetYESJzAXUAB8NtTOWYxQ6jn9.jpg" class="profile-picture"/></a> <a href="members/StickFigureDude">StickFigureDude</a></li>
                    
    <li><a href="members/mastermario300"><img src="../images/pfps/XgB1NkHjrJy8fWDy6GG9vKoIyzdA5MIS.jpg" class="profile-picture"/></a> <a href="members/mastermario300">mastermario300</a></li>
                    
    <li><a href="members/catsoldier"><img src="../images/pfps/pkb8EFliTLLBvVtZSTI5D7LFA7ac29Pf.jpg" class="profile-picture"/></a> <a href="members/catsoldier">catsoldier</a></li>
                    
    <li><a href="members/JTSSFilms"><img src="../images/pfps/DU8KIdWZ0djTbkLN2MWgyYaST1HEh9Qi.jpg" class="profile-picture"/></a> <a href="members/JTSSFilms">JTSSFilms</a></li>
                    
    <li><a href="members/slappyboy71"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/slappyboy71">slappyboy71</a></li>
                    
    <li><a href="members/lebo"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/lebo">lebo</a></li>
                    
    <li><a href="members/monke33"><img src="../images/pfps/VBQWsiYA8OZCvCtRsS0KKP6E3L5LVLno.png" class="profile-picture"/></a> <a href="members/monke33">monke33</a></li>
                    
    <li><a href="members/Luke2017"><img src="../images/pfps/e3as8ndqqucvd6002jf4yafmzuomdoufhuxg7yxokz7ovydo6hhufn468ggav0g3m2bhswtBlue hills.jpg" class="profile-picture"/></a> <a href="members/Luke2017">Luke2017</a></li>
                    
    <li><a href="members/toyman"><img src="../images/pfps/94SyIMtWDXKMV0Cfw0I6WczV3zhI4lY1.gif" class="profile-picture"/></a> <a href="members/toyman">toyman</a></li>
                    
    <li><a href="members/miracle78"><img src="../images/pfps/l5g9yerCDk7GrOHWmkivt7AdvpkALGox.jpg" class="profile-picture"/></a> <a href="members/miracle78">miracle78</a></li>
                    
    <li><a href="members/hnewberry99"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/hnewberry99">hnewberry99</a></li>
                    
    <li><a href="members/Nyleana"><img src="../images/pfps/MFddZ2heJ0xVmlSRvPbnX6pp0cCQEYWR.jpg" class="profile-picture"/></a> <a href="members/Nyleana">Nyleana</a></li>
                    
    <li><a href="members/clubpenguin1"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/clubpenguin1">clubpenguin1</a></li>
                    
    <li><a href="members/coolcaleb"><img src="../images/pfps/Kb38RarMVOA7ojvgJgZWIr6xoPiEGKQQ.gif" class="profile-picture"/></a> <a href="members/coolcaleb">coolcaleb</a></li>
                    
    <li><a href="members/redneckgrl"><img src="../images/pfps/FGYwm8nKAvSAV0ZEyHZdXb1ZOTKjmSQp.jpg" class="profile-picture"/></a> <a href="members/redneckgrl">redneckgrl</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>