---
title: thinktink
sidebar: home_sidebar
hide_sidebar: true
keywords: thinktink
permalink: members/thinktink
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b></b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Female</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>1103</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>3</b></li>
        
<li> Rating: <b>96.52%</b> out of <b>23</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Gift of a Friend-Tinker Bell Version</li>
<img src="{{"../images/thumb/gGl5mDwYflyupWKYdOce.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>A BuildaBear Series: Keeping a Secret Part 1</li>
<img src="{{"../images/thumb/1vxqhaLzzV0zgm5rJsk0.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>BuildaBear Series: Keeping a Secret Part 2</li>
<img src="{{"../images/thumb/uOIjf5eWhHFJWACE01z4.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Santa Claus is Comin' to Town BABV Version</li>
<img src="{{"../images/thumb/sI4ZNPRgkerZm4sCCxbe.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>BuildaBear Version: Party in the USA</li>
<img src="{{"../images/thumb/okTdSwrxtaqgsiY0rYYf.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Miley Cyrus 7 Things BABV Video</li>
<img src="{{"../images/thumb/yKDdwhzmnaHCh0vKUBru.jpg"}}" alt="thumbnail"/>

</ul>
            
<h2>My Friends</h2>
    
</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/BambiLuvs" file="pfps/S0OWC8k2Y9Ifs6R2OnorktLNJujGZcPs.jpg" alt="BambiLuvs" %}

<p><b>Username:</b> <a href="members/BambiLuvs">BambiLuvs</a></p>

<p><b>Date:</b> 2011-03-05 04:08:05</p>

<p class="comment"><b>Comment:</b> <p>Rated five stars!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/BambiLuvs" file="pfps/S0OWC8k2Y9Ifs6R2OnorktLNJujGZcPs.jpg" alt="BambiLuvs" %}

<p><b>Username:</b> <a href="members/BambiLuvs">BambiLuvs</a></p>

<p><b>Date:</b> 2011-03-05 04:07:05</p>

<p class="comment"><b>Comment:</b> <p> I hate KidsTube kind of too, you cant delete your friggin mean comments you get!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-06-13 17:08:33</p>

<p class="comment"><b>Comment:</b> <p>I wish kids weren't so mean to you! You're so nice! Are you still leaving?</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Garfieldfan123" file="pfps/placeholder.gif" alt="Garfieldfan123" %}

<p><b>Username:</b> <a href="members/Garfieldfan123">Garfieldfan123</a></p>

<p><b>Date:</b> 2010-06-09 11:02:00</p>

<p class="comment"><b>Comment:</b> <p>Alot of kids....</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-06-08 17:14:11</p>

<p class="comment"><b>Comment:</b> <p>Who says that?</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Garfieldfan123" file="pfps/placeholder.gif" alt="Garfieldfan123" %}

<p><b>Username:</b> <a href="members/Garfieldfan123">Garfieldfan123</a></p>

<p><b>Date:</b> 2010-06-08 05:56:34</p>

<p class="comment"><b>Comment:</b> <p>I just dont like KT its not my thing you know.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Garfieldfan123" file="pfps/placeholder.gif" alt="Garfieldfan123" %}

<p><b>Username:</b> <a href="members/Garfieldfan123">Garfieldfan123</a></p>

<p><b>Date:</b> 2010-06-08 05:50:38</p>

<p class="comment"><b>Comment:</b> <p>I am thinking about leaveing KT....... kids on here cussing telling me i am dumb and evil what a lie so i am leaveing no one cares about my webshows so whats use? no one likes me or my videos so i just i'll just leave. Tell LuckyLisa1998 i am leaveing FOREVER.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Garfieldfan123" file="pfps/placeholder.gif" alt="Garfieldfan123" %}

<p><b>Username:</b> <a href="members/Garfieldfan123">Garfieldfan123</a></p>

<p><b>Date:</b> 2010-06-08 05:46:37</p>

<p class="comment"><b>Comment:</b> <p>So what are you doing?</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-06-08 05:45:41</p>

<p class="comment"><b>Comment:</b> <p>You're welcome!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Garfieldfan123" file="pfps/placeholder.gif" alt="Garfieldfan123" %}

<p><b>Username:</b> <a href="members/Garfieldfan123">Garfieldfan123</a></p>

<p><b>Date:</b> 2010-06-07 15:16:45</p>

<p class="comment"><b>Comment:</b> <p>Thanks!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-06-07 15:13:20</p>

<p class="comment"><b>Comment:</b> <p>I visited your sites! They're awesome!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-06-07 08:19:44</p>

<p class="comment"><b>Comment:</b> <p>Ok!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Garfieldfan123" file="pfps/placeholder.gif" alt="Garfieldfan123" %}

<p><b>Username:</b> <a href="members/Garfieldfan123">Garfieldfan123</a></p>

<p><b>Date:</b> 2010-06-07 08:15:57</p>

<p class="comment"><b>Comment:</b> <p>Hey! go on <a href="http://tamagotchifa.webs.com">tamagotchifa.webs.com</a>! I made it.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-06-07 08:12:59</p>

<p class="comment"><b>Comment:</b> <p>Hi Garfieldfan! I'll check out your site Lisa!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luckylisa1998" file="pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" alt="luckylisa1998" %}

<p><b>Username:</b> <a href="members/luckylisa1998">luckylisa1998</a></p>

<p><b>Date:</b> 2010-06-07 03:38:24</p>

<p class="comment"><b>Comment:</b> <p>http://luckylisa1998.webs.com/ Please join!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Garfieldfan123" file="pfps/placeholder.gif" alt="Garfieldfan123" %}

<p><b>Username:</b> <a href="members/Garfieldfan123">Garfieldfan123</a></p>

<p><b>Date:</b> 2010-06-06 16:59:32</p>

<p class="comment"><b>Comment:</b> <p>Hello lets be friends!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-05-21 19:53:09</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="color: rgb(204, 0, 255);">I have a contest! Check out my new contest by going to page 3 on my video list and clicking Spore Realistic Creature Contest!</span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-05-20 19:55:06</p>

<p class="comment"><b>Comment:</b> <p>I have a new video!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-05-17 21:30:13</p>

<p class="comment"><b>Comment:</b> <p>Yay! KidsTube is not closing!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-05-10 15:56:03</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="color: rgb(153, 0, 255);">NO!!!!! WE WANT KIDSTUBE! WE WANT KIDSTUBE! WE WANT KIDSTUBE!</span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luckylisa1998" file="pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" alt="luckylisa1998" %}

<p><b>Username:</b> <a href="members/luckylisa1998">luckylisa1998</a></p>

<p><b>Date:</b> 2010-05-08 13:06:25</p>

<p class="comment"><b>Comment:</b> <p>Kidstube is closing!!!!!!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-05-06 14:28:43</p>

<p class="comment"><b>Comment:</b> <p>I'm finally on after a long time of being busy!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-04-14 18:59:03</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="color: rgb(204, 0, 255);">Hi everyone! Sorry I wasn't on for a while, I was very very busy, and I will still be busy for a while.</span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-04-11 16:08:18</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="color: rgb(204, 0, 255);">Cool! Thanks!</span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luckylisa1998" file="pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" alt="luckylisa1998" %}

<p><b>Username:</b> <a href="members/luckylisa1998">luckylisa1998</a></p>

<p><b>Date:</b> 2010-04-10 15:09:15</p>

<p class="comment"><b>Comment:</b> <p><span style="color: rgb(0, 0, 255);"><span style="font-family: Tahoma;"><span style="font-size: xx-large;">I saw your two new videos and they are really cool!</span></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-04-09 08:19:45</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="color: rgb(204, 0, 255);">I have two new videos out! By the way, I still might be able to make videos, just not as often as I used to. But I'm not leaving Kidstube.</span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-04-08 16:05:43</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="color: rgb(204, 0, 255);">Check out my new Easter special video!</span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-04-07 16:21:22</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="color: rgb(204, 0, 255);">Who's on?</span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luckylisa1998" file="pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" alt="luckylisa1998" %}

<p><b>Username:</b> <a href="members/luckylisa1998">luckylisa1998</a></p>

<p><b>Date:</b> 2010-04-03 03:24:03</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="font-family: Tahoma;"><span style="color: rgb(0, 0, 255);">Hi ThinkTink!How Are You Today?</span></span></span><span style="font-size: xx-large;"><span style="font-family: Tahoma;"><span style="color: rgb(0, 0, 128);"><span style="color: rgb(0, 0, 255);">Today Is Easter Eve!I Cant Beleive That Tommorow Is Easter Sunday!Can You?</span></span></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-04-02 16:30:45</p>

<p class="comment"><b>Comment:</b> <p>There hasn't seemed to be much activity in the last few days.<img alt="" src="../images/fckeditor/editor/images/smiley/msn/omg_smile.gif"/>?</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-04-01 12:54:21</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="color: rgb(255, 0, 0);">I might not be able to make videos for a while, but I'm not leaving, I'll still be coming on Kidstube.<br/>
</span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-03-27 16:28:03</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="color: rgb(204, 0, 255);">Kopa's Story Part 3 is out!!!!!!</span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-03-27 10:38:05</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="color: rgb(204, 0, 255);">I'll try to get it out today!</span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luckylisa1998" file="pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" alt="luckylisa1998" %}

<p><b>Username:</b> <a href="members/luckylisa1998">luckylisa1998</a></p>

<p><b>Date:</b> 2010-03-27 09:48:38</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="font-family: Tahoma;"><span style="color: rgb(204, 153, 255);">YAY!!!</span></span></span><span style="font-family: Tahoma;"><span style="color: rgb(204, 153, 255);"><span style="font-size: xx-large;">I cant wait!!!</span></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-03-27 09:42:11</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="color: rgb(204, 0, 255);">I'm currently working on Kopa's Story Part 3. I'll try to get it out as soon as I can!</span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-03-27 09:37:14</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="color: rgb(204, 0, 255);">Cool!!! I think I'll make part 3 the last part, but I'm thinking of making more Lion King videos!</span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luckylisa1998" file="pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" alt="luckylisa1998" %}

<p><b>Username:</b> <a href="members/luckylisa1998">luckylisa1998</a></p>

<p><b>Date:</b> 2010-03-27 02:43:45</p>

<p class="comment"><b>Comment:</b> <p><span style="font-family: Tahoma;"><span style="font-size: xx-large;"><span style="color: rgb(0, 255, 0);">I Saw Kopa's Story Part 2 And I Commented! And It Is REALLY Good!!!!!</span></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-03-26 16:24:24</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="color: rgb(204, 0, 255);">Kopa's Story Part 2 is out!!!!!!!!!!!!!!</span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-03-26 16:14:05</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="color: rgb(204, 0, 255);">Cool! I uploaded Part 2 today so it should be out sometime today!</span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luckylisa1998" file="pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" alt="luckylisa1998" %}

<p><b>Username:</b> <a href="members/luckylisa1998">luckylisa1998</a></p>

<p><b>Date:</b> 2010-03-26 15:07:08</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="font-family: Tahoma;"><span style="color: rgb(0, 0, 255);">I Saw The Lion King , Kopa's Story Part 1 An</span></span></span><span style="font-size: xx-large;"><span style="font-family: Tahoma;"><span style="color: rgb(0, 0, 255);">d I Cant Wait Till Part 2!!!!!</span></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-03-17 09:39:07</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;"><span style="color: rgb(51, 153, 102);">HAPPY ST PATRICK'S DAY!<img alt="" src="../images/fckeditor/editor/images/smiley/msn/teeth_smile.gif"/></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-03-12 17:33:07</p>

<p class="comment"><b>Comment:</b> <p>Thank you! I hope your arm gets better!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luckylisa1998" file="pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" alt="luckylisa1998" %}

<p><b>Username:</b> <a href="members/luckylisa1998">luckylisa1998</a></p>

<p><b>Date:</b> 2010-03-08 02:28:22</p>

<p class="comment"><b>Comment:</b> <p>Thank you SO much,here is a very special smiley for you:</p>
<p><img alt="" src="../images/fckeditor/editor/images/smiley/msn/teeth_smile.gif" style="width: 306px; height: 306px;"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-03-07 16:09:14</p>

<p class="comment"><b>Comment:</b> <p>Oh, I hope your arm heals very quickly. Here is a very special smiley for you:<img alt="" src="../images/fckeditor/editor/images/smiley/msn/teeth_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luckylisa1998" file="pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" alt="luckylisa1998" %}

<p><b>Username:</b> <a href="members/luckylisa1998">luckylisa1998</a></p>

<p><b>Date:</b> 2010-03-07 12:03:04</p>

<p class="comment"><b>Comment:</b> <p>I had to go to the hospital because I sprained my arm.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-02-27 14:02:45</p>

<p class="comment"><b>Comment:</b> <p>I've updated my avatar.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-02-24 18:30:52</p>

<p class="comment"><b>Comment:</b> <p>My newest video is out!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-02-24 13:39:37</p>

<p class="comment"><b>Comment:</b> <p>I have a new video coming soon! I'll comment here when it comes out!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-02-12 18:43:29</p>

<p class="comment"><b>Comment:</b> <p>You're very welcome!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luckylisa1998" file="pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" alt="luckylisa1998" %}

<p><b>Username:</b> <a href="members/luckylisa1998">luckylisa1998</a></p>

<p><b>Date:</b> 2010-02-12 15:31:04</p>

<p class="comment"><b>Comment:</b> <p><span style="color: rgb(204, 153, 255);"><span style="font-size: xx-large;">Thanks For Doing The Video Responce!<img alt="" src="../images/fckeditor/editor/images/smiley/msn/teeth_smile.gif"/></span></span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-02-12 13:45:31</p>

<p class="comment"><b>Comment:</b> <p>Hi LuckyLisa!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luckylisa1998" file="pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" alt="luckylisa1998" %}

<p><b>Username:</b> <a href="members/luckylisa1998">luckylisa1998</a></p>

<p><b>Date:</b> 2010-02-12 11:18:28</p>

<p class="comment"><b>Comment:</b> <p>hi!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-02-01 17:29:16</p>

<p class="comment"><b>Comment:</b> <p>I change my picture like, almost every day it seems.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/thinktink" file="pfps/RvjQpExvDFABITk0Bh7Tu8cNIl3g6zML.gif" alt="thinktink" %}

<p><b>Username:</b> <a href="members/thinktink">thinktink</a></p>

<p><b>Date:</b> 2010-02-01 17:12:00</p>

<p class="comment"><b>Comment:</b> <p>I think kidstube is cool.</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>