---
title: TinkzBooBay
sidebar: home_sidebar
hide_sidebar: true
keywords: TinkzBooBay
permalink: members/TinkzBooBay
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/ayzqmqbq3o0y6rthj2kectvjaugfpoeob24ni62birzd8hkhbtjdb5n8qre44ii5bbjk5amHand Swing-B.gif" alt="TinkzBooBay" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>7</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>1</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Tinkerbell - part-2/8</li>
<img src="{{"../images/thumb/1_3800.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Shopaholic-Verbz A.KA. Verse (With Lyrics Here Now!!)</li>
                
READ LYRICS!!!

(CHORUS)
Ima Shopaholic(x3)
And Im outta control
Ima Shopaholic(x3)
And im outta control
Ima Shopaholic
Betta take away ma wallet
Nothin in ma pocket 
N im out on a roll
Ima Shopaholic 
Betta take away ma wallet
Pockets got nothin
N im outta control

(VERSE 1)
(Uh huh Uh huh)
Callin all shopaholics
(Uh huh Uh huh Yea)
Where da credit cards at
Ima shop shop 
Till i drop drop 
Wearin outta hole in ma new hot tops
Rope chain swingin wit ma big gold watch
Watch me wen she gotta cassio
Notta swatch
I needa marry a man from Bell Aire
Who can buy me da beers
Until da Ladies are cleared
Tryin to get on da rich list
Wit 3-figure digits
Like docta docta is my purse annorexic?
I hit da stores to see see wats happenin
Clean out da shelves
N leave wif da mannequin
80 QUEEN 3 figure rings
Yea I can do it all wif a lil loose change

(CHORUS)

(VERSE 2)
(Hol' Up)
You needa hire a stylist
Thought u look tight 
But da mirror was lyin 
Lke Midus
I gotta rope chain
A dope chain
(Boy u been had)
They must've gave u da broke chain
My wallet may b empty 
But ma closet is full
And i cnt b a fashion victim
if it hasnt been dun
(Lets go!)

Get ya 5's out
Get ya 10's out
Get ya 20's out
Get ya 50's out(x2)
Get ya, get ya,get ya

(CHORUS)

(It sound addictive x2)
Can you say im addicted?
iF YOU GOT EXPENSIVE TASTE
NEVA LET A NEW FIT GO TO WASTE
EVEN WEN YA CLOSET'S GOT NO SPACE
GIRL U GOTTA STRETCH DAT $ BILL
CNT PUT A PRICE ON STYL
EVEN WEN YO CASH FLO ON DA LAST MILE
WE AINT TALKIN VANITY 
JU JU JUST ORIGINALITY
STRETCH DAT DOLLA BILL

(CHORUS)
STRETCH DAT DOLLA BILL



THA SONG WAS CUT SHORT BUT THERE WAS ONLY LKE 30 SECONDS LEFT SO U DIDNT MISS MUCH! THX FOR WATCHIN THO!
                
                <br>
Added: 24-11-2008
                
</ul>
                
<ul>
<li>Funny Phobias</li>
                
Everyone is afraid of something, but if you are afraid of one of these things, you may just be a freak.
-x-x-x-x-x-x-x
I did not make this vid or have anything to do with it!
I suscribed to this person on youtube and this vid was really funny!
Don't say I take credit for this vid cuz I dont!
I own NOTHING for or about this vod!
(Except tht its on my profile lol.)
                
                <br>
Added: 25-11-2008
                
</ul>
                
<ul>
<li>Cat-versus-Printer-See-Who-WinsBOOM</li>
                
FIGHT! lmao beware! the bomb explosions are REALLY loud and may scare some pppl....LMAO
                
                <br>
Added: 26-11-2008
                
</ul>
                
<ul>
<li>Hilarious-cat-runs-into-the-wall</li>
                
LMAO!! THIS IS NOT REAL! IF IT WAS I WOULD NOT HAVE POSTED IT BECAUSE I LOOOOOVE CATS!
THIS WAS JUST SOOOOOO FUNNY! THE CAT WAKES UP, SEES THE CAMERA, HE TRIES TO SCRAM BUT ENDS UP INTO A BAM!
                
                <br>
Added: 26-11-2008
                
</ul>
                
<ul>
<li>Cat-Jumps-Over-Fence--Super-Slow-Motion</li>
                
Cat tries to jump over children's fence. Super slow motion. Very funny LOL
This is ALSO NOT REAL! But it IS funny! LMAO
Now we know that cats dont always land on its feet..DO NOT TRY THIS WITH YOUR CAT!
                
                <br>
Added: 26-11-2008
                
</ul>
                
<ul>
<li>Kid singing Britney Spears scared to death by his mom</li>
                
Kid singing Britney Spears scared to death by his mom LOL i think this one is real...idk! But its sure as heck funny!
                
                <br>
Added: 26-11-2008
                
</ul>
                
<ul>
<li>Tinkerbell-MovieOfficial--Part-18</li>
                
Tinkerbell Movie(Official) - Part 1/8
Please watch, rate, and comment (in that order lolz) These Tinkerbell Movie vidz are mostly for my Tinkerbell Group! Search 
xXx Tinkz Group xXx or somethin similar lolz wit Tink in it...
                
                <br>
Added: 28-11-2008
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/fishboy"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/fishboy">fishboy</a></li>
                    
    <li><a href="members/ice59"><img src="../images/pfps/utz7rrjhfxwdnwt850xpdws5msifi5i0n6z5oadsvzvamd6f2uu3fbypr6tzz2sdxg8cgbuSunset.jpg" class="profile-picture"/></a> <a href="members/ice59">ice59</a></li>
                    
    <li><a href="members/WigglyXKitten"><img src="../images/pfps/czfififjn6tqxmddjo6gdtnqa4i6keak2dr8mxixszchafiitgpvx2avvgs4kqdeuub4ihscat avatar.gif" class="profile-picture"/></a> <a href="members/WigglyXKitten">WigglyXKitten</a></li>
                    
    <li><a href="members/PringleMarleylove"><img src="../images/pfps/udyt20t8jsug3zi6qyrsfndzt70pa0ju2acv0vuaede80o3hbkxgv26gzvt0m0jeynxr6gpbrown carramelldansen dog.gif" class="profile-picture"/></a> <a href="members/PringleMarleylove">PringleMarleylove</a></li>
                    
    <li><a href="members/thekatieshow"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/thekatieshow">thekatieshow</a></li>
                    
    <li><a href="members/Julianna77"><img src="../images/pfps/urh3zwyw35wmvj7wvdqkvio2qssd0qqj5vcwjyhbu5ogfj2yngb8np237i6wwk5t57edwmeimagesCAKNE60M.jpg" class="profile-picture"/></a> <a href="members/Julianna77">Julianna77</a></li>
                    
    <li><a href="members/kidstuberockgirls"><img src="../images/pfps/WVRMtcPr4Uv21eRgKlXDrTFKCtsg5DuR.jpg" class="profile-picture"/></a> <a href="members/kidstuberockgirls">kidstuberockgirls</a></li>
                    
    <li><a href="members/laloca"><img src="../images/pfps/rdyuoiz6ht4br6tzaepxorhejzkvd44t5tci33f8k8725rs5w8r8oydxomhrgc8cwciq3pnMCUt8xiQG0Sx.jpg" class="profile-picture"/></a> <a href="members/laloca">laloca</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>