---
title: titanic410415
sidebar: home_sidebar
hide_sidebar: true
keywords: titanic410415
permalink: members/titanic410415
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/zpwaHVTa1ESfc59g3DTBdJVEXsFNgFGT.jpg" alt="titanic410415" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>1</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>12</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Club Penguin Penguins</li>
<img src="{{"../images/thumb/1_60961.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Titanic-Slide-Show</li>
                
kool titanic video
                
                <br>
Added: 16-07-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/the v8 kid"><img src="../images/pfps/Ys46u6oq2hgeEic6zqqAKJ1aQgEIVCfu.jpg" class="profile-picture"/></a> <a href="members/the v8 kid">the v8 kid</a></li>
                    
    <li><a href="members/seamus"><img src="../images/pfps/2LFOwnltOvPrPLgEwI6IUYflNbQdlG2c.jpg" class="profile-picture"/></a> <a href="members/seamus">seamus</a></li>
                    
    <li><a href="members/Sizzleboy2009"><img src="../images/pfps/oB82JYbDcodEQSQdqyzzW4jcDOF04oth.jpg" class="profile-picture"/></a> <a href="members/Sizzleboy2009">Sizzleboy2009</a></li>
                    
    <li><a href="members/zacky123"><img src="../images/pfps/mulcQAlN4s4LMKlbB1U9ZMhka5jwg13G.gif" class="profile-picture"/></a> <a href="members/zacky123">zacky123</a></li>
                    
    <li><a href="members/PeginoaCPROX"><img src="../images/pfps/g0CUz1TDd45PbzKR3ysj5D1ojhRw4GJY.jpg" class="profile-picture"/></a> <a href="members/PeginoaCPROX">PeginoaCPROX</a></li>
                    
    <li><a href="members/coolmaster"><img src="../images/pfps/ki2itNQYbEDmGn0hzDg1NjxTvfcOix7G.png" class="profile-picture"/></a> <a href="members/coolmaster">coolmaster</a></li>
                    
    <li><a href="members/Bigmarioguy304"><img src="../images/pfps/cxsfteckwp750xay38c62jew7i4r55c7tuebwejkriei4e5xb7s3gxqe4iuzewwvfyw207bMario.jpg" class="profile-picture"/></a> <a href="members/Bigmarioguy304">Bigmarioguy304</a></li>
                    
    <li><a href="members/maxmia"><img src="../images/pfps/oq6ikohgd85kmjkg2v7jxdb3vriy486iq0pyfv5iuyu485byp68ea85vocji8gpn52cbo5hmario.gif" class="profile-picture"/></a> <a href="members/maxmia">maxmia</a></li>
                    
    <li><a href="members/bieberluvrocks"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/bieberluvrocks">bieberluvrocks</a></li>
                    
    <li><a href="members/mint1234"><img src="../images/pfps/xGTudozjeI835BovV9pZYF1rhI1jsv8d.jpg" class="profile-picture"/></a> <a href="members/mint1234">mint1234</a></li>
                    
    <li><a href="members/Sabrinak2009"><img src="../images/pfps/OSeRYew36aJ7mDqMUDJGZYNtEwhw85DK.jpg" class="profile-picture"/></a> <a href="members/Sabrinak2009">Sabrinak2009</a></li>
                    
    <li><a href="members/marquezgirl07"><img src="../images/pfps/jd40qeuj3nyw2rapfpc5dsoofmhwyksamoy3sjdjw26nh42nj3hnjvyp86cxhvvu7koospxLake Dallas Falcon.jpg" class="profile-picture"/></a> <a href="members/marquezgirl07">marquezgirl07</a></li>
                    
    <li><a href="members/Grandtheftauto"><img src="../images/pfps/rKz9xdCANRmYtJXPBOMop3lufqBYx9Qc.jpg" class="profile-picture"/></a> <a href="members/Grandtheftauto">Grandtheftauto</a></li>
                    
    <li><a href="members/pinkyredJ"><img src="../images/pfps/RS8lGQMDBbJoSxRkiyvj0nJVUgXi0HTH.png" class="profile-picture"/></a> <a href="members/pinkyredJ">pinkyredJ</a></li>
                    
    <li><a href="members/mrtitanic"><img src="../images/pfps/cOx0WuNx85n0CGPbezsf2AzsgMDWorEG.jpg" class="profile-picture"/></a> <a href="members/mrtitanic">mrtitanic</a></li>
                    
    <li><a href="members/Marioboy64"><img src="../images/pfps/9a9kfqPMKGNLnAPtbjhfbwyG7WFrct2Z.png" class="profile-picture"/></a> <a href="members/Marioboy64">Marioboy64</a></li>
                    
    <li><a href="members/jammer"><img src="../images/pfps/0OZZDqsrhAqMZOefMy0O7SiEyHWQelIS.jpg" class="profile-picture"/></a> <a href="members/jammer">jammer</a></li>
                    
    <li><a href="members/AAAStriker"><img src="../images/pfps/zyhdijf2unkzmwq34mktkb0qzzkzimq78v8g4c8ppkfy5urz62ih2axsx7g4jx2ghync0ksSonic T-Shirt Photo.png" class="profile-picture"/></a> <a href="members/AAAStriker">AAAStriker</a></li>
                    
    <li><a href="members/dubdub123"><img src="../images/pfps/xW1gpRKZEIkLRLyUUTt9UUnu7rJbU5wF.gif" class="profile-picture"/></a> <a href="members/dubdub123">dubdub123</a></li>
                    
    <li><a href="members/TRIPLETS"><img src="../images/pfps/eoBp8cXUmPajsp92C0kLQhJ3lmVz0w8T.jpg" class="profile-picture"/></a> <a href="members/TRIPLETS">TRIPLETS</a></li>
                    
    <li><a href="members/PSkywaker"><img src="../images/pfps/heJIQtPrLRGjU0RKg3EM2slJEwCUME9r.jpg" class="profile-picture"/></a> <a href="members/PSkywaker">PSkywaker</a></li>
                    
    <li><a href="members/redneckgrl"><img src="../images/pfps/FGYwm8nKAvSAV0ZEyHZdXb1ZOTKjmSQp.jpg" class="profile-picture"/></a> <a href="members/redneckgrl">redneckgrl</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>