---
title: tolkienfan123
sidebar: home_sidebar
hide_sidebar: true
keywords: tolkienfan123
permalink: members/tolkienfan123
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/Pha5bGD38jSFvnF5Ht1Toi3MgA3IV1Yk.jpg" alt="tolkienfan123" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>2</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>2</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>I Give You My Heart -- Michael W. Smith</li>
<img src="{{"../images/thumb/1_55787.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Stuff-I-have-done-on-GIMP</li>
                
Just a collection of things I have made in GIMP. 
btw the music is Twilight and Shadow from the Lord of The Rings Return of The King soundtrack. Oh yeah and sorry about the terrible quality (the pics look better off the video...) :)
                
                <br>
Added: 12-02-2010
                
</ul>
                
<ul>
<li>I-Give-You-My-Heart--Michael-W-Smith</li>
                
I Give You My Heart sung by Michael W. Smith. Yes I know I forgot to capitalize the word you the first few times...
                
                <br>
Added: 21-05-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Bstyles"><img src="../images/pfps/6r7VHxFjhtGfgRfdRvQVdp4NvJvZBuK5.jpg" class="profile-picture"/></a> <a href="members/Bstyles">Bstyles</a></li>
                    
    <li><a href="members/Knarli"><img src="../images/pfps/flwG8DextvRbdlOGolRwWmxdS86FHgkm.jpg" class="profile-picture"/></a> <a href="members/Knarli">Knarli</a></li>
                    
    <li><a href="members/cbwheeler"><img src="../images/pfps/h9C49GbxmeaslNTJILjH3eh3edcDMxyr.jpg" class="profile-picture"/></a> <a href="members/cbwheeler">cbwheeler</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>