---
title: ToniandJessi
sidebar: home_sidebar
hide_sidebar: true
keywords: ToniandJessi
permalink: members/ToniandJessi
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/umdcwvsbk3pcintfnfow50gqeczapyabbbdvwvv5ob7wmr3yufjr6p5brv86m75k887wtrsawesome.jpg" alt="ToniandJessi" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>11</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>1</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>As A Blonde Music Video - Toni</li>
<img src="{{"../images/thumb/1_26976.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Cheez-it-Commercial</li>
                
This is a Toni and Jessi Original commercial !!!!!!! We love to make videos together!!!! And this is our first one !!!!! say yay for us !!!!!
                
                <br>
Added: 31-08-2009
                
</ul>
                
<ul>
<li>Cocacola-Commercial-RECheez-it-Commercial</li>
                
heyy guys its Toni and Jessi again !!!!! We made another Commercial and this one is a RE: to the Cheez-it  Commercial!!!!! Hope you enjoyed !!!!!!!!!!! we worked REALLY hard on it !!!!!! Lots of deleting !!!!
                
                <br>
Added: 08-09-2009
                
</ul>
                
<ul>
<li>Wizards-of-Waverly-Place-music-video-Toni</li>
                
Heyy guys Toni made a wizards of waverly place music video !!!!! And yes I am in it you just cant see me (im the director(the person behind the camera)) Hope you enjoy we worked REALLY SUPERDUPER hard !!!!!
                
                <br>
Added: 09-09-2009
                
</ul>
                
<ul>
<li>Wizards-of-Waverly-Place-music-video-Jessi</li>
                
I made a Wizards of waverly place music video !!!!! just like  Toni's!!!!Hope you enjoy !!!!!!! This time Toni was behind the camera!
                
                <br>
Added: 10-09-2009
                
</ul>
                
<ul>
<li>Disapearing</li>
                
This is Toni disappear! Jessi made her!
                
                <br>
Added: 14-09-2009
                
</ul>
                
<ul>
<li>Mcdonalds-Monolog</li>
                
Heyy.....dont feel like typing.....hope you enjoy the video though!
                
                <br>
Added: 18-09-2009
                
</ul>
                
<ul>
<li>JoJo-comes-for-a-visit</li>
                
Thius baby named JoJo came to visit! He will become famous with his singing you just watch and see!!!!!
                
                <br>
Added: 24-09-2009
                
</ul>
                
<ul>
<li>Fallin Down -Toni</li>
                
This is toni doing her impression of Falling down the music video by Selena Gomez, Performed by Toni, Director is Jessi
                
                <br>
Added: 30-09-2009
                
</ul>
                
<ul>
<li>PreView-of-LetsDoRandom</li>
                
This is a preview of what our webshow, LetsDoRandom is going to have!!!! ENJOY!
                
                <br>
Added: 04-10-2009
                
</ul>
                
<ul>
<li>Toni and Jessi's Halloween Contest entry</li>
                
This is Jessi and Toni's version of the Halloween contest. PLEASE VOTE FOR US!!!!!!!!! we deserve to win! LOL!
                
                <br>
Added: 12-10-2009
                
</ul>
                
<ul>
<li>As-A-Blonde-Music-Video--Toni</li>
                
This is Toni doing a music video for As A Blonde by Selena Gomez and The Scene! Hope you enjoy!
                
                <br>
Added: 10-12-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/joy126"><img src="../images/pfps/fn0w3zazz5av5b0a6wau50tb4zbds06wexj5mhvdcvw5wo6r84d2ww0rk0s4sqpwcwsp4eqpenguin fj.jpg" class="profile-picture"/></a> <a href="members/joy126">joy126</a></li>
                    
    <li><a href="members/breetown"><img src="../images/pfps/4qks324y82yq8aq4oh6wpbtf2cxubzc5eko7dgwa8nr5k5zwcujrw2xn4j75a7yeibcjfzi0a4db0cfedb0.jpg" class="profile-picture"/></a> <a href="members/breetown">breetown</a></li>
                    
    <li><a href="members/newnew"><img src="../images/pfps/mrv4es3vpt8sd8k0r5adegwr8nkyn2ayjusmbj7r36756iumeuph0bwxm7myzmn763j8bgoJustin-Bieber-Love-Me.jpg" class="profile-picture"/></a> <a href="members/newnew">newnew</a></li>
                    
    <li><a href="members/seraly20"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/seraly20">seraly20</a></li>
                    
    <li><a href="members/JessiAndAllie"><img src="../images/pfps/dqtipgwsgsm3tpxscptq2q7koz62w3azir7xxue3dqwx3je3yyjpdgyp6vhunfivxghj0mbFriends.jpg" class="profile-picture"/></a> <a href="members/JessiAndAllie">JessiAndAllie</a></li>
                    
    <li><a href="members/anaymari"><img src="../images/pfps/q9Hbdtk7pBSLNj2bEk66SY5pqhVS8Ngm.jpg" class="profile-picture"/></a> <a href="members/anaymari">anaymari</a></li>
                    
    <li><a href="members/taliah99"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/taliah99">taliah99</a></li>
                    
    <li><a href="members/princess123"><img src="../images/pfps/fx7y32vobz578ty3qfemhb0y3uohn0yqnuggkzsmrojo58inckwjko6e8mmjd8zqr4u2vde13646-Cute-Sad-Pink-Kitten-With-Big-Eyes-Clipart-Illustration.jpg" class="profile-picture"/></a> <a href="members/princess123">princess123</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>