---
title: Tutorsaurusrex
sidebar: home_sidebar
hide_sidebar: true
keywords: Tutorsaurusrex
permalink: members/Tutorsaurusrex
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="Tutorsaurusrex" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>7</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Little Dutch Mill (Hansel & Gretel) 1934 Max Fleischer</li>
<img src="{{"../images/thumb/1_130336.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Richard-Turere-age-13--Invention-that-saves-lions</li>
                
Richard Turere, 13, received a scholarship to Brookhouse International School at 11, for outsmarting lions with five flashlight bulbs, a car battery and a solar panel.
[Note: We want you to see these talks exactly as they happened! The archive footage might be a little rougher than the usual TED.com talk.]
                
                <br>
Added: 03-08-2013
                
</ul>
                
<ul>
<li>Jack-Andraka-age-15--Detect-Pancreatic-Cancer</li>
                
Fifteen-year-old Jack Andraka recently won the world's largest high school science competition for his development of a new, cheap and accurate test for detecting pancreatic cancer.
[Note: We want you to see these talks exactly as they happened! The archive footage might be a little rougher than the usual TED.com talk.]
                
                <br>
Added: 03-08-2013
                
</ul>
                
<ul>
<li>Jon-Lee-age-13--I-Have-a-Dream-to-Race-Cars</li>
                
At the age of 13, our youngest speaker Jon Lee is a national Go-Kart racer from the Kartmaster Drakar Racing Team. An overachieving student at Victoria School, Jon has participated in and won various national Go-Kart races. Jon shows us how it's never too young to dream, and how it's never too young to start chasing your dreams. More Ted Talks at [www.TED.com]
                
                <br>
Added: 04-08-2013
                
</ul>
                
<ul>
<li>Captain-Planet-Season-1-Episode-1--A-Hero-For-Earth</li>
                
Gaia, the spirit of the Earth, is awakened from a long sleep by Hoggish Greedly, who happens to be drilling above her resting chamber. Realizing that the damage is extensive, Gaia sends five magic rings, four with the power to control an element of nature and one controlling the element of Heart, to five chosen youths across the globe.
                
                <br>
Added: 04-08-2013
                
</ul>
                
<ul>
<li>Captain-Planet-Season-1-Episode-2--Rain-of-Terror</li>
                
Rain of Terror - Ma-Ti battles self-esteem issues as the Planeteers try to stop Verminous Skumm from destroying a city with a giant cloud of acid rain. First appearance of Verminous Skumm.
                
                <br>
Added: 06-08-2013
                
</ul>
                
<ul>
<li>Betty-Boop-Poor-Cinderella-1934-Max-Fleischer</li>
                
Betty Boop plays Cinderella in this retelling of the well known tale. Cinderella lives with her mean stepsisters, who treat her miserably. They refuse to allow her to attend the prince's ball. Cinderella cries until her fairy Godmother tells the girl to get a pumpkin, some mice and two lizards together. With a wave of her wand, these items turn into a coach, a footman, doorman and horses.
                
                <br>
Added: 06-08-2013
                
</ul>
                
<ul>
<li>Little-Dutch-Mill-Hansel--Gretel-1934-Max-Fleischer</li>
                
The scene painted on a Dutch plate sitting in a china cabinet comes to life. It's a simple tale of a Dutch Hans(el) and Gretel and their pet duck, who play around a mill inhabited by the town miser.
                
                <br>
Added: 06-08-2013
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>