---
title: uploader2000
sidebar: home_sidebar
hide_sidebar: true
keywords: uploader2000
permalink: members/uploader2000
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/3sdo5iewbxphzdjr8vcmpjdyzasekhaezdqvjtikhwr6zymxkoaxxekmc0qnaopxp6kyor7Bakon Dancing.gif" alt="uploader2000" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Mike</b></li>
        
<li> Age: <b>2011</b></li>
        
<li> Gender: <b></b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>11</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>60</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>1144</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>1</b></li>
        
<li> Rating: <b>78%</b> out of <b>10</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>awsome naruto amv</li>
<img src="{{"../images/thumb/jthdNcQeGEKXshx3jxlo.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>A Pivot Video thats awsome</li>
<img src="{{"../images/thumb/obtrcYnRMwxPwlTcUMsw.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The Ball Episode 1</li>
<img src="{{"../images/thumb/RiQ10Svmyp5GnGzsWngz.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Pivot stks vid</li>
<img src="{{"../images/thumb/yLcOvLeEknePIONH1uFH.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The Epic Pivot Battle</li>
<img src="{{"../images/thumb/axvKBCeDVgIMwhmkBrot.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>My Pivot Animation Contest!!</li>
<img src="{{"../images/thumb/eHpenWv4sagPH0eayMtB.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>21 Guns-Green Day + Animations</li>
<img src="{{"../images/thumb/1_28956.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>awsome naruto amv</li>
                
a short amv<br />
<br />
song is i guess your right
                
                <br>
Added: 15-05-2009
                
</ul>
                
<ul>
<li>A Pivot Video thats awsome</li>
                
I know it kinda sucks <br />
<br />
thoughs are my first ones I made....
                
                <br>
Added: 29-06-2009
                
</ul>
                
<ul>
<li>The-Ball-Episode-1</li>
                
A Video I mad On pivot!!!<br />
ep.2 is coming out soon.<br />
srry about the no sound thing
                
                <br>
Added: 04-07-2009
                
</ul>
                
<ul>
<li>Pivot-stks-vid</li>
                
a vid made by me <br />
but not all the animations are
                
                <br>
Added: 04-07-2009
                
</ul>
                
<ul>
<li>The-Epic-Pivot-Battle</li>
                
A Kung Fu, Kick But, Action Short Made By Yours Truly.
                
                <br>
Added: 05-07-2009
                
</ul>
                
<ul>
<li>My Pivot Animation Contest!!</li>
                
My Own Contest <br />
<br />
By The Way You CanUse Pivot Or Stykz.
                
                <br>
Added: 07-07-2009
                
</ul>
                
<ul>
<li>Pivot-Vid-2</li>
                
My Secound Pivot Vid
                
                <br>
Added: 07-07-2009
                
</ul>
                
<ul>
<li>My contst entry for golden1234 contest</li>
                
Another pivot animation
                
                <br>
Added: 10-07-2009
                
</ul>
                
<ul>
<li>Comercial Contest vid</li>
                
this is my first contest vid so it may be kinda bad so IDC if ya say so But pleeeeeeeese vot for this. BTW Im all Outa songs ta use so im stuck with my sisters songs and CDs
                
                <br>
Added: 02-08-2009
                
</ul>
                
<ul>
<li>skateboarding collab vieo</li>
                
if you love it email me and tell me why so next video deosnt take so long for the idea
                
                <br>
Added: 09-10-2009
                
</ul>
                
<ul>
<li>21-Guns-Green-Day--Animations</li>
                
Whistler, if your about to say 'You didnt make this' Well Hear This. I MADE CREDITS!!!!!! So you happy now?????!!!!!<br />
Any ways the song is 21 Guns by the Green Day.<br />
I love all the animations is the video.<br />
<br />
I know there is a little blood but please put this on kidstube....PLEASE!!!!!
                
                <br>
Added: 30-12-2009
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/guitarherofreak123"><img src="../images/pfps/7h5p0jzznfxv2vu40mp7ak2msys7un0qtw5i5t8gzuzqfkj6vy2v7u6qkpm3zdjjyeqsxnyacdc_logo11.jpg" class="profile-picture"/></a> <a href="members/guitarherofreak123">guitarherofreak123</a></li>
                    
    <li><a href="members/BlueWhale54"><img src="../images/pfps/dxyuoudhdnuavisebjy6hzn4qih2gmcj7y4mj6umjdm3m48kcvhjmtd3zkt7utftib5q5o2brolly.jpg" class="profile-picture"/></a> <a href="members/BlueWhale54">BlueWhale54</a></li>
                    
    <li><a href="members/Fun6years"><img src="../images/pfps/ndg4cTKJ82T6qfU1lUS57DOzUp4l9PQk.jpg" class="profile-picture"/></a> <a href="members/Fun6years">Fun6years</a></li>
                    
    <li><a href="members/Rockstar44"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Rockstar44">Rockstar44</a></li>
                    
    <li><a href="members/Gatswimmer"><img src="../images/pfps/dZuM8HLOJJEHyPxVEp2XOmeTOvT7cBW3.gif" class="profile-picture"/></a> <a href="members/Gatswimmer">Gatswimmer</a></li>
                    
    <li><a href="members/Vampirechick"><img src="../images/pfps/5gPTRhyybA0huoiofvqQHuvIxlBw2R0x.gif" class="profile-picture"/></a> <a href="members/Vampirechick">Vampirechick</a></li>
                    
    <li><a href="members/catty1"><img src="../images/pfps/HgbE5tnJpb5pdEsakUc9lCU3iL8n2E67.jpg" class="profile-picture"/></a> <a href="members/catty1">catty1</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/RukiaKuchki1997"><img src="../images/pfps/vwtruk8od03qrfzo0fp8i87bvsq7xd2hxmyivvuwmpd3s0fh6sgercfdttbfu2nicapvubj11136_101396623221793_100000543672702_37855_6916117_n.jpg" class="profile-picture"/></a> <a href="members/RukiaKuchki1997">RukiaKuchki1997</a></li>
                    
    <li><a href="members/carboman"><img src="../images/pfps/8wcmjhjq3ajftet0bt5bnqsm24dku8xtuz426cgzcr3tvkiu5evgtdsj7vuqtiae72444cscarboman logo.jpg" class="profile-picture"/></a> <a href="members/carboman">carboman</a></li>
                    
    <li><a href="members/Bstyles"><img src="../images/pfps/6r7VHxFjhtGfgRfdRvQVdp4NvJvZBuK5.jpg" class="profile-picture"/></a> <a href="members/Bstyles">Bstyles</a></li>
                    
    <li><a href="members/DXZ"><img src="../images/pfps/yfrpkqf2epcbrrsjhrod202hueqnyk2prh2zx5t3mt20bk8gznjscd0wffb3q0i588wu4gmDXZ.jpg" class="profile-picture"/></a> <a href="members/DXZ">DXZ</a></li>
                    
    <li><a href="members/ohnoahhh"><img src="../images/pfps/1OsXLaN5l8igHicOiUAIacV2Lwo8gCiY.jpg" class="profile-picture"/></a> <a href="members/ohnoahhh">ohnoahhh</a></li>
                    
    <li><a href="members/ccb123"><img src="../images/pfps/ouxoj08rnjjjmbbphwc3jh052oh66vrjedvo4u3i5dsfdsvifvcp40jugprb86id74q3qjapenguin.gif" class="profile-picture"/></a> <a href="members/ccb123">ccb123</a></li>
                    
    <li><a href="members/goofup90"><img src="../images/pfps/qvcyvh4ayojxzjd88r7evjibmshvvttcdt0wytvp85bweevburfgzmfa4nvq5dr6wgsm0ey600px-Goofy-DataForm_CG.jpg" class="profile-picture"/></a> <a href="members/goofup90">goofup90</a></li>
                    
    <li><a href="members/golden1234"><img src="../images/pfps/7Kxdt0qudGhT4TCwfGRhf7nRvlQEn7ei.gif" class="profile-picture"/></a> <a href="members/golden1234">golden1234</a></li>
                    
    <li><a href="members/ups30"><img src="../images/pfps/c2fQymc3iWHXZiDb3o4r9vQ43DxLS64u.png" class="profile-picture"/></a> <a href="members/ups30">ups30</a></li>
                    
    <li><a href="members/gamemaster2000"><img src="../images/pfps/rexuh34r0kcu265ufkpexhqk6rzgtu48yru5knndxnvriramzorpv5zsoox58s3waoqjy0kmypictr_140x185(2).jpg" class="profile-picture"/></a> <a href="members/gamemaster2000">gamemaster2000</a></li>
                    
    <li><a href="members/inuyasha"><img src="../images/pfps/l87cBFvgiPTTWtWEb0UxlJ8ZUgR3QBu2.jpg" class="profile-picture"/></a> <a href="members/inuyasha">inuyasha</a></li>
                    
    <li><a href="members/kdinokid2"><img src="../images/pfps/ki5wVY5ncsMfDc1s3s6MObb1mJBCrK0R.jpg" class="profile-picture"/></a> <a href="members/kdinokid2">kdinokid2</a></li>
                    
    <li><a href="members/dev8it"><img src="../images/pfps/e7wymcs2i6vcmpvzt7h2q2nzb2eoyns0ifqvfaoo48qgoa686dyn3ab42ggprzgy3wkauwmimages.jpg" class="profile-picture"/></a> <a href="members/dev8it">dev8it</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/ironwing499"><img src="../images/pfps/sev6o0ebnyqafevdh7ui0jr3i36i8vipz4ncvpe8es6iuqj2o48fco6mi2sfo0tdv6dfjfc3808220685_db01293e40.jpg" class="profile-picture"/></a> <a href="members/ironwing499">ironwing499</a></li>
                    
    <li><a href="members/Amber_Nichole"><img src="../images/pfps/ddck6iea847v4xnor5k0p70586v8uapycp76xc6v52fxqtc5nowzjovgjff4etrg8odvo7hCheer Sensations.jpg" class="profile-picture"/></a> <a href="members/Amber_Nichole">Amber_Nichole</a></li>
                    
    <li><a href="members/Animator"><img src="../images/pfps/hbzmdkvew7qzt00tbwhuhgohdi2xtw8zvyawbw2vugmd8bwav5s3a68eezzxnym8nnvm7o7New kidstube pic.gif" class="profile-picture"/></a> <a href="members/Animator">Animator</a></li>
                    
    <li><a href="members/cassie"><img src="../images/pfps/eepwfnnhdc3bqtmmmebivov2omso6hvbjcvpn7xqarsp84ym6xuqceirp03m6qkgq5v30jjpQ29yZRZBKP5ywWSyUT0L8wA9cr6D6HbHjrNc5u-XJHdh4AyWQ6kK3J9TOcwGZB6.jpg" class="profile-picture"/></a> <a href="members/cassie">cassie</a></li>
                    
    <li><a href="members/supersaiyantaker"><img src="../images/pfps/zjkqir84dhqoaqpqqghtjie8c6ef8ihysqe27bu8icniqzy474ofbsednhhkqna74czzdizIMG_1581.jpg" class="profile-picture"/></a> <a href="members/supersaiyantaker">supersaiyantaker</a></li>
                    
    <li><a href="members/EliteDarkLord_DragonSlayer"><img src="../images/pfps/2y0bgvm0zeprqyydstwx36rfe26400atqzswj2ma60porcp7vcvqadtc3q5uh5cxtui0nvz00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000.gif" class="profile-picture"/></a> <a href="members/EliteDarkLord_DragonSlayer">EliteDarkLord_DragonSlayer</a></li>
                    
    <li><a href="members/loveguru"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/loveguru">loveguru</a></li>
                    
    <li><a href="members/StickFigureDude"><img src="../images/pfps/FtpHE4LetYESJzAXUAB8NtTOWYxQ6jn9.jpg" class="profile-picture"/></a> <a href="members/StickFigureDude">StickFigureDude</a></li>
                    
    <li><a href="members/EvilSockPuppet"><img src="../images/pfps/ezuxuxswymv7r7ztd5cwkjwaxdoh0r85fruxfbk4k4z22pj4knrvueuih8p6om3r3mf7nozEvilSockPuppet icon.jpg" class="profile-picture"/></a> <a href="members/EvilSockPuppet">EvilSockPuppet</a></li>
                    
    <li><a href="members/primevaljimbo"><img src="../images/pfps/zfb8nbfxr5fpo4rsva508a4ou2xyx7wmbvjnwpbfigswbagubcm7aejv65kt3553sfgdshgpiggy.gif" class="profile-picture"/></a> <a href="members/primevaljimbo">primevaljimbo</a></li>
                    
    <li><a href="members/cheerleader123"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/cheerleader123">cheerleader123</a></li>
                    
    <li><a href="members/therealdemilovato"><img src="../images/pfps/e67seixmuvsorcdtbougzwykvoqu0co6amnevboeu6tc6wu58fcyzz7men65pm2pvgrff5idemi-lovato.jpg" class="profile-picture"/></a> <a href="members/therealdemilovato">therealdemilovato</a></li>
                    
    <li><a href="members/NarutoU55"><img src="../images/pfps/RGLZlC5kcV1COANBbh8Mfyrf7WsTYv3q.jpg" class="profile-picture"/></a> <a href="members/NarutoU55">NarutoU55</a></li>
                    
    <li><a href="members/chrismy96"><img src="../images/pfps/yexi6uph62nhsr0axe0qqwvmj8f5ntgav5isqy0kpcq7tf7gkww0kicsghot0uuoo062ovco_0d5oiYQojcYaOkM.jpg" class="profile-picture"/></a> <a href="members/chrismy96">chrismy96</a></li>
                    
    <li><a href="members/ningabunny123"><img src="../images/pfps/ffqkf35bvn7tbre8ftk4wcj0otipy7m2bzdet6edicwhuyexjps4rzv3j2j8yvyxm333x76Siberian HuskyArt.jpg" class="profile-picture"/></a> <a href="members/ningabunny123">ningabunny123</a></li>
                    
    <li><a href="members/idogjim"><img src="../images/pfps/3yx4ihbqvb6zvmch03ubbf6x5zhsfqaadx4n353o50epdhu2bd0aixwdm4vritpnhkzcero398314556_740665.gif" class="profile-picture"/></a> <a href="members/idogjim">idogjim</a></li>
                    
    <li><a href="members/IvyTheEspeon"><img src="../images/pfps/QUfHq7br0He8Yiw9hY5p7mtKxVctd2ar.png" class="profile-picture"/></a> <a href="members/IvyTheEspeon">IvyTheEspeon</a></li>
                    
    <li><a href="members/456z00ts654"><img src="../images/pfps/82kqx6k7qc6s3i8gz53pa62xiehycozbecr28zyn0v6u530tws6unyiv0oi32a24akv88kjWolf-Gone-Mad-wolves-2576785-301-450.jpg" class="profile-picture"/></a> <a href="members/456z00ts654">456z00ts654</a></li>
                    
    <li><a href="members/Djms"><img src="../images/pfps/eftw0z6s2aao3awtupenfo04f8mhxx622qnreja6k8mc88vtmz7pewkhtunhgj860mo3un0Avatar 1.jpg" class="profile-picture"/></a> <a href="members/Djms">Djms</a></li>
                    
    <li><a href="members/Luke2017"><img src="../images/pfps/e3as8ndqqucvd6002jf4yafmzuomdoufhuxg7yxokz7ovydo6hhufn468ggav0g3m2bhswtBlue hills.jpg" class="profile-picture"/></a> <a href="members/Luke2017">Luke2017</a></li>
                    
    <li><a href="members/AlexisandNick"><img src="../images/pfps/svetuwg6g0sdqc8rjt0m2ryskevfvjve40ynm3jqs3s83rrdbgn4xdk6h4b2fw67mtkvmtbmario-luigi.jpg" class="profile-picture"/></a> <a href="members/AlexisandNick">AlexisandNick</a></li>
                    
    <li><a href="members/kdinokid"><img src="../images/pfps/n78og5a65tbey8qcst20dr0m3trzqq84p7gt0gqwyp0oofo6ygwzvmbq3sgk7ddn8j4zqmkMarth.jpg" class="profile-picture"/></a> <a href="members/kdinokid">kdinokid</a></li>
                    
    <li><a href="members/Toriandlukeforever"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Toriandlukeforever">Toriandlukeforever</a></li>
                    
    <li><a href="members/Freaknastey"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Freaknastey">Freaknastey</a></li>
                    
    <li><a href="members/hitman"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/hitman">hitman</a></li>
                    
    <li><a href="members/etc_etc_etc"><img src="../images/pfps/uADIhmUXovlQUKoJHGJzUzkjWlj3v7Hd.png" class="profile-picture"/></a> <a href="members/etc_etc_etc">etc_etc_etc</a></li>
                    
    <li><a href="members/Starmanex3"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Starmanex3">Starmanex3</a></li>
                    
    <li><a href="members/kingbupper"><img src="../images/pfps/2uokv0hggv0ndfbi4bafewx4wd8ex6epprz8i7gqs70vcz3403a3qyvc2veosi38zu77qcmnaruto.jpg" class="profile-picture"/></a> <a href="members/kingbupper">kingbupper</a></li>
                    
    <li><a href="members/ImEmoSoWat"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ImEmoSoWat">ImEmoSoWat</a></li>
                    
    <li><a href="members/terleck12"><img src="../images/pfps/a6bnacpzjmxhyaam4b3jxpbumorjkb2k60v60bu8oggdffn7ggh2vjk5v0f425fyuztm0ckJpeg.jpg" class="profile-picture"/></a> <a href="members/terleck12">terleck12</a></li>
                    
    <li><a href="members/mars"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/mars">mars</a></li>
                    
    <li><a href="members/Darkblazer"><img src="../images/pfps/5v0io4k8opoghj7eub4yrvbt662wrh2n0rtgm3dxir5py3rh5m7k58423xom3gwuvfy783vDarkblazer profile.jpg" class="profile-picture"/></a> <a href="members/Darkblazer">Darkblazer</a></li>
                    
    <li><a href="members/narutofangirl99"><img src="../images/pfps/P6t8E5z255qPIrcTCLEJpTDXpx8GPBUf.jpg" class="profile-picture"/></a> <a href="members/narutofangirl99">narutofangirl99</a></li>
                    
    <li><a href="members/newnew"><img src="../images/pfps/mrv4es3vpt8sd8k0r5adegwr8nkyn2ayjusmbj7r36756iumeuph0bwxm7myzmn763j8bgoJustin-Bieber-Love-Me.jpg" class="profile-picture"/></a> <a href="members/newnew">newnew</a></li>
                    
    <li><a href="members/bravepivotsora"><img src="../images/pfps/pw7c8ytqavzpxqab7ao434066a2gr5v5sr7php4fbuuwavy7td2n5shzsb674t3kb0zggsmflips.gif" class="profile-picture"/></a> <a href="members/bravepivotsora">bravepivotsora</a></li>
                    
    <li><a href="members/chiguy122697"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/chiguy122697">chiguy122697</a></li>
                    
    <li><a href="members/Cheerleader4Life"><img src="../images/pfps/yiqiwur80x6hir3pa6ixpcia8f57e7s0e8a2tqymctrmbi0bg7zva6v6ar5enm4pk4f3i4dMikala and Brook.jpg" class="profile-picture"/></a> <a href="members/Cheerleader4Life">Cheerleader4Life</a></li>
                    
    <li><a href="members/Mars"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/Mars">Mars</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>