---
title: Vampirechick
sidebar: home_sidebar
hide_sidebar: true
keywords: Vampirechick
permalink: members/Vampirechick
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/5gPTRhyybA0huoiofvqQHuvIxlBw2R0x.gif" alt="Vampirechick" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Elizabeth</b></li>
        
<li> Age: <b>17</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>18</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>3</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>46</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>539</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>100%</b> out of <b>11</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Team Up!</li>
<img src="{{"../images/thumb/r74h6rju7dzv26v6.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Vampire Knight Guilty AMV - Lovesongs (They Kill Me)</li>
<img src="{{"../images/thumb/5kg4whvuopy5q66d.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Angel Of Darkness [Ikuto Tribute]</li>
<img src="{{"../images/thumb/xjx0yejcxgzomj5d.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Miley Cyrus - The Climb</li>
<img src="{{"../images/thumb/EUGV4lGvnGZpQ4iTDeEA.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>DNAngel- DARK/DAISUKE - In The End</li>
<img src="{{"../images/thumb/nIbIyaszLFwzk2NB1Q0T.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>D.N.Angel - Place For My Head</li>
<img src="{{"../images/thumb/bScHejzkY13SZ3wbuSsd.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Celine Dion - My Heart Will Go On ***LIVE***</li>
<img src="{{"../images/thumb/1_50592.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Team-Up</li>
                
Mew Mew Power (Tokyo Mew Mew) opening. I didinÂ´t make it.
the first i put on didnt work so i took it of and posted a new one. Ha! who knew it was from the oringinal Mew Mew Power from 4kids? i didnt i had my mind on other things. enjoy!
                
                <br>
Added: 04-02-2009
                
</ul>
                
<ul>
<li>Vampire-Knight-Guilty-AMV--Lovesongs-They-Kill-Me</li>
                
i didnt make it, just enjoy.
Cinema Bizarre - Lovesongs(They Kill Me)
                
                <br>
Added: 11-02-2009
                
</ul>
                
<ul>
<li>Angel-Of-Darkness-Ikuto-Tribute</li>
                
not my vid. 
again just watch;)
Alex C. feat. Yasmin K. - Angel of Darkness
                
                <br>
Added: 11-02-2009
                
</ul>
                
<ul>
<li>Miley-Cyrus--The-Climb</li>
                
Official Music Video<br />
<br />
Artist - Miley Cyrus<br />
 <br />
Song - The Climb
                
                <br>
Added: 23-03-2009
                
</ul>
                
<ul>
<li>DNAngel-DARKDAISUKE--In-The-End</li>
                
AMV
anime - DN Angel 
linkin park - in the end
                
                <br>
Added: 23-03-2009
                
</ul>
                
<ul>
<li>DNAngel--Place-For-My-Head</li>
                
a D.N.Angel AMV<br />
anime - d.n.angel<br />
linkin park - place for my head
                
                <br>
Added: 23-03-2009
                
</ul>
                
<ul>
<li>Ouran-Host-Club-Listen-To-Your-Heart</li>
                
An Ouran Host Club AMV<br />
Anime - Ouran High School Host Club<br />
Song - Listen To Your Heart<br />
Artist - DHT
                
                <br>
Added: 24-03-2009
                
</ul>
                
<ul>
<li>Romeo-X-Juliet-AMV</li>
                
an AMV  for Romeo X Juliet<br />
Anime - Romeo X Juliet<br />
Song - Romeo and Juliet<br />
Artist - Toy Box
                
                <br>
Added: 24-03-2009
                
</ul>
                
<ul>
<li>Romeo-X-Juliet-AMV-2</li>
                
another amv for them<br />
trailer / amv<br />
anime - romeo x juliet<br />
song - Lacrimosa by  Immediate Music
                
                <br>
Added: 24-03-2009
                
</ul>
                
<ul>
<li>The-Gummy-Bear-Song--Long-English-Version-Kinda</li>
                
XD yeah gummy bear!!!!!!!!!<br />
Oh I'm a gummy bear<br />
Yes I'm a gummy bear<br />
oh Im a yummy jummy funny lucky gummy bear<br />
oh Im a jolly bear<br />
cause Im a gummy bear<br />
oh Im a movin groovin jammin singin gummy bear<br />
oh yeah!<br />
ba ba duba duba duba yum yum<br />
ba ba duba duba duba yum yum<br />
ba ba duba duba duba yum yum<br />
three times you can bite me<br />
gummy gummy gummy gummy gummy bear
                
                <br>
Added: 30-03-2009
                
</ul>
                
<ul>
<li>Harry-Potter-and-the-Half-Blood-Prince-Official-Trailer</li>
                
Trailier # 2 <br />
i do not own Harry Potter or anything
                
                <br>
Added: 02-04-2009
                
</ul>
                
<ul>
<li>Romeos-Last-Words</li>
                
it was just a project that me and my friends had to do. we thought it would be fun if Romeo wrote a letter to his mother before he decides to kill himself...you guys know the story.<br />
Pictures used for this video are mostly from Romeo X Juliet<br />
Music - Memories by Within Temptation
                
                <br>
Added: 21-04-2009
                
</ul>
                
<ul>
<li>Lelouch-and-Suzaku--Friend-or-Foe</li>
                
not my video, a friends<br />
A Code Geass AMV about Lelouch's friendship with Sukaku his BFF. its really sad*cying*T-T if you get it ......<br />
<br />
Anime - Code Geass<br />
<br />
Song - Friend or Foe<br />
<br />
Artist - T.A.T.U
                
                <br>
Added: 28-04-2009
                
</ul>
                
<ul>
<li>Justin-Bieber--Common-Denominator</li>
                
Justin Bieber - Common Denominator
                
                <br>
Added: 09-01-2010
                
</ul>
                
<ul>
<li>Justin-Bieber--One-Less-Lonely-Girl-STUDIO</li>
                
Justin Bieber - one less lonely girl
                
                <br>
Added: 09-01-2010
                
</ul>
                
<ul>
<li>Starstruck-Full-Song-Lyrics</li>
                
video with lyrics!!
                
                <br>
Added: 08-02-2010
                
</ul>
                
<ul>
<li>Starstruck-Full-Song-Lyrics</li>
                
Sterling Knight
                
                <br>
Added: 08-02-2010
                
</ul>
                
<ul>
<li>Celine-Dion--My-Heart-Will-Go-On-LIVE</li>
                
Celine Dion performing My Heart Will Go On LIVE!!!! trust me its really good!!!  *Skip to 2:51 if u want to hear her right away, trust you want to it takes here forever to fly across the dang stage!* XD <br />
BTW - i think she also sings in a different language at some <br />
point...:P<br />
<br />
wanna sing along?? <br />
<br />
Every night in my dreams<br />
I see you, I feel you<br />
That is how I know you go on.<br />
<br />
Far across the distance<br />
and spaces between us<br />
You have come to show you go on.<br />
<br />
Near, Far,<br />
wherever you are,<br />
I believe that the heart does go on.<br />
<br />
Once more, you opened the door<br />
And you're here in my heart,<br />
and my heart will go on and on.<br />
<br />
Love can touch us one time<br />
and last for a lifetime<br />
And never let go till we're gone.<br />
<br />
Love was when I loved you,<br />
one true time to hold on to<br />
In my life we'll always go on.<br />
<br />
Near, far,<br />
wherever you are,<br />
I believe that the heart does go on.<br />
<br />
Once more, you opened the door<br />
And you're here in my heart,<br />
and my heart will go on and on.<br />
<br />
You're here, there's nothing I fear<br />
And I know that my heart will go on.<br />
We'll stay, forever this way<br />
You are safe in my heart<br />
<br />
and my heart will go on and on.
                
                <br>
Added: 09-02-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/jazibeari"><img src="../images/pfps/8zyhoy8x2rjb8tciqcj6cb0okwyrvxusoi027zpxfyxeiznwzuu0ujf562kqo572ewsak5yforjazi.png" class="profile-picture"/></a> <a href="members/jazibeari">jazibeari</a></li>
                    
    <li><a href="members/dmpjhmc"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/dmpjhmc">dmpjhmc</a></li>
                    
    <li><a href="members/1bubbleygal"><img src="../images/pfps/o27st47mk30wieay5o0fdqzaxsejr3c4w7ne3ioedfyjhw8bcxhfe7d0qf868c0t7cx0kd3g.jpg" class="profile-picture"/></a> <a href="members/1bubbleygal">1bubbleygal</a></li>
                    
    <li><a href="members/Rockstar44"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Rockstar44">Rockstar44</a></li>
                    
    <li><a href="members/littlecatbaby1"><img src="../images/pfps/xr2kaj60mdezbpif3cej8iqxa7ccqbtesmostkh5nmwo03rs4v235gs3fu3vtnxcycsimzd115993.jpg" class="profile-picture"/></a> <a href="members/littlecatbaby1">littlecatbaby1</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/Babymizz_23"><img src="../images/pfps/ab5qi7s7e2sagd6btsew0q7fceruynhwoddw8uuekecqf8ryrvjiainck2waf5wt6xe6gz8PA602_12081984-1-pn.jpg" class="profile-picture"/></a> <a href="members/Babymizz_23">Babymizz_23</a></li>
                    
    <li><a href="members/chelseatyree11"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/chelseatyree11">chelseatyree11</a></li>
                    
    <li><a href="members/brittanythree"><img src="../images/pfps/8v6ayykgx2tbkc46uk3ojf2cab7nz6qxrnxec6mxw5y75s3p3u3e0vg0xcem8saq3xv3u5s4070194565_435d5f4af9_t.jpg" class="profile-picture"/></a> <a href="members/brittanythree">brittanythree</a></li>
                    
    <li><a href="members/chrismy96"><img src="../images/pfps/yexi6uph62nhsr0axe0qqwvmj8f5ntgav5isqy0kpcq7tf7gkww0kicsghot0uuoo062ovco_0d5oiYQojcYaOkM.jpg" class="profile-picture"/></a> <a href="members/chrismy96">chrismy96</a></li>
                    
    <li><a href="members/loveguru"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/loveguru">loveguru</a></li>
                    
    <li><a href="members/FunNess1"><img src="../images/pfps/44m463e88gt0b2m3b7zef83iikawqbdk5oezfgwekf4m7gf8c5bi22radpwsqy3jb58gctiPicture 112.jpg" class="profile-picture"/></a> <a href="members/FunNess1">FunNess1</a></li>
                    
    <li><a href="members/RisikaCullen14"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/RisikaCullen14">RisikaCullen14</a></li>
                    
    <li><a href="members/Evee2"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Evee2">Evee2</a></li>
                    
    <li><a href="members/sarah05"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/sarah05">sarah05</a></li>
                    
    <li><a href="members/smileyperson56"><img src="../images/pfps/5qthwkdivbcdemteasg27bjmqj2ggt5c7pksxm0ko3mse6wen44i3dvjnmpr3ks0x0hjdasmiley-cyrus1.jpg" class="profile-picture"/></a> <a href="members/smileyperson56">smileyperson56</a></li>
                    
    <li><a href="members/katie12"><img src="../images/pfps/zxbhrvi2zxu4unxbgz2n8mknr5p83psrcrwre5j4t5wegidma5y6fajv5yuwdddftzuxw5qAnime.jpg" class="profile-picture"/></a> <a href="members/katie12">katie12</a></li>
                    
    <li><a href="members/jadey722"><img src="../images/pfps/jw287tm5w5w0z850g3c3bu3w8csvco2m8ui7cs3ymoqanj0rc0ibkcvjff3frvprgwpgfg5Sunset.jpg" class="profile-picture"/></a> <a href="members/jadey722">jadey722</a></li>
                    
    <li><a href="members/ashley92308"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ashley92308">ashley92308</a></li>
                    
    <li><a href="members/nata"><img src="../images/pfps/2z6fbqehox7a0c4i3jnnsb35axod45iwvf2ut628t06k00rub45r5wn4ky7gsh3ekuw5rq21482956336_m.jpg" class="profile-picture"/></a> <a href="members/nata">nata</a></li>
                    
    <li><a href="members/DXZ"><img src="../images/pfps/yfrpkqf2epcbrrsjhrod202hueqnyk2prh2zx5t3mt20bk8gznjscd0wffb3q0i588wu4gmDXZ.jpg" class="profile-picture"/></a> <a href="members/DXZ">DXZ</a></li>
                    
    <li><a href="members/mexicox123"><img src="../images/pfps/tm36rt7bdvxj6h6u88eumr3zdmwv8oesz6ngojfr5323aym6vqr56iwauhtrvy8jtjq7tvpImg00000.jpg" class="profile-picture"/></a> <a href="members/mexicox123">mexicox123</a></li>
                    
    <li><a href="members/youtubelover"><img src="../images/pfps/oRFvD9q3u4LnyChT4UllD7AvpS4z4qij.jpg" class="profile-picture"/></a> <a href="members/youtubelover">youtubelover</a></li>
                    
    <li><a href="members/nathan456"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/nathan456">nathan456</a></li>
                    
    <li><a href="members/LUIGI11"><img src="../images/pfps/4gfra446omqpu0by3bkjuv0m5rp68hr3pwknrej6oxj8nkxhj7p4teenwtjv20nhmyu403yGreen Sea Turtle.jpg" class="profile-picture"/></a> <a href="members/LUIGI11">LUIGI11</a></li>
                    
    <li><a href="members/uploader2000"><img src="../images/pfps/3sdo5iewbxphzdjr8vcmpjdyzasekhaezdqvjtikhwr6zymxkoaxxekmc0qnaopxp6kyor7Bakon Dancing.gif" class="profile-picture"/></a> <a href="members/uploader2000">uploader2000</a></li>
                    
    <li><a href="members/kylerulesall"><img src="../images/pfps/byoren23v5yzo5g3hug742tanat05qs6f4oiigc2cytptxi0jnwcgectfui88z5fuko0poucaution.gif" class="profile-picture"/></a> <a href="members/kylerulesall">kylerulesall</a></li>
                    
    <li><a href="members/laloca"><img src="../images/pfps/rdyuoiz6ht4br6tzaepxorhejzkvd44t5tci33f8k8725rs5w8r8oydxomhrgc8cwciq3pnMCUt8xiQG0Sx.jpg" class="profile-picture"/></a> <a href="members/laloca">laloca</a></li>
                    
    <li><a href="members/BlackDaisiy"><img src="../images/pfps/1no4Q8TrmqUAFkSN1ysPu1sGG2twQHNG.jpg" class="profile-picture"/></a> <a href="members/BlackDaisiy">BlackDaisiy</a></li>
                    
    <li><a href="members/b1628"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/b1628">b1628</a></li>
                    
    <li><a href="members/omymalfoy22"><img src="../images/pfps/5yh3tjctrupgpwbqn24i3aipwdkpvrfrhkiysmia6vhjigxv6s4ztegefrt07whf7q2p2bncos15_.jpg" class="profile-picture"/></a> <a href="members/omymalfoy22">omymalfoy22</a></li>
                    
    <li><a href="members/amu1211"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/amu1211">amu1211</a></li>
                    
    <li><a href="members/evz429"><img src="../images/pfps/5W3MvheK8zNe7Z83FbzEWSO18W854Otz.gif" class="profile-picture"/></a> <a href="members/evz429">evz429</a></li>
                    
    <li><a href="members/ariana2000"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ariana2000">ariana2000</a></li>
                    
    <li><a href="members/sasukeforlife"><img src="../images/pfps/ypfq3it30bfdhsifhzy63gfz58b8ev63cch3j0w80zc8imcpa2m46ps2nryrctieuq54is0Toco Toucan.jpg" class="profile-picture"/></a> <a href="members/sasukeforlife">sasukeforlife</a></li>
                    
    <li><a href="members/marielajaimes"><img src="../images/pfps/rci6jbf0vxfzyx28xymsz2t72rmttnjbpq5wrbobxt2kgui2juk8k26eiix2t506nwt2v74taylor.jpg" class="profile-picture"/></a> <a href="members/marielajaimes">marielajaimes</a></li>
                    
    <li><a href="members/lilmisswagga"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/lilmisswagga">lilmisswagga</a></li>
                    
    <li><a href="members/smiley360x"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/smiley360x">smiley360x</a></li>
                    
    <li><a href="members/UNDO_production"><img src="../images/pfps/e73zHh32287YSBx3eig1W31XAiR1T1Kv.gif" class="profile-picture"/></a> <a href="members/UNDO_production">UNDO_production</a></li>
                    
    <li><a href="members/Kiki_Swatt"><img src="../images/pfps/jdgmyqpy8p6bqofiw4ig2ehbz3ii07v8b2kxgykeefdssj0fc7j5cq4zjda88v77mhvr67vmomiji.jpg" class="profile-picture"/></a> <a href="members/Kiki_Swatt">Kiki_Swatt</a></li>
                    
    <li><a href="members/EvilTofuMan"><img src="../images/pfps/h8FgJ9CUBYbGJMthbxzP2EoUmyxhtgfO.jpg" class="profile-picture"/></a> <a href="members/EvilTofuMan">EvilTofuMan</a></li>
                    
    <li><a href="members/gigi77"><img src="../images/pfps/hb48yehh54qcmbo45dmpf3mc683zoa0v8usvyy2ttgt3h5xb87oe0zgwz7nc6cv3wfok4g4imagesCAYHM9C4.jpg" class="profile-picture"/></a> <a href="members/gigi77">gigi77</a></li>
                    
    <li><a href="members/mammaz"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/mammaz">mammaz</a></li>
                    
    <li><a href="members/Roxy25"><img src="../images/pfps/rrs0zsjeh86nhsxgszffqnv60ydgqh47woxm65qc4nna3bgnyjqeuc8nydrfind5yyhtuxtToco Toucan.jpg" class="profile-picture"/></a> <a href="members/Roxy25">Roxy25</a></li>
                    
    <li><a href="members/Shyshy372942"><img src="../images/pfps/Qthftm1HmvjZddMkBKGtJj3ikoSmnQZ1.jpg" class="profile-picture"/></a> <a href="members/Shyshy372942">Shyshy372942</a></li>
                    
    <li><a href="members/breetown"><img src="../images/pfps/4qks324y82yq8aq4oh6wpbtf2cxubzc5eko7dgwa8nr5k5zwcujrw2xn4j75a7yeibcjfzi0a4db0cfedb0.jpg" class="profile-picture"/></a> <a href="members/breetown">breetown</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/mat50h" file="pfps/F1f4duOJQ6m7UTdBQr1BOYJ4N6angmdl.jpg" alt="mat50h" %}

<p><b>Username:</b> <a href="members/mat50h">mat50h</a></p>

<p><b>Date:</b> 2010-02-27 19:45:23</p>

<p class="comment"><b>Comment:</b> <p>sup </p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>