---
title: wackykid23
sidebar: home_sidebar
hide_sidebar: true
keywords: wackykid23
permalink: members/wackykid23
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/ECMq6smKownPeveiWeqou95ssWt4ix5m.png" alt="wackykid23" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>14</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>test video - mpokemon walkthrough</li>
<img src="{{"../images/thumb/1_52694.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Karate-Kids</li>
                
The next karate superstar!<br />
                
                <br>
Added: 14-08-2009
                
</ul>
                
<ul>
<li>basketball-star</li>
                
comedic look at basketball
                
                <br>
Added: 14-08-2009
                
</ul>
                
<ul>
<li>Wacky-People</li>
                
wacky questions and even wackier answers
                
                <br>
Added: 15-08-2009
                
</ul>
                
<ul>
<li>AR-gets-cranky</li>
                
comedy
                
                <br>
Added: 17-08-2009
                
</ul>
                
<ul>
<li>alexs-super-mario-bros-ds-walkthrough-part-1</li>
                
walkthrough for super mario brothers ds
                
                <br>
Added: 31-08-2009
                
</ul>
                
<ul>
<li>New-Super-Mario-Bros-walkthrough-part-2</li>
                
New Super Mario Vros DS walkthrough
                
                <br>
Added: 02-09-2009
                
</ul>
                
<ul>
<li>New-Super-Mario-Bros-Walkthrough-part-3</li>
                
wow
                
                <br>
Added: 09-09-2009
                
</ul>
                
<ul>
<li>New-Super-Mario-Bros-Walkthrough-Part-4</li>
                
In this part we do things!!
                
                <br>
Added: 09-09-2009
                
</ul>
                
<ul>
<li>New-Super-Mario-Bros-Walkthrough-part-5</li>
                
Sorry got confused it is part 5
                
                <br>
Added: 11-09-2009
                
</ul>
                
<ul>
<li>New-Super-Mario-Bros-Walkthrough-Part-6</li>
                
wow! sorry for the long wait ill upload another after this one
                
                <br>
Added: 30-09-2009
                
</ul>
                
<ul>
<li>New-super-Mario-Bros-Walkthrough-Part-8</li>
                
cool
                
                <br>
Added: 30-09-2009
                
</ul>
                
<ul>
<li>New-Super-Mario-Bros-Walkthrough-Part-10</li>
                
wow
                
                <br>
Added: 02-10-2009
                
</ul>
                
<ul>
<li>random-clips-1</li>
                
give it a chance if you have ideas post them in the comments.
                
                <br>
Added: 26-01-2010
                
</ul>
                
<ul>
<li>test-video--mpokemon-walkthrough</li>
                
tesdting upload proceedure w/video walkthrough
                
                <br>
Added: 19-03-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/banana_luver"><img src="../images/pfps/pvt7vuuf27dv4o0mv3iz75psv6roetztdhpy3a4t55e0j3d3wntsga824qe873qbb3z23skhelmet.jpg" class="profile-picture"/></a> <a href="members/banana_luver">banana_luver</a></li>
                    
    <li><a href="members/maxmia"><img src="../images/pfps/oq6ikohgd85kmjkg2v7jxdb3vriy486iq0pyfv5iuyu485byp68ea85vocji8gpn52cbo5hmario.gif" class="profile-picture"/></a> <a href="members/maxmia">maxmia</a></li>
                    
    <li><a href="members/ccb123"><img src="../images/pfps/ouxoj08rnjjjmbbphwc3jh052oh66vrjedvo4u3i5dsfdsvifvcp40jugprb86id74q3qjapenguin.gif" class="profile-picture"/></a> <a href="members/ccb123">ccb123</a></li>
                    
    <li><a href="members/gamemaster2000"><img src="../images/pfps/rexuh34r0kcu265ufkpexhqk6rzgtu48yru5knndxnvriramzorpv5zsoox58s3waoqjy0kmypictr_140x185(2).jpg" class="profile-picture"/></a> <a href="members/gamemaster2000">gamemaster2000</a></li>
                    
    <li><a href="members/PRINPLUP"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/PRINPLUP">PRINPLUP</a></li>
                    
    <li><a href="members/megaman"><img src="../images/pfps/1F26kvglaJaw2V87NspRB7hrb0eKov9d.png" class="profile-picture"/></a> <a href="members/megaman">megaman</a></li>
                    
    <li><a href="members/karatekid"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/karatekid">karatekid</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>