---
title: warriorchikorita
sidebar: home_sidebar
hide_sidebar: true
keywords: warriorchikorita
permalink: members/warriorchikorita
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/28gM6PfjwuMWmwdLAPjA7byq3YJCTtIJ.jpg" alt="warriorchikorita" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Michael</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>4</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>7</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>77</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>2585</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>7</b></li>
        
<li> Rating: <b>96.25%</b> out of <b>16</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>11-4-10 Halloween Candy</li>
<img src="{{"../images/thumb/ZROwZl5sWMdpnrroTth0.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>11-5-10 Bunk Beds Rock</li>
<img src="{{"../images/thumb/ITkHepAISjhqchoRTwyB.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Adventures of the pokemon 1-1</li>
<img src="{{"../images/thumb/kftn2MG0sPQDuzT0uczE.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>My warrior Cat</li>
<img src="{{"../images/thumb/VheHAKwxQAuVFeScgIRa.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>11-6-10 Sugar Rush</li>
<img src="{{"../images/thumb/0iHnJqCFwibsOW5KMXF4.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Adventures of the pokemon 1-2 EPIC RANDOMNESS</li>
<img src="{{"../images/thumb/mKJn0jbePURblgVjDouy.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>kidstube update</li>
<img src="{{"../images/thumb/1_66768.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>kidstube-update</li>
                
sorry guys, video explains it.
                
                <br>
Added: 15-08-2011
                
</ul>
                
<ul>
<li>i-can-walk-on-water-i-can-fly-by-basshunter</li>
                
Me mirror dancing to the song by BASSHUNTER. NOT ME. I HAVE NO
RIGHTS except for the dance.
                
                <br>
Added: 2011-02-02
                
</ul>
                
<ul>
<li>new-hollows-auditions</li>
                
My audition for new hollows. BTW, check out the  failed attempts
(hilarious!)
                
                <br>
Added: 2011-02-07
                
</ul>
                
<ul>
<li>stupid-intro-thing</li>
                
it only sais new channel because this will be my first youtube video
                
                <br>
Added: 2011-03-11
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/Iloverockenroll"><img src="../images/pfps/7qQ2JZnpoTt14IgY0uwbVolcN0CsC077.jpg" class="profile-picture"/></a> <a href="members/Iloverockenroll">Iloverockenroll</a></li>
                    
    <li><a href="members/GoldenFlower5"><img src="../images/pfps/O5nIBrYSyYC7yyhouOzELDeypn2bQppe.jpg" class="profile-picture"/></a> <a href="members/GoldenFlower5">GoldenFlower5</a></li>
                    
    <li><a href="members/pandaboy"><img src="../images/pfps/sVRJnCwUQP7EBaJ0gYufEYssKaPrCDfu.png" class="profile-picture"/></a> <a href="members/pandaboy">pandaboy</a></li>
                    
    <li><a href="members/JawJaw1"><img src="../images/pfps/ls2DBDxjn8qn6ECkypV8b2d1mUQj9Zci.png" class="profile-picture"/></a> <a href="members/JawJaw1">JawJaw1</a></li>
                    
    <li><a href="members/Cyber chimchar13"><img src="../images/pfps/5F4Qb3UINQVlKgIiEYlhK6t9pMsQtBno.jpg" class="profile-picture"/></a> <a href="members/Cyber chimchar13">Cyber chimchar13</a></li>
                    
    <li><a href="members/MPK Animations"><img src="../images/pfps/mDPt07IHHbIqZP3LHzbgZnLGHR88I7js.png" class="profile-picture"/></a> <a href="members/MPK Animations">MPK Animations</a></li>
                    
    <li><a href="members/seamus"><img src="../images/pfps/2LFOwnltOvPrPLgEwI6IUYflNbQdlG2c.jpg" class="profile-picture"/></a> <a href="members/seamus">seamus</a></li>
                    
    <li><a href="members/kirby rules"><img src="../images/pfps/j69dk4uf20I7Kx05xHl5hbsy9aSQWTz3.gif" class="profile-picture"/></a> <a href="members/kirby rules">kirby rules</a></li>
                    
    <li><a href="members/blaze09"><img src="../images/pfps/fXR9WNv6WO6vLfKSExebZa6MHW8bUyyy.jpg" class="profile-picture"/></a> <a href="members/blaze09">blaze09</a></li>
                    
    <li><a href="members/toadsworth"><img src="../images/pfps/oDPaRQU2hUebOT9UKJGPaWw0kQ5Ykd3M.gif" class="profile-picture"/></a> <a href="members/toadsworth">toadsworth</a></li>
                    
    <li><a href="members/zerothewolf"><img src="../images/pfps/Cvi2IvmpJ4PhHjIZZkQlOU4gSHHOcKbe.png" class="profile-picture"/></a> <a href="members/zerothewolf">zerothewolf</a></li>
                    
    <li><a href="members/Courage_the_dog_"><img src="../images/pfps/QxbFqiQfAjiQUngMwb0N3Tc993b41BoH.jpg" class="profile-picture"/></a> <a href="members/Courage_the_dog_">Courage_the_dog_</a></li>
                    
    <li><a href="members/justinbieber71597"><img src="../images/pfps/oS6W9q18VTridxhMYeK6kyWJU6xP8rrk.jpg" class="profile-picture"/></a> <a href="members/justinbieber71597">justinbieber71597</a></li>
                    
    <li><a href="members/StormTheWolf"><img src="../images/pfps/CaZatn5Fu18VTyO6HyhLuNxkSnBds0Vu.gif" class="profile-picture"/></a> <a href="members/StormTheWolf">StormTheWolf</a></li>
                    
    <li><a href="members/maya98"><img src="../images/pfps/1znKygakTBzOqg94jJqRggO0l5Ejx32o.png" class="profile-picture"/></a> <a href="members/maya98">maya98</a></li>
                    
    <li><a href="members/Mrhappy17"><img src="../images/pfps/vZqALNC09WME7Z0IfeYZKgdpWyyXAXmv.jpg" class="profile-picture"/></a> <a href="members/Mrhappy17">Mrhappy17</a></li>
                    
    <li><a href="members/killerwii12"><img src="../images/pfps/DJniRlpMXKUoZ8FM6CYqBxEn3lj4w60x.jpg" class="profile-picture"/></a> <a href="members/killerwii12">killerwii12</a></li>
                    
    <li><a href="members/jgr3241"><img src="../images/pfps/zfQer7KCvmRZxPNEIQAUM8yNincsRKlH.jpg" class="profile-picture"/></a> <a href="members/jgr3241">jgr3241</a></li>
                    
    <li><a href="members/amaya1234"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/amaya1234">amaya1234</a></li>
                    
    <li><a href="members/Mario Maniac 64"><img src="../images/pfps/xv2p6y9APxgVNv2SObp3Y1PY8py0p3Xa.jpg" class="profile-picture"/></a> <a href="members/Mario Maniac 64">Mario Maniac 64</a></li>
                    
    <li><a href="members/koreo"><img src="../images/pfps/MQeKaGVPMFRBeDajCarNSITcPouoBcrL.gif" class="profile-picture"/></a> <a href="members/koreo">koreo</a></li>
                    
    <li><a href="members/juno300"><img src="../images/pfps/oXIEQNCVNzPuVkstsDrdxj3cM6MSsScU.gif" class="profile-picture"/></a> <a href="members/juno300">juno300</a></li>
                    
    <li><a href="members/SmilingWarriors"><img src="../images/pfps/T7yPaITZc0YXui5JIXWSaZNinEHnihcz.gif" class="profile-picture"/></a> <a href="members/SmilingWarriors">SmilingWarriors</a></li>
                    
    <li><a href="members/luxray100"><img src="../images/pfps/45yzCeqh1V6mp5eZtWAGio6qDFESvBEq.png" class="profile-picture"/></a> <a href="members/luxray100">luxray100</a></li>
                    
    <li><a href="members/The Scary Snapper"><img src="../images/pfps/g9NSKfPoDgwZS13IZZnlhb9n89MRxcCT.jpg" class="profile-picture"/></a> <a href="members/The Scary Snapper">The Scary Snapper</a></li>
                    
    <li><a href="members/TreeckoFan202"><img src="../images/pfps/e3bjtd2xj4qw6nr0divj84x7xhztvkizchbvk0jtt0grcvig42o2wazihqz4y8sygrkqis7treecko1[1].gif" class="profile-picture"/></a> <a href="members/TreeckoFan202">TreeckoFan202</a></li>
                    
    <li><a href="members/TotalWolfLover"><img src="../images/pfps/v9hA6Ikg8mAgfpVPopz3li4xIYIvaGBJ.jpg" class="profile-picture"/></a> <a href="members/TotalWolfLover">TotalWolfLover</a></li>
                    
    <li><a href="members/Pokemon1"><img src="../images/pfps/Wg2AqKffyti0tf9V5GyZaayqMZWCBGcX.jpg" class="profile-picture"/></a> <a href="members/Pokemon1">Pokemon1</a></li>
                    
    <li><a href="members/pikachuguy"><img src="../images/pfps/YuRz0UOEESnrSDrO3DmEZpKpayeQ07tP.gif" class="profile-picture"/></a> <a href="members/pikachuguy">pikachuguy</a></li>
                    
    <li><a href="members/eveetovaporeon"><img src="../images/pfps/4rn05cruow4qv4ojnw84bgytxindi0odi03c0ixd6qrqi60vtxos3ecrknute6uoxoqnxcqPicture 1400.jpg" class="profile-picture"/></a> <a href="members/eveetovaporeon">eveetovaporeon</a></li>
                    
    <li><a href="members/Shadow_Guy"><img src="../images/pfps/0opry5k7wgwb7g8dp66ki6ap28qnknob20spw2kj87i5dh8sf50m000txg5atj8mbrzvjb3Brambleclaw.jpg" class="profile-picture"/></a> <a href="members/Shadow_Guy">Shadow_Guy</a></li>
                    
    <li><a href="members/Jirachi681"><img src="../images/pfps/iCYkoxfia7NmbwqWzZp3PsQHQPBSfbcD.png" class="profile-picture"/></a> <a href="members/Jirachi681">Jirachi681</a></li>
                    
    <li><a href="members/WeavileFan"><img src="../images/pfps/mJfE0jMGsmV1X6pwo3D71NLpXEw31Atb.png" class="profile-picture"/></a> <a href="members/WeavileFan">WeavileFan</a></li>
                    
    <li><a href="members/pikachu2"><img src="../images/pfps/dHgQRyeIvJ9htahXhYYfUGXsJRAaYMrz.gif" class="profile-picture"/></a> <a href="members/pikachu2">pikachu2</a></li>
                    
    <li><a href="members/luxray"><img src="../images/pfps/dXDJV6N97mJGHH6MG3xghC0wrirLuZiN.jpg" class="profile-picture"/></a> <a href="members/luxray">luxray</a></li>
                    
    <li><a href="members/ThunderTheJolteon"><img src="../images/pfps/jrn8dinth7ou0rofhguzp0zp006ygisq05n4dzmiwz3mhhrpndgz26gtvbg3kzhatv2wje4481041988_1460231.gif" class="profile-picture"/></a> <a href="members/ThunderTheJolteon">ThunderTheJolteon</a></li>
                    
    <li><a href="members/kingdomheartsfreak"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/kingdomheartsfreak">kingdomheartsfreak</a></li>
                    
    <li><a href="members/Tartis11"><img src="../images/pfps/x2RN4aU372GbHJBNufCADSdFYJ9lmezZ.jpg" class="profile-picture"/></a> <a href="members/Tartis11">Tartis11</a></li>
                    
    <li><a href="members/AxelFan566"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/AxelFan566">AxelFan566</a></li>
                    
    <li><a href="members/vishvish"><img src="../images/pfps/4z7e3rd7zuax86cjnqat8zjitru0fj47azc3hfy7zytwtv64a4m8vvgfcy6fazdaqf2wirsCucco-Obsessed-Link.gif" class="profile-picture"/></a> <a href="members/vishvish">vishvish</a></li>
                    
    <li><a href="members/DeDino"><img src="../images/pfps/MySNqoCVrVZHK1xK5YrnLAaFfTZqnLey.png" class="profile-picture"/></a> <a href="members/DeDino">DeDino</a></li>
                    
    <li><a href="members/minnnie cat"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/minnnie cat">minnnie cat</a></li>
                    
    <li><a href="members/kingdom of hearts"><img src="../images/pfps/qbd8YWeVcWU1h1Zi0xTvx1j6ZK2fj1XP.jpg" class="profile-picture"/></a> <a href="members/kingdom of hearts">kingdom of hearts</a></li>
                    
    <li><a href="members/PuppyLife"><img src="../images/pfps/Dade10VNu2bkGyHlPMCc3ubF2J75mgDo.gif" class="profile-picture"/></a> <a href="members/PuppyLife">PuppyLife</a></li>
                    
    <li><a href="members/cshi123"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/cshi123">cshi123</a></li>
                    
    <li><a href="members/WigglyXKitten"><img src="../images/pfps/czfififjn6tqxmddjo6gdtnqa4i6keak2dr8mxixszchafiitgpvx2avvgs4kqdeuub4ihscat avatar.gif" class="profile-picture"/></a> <a href="members/WigglyXKitten">WigglyXKitten</a></li>
                    
    <li><a href="members/spongeybrown124"><img src="../images/pfps/JwGbD7Wb6kKPwrqXRidniEXSrC5T7KoE.gif" class="profile-picture"/></a> <a href="members/spongeybrown124">spongeybrown124</a></li>
                    
    <li><a href="members/FrostTheGlaceon"><img src="../images/pfps/8d5ggteyp0ab7nv4a233jtbwe0u7vpstspzw65jmujksv6otwfn4wms0ebyxqgh6v6uq24zGlaceon.png" class="profile-picture"/></a> <a href="members/FrostTheGlaceon">FrostTheGlaceon</a></li>
                    
    <li><a href="members/I heart cats"><img src="../images/pfps/SuC7q43f8RlKDbb5Jkmy0HySJxUguRkC.jpg" class="profile-picture"/></a> <a href="members/I heart cats">I heart cats</a></li>
                    
    <li><a href="members/quinquin2001"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/quinquin2001">quinquin2001</a></li>
                    
    <li><a href="members/The-Weegee-Fan"><img src="../images/pfps/4ZusTydTj4rMNv4x35wofabyvBUDVaFP.gif" class="profile-picture"/></a> <a href="members/The-Weegee-Fan">The-Weegee-Fan</a></li>
                    
    <li><a href="members/Fordark"><img src="../images/pfps/b4oCILOhv55JIqNaplnq29Uvnpl4Aelb.jpg" class="profile-picture"/></a> <a href="members/Fordark">Fordark</a></li>
                    
    <li><a href="members/Freeze-the-glaceon"><img src="../images/pfps/4snigmgqe2zuq6btxmvjtfiizfwco2djkosryy60pwm5rkofwapffxm30a6g27oej4t8rozfreeze.gif" class="profile-picture"/></a> <a href="members/Freeze-the-glaceon">Freeze-the-glaceon</a></li>
                    
    <li><a href="members/tiffadventures"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/tiffadventures">tiffadventures</a></li>
                    
    <li><a href="members/PlusleFan202"><img src="../images/pfps/whJLqtYYFIImOT3v6kYntANNE8snfjDP.gif" class="profile-picture"/></a> <a href="members/PlusleFan202">PlusleFan202</a></li>
                    
    <li><a href="members/dollface429"><img src="../images/pfps/KBsJC8CAJEMLTpCfZY8T7uWLjkPzlR6t.jpg" class="profile-picture"/></a> <a href="members/dollface429">dollface429</a></li>
                    
    <li><a href="members/pokemonlover12"><img src="../images/pfps/HTRZzNTkxmhton7aRdwPcNKlZkeNCZAJ.png" class="profile-picture"/></a> <a href="members/pokemonlover12">pokemonlover12</a></li>
                    
    <li><a href="members/mzr07"><img src="../images/pfps/x2Cu4pQmR6wSyGt3VcBIs8HS153CGue1.jpg" class="profile-picture"/></a> <a href="members/mzr07">mzr07</a></li>
                    
    <li><a href="members/SecretagentAlex"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/SecretagentAlex">SecretagentAlex</a></li>
                    
    <li><a href="members/supernicky2"><img src="../images/pfps/AYtSU2O2RrjufbF9ae5azw6WbejoVU7W.png" class="profile-picture"/></a> <a href="members/supernicky2">supernicky2</a></li>
                    
    <li><a href="members/autisticblogger"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/autisticblogger">autisticblogger</a></li>
                    
    <li><a href="members/coolkidnic"><img src="../images/pfps/d4z3YLFeynKJupaXES4dfJ09bUSW7HWa.gif" class="profile-picture"/></a> <a href="members/coolkidnic">coolkidnic</a></li>
                    
    <li><a href="members/FuzzyFuzz"><img src="../images/pfps/UMw9f26BG5fP2RmR10TFihsDcMnsdZwv.gif" class="profile-picture"/></a> <a href="members/FuzzyFuzz">FuzzyFuzz</a></li>
                    
    <li><a href="members/anti sora"><img src="../images/pfps/zXbvlQcsht9qsj7igO7TXGbiSCqEgJQT.png" class="profile-picture"/></a> <a href="members/anti sora">anti sora</a></li>
                    
    <li><a href="members/marumoru"><img src="../images/pfps/uy7KcigDLaUptPG7FFYvpGXRJ1DZHS71.jpg" class="profile-picture"/></a> <a href="members/marumoru">marumoru</a></li>
                    
    <li><a href="members/sellerman123"><img src="../images/pfps/P4Nwm4h7KslHSrgLEQ69lprXvYdy5aMI.png" class="profile-picture"/></a> <a href="members/sellerman123">sellerman123</a></li>
                    
    <li><a href="members/Scarbelly"><img src="../images/pfps/inLPlWobHAwhkrL6ZeyC5a7uzGPI4wea.png" class="profile-picture"/></a> <a href="members/Scarbelly">Scarbelly</a></li>
                    
    <li><a href="members/Demiluv"><img src="../images/pfps/s8hEcuVV37B3aXHJc84hJpfUi7rdyXEe.jpg" class="profile-picture"/></a> <a href="members/Demiluv">Demiluv</a></li>
                    
    <li><a href="members/Lugias song"><img src="../images/pfps/AKta4j0mCWC2vkNF8vupjT95g1MMrdbq.jpg" class="profile-picture"/></a> <a href="members/Lugias song">Lugias song</a></li>
                    
    <li><a href="members/blue_sky5"><img src="../images/pfps/DOosX0nt7X99IAzn0Gs2cBYRYINPqjur.jpg" class="profile-picture"/></a> <a href="members/blue_sky5">blue_sky5</a></li>
                    
    <li><a href="members/29lnmnmu"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/29lnmnmu">29lnmnmu</a></li>
                    
    <li><a href="members/metalsonictheonyx"><img src="../images/pfps/L8inKWYRyRc2Bpm4JXgzSeHU8ibRmG7w.png" class="profile-picture"/></a> <a href="members/metalsonictheonyx">metalsonictheonyx</a></li>
                    
    <li><a href="members/iang32"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/iang32">iang32</a></li>
                    
    <li><a href="members/jordanrausch"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/jordanrausch">jordanrausch</a></li>
                    
    <li><a href="members/cpleope"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/cpleope">cpleope</a></li>
                    
    <li><a href="members/cool dudes"><img src="../images/pfps/uzaaIGDIZQppz46b4lY95OY5OEAL7wxr.jpg" class="profile-picture"/></a> <a href="members/cool dudes">cool dudes</a></li>
                    
    <li><a href="members/leahc"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/leahc">leahc</a></li>
                    
    <li><a href="members/Kiarathejolteon"><img src="../images/pfps/jwoOcIHjgFWS5GmI2mD6dRnNhqtwBMsi.gif" class="profile-picture"/></a> <a href="members/Kiarathejolteon">Kiarathejolteon</a></li>
                    
    <li><a href="members/SonicXAmy4ever"><img src="../images/pfps/omXj7OMOP0bshlweWOzDUg2wxVRMaF5C.jpg" class="profile-picture"/></a> <a href="members/SonicXAmy4ever">SonicXAmy4ever</a></li>
                    
    <li><a href="members/pokekid80"><img src="../images/pfps/V7s6AbnrHxKzX1ASc3ZzAoPOaIicYmIt.jpg" class="profile-picture"/></a> <a href="members/pokekid80">pokekid80</a></li>
                    
    <li><a href="members/H20productions"><img src="../images/pfps/dUnsWtLcAdxRrnw7mJSUQEmW17zVPCEs.gif" class="profile-picture"/></a> <a href="members/H20productions">H20productions</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
<li class="commentspace">

{% include pfp.html url="members/warriorchikorita" file="pfps/28gM6PfjwuMWmwdLAPjA7byq3YJCTtIJ.jpg" alt="warriorchikorita" %}

<p><b>Username:</b> <a href="members/warriorchikorita>warriorchikorita</a></p>

<p><b>Date:</b> 2011-04-24 13:35:22</p>

<p class="comment"><b>Comment:</b> <p>What's going on with kidstube? anyone else experiencing glithes???</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/anti sora" file="pfps/zXbvlQcsht9qsj7igO7TXGbiSCqEgJQT.png" alt="anti sora" %}

<p><b>Username:</b> <a href="members/anti sora>anti sora</a></p>

<p><b>Date:</b> 2011-04-19 18:12:59</p>

<p class="comment"><b>Comment:</b> <p>HA HA HA HA! i cants stop lafing [keep watching funny things]<img alt="" src="../images/fckeditor/editor/images/smiley/msn/teeth_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/warriorchikorita" file="pfps/28gM6PfjwuMWmwdLAPjA7byq3YJCTtIJ.jpg" alt="warriorchikorita" %}

<p><b>Username:</b> <a href="members/warriorchikorita>warriorchikorita</a></p>

<p><b>Date:</b> 2011-04-07 06:25:17</p>

<p class="comment"><b>Comment:</b> <p>alright</p>
<p> </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/jordanrausch" file="pfps/placeholder.gif" alt="jordanrausch" %}

<p><b>Username:</b> <a href="members/jordanrausch>jordanrausch</a></p>

<p><b>Date:</b> 2011-03-29 19:23:48</p>

<p class="comment"><b>Comment:</b> <p> hi how are you?</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/warriorchikorita" file="pfps/28gM6PfjwuMWmwdLAPjA7byq3YJCTtIJ.jpg" alt="warriorchikorita" %}

<p><b>Username:</b> <a href="members/warriorchikorita>warriorchikorita</a></p>

<p><b>Date:</b> 2011-03-29 19:00:39</p>

<p class="comment"><b>Comment:</b> <p>watch out for fake generator i.e. http://myitunescodegenerator.com?id=bd8h9xa</p>
<p>don't go. BALOGNA</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130>luigi130</a></p>

<p><b>Date:</b> 2011-03-26 05:54:52</p>

<p class="comment"><b>Comment:</b> <p>WHY R U A JERK TO ME??????????????????</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/warriorchikorita" file="pfps/28gM6PfjwuMWmwdLAPjA7byq3YJCTtIJ.jpg" alt="warriorchikorita" %}

<p><b>Username:</b> <a href="members/warriorchikorita>warriorchikorita</a></p>

<p><b>Date:</b> 2011-03-14 20:42:23</p>

<p class="comment"><b>Comment:</b> <p>Here is a kool website for videos to join (im scar. lookmah up!!)</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/warriorchikorita" file="pfps/28gM6PfjwuMWmwdLAPjA7byq3YJCTtIJ.jpg" alt="warriorchikorita" %}

<p><b>Username:</b> <a href="members/warriorchikorita>warriorchikorita</a></p>

<p><b>Date:</b> 2011-03-05 17:13:24</p>

<p class="comment"><b>Comment:</b> <p>Subscriber list: 0</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/warriorchikorita" file="pfps/28gM6PfjwuMWmwdLAPjA7byq3YJCTtIJ.jpg" alt="warriorchikorita" %}

<p><b>Username:</b> <a href="members/warriorchikorita>warriorchikorita</a></p>

<p><b>Date:</b> 2011-03-05 17:13:07</p>

<p class="comment"><b>Comment:</b> <p>Dear fans:<br/>
      i watched a video called subscibers and long story short, liked it.<br/>
so, i will have a subscriber list, and if you want on email me, and what will happen is i will post a subscriber list and when i get new videos you get an email teling you so!<br/>
                                             ~warriorchikorita</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/anti sora" file="pfps/zXbvlQcsht9qsj7igO7TXGbiSCqEgJQT.png" alt="anti sora" %}

<p><b>Username:</b> <a href="members/anti sora>anti sora</a></p>

<p><b>Date:</b> 2011-02-24 18:30:48</p>

<p class="comment"><b>Comment:</b> <p><span style="font-size: xx-large;">pokemon!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</span></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/pandaboy" file="pfps/Cf57WjZhJzgd2nBZK2b3BlRXZP0C2Aj4.gif" alt="pandaboy" %}

<p><b>Username:</b> <a href="members/pandaboy>pandaboy</a></p>

<p><b>Date:</b> 2011-02-19 17:46:26</p>

<p class="comment"><b>Comment:</b> <p>Your avatar is of the Grass Pokemon for Black and White! The grass one is Awesome but, I'm going to use the fire one!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/warriorchikorita" file="pfps/28gM6PfjwuMWmwdLAPjA7byq3YJCTtIJ.jpg" alt="warriorchikorita" %}

<p><b>Username:</b> <a href="members/warriorchikorita>warriorchikorita</a></p>

<p><b>Date:</b> 2011-02-18 15:13:33</p>

<p class="comment"><b>Comment:</b> <p>Pokemon coluseeum has been found !</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/anti sora" file="pfps/zXbvlQcsht9qsj7igO7TXGbiSCqEgJQT.png" alt="anti sora" %}

<p><b>Username:</b> <a href="members/anti sora>anti sora</a></p>

<p><b>Date:</b> 2011-02-17 18:43:50</p>

<p class="comment"><b>Comment:</b> <p> ASOME!!</p>
<p>BUT NOT FOR UR POKEMON</p>
<p> </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/anti sora" file="pfps/zXbvlQcsht9qsj7igO7TXGbiSCqEgJQT.png" alt="anti sora" %}

<p><b>Username:</b> <a href="members/anti sora>anti sora</a></p>

<p><b>Date:</b> 2011-02-14 14:25:53</p>

<p class="comment"><b>Comment:</b> <p> HAPPY VALENTINES DAY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<img alt="" src="../images/fckeditor/editor/images/smiley/msn/teeth_smile.gif"/></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/maya98" file="pfps/sFOHzSDWwHdHWPLbIfmGunX8H9xSVpDD.gif" alt="maya98" %}

<p><b>Username:</b> <a href="members/maya98>maya98</a></p>

<p><b>Date:</b> 2011-02-14 11:52:08</p>

<p class="comment"><b>Comment:</b> <p>@slashinzangoose775 OF EVERYTHING. 8U</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/slashinzangoose775" file="pfps/yxFK0RXR6i1DGTmX43eiwDwWrsROJbi7.png" alt="slashinzangoose775" %}

<p><b>Username:</b> <a href="members/slashinzangoose775>slashinzangoose775</a></p>

<p><b>Date:</b> 2011-02-13 08:27:39</p>

<p class="comment"><b>Comment:</b> </p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/SmilingWarriors" file="pfps/BZDFU6SoGf785qZ349mJ86CX0SDJFhVH.png" alt="SmilingWarriors" %}

<p><b>Username:</b> <a href="members/SmilingWarriors>SmilingWarriors</a></p>

<p><b>Date:</b> 2011-02-11 13:39:07</p>

<p class="comment"><b>Comment:</b> <p>Lulz, Smugleaf approves of ur icon X3</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/luigi130" file="pfps/lO6EiuJuWguLGHluH22W0twGzq1GIM9r.jpg" alt="luigi130" %}

<p><b>Username:</b> <a href="members/luigi130>luigi130</a></p>

<p><b>Date:</b> 2011-02-10 16:14:34</p>

<p class="comment"><b>Comment:</b> <p>no1 cares of so called "inapropriate" words on kidstube and dude thats not inapropriate</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/tiffadventures" file="pfps/placeholder.gif" alt="tiffadventures" %}

<p><b>Username:</b> <a href="members/tiffadventures>tiffadventures</a></p>

<p><b>Date:</b> 2011-02-03 17:51:43</p>

<p class="comment"><b>Comment:</b> <p> Hey! I had the fever once at school in 2nd grade. I noticed it when i went home. </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/anti sora" file="pfps/zXbvlQcsht9qsj7igO7TXGbiSCqEgJQT.png" alt="anti sora" %}

<p><b>Username:</b> <a href="members/anti sora>anti sora</a></p>

<p><b>Date:</b> 2011-01-28 19:13:07</p>

<p class="comment"><b>Comment:</b> <p> i had a fever at school and had to stay home 4 the next day but i still had 2 do my homework:0</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/anti sora" file="pfps/zXbvlQcsht9qsj7igO7TXGbiSCqEgJQT.png" alt="anti sora" %}

<p><b>Username:</b> <a href="members/anti sora>anti sora</a></p>

<p><b>Date:</b> 2011-01-26 11:32:29</p>

<p class="comment"><b>Comment:</b> <p> me still bored had to stay from school on wednes day</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/killerwii12" file="pfps/DJniRlpMXKUoZ8FM6CYqBxEn3lj4w60x.jpg" alt="killerwii12" %}

<p><b>Username:</b> <a href="members/killerwii12>killerwii12</a></p>

<p><b>Date:</b> 2011-01-20 16:18:31</p>

<p class="comment"><b>Comment:</b> <p>LIKE MY PIC</p>
<p>LIKE MY PIC</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/killerwii12" file="pfps/DJniRlpMXKUoZ8FM6CYqBxEn3lj4w60x.jpg" alt="killerwii12" %}

<p><b>Username:</b> <a href="members/killerwii12>killerwii12</a></p>

<p><b>Date:</b> 2011-01-20 16:03:37</p>

<p class="comment"><b>Comment:</b> <p>CHECK ANGEL</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/maya98" file="pfps/sFOHzSDWwHdHWPLbIfmGunX8H9xSVpDD.gif" alt="maya98" %}

<p><b>Username:</b> <a href="members/maya98>maya98</a></p>

<p><b>Date:</b> 2011-01-20 08:46:46</p>

<p class="comment"><b>Comment:</b> <p>LOL! Your chickorita Icon is like: I WHIP MA HAIR BACK N FORTH A WHIP MA HAIR BACK N FORTH!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/autisticblogger" file="pfps/placeholder.gif" alt="autisticblogger" %}

<p><b>Username:</b> <a href="members/autisticblogger>autisticblogger</a></p>

<p><b>Date:</b> 2011-01-19 19:15:37</p>

<p class="comment"><b>Comment:</b> <p>Um KidsTubeTV, you didn't give me the idea.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/KidsTubeTV" file="pfps/B9kvoPCbFjDsFTtltRKF6CyXXgkoHmfI.png" alt="KidsTubeTV" %}

<p><b>Username:</b> <a href="members/KidsTubeTV>KidsTubeTV</a></p>

<p><b>Date:</b> 2011-01-19 19:09:47</p>

<p class="comment"><b>Comment:</b> <p> Guys I gave autistcblogger the idea.And I joined warriorchikorita's group.But if any of you guys have problems join my group called TeleKidsTube Technology Repair.I willdo everything that's possible.Go to http://www.kidstube.com/group_home.php?=2953</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/autisticblogger" file="pfps/placeholder.gif" alt="autisticblogger" %}

<p><b>Username:</b> <a href="members/autisticblogger>autisticblogger</a></p>

<p><b>Date:</b> 2011-01-19 17:45:26</p>

<p class="comment"><b>Comment:</b> <p> </p>
<p>Your upload is now complete, and is being processed </p>
<p> </p>
<p>Yes!!!!!!!!!!!!!!!!!!</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/autisticblogger" file="pfps/placeholder.gif" alt="autisticblogger" %}

<p><b>Username:</b> <a href="members/autisticblogger>autisticblogger</a></p>

<p><b>Date:</b> 2011-01-19 17:40:26</p>

<p class="comment"><b>Comment:</b> <p> I found a fix for it. If you download Google Chrome and try to upload, it will still give you an error. But the bottom of the page will give you progress on its upload. For example, it says that it is 27@ uploaded. So even with the error, it will upload with Google Chrome.</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/warriorchikorita" file="pfps/28gM6PfjwuMWmwdLAPjA7byq3YJCTtIJ.jpg" alt="warriorchikorita" %}

<p><b>Username:</b> <a href="members/warriorchikorita>warriorchikorita</a></p>

<p><b>Date:</b> 2011-01-15 19:41:35</p>

<p class="comment"><b>Comment:</b> <p>If you like cute puppies, kitties, and other animals join this bloG: http://www.kidstube.com/group_home.php?gid=2946</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/killerwii12" file="pfps/DJniRlpMXKUoZ8FM6CYqBxEn3lj4w60x.jpg" alt="killerwii12" %}

<p><b>Username:</b> <a href="members/killerwii12>killerwii12</a></p>

<p><b>Date:</b> 2011-01-01 10:22:21</p>

<p class="comment"><b>Comment:</b> <p><strong>NOOOOOOOOOOOOO!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<img alt="" src="../images/fckeditor/editor/images/smiley/msn/thumbs_down.gif"/><img alt="" src="../images/fckeditor/editor/images/smiley/msn/cry_smile.gif"/></strong></p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/killerwii12" file="pfps/DJniRlpMXKUoZ8FM6CYqBxEn3lj4w60x.jpg" alt="killerwii12" %}

<p><b>Username:</b> <a href="members/killerwii12>killerwii12</a></p>

<p><b>Date:</b> 2010-12-31 13:17:38</p>

<p class="comment"><b>Comment:</b> <p>EMAIL STAFF CANT UPLOAD MY VIDEOS PLEASE!!!!!!!!!!!!!!!!!!!<img alt="" src="../images/fckeditor/editor/images/smiley/msn/cry_smile.gif"/><img alt="" src="../images/fckeditor/editor/images/smiley/msn/cry_smile.gif"/><img alt="" src="../images/fckeditor/editor/images/smiley/msn/cry_smile.gif"/><img alt="" src="../images/fckeditor/editor/images/smiley/msn/cry_smile.gif"/><img alt="" src="../images/fckeditor/editor/images/smiley/msn/cry_smile.gif"/><img alt="" src="../images/fckeditor/editor/images/smiley/msn/cry_smile.gif"/><img alt="" src="../images/fckeditor/editor/images/smiley/msn/cry_smile.gif"/><img alt="" src="../images/fckeditor/editor/images/smiley/msn/cry_smile.gif"/><img alt="" src="../images/fckeditor/editor/images/smiley/msn/cry_smile.gif"/><img alt="" src="../images/fckeditor/editor/images/smiley/msn/cry_smile.gif"/><img li="" src...<=""/>
<li id="Ajax-Profile-Abuse_26874"></li>
</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/Zainy" file="pfps/placeholder.gif" alt="Zainy" %}

<p><b>Username:</b> <a href="members/Zainy>Zainy</a></p>

<p><b>Date:</b> 2010-12-30 09:11:29</p>

<p class="comment"><b>Comment:</b> <p>IM COMMENTING ON YOUR PAGE!! WHOO WHOO!! I love all your videos and your avatar :33</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/killerwii12" file="pfps/DJniRlpMXKUoZ8FM6CYqBxEn3lj4w60x.jpg" alt="killerwii12" %}

<p><b>Username:</b> <a href="members/killerwii12>killerwii12</a></p>

<p><b>Date:</b> 2010-12-12 17:22:44</p>

<p class="comment"><b>Comment:</b> <p>warriorchicarita our video was messed up so had to redo it.       <img alt="" src="../images/fckeditor/editor/images/smiley/msn/cry_smile.gif"/> </p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/killerwii12" file="pfps/DJniRlpMXKUoZ8FM6CYqBxEn3lj4w60x.jpg" alt="killerwii12" %}

<p><b>Username:</b> <a href="members/killerwii12>killerwii12</a></p>

<p><b>Date:</b> 2010-12-06 18:51:46</p>

<p class="comment"><b>Comment:</b> <p>hahahahahahaha</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/killerwii12" file="pfps/DJniRlpMXKUoZ8FM6CYqBxEn3lj4w60x.jpg" alt="killerwii12" %}

<p><b>Username:</b> <a href="members/killerwii12>killerwii12</a></p>

<p><b>Date:</b> 2010-11-26 19:29:52</p>

<p class="comment"><b>Comment:</b> <p>that is terrifece man</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/killerwii12" file="pfps/DJniRlpMXKUoZ8FM6CYqBxEn3lj4w60x.jpg" alt="killerwii12" %}

<p><b>Username:</b> <a href="members/killerwii12>killerwii12</a></p>

<p><b>Date:</b> 2010-11-19 17:39:09</p>

<p class="comment"><b>Comment:</b> <p>nice</p></p>

</li>

<br>
        
<li class="commentspace">

{% include pfp.html url="members/SmilingWarriors" file="pfps/BZDFU6SoGf785qZ349mJ86CX0SDJFhVH.png" alt="SmilingWarriors" %}

<p><b>Username:</b> <a href="members/SmilingWarriors>SmilingWarriors</a></p>

<p><b>Date:</b> 2010-11-14 10:11:35</p>

<p class="comment"><b>Comment:</b> <p>ＨＩ</p></p>

</li>

<br>
        
</ul>

</div>

</div>

</body>

</html>