---
title: webkinzmaster
sidebar: home_sidebar
hide_sidebar: true
keywords: webkinzmaster
permalink: members/webkinzmaster
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/8jr8x3o3to0axm7hekgtajbiroubckhbty8frn8b0z8na7segzyhaxopc6qdgvezjd50p2zThe Tale Of Despereaux.jpg" alt="webkinzmaster" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Mary</b></li>
        
<li> Age: <b>2011</b></li>
        
<li> Gender: <b></b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>0</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>40</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>220</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>0</b></li>
        
<li> Rating: <b>80%</b> out of <b>1 Vote</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/SeanSanczel"><img src="../images/pfps/ty4ts7vuze7d0asmqd4vzwv2fr5wmoj5deptd8e0eb45bkfpnacdvx6ydzkpeujfzwy0w2sSeanHeadshot2.jpg" class="profile-picture"/></a> <a href="members/SeanSanczel">SeanSanczel</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/Ivory"><img src="../images/pfps/m8kj6bza8bfjm4524hqbax0frcgpyeyab7h888867cgj4cczhqyhfqmwsqaguwgwvotskqpIvory_resized.jpg" class="profile-picture"/></a> <a href="members/Ivory">Ivory</a></li>
                    
    <li><a href="members/Andrea515"><img src="../images/pfps/vamg6rjpabgknh4in6hm0pb0wawrt0gf2qkw5sd5uhf5p7e23jcuyejjc6ytv3xoj8adpdasmile with your heart.jpg" class="profile-picture"/></a> <a href="members/Andrea515">Andrea515</a></li>
                    
    <li><a href="members/nintend-boy-john"><img src="../images/pfps/g24ijovpa3b08ws5e45oegiq5x66z7s6ykd8wymwqnnn73iaydp3jxhdkdabbq5x08wov88star.jpg" class="profile-picture"/></a> <a href="members/nintend-boy-john">nintend-boy-john</a></li>
                    
    <li><a href="members/rayrachness"><img src="../images/pfps/nvi8riz0png5bunip36tqm8eyzwzsae3to2bws2b3844rhb6c8pqkou8dhyvf3pwhfy3yr2Picture 1.jpg" class="profile-picture"/></a> <a href="members/rayrachness">rayrachness</a></li>
                    
    <li><a href="members/sarah05"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/sarah05">sarah05</a></li>
                    
    <li><a href="members/squirrelflighthewarrior"><img src="../images/pfps/a3j6rw0x2s5xdo43ih3g7i6qasz5mt3jndg5z7rrpkfsw7j6dddcn7skqgezy7ac8f5xbnfleafeondec3.png" class="profile-picture"/></a> <a href="members/squirrelflighthewarrior">squirrelflighthewarrior</a></li>
                    
    <li><a href="members/chrismy96"><img src="../images/pfps/yexi6uph62nhsr0axe0qqwvmj8f5ntgav5isqy0kpcq7tf7gkww0kicsghot0uuoo062ovco_0d5oiYQojcYaOkM.jpg" class="profile-picture"/></a> <a href="members/chrismy96">chrismy96</a></li>
                    
    <li><a href="members/TaylorRox"><img src="../images/pfps/d2mg3z75fr7h2xdo3fg0bxdschxpr8ys2ayvxwr0cna4cbi3gnvfcwxc4nrjme2eery3ceupeace,happiness,and love.jpg" class="profile-picture"/></a> <a href="members/TaylorRox">TaylorRox</a></li>
                    
    <li><a href="members/Blazingshadow"><img src="../images/pfps/bm3tnjgzyt6ayndjqm5qwnwyt5j5bx5cawwm50auk4t7iwfw7bbunxh6ts3vgwxfkirebrwSilver_shadow__improved.png" class="profile-picture"/></a> <a href="members/Blazingshadow">Blazingshadow</a></li>
                    
    <li><a href="members/fluffy226"><img src="../images/pfps/xp7yr8v4nogqs2uk8iqqh2dqruecfhu0wrqeqa62pdi753h2axjhpkx630788sxt7cvpdsfmushrums.jpg" class="profile-picture"/></a> <a href="members/fluffy226">fluffy226</a></li>
                    
    <li><a href="members/PalominoPrincess"><img src="../images/pfps/awb2suas7v7wspkgrys2gdhwr24ymh2k40dkmb4juz4egfkv32na5uukmp7vxz6qr8z0as8Palomino.jpg" class="profile-picture"/></a> <a href="members/PalominoPrincess">PalominoPrincess</a></li>
                    
    <li><a href="members/Shadow_Guy"><img src="../images/pfps/0opry5k7wgwb7g8dp66ki6ap28qnknob20spw2kj87i5dh8sf50m000txg5atj8mbrzvjb3Brambleclaw.jpg" class="profile-picture"/></a> <a href="members/Shadow_Guy">Shadow_Guy</a></li>
                    
    <li><a href="members/PleaseEnterNameHere"><img src="../images/pfps/zysx7qoufvm37fm35qisazveqfc4aw7xjqkh4y2aic0gfc7aqhso7csmhshfgd2qrdwmznk1HaDJAmQjIeZnXu30d3p.jpg" class="profile-picture"/></a> <a href="members/PleaseEnterNameHere">PleaseEnterNameHere</a></li>
                    
    <li><a href="members/Darkrai100"><img src="../images/pfps/gjn564ceju8nsydcck6myexi4a57jjkqrxkmsnqz7pdochresmpfrbmmbiijqrz5fbhwovnIshna AMV 0001.jpg" class="profile-picture"/></a> <a href="members/Darkrai100">Darkrai100</a></li>
                    
    <li><a href="members/glynnis"><img src="../images/pfps/kqK4sHZeFvntuRE6ukbLMQ1pQxzWvMAV.jpg" class="profile-picture"/></a> <a href="members/glynnis">glynnis</a></li>
                    
    <li><a href="members/GameMaster"><img src="../images/pfps/fveawj48t8tdvdzw8siov6iw8867r04ukau8hn50mn25rqrq8z4swbgtabrp2naeksbs64havatar 4.gif" class="profile-picture"/></a> <a href="members/GameMaster">GameMaster</a></li>
                    
    <li><a href="members/marird"><img src="../images/pfps/pw2tyviiyx27c5c4pj4gdfwa02jfkgwx3phq8qwycpudmu7y4z573t5tmfwvkkhcxotx2gkcute.jpg" class="profile-picture"/></a> <a href="members/marird">marird</a></li>
                    
    <li><a href="members/coralinefan"><img src="../images/pfps/nxjo27rz0apebdmu73o6cq4xaaxmigbt4i8weon5m0an4j7zbjvdzoyzomdvsefmkc8pokjcoraline-soundtrack-listen.jpg" class="profile-picture"/></a> <a href="members/coralinefan">coralinefan</a></li>
                    
    <li><a href="members/Hulk2Spiderman"><img src="../images/pfps/yeqswyy4ojgjs7377nx4278o370qbr00uijh56dhehqxfjtbuh6od3z60rm26drrjyxetymppl.jpg" class="profile-picture"/></a> <a href="members/Hulk2Spiderman">Hulk2Spiderman</a></li>
                    
    <li><a href="members/PRINPLUP"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/PRINPLUP">PRINPLUP</a></li>
                    
    <li><a href="members/IvyTheEspeon"><img src="../images/pfps/QUfHq7br0He8Yiw9hY5p7mtKxVctd2ar.png" class="profile-picture"/></a> <a href="members/IvyTheEspeon">IvyTheEspeon</a></li>
                    
    <li><a href="members/Pokebub0825"><img src="../images/pfps/owephd3rgi6mmy6t2czjnsp3domte2qqpu5uvza267djua0oarxnadgcqqvsicavu5hgtf7Avatar 1.jpg" class="profile-picture"/></a> <a href="members/Pokebub0825">Pokebub0825</a></li>
                    
    <li><a href="members/newswithjosh"><img src="../images/pfps/BhKwAUJmGGZOKms4YCmfxbBEhtORVzYW.jpg" class="profile-picture"/></a> <a href="members/newswithjosh">newswithjosh</a></li>
                    
    <li><a href="members/Jirachi681"><img src="../images/pfps/iCYkoxfia7NmbwqWzZp3PsQHQPBSfbcD.png" class="profile-picture"/></a> <a href="members/Jirachi681">Jirachi681</a></li>
                    
    <li><a href="members/bellasaragirl4ever"><img src="../images/pfps/nijnmayjotqidcfkbwkgq5n0vzszyrbcxknbkciwtz5w2b70vh5cbj4w7nnx2mzoxen6ewubetter bg.jpg" class="profile-picture"/></a> <a href="members/bellasaragirl4ever">bellasaragirl4ever</a></li>
                    
    <li><a href="members/jadey722"><img src="../images/pfps/jw287tm5w5w0z850g3c3bu3w8csvco2m8ui7cs3ymoqanj0rc0ibkcvjff3frvprgwpgfg5Sunset.jpg" class="profile-picture"/></a> <a href="members/jadey722">jadey722</a></li>
                    
    <li><a href="members/StickFigureDude"><img src="../images/pfps/FtpHE4LetYESJzAXUAB8NtTOWYxQ6jn9.jpg" class="profile-picture"/></a> <a href="members/StickFigureDude">StickFigureDude</a></li>
                    
    <li><a href="members/erin0106"><img src="../images/pfps/4f4skdyme4bamghgfno6ut8tut4ynkaiq2005qbbic8vjeznrehdvhueyq0dy2mgub5pp5qPhoto 4.jpg" class="profile-picture"/></a> <a href="members/erin0106">erin0106</a></li>
                    
    <li><a href="members/flopij12"><img src="../images/pfps/qphd2kp8t4yxa58zadwsornnsp4xj8gzom3gxgffb24ax0xv2kdg3orm3n8dmd00pt7dzcjflorencai.jpg" class="profile-picture"/></a> <a href="members/flopij12">flopij12</a></li>
                    
    <li><a href="members/DXZ"><img src="../images/pfps/yfrpkqf2epcbrrsjhrod202hueqnyk2prh2zx5t3mt20bk8gznjscd0wffb3q0i588wu4gmDXZ.jpg" class="profile-picture"/></a> <a href="members/DXZ">DXZ</a></li>
                    
    <li><a href="members/vishvish"><img src="../images/pfps/4z7e3rd7zuax86cjnqat8zjitru0fj47azc3hfy7zytwtv64a4m8vvgfcy6fazdaqf2wirsCucco-Obsessed-Link.gif" class="profile-picture"/></a> <a href="members/vishvish">vishvish</a></li>
                    
    <li><a href="members/kidstuberocks1"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/kidstuberocks1">kidstuberocks1</a></li>
                    
    <li><a href="members/ibeary"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ibeary">ibeary</a></li>
                    
    <li><a href="members/CloneTheHedgehog"><img src="../images/pfps/pjhvbwtibw0bfcvtik7xus8485nct2x6c6qcrakqwcrzcdkkng67z30yzeyh6oe7isazqieKidsTube.jpg" class="profile-picture"/></a> <a href="members/CloneTheHedgehog">CloneTheHedgehog</a></li>
                    
    <li><a href="members/ZypherTheWolf"><img src="../images/pfps/s2ruOebiFDnfJYiTQ2nmhcVppkhp4LNm.png" class="profile-picture"/></a> <a href="members/ZypherTheWolf">ZypherTheWolf</a></li>
                    
    <li><a href="members/kidstuberocks2"><img src="../images/pfps/uh8vk3apbxdmhbx55uxv8hrwfkrhzegjjf5v76b6scizd5u6ogqkm88rjqy7s3h07cn56m2n167321276490_5901.jpg" class="profile-picture"/></a> <a href="members/kidstuberocks2">kidstuberocks2</a></li>
                    
    <li><a href="members/WarriorCats"><img src="../images/pfps/imahkqf0deoa5ncz6argjgcxx6wwv322fzapgeehgqfd4i00gg5qo7cc3ywnsnfwbdagheoLeafpool4.jpg" class="profile-picture"/></a> <a href="members/WarriorCats">WarriorCats</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>