---
title: WebStar
sidebar: home_sidebar
hide_sidebar: true
keywords: WebStar
permalink: members/WebStar
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="WebStar" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>9</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>How to make tie dye shirts on Girlsense.</li>
<img src="{{"../images/thumb/1_53411.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The-Juhjuhjuh-song</li>
                
I made this randomly with my friend and the SCC.I did it in an acting voice,not my actuall voice.My friend is singing juhjuhjuh and clapping while i'm sining the rest.
                
                <br>
Added: 19-12-2009
                
</ul>
                
<ul>
<li>Shrunken-Pokemon</li>
                
Never try this at home.
                
                <br>
Added: 20-12-2009
                
</ul>
                
<ul>
<li>How-to-make-your-voice-squeaky-like-alvin-with-Audacity</li>
                
Sorry that I proununced it wrong in the video.This is a very easy thing to do.Watch it to learn how!
                
                <br>
Added: 20-12-2009
                
</ul>
                
<ul>
<li>The-M-and-J-News-Broadcast</li>
                
Another video in our series of shows,we will somtimes change topics! Join the m and j cast as they show the newscast for today.With me,M with weather and Comedy and J,with news and sports.Check out our quiz show!<br />
<br />
(this video was taken before the quiz show,we had trouble uploading at first but we got it to work this time)<br />
<br />
Thanks for watching!
                
                <br>
Added: 01-01-2010
                
</ul>
                
<ul>
<li>The-M-and-J-show-Episode-Hospital-Emergency</li>
                
Staring me,M and J,my friends.When J is not feelig well,she goes to the docter where I, Dr.M will help take care of her...Don't worry she is in pain,that is why she is whining and falling off the bed. 
 
Thx for watching and check out our Quiz show,and look for our next episode...It's an ART Show!
                
                <br>
Added: 02-01-2010
                
</ul>
                
<ul>
<li>Upcoming-Preview-for-The-Wendy-And-Tommy-ShowDISASTER-TRAILER</li>
                
Besides doing the M and J show,I've decided to make another show with some stuffed animal actors.This is the upcoming preview for it.It doesn't go well because they get into epic fights! Keep on the watch for the first episode!
                
                <br>
Added: 05-02-2010
                
</ul>
                
<ul>
<li>My-Clubpenguin-DrawingsDrawings-1</li>
                
Hiya,this is Webstar showing you a little somthin' I drew.It took awile,but It came out pretty good.For your information,I did this completely on hand.I first skeched it,tranced over it in Sharpie and then gave it color.Sorry that I was acting werid,I love to LOLZ! Listen up! Please give feedback on it! Rate it! Tell me your opinion! I did this so I could get a rating on my drawing.So PLZ rate! Thanks for watching!
                
                <br>
Added: 12-02-2010
                
</ul>
                
<ul>
<li>Clubpenguin-drawingscartoons-2-Ladybug-Cartoon</li>
                
A little somthing I drew,Please comment on how you think it is!
                
                <br>
Added: 15-02-2010
                
</ul>
                
<ul>
<li>How-to-make-tie-dye-shirts-on-Girlsense</li>
                
I know, I sound like a little kid in the video! My voice sounds a bit deeper in real life. LOL. Check out www.girlsense.com for the real site. I hope this helps you with tie dye shirts! PS: Sorry for not posting in a while! A new M and J show will be coming soon, with new music for our show, courtsy of my dad... (lol) Here is a hint! (hint- Moon.)
                
                <br>
Added: 02-04-2010
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>