---
title: winkybea
sidebar: home_sidebar
hide_sidebar: true
keywords: winkybea
permalink: members/winkybea
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/pukleL9T7iGB76KlfXtDQsL1oV5eSMS7.jpg" alt="winkybea" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>2</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>24</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>me doing random stuff</li>
<img src="{{"../images/thumb/1_65387.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>hey-im-new-to-this</li>
                
hey guys im also on kids bop .com u can look me up there to
                
                <br>
Added: 12-09-2010
                
</ul>
                
<ul>
<li>dont-treat-animals-like-this</li>
                
pls dont i fell realy sad
                
                <br>
Added: 12-09-2010
                
</ul>
                
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/zacattack"><img src="../images/pfps/zKJn0Xp4Cm4GA3yfulrMLpgWL9GtHdy6.png" class="profile-picture"/></a> <a href="members/zacattack">zacattack</a></li>
                    
    <li><a href="members/iLikeClubPenguin"><img src="../images/pfps/6vp2uhaidxocxy0npeyge82k835cpc0jxhbinbqrw4riuiw7kmeni6yfxshcu8mhekqsm67095.jpg" class="profile-picture"/></a> <a href="members/iLikeClubPenguin">iLikeClubPenguin</a></li>
                    
    <li><a href="members/luckylisa1998"><img src="../images/pfps/WQ8qw8nTXNofqWycZ7MVQMHDX5HDy2nI.gif" class="profile-picture"/></a> <a href="members/luckylisa1998">luckylisa1998</a></li>
                    
    <li><a href="members/Gatswimmer"><img src="../images/pfps/dZuM8HLOJJEHyPxVEp2XOmeTOvT7cBW3.gif" class="profile-picture"/></a> <a href="members/Gatswimmer">Gatswimmer</a></li>
                    
    <li><a href="members/fartman76"><img src="../images/pfps/AcIVwZqsTqOY6sRGyuNA5RySgUvLj9Yj.gif" class="profile-picture"/></a> <a href="members/fartman76">fartman76</a></li>
                    
    <li><a href="members/peace17"><img src="../images/pfps/d7p47h5xe7bp7gcotchg6omsqma2r2rs06nwegkhdjwbrwnbxtfu5sbm28cj2tzrpderhnwimages.jpg" class="profile-picture"/></a> <a href="members/peace17">peace17</a></li>
                    
    <li><a href="members/starstaryy33"><img src="../images/pfps/MQUzlxOpIadXaV6bHJLcsvVSZT9AUqhe.jpg" class="profile-picture"/></a> <a href="members/starstaryy33">starstaryy33</a></li>
                    
    <li><a href="members/Wweluver123"><img src="../images/pfps/DF3ymtD6Wa9PbXta9Yb4rloI2Trs5Bq8.jpg" class="profile-picture"/></a> <a href="members/Wweluver123">Wweluver123</a></li>
                    
    <li><a href="members/demiandselena"><img src="../images/pfps/aYPzGR4HyYPdbXyp2MvdE9gXXgl6mFmA.jpg" class="profile-picture"/></a> <a href="members/demiandselena">demiandselena</a></li>
                    
    <li><a href="members/fangirlandpurrpurr"><img src="../images/pfps/RL07hXEPPppUyfuFRr9iaYqqoOvOImsY.gif" class="profile-picture"/></a> <a href="members/fangirlandpurrpurr">fangirlandpurrpurr</a></li>
                    
    <li><a href="members/RukiaKuchki1997"><img src="../images/pfps/vwtruk8od03qrfzo0fp8i87bvsq7xd2hxmyivvuwmpd3s0fh6sgercfdttbfu2nicapvubj11136_101396623221793_100000543672702_37855_6916117_n.jpg" class="profile-picture"/></a> <a href="members/RukiaKuchki1997">RukiaKuchki1997</a></li>
                    
    <li><a href="members/Kidti"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Kidti">Kidti</a></li>
                    
    <li><a href="members/hunterpecunia"><img src="../images/pfps/pampjcPOjp4WZ0Zzkjn0V048MAidCBmr.png" class="profile-picture"/></a> <a href="members/hunterpecunia">hunterpecunia</a></li>
                    
    <li><a href="members/zacky123"><img src="../images/pfps/mulcQAlN4s4LMKlbB1U9ZMhka5jwg13G.gif" class="profile-picture"/></a> <a href="members/zacky123">zacky123</a></li>
                    
    <li><a href="members/Gojira123"><img src="../images/pfps/is2o9dmjYLaZfTV5tesHrGLfNgMeAQoi.jpg" class="profile-picture"/></a> <a href="members/Gojira123">Gojira123</a></li>
                    
    <li><a href="members/ohheyJenn"><img src="../images/pfps/KHtxe1iCBYT5FzurXvt2QmulOu6jjJpr.jpg" class="profile-picture"/></a> <a href="members/ohheyJenn">ohheyJenn</a></li>
                    
    <li><a href="members/WweGirl67"><img src="../images/pfps/OjV2Uujxx3UULw2yKCpEpq92IRlagxSu.png" class="profile-picture"/></a> <a href="members/WweGirl67">WweGirl67</a></li>
                    
    <li><a href="members/Pengwing4"><img src="../images/pfps/nky72xkitbcci2m6z6niren0v2b4ufk7pa5hvgoegqephqj5nue2yptihsb2ymzckth6xv8Copy (2) of company_about.gif" class="profile-picture"/></a> <a href="members/Pengwing4">Pengwing4</a></li>
                    
    <li><a href="members/eddie1"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/eddie1">eddie1</a></li>
                    
    <li><a href="members/Candy_Pop"><img src="../images/pfps/RoIiaBPvp50NLwAEH2gWNs1M0HI57AcM.png" class="profile-picture"/></a> <a href="members/Candy_Pop">Candy_Pop</a></li>
                    
    <li><a href="members/opal_1998"><img src="../images/pfps/oUxga9SQ4YnSWFVdYo6nTRuh2veRYClC.gif" class="profile-picture"/></a> <a href="members/opal_1998">opal_1998</a></li>
                    
    <li><a href="members/marquezgirl07"><img src="../images/pfps/jd40qeuj3nyw2rapfpc5dsoofmhwyksamoy3sjdjw26nh42nj3hnjvyp86cxhvvu7koospxLake Dallas Falcon.jpg" class="profile-picture"/></a> <a href="members/marquezgirl07">marquezgirl07</a></li>
                    
    <li><a href="members/metalsonictheonyx"><img src="../images/pfps/L8inKWYRyRc2Bpm4JXgzSeHU8ibRmG7w.png" class="profile-picture"/></a> <a href="members/metalsonictheonyx">metalsonictheonyx</a></li>
                    
    <li><a href="members/Marioboy64"><img src="../images/pfps/9a9kfqPMKGNLnAPtbjhfbwyG7WFrct2Z.png" class="profile-picture"/></a> <a href="members/Marioboy64">Marioboy64</a></li>
                    
    <li><a href="members/kookookitty"><img src="../images/pfps/z3uqJ150mSVkOBLaeVzUloUKOFOkpStf.gif" class="profile-picture"/></a> <a href="members/kookookitty">kookookitty</a></li>
                    
    <li><a href="members/BarbiePopstar8"><img src="../images/pfps/t5TVOL1gbm8dxwAJUp853h1sD00bBC3s.jpg" class="profile-picture"/></a> <a href="members/BarbiePopstar8">BarbiePopstar8</a></li>
                    
    <li><a href="members/AlvinGuy"><img src="../images/pfps/XQGQOnZAwDlZ23HAmrRySRGjT3ev1UCO.jpg" class="profile-picture"/></a> <a href="members/AlvinGuy">AlvinGuy</a></li>
                    
    <li><a href="members/Aqamarine"><img src="../images/pfps/tYDryAqTsTaZuRQorm3y4oyzbPXeIW8z.jpg" class="profile-picture"/></a> <a href="members/Aqamarine">Aqamarine</a></li>
                    
    <li><a href="members/wildhead"><img src="../images/pfps/kB5p8ADfjngaVirGH5N7i0UllSxoFkhq.jpg" class="profile-picture"/></a> <a href="members/wildhead">wildhead</a></li>
                    
    <li><a href="members/nicole2212"><img src="../images/pfps/5nW82ph3nME3YHOIOcpaKaduAbBBctFV.jpg" class="profile-picture"/></a> <a href="members/nicole2212">nicole2212</a></li>
                    
    <li><a href="members/Tristen500"><img src="../images/pfps/nopic.jpg" class="profile-picture"/></a> <a href="members/Tristen500">Tristen500</a></li>
                    
    <li><a href="members/ryhawk"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/ryhawk">ryhawk</a></li>
                    
    <li><a href="members/mariokart99"><img src="../images/pfps/s84gZ5ftjYDIZhGnk3KyHKTuwcgTb2bK.gif" class="profile-picture"/></a> <a href="members/mariokart99">mariokart99</a></li>
                    
    <li><a href="members/redneckgrl"><img src="../images/pfps/FGYwm8nKAvSAV0ZEyHZdXb1ZOTKjmSQp.jpg" class="profile-picture"/></a> <a href="members/redneckgrl">redneckgrl</a></li>
                    
</ul>

</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>