---
title: xplosion
sidebar: home_sidebar
hide_sidebar: true
keywords: xplosion
permalink: members/xplosion
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/C4fxzNDeDDgDsvLCDszSYgq46rodHbvJ.jpg" alt="xplosion" max-width="100"%}
            
    {% include inline_image.html file="pfps/" alt="xplosion" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li> First Name: <b>Chris</b></li>
        
<li> Age: <b>Private</b></li>
        
<li> Gender: <b>Male</b></li>
        
<li>{% include inline_image.html file="img.png" alt="Img" max-width="30px" %} Images: <b>1</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>13</b></li>
        
<li>{% include inline_image.html file="profileview.png" alt="Profile views" max-width="30px" %} Profile Views: <b>296</b></li>
        
<li>{% include inline_image.html file="blog.png" alt="Blog" max-width="30px" %} Blog Posts: <b>1</b></li>
        
<li> Rating: <b>60%</b> out of <b>2</b> votes </li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Tech Deck Tricks - Ollie and Shove It</li>
<img src="{{"../images/thumb/0RLQ5ejlhRtyPcatLesV.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Guitar Rock</li>
<img src="{{"../images/thumb/pbJJq43IFzAbTvumeigN.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Basketball Shots- Part 1</li>
<img src="{{"../images/thumb/BGfAAuBduZZEw2MCvbF3.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Basketball Shots- Part 2</li>
<img src="{{"../images/thumb/mAztJWwHNXelLtGq1Hr4.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Basketball Shots- Part 3</li>
<img src="{{"../images/thumb/YzBntMi2SF3xnK4J1vdi.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Basketball Shots- Part 4</li>
<img src="{{"../images/thumb/pSyNIpMbQbfxuewGtWYs.jpg"}}" alt="thumbnail"/>

</ul>
            
<h2>My Friends</h2>
    
<ul>

    <li><a href="members/xolylaepic"><img src="../images/pfps/HIDNNxLBGGUk1Gun4NTUaLoZdG4b9qzE.gif" class="profile-picture"/></a> <a href="members/xolylaepic">xolylaepic</a></li>
                    
    <li><a href="members/ipod-app-master"><img src="../images/pfps/AjGAXyQPIRuivJzCu1bCSf0diRJvOeBM.jpg" class="profile-picture"/></a> <a href="members/ipod-app-master">ipod-app-master</a></li>
                    
    <li><a href="members/KidsTubeStaff"><img src="../images/pfps/b80x7ef03nm07exypyue2hodo53esy8rxzgt3mjwwvmuxaiey3gqaurookq6apoxesh72rsKidsTubeBanner2.jpg" class="profile-picture"/></a> <a href="members/KidsTubeStaff">KidsTubeStaff</a></li>
                    
    <li><a href="members/rockstar09"><img src="../images/pfps/mozF8NTtD8scmZxEi95yPFLrrYtHzcCZ.jpg" class="profile-picture"/></a> <a href="members/rockstar09">rockstar09</a></li>
                    
    <li><a href="members/Marioboy64"><img src="../images/pfps/9a9kfqPMKGNLnAPtbjhfbwyG7WFrct2Z.png" class="profile-picture"/></a> <a href="members/Marioboy64">Marioboy64</a></li>
                    
    <li><a href="members/gkent"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/gkent">gkent</a></li>
                    
    <li><a href="members/Amber_the_awesome"><img src="../images/pfps/tBNJgflKH0n2e5Mj4GoGYtXa1dLKyZGg.gif" class="profile-picture"/></a> <a href="members/Amber_the_awesome">Amber_the_awesome</a></li>
                    
    <li><a href="members/thelightningthief"><img src="../images/pfps/iMlibhzn1pG5o1uyCSKdKoAjki0R5vre.png" class="profile-picture"/></a> <a href="members/thelightningthief">thelightningthief</a></li>
                    
    <li><a href="members/Music_Video_Mania"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/Music_Video_Mania">Music_Video_Mania</a></li>
                    
    <li><a href="members/The Slam"><img src="../images/pfps/miB2OvLPeXt2fLbfV6u2Dv67HBjaIipv.jpg" class="profile-picture"/></a> <a href="members/The Slam">The Slam</a></li>
                    
    <li><a href="members/lng717"><img src="../images/pfps/placeholder.gif" class="profile-picture"/></a> <a href="members/lng717">lng717</a></li>
                    
    <li><a href="members/FoxKids"><img src="../images/pfps/ifBb8fAsDGg1KTxhn6wv09ktAVkzJSSs.png" class="profile-picture"/></a> <a href="members/FoxKids">FoxKids</a></li>
                    
    <li><a href="members/FreeRoamer12"><img src="../images/pfps/FW5yLmado1yB5p5pZbyLRjRU6Xp3dvKj.jpg" class="profile-picture"/></a> <a href="members/FreeRoamer12">FreeRoamer12</a></li>
                    
</ul>

</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>