---
title: youngocarnia231
sidebar: home_sidebar
hide_sidebar: true
keywords: youngocarnia231
permalink: members/youngocarnia231
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/33811.jpg" alt="youngocarnia231" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-xs-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>9</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>3</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>The search for the king's gold</li>
<img src="{{"../images/thumb/1_127643.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>Sittin on tha (Instert here)</li>
<img src="{{"../images/thumb/1_128998.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The REAL reason Scourge killed Tigerstar</li>
<img src="{{"../images/thumb/1_129752.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The-snake-at-the-living-museum</li>
                
This is so oooooooooooooooooooollllllllllldddddddddddddd!!!!!!!!!
                
                <br>
Added: 05-08-2012
                
</ul>
                
<ul>
<li>MY-friends-and-I-as-warriors</li>
                
My first vid on kidstube. i love warriors, so i decided to make this video, it turned out great!
                
                <br>
Added: 08-12-2012
                
</ul>
                
<ul>
<li>The-search-for-the-kings-gold</li>
                
will the explorer bob jones find the treasure?
                
                <br>
Added: 08-12-2012
                
</ul>
                
<ul>
<li>Scourge-INSANITY</li>
                
I was bored. I thought of this song, then I thought of Scourge.... Then I thought... Scourge+INSANITY= New video! So enjoy. This video is mine, Scourge is not mine, nor the song. Scourge belongs to Erin hunter and the song belongs to Vocaloid.
                
                <br>
Added: 05-04-2013
                
</ul>
                
<ul>
<li>Is-it-Scrouge-or-Scourge</li>
                
Poor Scourge... Everybody thinks his name is "Scrouge"... Is Scrouge even a real word? I think it is, but "Scrouge" is not his name :P
                
                <br>
Added: 07-04-2013
                
</ul>
                
<ul>
<li>You-gotta-license-for-that</li>
                
Nope! :3 CREDIT TO TOMSKA! YOU'RE AWESOME!!!
                
                <br>
Added: 07-04-2013
                
</ul>
                
<ul>
<li>Brokenstars-Lullaby</li>
                
Brokenstar is just so.... CREEPY! I thought of lavender town and I realized that lavender town was extremely creepy too. So to make a long story short, I made this video (WARNING: Do not watch the end if you get scared easily, and I mean VERY easily)
                
                <br>
Added: 08-04-2013
                
</ul>
                
<ul>
<li>Graystripe-foundaCARROT</li>
                
Uh oh
                
                <br>
Added: 23-04-2013
                
</ul>
                
<ul>
<li>The-REAL-reason-Scourge-killed-Tigerstar</li>
                
Tigerstar has no symmetry.
                
                <br>
Added: 02-06-2013
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-xs-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>