---
title: zaneed
sidebar: home_sidebar
hide_sidebar: true
keywords: zaneed
permalink: members/zaneed
toc: false
folder: members
datatable: true
nav_exclude: true
---

<html>

<head>

<BASE href="/">

<title>My Profile</title>

<link rel="stylesheet" href="{{"../../css/syntax.css"}}">

<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="../../css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../css/customstyles.css">
<link rel="stylesheet" href="../../css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="../../css/theme-orange.scss">

<style>

img.profile-picture {

  object-fit: cover;

  width: 70px;

  max-width:100%; height:auto

}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.commentspace {
    background-color: #dcfcff;
}
</style>
    
    {% include inline_image.html file="pfps/nopic.jpg" alt="zaneed" max-width="100"%}
            
</head>

<body>

<div class="container">

<div class="left-box col-sm-4" style="background-color: lightblue;">

<h2>My Profile</h2>

<ul>
    
<li>{% include inline_image.html file="vid.png" alt="Vid" max-width="30px" %} Videos: <b>20</b></li>
        
<li>{% include inline_image.html file="friend.png" alt="Friend" max-width="30px" %} Friends: <b>0</b></li>
        
</ul>

<h2>My Videos</h2>
    
<ul>
<li>Junior Science: Understanding Weather and Climate: Earth’s Climate</li>
<img src="{{"../images/thumb/1_58863.jpg"}}" alt="thumbnail"/>

</ul>
            
<ul>
<li>The-Renaissance-History-of-Art-The-Age-and-its-Art-Part-1</li>
                
http://www.zaneeducation.com - This K12 curriculum online art video will assist art students to study and explore the richness of the Renaissance, the golden age that rediscovered the greatness of Greco-Roman Art. Learn about the entrepreneurs of the era, like the Medici's, the rise of commissioned portraits, the era's great discoverers and the wealth and power of the Popes. Gain an insight into the Renaissance world. From the Zane Education K12 curriculum online video library for schools, teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>Great-Works-of-Art-Picassoâs-Guernica-painted-by-Pablo-Picasso</li>
                
http://www.zaneeducation.com - This K12 curriculum online Great Works of Art video will assist art students to study the painting Guernica painted by Pablo Picasso, and learn about the impact that the events of the Spanish Civil War had upon Picasso, and how the Guernica catastrophe prompted him to express through this mural, his passionate condemnation of war and brutality. From the Zane Education K12 curriculum online video eLearning library for teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>Ludwig-van-Beethoven-Great-Music-Composers</li>
                
http://www.zaneeducation.com - This K12 curriculum online music video will assist music students to study the life and musical career of the great German composer Ludwig van Beethoven. Explore the events that helped shape Beethoven's Third Symphony. From the Zane Education K12 curriculum online video eLearning library for teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>Art-and-Music-Birth-of-Baroque-Arts</li>
                
http://www.zaneeducation.com - This K12 curriculum online art and music video will assist art and music students to study and learn about the birth of the Baroque, one of Western civilization's most dynamic and fruitful artistic periods, in the early 1600's. Relive the grandeur of the Baroque and view the artistic masterpieces of Bernini, Caravaggio and Rubens. Listen to excerpts from compositions by Corelli, Frescobaldi and Monteverdi. From the Zane Education K12 curriculum online video eLearning library for teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>History-of-American-Literature-Ernest-Hemingway</li>
                
http://www.zaneeducation.com - The Time, Life and Works of Ernest Hemingway. K12 curriculum online American Literature video about the career and literary works of Ernest Hemingway. Discover the creative genius of Ernest Hemingway. Learn about his universal themes of love and warfare, courage, death, sincerity, disillusionment and Ernest Hemingway’s concise narrative style. From the Zane Education K12 curriculum online video eLearning library for teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>History-of-British-Literature-William-Shakespeare-Part-1</li>
                
http://www.zaneeducation.com - Study the life and literary works of William Shakespeare using K12 online History of British Literature videos on the life and works of the playwright and poet whose genius is 'not of an age, but for all time.” Marvel at William Shakespeare’s unsurpassed use of language, his dramatic portrayal of human will and emotion and the development of theatre in London. From the Zane Education K12 curriculum online video eLearning library for schools, teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>Literature-as-Art-20th-Century-Understanding-Drama-Part-2</li>
                
http://www.zaneeducation.com - Study understanding Drama and Drama of the 20th Century using K12 online video about plays as works of literature interpreted in dramatic performances. The works of playwrights in all dramatic forms: tragedy, drama, melodrama, comedy, farce and elements of dramatic structure: exposition, complication, climax, and resolution. From the Zane Education K12 curriculum online video eLearning library for schools, teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>Elementary-American-History-Fighting-The-Civil-War</li>
                
http://www.zaneeducation.com - This K12 curriculum online Elementary American history video will assist history students to study and compare the strengths of the Union and the Confederacy at the beginning of the Civil War, and learn what life was like for both soldiers and civilians. Trace the progress of the war, until General Lee surrendered to the Union in April 1865. Learn about Gettysburg, General Sherman, the Peace Democrats and the privateers who ran the blockades. From the Zane Education K12 curriculum online video eLearning library for schools, teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>Elementary-History-Ancient-Egypt-and-the-Pharaohs</li>
                
http://www.zaneeducation.com - This K12 curriculum online world history video will assist elementary history students to study and survey the history of ancient Egypt, exploring the key events that occurred in the kingdom and the reigns of prominent Egyptian Kings and Queens, such as Cleopatra and Ramses. Learn about King Tutankhamon, pyramids, mummification and Queen Hatshepsut, ancient Egyptians and more. From the Zane Education K-12 curriculum online video eLearning library for schools, teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>Agricultural-Indians-of-Texas-Decline-of-Native-American-Population</li>
                
http://www.zaneeducation.com - This K12 curriculum online Native American history video will assist history students to study and discover the major causes of the historical decline and disappearance of most of the agricultural Native American tribes in Texas. Learn about the Kickapoo tribe, and how they managed to survive. From the Zane Education K12 curriculum online video eLearning library for schools, teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>African-American-History-Slavery-and-Plantation-Life</li>
                
http://www.zaneeducation.com - This K12 curriculum African American History video will assist history students to study and examine the daily hardships endured by black slaves in North America. Understand the significant ways in which African American slaves and those freed from slavery contributed to the economic and cultural development of America. From the Zane Education K12 curriculum online video eLearning library for teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>World-History-Christopher-Columbus-Finds-New-World</li>
                
http://www.zaneeducation.com - Christopher Columbus Finds a New World: This online World History video will assist history students to study and examine Christopher Columbus, his life, his travels and voyages, and his discovery of the New World. Our videos have been developed to support the K12 curriculum for homeschool students and elementary, middle, and high school and college classes. From the Zane Education K12 curriculum online video eLearning library for teachers, parents, students, tutors and homeschoolers.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>US-Geography-America-The-Land-and-Its-People</li>
                
http://www.zaneeducation.com - This online K12 American geography video will take geography and social studies students on a spectacular journey across the Land of America, from Atlantic to Pacific coasts, then venture onto Alaska, Hawaii, cross mountains, deserts, plains, forests, visit all states and major cities of each region. From the Zane Education K12 curriculum online video eLearning library for schools, teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>Animal-Kingdom-Invertebrates-Noninsect-Arthropods-and-Echinoderms-</li>
                
http://www.zaneeducation.com - This K12 curriculum online biology video about the animal kingdom will assist biology students to study and look at Invertebrates and the remaining classes of noninsect arthropods and echinoderms including spiders, crustaceans, millipedes and centipedes as well as some lesser known groups. You will also review and look at their adaptions and the environments they inhabit. From the Zane Education K12 curriculum online video eLearning library for schools, teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>Study-of-the-Universe-Inner-Planets-Mars--Our-Mysterious-Neighbou</li>
                
http://www.zaneeducation.com - This K12 science video will assist students to study our Universe and in particular Mars, described as Our Mysterious Neighbour and one of those planets classified as the Inner Planets. Our online science videos are developed to support the K12 curriculum for homeschool students and middle, and high school and college classes. From the Zane Education K12 curriculum online video eLearning library for teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>Great-Works-of-Art-Picasso’s-Guernica-painted-by-Pablo-Picasso</li>
                
http://www.zaneeducation.com - This K12 curriculum online Great Works of Art video will assist art students to study the painting Guernica painted by Pablo Picasso, and learn about the impact that the events of the Spanish Civil War had upon Picasso, and how the Guernica catastrophe prompted him to express through this mural, his passionate condemnation of war and brutality. From the Zane Education K12 curriculum online video eLearning library for teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>History-of-Music-The-Classical-Period-Middle-Ages-and-The-Renaissa</li>
                
http://www.zaneeducation.com - This K12 online History of Music video will assist classical music students to study the introduction of secular music during the Middle Ages and the Renaissance and identify the instruments used by the medieval musicians. Discover the cultural impact of plainchant and the music of the troubadours, Renaissance choral works and madrigals. Trace the development of music from plainchant through to complex polyphony. From the Zane Education K12 curriculum online video eLearning library for teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>American-History-Great-Depression-Causes-of-The-Great-Depression</li>
                
http://www.zaneeducation.com - This K12 online American history video will assist American history students to study and examine the causes of the Great Depression that occurred in the 1930’s and that had worldwide repercussions. Our videos have been developed to support the K12 curriculum for homeschool students and elementary, middle, and high school and college classes. From the Zane Education K12 curriculum online video eLearning library for teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>Elementary-Science-Animals-Mammals</li>
                
http://www.zaneeducation.com - This online elementary science video will assist younger students to study the world of Mammals. Learn about which animals are Mammals and why, and review the environments in which they live. Our online videos developed to support the K12 curriculum for homeschool students and elementary school classes. From the Zane Education K12 curriculum online video eLearning library for teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<ul>
<li>Junior-Science-Understanding-Weather-and-Climate-Earth’s-Climate</li>
                
http://www.zaneeducation.com - This K12 video will help junior science students to understand the world of Weather and Climate and in particular Earth’s Climate. They will learn about Precipitation, Winds, Weather, Air Masses, Weather Fronts, Storms, layers of earth’s atmosphere, properties of the gases which compose them, categories of clouds, major wind patterns of Northern and Southern Hemispheres. From the Zane Education K12 curriculum online video eLearning library for schools, teachers, parents, students, tutors and homeschool.
                
                <br>
Added: 12-07-2010
                
</ul>
                
<h2>My Friends</h2>
    
</div>
<div class="right-box col-sm-8" style="background-color: #7eb6cb;">



<h2>Profile Comments</h2>

<ul>


    
</ul>

</div>

</div>

</body>

</html>